[2021-12-08 21:08] #1068 closed

[2021-12-09 17:33] frankinspace commented on #4671
That makes more sense now, thank you for your time explaining this.

[2021-12-09 17:33] #4671 closed

[2021-12-09 22:56] dhmistry3 opened #4675 "IoT models hard-codes account ID as 1"
the cert that is created when doing something such as client('iot').create_keys_and_certificate(setAsActive=True) has an account id hard-coded to 1 instead of retrieving the accountid that other things do.

https://github.com/spulec/moto/blob/master/moto/iot/models.py#L139

I changed it to

`self.arn = "arn:aws:iot:%s:%s:cert/%s" % (region_name, ACCOUNT_ID, self.certificate_id)`

and added ACCOUNT

[2021-12-09 23:32] bblommers commented on #4675
Good spot @dhmistry3 - thanks for raising this!

[2021-12-10 04:07] rafaelv-canva commented on #2413
Is there any news about this issue?

[2021-12-10 09:47] #2843 closed

[2021-12-10 09:52] bblommers commented on #2413
@rafaelv-canva There is a workaround for this, to patch the `boto3`-client/resource that is created before the mock starts.

See the documentation for this feature here: http://docs.getmoto.org/en/latest/docs/getting_started.html#patching-the-client-or-resource

Does that solve your usecase?

[2021-12-10 18:14] evohnave opened #4676 "sqs receive_message gives subject as null"
Sometime between moto=2.2.11 and moto==2.2.17 the "Subject" of an sqs message was deleted so that

`messages = sqs.receive_message(QueueUrl=sqs_queue_url)`
`body = eval(messages.get('Messages')[0].get('Body'))`

results in

Investigation of the `"Message"."Body"` shows that, in 2.2.11, `"Subject"` is "my subject" and, in 2.2.17, `"Subject"` is `null` , i.e., inside of `"Body"`,

   vs

and `eval`

[2021-12-11 02:22] hudelgado opened #4677 "elbv2 modify_rule expects 'Conditions' key to be present in params"
## Summary

elbv2 [modify_rule](https://github.com/spulec/moto/blob/master/moto/elbv2/responses.py#L358) wrongly expects to receive `Conditions` key in the params, failing if it isn't supplied.

in [aws boto3 documentation](https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/elbv2.html#ElasticLoadBalancingv2.Client.modify_rule)  we have that the only required argument is the

[2021-12-12 17:01] bblommers commented on #4676
Hi @evohnave, thanks for raising this! Marking it as a bug

[2021-12-12 17:02] bblommers commented on #4677
Hi @hudelgado, thanks for raising this and debugging! A PR would be very welcome :+1:

[2021-12-12 18:07] #4675 closed

[2021-12-12 19:07] #4676 closed

[2021-12-12 21:10] #4677 closed

[2021-12-13 09:00] mlsanjaysrivatsa opened #4684 "Add support for NodeType & NumberOfNodes update during redshift cluster restore from snapshot"
When restoring from a cluster snapshot, AWS allows the restored instance to be provisioned to a new NodeType and also allows changes to the NumberOfNodes. This parameter support needs factoring in Moto as well in the method restore_from_cluster_snapshot of the redshift responses mock.

    def restore_from_cluster_snapshot(self):
        enhanced_vpc_routing = self._get_bool_param("EnhancedVpcRout

[2021-12-13 16:05] michaelhelmick commented on #2968
Hey all, any good ideas for implementation of this? I've found some libs like `local-data-api` that mocks an entire service, not sure if there's a more streamlined way of doing this?

[2021-12-13 22:27] bhayden53 opened #4687 "ec2 models get_zone_by_name KeyError when creating a Batch client"
A pytest-based github action that depends on moto has started failing due to a traceback in ec2 models. The version of moto installed was:

    Collecting moto[all]
    Downloading moto-2.2.18-py2.py3-none-any.whl (1.5 MB)

The full traceback was:
[code]
The github action in question is here:
https://github.com/spacetelescope/calcloud/runs/4512515777?check_suite_focus=true

And the code that's bei

[2021-12-13 22:32] YustinS commented on #4687
Can confirm the same issue encountered using mock_ssm.

In my situation found it appears to arise from a botocore release, if I pinned version `1.23.23` (instead of `1.23.24`) and boto3 to `1.20.23` (just for consistency since botocore and boto3 are tied together).

Not sure if that's overly helpful, but I'll mention it as a possible interim workaround.

[2021-12-13 22:37] foxmulder900 commented on #4687
Presumably an entry for `ap-southeast-3` needs added here:

https://github.com/spulec/moto/blob/master/moto/ec2/models.py#L2096

But I'm not sure exactly what all the values should be.

[2021-12-13 22:44] bhayden53 commented on #4687
In my last good run I had
[code]
And in the failed run I had
[code]

So I pinned botocore to 1.23.20, and that run was successful against moto 2.2.18
[code]
https://github.com/spacetelescope/calcloud/runs/4513019218?check_suite_focus=true

[2021-12-13 22:49] pf-billoday commented on #4687
https://github.com/boto/botocore/commit/19f83d8d66b972172591585dbcd8d4d0cdb35603

Looks like that's the commit that broke things - unfortunately not able to observe anything WRT to the AZs available or I'd put in a PR to remediate.

[2021-12-13 22:57] yduan-polo opened #4689 "error in ecs_client.register_container_instance"
## Reporting Bugs

Following https://github.com/spulec/moto/blob/master/tests/test_ecs/test_ecs_boto3.py#L1528 to test run_task, but https://github.com/spulec/moto/blob/master/tests/test_ecs/test_ecs_boto3.py#L1544 gave an error.

botocore.exceptions.ClientError: An error occurred (400) when calling the RegisterContainerInstance operation: <?xml version="1.0" encoding="UTF-8"?>
E           <Respon

[2021-12-13 22:58] foxmulder900 commented on #4687
This change did the trick for me:
https://github.com/spulec/moto/pull/4688

I just deduced what those values should be based on what they are for `ap-southeast-1` & `ap-southeast-2`, so it would be good for someone to verify them a little more closely.

[2021-12-13 23:09] bblommers commented on #2968
Hi @michaelhelmick, the `local-data-api` seems quite heavy for Moto's purpose - the implementation should be as lightweight as possible, so that rules out any Docker/Kotlin/Postgres dependencies.

There are a few operations in AWS where the user can query data, but none of them have been implemented in Moto yet, so there is no existing formula that we can follow here.

Some architectural solutions

[2021-12-13 23:10] bblommers commented on #4689
Hi @yduan-polo, can you post the full test case that is failing for you?

[2021-12-14 02:52] michaelhelmick commented on #2968
Right, I didn't think local-data-api was a proper solution either. Will try to brainstorm some things and review your ideas too!

[2021-12-14 08:17] Slash7GNR commented on #4687
I'm too experiencing some unit tests that fails, any idea when this issue is going to be resolved?

[2021-12-14 10:47] yaronbenezra commented on #4687
is there any update?

[2021-12-14 11:12] bblommers commented on #4687
Thanks for raising this everyone - this is now fixed as of Moto >= 2.2.19.

[2021-12-14 11:12] #4687 closed

[2021-12-14 13:59] yduan-polo commented on #4689
See below the test case.

@mock_ec2
@mock_ecs
def test_full_refresh_model_adheres_to_boto_method_signatures():
    """
    Ensure that the boto3 client methods for ECS are invoked
    using expected, valid parameters.
    """

    region = 'eu-west-1'
    ecs_client = boto3.client('ecs', region_name=region)
    ec2_client = boto3.resource("ec2", region_name="us-east-1")

    test_cluster_name = 'T

[2021-12-14 14:10] yaronbenezra commented on #4578
yes i can test with a fix if you have to see if all work

[2021-12-14 18:58] yaronbenezra commented on #4578
i found the issue can you fix :
working version 2.2.12
  def get_id(self):
        identity_id = {"IdentityId": get_random_identity_id(self.region)}
        return json.dumps(identity_id)

fail version 2.2.13

 def get_id(self, identity_pool_id: str):
        identity_id = {"IdentityId": get_random_identity_id(self.region)}
        self.pools_identities[identity_pool_id]["Identities"].append(ident

[2021-12-15 01:51] #4684 closed

[2021-12-15 05:56] rafaelv-canva commented on #2413
I'll give it a go and let you know.

[2021-12-15 11:29] Wurstnase opened #4691 "Dedicated moto-logger?"
Hi,

I'm trying to disable the logging for other modules outside my project. Unfortunately the expressions module for dynamodb2 is using the root logger.

https://github.com/spulec/moto/blob/de9aa9a8e3b998902381a565e25b5da17960c7f7/moto/dynamodb2/parsing/expressions.py#L64

[2021-12-15 14:51] #4691 closed

[2021-12-15 15:41] iggyzap opened #4694 "`IoTDataPlaneResponse.publish` fails to correctly pass payload to `IotDataPlaneBackend.publish` method"
Hi,

When trying to implement a unit test that validates that MQTT message was sent via `boto3.client('iot-data')` client to specific topic, I found out that `IoTDataPlaneResponse.publish` fails to pass down `payload` correctly to `IotDataPlaneBackend.publish` method.

I was able to mock IotDataPlaneBackend backend for interaction in interest and even record publish calls, but payload was empty.

[2021-12-15 16:13] rickbowden opened #4695 "Cannot create ELBV2 listener default rule with ForwardConfig"
Python version: 3.6
Moto version: 2.2.18

I'm trying to create an application load balancer with a single listener.
That lister should have a default rule with weighted target groups.
This is how the default rule config format looks.
[code]

The error I get is
File "C:\Users\**\AppData\Roaming\Python\Python36\site-packages\moto\elbv2\models.py", line 1001, in create_listener
    target_group = sel

[2021-12-15 20:00] #4591 closed

[2021-12-15 20:21] bblommers commented on #4578
Hi @yaronbenezra, as far as I can tell, your code is supposed to fail, because the `IdentityPoolId` does not exist?
Moto should validate this, and throw a proper exception, but it should never work with the code provided.

This code does work:
[code]

[2021-12-15 20:32] lorengordon opened #4696 "Generate models and APIs using AWS Cloud Control?"
I was curious if any thought had been given to generating models and APIs for moto using the AWS Cloud Control API? The idea came from the new terraform awscc provider, which is based on code generation from this new service... I realize that is Golang, but surely there must be some equivalent in Python?

* https://aws.amazon.com/blogs/aws/announcing-aws-cloud-control-api/
* https://github.com/has

[2021-12-15 20:51] bblommers commented on #4689
Hi @yduan-polo, the EC2-instance needs to be created in the same region as the ECS-client:
[code]
As far as I know, that corresponds to how AWS behaves, as ECS in the EU can never find an instance created in the US.

[2021-12-15 21:21] bblommers commented on #4694
Hi @iggyzap, thanks for raising this! Will mark it as a bug.

[2021-12-15 21:26] bblommers commented on #4695
Hi @rickbowden, thanks for raising this! Looks like we only support sending a single TargetGroupArn - will mark it as an enhancement to also support the `ForwardConfig`-parameter.

[2021-12-15 21:58] bblommers commented on #4696
Hey @lorengordon! I read the AWS accouncement, but didn't know that Terraform already has a module utilizing this API. From what I can tell, TF uses it to auto-generate CloudFormation templates, is that correct?

Moto needs to know the following in order to mock everything:

1. The input-format used in boto3 (i.e., which parameters are used in the boto3-client call)
2. The format of the HTTP-reque

[2021-12-15 22:12] lorengordon commented on #4696
My understanding is no, there are no CloudFormation templates or stacks involved! It is pure hcl + terraform lifecycle on the user side. I'm not yet sure whether terraform is interacting directly with per-service endpoints, or with an awscc endpoint. But basically the awscc provider retrieves the service model and then generates golang for every service and resource supported by AWS Cloud Control.

[2021-12-16 18:18] yduan-polo commented on #4689
yes, they must be in the same region. Sorry, that's my mistake, didn't spot it.

[2021-12-16 18:18] #4689 closed

[2021-12-18 01:01] mswezey23 commented on #4612
Any updates or ETA? :)

[2021-12-19 12:52] yaronbenezra commented on #4578
Thanks!
I understand what you are saying and I will fix the test code.
Note:
I copy here just a snip from the test, the test call to a real lambda that read existing pool id (so there we didn't create the pool it already existed)and in the past, it just gets this  {"IdentityId": get_random_identity_id(self.region)} and the test continues to the real purpose

Thanks for the quick replay
Yaron

[2021-12-19 12:53] #4578 closed

[2021-12-19 12:53] yaronbenezra commented on #4578
bblommers thanks for your help!

[2021-12-20 09:09] rickbowden commented on #4695
Many thanks @bblommers

[2021-12-20 11:42] rickbowden opened #4702 "ELBv2 models create_target_group does not get the matcher key passed in the kwargs"
When creating a Target Group if you pass in a Matcher dictionary it does not appear to get passed in via kwargs to the create_target_group method in the elbv2 models module.

The create_target_group method contains this code which never finds "matcher" so every target group ends up with the default http code 200.

[code]

[2021-12-20 12:52] #2719 closed

[2021-12-20 17:06] #4695 closed

[2021-12-20 17:06] #4702 closed

[2021-12-20 18:33] bblommers commented on #4702
Thanks for raising this as well @rickbowden - both ELBv2 issues are now fixed as of moto >= 2.2.20.dev10 👍

[2021-12-21 01:05] sichinumi opened #4705 "Moto ECR mock throws away user-provided registry IDs"
The Moto ECR mock does not respect registry ID parameters with any ECR APIs - instead it uses a hard-coded default (the account ID itself). This causes incorrect state/output when test authors need to mock behavior around specific registry IDs.

Example code - just a create_repository call with a specific, non-default registry ID:

[code]

Example output showing that the repository was created und

[2021-12-21 01:15] sichinumi commented on #4705
Worth noting that our tests were previously working with Moto v1.3.16, so this seems to be a regression... but reading through the same code in 1.3.16 we seem to have the same issues, we don't actually ingest registry ID anywhere. Still trying to figure out what changed.

It is odd that we have all this code that does sanity checks/filters on registry ID, like this: https://github.com/spulec/moto/

[2021-12-21 01:31] sichinumi commented on #4705
Ah figured it out, this was always broken even in 1.3.16, there is just very poor enforcement of registry ID across the board. In 1.3.16 it was possible to create a repository with a unique registry ID, put an image there, and then call describe_images while passing in that registry ID - and this would all work behind the scenes, even though the registry ID itself was never saved, and the reposito

[2021-12-21 03:58] teddylear commented on #4669
@Vitaly-Frolov @bblommers I can give this a shot if that's alright.

[2021-12-21 10:10] bblommers commented on #4705
Thanks for raising this @sichinumi, and for doing the investigation - that will make it much quicker to fix it.
Raising is as a bug.

[2021-12-21 10:28] bblommers commented on #4669
Definitely @teddylear. There's some documentation here that could be helpful: http://docs.getmoto.org/en/latest/docs/contributing/index.html

[2021-12-21 12:22] SimonToftegaard opened #4707 "S3Control api in moto"
I needed to use the s3control api in moto and according to https://github.com/spulec/moto/blob/master/IMPLEMENTATION_COVERAGE.md it was not yet implemented.
So I started working on the implementation, but then I noticed that part of the s3control api was actually already implemented under the s3 api in moto.
So before continuing the work I would really like to be sure what is the right way to cont

[2021-12-21 14:08] JamieMcKernanKaizen commented on #1682
Does anyone know how to implement this when using moto with pytest fixtures?

[2021-12-21 16:19] JimNero009 opened #4708 "respond_decision_task_completed API call not functionally complete, despite implementation_coverage claim"
I believe I have stumbled across an issue with the SWF implementation you provide -- at least, in terms of the documented support.

The implementation docs suggest that the 'respond_decision_task_completed' API call is supported. However, if you call it with a decision that is not implemented (see https://github.com/spulec/moto/blob/master/moto/swf/models/workflow_execution.py#L410-L419), then tha

[2021-12-21 19:51] bblommers commented on #4707
Hi @SimonToftegaard, good catch! Ideally everything related to s3control would be separated out, but that would be a breaking change at this point.
How many features are you looking to implement? To ensure backwards compatibility, it might be better to make it part of the s3 api (`mock_s3`) for now. Once we get around to doing a major release, we can yoink everything out and make it available unde

[2021-12-21 19:57] SimonToftegaard commented on #4707
My plan was to initially implement:
get_public_access_block
put_public_access_block
delete_public_access_block
And I have made an urls.py for s3control like this:
`from .responses import S3ControlResponse

url_bases = [
    r"https?://(.+)\.s3-control\.(.+)\.amazonaws\.com",
]

url_paths = {
    "{0}/v20180820/configuration/publicAccessBlock$": S3ControlResponse.dispatch
}`

Could I just put somet

[2021-12-21 20:07] bblommers commented on #4708
Hi @JimNero009, thanks for raising this. As far as I know, this is not on anyone's radar, so if you want to help out, a PR would be very welcome!

The coverage document indicates that the feature is supported, but there is no guarantee that it supports every possible parameter combination. Will mark it as an enhancement to also add docstrings to give some indication of what is/is not supported.

[2021-12-21 20:24] bblommers commented on #4707
The `*_public_access_block`-features are already supported, as far as I know? At least, we have tests for them:

https://github.com/spulec/moto/blob/ce9fb906635d266610abe2acd1f47c750bb5257d/tests/test_s3/test_s3.py#L2326-L2688

The fact that we only support the builtin accountid is definitely an issue, but that's Moto-wide - every service is single-account/single-user based. I don't see an easy wa

[2021-12-21 20:49] SimonToftegaard commented on #4707
Could you give a more specific example of how to override the existing builtin accountId?

[2021-12-21 21:14] bblommers commented on #4707
The simplest example:
[code]
Note the change to `moto.s3.models.ACCOUNT_ID` - this value is cached very early on, so overriding it directly ensures the caching is not an issue

[2021-12-21 21:23] SimonToftegaard commented on #4707
Tried that exact same thing first, but for some weird reason it failed. Tried again now and it works great. Thank you for the help.
Any value in keeping the work I have already done for s3control? Most of it is similar to what exists in s3 part of moto already. I guess the plan in the future is just to extract the existing implementation in s3 out into the s3control module.

[2021-12-21 21:36] bblommers commented on #4707
All good - glad to hear it works!

Yeah, it could be useful as a basis for the refactor. If you could push the changes to a branch, that would be great.

The coverage documentation is completely automated, so there's no clean way of doing that, unfortunately..

[2021-12-21 22:13] JimNero009 commented on #4708
Hi Bert, thanks for the response and the info. I may be able to have a go at implementing at least a part of the functionality over the next few weeks. If you have any general documentation on how to get started with a contribution, I'd be more than happy to read it!

[2021-12-21 23:35] bblommers commented on #4708
There is some general documentation/development tips here: http://docs.getmoto.org/en/latest/docs/contributing/index.html

The only hard and fast rule is that there should be a separation between model (in models.py) and view (responses.py), but other than that, the various services are so different that it's difficult to have strict rules on what the implementation should look like.
SWF has alrea

[2021-12-22 09:42] rickbowden opened #4711 "Feature Request ELBv2 Add and Remove Listener Certificates"
Please can I request the following features are added to the ELBv2 service.
1. Replace a listener default certificate using the modify_listener function.

[code]

[2021-12-22 09:50] SimonToftegaard commented on #4707
ok, I will finish up the code I already have and make a pull request.

[2021-12-22 15:41] #4616 closed

[2021-12-23 09:46] cheshirex opened #4715 "Cancel spot fleet request without terminate incorrectly removes the fleet entirely"
https://github.com/spulec/moto/blob/c301f8822c71a402d14b380865aa45b07e880ebd/moto/ec2/models.py#L6549

I'm working with localstack on moto and trying to simulate a flow of:

- create spot fleet with X instances
- cancel the fleet without terminating instances
- cancel the fleet with terminating instances

However, I see the referenced line is deleting the fleet from moto's dictionary *regardless*

[2021-12-23 10:56] bblommers commented on #4715
Hi @cheshirex, thanks for raising this. It does look like our implementation of this feature is a bit... spotty.

Marking it as a bug to pimplement this flag properly.

[2021-12-23 11:08] boazsilverman commented on #4616
Great job, thanks!
If I'm not mistaken (and I very well might be, as I'm not deep in the
code), there is a comment in line 698 which seems to be outdated
# detach all principals
The new commit correctly doesn't detach principals, rather raises.. If this
isn't correct, sorry to inconvenience you

Keep up this fantastic library!

On Wed, Dec 22, 2021 at 5:41 PM Bert Blommers ***@***.***>
wrote:

[2021-12-23 12:18] bblommers commented on #4616
Yes, good spot - thanks for letting us know @boazsilverman

[2021-12-23 14:21] rickbowden opened #4716 "elbv2.describe_listeners the results are not the same as those returned by AWS"
Python Version: 3.6
Moto Version: 2.2.20dev15

When calling elbv2.describe_listeners the results for returned for DefaultActions and Rules are not the same as those returned by AWS.

example call
[code]

With a listener containing a default action of a single target group, AWS returns the following.
(I have not included all the dictionaries in the result for brevity).

[code]

 Moto returns the fo

[2021-12-24 00:32] tekumara commented on #2762
Thanks for the fix @bblommers I've tested it but it still seems like a PublicIpAddress and PublicDnsName are being created when `AssociatePublicIpAddress` = `False`

[2021-12-24 00:42] tekumara opened #4718 "Support volumes for LaunchTemplates"
[code]

Fails with the AssertionError:
[code]

moto   2.2.19

[2021-12-24 10:37] bblommers commented on #4718
Thanks for raising this @tekumara - looks like we don't take the launchtemplate into account, and just create a default volume (with size 8).

https://github.com/spulec/moto/blob/b0a59fe05e18f57d6c843f9931836ed2c147b19b/moto/ec2/models.py#L1191-L1192

[2021-12-24 13:06] bblommers commented on #2762
You're right @tekumara - I just ran the test against AWS, and realized the mistake. My test case worked when providing an instance-level SubnetId, but I didn't realize that the SubnetId has to be provided as part of the NIC. A followup PR will be out soon.

[2021-12-24 15:12] bblommers commented on #4696
Looks like the service model can be retrieved using `describe-type`:
https://awscli.amazonaws.com/v2/documentation/api/latest/reference/cloudformation/describe-type.html

It does seem like the service model is very CF-centric. So the exposed model can easily be transformed into HCL, but that does not necessarily correlate to the AWS HTTP request/response format that Moto needs.

[2021-12-24 15:12] #2762 closed

[2021-12-24 21:02] #4252 closed

[2021-12-25 16:47] bblommers commented on #1807
This was implemented with #4307, and part of Moto >= 2.2.14.dev18

#4720 contains a specific unit test for this scenario to verify that it now works.

[2021-12-25 16:47] #1807 closed

[2021-12-25 21:37] #1829 closed

[2021-12-25 21:37] #1928 closed

[2021-12-27 15:46] kishaningithub opened #4725 "[Feature request] Addition of data API of redshift"
Kindly request the addtion of redshift data api

https://docs.aws.amazon.com/redshift-data/latest/APIReference/Welcome.html

[2021-12-27 19:26] #4708 closed

[2021-12-27 20:15] #2558 closed

[2021-12-27 21:47] bblommers commented on #2101
There's been quite some improvements to ECS since this was raised, including in #3584, and we do have internal tests that call `run_task(launchType="FARGATE")`, so I'm going to assume that this now works as intended.

I'll close this, but do let us know if there are still issues with our current implementation.

[2021-12-27 21:55] bblommers commented on #1708
As far as I can see, this was a duplicate of #2784, and was fixed with #2785.

I'm going to close this, but do let us know if there are still issues with this in the latest Moto version.

[2021-12-27 21:55] #1708 closed

[2021-12-27 23:56] #1647 closed

[2021-12-28 14:02] #4516 closed

[2021-12-30 05:19] teddylear commented on #4669
Actually not sure if I'll have time to work on this, if someone else wants to pick it up feel free.

[2021-12-30 11:05] bblommers commented on #4725
Thanks for raising this @kishaningithub - marking it as an enhancement.

[2021-12-31 15:27] bblommers commented on #3222
The immediate bug behind this issue was fixed in #3584, so I'll close this.
I'll leave the attached PR open, as that does have potential for improved validation if the user supplied wrong values for the memory/CPU.

[2021-12-31 15:27] #3222 closed

[2021-12-31 16:55] #3183 closed

[2022-01-01 19:22] bblommers commented on #1660
As far as I can tell, this was fixed with #2876. Will close this, but do let us know if there's anything still missing in the latest version.

[2022-01-01 19:22] #1660 closed

[2022-01-04 23:11] sindrig opened #4737 "Publishing to FIFO sns topic with FIFO sqs queue subscription doesn't work"
Creating a FIFO sns topic and subscribing a FIFO sqs queue works, but there's no way to publish to it since the MessageGroupId parameter is not forwarded.

Example test case:

[code]

Traceback:

[code]

[2022-01-05 11:01] bblommers commented on #4737
Thanks for raising this and providing the test case, @sindrig, that's very much appreciated. Marking it as a bug.

[2022-01-06 09:37] dominusmi opened #4739 "NEW_PASSWORD_REQUIRED challenge not being raised for unconfirmed users"
It looks like the `initiate_auth` is not returning the `NEW_PASSWORD_REQUIRED` challenge  for unconfirmed users, and is instead just logging them in. I checked the test suite and didn't find any checks on it. Also didn't find any other issues on the topic. I might be wrong in setting up the client though, here's the full code to check it.

moto version: 2.3.0

[code]

[2022-01-06 15:07] bblommers commented on #4739
Thanks for raising this @dominusmi. A PR would be very welcome!

[2022-01-06 16:04] #4737 closed

[2022-01-06 20:35] #4739 closed

[2022-01-06 22:05] #4705 closed

[2022-01-06 23:09] #4612 closed

[2022-01-07 09:01] dominusmi commented on #4739
Great job on the speed of the whole process, making me want to further collaborate!

[2022-01-07 14:42] andreif commented on #3292
Ended up with
[code]

[2022-01-07 16:28] #4146 closed

[2022-01-07 18:13] bblommers commented on #4146
Hope you don't mind @Arianna2028 - I decided to give this a shot myself. The attached PR includes a very basic implementation for SSO-Admin. Let us know if there's anything missing, or if there are any other endpoints required!

[2022-01-07 18:15] Arianna2028 commented on #4146
Hey, thanks! I don't mind at all-- thanks for tackling. Time seems to have gotten away from me here.

[2022-01-09 21:50] bblommers commented on #2066
From what I can see, `pdb` will always exit the context manager, if it encounters an error.

Using a simple test case:
[code]
PDB hits the breakpoint that's still inside the decorator. So any calls to `requests` will be caught:
[code]
-------------
Using that same example, but throwing an error instead of a breakpoint:
[code]
Now PDB exits the contextmanager, so that calls to requests are no longe

[2022-01-10 07:35] cheshirex opened #4746 "Launch template support for spot fleet requests"
Is there currently any way to support requesting a spot fleet with a launch template? I've been trying to do this (with code that works against AWS) and getting:
[code]

I note that https://github.com/spulec/moto/blob/a688c0032596a7dfef122b69a08f2bec3be2e481/moto/ec2/responses/spot_fleets.py#L51 only seems to look for the LaunchSpecifications field, not LaunchTemplateConfigs.

Thanks!

[2022-01-10 11:17] bblommers commented on #4746
Thanks for raising this, @cheshirex. Do you use the `LaunchTemplateConfigs.Overrides` parameter at all, or would just support for `LaunchTemplateConfigs.LaunchTemplateSpecification` be sufficient for your use case?

[2022-01-10 11:31] cheshirex commented on #4746
I do use the overrides.

Thanks!

[2022-01-12 00:24] kogakenji opened #4750 "Moto reset API fails - Connection refused by Responses - the call doesn't match any registered mock"
I'm using moto==2.0.5 with python 3.7.9.

Test case:

[code]

This gives me the following trace:

[code]

[2022-01-12 01:44] mdavis-xyz opened #4751 "s3 get_object to return TagCount"
# Summary

The `get_object()` function in boto with the real S3 returns `TagCount` if there are any tags on the object.
With moto, `TagCount` is never returned, but should be.

# Steps to reproduce

Try this with `if True` to use moto, and `if False` to not use moto.

[code]

# expected results

When you run the above with `if False` (to use real S3), the returned tag count is 1.
When you run the

[2022-01-12 08:46] NielsVanDerWekken commented on #4750
I encounter a very similar issue where my test session has "platform linux -- Python 3.9.7, pytest-6.2.5, py-1.11.0, pluggy-1.0.0", but using a GET request instead of a POST request.
Somehow this only happens when the tests are ran from AWS, while there is no problem when I run them on my own system.
Using moto==2.3.1, requests==2.27.1

[2022-01-12 10:38] bblommers commented on #4750
This issue popped up with the latest release of `responses`. If you downgrade to 0.16.0, everything should be fine, but Moto does not play well with 0.17.0. (@NielsVanDerWekken I expect that's why it's still working locally, because you're on an older version of responses?)

The intermediate fix is to downgrade `responses` - we will release a fix soon to make Moto interoperable with the latest ver

[2022-01-12 12:25] NielsVanDerWekken commented on #4750
I added `responses==0.16.0` to our list of requirements (it was automatically downloaded as a dependency before) and this fixed things. Thanks for pointing this out @bblommers !

[2022-01-12 13:16] #4750 closed

[2022-01-12 13:50] bblommers commented on #4750
Moto >= 2.3.2.dev2 should work with all versions of `responses`. I've closed this for now, but do let us know if there are still any issues!

[2022-01-12 14:39] aicharles commented on #4750
Just want to say thanks for posting about this issue and the resolution.  I had this issue as well as of yesterday and I would have never figured this out on my own.

[2022-01-12 22:47] bblommers commented on #4751
Thanks for raising this @mdavis-xyz - marking it as an enhancement to add this field.

[2022-01-13 09:42] andreasch86 commented on #4687
After fixing failing EC2 tests with the upgrade to `moto==2.2.19`, a new failure has arisen on kinesis:

Stack trace:
[code]
Installed versions are:
[code]

[2022-01-13 14:59] mcormier opened #4755 "DynamoDb2.client.transact_write_items 25 item limit"
DynamoDb2.client.transact_write_items has an action limit of 25 actions.

https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/dynamodb.html#DynamoDB.Client.transact_write_items
"TransactWriteItems is a synchronous write operation that groups up to 25 action requests. These actions can target items in different tables, but not in different Amazon Web Services accounts or Regi

[2022-01-13 17:53] JordanReiter opened #4756 "SQS Message Attributes created for raw message delivery incorrectly format number values"
Relevant code in `moto/sns/models.py` ([lines 212-218](https://github.com/spulec/moto/blob/72fdaa3552079e0db53bb53078cebfe426319b65/moto/sns/models.py#L214-L218))

                for key, value in message_attributes.items():
                    type = "string_value"
                    type_value = value["Value"]
                    if value["Type"].startswith("Binary"):
                        t

[2022-01-13 17:56] JordanReiter commented on #4756
For the time being I am just going to have to use `'DataType': 'String'` for all values including numbers.

[2022-01-13 19:05] JordanReiter opened #4757 "SNS Message Attributes incorrectly converted to float values"
Relevant code in `moto/sns/responses.py` ([lines 64-74](https://github.com/spulec/moto/blob/72fdaa3552079e0db53bb53078cebfe426319b65/moto/sns/responses.py#L64-L74))

                if data_type == "Number":
                    try:
                        transform_value = float(value["StringValue"])
                    except ValueError:
                        raise InvalidParameterValue(

[2022-01-13 19:06] JordanReiter commented on #4757
If you don't have anyone available to make these updates I'd be happy to do so. I have contributed to moto in the past and could resolve this as well as issue #4756.

[2022-01-13 22:17] bendubuisson commented on #3570
I'm also getting the error with firehose and region ap-southeast-2. latest version of boto and moto.

[2022-01-13 22:37] bblommers commented on #4757
Hi @JordanReiter, thanks for raising this. A PR would be very welcome! The suggested solutions look good to me.

[2022-01-13 22:40] bblommers commented on #3570
Hi @bendubuisson, can you share your test case where you're getting this error?

Can you reproduce it with the latest development build, 2.3.2.dev2?

[2022-01-13 22:41] bblommers commented on #3895
Not that I'm aware of, @smanjil!

[2022-01-13 23:58] bendubuisson commented on #3570
Hey @bblommers thanks for the quick response, Can reproduce with `2.3.2.dev2`.

This is the test: (breaks at `setup_firehose()` with error:
[code]

[code]

[2022-01-14 10:45] bblommers commented on #3570
Hi @bendubuisson, in 2.2.7, the `create_delivery_stream` was moved to `mock_firehose`.
Your script does work when changing the following:
[code]

Apologies for this - it was a breaking change, and should have been part of a major release as such.

[2022-01-14 15:20] #4582 closed

[2022-01-14 21:12] #1629 closed

[2022-01-14 23:23] #3988 closed

[2022-01-16 00:02] pll opened #4768 "Cloudfront - get_distribution() does not return same config passed to create_distribution()"
When passing in a fully-formed Cloudfront Distribution Configuration, the response back from `create_distribution()` does not contain all of the information passed in.  Calling `get_distribution()` with the Id passed back from `create_distribution() also exhibits the same issue (which makes sense...

I initially noticed the issue with the `DistributionConfig.Comment`  field missing from the respon

[2022-01-16 10:45] bblommers commented on #3860
Is this still an issue, @Lacrymology?

[2022-01-16 10:55] bblommers commented on #3426
The ECS ARN change has also been discussed here: https://github.com/spulec/moto/issues/3497
Moto does have a solution now to represent both short and long format ARN's, as shown in that issue.

Changes like this are not versioned though, so there is no way for Moto to target a specific AWS version. The only versioning that we can see, and that we can act on, is the `boto3`/`botocore` releases. Cha

[2022-01-16 10:55] #3426 closed

[2022-01-16 11:06] bblommers commented on #4768
Hi @pll, the current Cloudfront implementation only supports a subset of input parameters for now. I'll mark it as an enhancement to also implement the others.

Considering the sheer number of parameters available, this might be a staggered effort - are the `DistributionConfig.Comment` and `Aliases.Items` fields the only ones you are missing for your usecase?

[2022-01-16 13:24] pll commented on #4768
Hi @bblommers,

Thanks for the rapid reply!

I found a work-around, and possibly better field to trigger off of than `DistributionConfig.Comment`, for now. But I'll definitely need the `DistributionConfig.Aliases` structure. If you have to prioritize between the two, then `Aliases` gets my vote over `Comment`.

Out of curiosity, how is it that `create_distribution()` doesn't populate the entire `D

[2022-01-16 15:30] bblommers commented on #4768
There's quite a bit of logic when we receive the input around setting sensible defaults, validation, etc. The output isn't always guaranteed to be the same as the input either. Converting the dict into Python-objects makes it much easier to program the logic around this.

For the majority of services, this isn't really an issue, as the input-structure is small and straightforward. If there are doz

[2022-01-16 17:03] pll commented on #4768
Thanks for the explanation.  I've tried digging into the moto code myself to see if I could figure it out, but it's a little beyond my skill level at this point.  Perhaps looking at diffs for this one change might be helpful.  I need a "moto hacking for dummies" intro :)

Thanks again!

[2022-01-16 19:48] bendubuisson commented on #3570
@bblommers thanks for that. Not working for me though (`moto==2.3.2.dev2`)
[code]

[2022-01-18 15:18] #2119 closed

[2022-01-18 15:18] #2950 closed

[2022-01-18 22:01] bblommers opened #4774 "Development Release Moto 3.0"
## Development Release Moto 3.0

A dev-release for Moto 3.0.0 has just been published.

This release contains the following changes:

 - All deprecated decorators have been removed
 - The behaviour of the class-decorator has been reworked - the state is now reset before every test-method. See http://docs.getmoto.org/en/latest/docs/getting_started.html#class-decorator for more information.
 - The n

[2022-01-19 13:50] EnzoMolion opened #4777 "`UnicodeDecodeError` when mocking Glacier Vault's `upload_archive`"
### Problem
I am trying to mock a call to Glacier Vault object's `upload_archive` method.
What I am trying to archive is a gzip file as `bytes`.
When mocking, I get `UnicodeDecodeError: 'utf-8' codec can't decode byte 0x8b in position 1: invalid start byte`, while archiving the **same** object to an actual Glacier Vault archives successfully.

### Code to reproduce

[code]

### Error trace:
[code]

[2022-01-20 02:02] Guriido opened #4779 "DynamoDb2.client.transact_write_items transactions on same item"
transact_write_items does not allow several transactions on the same item

https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/dynamodb.html#DynamoDB.Client.transact_write_items

moto should also fail the transaction in this case (currently one can perform two transactions on the same item)

[2022-01-20 03:56] fen9li opened #4780 "CloudTrail NotImplementedError: The put_event_selectors action has not been implemented"
## reproduce the issue using below code piece

* The Class file
[code]

* The testing piece
[code]

## what you expected to happen
It should pass successfully.

## what actually happens
It fails with below result when run 'pytest'
[code]

## The version of Moto I'm using
[code]

## Installed by using pip

Could you pls confirm that 'put_trail_event_selectors' and 'get_trail_event_selectors' are su

[2022-01-20 12:48] bblommers commented on #4779
Thanks @Guriido - marking it as an enhancement to implement this validation.

[2022-01-20 12:54] bblommers commented on #4780
Confirmed - Moto does not have support for those methods, at all.
A list of what is and is not supported, per service, per version, can be found in the docs: http://docs.getmoto.org/en/2.3.2/docs/services/cloudtrail.html

CloudTrail is a bit underrepresented for now. I'll mark it as an enhancement to add these features.

[2022-01-20 19:57] lucianomarqueto opened #4781 "DynamoDb2 create_table not validate ProvisionedThroughput parameter"
Hello,
When I call create_table from dynamodb client, if a pass `BillingMode='PROVISIONED'` the parameter `ProvisionedThroughput ` is required, as you can see in boto3 documentation: [Boto3 DynamoDB create_table](https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/dynamodb.html#DynamoDB.Client.create_table)

if you run the code below using `@mock_dynamodb2`, it does not rais

[2022-01-21 10:30] bblommers commented on #4781
Hi @lucianomarqueto, thanks for raising this! Marking it as an enhancement to implement this validation

[2022-01-21 11:39] bblommers commented on #2791
We've just released Moto 3, where we've dropped support for boto2 altogether, so I'm going to close this.

I realize it's been a while - hopefully you did find a solution for this! Let us know if there's still anything we can do to help.

[2022-01-21 11:39] #2791 closed

[2022-01-21 12:23] bblommers commented on #4707
Moto 3.0.0 (just released) now has these features under the new `mock_s3control` decorator - see http://docs.getmoto.org/en/latest/docs/services/s3control.html

I'll close this, but please let us know if you're running into any other issues!

[2022-01-21 12:23] #4707 closed

[2022-01-21 20:55] facundoolano opened #4784 "DynamoDB2 state seems to be kept across unit tests"
I'm running a basic test with mocked dynamodb (which I based off of the [s3 example in the documentation](http://docs.getmoto.org/en/latest/docs/getting_started.html#class-decorator)). I'm using the class decorator and creating a table on the test setUp, and, if I have more than on test in my class, it fails with `ResourceInUseException`, as if the state was shared across the different tests.

If

[2022-01-21 21:17] bblommers commented on #4784
Hi @facundoolano, that was the behavior in Moto 2.x, yes.
In Moto 3.x it was changed to reset the state before every test-method, as that is much more intuitive.

Are you able to upgrade to 3.x?

https://github.com/spulec/moto/issues/4774

[2022-01-21 21:44] facundoolano commented on #4784
Thanks @bblommers that seems to do the trick. I installed the latest version a few days ago and got 2.3.2, but apprently I've been looking at 3.x documentation instead.

[2022-01-21 21:44] #4784 closed

[2022-01-22 23:50] pll opened #4785 "moto/route53 does not correctly handle private hosted zones"
moto/route53 does not correctly handle private hosted zones with `create_hosted_zone()` such that when calling `list_hosted_zones()` or `get_hosted_zone()` with a specific zone ID, the associated VPC information is not available.

Further, calling `create_hosted_zone()` and requesting a private hosted zone is allowed without passing in an associated VPC configuration block, which is incorrect beha

[2022-01-23 00:01] pll commented on #4785
I've attempted to fix the above here: https://github.com/spulec/moto/pull/4786

[2022-01-25 10:26] #3635 closed

[2022-01-25 10:26] #4779 closed

[2022-01-25 10:27] #4669 closed

[2022-01-25 15:22] jpverdejo-FF commented on #3635
Thanks @bblommers and @Guriido!

[2022-01-25 19:24] #4768 closed

[2022-01-25 19:25] #4751 closed

[2022-01-25 20:01] #3601 closed

[2022-01-26 12:01] crbunney opened #4797 ""Bucket does not exist" thrown from inherited tearDown method in moto 3.0.1"
I have this code:
[code]

I'm running this code using:
* Python 3.8.12
* `pytest==6.2.5`
* `boto3==1.20.30`
* `botocore==1.23.30`

Although working in a conda environment, in all cases I've installed moto into the conda env from pypi using pip.

I expect that the `BaseTest` `setUp` and `tearDown` is run for each test in `MyTest`. I do this to share common setup code between multiple test classes.

[2022-01-26 12:49] felipe1982 opened #4798 "Is there interesting in using Pipenv for dependency management?"
I have been using `pipenv` with the following Pipfile successfully, mostly on adding a feature to moto.

[code]

Is there a better approach? Is using `requirements.txt` still the better option?
#1665 some issues from the past...

[2022-01-26 13:52] Lilja commented on #3909
We are also encountering this issue, it seems that the limit is being applied AFTER the filterexpression which is what I would've expect after realizing the same thing.

[2022-01-26 23:23] bblommers commented on #4798
Hey @felipe1982! Personally I don't have any strong feelings either way. The `requirements.txt` may be the old way of doing it, but I've never had a need to use anything else instead.
Are there any benefits to using the Pipfile-approach for Moto?

[2022-01-27 00:01] #4797 closed

[2022-01-27 10:32] bblommers commented on #4797
The workaround was actually a very good indicator of why it was failing. Moto resets the state before every test, which means either before every test method, or before the setUp-method, if it is declared. But we only looked whether a `setUp`-method existed in the subclass.
With a `setUp` method defined in the parent-class, Moto assumed it wasn't there, and would reset the state in between the `se

[2022-01-27 10:40] #4777 closed

[2022-01-27 11:28] #4785 closed

[2022-01-27 12:52] bblommers commented on #4638
This is now all available as of moto >= 3.0.2.dev7.
The documentation on all of the configuration options can be found here: http://docs.getmoto.org/en/latest/docs/services/lambda.html

[2022-01-27 12:52] #4638 closed

[2022-01-27 12:56] bblommers commented on #4580
I'm going to close this due to a lack of response. If there is a reproducible test case, do let us know!

[2022-01-27 12:56] #4580 closed

[2022-01-27 18:48] lorengordon commented on #4638
Amazing, this is an awesome feature! Thanks @bblommers!

[2022-01-28 01:14] pll opened #4804 "Implement list_hosted_zones_by_vpc()"
Currently moto does not support the list_hosted_zones_by_vpc() call.

Pretty sure I can implement this now that create_hosted_zone() works correctly, so just filing an issue to tie PRs to later.

[PR#4471](https://github.com/spulec/moto/pull/4771) already exists, but needs a lot of work.

[2022-01-28 10:41] bblommers commented on #4804
Let me know if you need any help @pll!

[2022-01-28 16:50] afaulconbridge opened #4806 "AWS Batch using resourceRequirements raises TypeError"
Moto 3.0.1 with the Python mocks. Small code demo: https://gist.github.com/afaulconbridge/01d1a7f0190c3f30a167244e20aeaa6d#file-gistfile1-txt-L149-L157

For AWS Batch, when creating a job definition with `boto3.client("batch").register_job_definition()` for running on fargate there is a section in `resourceRequirements` that specifies vCPU & memory. Boto3 wants the them to be specified as a string

[2022-01-28 22:45] bblommers commented on #4806
Hi @afaulconbridge, thanks for raising this. A PR would be very welcome - let me know if you need any assistence!

[2022-01-29 00:04] kazanzhy commented on #4526
So for now I should use `@mock_rds2` for my tests, and before version 4.0 move to `@mock_rds` back.
Is that correct?

[2022-01-29 11:08] #3909 closed

[2022-01-29 11:11] #4804 closed

[2022-01-29 11:13] bblommers commented on #4526
Yes, that's correct @kazanzhy. Don't worry - we'll give plenty of notices before completely removing the `@mock_rds2`-decorator.

[2022-01-29 12:04] #4711 closed

[2022-01-29 12:07] #4806 closed

[2022-01-29 13:41] DanielGeffers opened #4811 "Bug: s3 client download file returns meta data instead of file on every other call"
Hi,
every second invocation of download_file is returning the file, but every other invocation is returning meta data.

How to reproduce:
[code]

What I was expecting:
3 files with the original content of the file.

What happened:
only the second call got the file.

I think I have the newest versions installed via pip:
moto version 2.3.2
boto version 1.10.38
on
python 2.8.12
using anaconda 4.10.3

[2022-01-29 14:19] bblommers commented on #4811
Hi @DanielGeffers, thanks for raising this, we will look into it.

What version of `responses` do you have installed?

[2022-01-29 22:49] pll opened #4813 "implement get_hosted_zone_count()"
Missing functionality...

Will try to add.

[2022-01-30 08:08] DanielGeffers commented on #4811
Hi @bblommers
I have version 0.17.0
Thank you very much.

[2022-01-30 13:25] #4813 closed

[2022-01-30 14:10] bblommers commented on #4811
Hi @DanielGeffers, I'm not able to reproduce this, I'm afraid - with the test case above, I get the original content three times in a row.

The only change I made to your example is changing this line:
`s3_client.download_file("test_bucket.s3.eu-west-1.amazonaws.com", "area_type.json", "test_file_temp.json")`
to
`s3_client.download_file("test_bucket", "area_type.json", "test_file_temp.json")`
 - a

[2022-01-30 22:57] bblommers opened #4816 "Consider upgrading black"
Black finally has a stable version, `22.1.0`, which makes a good reason to finally upgrade. (https://black.readthedocs.io/en/latest/change_log.html)

ToDo:
 - Figure out the amount of changes, and decide whether it's acceptable
 - Update the Make-file to emit a warning about the required `black`-version

[2022-01-31 00:53] #3879 closed

[2022-01-31 00:53] #3897 closed

[2022-01-31 03:11] pll commented on #3897
@bblommers - Thanks so much for doing this! I was just starting on it today when I got the github notification :)

[2022-01-31 08:14] DanielGeffers commented on #4811
@bblommers
THANK YOU very much.
I changed the bucket name from a full URL to the name only, and it now works normally. So my issue is solved.

I suspect that there still is a bug in eigther moto or boto3, since having a url as bucket name should not cause an error every second time^^
Should I therefore close the ticket?

[2022-01-31 10:32] bblommers commented on #3897
Happy to help @pll! Let me know if there are any issues with this implementation

[2022-01-31 10:55] bblommers commented on #4811
Happy to hear that, @DanielGeffers!

I agree that it sounds like a bug, but even with the full URL's, I couldn't reproduce it - for me, it would always throw a 404 on the first `download_file`.

See my test file:
https://github.com/bblommers/s3-multiple-downloads/blob/main/test.py

And test execution showing the 404:
https://github.com/bblommers/s3-multiple-downloads/runs/5004616160?check_suite_fo

[2022-01-31 12:41] simonschmidt opened #4819 "SNS publish_batch issue with RawMessageDelivery"
To reproduce: https://github.com/spulec/moto/pull/4818

The behavior between `sns.publish` and `sns.publish_batch` seems to be slightly different, in `sns.publish` the message attributes are handled with `SNSResponse._parse_message_attributes`.

This leads to an exception being raised in `SNSModel.publish_batch` that's not a `InvalidParameterValue` so the message is not listed in neither `"Failed"

[2022-02-02 10:52] Nick01a commented on #3988
hacked the system)

[2022-02-02 11:47] alastairmccormack commented on #4623
I'm struggling to understand the rationale for using `ADMIN_USER_PASSWORD_AUTH` with `initiate_auth`. How does it differ to USER_PASSWORD_AUTH?

If the behaviour is the same, then it'll be simple to add ADMIN_USER_PASSWORD_AUTH to the USER_PASSWORD_AUTH logic.

[2022-02-02 13:24] facundoolano commented on #4746
I found the same problem, also with using `LaunchTemplateConfigs.Overrides`.

[2022-02-02 17:34] FZetting opened #4821 "s3 list_object_versions ignores Prefix on DeleteMarkers."
Hi,
after deleting some objects in a bucket with versioning, when I search with client.list_object_versions(Bucket='myBucket', Prefix='MyKey') only objects with the key "MyKey" should appear in the result. For "Versions" this is true, for "DeleteMarkers" the prefix is ignored.
If I do the same with MinIo the expected result appears.

[2022-02-02 19:22] FZetting commented on #4821
It looks like the error is on my side. I'll search a bit further and if it's an error I'll open the error again.

[2022-02-03 09:25] FZetting commented on #4821
Unfortunately there was my error and the previous mentioned bug.

And now i have also some code to show the issue.

``
    from moto import mock_s3
    import boto3

    def create_objects(client, bucket_name):
        for pos in range(2):
            client.put_object(Bucket=bucket_name, Key=f'obj_{pos}', Body=f'This is object {pos}'.encode('utf-8'))

        for pos in range(2):
            clie

[2022-02-03 12:53] bblommers commented on #4821
Thanks for raising this and for providing a test case @FZetting - marking it as a bug :+1:

[2022-02-03 18:02] oguzhancelikarslan commented on #4566
Waiting for that @bblommers  thanks for all of your efforts.

[2022-02-03 18:16] bblommers commented on #4566
Word of warning - requests like this are logged, but that is no guarantee that they will be fixed. If this is something you really need, it may be quicker to implement it yourselves and open a PR.

If you do want to go down this route, you can find some tips to get started here: http://docs.getmoto.org/en/latest/docs/contributing/development_tips/index.html

[2022-02-03 18:32] oguzhancelikarslan commented on #4566
This weekend I will take a look at that.

[2022-02-04 04:25] mdavis-xyz opened #4825 "multi part upload with empty part list should be rejected"
# Steps to reproduce

[code]

Try this with `if True` and with `if False`.

# Expected behavior

Same result with or without moto.
i.e. without moto, the empty parts list is rejected.

[code]

# Actual behavior

With moto, this script will successfully create an empty object, instead of rejecting it.

# Versions:

moto: 2.2.16
boto3: 1.20.14
botocore: 1.23.37

[2022-02-04 16:42] adammacudzinski opened #4829 "Moto 3.0.2 seems to be incompatible with Python 3.9 typing"
Greetings, we are in the process of migrating our Python codebase to Python 3.9 and one of the first tests that broke after this change was a test that featured the `@mock_s3` decorator. Here is the associated stack trace:

File "/usr/local/lib/python3.9/dist-packages/moto/__init__.py", line 17, in f
    module = importlib.import_module(module_name, "moto")
  File "/home/luminar/mambaforge/envs/de

[2022-02-04 18:16] whardier commented on #4829
Ditto.

[2022-02-04 20:16] lynkfox opened #4831 "new clients/resources do not find the resources created in Setup()"
Versions:
moto 3.0.2
boto3 1.20.24
pytest 6.2.5

 with the update past 3.0, any of our tests using moto failed with "Resource not Found"

 The tests originally looked something like this (which worked under 2.3.2:

 (create table creates the table in use and add a single item to, and returns a dynamodb resource)

[code]

please note the recreation of the boto3 resource inside the test.

I am aware

[2022-02-04 21:54] bblommers commented on #4825
Interesting - looks like boto3 doesn't quite know how to handle the response, if the XML coming from AWS is invalid. It'd be interesting to see how other SDK's/the CLI handle this.
I'll mark it as an enhancement to copy this behaviour.

[2022-02-04 22:10] bblommers commented on #4829
Hi @adammacudzinski, @whardier , do you have an MWE (reproducible test case) that throws this error?

[2022-02-04 22:33] bblommers commented on #4831
Hi @lynkfox, thanks for raising this. Looks like that's a bug on our side - we'll push out a fix shortly.

This does work for classes that extend `unittest.TestCase`, where the setup-method should be called `setUp` (uppercase U), but not for plain classes where the `setup`-method should have a lowercase u.

[2022-02-04 22:36] adammacudzinski commented on #4829
@bblommers just implement a simple test where you use the decorator `@mock_s3` with Python 3.9. It will fail with the same error that I included above.

[2022-02-04 23:19] lynkfox commented on #4831
Ah! Good to know. Updating to setUp to prevent similar issues with any other mocking libraries will be on my agenda next week. Easy fix. Thanks!

[2022-02-04 23:20] lynkfox commented on #4831
Ah! Good to know. Thanks!

[2022-02-04 23:22] bblommers commented on #4829
We have quite a few internal tests that all use the S3-decorator, and they all successfully run against Python3.9.
So my guess is that this error pops up either due to a dependency issue, or something in the test/logic itself causes this error.

[2022-02-04 23:26] adammacudzinski commented on #4829
@bblommers Looks like the error occurs in the `werkzeug` packge. Can you send over the specific version you're using with Python 3.9 ?

[2022-02-04 23:29] bblommers commented on #4829
We're using the latest werkzeug @adammacudzinski , `2.0.2` - that's installed locally on my machine and in our CI.

[2022-02-05 11:00] bblommers commented on #3860
I'm going to close this due to a lack of response. Do let us know if there still is an issue here, and we can reopen.

[2022-02-05 11:00] #3860 closed

[2022-02-05 11:01] #2066 closed

[2022-02-05 11:47] #4831 closed

[2022-02-05 12:13] dchudz commented on #380
That sounds really smart! Then tests could fast-forward time if they want, but wouldn't need to hook into anything from moto to get the state updated.

Is this something the project might be open to someone implementing as optional behavior?

[2022-02-05 15:56] bblommers commented on #4831
Hi @lynkfox, thanks again for raising this - this should now be fixed as of moto >= 3.0.3.dev8. Please let us know if you're running into any other issues!

[2022-02-06 22:43] mdavis-xyz commented on #4825
I suspect this is a bug in the API spec itself. The docs don't mention a minimum list length, and I can't see one [here](https://github.com/boto/boto3/blob/367f8f87194684bcd66903c8baae1ca2cbed87f2/boto3/data/s3/2006-03-01/resources-1.json#L782) either.

[2022-02-07 09:39] mgshirali opened #4834 "Automated snapshot for Redshift Cluster"
Automated snapshot support for a Redshift cluster

At the moment, when a redshift cluster is created, the automated snapshot for the cluster is not created by the moto library. This makes it difficult to test features like restoring a redshift cluster from an automated snapshot.
It will be a good idea to add this functionality to the library

[2022-02-07 15:10] #4834 closed

[2022-02-07 20:36] alastairmccormack commented on #4623
I left feedback on on the AWS InitiateAuth API page asking for clarification. Here's the response:

Therefore using `ADMIN_USER_PASSWORD_AUTH` with `InitiateAuth` is not a valid use-case.

[2022-02-07 23:46] mdavis-xyz opened #4839 "PartsCount not returned by S3 head object [feature request]"
The S3 head object call should return PartsCount under some circumstances.

It's not obvious from the API docs what those circumstances are, but I've tested it in [boto 3137](https://github.com/boto/boto3/issues/3137).

PartsCount should be returned if and only if the object was a multi-part upload, *and* PartNumber was passed in as an argument.

Note that this is the count of all parts, it is not

[2022-02-07 23:55] #4623 closed

[2022-02-07 23:59] bblommers commented on #4839
Thanks for raising this and providing the test case @mdavis-xyz :+1:

[2022-02-08 11:47] arnaudh opened #4841 "KeyError: 'aurora-postgresql' when calling rds2 `create_db_cluster` on Moto 3.0.2"
[code]

With moto 3.0.1 this runs without error.

With moto 3.0.2 we get the following error:

[code]

I see `default_engine_version` [was added](https://github.com/spulec/moto/pull/4790/files#diff-33d75ddb5688506c7eaa4cb77110308822d470376a209a925a8f3ccf7a4a692dR183) in 3.0.2 and a call is made to it inside Cluster `__init__`.

However it seems this method doesn't support all engine types (notably

[2022-02-08 11:51] arnaudh commented on #4841
Tagging @kazanzhy who made the PR. Is there a reason not all engine types are supported in `default_engine_version`?

[2022-02-08 12:17] kazanzhy commented on #4841
Hi. You're right and somehow I missed available types
https://docs.aws.amazon.com/AmazonRDS/latest/APIReference/API_CreateDBCluster.html
PR will be soon.

[2022-02-08 17:37] #4841 closed

[2022-02-08 21:12] #3663 closed

[2022-02-08 22:00] bblommers commented on #4841
Hi @arnaudh, thanks for raising this! The attached PR is now part of moto >= 3.0.3.dev23 - please let us know if you're running into any other issues.

[2022-02-09 11:04] bblommers commented on #416
This behaviour has been changed as of Moto 3.x to be more intuitive - the state is now local to each test-method.
The setUp-method can of course be used as usual, to ensure the same state exists before every test.

The documentation can be found here:
http://docs.getmoto.org/en/latest/docs/getting_started.html#class-decorator

I'll close this, but do let us know if you're running into any other is

[2022-02-09 11:04] #416 closed

[2022-02-09 19:31] #4227 closed

[2022-02-09 22:38] #4566 closed

[2022-02-10 09:02] #2079 closed

[2022-02-10 09:02] #3333 closed

[2022-02-10 09:02] #3890 closed

[2022-02-10 09:02] #4694 closed

[2022-02-10 11:15] ghinch commented on #4180
@mhihasan did you make any progress on this?

[2022-02-10 20:09] #4755 closed

[2022-02-10 20:09] #4781 closed

[2022-02-11 19:24] timsnyder opened #4852 "EC2 run_instances BlockDeviceMapping missing support for NoDevice"
In [FireSim](https://fires.im/) we use an AMI that by default has two volumes.  We only need one of them and thus make use of the `NoDevice` property of [`BlockDeviceMapping`](https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_BlockDeviceMapping.html) to tell AWS to not include `/dev/sdb`.

I added a test to my local clone of moto as:
[code]

To demonstrate that moto's `run_instances` will

[2022-02-11 20:11] #4725 closed

[2022-02-12 07:44] amoeedm commented on #1524
Feel free to contribute on #4854, which aims to add:
`create_data_catalog`
`get_data_catalog`
`list_data_catalogs`

[2022-02-12 13:59] #3949 closed

[2022-02-13 01:53] whardier opened #4857 "TimestreamWrite (TimestreamTable.write_records) uses append rather than extend when appropriate."
Near as I can tell this was just an oversight:

https://github.com/spulec/moto/blob/master/moto/timestreamwrite/models.py#L17

Records will never be a single entity per the spec.

https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/timestream-write.html#TimestreamWrite.Client.write_records

For now I'm running records through more_itertools.flatten to ensure this isn't a pro

[2022-02-13 20:09] OzNetNerd opened #4858 "create_capacity_provider for ECS"
Hi there. I was just wondering if you'll be adding support for `create_capacity_provider`?

Thank you.

[2022-02-14 08:44] PyVCEchecker opened #4859 "“python_requires” should be set with “>=3.6”, as moto 3.0.3 is not compatible with all Python versions."
Currently, the keyword argument **python_requires** of **setup()** is not set, and thus it is assumed that this distribution is compatible with all Python versions.
However, I found it is not compatible with **Python<3.6**. My local Python version is 2.7, and I encounter the following error

[code]
I noticed that **\_\_init\_\_.py** used the syntax feature **f-string**. The feature is only compati

[2022-02-14 09:37] #4852 closed

[2022-02-14 19:28] bblommers commented on #4858
Hi @OzNetNerd, thanks for raising this - I'll mark it as an enhancement.
This is not in the pipeline at the moment, so if this is something you need with high priority, PR's are always welcome!

http://docs.getmoto.org/en/latest/docs/contributing/index.html

[2022-02-14 19:35] bblommers commented on #4859
Thanks for raising this @PyVCEchecker  - you're right, we should expose that argument. Will raise a PR shortly.

FWIW: The last Moto version that supported Python 2.7 was `2.1.0` - see the Changelog here: https://github.com/spulec/moto/blob/master/CHANGELOG.md

[2022-02-14 20:17] #4857 closed

[2022-02-14 20:22] #4859 closed

[2022-02-15 14:33] #3859 closed

[2022-02-15 19:46] ecumene opened #4863 "Add support for AWS Textract"
[Add support for AWS Textract](https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/textract.html
)

I only really need...
[get_document_text_detection()](https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/textract.html#Textract.Client.get_document_text_detection)
[start_document_text_detection()](https://boto3.amazonaws.com/v1/documentation/api/latest

[2022-02-15 21:37] bblommers commented on #4863
Hi @ecumene, welcome to Moto! Our [scaffolding-script](https://docs.getmoto.org/en/latest/docs/contributing/new_feature.html) should help a lot with the plumbing - it's not guaranteed to get everything right, but at least it will be in the right direction.

If you do get stuck, you can always open a draft PR - I'd be happy to have a look to see what's missing.

[2022-02-15 23:11] timsnyder opened #4865 "Expose logic of get_amis.py in moto as a test.utils.something"
Would you guys be opposed to making this code

https://github.com/spulec/moto/blob/871591f7f17458c10ce039d6e2f36abe3430fec5/scripts/get_amis.py#L47-L65

a utility function somewhere in moto so that users who want/need to create their own MOTO_AMIS_PATH can reuse it?  I'm tempted to just copy/paste this tiny bit of code but that makes me 🤮

Also, are you opposed to documenting MOTO_AMIS_PATH?  I wa

[2022-02-15 23:26] #2407 closed

[2022-02-16 03:09] hasryan opened #4866 "Is https://hub.docker.com/r/motoserver/moto the official Docker image host for this project?"
Please forgive this question if it's obvious, but I'm wondering if https://hub.docker.com/r/motoserver/moto is the official host for images generated for this project?

I didn't find any mention of the Docker Hub link above or the `motoserver/moto` images in the README or on the docs site, and it was only when I used a search engine that I found https://hub.docker.com/r/motoserver/moto . I do see

[2022-02-16 10:55] bblommers commented on #4865
Hi @timsnyder, that is a very good suggestion, both the utility and documenting it.

The utility method would IMO make most sense in `moto/ec2/utils.py`.

Documenting the `MOTO_AMIS_PATH` would make most sense as a docstring of the `EC2Backend`-class here: https://github.com/spulec/moto/blob/master/moto/ec2/models.py#L8603
On release, any docstring will be automatically converted and added to the

[2022-02-16 10:58] bblommers commented on #4866
Hi @hasryan, welcome to Moto!

That is indeed the official host, and where we release to as part of our workflow. I'll mark it as an enhancement to document this better, and track the hashes.

Thank you for raising this!

[2022-02-16 16:09] timsnyder commented on #4865
Thanks @bblommers.  I'll submit a PR shortly.

[2022-02-17 13:38] #4865 closed

[2022-02-17 20:56] MichaelSnowden commented on #3683
@rvodden any update on this? I'd love to test the sign methods of boto in my unit tests

[2022-02-17 23:11] rvodden commented on #3683
Gosh I forgot I was working on this! Let me find the branch and finish it off. I got it pretty close as I recall!

[2022-02-18 10:45] 07pepa opened #4870 "moto breaks repsonses library usage"
if moto is used with responses for mocking request responses library will be broken

[code]

a matchers.header_matcher will cause null pointer exception because request is None

since this does not happen when i mock boto3 in diferent way i presume it is failiure of moto library however
i recomend to cooperate with https://github.com/getsentry/responses team

secondly same code will fail even earl

[2022-02-18 13:02] bblommers commented on #4866
As of Moto 3.0.4, the digest is automatically added to the Changelog as part of the release process:
https://github.com/spulec/moto/blob/master/CHANGELOG.md

The documentation page about ServerMode now explicitly says where the image is hosted:
http://docs.getmoto.org/en/latest/docs/server_mode.html#run-using-docker

[2022-02-18 13:02] #4866 closed

[2022-02-18 14:12] bblommers commented on #4870
Hi @07pepa, thanks for raising this.

The second example fails for me as well - I'll look into why that's happening later.

The first example, with `mock_s3`-decorator first, does work as expected for me.
My reproducible test:
[code]

And the outcome:
[code]

Which version of Moto and Responses are you using?

[2022-02-18 16:03] 07pepa commented on #4870
i think my example is incorrect
this is more representative

[code]

* moto version 3.0.3
* responses 0.18.0
* reuqests 2.27.1
and error is that matcher fail due response being null

[2022-02-18 16:23] hayata-yamamoto opened #4872 "moto 3.0.4 requires capacity units when billing mode parameter is not inputted"
## Reporting Bugs

I've faced dynamodb2 `create_table` error. It was

[code]

It's seemed to be related to #4849 , I guess. This problem was solved by using moto==3.0.3. Since [AWS API](https://docs.aws.amazon.com/ja_jp/amazondynamodb/latest/APIReference/API_CreateTable.html#API_CreateTable_RequestParameters) and [boto3](https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/dy

[2022-02-18 20:13] bblommers commented on #4870
That example still works for me, actually. I've created a PR that just runs these two tests:
PR: https://github.com/spulec/moto/pull/4873/files
Test run: https://github.com/spulec/moto/runs/5253018398?check_suite_focus=true

As you can see, the `test_moto_first` passes.

[2022-02-18 21:24] bblommers commented on #4872
Hi @hayata-yamamoto, Moto follows AWS' behaviour here - without the mock, AWS will throw the exact same exception. I've just tested this out with this setup:
[code]

The behaviour between the two tests is the same.

The `SampleTest` that you provided does not mock anything, btw, as the decorator is never explicitly started.
If you're using unittest-style classes, the best option is to use the clas

[2022-02-19 00:07] bblommers commented on #4665
Without something reproducible, there's not much we can do here, so I'm going to close this. Happy to reopen the moment there is a PR/test case to showcase this issue

[2022-02-19 00:07] #4665 closed

[2022-02-19 00:09] bblommers commented on #4197
Closing this, as there doesn't seem to be much we can do here.

[2022-02-19 00:09] #4197 closed

[2022-02-19 04:01] hayata-yamamoto commented on #4872
@bblommers
I appreciate your response. as you mentioned, `start` operation was lacked.

I've checked the same result on my environment. Well..., this behaviour is exactly mocking AWS.
Should we use moto==3.0.4 to mock dynamodb precisely?

If this yes, I'll close this issue. Thanks!

[2022-02-19 12:04] bblommers commented on #4872
As a general rule, I'd advice to always use the latest version. We are always adding features and validations to match AWS as closely as possible.

3.0.4 doesn't match AWS Dynamo for 100% yet, but it's better than older Moto versions :slightly_smiling_face:

[2022-02-19 12:43] 07pepa commented on #4870
i tried  to reproduce 1st one on diferent computer and i am unable to... so maybe something wierd... for now focus on 2nd one and i will try to drill down what is causing that..

[2022-02-20 00:45] #4780 closed

[2022-02-20 11:47] hayata-yamamoto commented on #4872
OK, I got!

[2022-02-20 11:47] #4872 closed

[2022-02-21 01:02] #2829 closed

[2022-02-21 01:04] bblommers commented on #2829
The attached PR just added support for `attempts`-parameter in the JobDescription API.
As far as I can tell, that covers everything raised in this issue. Let us know if there are any other issues/missing parameters that you'd like to see support for!

[2022-02-21 16:14] 07pepa commented on #4870
for now i can provide versions

python : 3.7.11 and 3.7.12
conda version: 4.11.0
requests 2.27.1

[2022-02-21 20:20] jrobbins-LiveData opened #4880 "table.update_item raises ValueError instead of expected ResourceNotFoundException"
Using `moto` v3.0.4 on Windows 10.

Issue https://github.com/spulec/moto/issues/4344 (Closed) reported something similar with `batch_get_item`, but this report is for `update_item`.   My code is expecting `ResourceNotFoundException` in the case of a non-existent table (which is the observed behavior on AWS.)  But with `moto`, `ValueError` is raised instead.

Reproduction available at https://githu

[2022-02-21 20:43] bblommers commented on #4880
Hi @jrobbins-LiveData , welcome to Moto! Thanks for raising this, will mark it as a bug.

[2022-02-21 20:45] bblommers commented on #3193
With the lack of response, I'm going to assume this has been fixed already, so will close it.
Do let us know if there's still an issue here.

[2022-02-21 20:45] #3193 closed

[2022-02-21 21:20] #4863 closed

[2022-02-21 22:01] #3252 closed

[2022-02-21 22:01] #4756 closed

[2022-02-21 22:01] #4757 closed

[2022-02-21 22:01] #4819 closed

[2022-02-22 01:03] n27jain commented on #3336
How do we do this for multiple attributes?
I need to do this for 3 attributes.

[2022-02-22 13:28] bblommers commented on #3336
If the question is how to set multiple attributes at the same time, @n27jain, this page may be useful:
https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/Expressions.UpdateExpressions.html

TLDR:
You can simply list multiple expressions, separated by comma, like this:
[code]

[2022-02-24 07:28] #4880 closed

[2022-02-24 09:51] mdavis-xyz opened #4887 "S3 get_object_tagging should return version id"
The `get_object_tagging` call for S3 should return VersionId for versioned buckets, but it is currently omitted.
(For unversioned buckets it should be omitted.)

# MWE

Run this with `if True` to see `moto`'s behavior, and `if False` to see the real AWS behavior.

[code]

Expected behavior: Assertions all pass. VersionId is returned in the response to get_object_tagging for versioned buckets (even

[2022-02-24 14:30] calvernaz opened #4888 "Apigateway REST getExport as Swagger"
Currently the operation `get_export` is not covered in moto, this issue is just to formalize the request to cover this functionality.

https://docs.aws.amazon.com/apigateway/latest/developerguide/api-gateway-export-api.html

[2022-02-24 14:32] bblommers commented on #4887
Thanks for raising this @mdavis-xyz - marking it as an enhancement to add this field :+1:

[2022-02-24 14:35] bblommers commented on #4888
Thanks for raising this @calvernaz, will mark it as an enhancement.

In general, features like this are supplied by the community, so if this is something you want to contribute, a PR would be very welcome!
See our docs if you want more info on how to get started: http://docs.getmoto.org/en/latest/docs/contributing/index.html

[2022-02-24 22:32] bblommers commented on #4887
What version of Moto are you running, @mdavis-xyz? I've just tried to reproduce this, and the above test case passes for me on the master-branch

[2022-02-24 22:41] bblommers commented on #3292
Closing this, as the original report was not a bug, as far as I'm concerned.

[2022-02-24 22:41] #3292 closed

[2022-02-24 22:46] bblommers commented on #2413
I'm going to close this, as the relevant solutions have already been posted here.

To recap:
Ensure that the ordering of your imports is correct:

http://docs.getmoto.org/en/latest/docs/getting_started.html#what-about-those-pesky-imports

If the project is so complex that changing the import order is unfeasbiel, it is possible to patch the client afterwards to ensure it is mocked:

http://docs.get

[2022-02-24 22:46] #2413 closed

[2022-02-25 01:54] mdavis-xyz commented on #4887
I was using 2.2.16. I've just upgrade to 3.0.4 and it works.
Woops, my fault. I should have checked that before raising the ticket.

[2022-02-25 01:54] #4887 closed

[2022-02-25 11:08] bblommers commented on #4887
No problem @mdavis-xyz  - happy to hear it's fixed!

[2022-02-25 11:27] #4821 closed

[2022-02-25 11:27] #4825 closed

[2022-02-25 17:39] calvernaz commented on #4888
Thanks @bblommers, I might give it a whirl! Do you have any tips or similar work how this can be achieved?

[2022-02-25 20:46] bblommers commented on #4888
The only similar work around this is the `import_api` function for APIGatewayV2, but that is a very crude and simplistic:

https://github.com/spulec/moto/blob/master/moto/apigatewayv2/models.py#L625:L627

Considering the scope of this method, my tip would be to keep it simple. If you only need 2% of the full OpenAPI spec, only implement that part - every bit helps.

If you ever get stuck, or can't

[2022-02-26 18:53] mika-koivusaari opened #4893 "MOTO_ALLOW_NONEXISTENT_REGION with DynamoDB not creating table with invalid region."
I have following code and test.

ddbresource.py
[code]

test_ddbresource.py
[code]

By changing the region with following two lines test either fails or succeeds.
[code]
Fail is from assert 'One table should be created'. My understanding is that MOTO_ALLOW_NONEXISTENT_REGION should enable invalid regions (which seems to work, removing the the setting gives error about region), but for reason table

[2022-02-26 20:53] jrobbins-LiveData commented on #4880
Amazingly fast turnaround!  Thank you!!

[2022-02-27 16:55] dazza-codes opened #4894 "INFO: some moto 3 dependencies have breaking changes"
After a recent update to moto 3, some dependencies of moto3 are breaking tests.  So far, some useful pins are a work around, e.g.

[code]

[2022-02-27 18:06] bblommers commented on #4894
Do you have any more info on these crashes?

In our build, we use the latest dependencies, and we haven't experienced any issues with them:
`MarkupSafe-2.1.0` (For Py3.6, MarkupSafe-2.0.1, as 2.10 no longer supports Py3.6. But Pip takes care of that automatically)
`Flask-2.0.3`

(See the `Install project dependencies`-step here: https://github.com/spulec/moto/runs/5344106996?check_suite_focus=true

[2022-02-27 20:14] bblommers commented on #4893
Hi @mika-koivusaari, thanks for raising this! Can confirm this is a bug - will push a fix shortly.

[2022-02-27 21:47] #4893 closed

[2022-02-28 05:06] mika-koivusaari commented on #4893
Thanks

[2022-02-28 13:29] bblommers commented on #3214
I've just looked into this, and I'm not actually sure if there's anything we can do here. Moto only inspects the incoming HTTP request, and return a manually crafted response - we do not use boto3, so there are no logs to show.

We do use some elements from botocore - loading that module shows the following logs, nothing else:
[code]

Not sure whether that is particularly useful.

Can you clarify

[2022-02-28 22:40] kvudathu opened #4897 "VPC endpoint not created as part of cloudformation create stack"
Hi,

I'm using the latest version of moto(3.0.5).

I have a simple cft template that creates GWLB vpc endpoint and subnet given service name, vpcId, az and CIDR block for the subnet. Everything works fine when deploying in AWS.

With the current moto version, when I use the same template to create these mock resources via cloudformation.create_stack, only subnet is created.

I know that that GWLB

[2022-02-28 22:57] #4870 closed

[2022-03-01 07:38] BenjenJones commented on #4894
What are the errors would be interesting.
I updated to moto3 today (from 1.something).
Now I get the following:

botocore.exceptions.ClientError: An error occurred (InvalidAccessKeyId) when calling the CreateBucket operation: The AWS Access Key Id you provided does not exist in our records.

[2022-03-01 10:21] tomers commented on #3214
Thanks Bert, for looking into it.
I guess it is my mistake then... Anyway if there is any logging configuration available in moto's codebase, maybe it would be a good idea to allow configuration through the environment variables in the docker.

[2022-03-01 10:21] #3214 closed

[2022-03-01 16:35] stromp opened #4899 "secretsmanager tag_resource creates duplicate tag key's if the key already exists"
secretsmanager tag_resource method add a tag instead of overwrites a tags if the key name is the same. Resulting in keys with duplicated keys.

Normal AWS behavior:

[code]

however in moto you get:

[code]
resulting in:

[code]

[2022-03-01 22:08] bblommers commented on #4897
Hi @kvudathu, can you post a minimum CloudFormatation template here?

[2022-03-01 22:19] bblommers commented on #4894
Hi @BenjenJones, from 1.14 or 1.15 we changed the way the mocking worked. The most likely cause of the `InvalidAccessKeyId`-error is that the boto3-clients are created before the Moto-mock is started.

If you change this around, so that all boto3-clients are instantiated within a mocked test, the error should disappear.

See this page in the docs, especially the `Pesky imports` and `Patching ..` s

[2022-03-01 22:21] bblommers commented on #3214
There is no logging within Moto, actually. My advice, when using ServerMode, is to enable the logging of whatever SDK you use. All SDK's have a debug-mode that logs all requests and responses, and that info tends to be enough to figure out if anything is going wrong.

[2022-03-01 22:24] BenjenJones commented on #4894
@bblommers I found that out today and got it working again, after finding it on readthedocs :)
also had some headaches with the patching :) but now everything is fine.

Either way, thanks for your answer and the links to the documentation!

[2022-03-01 22:50] #4899 closed

[2022-03-01 23:05] bblommers commented on #4564
With the lack of response, I'm going to assume, this is either fixed or unreproducible. I'll close this - do let us know if there is still an issue here though, happy to reopen.

[2022-03-01 23:05] #4564 closed

[2022-03-02 04:23] kvudathu commented on #4897
[testcft.txt](https://github.com/spulec/moto/files/8166574/testcft.txt)
Here is the base template, I do create mock GWLB and Service name corresponding it (via moto) before calling cloudformation create stack.

[2022-03-02 11:57] Lilja opened #4901 "[sns] sns_backend should default to env AWS_DEFAULT_REGION / DEFAULT_REGION_NAME"
I'm checking the documentation to see if it's possible to get the notifications of published SNS messages.

There is a like here that says you can access it through:
`from moto.sns import sns_backend`. After 30 minutes of debugging why `sns_backend.topics` was empty when I just created the topic using boto3, I found the following line.

https://github.com/spulec/moto/blob/7e88a901d9ed7612d92bdeb9d

[2022-03-02 12:03] Lilja commented on #4901
My workaround right now:
[code]

[2022-03-02 17:34] cheshirex opened #4903 "Invalid instance ID error behaves differently from AWS"
https://github.com/spulec/moto/blob/ea81377cd0ce669dbb01d2141ef6f7e92c9b757d/moto/ec2/exceptions.py#L238

When I terminate more than one non-existent ID in AWS, I get the error:
An error occurred (InvalidInstanceID.NotFound) when calling the TerminateInstances operation: The instance IDs 'i-0f5d8ccc56c69fae4, i-0eecca434287a1a33, i-05a2b7d81718e0678' do not exist

But this error currently only rep

[2022-03-02 22:32] bblommers commented on #4897
Thanks for posting the template @kvudathu - can confirm that this has not been implemented yet. We'll add it to the list.

[2022-03-02 23:13] bblommers commented on #4901
Hi @Lilja, thanks for raising this! In this case it is the documentation that is wrong, actually - your workaround is the recommended fix.
[code]

Apologies for the confusion - I'll update the documentation to make this more clear.

[2022-03-02 23:20] bblommers commented on #4903
Thanks for raising this @cheshirex :+1:

[2022-03-03 10:55] stromp opened #4906 "VersionStage is not removed from old secret when updating the value with a custom VersionStage (aws secrets)"
When you update a secret in secret manager with a custom version stage, it will not remove the version stage from the old version. This cause get_secret_value to return you the first version in the list with your custom version stage, (which is probably the oldest in your list) instead of the most recent version. Looking at the code this has only be implemented for the AWSCURRENT stage tag.

to re

[2022-03-03 13:02] bblommers commented on #4906
Fixed with #4907

[2022-03-03 13:02] #4906 closed

[2022-03-03 15:54] 07pepa commented on #4870
Thanks

[2022-03-03 22:21] bblommers commented on #4903
Hi @cheshirex, what version of Moto are you using?
Against the latest version, I am seeing the correct error message:
`The instance ID '['instance-1', 'i-34f0548abfb5d2a97', 'instance-2']' does not exist`

(Where `i-34f0548abfb5d2a97` is an existing instance ID)

[2022-03-03 22:43] #4897 closed

[2022-03-03 23:25] #4901 closed

[2022-03-04 00:04] kvudathu commented on #4897
@bblommers Thank you so much! When will the next moto version release which includes this commit?

[2022-03-04 12:11] bblommers commented on #4811
Going to close this as unreproducible - do let us know if you find a way to reproduce this though.

[2022-03-04 12:11] #4811 closed

[2022-03-04 12:16] bblommers commented on #4013
@sahilshah6196 Was there a specific service/resource that you wanted fixed?
Given the fact that AWS is not consistent in this approach either, and the work involved to completely copy that behaviour, we might be better off reducing the scope to only what is needed now.

[2022-03-04 17:54] adminy opened #4910 "PointInTimeRecoverySpecification property breaks dynamodb mock"
## Reporting Bugs
   - **how to reproduce the issue:**: In dynamodb Use:
[code]
- **expected to happen**. Ignore the property if not supported.
- **what actually happens:** Exception Raised
- **Moto version:** 2.2.19
- **how you installed it:** pip install from requirements file

[code]

[2022-03-04 20:52] bblommers commented on #4910
Hi @adminy, that looks like a botocore-error to me, not a Moto-specific one.

The `PointInTimeRecoverySpecification` is not a valid argument for the CreateTable-operation, so this will fail against AWS as well.
Looks like this argument should be used when calling the `update_continuous_backups`-method instead:
https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/dynamodb.html

[2022-03-05 21:01] bblommers commented on #4897
@kvudathu Moto 3.0.6 has just been released :+1:

[2022-03-05 21:04] bblommers commented on #3664
Hi @dagrimmy, Moto 3.0.6 now includes a way to start the MotoServer programmatically.
See the documentation here: http://docs.getmoto.org/en/latest/docs/server_mode.html#start-within-python

It is still in beta while we collect feedback, so if you find any bugs or improvements, feel free to open a new issue!

[2022-03-05 21:04] #3664 closed

[2022-03-05 21:05] bblommers commented on #1015
Moto 3.0.6 now includes a way to start the MotoServer programmatically.
See the documentation here: http://docs.getmoto.org/en/latest/docs/server_mode.html#start-within-python

It is still in beta while we collect feedback, so if you find any bugs or improvements, feel free to open a new issue!

[2022-03-05 21:05] #1015 closed

[2022-03-05 22:45] jrobbins-LiveData commented on #4665
@bblommers , this test seems to reproduce the `KeyError('ETag')` exception.

Versions
Running on Windows 10 Version	10.0.19044

aiobotocore=2.1.1
boto3=1.20.24
botocore=1.23.24
moto=3.0.5
s3fs==2022.2.0

[code]

[2022-03-06 12:17] bblommers commented on #4665
S3FS expects the ETag to exist in the headers, but the `raw_headers` are set to an empty dict in this example.

This would work better:
[code]

With this fix it fails further down the line, when reading the content - looks to me like the `read`-method also needs to change. But I don't know enough about S3FS or aiobotocore to understand how (or why this `MockedAWSResponse` is even necessary).

[2022-03-06 16:09] jrobbins-LiveData commented on #4665
I see.  Thanks for explaining, especially this seems to be an `aiobotocore` issue.  If you don't mind a bit more discussion, I'd like to file an issue with either `s3fs` or `aiobotocore`, but am new to all this code, unfortunately.

`aiobotocore` has a file `endpoint.py` which has this code

[code]

which assumes that the relevant `http_response` has a `raw_headers` attribute.  But in this test co

[2022-03-06 22:35] bblommers commented on #4665
That `raw_headers`-attribute is only defined by `aiobotocore`, not by `botocore`. So the underlying issue is that `aiobotocore` is using a custom `AWSResponse`-class that does not follow the same signature as botocore.

They are aware of it, see this issue: https://github.com/aio-libs/aiobotocore/issues/755

[2022-03-06 23:07] bblommers commented on #4829
Closing this - if it is an issue in werkzeug, there's not much we can do here. Happy to reopen if there is something amiss in Moto itself though

[2022-03-06 23:07] #4829 closed

[2022-03-07 00:34] jrobbins-LiveData commented on #4665
Thank you very much for explaining this!

[2022-03-07 09:11] haho16 opened #4913 "Errors after responses update to 0.19.0"
Hey,

First off, thanks for the work you input on this very useful project.

I am seeing a new issue when using moto[s3] in my unit tests. Here is the snippet of code I use:
[code]
Since, I suspect, today's update in `responses` module from 0.18.0 to 0.19.0, I am getting following errors:
[code]
Versions I use are following:
awscli==1.19.112
moto[s3]==3.0.4
pytest==7.0.1

If I add `responses==0.18

[2022-03-07 15:20] papierukartka commented on #4913
Somewhat shorter code to reproduce this:
python3.9.2
boto3==1.21.13
moto==3.0.6
pytest==7.0.1
(and responses==0.19.0)

[code]

note that removing `@mock_s3` decorator from `get_fake_bucket_resource()` results in the lack of the above error

[2022-03-07 15:27] cheshirex commented on #4903
(Sorry, I missed the notification -- I need to configure my email to not bury github notifications)

Looks like I have a hardcoded older version of localstack, so yes, that's going to be out of date. I'll nitpick here and point out the singular vs plural difference is still there, but I highly doubt that will realistically bother anyone.

Thanks!

[2022-03-07 16:53] tduque-electric commented on #4913
Just to add on that, this update is affecting CI tests since the newest version is fetched as dependency unless you explicitly set 'responses' to anything less than 0.19.

So a quick fix for anyone that needs the erratic behavior to solve is adding to your requirements (make sure to get back to this issue and check for a definite fix):

`responses==0.18`

[2022-03-07 19:06] bblommers commented on #4913
Thanks for raising this @papierukartka. Will push a fix for this shortly

[2022-03-07 19:57] #4913 closed

[2022-03-07 20:48] bblommers commented on #4913
This should now be fixed as of moto >= 3.0.7.dev2. Please let us know if you're running into any more issues!

[2022-03-07 21:19] jwilmott commented on #4913
Thanks for this - my team has been dealing with this all day. Is 3.0.7.dev2 out yet? I'm not able to install that version yet.

[2022-03-07 21:25] bblommers commented on #4913
@jwilmott It is on PyPi! https://pypi.org/project/moto/3.0.7.dev2/

[2022-03-07 21:37] #4250 closed

[2022-03-07 21:40] bblommers commented on #4250
An initial implementation for Pinpoint will be part of Moto 3.0.7, and contains the following endpoints:

- create_app
- delete_app
- delete_event_stream
- get_app
- get_application_settings
- get_apps
- get_event_stream
- list_tags_for_resource
- put_event_stream
- tag_resource
- untag_resource
- update_application_settings

Please let us know in a new issue if there are any other features that y

[2022-03-07 22:25] #4903 closed

[2022-03-07 22:28] bblommers commented on #4903
Very good point - I actually missed that! That's fixed now :+1:

[2022-03-08 08:12] Dunedan opened #4917 "Deleting secrets not possible with full ARN"
Deleting secrets in AWS Secrets Manager isn't possible when using the full ARN as secrets id and not specifying `ForceDeleteWithoutRecovery=True`:

[code]

The reason for that is that during the deletion `SecretsStore.get()` is getting called:
https://github.com/spulec/moto/blob/1d7440914e4387661b0f200d16cd85298fd116e9/moto/secretsmanager/models.py#L716

`SecretsStore.get()` however isn't overwrit

[2022-03-08 10:17] #4917 closed

[2022-03-08 12:08] tduque-electric commented on #4913
Do you have a schedule for when it might get to a stable release?

[2022-03-08 12:31] bblommers commented on #4913
@tduque-electric Moto 3.0.7 was released just now: https://pypi.org/project/moto/3.0.7/ :+1:

[2022-03-08 19:20] aalvrz opened #4922 "Jinja2 dependency issue?"
My test suite run in Github Actions has recently been failing to something that seems related to Jinja2 and using S3 mock from Moto:

### Trace:

[code]

I can't really understand why this is happening, as it just started failing out of the blue. No dependency changes. Here is the moto version:

[code]

[2022-03-08 19:29] bblommers commented on #4922
Hi @aalvrz, the `responses`-module just had an update that broke Moto. We have released a new update that fixes this:
Moto 3.0.7 is compatible with every version of responses
Moto < 3.0.7 is only compatible with responses < 0.19.0

See this issue: https://github.com/spulec/moto/issues/4913

Are you able to either upgrade Moto or downgrade responses, and confirm that fixes the problem for you?

[2022-03-08 19:58] aalvrz commented on #4922
@bblommers Thank you for the quick response. I can confirm that upgrading to 3.0.7 fixes this 👍🏽

[2022-03-08 19:58] #4922 closed

[2022-03-08 22:29] Frogvall opened #4923 "mock_cloudformation: Wrong ExecutionStatus, Status and StatusReason when creating a change set with no changes."
Hello,
I've found a minor bug in the mock_cloudformation.

**What goes wrong?**
When you create a change set with no changes, you get the wrong execution status, status and status reason

**How to reproduce:**
1. Create a cf template, create a change set from it
2. Execute the change set
3. Create the same change set again
4. Execution status is "AVAILABLE", should be "UNAVAILABLE"
5. Status is "C

[2022-03-09 11:08] bblommers commented on #4923
Thanks for raising this @Frogvall! Marking it as an enhancement to validate whether there are any changes, before applying

[2022-03-09 17:14] leonardoviveiros opened #4925 "[BUG] CloudFormation Mock: An error occurred (Unknown) when calling the CreateStack operation: Unknown"
## CloudFormation Mock: An error occurred (Unknown) when calling the CreateStack operation: Unknown

- OS: `Linux 5.13.0-30-generic #33~20.04.1-Ubuntu SMP Mon Feb 7 14:25:10 UTC 2022 x86_64 x86_64 x86_64 GNU/Linux`
- Python: 3.8
- `moto` installed via pip
- boto3==1.21.14
- botocore==1.24.14
- moto==3.0.7

When running the unit test below, with`@mock_sts` and `@mock_cloudformation`, we encounter a

[2022-03-09 18:00] bblommers commented on #4925
Hi @leonardoviveiros, Moto mocks all AWS requests. Even if you do not explicitly want to mock S3, it should still not connect to AWS' S3, to avoid any mistakes.

What happens if you add `mock_s3` as well, and upload the template to S3 as part of you test setup?

[2022-03-09 18:18] leonardoviveiros commented on #4925
@bblommers that's a great workaround and it actually fixed it. Thanks for the fast response.

Now I can use the normal s3 template URL, and I'm creating the S3 bucket using moto

[code]

And then I can proceed with my testing without changing my code.

I tried to workaround this before your answer and succeeded by changing the code to use TemplateBody, but then I ended up with bigger complexity to

[2022-03-09 18:19] leonardoviveiros commented on #4925
@bblommers that's a great workaround and it actually fixed it. Thanks for the fast response.

Now I can use the normal s3 template URL, and I'm creating the S3 bucket using moto

[code]

And then I can proceed with my testing without changing my code.

I tried to workaround this before your answer and succeeded by changing the code to use TemplateBody, but then I ended up with bigger complexity to

[2022-03-09 20:24] bblommers commented on #4925
It's a feature @leonardoviveiros, not a bug :slightly_smiling_face:

Happy to hear this now works!

[2022-03-09 20:24] #4925 closed

[2022-03-10 10:22] kishaningithub opened #4927 "mock_kinesis does not automatically reset state when used at class level"
## Class code

[code]

## Expected behavior
The kinesis state should automatically reset for each test

## Actual behavior
Following error occurs indicating that the stream already exists.
[code]

## Workaround
After i added the following `teardown_method` to the class the error was gone

[code]

## Versions
Moto:  3.0.7
Python: 3.9

[2022-03-10 12:29] bblommers commented on #4927
Hi @kishaningithub, thanks for raising this! Marking it as a bug.

[2022-03-11 07:13] baraksalomon opened #4931 "wrong exception when trying to publish a version to non-existing lambda"
Hello,

When trying to create a version for a non-exiting lambda the exception is different from the one received from AWS:

sample code:

[code]

Exception received when using moto:
[code]

Exception received without moto:
[code]

The desired behaviour is receiving the same exception from boto and not one raised by moto.

I was using version 3.0.7

[2022-03-11 14:20] haho16 commented on #4913
Thanks to all and sorry for late answer. Updating moto to `3.0.7` solved the issue :)

[2022-03-11 19:33] bblommers commented on #4931
Hi @baraksalomon, thanks for raising this - marking it as an enhancement to implement this validation

[2022-03-12 06:37] dazza-codes opened #4937 "BUG: module 'moto.server' has no attribute 'backends' - moto 3.0.5 -> 3.0.7"
From moto 3.0.5 to 3.0.7, there seems to be breaking change introduced.

[code]

This was working fine with moto 3.0.5 but crashes with 3.0.7.  This is either a mistake, bug or a moto version that is breaking sem-ver expectations.

Can't find it anywhere:

[code]

After dropping back to moto 3.0.5, it works:
[code]

[2022-03-12 10:48] bblommers commented on #4937
Hi @dazza-codes, the `server.py` class imported the backends from `moto.backends`, so using that would be a more straightforward way to access these methods:

[code]

Does that solve your problem?

[2022-03-12 10:48] bblommers commented on #4937
I'm going to have to disagree there btw.. this is an internal import that we decided to move around. It is not part of the API, and it is not part of any documentation, so IMO there is no expectation that it will never change.

[2022-03-12 20:00] bblommers commented on #4526
@kazanzhy Moto 3.1.0 has now been released.

The `mock_rds2` decorator still exists with the same functionality, but it is recommended to now start switching the decorators to `mock_rds` instead.

[2022-03-12 20:35] dazza-codes commented on #4937
Thanks, changing to `moto.backends` works out.

- `moto.server.backends` is not private
- `moto.server._backends` would have been private

[2022-03-12 20:35] #4937 closed

[2022-03-15 08:05] toshetah opened #4939 "Getting exception when trying to use secrets manager: TypeError: s3_key_response_put() missing 1 required positional argument: 'headers'"
I am trying to run localstack. I am installing on a docker the following packages:

[code]

It installs currently `moto[all]` version 3.1.0
Then, when running in golang the following code:

[code]

Throws the following excpetion:

[code]

I mitigated the issue by reverting `moto[all]` to version `3.0.7`.
I am pretty sure that the commit that caused this issue was https://github.com/spulec/moto/pul

[2022-03-15 11:17] bblommers commented on #4939
Hi @toshetah, it's probably better to raise this with Localstack. That commit is definitely the reason it fails now, but the root cause is the fact that Localstack calls Moto's internal methods with the wrong variables.

See this file: https://github.com/localstack/localstack/blob/5e6162ff4c0880634d4fceacc525a4249f038fb5/localstack/services/s3/s3_starter.py
All these `@patch`-ed methods would need

[2022-03-16 14:24] jmeyer42 opened #4941 "ECR batch_delete_image incorrectly adding failures to reponse"
https://github.com/spulec/moto/blob/eed32a5f72fbdc0d33c4876d1b5439dfd1efd5d8/moto/ecr/models.py#L634-L651

This block of code appears to be indented one level too far and is running for each iteration of the for loop that begins on line 593 instead of only running once after the loop completes. This results in numerous failures being incorrectly added to the response.

[2022-03-16 20:06] leonardoviveiros opened #4942 "Method organizations.list_accounts don't limit accounts by MaxResults"
## Reporting Bugs

When calling `organizations.list_accounts(MaxResults=2)` moto doesn't return only 2 AWS Accounts. It returns all accounts present in the organization.
---

Libraries versions below.
[code]

---
### Code to reproduce

[code]

[2022-03-17 11:06] bblommers commented on #4941
Hi @jmeyer42, this looks OK to me, actually. It tries to delete a batch of images, and per image, if it can't be found, it will add a `failureResponse` to the response for each image that cannot be found.

Do you have a test case (ideally using boto3) that clarifies what is wrong about this logic?

[2022-03-17 19:28] Mainstay-Noah-Huppert opened #4944 "Request: Add Python typing annotations"
Hi. Thank you very much for this helpful library.

Would it be possible to add Python type annoations to the source code of this library? Or [MyPy typing stubs](https://mypy.readthedocs.io/en/stable/stubs.html)?

The benefit is that it would allow users to run a static type checker over their testing code which uses moto.

[2022-03-18 11:12] jhogarth opened #4946 "Timestream Write has the wrong response returned"
### Environment
Python 3.10.2 (and 3.9 in lambda)

Libraries involved installed from pip:
boto3                 1.20.49
botocore              1.23.49
moto                  3.1.0
pytest                7.1.0
pytest-mock           3.7.0

### Expectation for response
The AWS documentation for timestream-write.client.write_records states that the response should be a dictionary of the form:
[code]
http

[2022-03-18 20:15] jmeyer42 commented on #4941
Below is some code and a corresponding test case that illustrate the issue. Note that changing `image_digests[5:7]` to `image_digests[0:1]` will cause the test to pass because the loop in the moto code will set the `image_found` flag in the first iteration of the loop. Passing in anything other than the first image in the repository will trigger the issue.

main.py
[code]

test_main.py
[code]

[2022-03-18 21:04] bblommers commented on #4944
Hi @Mainstay-Noah-Huppert, which parts of Moto do you use that would need type annotations?

Straightforward tests that only use the Moto-decorator wouldn't benefit from any typing, as far as I can see, as the test would only contain boto3-calls.

Note that I'm not against the idea, just trying to gauge the most efficient way of meeting your usecase.

[2022-03-18 21:06] bblommers commented on #4946
Thanks for raising this @jhogarth - marking it as an enhancement.

[2022-03-19 03:36] #4946 closed

[2022-03-20 00:34] #4942 closed

[2022-03-20 04:48] adamcyber1 opened #4952 "Receive message support for SQS"
Hello - why is receive message not supported for SQS? It is one of the core apis.

Is there a plan to support this in the future?

[2022-03-20 04:50] adamcyber1 commented on #4952
Nevermind, looks like its supported its just the docs need to be updated.

[2022-03-20 05:51] #1866 closed

[2022-03-20 11:42] bblommers commented on #4952
Hi @adamcyber1, thanks for raising this! I'll reopen this as a reminder for us to fix the documentation :+1:

[2022-03-20 14:35] AlanDonohoe opened #4955 "Unable to contribute / ERROR: Permission to spulec/moto.git denied"
Hello 👋

I am working on adding support for [Rekognition](https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/rekognition.html).

But when I try and push my branch to moto's repo, I get this error:
[code]

Settings seem to be OK on my side:

[code]

Am I missing something?

Any ideas?

Thank you.

[2022-03-20 16:25] bblommers commented on #4955
Hi @AlanDonohoe! This can be solved  by creating a copy of Moto's repo, using the `Fork`-button in the topright corner of https://github.com/spulec/moto.

After checking our your own copy/fork, you can create feature-branches there - and then create a PR from your branch into `spulec/moto/master`.

Let me know if you run into any issues with that.

[2022-03-20 16:32] AlanDonohoe commented on #4955
Hi @bblommers Fantastic, thank you!

[2022-03-20 16:32] #4955 closed

[2022-03-21 20:55] #4716 closed

[2022-03-22 19:27] jroose opened #4963 "Unable to find appropriate backend for test.bucket.amazonaws.com.Remember"
Hello,

I'm using moto_server on moto versions 3.1.0 and 3.1.1 to mock S3 for testing an S3 backed PyPI server that I'm building.  I'm creating a test_bucket with the following code:
[code]

Then I'm attempting to download a file from it using pip, with a flask server as an intermediary facilitating package listing, uploads, and downloads:
[code]

The call to `s3.Object().get()` works great:
[code

[2022-03-22 20:05] bblommers commented on #4963
Hi @jroose, welcome to Moto!

Where is this URL, `test.bucket.amazonaws.com`, coming from?
Looking at the error message, it looks like the full URL that PyPi tries to connect to is:
`test.bucket.amazonaws.com/test_bucket/repo/axle-test-a/axle_test_a-0.0.0-py2.py3-none-any.whl`

Which looks wrong - IIRC, it should be either `s3.amazonaws.com/bucket`, or `bucket.amazonaws.com/file`

[2022-03-22 20:11] jroose commented on #4963
I'm honestly not sure where the test.bucket.amazonaws.com is coming from -- I assumed it was something within moto.  The output of `pip --verbose` (omtited for brevity) shows that pip isn't/shouldn't be trrying to connect to it:
[code]

The logs prefixed with 127.0.0.1 appear to come from moto_server, so I'm pretty confident pip is connecting to it appropriately, otherwise moto_server wouldn't hav

[2022-03-22 20:28] jroose commented on #4963
I think I've figured this out.  It appears that underscores are invalid in bucket names because AWS normally translates them into DNS names.  As a result, I think moto_server was converting "test_bucket" to "test.bocket".  I replaced "test_bucket" with "testbucket" and now the unit test is passing.

Thanks for your help!

[2022-03-22 20:28] #4963 closed

[2022-03-23 17:45] glungley commented on #4944
Hi both, we have this issue, so maybe I can clarify.

When using moto with the decorators we get errors like the following:
`Untyped decorator makes function "x" untyped [misc]`

Although having types within moto itself would not be of any benefit to these tests. Having the decorators typed would mean we don't have to disable mypy for these tests and lose the value of having it for the boto3-calls

[2022-03-23 20:56] omonimus1 commented on #1941
stil having the same error....

[2022-03-24 11:28] bblommers commented on #2498
In the latest version of CLI, it simply stores the value itself, without fetching anything:
[code]
There is also no reference in the docs to `cli_follow_urlparam`, so it looks like they dropped this behaviour.

I'm assuming that fixes this issue, so I'll close this.

[2022-03-24 11:28] #2498 closed

[2022-03-24 21:01] BenjaminCaffrey opened #4967 "s3 bucket state isn't persisting as I expect"
I'm primarily referencing this [Class Decorator](http://docs.getmoto.org/en/latest/docs/getting_started.html#class-decorator) piece of documentation. This leads me to believe that state created or modified in `setUp(self):` will persist through tests. I run that code and it looks great.

Please let me know if this is a fundamental Python or unittest misunderstanding, but here is my snippet:

[code

[2022-03-24 21:34] bblommers commented on #4967
Hi @BenjaminCaffrey, welcome to Moto! It does work like this, by extending the BaseClass with the unittest.TestCase-class:
[code]

Note that executing the `TestMotoBugBaseClass`-class also fails in this non-Moto example, because the `setUp`-method is not only executed for classes that extend `unittest.TestCase`.
[code]

[2022-03-24 21:36] bblommers commented on #4967
Having said that, looking at your example, running `TestInheritingClass` should pass, as this does extend the `unittest.TestCase`. I'll do some debugging to see why this fails.

[2022-03-24 22:15] bblommers commented on #1155
A bit of an update on this:

The `ec2/utils`-class no longer has any querystring-logic left - everything is now handled by the generic methods like `_get_param()`

The BaseResponse-class now contains a few other methods, like `_get_multi_param`. As far as I can tell, all services are now using these 4/5 methods to read all parameters

The `TaggingService` now exists, which contains centralized log

[2022-03-24 22:20] bblommers commented on #2634
I'll close this, with multiple fixes/workarounds already linked here.

As a reminder, considering the docs have been reworked since, here is a link to the `Recommended Usage` docs that are mentioned earlier in this topic:
http://docs.getmoto.org/en/latest/docs/getting_started.html#recommended-usage

[2022-03-24 22:20] #2634 closed

[2022-03-24 22:21] #4696 closed

[2022-03-24 22:26] BenjaminCaffrey commented on #4967
Thank you @bblommers ! Let me know if there's anything I can do to help.

To clarify my understanding of the situation:

In your snippet, if we were to run `python -m unittest` on the file, we run `TestInheritingClass` (because it inherits from `unittest.TestCase`, which will call `setUp` and subsequently  `test_bug` (because it also inherits from `TestMotoBugBaseClass`, and we see that `self.x =

[2022-03-25 14:08] guimorg opened #4968 "mock_logs delete_metric_filter raises unexpected InvalidParameterException"
#### Issue description

When using the `moto.mock_logs`, `boto3` fails to delete a metric_filter arguing that the `logGroupName` parameter is invalid, even if the log group already exists and that the metric_filter was already created using the same `logGroupName`.

#### Steps to reproduce the issue

Here is a code snippet:

[code]

My environment:

- Python: 3.7.12
- boto3 version: '1.21.26'
- mo

[2022-03-25 14:23] bblommers commented on #4941
Thanks for adding the test case @jmeyer42 - I understand the issue now. Will raise a PR soon. :+1:

[2022-03-26 10:38] bblommers commented on #4967
Yes, that is correct.

The class-decorator is responsible for resetting the state between tests. On basic classes, it will reset before every test-method. If the class extends `unittest.TestCase`, it will reset the state before the `setUp`-method instead.

The underlying issue is that the class-decorator acts on compile-time. The only context we have at that point, is that we are extending `TestMo

[2022-03-26 20:02] bblommers commented on #4968
Hi @guimorg, thanks for raising this! Marking it as a bug. Looks like our regex is a bit too strict when validating the name.

[2022-03-26 21:06] #4968 closed

[2022-03-27 04:10] tekumara opened #4974 "ec2 security group - TypeError: unhashable type: 'list'"
_unhashable.py_:
[code]

[code]

Present in moto 3.1.2 but not previous versions.

[2022-03-27 13:47] bblommers commented on #4974
Hi @tekumara, thanks for raising this! We refactored our EC2 backend a bit, but we didn't have a test for this specific scenario, so we didn't know that was broken. Will push a fix shortly.

[2022-03-27 14:32] #4974 closed

[2022-03-27 16:10] bblommers commented on #4974
This should be fixed with Moto 3.1.3 that was just released. Please let us know if you're running into any other issues!

[2022-03-28 14:15] scottaubrey opened #4979 "EKS CreateCluster response encryptionConfig property should be a List/Array"
# Description

When using moto server, the `CreateCluster` EKS API, the Cluster response object should contain `encryptionConfig` as a List of at-most-one `EncryptionConfig` maps/objects  (as per example here: https://docs.aws.amazon.com/eks/latest/APIReference/API_CreateCluster.html#API_CreateCluster_ResponseSyntax and documented [here](https://docs.aws.amazon.com/eks/latest/APIReference/API_Clus

[2022-03-29 14:15] bblommers commented on #4071
With Moto 3.1.4.dev3 we now have an initial Rekognition implementation, with support for the features `start_text_detection` and `get_text_detection`.

I'll close this, but feel free to open a new issue or PR if you'd like to see any other features!

[2022-03-29 14:15] #4071 closed

[2022-03-29 14:19] #4858 closed

[2022-03-29 15:44] #4894 closed

[2022-03-29 15:45] #4910 closed

[2022-03-29 15:48] #4013 closed

[2022-03-29 16:42] bblommers commented on #4939
Looks like LocalStack are already on this, judging from this PR: https://github.com/localstack/localstack/pull/5706

They are using a fork of Moto behind the scenes, so it may be worth using that instead to ensure full compatibility with Moto: https://pypi.org/project/moto-ext/

[2022-03-29 21:46] #4447 closed

[2022-03-29 21:48] bblommers commented on #4979
Thanks for raising this @scottaubrey!

[2022-03-29 22:40] #4979 closed

[2022-03-30 10:03] #1155 closed

[2022-03-30 10:25] dkatzbuc opened #4987 "When creating ec2 instances from launch template via run_instances, the instances aren't tagged"
I'm using moto in pytest. I have created a launch template using `create_launch_template`. This template is created with `TagSpecifications` for instance and volume.

Upon using `run_instances` to create new instances based on this launch template, their tags are empty. Is this to be expected?

[2022-03-30 14:22] linhmeobeo opened #4988 "elbv2 describe_tags return ResourceArn empty instead of the correct one"
## Reporting Bugs

I am using the latest version of moto for elbv2. After create_load_balancer with moto, which return resource 'LoadBalancerArn': 'arn:aws:elasticloadbalancing:us-east-1:123456789012:loadbalancer/app/loadbalancer/50dc6c495c0c9188'
I ran describe_load_balancers() which returned correct resource,. But when I did describe_tags (ResourceArns =<list of ARN from describe_load_balancers)

[2022-03-30 20:36] bblommers commented on #4987
Hi @dkatzbuc, thanks for raising this - doesn't look like this behaviour is implemented yet. Marking it as an enhancement.

[2022-03-30 20:40] bblommers commented on #4988
Thanks for letting us know @linhmeobeo - will raise a PR to fix this shortly

[2022-03-31 11:40] #4988 closed

[2022-04-01 10:48] glungley opened #4997 "Missing implementation of network attachment describe functionality"
`boto3.client('ec2').describe_network_interfaces()` and `boto3.client('ec2').describe_network_interface_attribute()` have not implemented the attachment parts.

[2022-04-02 17:04] bblommers commented on #4602
QuickSight support as now part of Moto, as of version >= 3.1.4.

All featured listed above should be supported - see the full list of methods in our documentation here: http://docs.getmoto.org/en/latest/docs/services/quicksight.html

I'll close this, but feel free to open a new issue or PR if there's anything else you'd like to see support for.

[2022-04-02 17:04] #4602 closed

[2022-04-04 04:29] deanq opened #5001 "NotImplementedError: The update_user_attributes action has not been implemented"
The documentation shows this function as available and useful for updating current user's attributes without using the `admin_ update_user_attributes` counterpart. But when invoked, this error comes up. Could the documentation be updated to reflect this status?

[2022-04-04 04:29] deanq commented on #5001
Ugh. I thought I was posting on boto's github. Sorry.

[2022-04-04 09:34] gyuvaraj10 opened #5002 "Not able to trigger lambda function using s3 ObjectCreated Event"
Not able to trigger lambda function using s3 ObjectCreated Event

1. I have created an s3 bucket within moto server with the following notification
{
    "LambdaFunctionConfigurations": [
        {
            "Id": "s3eventtriggerslambda",
            "LambdaFunctionArn": "arn:aws:lambda:eu-west-1:000000000000:function:test-lambda",
            "Events": ["s3:ObjectCreated:*"]
        }
    ]
}
2

[2022-04-04 09:44] bblommers commented on #5001
It looks like you're in the right place @deanq - not all services/features are supported yet in Moto, and that is the generic error used in Moto when a method is not yet supported.
(The full list of what we do support can be found here: http://docs.getmoto.org/en/latest/docs/services/cognito-idp.html)

I'll mark this as an enhancement. PR's are always welcome, if you'd like to contribute!

[2022-04-04 09:52] bblommers commented on #5002
Hi @gyuvaraj10, welcome to Moto! The S3-triggering functionality is indeed not yet implemented. There is already an outstanding issue for this though, #1541, so I'll close this as a duplicate.

[2022-04-04 09:52] #5002 closed

[2022-04-04 10:00] gyuvaraj10 commented on #5002
Is this automated triggering functionality not available only with S3 and SQS ? or the automated functionality itself not available with Moto?

[2022-04-04 10:17] #4997 closed

[2022-04-04 10:20] bblommers commented on #5002
None of it is implemented at the moment. We persist the notification configuration, but we don't do anything with it.

[2022-04-06 08:09] eliasdorneles commented on #416
Hello! :wave:
I've came back just to say thanks!
Have a good day! 😀

[2022-04-06 14:44] Shpionus opened #5008 "cognito-idp can't find users pool by client id"
My AWS profile is configured to work with  `us-west-2`

~/.aws/config
[code]

I created new `test-pool` user pool.
[code]

[code]

Then created a new client id

[code]

[code]

I may find clients by pool id
[code]

[code]

But the service does not find correct pool when I'am trying to signup a new user

[code]
[code]

But it works when the `default` profile is configured to use `us-east-1` region.

[2022-04-06 20:48] bblommers commented on #5008
Hi @Shpionus, thanks for raising this, and for providing a detailed repro!

[2022-04-06 22:04] bblommers commented on #1541
With #5007 merged, a first iteration of this is now available as of moto >= 3.1.5.dev7.
We currently only support targets `AWSLambda` and `SQS`, for events `s3:ObjectCreated:Copy` and `s3:ObjectCreated:Put`.

An up-to-date list of what's supported can be found here: http://docs.getmoto.org/en/latest/docs/services/s3.html

@Syntactical01 This implementation does not include any hooks. As a workarou

[2022-04-06 22:04] #1541 closed

[2022-04-06 22:05] bblommers commented on #5002
@gyuvaraj10 FYI:

A first iteration of this is now available as of moto >= 3.1.5.dev7.
We currently only support targets AWSLambda and SQS, for events s3:ObjectCreated:Copy and s3:ObjectCreated:Put.

An up-to-date list of what's supported can be found here: http://docs.getmoto.org/en/latest/docs/services/s3.html

Feel free to open a new issue/PR if there is a another target or event that you'd lik

[2022-04-07 16:04] Gabe1203 opened #5010 "DynamoDB - Provide full cancellation reasons for write_transactions failue"
When using boto3 and `write_transactions`, if the transaction fails we normally get an error response that includes the full cancellation reasons:

[code]

when using moto (version 2.3.0) this object is not returned on transaction failure, we just get the error message:
`"Error with transaction: An error occurred (TransactionCanceledException) when calling the TransactWriteItems operation: Transac

[2022-04-07 22:27] bblommers commented on #5010
Hi @Gabe1203, welcome to Moto! Will mark it as an enhancement to extend the error handling here.

[2022-04-08 10:08] #4195 closed

[2022-04-08 18:39] bearrito opened #5014 "Search Transit Gateway Returns Cached Routes"
Searching for transit gateway routes seems to cache routes. The first search will work, but subsequent searches only return the first value you searched for.

[code]

[code]

[2022-04-08 20:06] n3rdgir1 opened #5015 "Feature Request: Implement describe_queries and get_query_results for LogsBackend"
I get the `NotImplementedError` for `describe_queries` and `get_query_results`.

[2022-04-09 01:16] AltafHussain4748 opened #5016 "httpretty.errors.UnmockedError: Failed to socket.setblocking because because a real socket does not exist"
I am using `moto` a python library to mock aws services. On my local everything works fine but on teamcity I get the error

[code]

I am usning ```httpretty==1.1.4``` with python3.8.

[2022-04-09 21:45] #5010 closed

[2022-04-11 10:55] ospikovets commented on #3301
Any chances this one is in the roadmap? Would be a helpful testing enhancement for the project I'm working on.

[2022-04-11 13:05] szczeles commented on #2101
@bblommers Unfortunately, it still doesn't work, I just faced the issue in 3.1.4 release.

The [internal test](https://github.com/spulec/moto/blob/3.1.4/tests/test_ecs/test_ecs_boto3.py#L1730) calling `run_task(launchType="FARGATE")` actually registers instance before, so simulates EC2 launch type, not the Fargate launch. If you drop `client.register_container_instance` from the test, it will stop

[2022-04-11 14:52] saichander17 opened #5017 "mock_s3 on inherited classes doesn't work"
What I've observed is that if I added the decorator mock_s3 to a parent class and not add the decorator to the child class, the child class s3 instances won't be mocked. Is this expected? Couldn't find anything related to this. So, posting it here.

Below is the code snippet I used.

[code]

This is the following console log I get in the response

[code]

As you can see above, after the line Child

[2022-04-11 15:27] kaladurga commented on #4913
Facing the same issue as
cls = <class 'jinja2.environment.Template'>, args = ()

    def __newobj__(cls, *args):

E       TypeError: __new__() missing 1 required positional argument: 'source'

/usr/local/lib/python3.9/copyreg.py:95: TypeError

Updating moto version to 3.0.7 also not worked for me. Can any body suggest ??

[2022-04-11 15:32] kaladurga opened #5018 "Moto error"
I'm facing the issue when running unittest cases in python

cls = <class 'jinja2.environment.Template'>, args = ()

    def __newobj__(cls, *args):

E       TypeError: __new__() missing 1 required positional argument: 'source'

/usr/local/lib/python3.9/copyreg.py:95: TypeError

updated to moto 3.1.4 version still facing same issue

[2022-04-11 18:55] bblommers commented on #5014
Hi @bearrito, thanks for raising this! Looks like the root cause is that we do not support searching by `route-search.exact-match` yet. Will raise a PR shortly to fix this.

[2022-04-11 19:03] bblommers commented on #5015
Hi @n3rdgir1, thanks for raising this! Will mark it as an enhancement.

If you're interested in implementing these features yourself, PR's are always welcome! We have some documentation here: http://docs.getmoto.org/en/latest/docs/contributing/index.html - happy to answer any questions if this is something you want to look into.

[2022-04-11 19:05] bblommers commented on #5016
Hi @AltafHussain4748, which version of Moto are you using?

Can you also share an example test case that throws this error, and a full stacktrace?

[2022-04-11 19:08] bblommers commented on #2101
Hi @szczeles, thanks for letting us know. A PR would be very welcome - let me know if you need any help around this!

[2022-04-11 19:42] bblommers commented on #5017
Hi @saichander17, the decorator adds the mock-behaviour at compile-time. At compile-time we only know about `Parent::create`, so the mock will be started before this method executes, and ends after this method has finished.
Any code executed afterwards is no longer mocked.

In your example, the mock only needs to be added to the `Child`-class, to ensure that the mock is active around the `Child::c

[2022-04-11 19:43] #5014 closed

[2022-04-11 19:44] bblommers commented on #5018
Hi @kaladurga, do you have small reproducible example for your test case? Can you share the other dependencies used in this project, particularly the version of `responses`?

[2022-04-12 05:46] saichander17 commented on #5017
Yes, Thanks for the detailed answer. I think this info should be available somewhere in the documentation to avoid the confusion.

[2022-04-12 09:48] kaladurga commented on #5018
No I haven't used the responses vesrion

[2022-04-12 10:41] kaladurga commented on #5018
These are the dependencies which I have used
moto 2.3.0
mock
unittest2 1.1.0
pytest 6.0.0

[2022-04-12 16:59] davidaah opened #5021 "Moto missing new EC2 Subnet attribute "Ipv6Native""
The EC2 Subnet data model was updated to support the launch of IPv6-only subnets as seen in the `Response Syntax` here: https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/ec2.html#EC2.Client.describe_subnets

As part of this release a new attribute was added to indicate that a subnet is IPv6 only.

While it would be nice to add full support for ipv6 only subnets to moto ove

[2022-04-12 21:02] ikonst opened #5022 "DynamoDB backend erroneously accepts JSON integers for numbers"
DynamoDB backend erroneously accepts JSON integers for numbers. The AWS DynamoDB backend responds with a `SerializationException` when attempting a PutItem with `{"N": 123}` (rather than `{"N": "123"}`) but moto's dynamodb backend silently accepts it.

[2022-04-13 11:58] bblommers commented on #5018
`responses` is a dependency from Moto, so it will be installed. We'll also still need a test case, something reproducible that will always throw this error.

[2022-04-13 11:59] bblommers commented on #5021
Hi @davidaah, thanks for raising this - will mark it as an enhancement.

If you want to contribute this to Moto, PR's are always welcome!

[2022-04-13 12:00] bblommers commented on #5022
Hi @ikonst, thanks for raising this - will mark it as an enhancement to implement this validation.

[2022-04-14 09:21] JimFawkes opened #5025 "Original Code returns response with AccessDenied in Body while Test using Moto raises ClientError"
I have some code that deletes files from S3 for a given prefix. I would now like to test the handling of an `AccessDenied` response. However when running the code from my tests using `moto`, I get a ClientError while my actual code returns a response with an error in the body.

Am I doing something wrong in the test or does the behaviour of moto and boto3 diverged here? Is there a way to mock the

[2022-04-14 13:33] JimFawkes commented on #5025
The same is true if I use a role in my test and attache the policy to it so that the test ends up looking as follows:
[code]

[2022-04-14 19:34] kevho48 opened #5026 "EnabledCloudwatchLogsExports Rds Functionality Gap"
Mocking the RDS inputs for `EnabledCloudwatchLogsExports` does nothing because support for this is missing in
https://github.com/spulec/moto/blob/master/moto/rds/responses.py

Currently using the latest version of Moto (3.1.5.dev4)

[2022-04-15 09:52] forzagreen commented on #3292
Works with `moto==3.1.4`:
[code]

[2022-04-15 15:23] bsneider opened #5027 "ACCOUNT_ID Override is not working"
Moto version's tried master branch and 3.1.4

[code]
this fails.

Expected behavior would be resp["Account"].should.equal("MEMEMEMEME")

This test is being run with pytest. Several other ways to patch env variables have been tried. As seen in the test though the env variable is properly set. That is know bc `os_account_id.should.equal(dummy_account_id)` passes.

## Reporting Bugs

Please be aware

[2022-04-15 19:04] thehesiod opened #5030 "s3 backend double decoding query string"
This is an injection introduced perhaps when bumping flask version
added a test here: https://github.com/spulec/moto/pull/5029

[2022-04-15 19:07] thehesiod commented on #5030
originally found via our test here: https://github.com/aio-libs/aiobotocore/commit/643d041fcebb3f3867950bfb689493d394995246

[2022-04-16 14:46] iainelder opened #5034 "How to paginate Organizations:ListAccountsForParent?"
Moto3 doesn't yet paginate the response from Organizations list_accounts_for_parent.

I need to paginate this API in my application and I'd like to test it with moto.

I tried to implement it myself by adapting the changes for the list_accounts API made recently in #4951.

My implmenetation is failing to iterate beyond the first page.

Below I've included a Pytest suite with my implementation and

[2022-04-16 14:55] iainelder commented on #5034
I just figured it out as soon as I looked again at the code after publishing this!

For whatever reason I can't pass the complete `request_params` to the model method.

Instead I need to parse out just the `ParentId` and pass it as a named parameter.

[code]

With that modification, all the tests pass.

Does this look like the right way to implement such a feature?

I'd prefer to include this feat

[2022-04-16 20:10] bblommers commented on #5025
Hi @JimFawkes, welcome to Moto!

Looks like we always raise a very generic AccessDenied-exception, which is the same across all S3-actions. I'll mark it as an enhancement to return a specific error for the S3:DeleteObjects-action

https://github.com/spulec/moto/blob/d9ce753cf52e5fa9ea8dafd7b5a3f6d6ae7f6286/moto/iam/access_control.py#L322

[2022-04-16 20:12] bblommers commented on #5026
Hi @kevho48, thanks for raising this - will mark it as an enhancement.

Just to clarify - do you only need this field to show up in the response, or do you also want the actual logs to show up in CloudWatch? Both are possible, of course, but the first would be easier to implement for whoever picks this up.

[2022-04-16 20:47] bblommers commented on #5027
Hi @bsneider, thanks for raising this - will mark it as a bug.

In case it is helpful, the workaround would be to patch/set the environment variable before Moto is loaded/imported.

[2022-04-16 21:00] bblommers commented on #5034
Hi @iainelder, welcome to Moto! That looks like the right way to implement this, yes - a PR would be very welcome :+1:

[2022-04-17 13:22] iainelder commented on #5034
Thanks, @bblommers ! I really appreciate the work you are doing with Moto. I'll review the developer documentation and have a proper go at this over the next few days.

[2022-04-18 17:14] bsneider commented on #5027
Do you have an example @bblommers

I tried the following and it still failed
[code]

[2022-04-18 18:34] iainelder opened #5036 "make raises error "invalid command 'bdist_wheel'""
Following the [developer installation instructions](http://docs.getmoto.org/en/latest/docs/contributing/installation.html) to work on #5034, I run make in a virtualenv like this:

[code]

The packages `sure`, `regex`, and `inflection` raise an error about building wheels.

Exmple error for `sure`:

[code]

It seems that they do get installed in the end. When I run make a second time the error does

[2022-04-18 21:30] bblommers commented on #5027
This works for me @bsneider:
[code]
Note that's in a otherwise empty file, with no other imports coming from `__init__.py` for instance.

[2022-04-18 22:09] iainelder commented on #4944
Python typing annotations would be really useful for developers too.

I just started looking at the Organizations module and I wish I had types :-)

All the backends should return the same types as the boto3 clients do. By following what [boto3-stubs](https://pypi.org/project/boto3-stubs/) declares for the real boto3 library, I think it would make the mocks easier to maintain.

Bert, would you acc

[2022-04-19 19:01] bblommers commented on #4944
This is not necessarily true. Moto only intercepts the HTTP request that boto3 makes to AWS, so boto3 will still run a post-processing step after receiving the (mocked) response.
In a lot of cases, if we return a JSON-response it may look like the response from the boto3-client, but it's not guaranteed.

Are you suggesting to add it as a dev-dependency, and running mypy (on the organizations-modul

[2022-04-19 19:08] bblommers commented on #5036
No, that shouldn't be necessary. I've never seen these issues before, actually. I've just tested it out with a clean venv, with the same versions of Ubuntu/Python, and I'm not seeing anything weird.

Are you seeing any test failures, or unexpected behaviour, that may be caused by this?

[2022-04-19 20:32] iainelder commented on #4944
That's exactly what I was thinking. In my branch I've added mypy to the Makefile lint target and I've configured mypy to ignore everything except the organizations module and tests. That allows typing to be introduced gradually, and to ignore it where adding it is not worth the effort right now.

If you want to see how it works, you can check my branch https://github.com/iainelder/moto/tree/organi

[2022-04-19 20:39] iainelder commented on #5036
I saw some test failures and submitted a patch for them in #5039 . I struggle to see how the time zone failures would be related to the presence of wheel. (I also struggle to believe that I'm the first to work on the project in a "weird" time zone, but that's another story :joy: .)

It might even be something weird I've done in my own env like delete one of the parts of system Python. I'm unfailia

[2022-04-20 11:35] Shpionus commented on #5008
I tested [3.1.5 image](https://hub.docker.com/layers/moto/motoserver/moto/3.1.5/images/sha256-79050ce5b729f6eff3282a79dace9cb7e5983588250452f8821aeffa87eca334?context=explore).

Sign up works. New user is registered, but some other methods still do not work.
For example: `confirm-sign-up`.

[code]

[code]

[2022-04-21 03:03] Guriido opened #5042 "SES verify_email_identity is not idempotent"
Using `verify_email_identity` on an existing identity with boto3 allows to re-send the verification email, without creating a duplicate identity.

However, in moto it duplicates the identity.

[code]

There is no check before adding the address to the identities, hence this behavior.
https://github.com/spulec/moto/blob/fc170df79621e78935e0feabf0037773b45f12dd/moto/ses/models.py#L133-L136

I will p

[2022-04-21 11:27] #5042 closed

[2022-04-21 11:58] bblommers commented on #5008
The fix was specific for `sign_up` - I didn't realize this happened for other methods as well.
Do you happen to  have a full list of which methods are not working for you? As this will probably have to be fixed on a case-by-case basis

[2022-04-21 14:11] bblommers commented on #2662
As far as I can tell, `dimensions` has been supported for `get_metric_statistics` as of moto >= 2.2.0.dev6, with the merging of #4082.
I'll close this, but let me know if I've missed anything, or if there's anything else you'd like to see support for!

[2022-04-21 14:11] #2662 closed

[2022-04-21 21:48] iainelder commented on #5036
I can reproduce it in Docker like this. Can you?

To avoid the error, I uncomment the command to install wheel.

[code]

[2022-04-22 03:36] geraldstanje commented on #1941
@omonimus1 where you able to fix it - if so could you share how you fixed it?

[2022-04-22 07:27] Shpionus commented on #5008
I do not have the full list right now. Because `sign-up` and ` confirm-sign-up` the first actions in user's flow. I'll try to test other requests somehow.

[2022-04-22 07:47] farmankazmieshaafi opened #5047 "CognitoIDP: The global_sign_out action has not been implemented"
self = <moto.cognitoidp.responses.CognitoIdpResponse object at 0x000002058799AA60>

    def call_action(self):
        headers = self.response_headers

        try:
            self._authenticate_and_authorize_normal_action()
        except HTTPException as http_error:
            response = http_error.description, dict(status=http_error.code)
            return self._send_response(headers, respon

[2022-04-22 09:23] iainelder commented on #5036
I've submitted a fix in #5048.

Now I see this towards the start of the installation process:

[code]

And see this towards the end:

[code]

No more errors about wheel!

[2022-04-22 16:23] bblommers commented on #3219
Hi @davido-bs, the creation of volumes defined in launch configurations is now fixed with #5050, part of moto >= 3.1.6.dev13. I'll close this, but please let us know if  you're running into any other issues.

[2022-04-22 16:23] #3219 closed

[2022-04-23 14:25] JavierLopezT opened #5053 "Unable to check if s3 prefix exists"
I am trying to check if a s3 prefix exists. My code so far is:

[code]

I always get False because the response from `list_objects_v2` is

[code]
Same problem with `boto3.resource('s3').Bucket(S3_BUCKET).objects.filter(Prefix=S3_PREFIX)`. I can't check on the `HTTPStatusCode` because even if the key has not been created previously, I get a 200 code. I can't use the boto3 function `get_object_head(

[2022-04-23 19:44] bblommers commented on #5036
OK, so the underlying issue is that these packages do not have a wheel (or build distribution) (for this particular python-version at least). The fallback is to download the source code instead, and create a wheel on the fly.

This can be seen by looking at the files being downloaded when running `make`:
[code]

This has been fixed by https://github.com/pypa/pip/issues/8102, so this error goes awa

[2022-04-23 20:34] bblommers commented on #5047
Thanks for raising this @farmankazmieshaafi - will mark it as an enhancement to add this feature!

[2022-04-24 10:36] iainelder commented on #5036
I don't see anything in the [pip changelog](https://pip.pypa.io/en/stable/news/) to explain the change in behavior since pip 20.0.2. But it works as you describe with pip 22.0.4.

Pip version before upgrade:

[code]

Pip version after upgrade:

[code]

For the sure package I now see output like this:

[code]

The output is similar for the future package.

It looks like the problem is now avoided f

[2022-04-24 11:30] bblommers commented on #5036
Yeah - PIP is something else! It's a really complicated module, both in terms of logic and code architecture

My first attempt was using `virtualenv path`, so wheel is installed immediately.
My second attempt was using `python -m venv`, but that installation used the wheel-module that was cached, in `~/.cache/pip/..`, so that also worked without errors.
Only when running your Docker-example, i.e.

[2022-04-24 13:50] bblommers commented on #5053
Hi @JavierLopezT, which version of Moto are you on? I can't reproduce this, unfortunately - using your example, the key is always returned for me.

For reference, these are our internal unit tests using the Prefix-argument, and they all return the correct data as far as I can tell:

https://github.com/spulec/moto/blob/96996b6b4673f5673478758571c296a2a65c9eb0/tests/test_s3/test_s3.py#L463

https://

[2022-04-24 14:24] iainelder commented on #5036
That makes sense, so I'll close the attached PR.

Does this refer to the behavior in the initial report? I'd still like to avoid that if there's an easy way to do so until the long-term solution is implemented. But if there's no easy acceptable solution I would accept to do nothing.

Can we do this by requiring a minimum pip version in requirements-dev.txt? I haven't tested it yet, but pip can upg

[2022-04-24 17:43] JavierLopezT commented on #5053
Thanks for replying. I am using moto 3.1.5

[2022-04-24 21:35] bblommers commented on #5036
Yes, exactly. Reading the output of the intitial report, it looks like Pip has a try-catch mechanism, where it will try to execute the `bdist_wheel` command, but it doesn't work, it will use `setup.py install` instead.
Assuming that's right, the error that shows up is really irrelevant - and the behaviour of the latest Pip is more user-friendly by just showing a warning or info-statement that Pip

[2022-04-24 21:37] #4923 closed

[2022-04-24 21:52] bblommers commented on #5053
I've created a small project to reproduce this here:
https://github.com/bblommers/moto-s3-list-objects/blob/main/test/test_s3.py

The CI configuration, that just installs Moto and executes the one test:
https://github.com/bblommers/moto-s3-list-objects/blob/main/.github/workflows/test.yml

The test result can be found here, where you can see the `Contents`-key is indeed returned:
https://github.co

[2022-04-25 09:41] 1oglop1 opened #5059 "Route53 should raise an exception when record already exists"
Hi, I'm trying to mock route53 and test my function, however, I noticed that moto does not raise an exception that real route53 does. This does apply for CREATE and DELETE actions maybe even for UPSERT

moto version = 3.1.4

## How to reproduce
Call `route53_client.change_resource_record_sets` two times with the same parameters.

## Expected behaviour

1st call -> returns a response
[code]
2nd cal

[2022-04-25 17:07] iainelder commented on #5036
It's a moot point since we can't control the order in which dependencies get installed in a requirements file. The errors still occur with `pip>=22.0.4` at the top of requirements-dev.txt.

So I think we can just live with it and close this.

Thanks for helping me to understand pip's intricacies!

[2022-04-25 17:07] #5036 closed

[2022-04-25 18:27] JavierLopezT commented on #5053
Thank you very much for your time. I guess I had a typo/error somewhere because indeed your code works perfectly. Now I know where to look at if I have more doubts before asking. Thank you very much again and have a nice day

[2022-04-25 18:27] #5053 closed

[2022-04-25 20:11] bblommers commented on #5036
Thank you for raising this, @iainelder! It's always good to get feedback on the onboarding process, and if nothing else, it gave us a reason to cleanup the requirements.txt :)

[2022-04-25 20:14] bblommers commented on #5059
Thanks for raising this @1oglop1 - will mark it as an enhancement to implement this validation.

[2022-04-26 09:16] valentin994 opened #5061 "Moto mock_all raises TypeError"
When runing python -m pytest:
[code]
E   TypeError: __init__() takes 1 positional argument but 2 were given

List of packages installed:

- anyio                 3.5.0
- attrs                 21.4.0
- aws-lambda-powertools 1.25.9
- aws-xray-sdk          2.9.0
- awscli                1.23.0
- biopython             1.79
- boto3                 1.22.0
- botocore              1.25.0
- certifi

[2022-04-26 09:18] valentin994 commented on #5061
closing, i forgot to brackets on it.

[2022-04-26 09:18] #5061 closed

[2022-04-26 11:36] iainelder opened #5062 "Upgrade flake8 to allow type-ignore comments"
Can we upgrade flake8 to the latest version? That's 4.0.1 at the time of writing.

We need to upgrade for compatibility with the mypy static type checker. Mypy's use was approved in #4944.

Mypy supports the use of [control comments](https://mypy.readthedocs.io/en/stable/common_issues.html#spurious-errors-and-locally-silencing-the-checker) to silence type errors.

In my [organizations-fixes](https

[2022-04-26 12:54] iainelder opened #5063 "Organizations close_account doesn't match public API"
The Organizations close_account API was added in #5040.

It doesn't match the spec of the public [CloseAccount](https://docs.aws.amazon.com/organizations/latest/APIReference/API_CloseAccount.html) API.

The current implementation does neither of those things:

Here's the current implementation:

[code]

The current implementation returns a CloseAccountStatus object. This does not exist in the publ

[2022-04-26 13:21] paulmdavies opened #5064 "Creating an SQS Queue instance using the queue's name (instead of the URL) causes failures when sending messages"
This appears to be an undocumented feature of boto3 that isn't mirrored in moto.

It occurs with the latest versions of boto3 (`1.22.0`) and moto (`3.1.6`)

Source code:
[code]

Test Code:
[code]

Reproduction steps:
- Create a file called `simple.py` containing the source code above
- Create a file called `test_simple.py` containing the test code above
- Create an SQS queue called `my-test-queue`

[2022-04-26 19:18] tzven0 opened #5065 "mocked CloudWatch does not differentiate metrics when they share the dimension"
Hey,

i didn't have the time to dig deeper, but i realized that i had to switch to an older version than 3.1.6 since the following fails with 3.1.6 but does not with 3.1.5 or older, trying to add two metrics with different metric name that share the same dimension and receiving them separately:

[code]

So, when checking out 3.1.5 and adding this test to the tests/test_cloudwatch/test_cloudwatch_b

[2022-04-26 21:28] bblommers commented on #5062
Make sense @iainelder. I'll create a PR that fixes the linting issues on the new flake8.

[2022-04-27 04:09] ianw opened #5067 "Not throwing error when describing an image that has been deleted recently breaks boto3"
Hello,

We have some CI that has started failing and I've tracked it down to https://github.com/spulec/moto/commit/752eee1941de3214eea01d9649f33456aedf097c#diff-9dba1b3c572ca75c4c0f539c78301a8c8300e8b42825d4e4286b95eb99827944R229

The code that broke is roughly

[code]

After https://github.com/spulec/moto/commit/752eee1941de3214eea01d9649f33456aedf097c# this has started failing with

[code]

I ha

[2022-04-27 10:06] bblommers commented on #5067
Hi @ianw, thanks for raising this!

To give some background here, this functionality was tested by taking the following steps in AWS:
 - Copy a public AMI
 - Delete that AMI
 - Try to describe the AMI

Describing the recently deleted AMI acts exactly as you described - it returns `None`

For reference, this is a test case in boto3 that I've just created, that shows this behaviour:
[code]

If you r

[2022-04-27 10:35] ianw commented on #5067
Thanks for those detailed notes.  I feel like the ```AttributeError``` from boto is more oversight than a planned response to this situation, but of course this isn't moto's fault.  But thank you, as it validates catching this exception is the right thing to do.

The ```image.state == 'deleted'``` came in via https://review.opendev.org/c/zuul/nodepool/+/830527/3/nodepool/tests/unit/test_driver_aws

[2022-04-27 11:11] tzven0 commented on #5065
I had a quick look into the latest code changes from [#5041](https://github.com/spulec/moto/pull/5041). The PR [#5068](https://github.com/spulec/moto/pull/5068) fixes this issue according to the provided test.

[2022-04-27 11:14] dickensas opened #5069 "Unable deploy AWS API Gateway v2 in server mode"
I am using moto in server mode deploy lambda, s3, apigatewayv2
[code]
I am using terraform CDKTF to create the stage code in tyhpescript
http://localhost:5000/restapis/axl0ydav4s/mylambda/_user_request_/sayhello
how can I invoke the URL in this format ?

[2022-04-27 11:59] #5062 closed

[2022-04-27 16:25] iainelder commented on #5062
Thanks for the quick resolution! I'll check how mypy works soon and confirm.

[2022-04-27 18:13] jeblair commented on #5067
I ran a test with a snapshot from an image upload (which is what our system is doing) and am also unable to produce a `deleted` result.  I think we should assume that is an error.

[2022-04-27 18:19] iainelder commented on #5062
Now flake8 plays nicely with mypy's type-ignore comments. Thanks!

[2022-04-27 20:24] dacort opened #5071 "Feature Request: EMR Serverless"
Hi, AWS employee here! 👋

[EMR Serverless](https://docs.aws.amazon.com/emr/latest/EMR-Serverless-UserGuide/emr-serverless.html) is a new deployment option for EMR, currently in preview. It'd be great to get coverage for some of the API actions [listed here](https://docs.aws.amazon.com/emr-serverless/latest/APIReference/API_Operations.html) including starting/stopping applications, and actions arou

[2022-04-27 20:45] bblommers commented on #5065
Thanks again for raising this and immediately fixing it  @tzven0 - much appreciated.

[2022-04-27 20:45] #5065 closed

[2022-04-27 21:03] bblommers commented on #5064
Hi @paulmdavies, thanks for raising this. This validation was introduced in #3657 - as a workaround, you should be able to downgrade to Moto 2.2.5.

That PR was introduced specifically because I noticed AWS would throw this error when supplying an invalid URL. I'll do some digging to see what's going on here

[2022-04-27 21:37] bblommers commented on #5069
Hi @dickensas, are you unable to deploy this, or do you make a HTTP request to the mocked gateway?

The latter is not yet supported for APIGatewayv2. I'll mark it as an enhancement, but this would be quite an undertaking, so it would take a while before this is implemented.

Have you looked into LocalStack? Their functionality is similar to Moto, but with much better integration between APIGateway

[2022-04-27 21:59] bblommers commented on #5071
Hi @dacort, welcome to Moto! Support for new services is always welcome - great to hear that you want to contribute here.

My usual advice when starting a completely new service is to use our scaffold-script - but considering that creates a template based on data coming from `boto`, that will not help you.

We do already have support for [EMRContainers](https://github.com/spulec/moto/tree/master/m

[2022-04-27 22:30] dacort commented on #5071
Thanks @bblommers!

Thankfully, we are providing a model file during the preview and looks like Moto picks it up just fine!
![image](https://user-images.githubusercontent.com/1512/165641897-4880d5b7-7053-476f-b062-c477ab9a61c0.png)

So looks like I can at least get started locally and get that PR button ready.

[2022-04-27 22:51] #5064 closed

[2022-04-28 03:57] dickensas commented on #5069
Hi
I went through API Gateway V2 in localstack, it is only available in pro version.

So as per your comment if it is not implemented yet, that answers my question

But if it cannot be invoked vi URL, is it possible to invoke via python or any other language? I don't want to invoke the lamba but I want to invoke the api gateway via code so that my testing will be completed without skipping the API

[2022-04-28 04:00] ianw commented on #5067
Thank you both for the helpful feedback.

I kept investigating, and I think that https://github.com/boto/boto3/issues/2531 describes this issue on the boto3 side.  It seems right now we just need to catch the AttributeError.

[2022-04-28 04:00] #5067 closed

[2022-04-28 09:56] bblommers commented on #5069
Ah, my bad, I didn't realize that.

No, that's not possible at all at the moment. The only way to test the gateway is via [the implemented boto3-methods](https://github.com/spulec/moto/blob/master/IMPLEMENTATION_COVERAGE.md).

[2022-04-29 02:14] mdavis-xyz opened #5075 "Add SES v2 coverage docs"
Amazon released AWS SES v2 [earlier this week](https://aws.amazon.com/about-aws/whats-new/2022/04/amazon-ses-v2-supports-email-size-40mb-inbound-outbound-emails-default/). In boto3 this appears as `boto3.client('sesv2')`.

The moto implementation coverage does not mention it yet. Please update the coverage doc to say it is not covered.

Of course it would be good if the functionality was added to

[2022-04-29 02:17] mdavis-xyz opened #5076 "SES v2 send_email"
Amazon announced a new version of the SES API earlier this week.

I would like to use the new [`send_email` call](https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/sesv2.html#SESV2.Client.send_email) with moto.

In boto3 this appears as `boto3.client('sesv2').send_email()`, compared to the old `boto3.client('ses').send_email()` and `.send_raw_email()`.

I haven't yet looke

[2022-04-29 03:27] dickensas commented on #5069
Great may be I will put effort and implement it for you as a contribution

[2022-04-29 03:27] #5069 closed

[2022-04-29 12:06] bblommers commented on #5076
Hi @mdavis-xyz! As Moto intercepts the underlying HTTP request that boto3 sends to AWS, implementing any service consists of two things:
 - Discover and decode the format of the HTTP request/response.
 - Implement the actual mock-behaviour

The first part will always need to happen, for any service. Once that's done, the actual mock-behaviour can probably just call the SES backend instead, and reu

[2022-04-29 12:09] bblommers commented on #5075
Thanks for raising this. We'll  update the implementation doc on our next release, potentially this weekend.

[2022-04-29 21:35] sirrus233 opened #5081 "DynamoDB BatchGetItem should return UnprocessedKeys when response exceeds 16MB"
**What I expect to happen:**
A BatchGetItem call to a moto dynamodb instance which would return > 16 MB of data should only return a partial result, with any unprocessed keys being returned under a separate key in the response.

**What is happening:**
BatchGetItem returns all results, regardless of the size of the response.

Documentation: https://docs.aws.amazon.com/amazondynamodb/latest/APIRefer

[2022-04-30 10:03] #5063 closed

[2022-04-30 11:02] bblommers commented on #5075
This is actually already covered - the [implementation coverage document](https://github.com/spulec/moto/blob/master/IMPLEMENTATION_COVERAGE.md) has an `Unimplemented`-section at the bottom that lists SESv2.

I agree that it's quite hidden - but considering the length of services that we do not cover, I dont' know whether there's a better way to represent this - happy to hear any suggestions aroun

[2022-04-30 11:02] #5075 closed

[2022-04-30 11:10] bblommers commented on #5081
Thanks for raising this @sirrus233 - will mark it as an enhancement to implement this validation.

If this is something you'd like to contribute yourself, PR's are always welcome!

[2022-05-01 13:52] #4746 closed

[2022-05-01 19:27] #4987 closed

[2022-05-01 21:04] #5001 closed

[2022-05-01 21:04] #5047 closed

[2022-05-01 22:38] mdavis-xyz commented on #5075
Ah, I see. For implemented services the service name is the section name. For unimplemented services the string `ses` is *inside* the collapsed section. So when I searched for `ses` with ctrl-f, my browser skipped over it. (I didn't realise that was the behavior of ctrl-f in Firefox.)

[2022-05-02 09:45] bblommers commented on #2990
Hi @theslloyd - is this still an issue?

[2022-05-02 11:41] bblommers commented on #4798
I'm going to close this. I'm not averse to making changes here, but it doesn't look like there is a lot of support for this move.

[2022-05-02 11:41] #4798 closed

[2022-05-02 12:23] theslloyd commented on #2990
@bblommers fixed with an upgrade of requests library

[2022-05-02 12:23] #2990 closed

[2022-05-02 15:00] #2625 closed

[2022-05-03 20:40] mattBrzezinski opened #5091 "Implement `db-cluster-id` filter for RDS DBInstanceAvailable waiter"
## Overview
* boto3 == 1.22.5
* botocore == 1.25.5
* moto == 3.1.7

When attempting the code below we get an error `FAILED tests/{REDACTED} - NotImplementedError: db-cluster-id filter has not been implemented in Moto yet.`

[code]

The boto3 documentation for [RDS.Waiter.DBInstanceAvailable](https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/rds.html#RDS.Waiter.DBInstanceAv

[2022-05-04 08:16] RudolfVonKrugstein opened #5092 "list_roles should not return Tags"
While the boto3 documentation suggests, that `list_roles` should return Tags, acording to this issue: https://github.com/boto/boto3/issues/1855 the documentation is simply not correct. `list_roles` does not return Tags.

But in case of moto, list_roles indeed returns Tags. I think this should not be the case, so that moto behabes the same way as boto3.

[2022-05-04 08:46] RudolfVonKrugstein commented on #5092
My comment is incorrect, I had code working around the "issure" and after looking not looking at it for a while, I thought moto was wrong. But my workaround is wrong.

[2022-05-04 08:46] #5092 closed

[2022-05-04 09:33] bblommers commented on #5091
Hi @mattBrzezinski, welcome to Moto, and thanks for raising this! Will mark it as an enhancement to implement this filter.

[2022-05-04 11:38] Shpionus commented on #5008
Hellow @bblommers, I'm sorry for a long response.

Following methods work good: `sign-up`, `confirm-sign-up`, `forgot-password`, `confirm-forgot-password`, `initiate-auth`.
But [get-user](https://docs.aws.amazon.com/cli/latest/reference/cognito-idp/get-user.html) does not work. It returns following error for the valid token:

`An error occurred (NotAuthorizedException) when calling the GetUser ope

[2022-05-05 10:08] bblommers commented on #5091
A PR would be very welcome, @mattBrzezinski! There is no similar PR, that I can find, but I may be able to point you in the right direction.
The first step would be to intercept the `DBClusterIdentifier`-parameter when creating a DB instance, because it doesn't look like that's in place yet.
https://github.com/spulec/moto/blob/147f52fedc4283dec24f291c83a2b9a54541d958/moto/rds/responses.py#L158

Se

[2022-05-05 11:06] #5030 closed

[2022-05-06 03:52] huang06 opened #5102 "close tempfile to reduce disk usage"
moto version: 3.1.7

Hi, I'm trying to mock S3 service to run a long-term job including uploading large objects to s3 for many times.

I found that `delete_object` method just pop the FakeKey instance from dict but not actually close the tempfile.
For a long-term job, it will occupy large disk space to keep the **deleted objects**.

Maybe we can perform the `close` method before pop the FakeKey in

[2022-05-06 06:45] #5102 closed

[2022-05-06 09:42] bblommers commented on #5008
@Shpionus - `GetUser` now works as of moto >= 3.1.8.dev15. Were there any others?

[2022-05-06 15:51] kunalvudathu opened #5103 "Describe EC2 Vpc endpoints doesn't support vpc-endpoint-type filter."
This happens on line 202
![image](https://user-images.githubusercontent.com/92550453/167168166-94b94167-5670-4d38-9577-ea2374cb674f.png)

![image](https://user-images.githubusercontent.com/92550453/167168009-be85eeea-44e0-4425-9ee0-f84798b4a1e7.png)

[2022-05-06 17:11] #5091 closed

[2022-05-06 21:26] bblommers commented on #4423
Moto 3.1.8 now contains a state manager, that would allow you to artificially slow down how fast Moto moves through the individual states.
This makes it possible to get back to the Moto 1.x behaviour, where we had `sleep`-statements in between `submitted`/`pending`/`runnable`, except that the delay is now configurable.

Note that the default behaviour is still to cycle through states as quickly as

[2022-05-06 21:26] #4423 closed

[2022-05-06 21:29] bblommers commented on #3997
Moto 3.1.8 now has the option to mock Batch in a simple (docker-less) manner.
To enable this, use `@mock_batch_simple` instead of `@mock_batch` around your tests.

Documentation: http://docs.getmoto.org/en/latest/docs/services/batch.html

I'll close this, but do let us know if you're running into any issues with this!

[2022-05-06 21:29] #3997 closed

[2022-05-06 21:35] bblommers commented on #192
Moto 3.1.8 now contains a state manager, that would allow you to artificially slow down how fast Moto moves through states, like how long it takes to get from `initializing` to `ready`, etc.

The general documentation can be found here:
http://docs.getmoto.org/en/latest/docs/configuration/state_transition/index.html

Note that while the framework is in place, it still has to be implemented for eve

[2022-05-06 21:35] #192 closed

[2022-05-06 21:36] bblommers commented on #380
Moto 3.1.8 now contains a state manager, that would allow you to artificially slow down how fast Moto moves through states, like how long it takes to get from `initializing` to `ready`, etc.

The general documentation can be found here:
http://docs.getmoto.org/en/latest/docs/configuration/state_transition/index.html

Note that while the framework is in place, it still has to be implemented for eve

[2022-05-06 21:36] #380 closed

[2022-05-06 21:37] bblommers commented on #5018
Closing this - there's not much we can do without something reproducible.

[2022-05-06 21:37] #5018 closed

[2022-05-06 21:37] bblommers commented on #5016
Closing this - there's not much we can do without something reproducible.

[2022-05-06 21:37] #5016 closed

[2022-05-06 21:45] orenmazor commented on #3997
this is awesome. thanks so much @bblommers, I'll give this a whirl sometime soon. it'll make my test suite setup so much cleaner!

[2022-05-07 10:28] lkw225657 opened #5105 "cognito-idp admin_initiate_auth can't refresh token"
## Reporting Bugs
moto==3.1.6
/moto/cognitoidp/[models.py](https://github.com/spulec/moto/tree/9a8c9f164a472598d78d30c78f4581810d945995/moto/cognitoidp/models.py)
function admin_initiate_auth line:1276

        elif auth_flow is AuthFlow.REFRESH_TOKEN:
            refresh_token = auth_parameters.get("REFRESH_TOKEN")
            (
                id_token,
                access_token,

[2022-05-07 21:11] #3717 closed

[2022-05-07 21:13] bblommers commented on #5103
Thanks for raising this @kunalvudathu - marking it as an enhancement to add this filter.

[2022-05-07 21:14] bblommers commented on #5105
Thanks for raising this @lkw225657!

[2022-05-07 21:31] bblommers commented on #5022
Hi @ikonst, do you have a reproducible example for this, by any chance? I've tried to reproduce this, but boto3 always throws a parameter validation exception: `Invalid type for parameter Item.other.N, value: 2, type: <class 'int'>, valid types: <class 'str'>`

[2022-05-07 23:40] ikonst commented on #5022
I can reproduce it with PynamoDB: I'll write a test case once at my desk.

We do some things in PynamoDB to make it work with moto that fall short of using boto directly. I'll need to look into it to see how it works.

[2022-05-08 05:54] ikonst commented on #5022
Ah, there we go :)
https://github.com/pynamodb/PynamoDB/blob/fd24c67a452b2ff2ed6357221c46257069e2402a/pynamodb/connection/base.py#L532

So a repro would be:
[code]

[2022-05-08 19:31] bblommers commented on #5022
Thanks @ikonst - that's very helpful :+1:

[2022-05-08 22:24] dchudz commented on #380
Very cool! Thanks!!

[2022-05-09 01:28] potiuk opened #5112 "Either Moto use of XMLtodict or xmltodict 0.13.0 is broken."
Either Moto use of XMLtodict or xmltodict 0.13.0 is broken.

We have a sophisticated test harness in Airlfow where we run our tests for latest releases of our dependencies and it caught a strange eror.

I investigated it and traced it to xmltodict 0.13.0 upgrade.

I am not 100% sure whether it's the xmltodict or the way how boto/moto uses it but wanted to give an early warning in case you can inve

[2022-05-09 02:46] kunalvudathu commented on #5103
@bblommers Thank you so much!!

[2022-05-09 08:40] #5026 closed

[2022-05-09 08:41] #5105 closed

[2022-05-09 08:49] bblommers commented on #5112
Hi @potiuk! Our CI was failing last night because of this as well - I tracked it down to a breaking change in the `xmltodict` release.
We fixed this on our end in #5111. Moto >= 3.1.9.dev3 should be fully compatible with xmltodict 0.13.0.

[2022-05-09 08:49] #5112 closed

[2022-05-09 09:00] potiuk commented on #5112
Thanks. Cool. In the meantime we tempoarary pinned xmltodict to 0.12.0. Our CI will automatically bump to to 3.1.9 moto when it gets released and when it will., I will remove the pinning. Thanks a lot @bblommers !

[2022-05-09 13:06] #5103 closed

[2022-05-10 03:53] kentnsw opened #5113 "rds - should not return "DBClusterIdentifier" if the instance is not in a cluster"
Creating an issue here in case you can't see the comment on the PR.

When describe_db_instances(), the API implementation should not return "DBClusterIdentifier" property in the JSON if the instance is not in a cluster.

Please see comments on https://github.com/spulec/moto/pull/5101

[2022-05-10 13:30] pll opened #5114 "Feature Request: Support for cloudfront.update_distributions()"
Will hopefully have a PR forthcoming for this soon.

[2022-05-10 14:29] schatten opened #5116 "[dynamodb2] `put_item` with an empty set as an attribute does not throw ValidationException"
Hey! Thanks for a great library. It makes unit tests really easy to write!

This is similar to #1129 and #1744. Tested on moto version `==2.3.2`

DynamoDB [does not allow](https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/HowItWorks.NamingRulesDataTypes.html#HowItWorks.DataTypes.SetTypes) empty sets as values for items. We've had to write some custom wrappers for this, and I suspect

[2022-05-10 21:54] bblommers commented on #5113
Thanks for raising this @kentnsw!

[2022-05-10 22:00] bblommers commented on #5116
Thanks for raising this @schatten!

[2022-05-10 22:32] #4553 closed

[2022-05-11 09:14] #5116 closed

[2022-05-11 09:15] #5113 closed

[2022-05-12 09:21] cwkang1998 commented on #3683
@rvodden Any updates? Would love to help on this if needed.

[2022-05-12 12:09] henrinikku opened #5125 "EventBridge rule doesn't match null value with "exists" filter"
### What I expected to happen

I expected moto to match null values with `{"exists": true}` as this is the way AWS behaves.

### What actually happens

Moto doesn't seem to match null values with `{"exists": true}`.

### How to reproduce the issue

Using `python 3.9.7`, run the following tests using `boto3==1.22.4`, `botocore==1.25.4` and `moto==3.1.8`. The first test passes but the second one thr

[2022-05-12 13:58] #5114 closed

[2022-05-12 13:59] #5025 closed

[2022-05-12 14:53] bblommers commented on #5125
Hi @henrinikku, thanks for raising this and providing such a detailed test case! Marking this as a bug.

[2022-05-13 12:28] szopen321 opened #5128 "Index error in moto server when attempting to create Instance with availability zone not matching the region"
**Repro steps:**
    1. Start moto server.
    2. Prepare terraform file that will:
        ◦ connect to the started moto server ( add: endpoints {ec2 = "http://127.0.0.1:5000/"} in provider block)
        ◦ contain defined region (eg.: us-east-1)
        ◦ contain availability zone from a different region (eg.: us-west-2b)
    3. Run terraform init; terraform apply
    4. Type yes and press enter

[2022-05-13 12:30] szopen321 commented on #5128
PR with a proposed fix

[2022-05-13 12:36] smnkrt opened #5130 "Using moto with KCL apps locally"
I've searched through issues and PRs and i have not found the answer.
I'm trying to set up a local development environment for a KCL app using moto (on OSX) and i've been getting into errors seemingly pointing to the lack of HTTP/2.0 support by moto:

<details><summary>KCL stacktraces</summary>

[code]

</details>

Moto logs
[code]

As i am new to moto I'd like to confirm with you, that ATM due to

[2022-05-13 16:45] szopen321 opened #5131 "No instance type validation on run instance"
Repro steps:
    1. Start moto server.
    2. Prepare terraform file that will contain invalid instance type
    3. Run terraform init; terraform apply

Description:
When attempting to create an instance of inexistent instance type, moto doesn't verify that and creates an instance

Observed results:
It is possible to create an instance of nonexistent type

expected results:
Informative error with

[2022-05-13 16:46] szopen321 commented on #5131
PR with proposed solution https://github.com/spulec/moto/pull/5132

[2022-05-13 21:55] bblommers commented on #5008
Done @Shpionus - `respond_to_auth_challenge` should now work as of moto >= 3.1.9 :slightly_smiling_face:

[2022-05-13 22:06] #5125 closed

[2022-05-14 02:39] #5021 closed

[2022-05-14 05:12] #5034 closed

[2022-05-14 18:22] bblommers commented on #5034
Looks like there was some miscommunication here - I hope that the current implementation doesn't cause too much pain when merging, @iainelder.
Let me know if you need any help with the typing - if you want to open a draft PR, I'd be happy to have a look/contribute.

[2022-05-15 00:16] bpandola commented on #5034
Apologies, @iainelder.  I was doing pagination for another Organizations action and thought I'd do this one too while I was at it.  Didn't mean to step on any toes!

[2022-05-15 12:31] bblommers commented on #5130
Hi @smnkrt! I'm not familiar enough with KCL to say how much it uses the `subscribe_to_shard`-functionality.

It sounds like the HTTP2-requirement is the more immediate issue. Have you looked into running Nginx as a reverse proxy? Nginx should be capable of listening/serving HTTP/2 requests, while retrieving the actual content from a regular HTTP1.1 server.

`MotoServer on port 5000` <--> `Nginx,

[2022-05-16 10:05] smnkrt commented on #5130
Hi, thanks for a quick response! I have not tried it and it's a good idea - I'll look into, thanks! :)

[2022-05-16 16:58] #5128 closed

[2022-05-16 18:16] iainelder commented on #5034
@bpandola , no problem, thanks for keeping the momentum going! I had let this one slip because I was exploring how to add type annotatations as @bblommers mentioned.

@bblommers, thanks for the reminder about that. I've been away from the keyboard for a while, but now that I'm back I'll try to get a draft PR together for the type annotations. There are some tricky problems to solve there :-)

[2022-05-17 10:18] maharajamihir opened #5143 "ModuleNotFoundError: No module named 'jose' while mocking cognito_idp"
## python-jose package dependency not included for [models.py](https://github.com/spulec/moto/tree/6ae0aa52728311158c4556ac38caffc717af21dc/moto/cognitoidp/models.py)

First of all this is my first issue so forgive me if it doesn't match your contributing guidelines.
### What happened:
I am getting a ModuleNotFound Error after importing
[code]
and putting
[code]
above my testcase.

### Traceback:

[2022-05-17 11:03] bblommers commented on #5143
Hi @maharajamihir, in order to reduce the number of dependencies, we require users to specify which services they use on installation.

If you only use CognitoIDP and S3, you can install Moto like this:
`pip install moto[cognitoidp,s3]`

This will install all required dependencies for Cognito and S3 (such as python-jose), but skips other dependencies required for other services.

Note that if you

[2022-05-17 11:10] maharajamihir commented on #5143
Alright thanks!

[2022-05-17 11:10] #5143 closed

[2022-05-17 11:55] Shpionus commented on #5008
Awesome. All my actions work. Thank you.
But I did not test full cognito functionality.

[2022-05-17 14:19] bblommers commented on #5008
Happy to hear that! I'll close this than - feel free to open a new issue if you run into any other problems.

[2022-05-17 14:19] #5008 closed

[2022-05-17 15:14] bronzeson opened #5145 "mock_lambda moto.awslambda.exceptions.InvalidRoleFormat"
Using moto v2.3.0
Installed in pipenv with pipenv install moto

I am trying to unit test a piece of code that calls lambda_client.invoke() by using @mock_lambda
but I am getting errors around iam roles.

Code I'm testing:
[code]

Test code:
[code]

Then when I try to run the test with pipenv run pytest, I get
[code]
I have also tried to change the iamrole from 'test-iam-role' to something that pas

[2022-05-17 16:17] bpandola commented on #5145
You need to make sure your IAM Role is also present in`moto`.   See the following code from our Lambda tests for an example on how to do this:  [Make sure IAM Role is available for lambda:CreateFunction](https://github.com/spulec/moto/blob/6ae0aa52728311158c4556ac38caffc717af21dc/tests/test_awslambda/utilities.py#L166)

[2022-05-17 16:22] blacktooth opened #5146 "Add support for AWS Glue Schema Registry"
Support for AWS Glue doesn't include the schema registry APIs like `CreateSchema`, `RegisterSchemaVersion`, `GetSchemaVersion` etc. Schema Registry APIs were added to Glue in 2020. Is this feature on the roadmap of moto? Are you open to contributions?

[2022-05-18 01:54] bronzeson commented on #5145
That worked! Thank you! Is that documented somewhere? I didn't see it.

Also, is there some way to assert that a mock lambda was called with the correct event input?

[2022-05-18 08:41] bblommers commented on #5146
Hi @blacktooth! There is no roadmap as such - most of our PR's come from contributors who need a specific feature.
So if you want to create a PR for this, that would be very welcome!

We have a [Contributor Section](http://docs.getmoto.org/en/latest/docs/contributing/index.html) in our documentation that should get you started. Feel free to ask any questions if you get stuck!

[2022-05-18 08:51] bblommers commented on #5145
I don't believe there is documentation for this specific feature, @bronzeson. But in general we try to mimick AWS' behaviour as closely as possible, and try to throw the same exceptions as AWS if the input behaviour is invalid.

Invoking a Lambda-function starts a Docker-container, where the Lambda-code is then executed. This is a black box, similar to AWS, so it is not possible to assert the corr

[2022-05-18 17:51] #1695 closed

[2022-05-20 01:32] sirrus233 opened #5150 "Moto allows syntactically invalid update expressions for DynamoDB"
When using the DynamoDB `UpdateItem` API, it is necessary to provide an `UpdateExpression` describing which attributes to update, and the new values. Multiple updates in the same expression are separated by commas. The real DynamoDB does not allow this expression to contain a trailing comma, but Moto does allow this.

Here is a reproducing example showing the issue:

[code]

[2022-05-20 15:11] szopen321 opened #5151 "No keypair validation on run instance"
**Repro steps:**
1. Start moto server.
2. Prepare terraform file that will contain an instance with declared key_name that is not assigned to any existing aws_key_pair
3. Run terraform init; terraform apply

**Description:**
When attempting to create an instance with key_name that is not assigned to any existing aws_key_pair moto doesn't verify that and creates an instance.

**Observed results:**

[2022-05-20 15:13] szopen321 commented on #5151
PR with proposed fix https://github.com/spulec/moto/pull/5152

[2022-05-20 20:45] jawillis opened #5153 "The filter 'route.gateway-id' for DescribeRouteTables has not been implemented in Moto yet."
Would you consider adding support for route.gateway-id filter in the DescribeRouteTables command?

[2022-05-21 10:23] bblommers commented on #5150
Thanks for raising this and providing the test case, @sirrus233!

[2022-05-21 10:34] bblommers commented on #5153
Marking as an enhancement! Thanks for raising this @jawillis

[2022-05-21 22:55] #2421 closed

[2022-05-22 09:43] #5153 closed

[2022-05-24 11:46] szopen321 opened #5159 "No ami validation on run instance"
**Repro steps:**

      1. Start moto server.
      2. Prepare terraform file that will contain an instance with declared ami that is not a valid name of existing ami
      3. Run terraform init; terraform apply

**Description:**
When attempting to create an instance with declared ami that is not a valid number of existing ami moto doesn't verify that and creates an instance.

**Observed results:*

[2022-05-24 11:49] szopen321 commented on #5159
PR with proposed fix https://github.com/spulec/moto/pull/5160

[2022-05-24 13:02] pyToshka opened #5161 "RDS creation via terraform error: strconv.ParseBool: parsing "none": invalid syntax"
Hello, i tried to use moto as mock server for terraform code testing, during rds creation i got in debug mode error like

**Repro steps**:
- Start moto server
- Configure AWS provider for using custom endpoint
- Create simple rds_db_instance resource
- export TF_LOG=TRACE
- terraform init
- terraform plan
- terraform apply
Aws provider configuration
[code]

Example of terraform resource
[code]
**D

[2022-05-24 13:19] w0rmr1d3r opened #5162 "Version 3.1.10 generates failure with "ModuleNotFoundError: No module named 'openapi_spec_validator'""
## bug

Read the issue template.

Looked for my issue or a similar one and haven't found anything.
It happens on version 3.1.10, which was released yesterday. The newest issue doesn't seem related either.

On version 3.1.10, tests fails, traceback is:
[code]
ref. -> https://github.com/Skyscanner/cfripper/runs/6573693883?check_suite_focus=true

We were using 3.1.6 and it worked fine. Tested the sam

[2022-05-24 14:14] bblommers commented on #5162
Hi @w0rmr1d3r, thanks for raising this! Looks like our dependencies our indeed wrong - we should install `openapi_spec_validator` as part of the cloudformation-module.

As a workaround, you could install Moto like this:
`moto[apigateway,cloudformation,s3]`
to ensure it pulls in the correct dependencies (or indeed revert to 3.1.9 until it's fixed).

[2022-05-24 18:03] pinkjosh opened #5163 "route53 public hosted zone is not supported"
creating a hosted zone with a hosted zone configuration for PrivateZone=False always create a private hosted zone (PrivateZone=True) when looking into the private zone flag of retrieved hosted zone created for a given test VPC.

Request:
`self.route53.create_hosted_zone(Name="Zone1", VPC={"VPCRegion": "us-east-1", "VPCId": "vpc-1234567"},
                                        CallerReference="Te

[2022-05-24 21:53] bblommers commented on #5161
Hi @pyToshka, thanks for raising this! Looks like we're sending some values as None, where Terraform expects a boolean. Marking it as a bug.

[2022-05-25 07:45] w0rmr1d3r commented on #5162
Hello @bblommers ,
thank you for such a fast response 😄

I see there's already a PR open to fix this issue, perfect!
We will use `3.1.9` for now and update in the future to newer versions.

thank you as well for the other workaround said !

[2022-05-25 07:45] pyToshka commented on #5161
Hi @bblommers thank you so much for your support

[2022-05-25 09:18] #5162 closed

[2022-05-25 09:21] #5161 closed

[2022-05-25 14:18] #5151 closed

[2022-05-25 16:12] eth10 opened #5166 "mock s3 (and probably others) fails on FIPS enabled systems"
## Environment
OS: Secure CentOS image with FIPS enabled
python: v3.10.4

pip installed packages
boto3: 1.23.7
botocore: 1.26.7
moto: 3.1.10

### Sample code
The following code is a snippet that causes the error to occur (apologies if this doesn't run as is, but it illustrates the problem accurately).
[code]

## Error
When running unit tests with the `@mock_s3` decorator, the following error is th

[2022-05-25 16:36] pyToshka opened #5167 "[Terraform] Creation of Guardduty GetDetector return 404"
Hello, i tried to use moto as mock server for terraform code testing, during guardduty creation i got in debug mode error like

**Repro steps**:

Start moto server
Configure AWS provider for using custom endpoint
Create simple aws_guardduty_detector resource
export TF_LOG=TRACE
terraform init
terraform plan
terraform apply
Aws provider configuration
[code]
Example of terraform resource
[code]
**De

[2022-05-25 18:19] jwarwick-delfi opened #5168 "Allow mock_batch_simple to mock a FAILED result"
The mock_batch_simple functionality is a great way to test integration with AWS batch, but it always sets the job status to SUCCEEDED. It would be great to parameterize this, so I could simulate a failure.

Something like this would be great:
[code]

[2022-05-25 19:42] bblommers commented on #5163
Hi @pinkjosh, do you have an example test case that showcases the problem?

[2022-05-25 20:32] bblommers commented on #5167
Looks like GetDetector isn't implemented yet, we only support CreateDetector and ListDetectors at the moment. Will mark it as an enhancement - thanks for raising this @pyToshka.

[2022-05-25 23:03] #2736 closed

[2022-05-26 12:15] yoctozepto opened #5171 "KeyPairs not visible from the dashboard"
## Repro steps

1. Run the latest code of moto_server.
2. Create a key pair.
3. View the dashboard.

## Actual result

The key pair **is not** listed there.

## Expected

The key pair **is** listed there.

## Comment

I have the patch ready.

[2022-05-26 13:50] pinkjosh commented on #5163
Let me provide you the test class for this test:

`import unittest
from collections import Counter
import boto3
from moto import mock_ec2, mock_sts, mock_route53, mock_acm, mock_iam
from generator.aws_api import AWSApi

@mock_acm
@mock_sts
@mock_route53
@mock_ec2
@mock_iam
class MyTestCase(unittest.TestCase):
    def setUp(self):
        self.ec2_resource = boto3.resource("ec2", "us-east-1")

[2022-05-26 22:38] bblommers commented on #5163
This is not something I can test against AWS atm, but it looks like the docs specifically say that when passing a VPC, the hosted zone has to be private.

https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/route53.html#Route53.Client.create_hosted_zone

On the VPC-parameter: `(Private hosted zones only)`

[2022-05-27 10:28] #5167 closed

[2022-05-27 22:11] #4265 closed

[2022-05-28 10:14] bblommers commented on #816
There have been a few improvements in how we handle md5sums/etags since 2020 - is anyone still running into issues using the latest version of Moto?

[2022-05-28 10:16] bblommers commented on #1513
Apologies for the delay @KhushbuAgr - this one must have slipped through.
In order to have a look at this, I'd need something reproducible though. If you have an example repro that showcases this issue, that would be ideal.

[2022-05-30 13:24] lkev opened #5179 "Lambda KeyError: 'Handler'"
# Background
The following works in "real" AWS, but throws an error when using moto.

I expect this to just pass and the lambda be created, but instead an exception is thrown:

[code]

The error is shown below - seems to be related to not passing "Handler" in `create_function`. If "Handler" is included, the same error gets thrown, but for "Runtime" and then "S3Bucket".

# Environment

Running usin

[2022-05-30 14:57] kbalk commented on #4113
Bert, you might find this useful:  PEP 660 – Editable installs for pyproject.toml based builds:
https://peps.python.org/pep-0660/

And the list of features for PIP v21.3:  https://pip.pypa.io/en/stable/news/#id94

Doesn't solve the requirements issue, nor can you force people to update pip, but ...

[2022-05-30 21:43] bblommers commented on #4113
Thanks for sharing @kbalk! Good to know there is some progress in this space.

[2022-05-31 21:03] dmarra opened #5180 "Allow lambda docker volume to be configurable to avoid pipeline errors"
Consider the following test code that will create a mock lambda that just returns some arbitrary value:

[code]

I expect this to just work; in other, words no errors

When tests using this code snippet are run within a bitbucket pipeline, the following error is encountered for each test:

[code]

The meat of it: `authorization denied by plugin pipelines: -v only supports $BITBUCKET_CLONE_DIR and

[2022-06-01 10:25] Dryja opened #5183 "mock_quicksight endpoint url pattern matching bug"
Mocking Quicksight does not work when you use for example  [```create_group_membership```](https://docs.aws.amazon.com/quicksight/latest/APIReference/API_CreateGroupMembership.html) with member name that contains a dot.

Reproduced based on moto unit tests:
[code]
That results in exception:
[code]
When you remove dot from `test@email.com` it works flawlessly.

I believe its due to the fact that th

[2022-06-01 11:01] bblommers commented on #5179
Hi @lkev, welcome to Moto, and thanks for raising this! We only support PackageType=ZIP at the moment - will mark it as an enhancement to also support Image.

Do you also need to invoke the function afterwards, or do you only want to create it?

[2022-06-01 11:02] bblommers commented on #5180
Hi @dmarra, thanks for raising this! Marking it as an enhancement to make this configurable.

If you want to contribute a fix yourself, PR's are always welcome - let me know if you need some pointers to get started.

[2022-06-01 12:16] bronzeson commented on #5145
Thanks again this was super helpful. Feel free to close!

[2022-06-01 13:14] #5145 closed, assigned to nobody

[2022-06-01 18:44] lkev commented on #5179
Cheers @bblommers.

Nope - don't need to invoke the function at the moment for testing.

[2022-06-01 20:30] andormarkus commented on #5071
@dacort Do you want to finish [your branch](https://github.com/dacort/moto/tree/feature/emr-serverless) or can I pick it up and continue? Testing since boto3 1.24.0 release should not be a problem.

[2022-06-01 21:05] dacort commented on #5071
Hey @andormarkus! If you have time within the next week to pick it up, go for it! I probably won't be able to work on this again until the middle of June. All my changes are current on that branch. :)

[2022-06-01 21:24] bblommers commented on #5180
You'll have to fork the project @dmarra, create a branch on your own fork and then create a PR against that branch.

[2022-06-02 12:39] louiske0911 opened #5187 "moto not throw ClientError that difference with boto3 when create_route with existing route"
### How to reproduce the issue
1. CreateRoute
[code]
2. CreateRoute with the already existing route
[code]

### What you expected to happen
Throw the exception in boto3 without mock
[code]

### What actually happens
Not have any exception with moto
[code]

### What version of Moto you're using
[code]

Not sure do I need to use another version of the moto?

[2022-06-02 15:24] bruno-gialis-al opened #5188 "Force setup of last used for an IAM User access key"
## iam.get_access_key_last_used() never return a date-time

iam.get_access_key_last_used() never return a last date-time (field LastUsedDate never exist).

Is it a way to "force" setup of this attribute by mocking an access or other? I don't find any information on this into documentation...

I'm tried this basic code, but it don't work...
[code]

Thanks.

Regards.

[2022-06-02 21:21] #5183 closed, assigned to nobody

[2022-06-02 21:34] bblommers commented on #5188
Hi @bruno-gialis-al, that value is always set to None at the moment, because we do not track access keys at all.

You could access the internal API directly to set this value:
[code]

Note that this is an internal API, and as such subject to change - but hopefully it is useful nonetheless.

In the meantime, I'll mark this ticket as an enhancement, and see if we can implement this functionality pro

[2022-06-02 22:03] #5150 closed

[2022-06-03 07:40] bruno-gialis-al commented on #5188
Thanks for the tips waiting for an official way to do it !

[2022-06-03 09:41] #5166 closed

[2022-06-03 16:46] Balasundaram commented on #3688
Hi @spulec @bblommers I am also interested in this as I am trying to mock run_task with networkconfiguration. Can this is prioritized ?

[2022-06-04 09:59] bblommers commented on #3688
Hi @Balasundaram, most of our features are actually contributed by the community, not necessarily by us.

So if this is something you really need, a PR is always welcome!
There is a [Contributing-section in our docs](http://docs.getmoto.org/en/latest/docs/contributing/index.html) - happy to help if you have any questions around this.

[2022-06-04 17:07] bblommers commented on #5130
Hi @smnkrt, were you able to get this working? Or is there anything on Moto's side that needs to be done to make this work?

[2022-06-06 07:15] smnkrt commented on #5130
Hey @bblommers i was not able to try suggested approach unfortunately. Regarding MOTO's side Ideally if at some point MOTO would support `subscribe_to_shard` via HTTP/2.0 out of the box it would be awesome for KCL development/testing.
I also won't be able to try it for some time so we can close the issue. If at some point I'll try NGINX proxy i'll post a comment here.

[2022-06-06 07:15] #5130 closed

[2022-06-07 17:26] men6288 opened #5196 "CVE-2022-29361"
Hi all,

Is there any way to pin a dependency in the [requirements](https://github.com/spulec/moto/blob/master/setup.py) file to a higher version?

When using installing moto it seems to be using version 2.0.3 of Werkzewg which has an open CVE. ([CVE-2022-29361](https://cve.mitre.org/cgi-bin/cvename.cgi?name=2022-29361))

Thanks in advance

[2022-06-07 21:14] bblommers commented on #5196
Hi @men6288, we try to keep the dependencies as free as possible. If people happen to depend on a lower version of Werkzeug for some reason, it's not Moto's place to tell them to upgrade (unless it's absolutely necessary for Moto to functino correctly).

We do not pin `werkzeug` btw - so I'm not sure why your installation downloads an older version. Unless you're using Py3.6? It looks like werkzeu

[2022-06-08 01:23] men6288 commented on #5196
Hi @bblommers,

That makes sense, how would you suggest that we pin it to a higher version if we don't wish to fork the repo?

We are using py 3.8 but for some reason it's still using 2.0.3. I could just try to override in our requirements file, maybe that would work?

[2022-06-08 04:26] mdavis-xyz opened #5199 "Secret ARNs should have 6 random characters at end, not 5"
When you create a secret in AWS secrets manager, the ARN is what you'd expect, plus `-xxxxxx`, where `x` is random characters.

Moto already adds random characters, but 5 instead of 6 (excluding the hyphen).

For context, I'm testing code which is asserting that the ARN of a secret matches an expected secret name. So I'm checking these characters with regex.

Run this code with and without the `.s

[2022-06-08 05:39] mdavis-xyz commented on #5199
Relevant docs:
https://docs.aws.amazon.com/secretsmanager/latest/userguide/troubleshoot.html#ARN_secretnamehyphen

[2022-06-08 10:03] bblommers commented on #5196
Yup, that was going to be my suggestion. If you add `werkzeug>=2.1.0`, the dependency resolver should grab the right version.

[2022-06-08 12:14] men6288 commented on #5196
Great, thanks for the help!

[2022-06-08 13:33] Birne94 opened #5201 "Feature Request: Add support for S3 glacier restore transitions"
## Feature Request

Adding support for testing the transition when restoring files from S3 Glacier to standard storage class.

## Motivation

When files in S3 are restored from Glacier to standard storage class, the `Restore` attribute (`x-amz-restore` header) of the object changes to indicate the restoration status. In moto this completes instantly after initiating the restore process, making it

[2022-06-08 15:41] mnesarco commented on #2882
Hi @spulec , @lllama
I am interested in some experiments for import/export the state. But the file you are referencing here :

- https://github.com/spulec/moto/blob/master/moto/core/models.py#L510-L523
- https://github.com/spulec/moto/blob/master/moto/core/models.py#L555-L576

 has changed and it has only 405 lines now. So the point in code suggested by you to look at is not there anymore (lines b

[2022-06-08 15:51] mnesarco commented on #2882
Please correct me if I am wrong.
Maybe I can do just this to export all the state:

[code]

[2022-06-08 17:30] mmerrill3 opened #5203 "Ability to tag and remove a tag for an EKS resource"
This is a feature request to leverage moto for mocking tag functions in the EKS client, including
tag_resource()
untag_resource()
list_tags_for_resource()

According to the latest published dev docs, this is not implemented yet at http://docs.getmoto.org/en/latest/docs/services/eks.html

[2022-06-08 17:34] bblommers commented on #5196
Anytime! I'll close this for now, but let us know if you run into any other issues.

[2022-06-08 17:34] #5196 closed

[2022-06-08 17:44] bblommers commented on #5203
Thanks for raising this @mmerrill3 - will mark it as an enhancement to add these methods.

If this is something you'd like to tackle yourself, PR's are always welcome!

[2022-06-08 18:18] mmerrill3 commented on #5203
Yeap, I was going to give it a whirl.  You can assign to me.

[2022-06-08 19:03] magicmark opened #5204 "DynamoDB: transact_write_items does not return Item in CancellationReasons"
moto does not appear to return `Item` under `err.response["CancellationReasons"][n]` when a transaction fails, and we've set ` "ReturnValuesOnConditionCheckFailure": "ALL_OLD"`.

I've created a minimal repro with a failing test case here: https://github.com/magicmark/moto-issue-demo.git

[code]

### Repro instructions

[code]

### Output

[code]

### What's the problem?

With DynamoDB+boto3, when

[2022-06-08 19:54] #5199 closed

[2022-06-08 19:57] bblommers commented on #5204
Thanks for raising this and adding a repro-case @magicmark!

[2022-06-08 20:26] jbmchuck opened #5205 "create_vpc should never create a default vpc"
Currently if no VPCs exist the create_vpc call will create a default VPC.  AFAICT in AWS CreateVpc never creates default VPCs - a separate call CreateDefaultVpc is used for this.

Repro:

    #!/usr/bin/env python3

    import boto3
    import moto

    @moto.mock_ec2
    def delete_all_vpcs_then_create_non_default_vpc():
        client = boto3.client("ec2", region_name="us-east-1")
        initia

[2022-06-09 09:41] #5201 closed

[2022-06-09 18:00] bblommers commented on #5205
Hi @jbmchuck, thanks for raising this! Looks like our implementation is indeed wrong here. Marking it as a bug.

[2022-06-09 18:03] jbmchuck commented on #5205
Thanks - I created a PR here, I *think* this fix is at the right level: https://github.com/spulec/moto/pull/5209

[2022-06-09 18:23] bblommers commented on #5163
Finally I had some time to verify this against AWS, and it looks like AWS behaves the same: if a VPC is provided, then the `PrivateZone` is marked as True. The actual value in the `HostedZoneConfig` is ignored.

I'll close this - let me know if I've missed anything though.

[2022-06-09 18:23] #5163 closed

[2022-06-09 20:17] moxilo opened #5210 "[Ec2 Tags] ResourceType input removed from Tags and expected later on to be present"
In file moto/ec2/responses/_base_response.py, method _parse_tag_specification converts the provided tags from:
[code]
To:
[code]
The same "_parse_tag_specification" method calls method "convert_tag_spec" in moto/ec2/utils.py. However, method "convert_tag_spec" is expecting as input parameter the old "ResourceType" format causing an error when tries to access the resource "ResourceType".

### Full

[2022-06-10 12:06] bblommers commented on #5205
This has now been fixed with #5212

[2022-06-10 12:06] #5205 closed

[2022-06-10 14:09] #5179 closed

[2022-06-10 15:52] rajshahdev opened #5214 "How to retrieve aws claims"
right now I developed an authentication system with respect to Cognito and from that, I am fetching aws claims (basically fetching sub UUID) now I want to implement the test cases also but I am confused about how can I do it with respect to moto.

so how can i mock this Cognito and fetch aws claims

in python the actual code i am doing

[code]

how to mock request.scope?

P.S:- I am passing jwt to

[2022-06-10 15:53] rajshahdev commented on #5214
@bblommers please help me!

[2022-06-10 20:23] mmerrill3 commented on #5203
@bblommers could your approve the workflow since its my first contribution to this project?

[2022-06-10 21:17] bblommers commented on #5210
Hi @moxilo, thanks for raising this! It looks like the underlaying issue is that we should throw an error when passing in `"Tags": []` - I'll mark it as an enhancement to add proper validation for this.

[2022-06-10 21:21] bblommers commented on #5214
It's not quite clear to me what you're asking, @rajshahdev. Moto only mocks AWS SDK requests, such as the ones made by boto3 - are there specific boto3-requests that are not mocked correctly?

[2022-06-11 21:08] andormarkus commented on #5071
Hi @dacort

I have refactored the `*_application` methods and make than work. Only `update_application` method remains for tomorrow.
Tomorrow I will submit the first PR which will cover all of the `application` methods and start to work on the `job` methods.

[2022-06-12 10:15] #5210 closed

[2022-06-13 09:34] calvernaz opened #5220 "Add requestParameters to Integration model"
The `requestParameters` property exists in two model instances, Method and Integration. At the moment, moto only specifies it in the `Method` class, this issue is a request to add it to the `Integration` class.

[2022-06-13 10:51] #5214 closed

[2022-06-14 08:13] nakata72 opened #5225 "How to get jwks.json for Cognito on Docker"
Hi, This is question about validating the JWT signature.
I want to get jwks.json from [moto container](https://hub.docker.com/r/motoserver/moto).
I already created user pool, so I have the user pool id.

Does moto Docker image have an endpoint like `https://cognito-idp.{$region}.amazonaws.com/{$pool_id}/.well-known/jwks.json`?

[2022-06-14 09:26] Heo-Jinsu opened #5227 "Not mocking cloudfront.create_invalidation"
## Reporting Bugs

Please be aware of the following things when filing bug reports:

1. Avoid raising duplicate issues. *Please* use the GitHub issue search feature
   to check whether your bug report or feature request has been mentioned in
   the past.
2. When filing bug reports about exceptions or tracebacks, please include the
   *complete* traceback. Partial tracebacks, or just the exception

[2022-06-14 09:28] Heo-Jinsu commented on #5227
installation - pip install 'moto[all]'

[2022-06-14 10:07] #5220 closed

[2022-06-14 10:52] bblommers commented on #5225
Hi @nakata72! Yes, you can call the same URL against the MotoServer: `http://localhost:5000/userpoolid/.well-known/jwks.json`

Note that, because we just lost context on which service and which region we want to talk to, this call requires an Authentication-header. Moto will use the value of this header to determine which service and region should handle this request.

An example:
`Authorization`:

[2022-06-14 10:54] bblommers commented on #5227
Hi @Heo-Jinsu, thanks for raising this! This feature has not yet been implemented - our [CloudFront coverage](https://github.com/spulec/moto/blob/master/IMPLEMENTATION_COVERAGE.md#cloudfront) is quite limited at the moment. Marking it as an enhancement to add support for this method.

[2022-06-14 11:08] #5203 closed

[2022-06-14 15:37] kokes opened #5228 "Regression: Prefixes in S3 listing are unquoted and don't match the Key"
Upgrading from moto 3.1.11, we found the following issue: Our prefixes `foo%2Fbar` now get interpreted as `foo/bar`, but only in prefixes (be it in plain `list_objects_v2` or with `Delimiter='/'` directory listing). Here's a quick repro that works on 3.1.11 and breaks on 3.1.12 (same with all the other repros here):

[code]

The Prefix no longer matches the Key, here's my output:

[code]

---

Her

[2022-06-15 02:00] nakata72 commented on #5225
Thanks @bblommers.
We tried your solution and got the results we wanted!

But I have a few questions.
Do I need to change the region like `us-east-1` included in the Authentication-header?
I tried two patterns that `us-east-1` and `ap-northeast-1`, and got same results.
In case of region us-east-1, I expected that got no result, because my created UserPool's region is at ap-northeast-1.
Is this co

[2022-06-15 02:02] nakata72 commented on #5225
Thanks @bblommers.
We tried your solution and got the results we wanted!

But I have a few questions.
Do I need to change the region like us-east-1 included in the Authentication-header?
I tried two patterns that us-east-1 and ap-northeast-1, and got same results.
In case of region us-east-1, I expected that got no result, because my created UserPool's region is at ap-northeast-1.
Is this correct

[2022-06-15 04:11] cm-iwata opened #5230 "test_sqs sometimes fail."
test_sqs sometimes pass. but, and also sometimes fail like this.
https://github.com/spulec/moto/runs/6861570976?check_suite_focus=true

<details>
<summary>Here is detail log.</summary>

[code]
</details>

I guess VisibilityTimeout may too short for test case
https://github.com/spulec/moto/blob/9640ec20d125248ac91243591c7db50daabfd135/tests/test_sqs/test_sqs.py#L1638

[2022-06-15 09:21] Lilja opened #5232 "s3_backend breaking change in minor version"
Hi!

We are currently running `3.0.5` in our codebase and we have the following function in our tests:

[code]

We recently did a update of dependencies in the project which used `3.1.13`.

Doing so broke the build:

`AttributeError: module 'moto.s3' has no attribute 's3_backend`.

The way I see this is that we are importing something that is not having any undeescores, therefore we aren't importi

[2022-06-15 14:51] #5230 closed

[2022-06-15 15:19] mmerrill3 commented on #5187
@bblommers assign to me

[2022-06-15 15:58] bblommers commented on #5225
Happy to hear that @nakata72!

We don't do any validation at the moment, so this is expected - it always returns the same data, regardless of what region/userpool is provided.

[2022-06-15 21:14] #5187 closed

[2022-06-16 02:13] nakata72 commented on #5225
OK, I see.
Anyway, my question is completed!
Thank you @bblommers .

[2022-06-16 02:13] #5225 closed

[2022-06-16 08:16] kokes commented on #5228
cc @pinzon who worked on the two commits related to this

[2022-06-16 12:57] bblommers commented on #5232
Hi @Lilja, this is indeed considered part of the internal API. Only the decorators and non-beta API's under `moto.moto_api` are guaranteed to not have breaking changes.

The aim of Moto is only to mock the boto3 clients/resources, as having an API to mock everything would be too much work to create/maintain. Overriding the internal API's to customize (for example) the last modified date can be use