[2017-09-27 20:27] kevinfrommelt commented on #1206
Still hitting this. I downloaded the latest tar.gz and that file is not in it.

[2017-09-27 20:31] scoates commented on #1206
FWIW, this is still broken in 1.1.16 for us, too. I had to pin `moto==1.1.14` in our test suite (for now).

[2017-09-27 20:41] JackDanger commented on #1206
Understood. Investigating right now.

[2017-09-27 20:48] snimark commented on #1200
i have a couple of questions:
1. what is the `ec2_backend` value passed in to the `class AMI()` call?
2. i am thinking of making this an optional argument passed in for object instantiation. with instance argument value being in, would it have an `owner-id` value to be assigned? i would think a `source_ami` _could_ have an `owner-id` value, depending on if it was created or not:

this code is curr

[2017-09-27 20:52] JackDanger commented on #1206
Probably fixed here: #1209
Releasing a new version shortly.

[2017-09-27 20:54] kevinfrommelt commented on #1206
Alternatively you could include the json file via the MANIFEST.in https://github.com/spulec/moto/compare/master...kevinfrommelt:fix-missing-json

[2017-09-27 21:14] JackDanger commented on #1206
Thanks to @kevinfrommelt this is now fixed in Moto version 1.1.18. Go team!

[2017-09-27 21:25] acmiyaguchi commented on #1206
I've been seeing this issue earlier in the morning. I re-ran a test suite using the up to date package (`moto==1.1.18`), but I get back the same traceback.

[code]

[2017-09-27 21:36] kevinfrommelt commented on #1206
@JackDanger Looks like the file is in the package, but not being installed with the source code. I believe setting this flag in the setup.py will fix this https://github.com/spulec/moto/compare/master...kevinfrommelt:fix-missing-json

[2017-09-27 21:39] kevinfrommelt commented on #1206
I created a package locally with that change via `python setup.py sdist` and installed the package into a new virtualenv. I was able to import moto and confirmed that json file was installed in the virtualenv

[2017-09-27 21:43] JackDanger commented on #1206
Thank you, @kevinfrommelt once again!

[2017-09-27 21:44] JackDanger commented on #1206
Released as Moto 1.1.19

[2017-09-27 21:58] kevinfrommelt commented on #1206
1.1.19 is working for me.

[2017-09-27 22:22] kurtiss commented on #1206
1.1.19 works on my end too. Thanks for the speedy response!

[2017-09-27 22:22] #1206 closed

[2017-09-28 08:04] tardyp opened #1218 "1.1.15 release broken missing instance_types.json?"
Please see error in
https://nine.buildbot.net/#/builders/8/builds/1378

[code]
I didn't see that error with 1.1.13.

Is this a problem with the release scripts?

[2017-09-28 12:15] snimark commented on #1200
i figured out what ec2_backend is. region, right?

i am modifying also the `Instance()` class to also include the `owner-id` property. and i found the unittests to also write to as well.

[2017-09-28 13:48] copenhas opened #1219 ""Expected hash not equal to calculated hash" error with S3 put object"
First I would like to thank all of you for such a comprehensive AWS mocking library... now on to my issue.

I'm getting an "Expected hash not equal to calculated hash" exception thrown from AWSSDK for .NET when using moto's stand alone s3 server. This always happens when putting an object into the server.

It appears to be that moto returns an ETag with the wrong (?) hash value in it. I've debugge

[2017-09-28 17:26] JackDanger commented on #1218
It was an oversight in bundling json files in `MANIFEST.in`. It's fixed in the current release!

[2017-09-28 18:41] snimark commented on #1200
hmm...are we sure the images (AMIs) being assigned but with values of `123456789012`. i didn't see this, so i tried to track it down.

[2017-09-29 19:21] snimark commented on #1200
ok, well, i'm going to need to chat with someone to work through this option. although i found the OwnerId/owner-id value is set by default for instances to be `123456789012`, but i also found it does not translate to the AMI classes. all attempts to set the value from the front or add the field from the back have not worked.

i joined gitter to chat, but the channel seems very quiet these days. i

[2017-09-29 19:37] JackDanger commented on #1200
@toshitanian or @terrycain do either of you have opinions here?

[2017-09-29 20:38] snimark commented on #1200
i can create a branch an submit it with the changes i've been attempting. i can try to add notes where i am not seeing it work.

[2017-09-29 21:05] terrycain commented on #1200
Yeah I think what we need would be, a default set of ami's present, though they do change so we'd need to manage that somehow. We also need to document how you can just import the moto backend and prod all the structures. @snimark make a PR and note down as much as you can plus a test case where it doesnt work and should.

[2017-09-29 21:10] terrycain commented on #1218
My bad should of caught that too.

[2017-09-29 21:17] snimark commented on #1200
i see to be having permission problems creating a branch locally and pushing to github. my permissions are in question as far as the push goes. (i can get to github with my current key.)

[2017-09-29 21:21] terrycain commented on #1200
Have you created a fork in your own account and are pushing to that?

[2017-09-29 21:24] snimark commented on #1200
no, nothing in my github account. i just cloned the repo locally and made the changes. then was trying to push the branch back to the repo.

[code]
yet...
[code]

[2017-09-29 21:32] terrycain commented on #1200
Nah, you need to click on fork at the top of the page to clone it to your own account, then you'll be allowed to push to that, then you can create a pull request from the clone in your account to this one

[2017-09-29 21:48] snimark commented on #1200
ah, ok.

i have tried this, gotten to the pull request, but one of the files is showing changes i didn't make, so i will need to do this again to make sure the files are correct. i need to head out right now, but i'll try to submit later.

[2017-09-29 22:32] terrycain commented on #1119
Am working on this i #1197, if you have any code feel free to jump in on the PR. @rofinn Would be helpful if you had a couple of examples / test cases, mainly as I dont use batch at all.

[2017-09-29 23:11] thehesiod opened #1220 "Enable linter to catch PEP issues"
There are a lot of annoying things from PEP, but some good ones like standardize spacing and naming conventions.  Perhaps can enable a linter with a subset of PEP?  I know some projects use flake. This will help avoid people having to catch these issues by hand, which is very error prone.

[2017-09-29 23:41] terrycain commented on #1220
Travis does run make lint at the start of all test runs. flake8 is catching some stuff.

[2017-10-01 18:00] josenrihernand opened #1223 "Question about NotImplementedError errors"
Hello everyone,

It is only to ask you a simple technical question.

According the following error messages I am getting using moto library, it looks like
list_attached_group_policies (iam) and get_policy (iam) are not implemented yet.

NotImplementedError: The list_attached_group_policies action has not been implemented
NotImplementedError: The get_policy action has not been implemented

Could yo

[2017-10-01 18:07] josenrihernand commented on #1223
Sorry, in my previous question:

Instead of:
"In have installed moto using"

it should be:
"I have installed moto using"

thanks
Jose

[2017-10-01 22:06] JackDanger commented on #1223
@josenrihernand You're right that those aren't implemented yet. I've fixed that just now here: #1224 If you could give me a review of that code and approve it I'll merge it as soon as the tests pass!

[2017-10-02 02:20] thehesiod commented on #1220
We should enable spacing and naming conventions I'm guessing to reduce the work for the reviewers as it seems those are things you want

[2017-10-02 02:46] josenrihernand commented on #1223
@JackDanger, I just saw your reply.  Thanks for fixing it so quickly!

I saw that the changes were merged. So, I upgrade moto on my box:  (pip install moto --upgrade).
NotImplementedError: The list_attached_group_policies action has not been implemented

After execute a new test, i no longer see the issue:
------------------------------------------------------------------
def get_group_policies(ia

[2017-10-02 13:49] snimark commented on #1200
ok, finally got my branch created on the forked repo and created a pull request. i have not created a unit test for it, though. i have another script i can make available which i have been using to simulate the unit test i need for my code.

[2017-10-02 16:38] terrycain commented on #1200
Wait so do the changes work or not? And yeah the script will be helpful, throw it in a gist would probably be easiest.

[2017-10-02 18:51] josenrihernand commented on #1223
Hello @JackDanger:

As for a recent test using get_policy (IAM) with moto library, i got a similar error:

policy = iam_client.get_policy(
            PolicyArn = attachedPolicy["PolicyArn"]
 );

NotImplementedError: The get_policy action has not been implemented

So, it seems that get_policy has not been implemented either.

In accordance to the current mock out script using moto, it'd be the onl

[2017-10-02 19:21] drmorr0 opened #1229 "dicttoxml is GPLv2-licensed"
I see in [this patch](https://github.com/spulec/moto/commit/3cdb4afad0f6a42c790c39c56e2b6f0680d54ff7#diff-2eeaed663bd0d25b7e608891384b7298) the [dicttoxml](https://github.com/quandyfactory/dicttoxml) library was added as a requirement, which is GPLv2-licensed.  Unfortunately the GPLv2 is [not compatible](https://www.apache.org/licenses/GPL-compatibility.html) with the Apache2.0 license, which moto

[2017-10-02 19:25] drmorr0 commented on #1229
Also I noticed that dicttoxml is only used in [one place](https://github.com/spulec/moto/search?utf8=✓&q=dicttoxml&type=) so it seems like it might not be that hard to replace it with something else.

[2017-10-02 19:42] JackDanger commented on #1229
@drmorr0 Great find, thank you for this. Yes, we can remove this dependency immediately and provide you with a new version of Moto without a problematic license.

[2017-10-02 19:51] drmorr0 commented on #1229
Fantastic, thank you.  We've been using an ancient version of moto that didn't have this dependency and I was hoping to upgrade to a more recent version -- it's really useful software.  Let me know if there's any way I can help with the change.

[2017-10-02 21:59] JackDanger commented on #1229
@drmorr0 once #1231 is merged I'll release a new version for you. Please give that a review if you have a moment.

[2017-10-02 23:00] JackDanger commented on #1229
@drmorr0 Moto version 1.1.21 is now released and does not depend on dicttoxml

[2017-10-02 23:05] JackDanger commented on #1223
@josenrihernand Much of the code in Moto is there because someone just like you found themselves in a similar problem and tried to add the missing endpoint. I'm not sure when I or another person will have time to implement `get_policy` but if you'd like to try you might find it's easier than you think.

What you'll need to do is three things:
* Add a `def get_policy(self):` method to the iam/respo

[2017-10-02 23:47] josenrihernand commented on #1223
@JackDanger:  Ok, thanks for the guidelines to implement it.
Sure, i'll try, and when i have a stable version of this new method, i'll do a PR.

thank you very much!

[2017-10-02 23:47] #1223 closed

[2017-10-03 01:56] drmorr0 commented on #1229
Nice!  Thank you so much!

[2017-10-03 01:56] #1229 closed

[2017-10-03 02:20] DanHanson82 commented on #1043
running into the same issue.  Has anybody found a workaround?

[2017-10-03 13:28] mschneiderwind commented on #483
Same issue with moto 1.1.21 (using boto3==1.4.7)
Going back to 0.4.x fixes the issue

my code

[code]

failling test:
[code]

trace:
[code]

[2017-10-03 18:14] rofinn commented on #1119
So the primary workflow I'm using is:

1) describe jobs
2) submit jobs
3) fetch logs from cloud watch logs

I'm fine assuming that the resources have already been setup by a cloudformation template.

[2017-10-03 18:30] terrycain commented on #1119
Ahh so your expecting the cloudwatch to create the batch environment, you mind giving me a cf template that would get you to stage 1 as i'll have to add cf support too

[2017-10-03 19:23] rofinn commented on #1119
No, cloudwatch wouldn't create the batch environment, but when you submit a batch job the STDOUT and STDERR from the ECS task will be sent to cloud watch logs. The "logGroupName" is "/aws/batch/job" and the "logStreamName" can be extracted from the describe jobs response (of running jobs) at `resp["jobs"][0]["container"]["logStreamName"]`.

It's a bit verbose, but this is more or less the kind of

[2017-10-03 19:40] dbfr3qs opened #1235 "test_lambda.py:test_invoke_requestresponse_function test failing os x/linux since 1.1.20"
Hi there, since moto 1.1.20 the above test has started to fail on my machine (OS X 10.11) and our Ubuntu 16.04 linux build agents, both Python 2.7 and 3.5. Any test that we have which uses invoke_lambda is now erroring out. There does not appear to be a clean version of moto I can pin to because of other changes that were made that were also included in this release that my tests rely on. Would it

[2017-10-03 19:48] JackDanger commented on #1235
@thehesiod Can you take a look at this? Is there a way we can ship the lambda features without requiring people to be running Docker?

[2017-10-03 19:50] dbfr3qs commented on #1235
@JackDanger @thehesiod Thanks. I'm looking at the code now, I was a bit surprised that we now have running docker as a dependency and would recommend against this. I'm guessing this is why the test is passing in travis.

[2017-10-03 19:51] thehesiod commented on #1235
It's possible but require a lot of work as we'd need to be able to replicate the lambda environment.  The reason we use a docker container is so that the tests run just as they would in AWS.  @dbfr3qs is it not possible to have your test environment have docker support?  If it's travis you just need to run w/ docker support enabled.

[2017-10-03 20:13] snimark commented on #1200
they weren't, but i think i had success in one case of testing after fast forwarding my changes to a few updates to the master branch. i need to test these again to evaluate what is going on. i also notices that when i had submitted by branch that a few mods were missing. i would need to submit a new pull request when i get this more sorted out.

[2017-10-03 20:17] dbfr3qs commented on #1235
Firstly, thanks for replying so promptly!

Can I ask that this be better documented? Something somewhere that states that you now need to have a copy of lambic/lambda available and the docker service running? Maybe in the main README.md? Would it be possible to include some way of automatically checking/downloading that dependency when setting up development for moto itself?

It's a bit unfortunat

[2017-10-03 20:38] thehesiod commented on #1235
great idea for docs, thanks! I'll create a PR for this. This was my first feature to moto so bear with us :)  Here's some of the reasons why this was done:

Previously lambdas were simply "exec"'d.  This had several drawbacks... First: lambdas could corrupt your moto environment.  Likewise since they ran in the same environment as the moto server they could not match the environment specified in t

[2017-10-03 20:44] thehesiod commented on #1235
btw @dbfr3qs why are you running the moto tests?

[2017-10-03 20:50] JackDanger commented on #1235
@thehesiod If we could check for the existence of Docker and, if it's present and `import docker` works, load in the lambda functionality that'd be ideal. Then most users most of the time would keep their dependencies slim and then if they want to use lambda they have to do this one extra step. That seems like the right tradeoff to me. What do you think?

[2017-10-03 20:50] dbfr3qs commented on #1235
I run the tests because I contribute to moto, usually around lambda and dynamodb.

The moto test for invoke_lambda passes but with this:

[code]

And the tests for my application which use invoke_lambda still fail:

[code]

[2017-10-03 20:55] #1125 closed

[2017-10-03 20:55] #1168 closed

[2017-10-03 20:55] thehesiod commented on #1235
@JackDanger ya that's easy, but based on @dbfr3qs he's going to need this functionality because he's working on lambda functionality.  So I'm guessing that won't help in this case :)  Plus then I bet we'll get a ton of bugs logged asking why lambda functionality is not available.

@dbfr3qs in your first example, that's coming from the `test_invoke_lambda_error` which explicitly causes the lambda t

[2017-10-03 20:58] JackDanger commented on #1235
It may not help for this particular case but I recently realized how many different dependencies the docker library pulls in. For example, anybody using Moto in their application now has to bundle moto, docker, and websockets-client. For companies that need to audit all of the dependencies they use that's asking a lot of our users. Having the default be to not support Lambda (and print a big, obvi

[2017-10-03 20:59] thehesiod commented on #1235
btw @dbfr3qs the previous implementation of lambdas was incorrect in terms of file names, see https://github.com/spulec/moto/commit/9008b852995146b85296174108fc94c5f727bcb5#diff-eb9175e47e0880ffa6b4ae52862d55b6R21.  Make sure you embed a file called "lambda_function.py" in your zip file.  Most likely your issue.

[2017-10-03 21:00] JackDanger commented on #1235
I'm feeling this strongly after spending much of yesterday writing XML code so we can remove the GPL'd `dicttoxml` from our app. A Moto user wasn't able to do their job because of licensing problems. This is the kind of problem we have when folks like @thehesiod, @dbfr3qs, and @terrycain made a project this successful! :)

[2017-10-03 21:09] terrycain commented on #1200
Sure once your at a point where either its working or you have no clue why its not, give me a mention and I'll have as look over it.

[2017-10-03 21:10] thehesiod commented on #1235
ok created a POC here: https://github.com/spulec/moto/pull/1237

[2017-10-03 21:10] terrycain commented on #1119
Sorry I meant cloudformation would create the batch environment... which is whats in the template :smile:

[2017-10-03 21:11] terrycain commented on #1235
I'll have to PR less ha :wink:

[2017-10-03 21:12] terrycain commented on #1119
As for when the cloudformation would work, it'll probably have to wait till ive implemented the majority of batch, then the cf integrations, but its slowly getting there.

[2017-10-03 21:13] terrycain commented on #1119
#1197 - linking issue to PR for my reference

[2017-10-03 21:14] thehesiod commented on #1235
@terrycain you and me both =)   I really hope we keep the lambda running in docker, it's really useful for my testcase.  Pretty cool all the stuff I have daisy chained together with it.  Basically have an outer unittest, running two containers that trigger a separate lambda ;)

[2017-10-03 21:18] terrycain commented on #1235
I do quite like that docker is there now, I have a few lambdas coming up the pipeline and would benefit from this.

Lol nice, its great that stuff like that actually works and works well.

[2017-10-03 21:19] JackDanger commented on #1235
@thehesiod If you were to write a blog post showing a simple case of how you use lambda in Moto that would be so, so useful to Python developers everywhere. Basically, nobody I know has any way to test their lambda code anywhere. This is a huge feature!

[2017-10-03 21:20] terrycain commented on #1235
@JackDanger Once batch is done, I was thinking of spamming lots of docs too, as there isnt much docs on how to poke the backends of moto whilst testing... leaving people to running other boto commands to describe any changes they want to see. And probably show lots of examples, people like examples

[2017-10-03 21:21] dbfr3qs commented on #1235
@thehesiod thanks for the tip on the lambda function name, that fixed my tests! You have no idea how grateful I am! 👍

@JackDanger I think that's an excellent compromise. After working through it, I only had to make one small change which @thehesiod pointed out to get my tests to run again with Docker. I'm feeling a lot less negatively towards it, but I do think we need some clear documentation ar

[2017-10-03 22:07] rofinn commented on #1119
FWIW, thank you for working on this. I look forward to having better tested code as a result :)

[2017-10-03 22:36] dbfr3qs commented on #1235
Real quick, unrelated thought... @thehesiod is there a way to pass environment variables to the docker container running the lambda?

[2017-10-03 23:06] thehesiod commented on #1235
ok, wrote up something quick here: http://hesiod.blogspot.com/2017/10/mocking-aws-lambdas.html

@dbfr3qs yes!  I fixed that in my PR as well.  See in my blogpost.  When you create the function you can specify the environment variables it should be run with

[2017-10-03 23:23] dbfr3qs commented on #1235
That is awesome!

[2017-10-03 23:59] thehesiod commented on #1235
btw with some work the MotoService can be largely eliminated by incorporating a shutdown and/or reset endpoint to the moto.server...also adding a context class helper and wait for service to come up.  Sorry, I could go on for ideas, so many features, so little time :)

[2017-10-04 00:09] terrycain commented on #1235
+1 for context manager and more endpoints

[2017-10-04 13:56] gkiar commented on #1119
@terrycain as another data point, the workflow I'm using boto3 for is the following:
1. ensure roles exist with correct privileges (IAM covers this now thanks to @JackDanger's PR)
2. create compute environment **if** no exact match exists already **else** get ID of the match
3. repeat 2 for queue
4. repeat 2 for job definition(s)
5. submit job(s)
6. fetch log(s) using job ID(s)

[2017-10-04 16:06] josenrihernand opened #1238 "Implementation of get_policy (IAM) to the moto library"
Hello all,

I am in progress of implement get_policy (IAM) to moto library.

When I execute a test with some python script that use "get_policy", I get the following error message:
TypeError: get_policy() got an unexpected keyword argument 'policyarn'

Here is the changes I applied, after I cloned the moto library to my local environment:

**..tests/test_iam.py:**

@mock_iam
def test_get_policy():

[2017-10-04 16:08] terrycain commented on #1119
When im finished the batch bit, 1-5 should work. I need to look into how our ecs implementation works to see what it will do with 6

[2017-10-04 16:12] terrycain commented on #1119
Also what sort of jobs are you submitting? What do the Ids actually look like, and how are they represented in cloudwatch

[2017-10-04 16:23] gkiar commented on #1119
@terrycain I'm not sure I understand your question - sorry for my ignorance. What do you mean by "sort of jobs"?

In Cloudwatch, my logs are accessible under `/aws/batch/jobs` at: `jobdefname/default/4ac45446-a511-4b6c-a9fb-02df93a4de83` (obviously, the id is an example id).

[2017-10-04 16:25] terrycain commented on #1119
Thanks, sorry was being an idiot, the jobs are just tasks to run containers so technically what they do is irrelevant as long as their output goes to c/w

[2017-10-04 18:15] JackDanger commented on #1238
@josenrihernand Thanks for working on this!

The problem you're running into is that the current implementation of `get_policy` in the IAM Moto backend gets the policy by name: https://github.com/spulec/moto/blob/master/moto/iam/models.py#L471

You'll want to extend that to get it by name or by arn (or create a new `get_policy_by_arn` method, if that feels better). Each policy has a `.arn` propery

[2017-10-04 18:15] JackDanger commented on #1238
If you push your work on a pull request and mark the PR as 'WIP' (work in progress) then we'll be able to run your actual failing tests locally to help debug

[2017-10-04 20:43] josenrihernand commented on #1238
Hi @JackDanger,

Thanks a lot to take a moment, and review it !

I'll summarize the advance so far about this issue:

The most recent adjustment I have applied on the code, follows:

**Template GET_POLICY_TEMPLATE on ../moto/iam/responses.py:**

GET_POLICY_TEMPLATE = """<GetPolicyResponse xmlns="https://iam.amazonaws.com/doc/2010-05-08/">
  <GetPolicyResult>
      <Document>{{ policyarn.document }

[2017-10-04 23:13] terrycain commented on #1119
@JackDanger @thehesiod Thoughts, am just about to implement the [SubmitJob](https://docs.aws.amazon.com/batch/latest/APIReference/API_SubmitJob.html) part for AWS batch.

Was thinking of essentially running docker like the lambda does as batch jobs need to specify a docker image anyway. The only issue I see is, if people run their normal images they might try and contact aws directly... I could ju

[2017-10-05 02:44] thehesiod commented on #1119
ya I think you want to do it that way since it seems like it's all docker based anyways.

ya it's a rather daunting task because the image can be running an AWS SDK in any language.  I think if they're using moto the client using moto would have to figure out how they want to cause the AWS calls to go to moto, in my blog I talk about how I achieved that...It will be easier once proxy support is ad

[2017-10-05 16:46] josenrihernand commented on #1238
Hi @JackDanger

What is the procedure for PR ?
Should i create a new branch on moto repo ? or should i push the moto repo on my own repo ?

thanks a lot!

[2017-10-05 17:12] JackDanger commented on #1238
@josenrihernand You'll want to fork the repo and push a branch to your fork and then create a pull request from that branch. Only a few folks have permissions to push branches to Moto but anybody can create a pull request from a fork. Thanks!

[2017-10-05 18:04] terrycain commented on #1119
That explains why the async invoke of a lambda isnt async, that or its doing some wizardry that I'm missing. Whilst we're in the sync land, I suppose we could just make use of threading as long as its done well enough it should be alright.

I'm up for asyncifying moto @JackDanger you alright with this?

[2017-10-05 18:28] josenrihernand commented on #1238
ok JackDanger, I got it.

thanks !

[2017-10-05 18:42] thehesiod commented on #1119
ya threading is possible as well, but more dangerous :)

[2017-10-05 18:48] terrycain commented on #1119
Yeah agree with that. Though I reckon it should be alright if we use daemon threads. Will test to see what docker does if thread is killed whilst a container is running.

[2017-10-05 18:50] terrycain commented on #1119
@gkiar Mind giving me a simplified version of what your doing with boto3?

[2017-10-05 18:56] gkiar commented on #1119
Hey @terrycain - I'd written a [Jupyter Notebook](https://github.com/gkiar/clowdr/blob/master/sandbox/aws_launch_pipeline.ipynb) a while back that does essentially what I need. It requires an admin-level `credentials.csv`, and shouldn't assume that configuration has or hasn't happened, but will check and either do pieces that were missing or return ARNs for things that aren't. Please let me know i

[2017-10-05 18:59] terrycain commented on #1119
Thats great thanks ;-)

[2017-10-05 19:22] josenrihernand commented on #1238
Hi @JackDanger ,

I just create a PR from my fork, and also I describe a help request:   WIP Iam get policy #1240

I really appreciate your help (or from someone else), in order to implement get_policy and, also, something about a error messages i am getting with get_policy_version.

thanks a lot !

[2017-10-05 22:01] fxfitz opened #1241 "Quick Question: Recommended Mock Setup in Tests"
Is there a recommended way of setting up a mock before each test?

For example, I'm looking to write a series of tests that expect there already to have a SQS Queue created and a message in it.

Any recommendations on how to do that?

Thanks!

[2017-10-06 00:28] terrycain commented on #1241
If your using pytest, fixtures could be the way to go (go look at aiobotocore's unit tests for that). Else just run a function at the start of the test case cant hurt e.g. [this](https://github.com/terrycain/moto/blob/batch/tests/test_batch/test_batch.py#L123)

[2017-10-06 00:29] terrycain commented on #1119
Progress :smile: I have a proper simple implementation... which works... but only runs an alpine container spamming echo messages :smiley:

[2017-10-06 12:01] tnuhwg opened #1243 "Errors returned by mock_s3"
I have a function that calls the boto3 S3 resource. that I'm trying to test using mock_s3. It traps the error for the case when the bucket does not exist, however, mock_s3 returns a different error.

If I test the code using S3 directly, then the ClientError that is returned is:
{'ResponseMetadata': {'HTTPStatusCode': 404, 'RetryAttempts': 0, 'HostId': 'V/TEKk03JwrrcYsu4naQRqY1w0t8x5SE9RqvwFK0L9Q5

[2017-10-06 14:06] fxfitz commented on #1241
Yeah, that's actually what I"m doing now, but was wondering if anyone else had any better or more elegant recommendations.

If not, we can definitely close the issue! :-)

[code]

[2017-10-06 16:59] JackDanger commented on #1243
@tnuhwg I suspect your code is written in a way that it expects an S3 bucket to already exist. When you `mock_s3` you start from an empty S3 and you'll need to make that bucket yourself. Something like:
[code]
then your test code should work.

[2017-10-07 21:32] #1241 closed

[2017-10-08 23:29] leoybkim opened #1249 "Connection error while testing get_function_policy() with mock_lambda"
Try running `get_function_policy()` in `moto/tests/test_awslambda/test_lambda.py`.
Here is my traceback:

[code]

[2017-10-09 11:05] terrycain opened #1250 "Mock X-Ray extension"
This is mainly for my own reference for when I start to expand on X-Ray.

We need to return X-Ray headers from EC2,ECS,Lambda,Elastic Beanstalk,DynamoDB,SQS and SNS

The mock xray decorator only mocks boto calls to the x-ray api, we could do with a mock_xray_sdk which would patch the aws xray sdk so it would send its udp packets to us (as were patching could just hook instead of sending udp) and w

[2017-10-10 12:25] MarSoft opened #1251 "Mock SQS: incorrect handling of bad queue URLs"
On real SQS, when I try to access a queue with invalid URL (e.g. `sqs.Queue('http://some-unknown-name').load()`), I get `QueueDoesNotExist` error.
When using Moto mock, the error I get is different: `UndefinedError: 'None' has no attribute 'attributes'`.
Will attach full trace below but it is not very helpful because BotoCore hides original stack trace.
I tracked this down and found that the excep

[2017-10-10 19:55] JackDanger commented on #1251
@MarSoft Thanks for reporting this! I've fixed it in #1252, would you be so kind as to review that PR?

[2017-10-10 20:02] JackDanger commented on #1249
@dbfr3qs or @thehesiod could one of you triage this?

[2017-10-10 20:06] dbfr3qs commented on #1249
Hi @leoybkim, could you please provide the version of moto you are using?

[2017-10-10 20:10] leoybkim commented on #1249
@dbfr3qs It's the latest version `moto==1.1.21`

[2017-10-10 20:10] thehesiod commented on #1249
tests pass in travis, and "moto_test.py" does not exist in moto from what I see so sounds like something custom.

[2017-10-10 20:12] dbfr3qs commented on #1249
Are you using this within your own tests or are you simply running the moto unit tests? I am unable to replicate.

[2017-10-10 20:13] dbfr3qs commented on #1249
As an aside, I don't think this has actually been released yet even though it has been merged into master.

[2017-10-10 20:24] leoybkim commented on #1249
@thehesiod @dbfr3qs I pasted `moto_test.py` and my python libs installed in my virtual environment into this [gist](https://gist.github.com/leoybkim/dacea850d94e89807214a64021d6a89f). It's the exact same [test_lambda.py](https://github.com/spulec/moto/blob/master/tests/test_awslambda/test_lambda.py) from master branch with the main function calling `get_policy()`.

[2017-10-10 20:26] dbfr3qs commented on #1249
Yes, but it is trying to call code from the master branch which doesn't exist in moto 1.1.21...

[2017-10-10 20:27] leoybkim commented on #1249
@dbfr3qs Ok, that answers my question. Thanks for the response!

[2017-10-10 20:30] thehesiod commented on #1249
seems like @dbfr3qs know's what's going on, what's odd is that per the exception it seems like it's trying to connect to `https://lambda.us-west-2.amazonaws.com/2015-03-31/functions/testFunction/policy?Qualifier=2`, but instead should be calling into moto.  If it were not implemented I would hope a different type of exception would be thrown than `requests.exceptions.ConnectionError: Connection re

[2017-10-10 20:32] dbfr3qs commented on #1249
See this: https://github.com/spulec/moto/blob/1.1.21/moto/awslambda/urls.py - it does not even contain the regex required for the url lookup - which is in master: https://github.com/spulec/moto/blob/master/moto/awslambda/urls.py

[2017-10-10 20:33] dbfr3qs commented on #1249
@leoybkim No problem. Keep an eye out for the next release 👍

[2017-10-10 20:34] dbfr3qs commented on #1249
@thehesiod it would be a good idea to return a not implemented error, perhaps generic for when a url lookup does not exist?

[2017-10-10 20:36] #1251 closed

[2017-10-10 20:38] thehesiod opened #1254 "moto should throw errors for not implemented endpoints for each service"
I was confused when I saw https://github.com/spulec/moto/issues/1249 because I knew that the lambda service was implemented so I didn't understand why the user was getting connect errors until @dbfr3qs reminded me that due to how the url rewriting works in moto, if the specific endpoint for service is not implemented then boto will try to connect to the actual AWS endpoint.  This is bad, instead m

[2017-10-10 20:39] thehesiod commented on #1249
@dbfr3qs ahh...thanks, now I get it, it does not rewrite the url so it tries to connect to the real endpoint.  Just logged https://github.com/spulec/moto/issues/1254 so this will make more sense later :)

[2017-10-10 20:46] JackDanger commented on #1249
I've just realized the current master as Moto 1.1.22. Hopefully this clears up some confusion!

[2017-10-11 03:16] #1235 closed

[2017-10-11 17:59] zelima opened #1256 "Not able to use mocked s3 if script is executed with subprocess (from cli)"
Hi, Trying to write test case where I need to execute the simple script with cli. Script simply puts the file on S3. To execute it I'm using `subprocess.call(['python', 'my_script.py'])`.  For some reasons, this way it is not run under Moto's "virtual AWS server" and `botocore` complains about credentials  - saying so cause if I import the same script and execute that way, everything works fine.

[2017-10-11 18:58] JackDanger commented on #1256
@zelima If you use Moto the default, in-memory way then `@mock_s3` stubs out the AWS client libraries for you. If you call out via subprocess then you're going around that stub and Moto doesn't know how to intercept that call.
However, you can run Moto in server mode! Try running `moto_server` before you run your test and follow the instructions here: https://github.com/spulec/moto#stand-alone-ser

[2017-10-12 03:38] domingosnovo opened #1258 "Instance.modify_attribute() not working for blockDeviceMapping"
## Reporting Bugs

I am trying to set the `DeleteOnTermination` attribute of a volume attached to an instance to `True` using the boto3 method `EC2.Instance.modify_attribute()`, but it doesn't seem to be doing the trick.

I tried using the procedure described in [this link](https://github.com/spulec/moto/blob/a7049acf70afb2261c6a92c193ada51458e91cd5/moto/ec2/responses/instances.py#L147). I also tr

[2017-10-12 08:03] zelima commented on #1256
@JackDanger Thanks for such quick response. This looks promising for me, but I guess it means I should connect to S3 form `my_script` and `my_tests` in the same way, (with `endpoint_url`) If I want to create fake bucket in tests. So, for example, this won't work:
[code]
and script for test
[code]

Since in `my_script.py` I'm connecting to S3 without `endpoint_url='http://localhost:5000'` it will s

[2017-10-12 08:03] #1256 closed

[2017-10-12 20:24] terrycain commented on #1258
Have pretty much solved this, technically moto was setting terminate to true but the response it was giving to boto was being interpreted as false.

[2017-10-12 20:46] dbfr3qs commented on #1258
It might be worth mentioning that the original parameters for modify_attribute were incorrect also:

[code]

I was debugging this and noticed that the parameters were not even getting to the API. The [dock](https://github.com/spulec/moto/blob/a7049acf70afb2261c6a92c193ada51458e91cd5/moto/ec2/responses/instances.py#L147) in the link supplied is misleading in that the parameters are correct for mock

[2017-10-12 20:49] terrycain commented on #1258
Yeah done.

[2017-10-12 20:59] JackDanger commented on #1258
Fixed on master, will release in the next week sometime.

[2017-10-13 17:52] gallamine opened #1261 "moto 1.1.22 breaks dynamodb scan"
Hello, I have an issue that started with moto 1.1.22. Reproduce with:

test_moto_failure.py
[code]

Environment:

[code]

`$ python -m pytest -k "test_moto_problem"`

Error:

[code]

The error `replace() argument 2 must be str, not float` is very odd because clearly I'm sending `str(100)` as my `ExpressionAttributeValues`.

When using `pip install moto==1.1.21` the test passes.

[2017-10-13 18:06] terrycain commented on #1261
Ahh I think i know whats going on

[2017-10-13 18:21] terrycain commented on #1261
Yeah, should be fixed once that PR is merged. But I think it erroring is better than before where filter expressions were completely ignored.

[2017-10-14 07:47] eddyfabery opened #1263 "[moto (1.1.22)] Scan operation on dynamodb2 mock with boolean filter expression raises exceptions"
I have a mocked table with some seed data.
I was able to verify that table is being mocked, sample data inserts with correct attribute types.

What I cannot figure out is why exception is raised from scan operations with BOOL filter expression `Attr('active').eq(True)` while scan operations with S filter expressions are working as expected.

[code]

Scan Function
[code]

-Table is created and seed

[2017-10-14 13:28] terrycain commented on #1263
Probably related to #1261 will have a look in a bit

[2017-10-14 21:37] eddyfabery commented on #1263
Cool just let me know if you need additional info/etc!

[2017-10-16 06:18] captainkerk commented on #893
solution proposed in: https://github.com/spulec/moto/pull/1264

[2017-10-16 10:05] tomelliff commented on #157
@spulec did the class based decorator get implemented? I thought it had at some point because I've even used it in a small project but testing it more vigorously now it doesn't appear to work and was thinking I was doing something wrong but can't find any examples of it being implemented.

[2017-10-16 19:37] terrycain commented on #1218
@JackDanger This should be fixed right seeing as were on 1.1.22

[2017-10-16 19:38] terrycain commented on #1107
Most basic cloudformation to make those errors appear?

[2017-10-16 19:41] terrycain commented on #1042
@JackDanger this can be closed

[2017-10-16 19:41] terrycain commented on #1044
@JackDanger this can be closed

[2017-10-16 19:44] terrycain commented on #1043
Does this still apply to version `1.1.22`?

[2017-10-16 19:45] terrycain commented on #1041
Is this still an issue?

[2017-10-16 19:46] terrycain commented on #1006
@JackDanger this can be closed after merge of #1255

[2017-10-16 19:51] terrycain commented on #877
@Fak3 if you have some example code you want to work, preferably with some example data, I'll have a look

[2017-10-16 19:51] terrycain commented on #842
@whummer if you have some example code you want to work, preferably with some example data, I'll have a look

[2017-10-16 19:52] terrycain commented on #815
@jong-eatsa if you have some example code you want to work, preferably with some example data, I'll have a look

[2017-10-16 19:53] terrycain commented on #695
Is this still an issue? Swear I used it the other day.

[2017-10-16 19:55] terrycain commented on #715
Should be able to fix this after #1262

[2017-10-16 19:59] terrycain commented on #818
Pretty sure this works now, its in the codebase. @JackDanger close please

[2017-10-16 20:00] JackDanger commented on #1218
Yup, this is all fixed.

[2017-10-16 20:00] #1218 closed

[2017-10-16 20:03] pll commented on #1044
Thanks!

[2017-10-16 20:55] #1044 closed

[2017-10-16 20:56] #1261 closed

[2017-10-16 20:56] #1263 closed

[2017-10-16 20:56] JackDanger commented on #715
#1262 is merged, I'll release soon

[2017-10-16 23:56] JackDanger commented on #157
@tomeliff Yes, it works pretty well now. I have it in my project like this:

[code]

[2017-10-17 00:04] #818 closed

[2017-10-17 00:05] JackDanger commented on #695
Closing because the DynamoDB support has received much love lately and this is likely fixed. Please reopen if found to be otherwise.

[2017-10-17 00:05] #695 closed

[2017-10-17 00:06] #1250 closed

[2017-10-17 00:07] JackDanger commented on #1006
Closing as fixed. Thanks @terrycain

[2017-10-17 00:07] #1006 closed

[2017-10-17 00:10] JackDanger commented on #893
Fixed in #1264 thanks to @captainkerk just swooping in and fixing stuff for everybody. Way to go, @captainkerk!

[2017-10-17 00:10] #893 closed

[2017-10-17 00:21] #1042 closed

[2017-10-17 01:30] captainkerk commented on #1185
It seems like I caused this behavior on #1265 by a commit and push, then before it had a chance to finish I amended that commit and force pushed.

Is [Auto Cancellation](https://blog.travis-ci.com/2017-03-22-introducing-auto-cancellation) for this build in Travis CI set? That may help, as the first commit's build will be cancelled.

[2017-10-17 13:30] terrycain commented on #1096
@boompig is this still an issue?

[2017-10-17 13:31] terrycain commented on #1047
This is done right?

[2017-10-17 13:33] terrycain commented on #982
This still an issue?

[2017-10-17 13:33] terrycain commented on #966
This still an issue? Moto is now on version 1.1.22

[2017-10-17 17:17] #1047 closed

[2017-10-17 17:17] thehesiod commented on #1047
yep!

[2017-10-18 10:37] alexwlchan opened #1271 "s3.copy_object() doesn't increment the VersionId correctly"
If you update the file at an S3 key using `copy_object()` in a version-controlled bucket, moto does not assign the key a new VersionId.

Here’s a brief summary of repro steps, with a full runnable test case below:

* Create a version-controlled S3 bucket
* Upload two files to the bucket (say `key1` and `key2`). Check they’re both assigned a VersionID `0`
* Use the `copy_object` API to copy the con

[2017-10-18 21:47] terrycain commented on #1271
Yep confirmed bug, am making a PR as we speak.

[2017-10-18 21:57] terrycain commented on #1258
@JackDanger this is released in 1.1.23, can now be closed.

[2017-10-18 23:22] #1271 closed

[2017-10-18 23:23] #1258 closed

[2017-10-19 00:07] dbfr3qs commented on #1142
I believe this now exists - I added this when I add [get_policy](https://github.com/spulec/moto/pull/1234). This can probably be closed.

[2017-10-19 00:11] JackDanger commented on #1142
Nice!

[2017-10-19 00:11] #1142 closed

[2017-10-19 15:18] drmorr0 opened #1273 "deepcopy in describe_instances call is very slow"
The deepcopy in [ec2/models.py](https://github.com/spulec/moto/blob/b40c5e557e93a1cacb87228aadc6083d5ccf9ec3/moto/ec2/models.py#L793) is very slow; it takes 15-30 seconds for a `describe_instances` call when I've only created 10 instances.  I was trying to do some tests with moto and several hundred instances and it took well over a minute.

I have a branch where I replaced the deep copy with a sh

[2017-10-19 17:15] JackDanger commented on #1273
I've seen this behavior myself. It looks like the only reason we need to copy them is because [`get_reservations_by_instance_id`](https://github.com/spulec/moto/blob/b40c5e557e93a1cacb87228aadc6083d5ccf9ec3/moto/ec2/models.py#L763) wants to mutate the return values. What do you think about changing how that method works to create new reservation objects instead of mutating?

It looks like we'd mos

[2017-10-19 23:56] hwine opened #1276 "Support missing for SNS Publish "Subject" optional parameter"
The API (and boto3) allow for an optional parameter [``Subject`` to the ``publish``](http://docs.aws.amazon.com/sns/latest/api/API_Publish.html) method on an sns client. There are some constraints on the value of that field, (<100 characters is one) which do not appear to be checked in the current ``moto``.

A simplification of the method I'd like to test with ``moto`` is at the end. If I test usi

[2017-10-20 00:05] JackDanger commented on #1276
@hwine Thanks for finding and reporting this! Would you mind writing a (failing) test that reproduces this bug? If you get stuck feel free to make a comment here and somebody will jump in to help out. I recommend looking at `tests/test_sns/test_sns.py` to start.

[2017-10-20 00:27] dmitrypolo opened #1277 "Start Instance calling actual EC2 endpoint"
Currently I am writing some tests using this library. Following the simple example you provide:

[code]

I follow this example and create a test of my own, a trivial one to illustrate the point:

[code]

I am working from within a virtual environment and have verified that the correct path is being called upon by using `moto.__path__`. The version I am using is `1.0.1` according to `moto.__version

[2017-10-20 00:30] drmorr0 commented on #1273
Yes, I can look into it!  Probably not until next week sometime.

[2017-10-20 01:09] WhileLoop opened #1278 "Attaching ACM certificate to ELB listener does not update the certificates InUseBy property."
`

    @mock_acm
    @mock_elb
    def test(self):

        acm_client = boto3.client('acm', region_name="us-west-2")
        elb_client = boto3.client('elb', region_name="us-west-2")

        acm_request_response = acm_client.request_certificate(
            DomainName='fake.domain.com',
            DomainValidationOptions=[
                {
                    'DomainName': 'fake.domain.com',

[2017-10-20 01:12] WhileLoop commented on #1278
@JackDanger If you point me in the right direction I can try to get this implemented.

[2017-10-20 04:58] JackDanger commented on #1278
Absolutely! Thanks for tackling this.

calling `elb_client.create_load_balancer` invokes a method of the same name in `moto/elb/responses.py`. Right here is where the `Listeners=` value is extracted: https://github.com/spulec/moto/blob/master/moto/elb/responses.py#L27 (it's assigned to 'ports').

Then, the `self.elb_backend` is an instance of `ELBBackend` as defined in `moto/elb/models.py`. The `c

[2017-10-20 09:05] bpandola commented on #1277
You're trying to start an instance that you haven't created (or stopped).  Moto is replying correctly, telling you that the instance does not exist.  In order to test your `start_instance` method, you need to create and stop an instance in your `test_start_instance` method first (the call to boto3's `create_instances` method will return the instance identifier, which you can then pass on to your m

[2017-10-20 11:59] mishraawake opened #1282 "Resources in mentioned in cloud formation template is not getting created."
Hi,
I am creating security group through cloud formation template and then trying to retrieve that through boto client but it says that security group does not exists. If i create security group through command line then i am able to fetch it.
It seems like resources in cloud formation does not get created when we deploy it.

[2017-10-20 12:05] terrycain commented on #1278
@WhileLoop I implemented the ACM section so if you get stuck just ask.

[2017-10-20 12:05] terrycain commented on #1282
Can we get a test case that shows this failing.

[2017-10-20 12:28] terrycain commented on #1219
Will have a look

[2017-10-20 12:48] terrycain commented on #1219
I just created a unit test
[code]

And it claims the ETag is fine. The only thing I can think of is if the C# sdk uses the multipart upload behind the scenes then the ETags arn't going to be the same anyway.

[2017-10-20 13:44] hwine commented on #1276
@JackDanger looks like @terrycain beat me to it. ;)  If that didn't cover it, let me know specifically what you're looking for.

[2017-10-20 14:15] terrycain commented on #1276
Yeah sorry was bored, and this popped up :wink:

[2017-10-20 15:19] dmitrypolo commented on #1277
@bpandola you are correct, I was under the impression it worked like MagicMock, using your suggestions I was able to go ahead and create a method which populates the services I need. Thank you. I am closing this issue.

[2017-10-20 15:19] #1277 closed

[2017-10-20 15:28] copenhas commented on #1219
It would appear so. The .NET SDK generates a different hash then moto. I have no problems using AWS S3 service itself though.

[2017-10-21 06:40] mishraawake commented on #1282
Hi,
I debuged and found out the reason. In case of route53 models.py in moto, physical_resource_id is returning as name of resource but it should have been id of resource.

[2017-10-21 09:11] terrycain commented on #1282
Ahh if you havent already I can PR that later.

[2017-10-21 21:18] terrycain commented on #42
Do we still need this?

[2017-10-21 21:19] terrycain commented on #333
Is this still an issue or can this be closed?

[2017-10-21 22:42] terrycain commented on #511
@JackDanger should be done, close please

[2017-10-21 22:45] terrycain commented on #627
@JackDanger close please

[2017-10-21 22:46] terrycain commented on #666
@JackDanger moto's dynamo has advanced alot since 2016, can this be closed and reopened if needed

[2017-10-21 22:46] terrycain commented on #688
ETags work in S3, @JackDanger close please

[2017-10-21 23:42] dbfr3qs commented on #1249
I'm wondering if this issue can be closed?

[2017-10-22 17:38] JackDanger commented on #42
Due to Boto3's lack of plans to support Google Cloud Storage I'm going to close this for now: https://github.com/boto/boto3/issues/579

[2017-10-22 17:38] #42 closed

[2017-10-22 17:39] #333 closed

[2017-10-22 17:39] JackDanger commented on #511
@terrycain Many thanks for the help with issue triaging

[2017-10-22 17:39] #511 closed

[2017-10-22 17:39] #666 closed

[2017-10-22 17:39] #627 closed

[2017-10-22 17:40] #688 closed

[2017-10-22 18:53] #1282 closed

[2017-10-22 18:53] JackDanger commented on #1282
Nice work, @terrycain !

[2017-10-22 20:14] mishraawake opened #1288 "Instance created by Autoscaling does not have subnet"
When we create instance through autoscaling, the subnet of instance is not specified, It should be derived by autoscaling property "VPCZoneIdentifier"

[2017-10-23 00:14] gaffo opened #1290 "AWS SDK XRay is now at 0.93 and it looks like 0.92.2 is not available publicly anymore"
Could we upgrade the version or do a >= instead of a == in setup.py?

[2017-10-23 08:55] frivoire commented on #1290
Exactly : version 0.92.2 *is* available on pypi, but only as a wheel and not at a tar.gz, cf this issue :
https://github.com/aws/aws-xray-sdk-python/issues/1

So I agree with you, there is an issue/improvement.
So I've created this PR : https://github.com/spulec/moto/pull/1292

[2017-10-23 16:41] #1276 closed

[2017-10-23 20:05] leoybkim commented on #1249
@dbfr3qs I'm okay with closing it as long as it is fixed in the next release

[2017-10-23 20:37] dbfr3qs commented on #1249
I believe that was fixed in the release mentioned above.

[2017-10-23 20:38] #1249 closed

[2017-10-23 21:48] hwine opened #1298 "Optional "Subject" parameter to SNS Publish not propagated into the response"
Now that #1276 has been merged, I'll re-raise the issue I [embedded](https://github.com/spulec/moto/pull/1283#discussion_r146011781) in that review.

The Subject field is now accepted, and validated. However, the value of the Subject field is not propagated into the message. Rather it returns the default value 'my subject' from https://github.com/spulec/moto/blob/462eceae6f73f0b529ecc12fe03eaf018f

[2017-10-24 15:42] terrycain commented on #1119
Should have basic support in #1197, it has a hardcoded containert for now which writes hello world to cloudwatch.

Cloudformation should also work

[2017-10-24 19:09] terrycain commented on #1119
If you get any issues then report them here

[2017-10-24 19:10] terrycain commented on #1290
This is merged, can it be closed now?

[2017-10-24 19:15] #1290 closed

[2017-10-24 19:15] JackDanger commented on #1290
Thanks for the triage @terrycain

[2017-10-25 14:10] gkiar commented on #1119
Amazing, @terrycain - thanks! I'll try to start playing with this soon and will report back. Really appreciate your work!

[2017-10-26 14:38] dlcron opened #1311 "Cloudwatch.moto support for alarm states"
Feature request regarding cloudwatch moto.
===========================================

Hello, I need following apis:
* `boto3.client('cloudwatch').describe_alarms(StateValue=)`
* `boto3.client('cloudwatch').set_alarm_state`

Currently those are not supported and raises NotImplementedError:
* https://github.com/spulec/moto/blob/eb220cc6fb120a978de93be3905c50799875ba8d/moto/cloudwatch/responses.py#

[2017-10-27 11:38] #1273 closed

[2017-10-27 11:39] #1243 closed

[2017-10-27 11:57] #1096 closed

[2017-10-27 11:59] #1094 closed

[2017-10-27 17:06] terrycain commented on #1311
API docs for [set_alarm_state](https://docs.aws.amazon.com/AmazonCloudWatch/latest/APIReference/API_SetAlarmState.html), and [describe_alarms](https://docs.aws.amazon.com/AmazonCloudWatch/latest/APIReference/API_DescribeAlarms.html)

Will have a look.

[2017-10-27 17:22] boompig commented on #1096
This issue is not fixed. I don't understand how this ticket was closed without at least checking the testcase. Let me produce the full testcase for you below:

requirements:
[code]

python version: 3.6.0

code under test (sqs_pull_events.py):

[code]

testing code (test_sqs_pull_events.py)

[code]

Command to run: `pytest test_sqs_pull_events.py`

Error:

[code]

Please reopen this issue as it is

[2017-10-27 18:01] terrycain commented on #1311
Good issue, a failing test case would of sped things up but then again its not too difficult to make one. :smile:

[2017-10-28 01:48] #1175 closed

[2017-10-28 20:33] captainkerk commented on #1288
Yeah, looks like we do ignore that parameter when launching new instances. Also, it looks like I've mistakenly set VPCZoneIdentifier to a VPC's ID, rather than a subnet in a few tests.

I'll try to fix this in the next few days.

[2017-10-28 23:50] JackDanger commented on #1096
@boompig Your test case uses Moto version 1.0.1 and this bug has since been fixed. Please try with Moto version 1.1.24

[2017-10-30 08:20] dlcron commented on #1311
Yeah, I'll remember about this next time ;_). Thanks!

[2017-10-31 20:13] dbfr3qs opened #1317 "Can Mock lambda's make calls to other mock resources?"
Just a question really, but with Lambdas now executing within docker containers, is it possible for mocked lambdas to access other mocked resources, such as DynamoDB tables?

Also, do functioning environment variables get created when passed in to create_function?

Probably something @thehesiod can answer?

[2017-10-31 20:44] dbfr3qs commented on #1317
Hmm, looks like you can't access other resources from within the lambda, I'm getting

[code]

While trying to access a mocked DynamoDB table. Hard to debug though...

[2017-11-01 01:16] dbfr3qs commented on #1317
What I ended up doing was using the [DynamoDB local](http://docs.aws.amazon.com/amazondynamodb/latest/developerguide/DynamoDBLocal.html) application on another [docker container](https://hub.docker.com/r/dwmkerr/dynamodb/). In my test setup code I stand up the container and create my table with data, etc, then I just use moto to stand up my lambda as per usual. I then run my tests without making a

[2017-11-01 08:26] thehesiod commented on #1317
Sorry on paternity leave, I wrote a blog post about how I do it: http://hesiod.blogspot.com/2017/10/mocking-aws-lambdas.html?m=1

[2017-11-01 08:29] thehesiod commented on #1317
Btw later we can do this easier when mocking via proxy is added. IIRC I added a issue for this for us to track

[2017-11-01 08:31] thehesiod commented on #1317
And environment variables are correctly passed now, it's one of the things I fixed.

[2017-11-01 19:23] dbfr3qs commented on #1317
Cool, when you have time, can you elaborate on what mocking via proxy will involve?

I used your blog as the basis for what I ended up doing with DynamoDB local.

[2017-11-02 02:47] mklosi commented on #1008
This has been implemented, merged and deployed already?

i keep getting this: `TypeError: string indices must be integers`

[2017-11-02 13:47] eric-weaver commented on #1008
@mklosi This has been merged in and released with I believe the 1.1.0 release. It was working at the time but a lot has changed in moto since then. I recommend creating a new issue and including a stacktrace of the error and a snippet so others can help.

[2017-11-02 16:48] mklosi opened #1318 "S3 object tagging causes `TypeError: string indices must be integers`"
Code to reproduce:

[code]

Traceback:

[code]

[2017-11-02 16:49] mklosi commented on #1008
hi @eric-weaver. thanks for responding.

I've created the ticket with code and traceback. let me know if there is anything else i can help with.
https://github.com/spulec/moto/issues/1318

[2017-11-03 06:34] bpandola commented on #1318
Thanks for the report.  I've got a fix for this in PR #1319.

[2017-11-03 11:34] #1318 closed

[2017-11-03 17:33] terrycain commented on #1317
@thehesiod Doesn't boto use ssl by default so it would just do a CONNECT through the proxy and we'd see nothing? unless im missing something.

[2017-11-04 00:20] dbfr3qs commented on #1317
@terrycain use_ssl is is set to True by default except when the endpoint_url parameter is used in a client/session constructor.

So, would a high level proxy design go something like: set an http proxy environment variable within the lambda container, create a proxy either in a container or directly in memory listening on some port (8080 for example, which the http proxy variable set in the lambda

[2017-11-04 03:35] thehesiod commented on #1317
Just thinking about this: https://github.com/boto/botocore/blob/develop/botocore/config.py#L59 so we wouldn't need to specify one per service. Then Moto would have a proxy server and route appropriately

[2017-11-04 18:09] spulec commented on #1107
`AWS::ElasticLoadBalancingV2::TargetGroup` was added with https://github.com/spulec/moto/pull/1314

[2017-11-04 18:28] terrycain commented on #1107
Judging from that output are you using the latest moto version?

[2017-11-04 18:37] spulec commented on #1159
I like this. I can add some encrypted keys if we think that is the right way to go

[2017-11-04 18:48] terrycain commented on #1159
Yeah I think when I did it there was a script that set up all the Travis
yml for me so it shouldn't be too difficult.

On 4 Nov 2017 18:37, "Steve Pulec" <notifications@github.com> wrote:

[2017-11-04 18:53] spulec commented on #1102
Should be fixed with https://github.com/spulec/moto/pull/1279

[2017-11-04 18:53] #1102 closed

[2017-11-04 19:49] spulec commented on #1100
Closing in favor of #1026

[2017-11-04 19:49] #1100 closed

[2017-11-04 19:50] #1311 closed

[2017-11-04 21:48] terrycain commented on #1219
Can this be closed? As I'm wanting to blame .net ha

[2017-11-04 21:58] dbfr3qs commented on #1317
Wouldn't that involve somehow setting the proxies parameter on any boto
session objects in use around a test (even clients that are created by code
under test)? For example, how would this parameter be set on code being
executed within a lambda, within moto's container, that creates clients to
access other services? Or am I on the wrong track?

On 4 November 2017 at 16:35, Alexander Mohr <notifica

[2017-11-04 22:00] dbfr3qs commented on #1159
If anything this would reduce the amount of work for @JackDanger.

[2017-11-04 22:10] thehesiod commented on #1317
My thought is via an environment variable triggering a global wrapt like
currently done (would avoid an environment variable per endpoint). Or if
botocore natively supported a proxy environment var that would be the
cleanest.

On Nov 4, 2017 2:58 PM, "Chris" <notifications@github.com> wrote:

[2017-11-04 22:24] dbfr3qs commented on #1317
Oh, yep. On your blog you talk about the wrapt code being run in each container, including the lambda container. How does that code get run exactly? There is a comment that says "run in start up code"...

[2017-11-05 07:31] thehesiod commented on #1317
Ah, basically had that part always run from my main() function

[2017-11-05 13:03] copenhas commented on #1219
I'll try to update and replicate your test tomorrow. I believe everyone on my team has switched to localstack which seems to be working for us.

[2017-11-05 16:54] christophetd opened #1322 "Simulating boto3 errors or access denied"
Hi,

I'm interested to use Moto to test the implementation of class exposing a `is_bucket_writable` method returning True or False. Basically the code is:

[code]

... so it relies on boto3 throwing a `ClientError` to work. Is there anyway to make boto3 throwing an exception for that? I've tried changing the bucket ACL (`conn.BucketAcl('bucket').put(...)`) but I didn't manage to find any that woul

[2017-11-05 19:35] terrycain commented on #1322
I have a feeling ACLs might not be implemented yet. If you could write up a simple testcase I could probably get it done.

[2017-11-05 20:49] dbfr3qs commented on #1317
Ah, so for example, in the lambda execution container - you have that code running in the lambda itself?

[2017-11-06 07:21] christophetd commented on #1322
I'll see if I can find some time to do that. In any case, do you think making boto3 throw errors is doable? The use case would be to test your application error handling, or something a bit more exotic like I'm doing

[2017-11-06 09:40] terrycain commented on #1322
mmm, it should be possible, i'll have a think

[2017-11-06 17:38] DanHanson82 commented on #1043
sorry for the late reply.  I had moved over to compose but will look at updating moto and testing again with an updated version today.

[2017-11-06 18:04] adamgilman opened #1323 "SNS.create_topic should be indempodent"
Per the [AWS SNS documentation](http://docs.aws.amazon.com/sns/latest/api/API_CreateTopic.html) the CreateTopic action should be idempotent.

Expected:
- create_topic should not overwrite an existing topic which already exists

Results:
- topic is overwritten without checking if topic already exists
- https://github.com/spulec/moto/blob/master/moto/sns/models.py#L197

Failing example test code:
[c

[2017-11-06 18:14] terrycain commented on #1323
Good spot, should be an easy fix :smile:

[2017-11-06 19:06] #1323 closed

[2017-11-06 21:29] pll opened #1325 "Feature request: Support for resourcegroupstaggingapi"
Would love to see some basic support for this API call!

Thanks.
--
Paul

[2017-11-06 21:39] #1198 closed

[2017-11-06 21:45] dbfr3qs commented on #1317
I also had the thought: would it be possible to mock lambdas that call other lambdas?

[2017-11-06 23:54] terrycain commented on #1317
@dbfr3qs If we can mock 1 lambda successfully then in theory multiple will just work.

@thehesiod that does mean users need to make moto aware lambdas.

Just a random thought, couldn't we just run a dodgy wrapper script that (language dependant) patches whatever aws library is in use to point to moto url?

[2017-11-07 00:12] terrycain commented on #1325
This is going to be an interesting one.
Can I get a list of resources you intend to use with this? Mainly as moto has a ton of resources and I'm bound to miss some so if I can satisfy what your after, any more that are missing can be added after the fact.

[2017-11-07 01:01] dbfr3qs commented on #1317
@terrycain that's where I was heading. I was hoping we could find a way to do this without having to put anything extra into Lambda code specific to testing (as it is now, I am using the endpoint_url parameter to point to, for example, a container running the dynamodb service).

[2017-11-07 05:41] mklosi commented on #1318
when do you think I could use this fix?

[2017-11-07 08:46] terrycain commented on #1318
@mklosi The release cycles vary, but normally its not any longer than a week

[2017-11-07 20:00] adamgilman opened #1327 "Decorator doesn't capture test classMethods"
**Expected behaviour**: Decorating a test class should make all calls to boto3 mocked by moto

**Resulting behaviour**: ConnectionError raised

[code]

Traceback
[code]

[2017-11-07 20:17] pll commented on #1325
These  are the current supported resources for Resource Group Tagging:
http://docs.aws.amazon.com/awsconsolehelpdocs/latest/gsg/supported-resources.html

At this time I am merely calling this function to get a list of the supported resources which are already tagged.  Does that make sense? I'm basically using it as a means to discover if an environment of a specific name exists. So, we  have an au

[2017-11-08 10:11] adamgilman opened #1328 "SNS.create_topic shouldn't accept invalid input"
Per the [AWS SNS documentation](http://docs.aws.amazon.com/sns/latest/api/API_CreateTopic.html) the CreateTopic shouldn't accept topic names that don't match the constraint: _Topic names must be made up of only uppercase and lowercase ASCII letters, numbers, underscores, and hyphens, and must be between 1 and 256 characters long._

Expected:
- create_topic should raise an InvalidParameterValue whe

[2017-11-08 10:21] adamgilman commented on #1328
Forgot to sync my fork; ignore previous commit.. One sec

[2017-11-08 10:34] adamgilman commented on #1328
The regex isn't perfect but, it catches the major common characters people would use

I would welcome a more complete regex solution... Beyond my abilities :)

[2017-11-08 11:40] terrycain commented on #1327
The mock when used on a class skips class methods, am not sure if we can safely undo that without breaking an untold number of peoples code.

https://github.com/spulec/moto/blob/master/moto/core/models.py#L88-L90

@JackDanger Opinions?

[2017-11-08 13:40] linkyndy opened #1330 "NotImplementedError: Called get_bucket_versions with some of delimiter, encoding_type, key_marker, version_id_marker"
My application is issuing S3 requests like:

[code]

Using debug mode, I get this error:

[code]

I use localstack that in turn uses moto. Are you planning on addressing this issue somewhere in the near future? It is very important for us, since the whole local setup relies on this.

[2017-11-08 13:56] terrycain commented on #1330
Can you give me a simple testcase with boto3 that will cause this, then I'll go and look at it.

[2017-11-08 14:00] linkyndy commented on #1330
Unfortunately, our client is implemented in Ruby and communicates locally with localstack's S3 (which I guess uses moto underneath). So I'm not sure what I can provide in order to help you. Isn't the URL/stacktrace from localstack insightful enough?

[2017-11-08 14:02] terrycain commented on #1330
It would of been quicker if I had a test case but I can make do.

[2017-11-08 15:02] terrycain commented on #1325
Yeah should be fine, thanks for the example. Shouldn't be too difficult to get working.

[2017-11-08 16:31] pll commented on #1325
@terrycain I would love to help add this support, but have no idea how moto actually works in order to contribute, any way you could you include me on the PRs so I can learn by watching ?

[2017-11-08 18:12] terrycain commented on #1325
Sure, when I start the PR I normally mention the issue so you'll see it appear in the thread at some point. I'll try and order my commits a bit better so if you view commit by commit you'll see hopefully a fairly logical way of adding support.

[2017-11-08 18:32] pll commented on #1325
Awesome!  I seem to encounter a lot of edge cases that moto doesn't yet support. I'd love to learn how to properly extend it!  Thanks!

[2017-11-08 20:54] terrycain commented on #1325
Yeah moto is more of a do it/fix it as we see it project due to the scale of things to do.

[2017-11-08 21:01] thehesiod commented on #1317
basically my main currently looks something like:
[code]
instead if moto supported proxies, we could just have one environment variable and don't even need to do the check, and look like this:

[code]

with main now always calling it:
[code]

however, after looking at botocore's source it appears environment variables are in fact supported, so none of that is needed, see: https://github.com/boto/b

[2017-11-08 21:02] thehesiod commented on #1108
based on research in https://github.com/spulec/moto/issues/1317 it seems like one could either support this on the client side via Config.proxies, or `http[s]_proxy` environment variables.

[2017-11-08 21:08] thehesiod commented on #1317
@dbfr3qs ya that's what I'm thinking.  Set http proxy environment variable for lambda function or in client process, botocore picks this up on each request, forwards request to appropriate endpoint...Similar as how endpoint_url currently works but with routing.  I'm not 100% on details as I've never written a proxy server before but I think it should be pretty simple.

[2017-11-08 21:09] terrycain commented on #1108
Hmm, I "think" if we do https_proxy, we'd need to serve moto on https, and also trust whatever CA we're using in lambdas. If we only listen on http, we'll need to patch whatever library in use to default use_ssl=False

[2017-11-08 21:17] terrycain commented on #1317
Well when proxying HTTPS, most things issue a HTTP CONNECT, which will just sort of tunnel traffic through the proxy and I highty doubt we'll see anything, (https://en.wikipedia.org/wiki/HTTP_tunnel#HTTP_CONNECT_method)

As for HTTP, Moto pretty much works as a http proxy server, it tries to infer services from the urls anyway, we'd just need to pass through unknown urls (via a catch all handler)

[2017-11-08 22:26] dbfr3qs commented on #1317
I was thinking we could add a fall through config for the proxy server, which would allow people to use other 3rd party docker containers (or even real services, whatever) for requests to non AWS services the moto proxy does not know about. Like a hosts file for the proxy or something that explicitly defines routes.

I think setting the HTTP_PROXY/HTTPS_PROXY env variables is a good idea, within t

[2017-11-08 22:53] #715 closed

[2017-11-09 00:30] terrycain commented on #1325
^^ above is link to PR, feel free to ask questions about things

[2017-11-09 00:36] terrycain commented on #1317
Step2, I have a feeling anything will just blow up when ssl is invalid when talking to moto, but other than that, sounds good. Have a crack at it and see how far you get, then we can decide on what bit needs fixing next

[2017-11-09 00:37] dbfr3qs commented on #1317
No problem. I'll have a go during the weekend.

On 9 November 2017 at 13:36, Terry Cain <notifications@github.com> wrote:

--
Chris Keogh
Ph 021 1616692

[2017-11-09 15:54] pll commented on #1325
@terrycain  - Thanks. Took a look at the diffs, but am kinda lost. I think I need to understand the basic architecture of moto and how it works. I'm such an advanced programmer that it's obvious to me by reading the code.  I'll keep poking at it though, since I really *want* to understand so I can contribute as well!

[2017-11-09 16:12] terrycain commented on #1325
Yeah the first few changes are purely to set up moto so it knows about the new api. The responses  file handles incoming requests from boto3, the models file mainly deals with all the application logic and storage.

moto does some funky stuff with the request url, which it then maps to functions defined in the responses file automagically

[2017-11-09 16:17] pll commented on #1325
Oh, interesting.  Yeah, I probably just need to spend a lot of time poking through the code, maybe even running it in the debugger to poke at things to see what it's doing in order to understand the why's and how's.  Is there any basic developer documentation for moto anywhere?  Everything I've seen is end-user oriented.

[2017-11-09 18:33] terrycain commented on #1325
Yeah theres not really any docs for developers, I should probably write some at some point

[2017-11-10 14:16] aop commented on #1026
I'll confirm this issue is still live in 1.1.24

[2017-11-10 16:34] terrycain commented on #1026
Ok so [this](https://github.com/spulec/moto/blob/master/moto/packages/responses/responses.py#L326) line `mock = _default_mock = RequestsMock(assert_all_requests_are_fired=False, pass_through=False)`, is the culprit.

Hmm, I have a feeling if i set pass_through to True, things will break. Lets see.

[2017-11-10 16:50] terrycain commented on #1026
Ok well it seems I can change pass_through to True, without breaking any tests, [results](https://travis-ci.org/terrycain/moto/builds/300251942).

@JackDanger any thoughts on this, according to the tests it wont break anything. Only downside is it will allow non supported services to go to AWS but people should really know that some things are not supported as they would have had to `@decorate` so

[2017-11-10 20:07] DanHanson82 commented on #1043
yes I'm getting that same error with moto==1.1.24

[2017-11-10 23:27] dbfr3qs commented on #1317
So I started looking into this. Most of the example http proxy implementations I looked at all operate directly on the sockets library, a little bit lower than requests. Moto looks to patch the requests library (https://github.com/spulec/moto/blob/master/moto/packages/responses/responses.py#L309).

I am unsure how to "route" the traffic from a sockets based proxy to moto (at this point I'm talking

[2017-11-11 06:59] thehesiod commented on #1317
Btw There are ways to validate self signed certs via env vars and public certs

[2017-11-11 20:00] terrycain commented on #1317
@thehesiod that sounds good, you mind elaborating :-)

[2017-11-11 22:06] #1043 closed

[2017-11-12 10:10] aop commented on #1026
Is it so that moto can't now be used in conjuction with the pure `responses` library? I see that moto carries it's own "package" of the `responses` library. There seems to be a problem that the both patch the same target namely here: https://github.com/spulec/moto/blob/master/moto/packages/responses/responses.py#L312

I'm not sure what double patching the same target does but it probably kills the

[2017-11-12 11:18] #1200 closed

[2017-11-12 16:14] JackDanger commented on #1026
@terrycain I'm kinda okay with non-supported services passing through to AWS. It seems reasonable to me that if you `@mock_ec2` it goes to Moto and if you don't you get AWS, always (If I understand the decision we're trying to make correctly). @spulec WDYT?

[2017-11-13 08:42] itzaliza opened #1338 "lambda doesn't support get function by name and version"
When calling the get_function API and specifying the version in the qualifier parameter, the call throws a ClientError('An error occurred (404) when calling the GetFunction operation: ')

function_data = client.get_function(FunctionName="my_func", Qualifier="$LATEST")

Looking at the source code, this occurs because the version gets concatenated to the function name.

[2017-11-13 10:42] terrycain commented on #1338
You mind providing a simple test case?

[2017-11-13 11:05] itzaliza opened #1339 "sts should support cross account assume_role"
when calling sts.assume_role, identify if the role arn is pointing to another account and clear the state of all aws resources.

for example:
1) create a lambda client and create a single function
2) assume role to another account
3) create a second lambda client with the credentials returned in step 2
4) expect to find 0 lambda functions defined (as we are now using a client of another account)

[2017-11-13 11:16] itzaliza commented on #1338
[code]

[2017-11-13 11:45] terrycain commented on #1339
Ok Moto has absolutely no concept of the current user, doing this would be a massive undertaking, though I agree would be great if it worked.

[2017-11-13 18:27] #1328 closed

[2017-11-13 21:25] thehesiod commented on #1317
this is what I use: `SSL_CERT_FILE=/PRIVATE_ROOT.pem  python3 setup.py bdist_wheel` so I think if you set that env var you can specify which private root to trust.

[2017-11-13 21:28] thehesiod commented on #1317
btw back from paternity leave, let me know if there's anything else I can clarify.  to recap: I think by setting the proxy env vars we can proxy boto calls w/o changing any code in the lambda...however that would cause all requests via the "requests" library to also be proxied...so  I think either the moto proxy forwards non-AWS requests along, or, we ask botocore to add support for separate botoc

[2017-11-13 21:38] dbfr3qs commented on #1317
Cool. Where I got stuck was trying to work out how to implement the proxy
in moto that listens for incoming traffic from the lambda and routes
accordingly. Would it be as straight forward as just following what happens
when moto is running in server mode?

On 14 November 2017 at 10:28, Alexander Mohr <notifications@github.com>
wrote:

--
Chris Keogh
Ph 021 1616692

[2017-11-13 22:25] thehesiod commented on #1317
hmm, so thinking this through, if we assume  proxy mode is going to replace the old server mode, we'll have one endpoint to control all services.  I believe if we configure it as a transparent proxy, it can just natively call the underlying methods in moto and return the response...so I think the proxy should act like a a set of the old server-mode endpoints...however just one port is exposed.  So

[2017-11-13 22:26] thehesiod commented on #1317
and for any services not implemented return 404 or something like that?

[2017-11-13 22:30] thehesiod commented on #1317
there are some examples of transparent proxy servers.  If this can be py 3.4+ personally I'd try with asyncio so we can start moving in that direction.  Thinking about making moto handle multiple requests in parallel is going to be complicated...I have a feeling that in server mode it's probably already not quite right as you can have multiple threads working on the same service at the same time c

[2017-11-14 00:46] terrycain commented on #1317
Yeah in server mode, you can get things quite confused if you hammer it.

So server mode essentially runs flask, with a ton of url regex's with some glue code to pass the request to the responses.py files.

So from what I've read so far. Summing up:
* a transparent proxy, so that anything non aws still works fine.
* ssl would be good too, would mean possibly 0 changes to code if we can tell python

[2017-11-15 00:03] #1325 closed

[2017-11-15 14:46] sunilkumarmohanty opened #1342 "dynamodb update item with nested item issue"
Hi,

When I update_item with Update expression as
SET #name1.#name2 = :value'
where name1 is a map

When I scan and read the item, I get the result as
'Name1.Name2':
the item is saved as #name1.#name2 instead of a map structure. Is it a known issue

[2017-11-15 15:12] terrycain commented on #1342
Not a known issue as far as im aware, can you create a simple test case for this and i'll look into it

[2017-11-15 15:25] VitalyIvanov commented on #1342
I have the same issue. It seems UpdateExpression doesn't work with Nested Map Attributes properly. I'm using mock_dynamodb2.

If I run something like this
[code]
and then read the data with scan, a result item contains a new attribute with the key 'ResultResources.Final.Key' instead of updating a nested attribute. It works properly if I run my function on AWS.

[2017-11-16 00:13] terrycain commented on #1338
^^ Should fix it. Can't alias yet but it does add publishing lambdas so you get versioned copies, and $LATEST now works.

[2017-11-16 19:32] terrycain commented on #1342
Should fix it. No garuentees but it fixes @VitalyIvanov's example

[2017-11-17 08:50] #1342 closed

[2017-11-20 08:44] VitalyIvanov commented on #1342
@terrycain Great! Thank you! My use case now works just fine.

[2017-11-20 09:08] terrycain commented on #1342
No problem mate. Glad its working, that bit of the code is proper evil :D

[2017-11-20 11:20] terrycain opened #1350 "New version"
@JackDanger can we bump version. Or better yet, can you email me the pypi details so i can automate it :wink:

[2017-11-20 18:31] kermorgant opened #1353 "ses : support missing for set-identity-notification-topic and 2 others"
Hi,

I've just setup localstack and read it relies on moto for SES so here's my issue with set-identity-notification-topic (I'm new to aws mocking it so I might have missed something...)

I have a piece of php code using "setIdentityNotificationTopic", "setIdentityFeedbackForwardingEnabled" & "GetIdentityNotificationAttributes". Seems all three are missing

I've double checked with the cli
http://

[2017-11-20 20:33] JackDanger commented on #1350
I've now released Moto version 1.1.25
@terrycain what's your PyPi username? I'll see if I can add you to the project!

[2017-11-20 20:35] JackDanger commented on #1350
@spulec Can you add @terrycain to the PyPi project so Terry can do releases?

It's probably time we add a more formalized release process. I'll write a short guide for contributors and add some helpful scripts.

[2017-11-20 21:18] JackDanger commented on #1350
I've created some new guides for maintainers to easily release new versions of Moto. It's now a 3-command process: #1355

[2017-11-21 16:23] laurrentt opened #1356 "owner-alias not implemented when filtering AMI using describe_images"
As recommended by this error message:

I'm opening this issue to keep track of the support for owner-alias filter in the describe_images method of the ec2 client.

Here's a code example of the issue:
[code]

And here's the exception raised by moto:
[code]

This is not a huge deal for me so I'm not planning to open a PR myself. But maybe someone with the same problem will. 😄

[2017-11-21 16:55] afgane opened #1357 "Version 1.1.25 breakages"
The 1.1.25 release seems to have introduced some undocumented changes that are breaking previously working builds. The same test harness run against real AWS infrastructure continues to function properly. I haven't dug into any of this but all the issues happen when upgrading from 1.1.24 to 1.1.25.

A link to Travis build is here with all the details: https://travis-ci.org/gvlproject/cloudbridge/j

[2017-11-21 17:13] toshitanian commented on #1357
Just took a look, #1331 has many changes related to AMI. We can check the changes in the PR.

[2017-11-21 23:56] noah10 commented on #1189
I'm probably missing something, but why was the fix is to look up a topic arn? SNS allows publishing SMS messages straight to a phone number without any topic arn involved; [the docs](http://docs.aws.amazon.com/sns/latest/api/API_Publish.html) specify that you must provide either a phone number OR a topic arn OR a target arn but don't (as far as I can see) say that you need to provide more than on

[2017-11-22 09:30] ysku opened #1358 "dynamodb update item with if_not_exists in update-expression"
When I did update_item with Update expression as `SET a = if_not_exists(a, :a)`, I got `ConditionalCheckFailedException`.

code to reproduce:
[code]

when executing the above code, get the below error.
[code]

the below is the expected response.
[code]

version : `1.1.25`

[2017-11-22 09:36] terrycain commented on #1358
I'll have a look at this.

[2017-11-23 00:31] xiaket opened #1360 "Create default KMS keys."
Hi all.

Recently I've been working on some testing which involved ssm and kms. My code uses a default KMS key created and maintained by AWS(`alias/aws/ssm`) and I have to write test it. As I have to use the `describe_key` api call to get the uuid of the key and so in my code, I will use `describe_key` against `alias/aws/ssm`. When I was writing the unit tests, `describe_key` against `alias/aws/ss

[2017-11-23 02:12] 2rs2ts opened #1361 "Moto returns inaccessible regions (for most accounts) when calling describe_regions"
For most AWS customers, certain regions are not available: cn-north-1 and us-gov-west-1. When you call [`DescribeRegions`](http://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_DescribeRegions.html) you get the list of AWS regions available to you(r account.) This is how `boto3`'s EC2 client works: it calls `DescribeRegions`. However, `boto` gets its endpoints from a JSON file, and by default

[2017-11-25 22:17] iharush opened #1363 "Lambda add_permission is missing processing of the given policy."
When Calling

**lambda**Client.add_permission(**params)
The processing of the given policy is missing. The current code only store the given policy dict.

the missing steps are:

Add "Effect" : "Allow"
The given string Principal needs to be under "Service"
The key "Resource" needs to hold the function ARN.
The key "StatementId" needs to be renamed to "Sid"
to summarize:

For the input:

{
  "Actio

[2017-11-26 21:28] #1338 closed

[2017-11-26 21:32] terrycain commented on #1361
Issue is that filtering out cn-north-1 and us-gov-west-1 is a little bit of hassle as we just simply ask boto3 what regions exist, regardless if you have access to them, and on from that Moto has absolutely no clue about what account is requesting data, so toggling this on and off would be even more difficult... And I do some work in cn-north-1 so it being there is nice :wink:

[2017-11-26 22:40] terrycain commented on #1357
My bad.

1 and 2, those traces are pretty much useless without examples, can you provide a test case for each.

As for .3 10.0.0.1/24 isnt a valid CIDR when creating a subnet. your after 10.0.0.0/24, though we probably want to add some error checking.

[2017-11-26 22:44] terrycain commented on #1360
I'd say 1 sounds the like the "most correct" option, and in terms of breaking tests, thats why we release newer versions, they can pin old ones till they fix. PR 1. and I'll have a look

[2017-11-26 22:45] terrycain commented on #1356
We'd need a comprehensive list of what alias's refer to what ownerid, if someone finds me them, i'll add support.

[2017-11-26 23:15] xiaket commented on #1360
Thanks @terrycain , I'll do it after https://github.com/spulec/moto/pull/1359 was merged(due to dependencies).

[2017-11-27 17:53] afgane commented on #1357
I'll try to find time to isolate the code that breaks the tests but at that point I might as well figure out how to update our test procedure to account for the changes since I'll have already spent the time. The core issue is that things were changed in the implementation but not documented as part of the release.

[2017-11-29 23:16] raymondhardy opened #1365 "createdDate should be int(time.time()) for apigateway"
## Reporting Bugs

When using local stack that relies on moto to generate api data the response is not the same as aws.

Moto results for create-rest-api

{
    "id": "823788A-Z5A-Z1",
    "name": "My First API",
    "description": "This is my first API",
    "createdDate": "2017-11-29T22:59:03.320Z"
}

AWS results

aws apigateway create-rest-api --name 'My First API' --description 'This is my fir

[2017-11-30 11:38] terrycain commented on #1365
Feel free to create a PR

[2017-12-01 17:18] LondonAppDev opened #1370 "Implement suspend_processes in AutoScaling service"
I am using moto `1.1.25` and when I try and mock `client.suspend_processes()` I get:

[code]

I searched issues for `suspend_processes` and had no hits so assuming this feature hasn't been requested yet?

[2017-12-01 18:29] terrycain commented on #1370
Can I get a simple test case for this, then I'll go and add it

[2017-12-04 04:29] dtenenba opened #1371 "no error or warning when creating s3 bucket that already exists in standalone server"
Python 3.6.3
boto3==1.4.8
moto==1.1.25

I know I should be using the decorators and not the standalone server, but this still seems like a bug. After starting the standalone server:

[code]

I run this code:

[code]
I expect that last line to return a stack trace with the message `BucketAlreadyOwnedByYou: An error occurred (BucketAlreadyOwnedByYou) when calling the CreateBucket operation: Your pre

[2017-12-04 13:52] tardyp opened #1372 "new PendingDeprecationWarning: Could not find AMI"
Upgrading moto to latest version 1.25

Following snippet was used to create an imageId in moto:
[code]
Now this snippet fails with a deprecation warning:

[code]
We forbid all deprecation warnings in buildbot code, so we would like to have a new way of doing it which would not trigger the warning.

[2017-12-04 16:24] LondonAppDev commented on #1370
Sure, here would be an example test case:
[code]

[2017-12-04 17:46] terrycain commented on #1372
We've now prepackaged a bunch of image id's and fixed describe_images, if your just after any old image, run [describe_images](https://boto3.readthedocs.io/en/latest/reference/services/ec2.html#EC2.Client.describe_images) and pick one of the results.

[2017-12-04 18:23] dtenenba commented on #1371
FWIW this happens with the decorator as well:

[code]

Output:

[code]

[2017-12-04 20:27] dtenenba opened #1373 "creating mock dynamodb table fails with TypeError: list indices must be integers, not unicode"
Python 2.7.10 (yes, the project needs to upgrade)
moto==1.1.25
boto3==1.4.8

The following code returns an error (pasted below).

[code]

Output:

[code]

The same error does not happen in real AWS (if I comment out the decorator), it just creates the table.

[2017-12-04 22:04] bpandola commented on #1373
You're using `boto3`.  Use `@mock_dynamodb2`.

[2017-12-04 22:08] dtenenba commented on #1373
That did it, thanks.

[2017-12-04 22:08] #1373 closed

[2017-12-04 22:08] tardyp commented on #1372
@terrycain Sounds good. I'll try that tomorrow. Thanks.
I'd appreciated that explaination in the deprecation message.

[2017-12-05 08:48] tardyp commented on #1372
@terrycain I just tried that, and now I have another issue.
The ImageLocation of all those images are equal to None.

[code]
result:
1.1.24: amazon/getting-started
1.1.25: None

[2017-12-05 09:22] #1372 closed

[2017-12-05 20:58] william-richard commented on #1357
https://github.com/spulec/moto/pull/1378 might be able to shed some light on examples 1 and 2 - the ami tests were not running as part of the regular test suite.  A few of the tests have been broken since release 1.0.0, but 1.1.25 did introduce new failures, especially around the ami filters.

[2017-12-05 21:29] afgane commented on #1357
Thanks for pointing this out. I did a bit more looking into this now and it does appear that earlier implementation was off on how AMI's were managed and now picking an ami from [amis.json](https://github.com/spulec/moto/blob/master/moto/ec2/resources/amis.json) fixes a couple of the tests.

[2017-12-06 10:17] terrycain commented on #1357
Ahh good spot, @william-richard I'll continue on your PR once you've finished what you can

[2017-12-06 17:27] william-richard commented on #1357
Thanks for the offer @terrycain - I think I managed to fix all of them.  As @afgane pointed out, a lot were just tweaking them to account for the pre-loaded amis from `amis.json`.

I hope that I've also managed to fix some of the inconsistent changes introduced in 1.1.25 (at the very least, my personal uses of moto that were failing on 1.1.25 work with my branch), but I only focused on the paths a

[2017-12-08 10:57] #813 closed

[2017-12-08 20:14] c3st7n commented on #1371
https://github.com/spulec/moto/issues/273 - added a special behaviour to mimic the actual behaviour of AWS.

Creating a bucket in us-east-1 will actually succeed and return the original bucket in that region only.

Now the thing this is also more confusing because setting the region_name on the S3 client doesn't change the region that the bucket it is created in, so we are defaulting to us-east-1

[2017-12-09 01:13] thehesiod commented on #1317
I'm not sure flask is even needed

[2017-12-09 01:16] thehesiod opened #1386 "Support basic ECS via docker"
After adding lambda support via docker, I think it makes sense to start mocking out some simple use cases of ECS via docker.  Right now in my test-case I want to be able to start/stop some simple containers.

If I have some time I'll start working on this.

[2017-12-09 01:44] thehesiod commented on #1298
so I added "Subject" support in https://github.com/spulec/moto/pull/1387, each one will have to be implemented uniquely.

[2017-12-09 02:46] thehesiod commented on #1386
talking with a co-worker it would then not really be a mock.  What's interesting is that the lambda treads water of being a "mock" or not...hrm, going to close for now but please pipe in your thoughts

[2017-12-09 02:46] #1386 closed

[2017-12-09 03:01] thehesiod opened #1388 "[discussion] ECS + Lambda"
After reporting https://github.com/spulec/moto/issues/1386, I talked to another dev and his first question was how is that a mock? Annnd, then a huge mental rift opened when I realized we took a similar route with Lambda...so I guess the question is, is moto really moto, or is it more of a https://github.com/localstack/localstack?  What should be the goals?  moto never really seemed like a true mo

[2017-12-10 22:03] terrycain commented on #1388
Haha, I even considered the other day to adapt the route53 part to actually serve DNS. Well the dynamo part is getting to be near enough a fully fledged python dynamodb implementation, on the other hand Batch uses Docker too (although image is hardcoded atm).

I think if we wanted fine tuning, we'd need to make an api sorta thing for moto so that test cases can customise things (I thought about ad

[2017-12-11 14:45] bjmc opened #1392 "Feature request: Make it easier to assert against sent SES emails"
As a feature request, it would be nice if the Mock SES backend kept the actual email content in the [`sent_messages`](https://github.com/spulec/moto/blob/master/moto/ses/models.py#L41) list, and made it easy to make assertions against them.

I think two things would be needed:

* The [Message](https://github.com/spulec/moto/blob/master/moto/ses/models.py#L13) class would have to capture actual con

[2017-12-11 16:39] philvarner opened #1393 "SQS Queue creation with RedrivePolicy fails due to dict vs. string definition"
Moto 1.1.25

The proximate issue is that the error `TypeError: the JSON object must be str, bytes or bytearray, not 'dict'` is thrown when trying to load the redrive policy in:
[code]

This is because with properly constructed Redrive Policy, the variable `policy_json` is a dictionary rather than a string.

The test for this passes, but incorrect uses:

 'RedrivePolicy': json.dumps({'deadLetterTar

[2017-12-11 17:25] hwine commented on #1298
@thehesiod wow! Thanks, and that was a lot of work.

Since it looks like a major headache to deal with this issue generically, I think we should declare victory with the 'Subject' support (since that led to an actual exception on AWS). If other "I can't test properly" cases crop up, they should likely be new bugs.

Changing the summary to reflect that.

[2017-12-11 17:25] #1298 closed

[2017-12-11 17:27] thehesiod commented on #1298
@hwine wasn't too bad :)  Sounds like a plan!

[2017-12-11 23:04] thehesiod opened #1394 "SNS endpoint parsing issue"
Testing my code recently I noticed that the SNS endpoint was listed as `arn:aws:lambda:us-east-1:123456789012:function:test-function:$LATEST`, however all the code in sns/models.py assumes that `self.endpoint.split(":")[-1]` is the function name.  Need to investigate what's right.

[2017-12-11 23:15] thehesiod commented on #1394
aha, looks like there can be multiple types of function ARNs: http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html, will create a PR

[2017-12-11 23:29] thehesiod commented on #1394
ok, PR created

[2017-12-13 05:54] captainkerk commented on #1288
Sorry about the delay, I have an update:

Turns out the actual autoscaling spec requires either Availability Zones or VPC Zone Identifier or both to be specified on ASG create, which we do not enforce.

The ideal way to fix this would be to enforce that requirement, rather than just tacking on creating an instance with a subnet if specified. It's been a bit more complicated to tack that on, and mo

[2017-12-13 09:32] linkyndy commented on #1330
Do you happen to have any updates on this? Thanks!

[2017-12-14 12:08] terrycain commented on #1394
Ahh yes, theres a whole mess of ARNs, I believe once you publish functions, the $LATEST part gets get to an incrementing number.

[2017-12-14 20:06] afgane commented on #1356
Briefly looking at the docs, it appears it's only three choices: `amazon`, `aws-marketplace`, and `microsoft`: http://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_DescribeImages.html

[2017-12-14 20:15] afgane opened #1396 "images.filter does not work for Owners='self'"
boto3 supports filtering of images owned by the current user as follows (https://stackoverflow.com/questions/40213023/boto3-get-ec2-images-owned-by-me):
[code]

However, that does not work with moto:
[code]

(affects https://github.com/spulec/moto/issues/1357)

[2017-12-15 19:24] matt-pazien opened #1397 "Using moto with smart_open raises ValueError: file descriptor cannot be a negative integer (-1)"
Creating a simple unit test case using smart_open
smart-open==1.5.5
moto==1.1.25

[code]

This raises an error

[code]

[2017-12-17 01:38] MarSoft opened #1399 "mock_xray_client cannot be used as a context manager"
PR #1255 added support for `aws_xray_sdk` which is great.
But there is a problem with it: `moto.mock_xray_client` is *only* a function decorator, and unlike all other `mock_*` methods it cannot be used as a context manager or directly with `start()`...`stop()`.
As a result, it is not possible to write a `py.test` fixture which would add support for mocking `xray_client`.

Also, `mock_xray_client`

[2017-12-18 14:58] lyenliang opened #1403 "How to connect to moto standalone server?"
I just installed [moto](https://github.com/spulec/moto) and tried to connect to the standalone server with the following node.js code:

    const AWS = require('aws-sdk')
    const ep = new AWS.Endpoint('http://127.0.0.1:5000')
    const route53 = new AWS.Route53({endpoint: ep})

    const params = {}
    console.log(route53.listHostedZones(params))

The code sets AWS service's [endpoint](http://d

[2017-12-19 02:43] lyenliang commented on #1403
[code]

I didn't set the `region` option. After setting the `region`, it works.

[2017-12-19 02:43] #1403 closed

[2017-12-19 19:38] alexanderfanz opened #1404 "dynamodb2 put_item returnvalues all_old return wrong value"
I have this code:
[code]

when I run this test, in the terminal should be the value of `item`, but the output is the value of `item_new`

here is the doc http://boto3.readthedocs.io/en/latest/reference/services/dynamodb.html#DynamoDB.Table.put_item

Use ReturnValues if you want to get the item attributes as they appeared before they were updated with the PutItem request. For PutItem , the valid va

[2017-12-19 22:00] bcavagnolo opened #1405 "open shards should not report a StartingSequenceNumber"
I am developing a KCL application and I'm using moto kinesis and moto dynamodb for testing. KCL seemed to be successfully calling `describe-stream` to get the details on the kinesis stream. But it did not invoke my application. After digging around in the KCL source for a while, I discovered the problem. It seems that on `describe-stream` moto returns something like this:

[code]
Because there is

[2017-12-20 12:11] renaudhager commented on #157
Hi @JackDanger,

I tried to do the same :
[code]

I got the following error :
[code]

Do you if I miss something ?

[2017-12-21 07:06] afgane opened #1408 "ec2.Image.load not fetching the object"
When calling `load` on an non-existent `Image` resource, nothing happens. Instead, a `ClientError` should be raised, as is the case with the `Instance` resource for example:

[code]

[2017-12-21 16:21] gjehanin commented on #1361
And if we choice, as for majority of AWS users, to list all regions excepted these ones. How can we do this? Bec I think Boto3 filter cannot do that....isn't it?

[2017-12-22 16:14] #1408 closed

[2017-12-26 21:28] #1399 closed

[2017-12-28 17:53] dmulter commented on #842
I need it too. First I'll get things working for real, then I should have code+data examples I can share to help @terrycain

[2018-01-02 01:28] thrgamon commented on #1041
I believe what @lilnate22 (and subsequently myself) were looking for was the following.

If you want to test a SNS service that publishes to a topic ARN stored as an environment variable (or hard coded), rather than a topic ARN generated dynamically, they seemingly always follow the pattern shown here:

https://github.com/spulec/moto/blob/b855fee2e4109eab04a9d55699ffeffb1ca51df6/tests/test_sns/tes

[2018-01-04 10:01] #1396 closed

[2018-01-04 14:06] #1357 closed

[2018-01-06 18:39] tiago-loureiro opened #1421 "[SES]: send_raw_emal fails to parse a POST request"
# What happens:

Currently moto (using the standalone server, version 1.1.25) errors when clients try to `send_raw_email` as a `POST` request (which is what is used by the [aws cli](https://docs.aws.amazon.com/cli/latest/reference/ses/send-raw-email.html)) with the following stacktrace:

[code]

The client used to trigger this (the raw.json was taken from amazon's [documentation](https://docs.aws.

[2018-01-10 10:28] jedops opened #1424 "Cannot search instances by vpc-id"
Hello,

Not sure if this is expected behaviour or not but currently searching for mock EC2 instances by VPC ID does not seem to work. Please see the test case here:

https://gist.github.com/jedops/6925ac2c3aefb2d9e4e13adc33156b05

Expected behaviour:
After running string is present: "found instance with id id-xxxxxxx"

Actual behaviour:
String is not present.

[2018-01-11 10:40] ashb opened #1427 "EMR list_step responses don't contain start date in output"
There is a bug in the LIST_STEP_TEMPLATE and other EMR templates around the start date for steps: the conditional looks at `ready_datetime` but then outputs `start_datetime`.

This from https://github.com/spulec/moto/blob/896f040fca975865c1d441d90016446c72db3ed4/moto/emr/responses.py#L794-L796

[code]

Nothing in the code looks at `step.ready_datetime` that I could see (use create, start, and end)

[2018-01-11 20:55] snimark commented on #1200
i apologize for the severely delayed response. i ended up taking a different approach for the time and then had other matters pull my focus.

to answer your question in the past, no, i didn't work as expected at the time. i needed to go back and start looking to other parts of the moto code to make sure i was accounting for my changes beyond the modules on which i had made suggestions.

i realize

[2018-01-15 01:11] dbfr3qs opened #1431 "Tags are not added when create ebs volumes"
When creating EBS volumes and supplying tags, tags are not created. It looks as if some work will need to be done around parsing nested data structures, so that self._get_params('TagSpecifications') would return a useful json structure (see [here](https://github.com/spulec/moto/blob/master/moto/ec2/responses/elastic_block_store.py#L32).

Currently _get_param in moto/core,responses tries to parse t

[2018-01-15 02:45] dbfr3qs commented on #1431
I see we actually do this in Ec2 RunInstances and it is already in core. Will submit a PR.

[2018-01-16 00:40] dtenenba opened #1433 "s3: get_bucket_policy does not remember value set with put_bucket_policy"
Versions:

[code]

The following pytest unit test shows that calling `get_bucket_policy()` does not return the value
that I previously set with `put_bucket_policy()`:

[code]

Result:

[code]

[2018-01-16 01:20] dtenenba commented on #1433
It looks (from `IMPLEMENTATION_COVERAGE.md` that `*_bucket_encryption` methods are not implemented. But I would expect a `NotImplementedError` instead of just empty results. Am I expecting the wrong thing?

[2018-01-16 02:07] dtenenba opened #1434 "iam: get_policy returns NotImplementedError but shouldn't"
Versions:

[code]

According to `IMPLEMENTATION_COVERAGE.md`, and also [the code](https://github.com/spulec/moto/blob/master/moto/iam/models.py#L257-L267),
`iam:get_policy()` should be implemented, but the following pytest unit test gives me a `NotImplementedError`.

[code]

This fails (output below). Also, if I comment out the call to `get_policy()` the call to `get_policy_version()` fails, sayin

[2018-01-16 19:23] dtenenba opened #1435 "IAM: create_policy does not complain about invalid JSON in policy document"
Versions:

[code]

Note that the python code in #1434 contains invalid json (the final comma on the third line from the bottom of the JSON should not be there). Calling AWS with this json fails, but moto lets me create this policy. Should it at least try to convert the json to a python object to see if it's valid?

Thanks.

[2018-01-18 06:37] dbfr3qs commented on #1431
It looks like there was a release of botocore (1.8.29( itself two days ago that now returns ordered dicts when calling the cloudformation.get_templates method instead of a plain old dict.

See [https://github.com/boto/botocore/commit/8508347d26fd57edeb57090a0502be722ec33c7f](https://github.com/boto/botocore/commit/8508347d26fd57edeb57090a0502be722ec33c7f)

[2018-01-18 08:25] dbfr3qs opened #1436 "Recent update to botocore breaks some cloudformationstack tests"
Due to a recent update to botocore (1.8.29) cloudformation.get_templates now returns OrderedDicts rather than regular dicts, leading to some cloudformation tests failing.

I've included a fix with this [commit](https://github.com/spulec/moto/pull/1432/commits/7d0733ad1026e8d251e90d82aa4a3afdafbd51b5) in #1432

[2018-01-18 19:25] anderson-dan-w opened #1437 "Setting SQS Redrive Policy has no effect"
## Quick Edit
My search skills were lacking; found [does not make dead letter](https://github.com/spulec/moto/issues/675) after already posting. I'd argue this is related but distinct, in that I'd expect some indication that setting `RedrivePolicy` is un-supported in `moto`.

## Originally
Using Anaconda-IPython:
`sys.version[:5] == '2.7.6'`
`moto.__version__ == (u'1.2.0', )  ## installed via pip

[2018-01-18 21:22] anderson-dan-w opened #1438 "Fifo messages aren't deduped"
Anaconda-IPython
`sys.version[:5] == '2.7.6'`
`boto3.__version__ == '1.5.17'`
`moto.__version__ == (u'1.2.0',)`

## Reproduce
[code]

## Expected Behavior
For the `assert` to pass, as messages have been deduped. Note that my code sample should work whether `Content-based deduplication` is enabled or not, since the `MessageBody` is identical

## Experienced Behavior
No de-duping occurs, so I get an

[2018-01-19 11:05] Gosev opened #1440 ""from moto import mock_ses" raises : "KeyError: 'us-east-1'" error"
My default AWS region is 'eu-west-1' (as are the other regions in ~/aws/config and ~/aws/credentials)

Doing the following :

[code]

Results in the following traceback stack :

[code]

Update : it looks like batch_backends is an empty object ({}) when batch/__init__.py is called

Update 2: I got around it by (monkey)patching `/batch/__init__.py` (+ equivalent patches in `polly` and `resourcegroup

[2018-01-20 23:07] bpandola commented on #1440
Updating the version of `boto3` and/or `botocore` that you're using will obviate the need to make those patches.  The available regions for a particular service are determined at runtime by calling `boto3.session.Session().get_available_regions()`.  Newer services, like `batch`, are not supported by older versions of `boto3`/`botocore`.

[2018-01-22 04:28] earlbread commented on #1440
I got the same error and solved it by updating `botocore` from 1.4.93 to 1.8.33.

[2018-01-22 14:54] Gosev commented on #1440
yep that solved it, thanks.

[2018-01-22 14:54] #1440 closed

[2018-01-23 21:28] boldandbusted opened #1444 "AttributeError: 'Session' object has no attribute 'get_available_regions'"
[code]

I have installed via:

[code]

I'm using the Vagrant box for Ubuntu Xenial (16.4), with all current package upgrades (as of this writing). I'm happy to provide further info, and iterative testing. I'm hoping there's some implied setup preliminaries that I just missed that aren't in the README.md. :) Thanks!

[2018-01-24 01:54] #1431 closed

[2018-01-24 02:16] bpandola commented on #1444
What versions of `boto3`/`botocore` do you have installed?

[2018-01-24 17:12] koxudaxi commented on #1436
@dbfr3qs
I just created the pullrequest https://github.com/spulec/moto/pull/1446 to fix the commit https://github.com/spulec/moto/pull/1432/commits/7d0733ad1026e8d251e90d82aa4a3afdafbd51b5
the commit has unneeded comments.
Could you please check the pullrequest ?

[2018-01-26 11:01] #1322 closed

[2018-01-29 09:42] lakhtanov opened #1453 "mock_s3_deprecated doesn't work"
Python version: **2.7.6**
Packages versions:
[code]

[code]

I am getting the below error on `s3conn.create_bucket`:
[code]

There was an issue similar to this one ([https://github.com/spulec/moto/issues/1033](https://github.com/spulec/moto/issues/1033)), but the suggested solution doesn't work in my case. So I'll be very happy to get any help/ideas on this issue.

[2018-01-29 11:34] grahamlyons opened #1454 "Don't create volumes for AMIs"
These lines in the EC2 model create a volume for each AMI: https://github.com/spulec/moto/blob/4520cd930ff265834689a3d945a172b375133be5/moto/ec2/models.py#L1088-L1091

I don't think this behaviour is correct.

When you create an AMI yourself you don't get an EBS volume, although you do get a snapshot; when you run an instance _then_ an EBS volume is created:
[code]

Moto has a list of public AMI d

[2018-01-29 20:44] raymondhardynike commented on #1365
https://github.com/spulec/moto/pull/1457

[2018-01-29 21:49] g-io commented on #1026
Any news on this? I'm experiencing the same for requests to unrelated domains with the [requests library](http://docs.python-requests.org) while using @mock_...
Setting pass_through to True ([like proposed](https://github.com/spulec/moto/issues/1026#issuecomment-343525897)) fixes the issue for me, but obviously that's out of my hands in most ci/cd scenarios.

[2018-01-30 15:36] sterago opened #1458 "Autoscaling describe_policies fails if at least one policy of type TargetTrackingScaling is present"
Here a test to reproduce the issue:
[code]

The last assertion fails with the following traceback:

[code]

I guess the expected behavior is that the last assertion passes and the call to `describe_policies` returns `1`

the following libraries are all installed via `pip`
[code]

From my understanding the reason for this might be that the `DESCRIBE_SCALING_POLICIES_TEMPLATE ` (https://github.com/s

[2018-01-31 23:00] okomestudio opened #1461 "Package version variable is tuple instead of string"
Due to the line ending with comma, `__version__` contains a tuple instead of (more conventional I believe) string with version spec:

https://github.com/spulec/moto/blob/master/moto/__init__.py#L6

Is this intended or a botched regex replacement with bumpversion?

This is only an issue when I want to decide which tests to run or not based on `moto` version.

[2018-02-01 02:06] JackDanger commented on #1461
Nice catch! I just tested `bumpversion` and it seems to be working fine so this must have been a mistake that I introduced by hand. fixed in #1462 (merged to master)

[2018-02-01 02:06] #1461 closed

[2018-02-02 18:41] noah10 commented on #564
I've also found this with moto 1.1.25, and also worked around it by using s3ForcePathStyle: true. (Slightly different syntax since I'm using nodejs.)

[2018-02-02 22:07] RealSalmon opened #1465 "describe_db_instances() response is missing IAMDatabaseAuthenticationEnabled and DbiResourceId keys"
moto==1.2.0
boto==2.48.0
boto3==1.5.8
botocore==1.8.22

The response from describe_db_instances() is missing the following keys:
   - DbiResourceId
   - IAMDatabaseAuthenticationEnabled

The following test case will replicate the issue:
[code]

The expected behavior is that this should pass. Specifically, IAMDatabaseAuthenticationEnabled should be True, and DbiResourceId should at the very least b

[2018-02-03 06:23] #1436 closed

[2018-02-09 15:30] eastlondoner opened #1469 "filter_expression and projection_expression are evaluated in the wrong order in dynamodb2/models.py"
E.g. If you project only item "Id" but you want to filter on "Name" then Moto will return nothing because it does the projection first (removing the Name field) then evaluates the filter.

[2018-02-09 15:32] eastlondoner commented on #1469
PR here https://github.com/spulec/moto/pull/1470

[2018-02-09 16:07] ekondrashev opened #1471 "boto3 returns ClientError after moto patch was disabled via disable_patching() call"
# Actual
[code]

# Expected
Call to any `boto3.client('s3')` method to run ok after `moto` patching was disabled

# Example

try decorating the test with following decorator considering `moto` patch was applied earlier by calling `__enter__` on `MOCK_S3` instance
[code]

# Question
Is there a way to restore original AWS Access keys for `boto`?

[2018-02-09 18:41] acrewdson opened #1472 "Downgrade Jinja2 requirement to 2.7.3"
As a result of issue https://github.com/spulec/moto/issues/728, the Jinja2 requirement was bumped to `>=2.8`, even though the missing feature in question, `lstrip_blocks`, was added in Jinja 2.7 ('Added finer grained support for stripping whitespace on the left side of blocks', from  http://jinja.pocoo.org/docs/2.10/changelog/#version-2-7).

I know this might be an unusual request, but I believe t

[2018-02-09 20:41] JackDanger commented on #1472
I think that’s a very disciplined approach, @acrewdson
A PR would be appreciated!

[2018-02-09 20:45] acrewdson commented on #1472
@JackDanger sounds good, will do 👍

[2018-02-09 20:45] #1472 closed

[2018-02-12 21:06] rcoh commented on #1405
The correct behavior is actually only returning a `StartingSequenceNumber` -- `EndingSequenceNumber` should only be returned for closed shards

[2018-02-12 21:10] rcoh opened #1475 "split_shards behavior is incorrect"
Kinesis shards are immutable: The are closed, but their hashkey ranges never change. When calling
`client.split_shards(...)` describe stream should return 2 _more_ shards. The 1 remaining shard should then include an `EndingSequenceNumber`. These issues make moto pretty useless when mocking kinesis in all but the absolute simplest cases.

Instead, in moto, the hashkeyrange of the split shard chang

[2018-02-12 21:52] bcavagnolo commented on #1405
Ah yes. Typo. Sorry. I should have said: "So I think moto should probably not report the EndingSequenceNumber in this case."

[2018-02-15 10:31] fenrisf commented on #1421
I have the same problem. Sending plain mails is going ok, but not when send a raw mail.

[2018-02-16 16:50] lleontop opened #1477 "Implement basic OpsWorks App and Deployments mocks"
Moto is missing some basic mocks for OpsWorks create_app, describe_apps, create_deployment, describe_deployments. I am planning to implement these mocks.

[2018-02-16 22:10] joarleymoraes commented on #1026
the `pass_through` won't work when using `start()` and `stop()` approach:

`TypeError: start() got an unexpected keyword argument 'pass_through'`

[2018-02-17 02:08] erickascic opened #1479 "ExpiredObjectDeleteMarker not supported in bucket lifecycle rules"
I can do a put against a mocked BucketLifecycleConfiguration with ExpiredObjectDeleteMarker set in the Expiration, but then subsequent accessor to rule doesn't show.

Looks like the LifecycleRule in models.py doesn't have include attributes to model this flag.
https://github.com/spulec/moto/blob/770281aef2132de8b4d8abb7ec3325a3038b6f09/moto/s3/models.py#L312

######
  mocked_s3 = boto3.resource('s

[2018-02-18 17:08] automaticgiant commented on #1015
@thehesiod that's great. i'm creating test coverage for terraform configs with pytest and `python-terraform` and this sounds really helpful for writing a pytest fixture.
and to @eric-weaver 's credit, mine is another supporting use case for such functionality.

[2018-02-19 01:18] thehesiod commented on #1015
@automaticgiant just updated it to my latest version

[2018-02-19 16:03] derwolfe opened #1483 "Add SSM send_command support"
Add basic support for boto3's SSM `send_command` function as detailed at https://boto3.readthedocs.io/en/latest/reference/services/ssm.html#SSM.Client.send_command.

As of right now, it doesn't seem like this mock should require any real persistence unless users would want to be able to alter the state of jobs or test timeout logic.

[2018-02-19 17:11] lleontop opened #1485 "Boto credentials might cause tests to fail"
I came across a behavior today that I am not sure if it's expected or can be solved in some way. I was running locally the tests and there was one failing (test_amis.test_ami_filter_wildcard/1/). The problem was that when creating the image it was created under the wrong owner. This was because I had forgotten I had some default profile credentials in ~/.aws/credentials so boto was using them and

[2018-02-19 23:54] amagee commented on #1026
@g-io I have worked around the problem with the following monkeypatch:

[code]

[2018-02-20 12:55] lleontop commented on #1477
The basic App endpoints are done in PR #1481 but deployments are a bit tricker. My main thought/problem with deployments is how we will expose fields like CompletedAt and Duration, Status and maybe IamUserArn(we can hardcode this to a user like the account number). If we want the end user to have control over success/failure/timeout statuses and plan his tests accordingly then we should expose thi

[2018-02-22 19:59] andharris opened #1487 "`redshift.respones.py` does not provide `IamRoles` key in the response."
Redshift now allows `IamRoles` param so that specific roles can assume the cluster role and this is supported in `boto` but not able to be mocked in `moto`.

I tried adding
[code]

but get the following error
[code]

I've attempted a PR but the tests are still failing. Any input/guidance would be awesome and I'm happy to continue working on the PR to support this.
https://github.com/spulec/moto/pu

[2018-02-22 23:32] hoangelos commented on #1026
So, maybe I'm missing this.  However, how is this even a solution?  Doesn't this just instead of fixing the monkey patching make the mock able to connect to other URLs?  We are getting this error too.  But we only get it when you use two together.  I still don't see a solution that seems to fix this without adding an ability to make the mocked request connect, which doesn't seem like a solution.

[2018-02-23 09:10] bpandola commented on #1487
Make sure you update the `to_json()` method in the `Cluster` class in `redshift/models.py` to include the list of IAM roles.

[2018-02-23 18:31] benlast opened #1490 "cloudformation create_change_set fails when Tags are supplied"
**How to reproduce**:
* Using `moto` 1.2.0, call `create_change_set` and supply the `Tags` kwarg as a list of dicts, each dict holding a `Key` and `Value` (as defined in [the AWS boto3 docs](https://boto3.readthedocs.io/en/latest/reference/services/cloudformation.html#CloudFormation.Client.create_change_set).

[This line] in `moto/cloudformation/responses.py`](https://github.com/spulec/moto/blob/m

[2018-02-23 19:56] andharris commented on #1487
The PR is passing the tests now.

[2018-02-24 16:36] killthrush commented on #1026
This issue is biting us as well - we're unable to use AWS services hosted in LocalStack docker containers if moto mocks are used anywhere in our test suite.  I tried @amagee 's workaround successfully and got past my initial problem which was preventing me from talking to docker at all.  However now in botocore's urllib connection pool, I'm running into an odd error with an isinstance check on a T

[2018-02-26 18:16] ssolari opened #1491 "dynamodb scan projection expressions do not limit items returned"
In a table, "MyTable", with multiple attributes, "attribute1", "attribute2", etc.   The following command should return a list of dictionaries having a single key in each->"attribute1".   However, each dictionary in the return result includes all attributes.
[code]

[2018-02-26 22:07] ntwaddell opened #1492 "KeyError: 'LogGroupName'"
I'm using mock_cloudformation to mock one of my network templates.  In the network template I have a vpc flow log setup.  When I run the stack I get this

  File "/usr/local/lib/python3.6/site-packages/moto/cloudwatch/models.py", line 316, in create_from_cloudformation_json
    'LogGroupName': properties['LogGroupName']
KeyError: 'LogGroupName'

Everything in my template looks correct.  Does the c

[2018-02-26 23:26] #1492 closed

[2018-02-26 23:27] ntwaddell commented on #1492
Never mind, I was tired :)

[2018-02-28 12:53] juanformoso opened #1493 "Would you be interested in a feature to shuffle queues?"
We'd like to add a test case to our code to simulate that amazon sqs returns messages in a different order than pushed, since the documentation says that although it's not common, they don't guarantee order.

Before adding that code to my application or making a "private" fork of moto, I wanted to ask you if you'd be interested in a PR with a feature that does that (shuffle the queues)

Regards

[2018-03-01 04:51] JackDanger commented on #1493
Because we keep the API strictly limited to only the actual AWS API I don't think we'd want a special API call (either internal or external) to shuffle the queues.
However, since out-of-order messages is indeed part of the SQS contract I think it would be great if, whenever at least a certain number of messages are in a queue (say, 10) that queue is shuffled. This would let you test the behavior y

[2018-03-02 17:31] af6140 opened #1495 "update asg with new launch configuration should not update existing instances' lc"
The existing instances' launch configuration should be not updated when asg's lc is updated.

[2018-03-03 03:33] bpandola commented on #1485
I encountered this as well.  I'm not sure what, if anything, should be done about it, but I'll add my voice as someone who was confused by this unexpected behavior.

[2018-03-04 18:34] hoangelos commented on #1026
@killthrush This is the same issue.  Two things are patched.  requests and botocore.

[2018-03-04 19:09] josh-padnick opened #1496 "Direct Access to EC2 Metadata Server?"
I'm using moto in server mode by invoking it from the command line. I'd like to directly access the EC2 Instance Metadata for an individual EC2 Instance, and I see that Moto internally supports this, but is it possible to access this endpoint via server mode?

In particular, I'd like to be able to something like `curl http://169.254.169.254/<ec2-instance-id>/meta-data/instance-type` and have that

[2018-03-05 21:39] dgolombek opened #1497 "ELB (and v1 and v2) describe_load_balancers should correctly support PageSize"
If I call `response = elbv2_client.describe_load_balancers(PageSize=5)`, it raises

[code]

When I call this method without specifying PageSize, it works correctly.

It looks like it should be using _get_int_param('PageSize', 50) instead of _get_param.  I'll submit a patch with this fix shortly.

[2018-03-06 21:55] dgolombek opened #1500 "ELBv2.create_listener should associate TargetGroup with LB"
If you create a TargetGroup, associate it with a LB via create_listener, and then call describe_target_groups specifying BOTH the load balancer ARN and the target group name,  no target group is returned.

[code]

The bug is in `create_listener`, which is not adding the load balancer to the target_group's list of load_balancer_arns. I'll submit a PR for this shortly.

[2018-03-07 02:49] #1500 closed

[2018-03-07 03:00] spulec commented on #1365
Closed with #1457

[2018-03-07 03:00] #1365 closed

[2018-03-07 03:24] spulec commented on #1437
Added with https://github.com/spulec/moto/pull/1439 and the remaining implementation should be done as part of https://github.com/spulec/moto/issues/675

[2018-03-07 03:24] #1437 closed

[2018-03-07 03:46] #1358 closed

[2018-03-07 03:52] spulec commented on #508
Initial support added with https://github.com/spulec/moto/pull/1048

[2018-03-07 03:52] #508 closed

[2018-03-07 03:55] spulec commented on #455
Added with https://github.com/spulec/moto/commit/9a861a367d777865465bd7b92820c0ca4de245ff

[2018-03-07 03:55] #455 closed

[2018-03-07 04:05] spulec commented on #647
Added with https://github.com/spulec/moto/commit/75f0deb8289dbd21dc377d164995765042b4623a

[2018-03-07 04:05] #647 closed

[2018-03-07 04:08] spulec commented on #683
This seems to be fixed now; feel free to reopen if you see otherwise

[2018-03-07 04:08] #683 closed

[2018-03-07 04:08] spulec commented on #690
Closing this; feel free to reopen with more details

[2018-03-07 04:08] #690 closed

[2018-03-07 04:09] spulec commented on #709
Closing this out; feel free to reopen with more info.

[2018-03-07 04:09] #709 closed

[2018-03-07 04:12] spulec commented on #722
Going to close this out; feel free to open new issues with proposals.

[2018-03-07 04:12] #722 closed

[2018-03-07 04:13] spulec commented on #783
Closing this out; feel free to reopen with more info on the request

[2018-03-07 04:18] captainkerk commented on #1288
Sorry @spulec, can you re-open this issue? I haven't quite fixed it, #1413 was just the first part. I'll have another PR with the remaining changes shortly.

[2018-03-07 04:19] spulec commented on #1288
Ah, got it. Thanks

[2018-03-07 04:24] spulec commented on #982
I'm going to close this out; feel free to reopen with more info.

[2018-03-07 04:24] #982 closed

[2018-03-07 04:26] spulec commented on #1020
I'm going to close this out; feel free to reopen with more info.

[2018-03-07 04:26] #1020 closed

[2018-03-07 12:13] spulec commented on #1068
Can you confirm this is still an issue with the latest version and give some code/steps to reproduce?

[2018-03-07 12:15] spulec commented on #1079
I'm going to close this out; feel free to reopen if not fixed in the latest version.

[2018-03-07 12:15] #1079 closed

[2018-03-07 12:17] spulec commented on #1080
Moto doesn't currently support third-party applications for dynamodb. It sounds like you want to open an issue with localstack. Feel free to reopen if I am misinterpreting your question.

[2018-03-07 12:17] #1080 closed

[2018-03-07 12:17] spulec commented on #1091
Fixed with https://github.com/spulec/moto/pull/1092

[2018-03-07 12:17] #1091 closed

[2018-03-07 12:20] spulec commented on #1107
I'm going to close as this seems to be working now. Test [here](https://github.com/spulec/moto/blob/553d0742410c46ed9695cbde93dd00d82781dd7c/tests/test_cloudformation/test_cloudformation_stack_integration.py#L2267-L2294)

Feel free to reopen with code to reproduce if it isn't fixed.

[2018-03-07 12:20] #1107 closed

[2018-03-07 12:24] #1497 closed

[2018-03-07 12:28] spulec commented on #1119
Closing this with the merging of https://github.com/spulec/moto/pull/1197

[2018-03-07 12:28] #1119 closed

[2018-03-07 12:36] spulec commented on #1185
I've reauthed coveralls and disabled Auto Cancellation on Travis. Let me know if there is anything else.

[2018-03-07 12:36] #1185 closed

[2018-03-07 12:38] spulec commented on #1483
Closed with #1484

[2018-03-07 12:38] #1483 closed

[2018-03-07 12:42] spulec commented on #1219
I'm going to close this out; feel free to reopen with more info if the problem remains

[2018-03-07 12:42] #1219 closed

[2018-03-07 15:10] juanformoso opened #1502 "Is there a way to run 2 backends at the same time in server mode?"
I use both SQS and SNS in my tests, but I think you can only run moto_server specifying 1 backend at the time (sorry if this is not the case as I'm a little new to python)

The boto_config file only lets me specify 1 proxy, so I can't run the server 2 times because I'd need to specify 2 different ports for each of the services.

Does that make sense? Any way to run moto server with 2 services at t

[2018-03-08 06:22] plemahieu opened #1503 "SNS publish enforces subject <100 characters, AWS enforces <=100"
Issue exists on latest moto master branch. Tests were done with moto 1.2.0

Moto's sns publish enforces <100 characters for the subject parameter:

    `botocore.errorfactory.InvalidParameterException: An error occurred (InvalidParameter) when calling the Publish operation: Subject must be less than 100 characters`

This error is raised by moto. And this is correct per AWS docs:

    https://docs.

[2018-03-08 10:33] dekoza commented on #436
@spulec can you please explain (or better add to docs) how to import and use `mock_s3bucket_path`?

[2018-03-08 22:49] mattsb42-aws opened #1505 "dynamodb2 mock incorrectly fails on attribute name of \""
Props to hypothesis for finding this.

When using the `moto.mock_dynamodb2` mock, `Table.put_item` fails when the attribute name is the string `"`, incorrectly interpreting it as an empty value.

## Example of actual boto3 client behavior
[code]

## Moto error
[code]

[2018-03-09 01:20] ahill-mlft opened #1506 "Impossible to test Redshift cluster_restored waiters"
Let us suppose we have this code:

[code]

And we wish to test it like so:

[code]

This test will promptly fail thanks to the tight settings for the `WaiterConfig`, but if left at its defaults the test would instead hang for thirty minutes, and then fail.

Moto's Redshift backend will never generate the `RestoreStatus` object that botocore's `ClusterRestored` waiter searches for, so we can't mock

[2018-03-09 04:04] mattsb42-aws commented on #1505
In further testing, it looks like having this string as a String value or Map key also throws an error.

[2018-03-09 09:18] patrick91 opened #1507 "Pre create resources (eg, s3 buckets)"
Hi, I've been using moto for mocking s3 responses in tests, I was wondering if there is a way to auto create some s3 buckets so that I don't have to do so manually in the tests.

That would be a great feature for the mock server as well :)

[2018-03-09 22:43] jimjshields commented on #1370
I opened a PR for this (https://github.com/spulec/moto/pull/1509) that has your test case passing — I haven't used boto for this, so unsure if there are other test cases necessary. Let me know if you have any feedback, thanks!

[2018-03-09 23:19] #1370 closed

[2018-03-11 14:01] 2mf commented on #1068
@spulec I'll try it again with the latest version and if I run into a similar issues I'll add some code snippets to reproduce the problem.

[2018-03-11 14:17] RealSalmon opened #1510 "update_stack() for CloudFormation raises KeyError when using UsePreviousValue for parameters"
When using the UsePreviousValue field for Parameters for update_stack(), a KeyError is raised. This can be replicated with the following test:

[code]

I have submitted #1504 to address this.

[2018-03-13 17:31] dmulter commented on #1026
seeing this too...

[2018-03-13 17:34] hoangelos commented on #1026
Sadly I haven't been able to come back to this, but the interesting problem is the depreciated methods, which use httpretty work.  It's the "new" ones that are broke. :-D

[2018-03-14 13:03] danielknell opened #1512 "API gateway fails for most regions"
the list of regions for apigateway in master is much smaller than those amazon actually support

from the following the only regions not supported are the oddballs in Osaka and Ningxia

https://aws.amazon.com/about-aws/global-infrastructure/regional-product-services/

full list as of today:

[code]

[2018-03-15 01:18] JonWhitehead opened #1513 "S3 multipart upload completion error"
I have been trying to run the Multipart upload example against Moto from:
https://docs.aws.amazon.com/AmazonS3/latest/dev/llJavaUploadFile.html
Using the class UploadObjectMPULowLevelAPI.

When calling completeMultipartUpload, I get an error response:

com.amazonaws.services.s3.model.AmazonS3Exception: One or more of the specified parts could not be found. The part might not have been uploaded, or

[2018-03-15 18:32] #1502 closed

[2018-03-16 14:52] svdgraaf opened #1514 "Adding the CloudFormation StackSet endpoints"
I want to start implementing the CloudFormation StackSet endpoints, as I need those for a project. Is there anything I need to keep in mind when doing this?

[2018-03-16 17:04] phyber opened #1515 "moto 1.2.0 pulls in a version of the docker module that's too new."
# Versions

moto: `1.2.0`
docker-py: `3.1.1`

# Issue

The only restriction on the `docker` module in `moto` 1.2.0 is that it's `>=2.5.1`. This (currently) results in `docker==3.1.1` being pulled in.
This mix of moto and docker results in Lambda tests that do not work due to changes in `docker` that have already been taken care of in the master branch of `moto`.

# Reproduction

Simply installing

[2018-03-16 17:50] mikegrima commented on #973
I'm actually almost done with this feature. PR coming soon.

[2018-03-17 22:26] mikegrima commented on #973
#1516 Should address this feature gap.

[2018-03-17 22:30] mikegrima commented on #1507
@patrick91 : We use pytest and fixtures in our tests to pre-create resources. Here is an example: https://github.com/Netflix-Skunkworks/historical/blob/master/historical/tests/conftest.py#L122

Every test that makes use of that fixture gets all those resources created a priori.

[2018-03-18 15:44] alexcasalboni opened #1517 "Support ParameterFilters for SSM GetParametersByPath API"
Has this functionality been excluded intentionally? or maybe it's been added recently?

API documentation here: https://docs.aws.amazon.com/systems-manager/latest/APIReference/API_GetParametersByPath.html#systemsmanager-GetParametersByPath-request-ParameterFilters

`ParameterStringFilter ` documentation here: https://docs.aws.amazon.com/systems-manager/latest/APIReference/API_ParameterStringFilter

[2018-03-19 21:14] jblacker opened #1518 "Feature Request: Implementation of Additional KMS Endpoint - generate_data_key"
I was looking to see if there is any plan to implement the `generate_data_key` endpoint for KMS.

I was trying to use moto in stand-alone server mode to mock the behavior of CredStash (JCredStash to be exact), however upon the `putSecret()` call in my Java code, I was hit with the following traceback in my logs ending with
[code]

Many other endpoints needed to simulate a local usage of CredStash

[2018-03-21 14:47] geoffreywiseman opened #1522 "Authorize Security Group Ingress Only Works with Multi-Rule?"
Near as I can tell, I should be able to use a simplified form of authorizing ingress when I only need a single rule; but this doesn't seem to work with Moto. The multi-rule syntax does work, on the other hand.

See these tests:

[code]

The first test, using the multi-rule syntax with the `IpPermission` array, works fine.

The second two tests fail. AFAIK, this syntax is valid, but doesn't work wi

[2018-03-21 15:21] geoffreywiseman opened #1523 "Implement Ipv6Ranges"
Why can't I access 'Ipv6Ranges' on a security group's ip permissions?

[code]

Last line of this pytest fails:

[code]

Expected the test to pass.
Moto 1.2.0, boto 1.6.6, pipenv.

[2018-03-21 15:32] kirang0725 opened #1524 "Need AWS Athena support in moto!!"
I am working on python lambda functions that will shoot a sql query to Athena as part of my process. The development part is done, i need to test my code, where i use moto for testing my lambda functions locally. 70% of my lambda function is sql code, is there a chance i get to moto support aws athena? Thanks.

[2018-03-21 16:11] #973 closed

[2018-03-21 16:51] bwidmeier commented on #1513
I am also running into this issue. Anyone have any thoughts on this?

[2018-03-22 05:13] JackDanger commented on #1113
Fixed on master now. Thanks, @kefo!

[2018-03-22 05:13] #1113 closed

[2018-03-22 05:14] #1394 closed

[2018-03-22 07:10] avizana commented on #1513
I removed the outer quotes as well and everything is working just fine for me.

[2018-03-22 12:51] sterago opened #1528 "Typo in `create_load_balancer_listeners` for ELB client"
It seems that here:
https://github.com/spulec/moto/blob/074ff68bf12f4ea9efd4a80de7ef84dedcd3e380/moto/elb/models.py#L271

`sslcertificate_id` should be `ssl_certificate_id`

or am I missing something perhaps?

[2018-03-22 15:22] iainb opened #1529 "v1.3.0 on pypi missing changes in master branch"
Looking on [pypi](https://pypi.python.org/pypi/moto) at [moto-1.3.0.tar.gz](
https://pypi.python.org/packages/05/ff/4949257cfe8f52803b74f680b91cfb46ff381f7efa5c964489b5ca05fd01/moto-1.3.0.tar.gz#md5=b7e5da43259d339e01fe0fd010fdfd99
)

Easy example to spot is that it is missing the python-dateutil fix from https://github.com/spulec/moto/commit/02ffce1a1571113a7c3344f490b68e43005616ea

Other changes

[2018-03-22 15:46] iainb commented on #1529
It looks like the 1.3.0 tag and master don't quite line up - master has more commits pre 1.3.0 from what I can see.

[2018-03-22 16:58] JackDanger commented on #1529
I released 1.3.0 from a tag + branch and then merged it afterward. Some commits were merged in the meantime. I'll create 1.3.1 right now to get you what you need!

[2018-03-22 17:08] iainb commented on #1529
@JackDanger brilliant, thank you! I was really pleased to see how quickly you reviewed and merged my PRs :+1:

[2018-03-23 15:36] geoffreywiseman commented on #1522
Having done a little debugging, I'd say that it looks like this comes down to the way `SecurityGroups` in `security_groups.py` keys on `IpPermissions` in `_process_rules_from_querystring`.

[2018-03-23 15:36] geoffreywiseman commented on #1522
Same behaviour seems to be true for revoking ingress as well, with the same method at cause.

[2018-03-23 18:10] tuler opened #1531 "Support sfn (step functions)"
Support for step functions API (sfn)

http://boto3.readthedocs.io/en/latest/reference/services/stepfunctions.html

[2018-03-24 08:20] grahamhar opened #1532 "Simulate IAM user console login"
I'm writing a function to check that a user has logged in via the console to ensure they have reset their password. While I can see that I can set a password I can't see a way of simulating a console login that would update the PasswordLastUsed
 attribute of the user (See https://docs.aws.amazon.com/IAM/latest/APIReference/API_GetUser.html)

I'm happy to implement this, but I can't see any other e

[2018-03-25 23:10] mikegrima opened #1533 "S3 Bucket Lifecycle Needs Filter Support"
The `put_bucket_lifecycle_configuration()` indicates that the top level `Prefix` field is now deprecated http://boto3.readthedocs.io/en/latest/reference/services/s3.html#S3.Client.put_bucket_lifecycle_configuration.

Instead, there are now filter rules where the prefix can be added.

The `Filter` rules will need to be implemented (currently missing).

~I don't have a ton of time to work on this, b

[2018-03-26 03:11] mliudev opened #1534 "SSM SendCommand requires 'InstanceIds', which should be optional."
moto version: 1.3.1
botocore: 1.9.15

issue:

I'm getting `KeyError: InstanceIds'` when mocking the following code:

[code]

This should be reproducible by calling the `send_command` function as above where no `InstanceIds` parameter is passed.

I've tracked this issue down to this line:
https://github.com/spulec/moto/blob/master/moto/ssm/models.py#L145

InstanceIds are an optional parameter accor

[2018-03-26 04:57] mikegrima commented on #1533
Implemented in #1535

[2018-03-26 17:59] giwrgosdi opened #1536 "RDS2 is not taken into account"
Versions:
- moto : 1.3.1
- botocore : 1.9.16

Im trying to mock some actions from RDS2, specifically `create_db_snapshot()`.
In my code i import rds2
[code]

I get an error the says the action is not implemented yet, although i can clearly see in in my local copy of moto (in the virtual environment).
[code]

I also get the same error if i use python 2.7

[code]

[2018-03-27 05:43] prachi2295 opened #1539 "Dynamodb filter expression does not support contains"
Below I am providing a python code which puts 3 records in dynamodb out of which 2 should be returned by applying dynamodb filter expression 'contains' but it returns none.

from moto import mock_dynamodb2
import boto3
import sys
from boto3.dynamodb.conditions import Key, Attr

db_attributes = [
    {
        'primary_name': 'Hello',
        'serial_no': 1,
        'filter': 'ABC'
    },
    {

[2018-03-27 10:11] key1706 opened #1540 "ConnectionError when ussing moto"
Try running test_push_data_send_success(self):
Here is my traceback:
`..\Api\pushDataSend.py:106: in Execute
    FirebaseServerKey)
..\Api\pushDataSend.py:334: in SendMessage
    timeout=self.Constant.TIMEOUT)
C:\Users\KhuongNHQ\AppData\Local\Programs\Python\Python36-32\lib\site-packages\botocore\vendored\requests\api.py:109: in post
    return request('post', url, data=data, json=json, **kwargs)

[2018-03-27 10:19] key1706 commented on #1540
@JackDanger please help me

[2018-03-27 17:00] TylerFromVT opened #1541 "Implement S3 notification message sending"
Not a bug report at this time, more a question of whether a given feature has been implemented. I'm using Moto as part of a smoke test suite to check AWS deployments, verifying, among other things that the proper "connections" are setup.

I've written a test, using Python and Boto3, that creates an S3 bucket, an SQS queue and notification/permissions to send a message to the queue when a file is u

[2018-03-27 19:55] RonRothman opened #1542 "s3.download_file() fails on empty key"
When trying to download an empty (zero-length) key, `s3.download_file()` fails with "ValueError: I/O operation on closed file".  (This appears to be a duplicate of https://github.com/spulec/moto/issues/483, but that issue was closed so I'm not sure how to handle this report.)

Here's a minimal example that demonstrates the failure:

[code]

[code]

Whereas this code does not fail: (the only change

[2018-03-28 00:14] bpandola commented on #1536
Can you post a minimal failing test?  In your provided example I see you importing `moto`, but don't see you actually using it (e.g. decorating your function with `@mock_rds2`).

[2018-03-28 18:55] a3huang opened #1543 "Accessing Mocked S3 Bucket via Pyspark?"
I'm trying to test a function that invokes pyspark to read a file from an S3 bucket. The test simply uploads a test file to the S3 bucket and sees if pyspark can read the file. The test works fine when I provide my actual S3 bucket, but I am trying to see if I can get it to work using moto.

While the upload of the test file works fine with moto, I get a permission denied error when pyspark tries

[2018-03-30 09:56] haidaraM commented on #1026
Same issue here when using multiple annotations on class with unittest. My tests include some tests with moto and some without. Using moto breaks the other tests

[2018-03-30 12:38] giwrgosdi commented on #1536
It seems my virtualevn wasnt set up right..weird though.

I am closing the issue

[2018-04-02 20:44] martindurant commented on #1026
There are some workarounds suggested here to modify the moto patches. Is there a simple way to absolutely ensure that moto's patching is simply removed, so that, thereafter, requests works as before. I have tried reloading some requests submodules, but to no avail.

[2018-04-02 21:19] #1479 closed

[2018-04-02 21:19] #1533 closed

[2018-04-02 21:40] ewdurbin opened #1546 "Python 3.7 removes `re._pattern_type`"
Ref: https://github.com/python/cpython/pull/1646

Moto uses `re._pattern_type` in vendored responses library `RequestsMock._has_url_match`, which has been removed/renamed to `re.Pattern` as of Python 3.7.

https://github.com/spulec/moto/blob/4184acc0d27b584a921939fb85467cebf27bb025/moto/packages/responses/responses.py#L221

I've filed a report with the upstream project at https://github.com/getsen

[2018-04-03 13:23] galvinograd commented on #1513
+1

[2018-04-03 17:31] senfbrot opened #1547 "Wrong IAM get_user_policy() response"
The result given back from get_user_policy() is wrong. 'PolicyDocument' contains the internal dict that is used by moto instead of the clean policy document.
[code]

Results in:
[code]

[2018-04-05 16:38] lsutic commented on #1026
I've had many problems with shared use of the global responses `mock` object. Using a local `RequestsMock` has always fixed it.

Replacing the `RequestsAWSMock` with a version that doesn't use the global responses mock solves this problem for me. Note that S3 uses its own decorator (`S3Backend.decorator`), whereas other `moto` modules uses `moto.core.base_decorator(backend_class)`. This is a drop-

[2018-04-05 21:30] spulec commented on #1026
I've created a PR that should address this: https://github.com/spulec/moto/pull/1553

If anyone can test and confirm it works, it would be appreciated.

[2018-04-06 11:20] koweblomke opened #1554 "NotImplementedError: The describe_log_groups action has not been implemented"
Hi.

I tried to mock the Logs describe_log_groups(), but got NotImplementedError
I use the @mock_logs decorator

[2018-04-06 12:49] spulec commented on #1026
Closed with #1553

[2018-04-06 12:49] #1026 closed

[2018-04-09 09:33] samfrances commented on #1424
I'm facing a similar problem. Queries which filter by `vpc-id' work against AWS, but not against boto.

[2018-04-09 09:41] yhvh commented on #1026
Installed from master, this still fails. We have calls to different services interleaved with calls to aws, can you confirm this minimal use case is supported?

[code]

[code]

[2018-04-10 06:43] rdsharma opened #1560 "S3 bucket goes missing while using pytest fixtures"
Hello, I am experiencing some weird behavior when using moto along with pytest fixtures. Here is a minimal reproducible example that fails for me:

[code]

When this test case is run, it fails as such:

[code]

I wrote a version of this script without pytest that passes, so I believe the issue here has something to do with the interaction between pytest and moto, but not sure where to start lookin

[2018-04-10 10:38] JoostvDoorn commented on #1026
@yhvh A workaround for this for now is:
[code]

[2018-04-10 13:11] martindurant commented on #1026
Explicitly calling the following upon the end of the mocked portion also appears to fix the issue.
[code]

[2018-04-10 20:34] OElesin opened #1561 "Feature request: AWS Glue Mock"
I would like to ask if the maintainers are adding AWS Glue mock. If not all but some of the core APIs.

Thanks in advance

[2018-04-11 12:08] Bennyelg commented on #1026
@same problem on mock_emr

[2018-04-12 05:49] bpandola commented on #1560
Your use of `with mock_s3():` in two different places is causing two separate mock environments to be created and destroyed.  The bucket you create is only available within the context of the `s3_setup` function.  Try removing both `with` statements and decorating only the `test_moto_s3` method with `@mock_s3`.

[2018-04-12 22:45] spulec commented on #1560
I believe @bpandola is correct. Feel free to reply if that doesn't fix the issue.

[2018-04-12 22:45] #1560 closed

[2018-04-12 22:46] spulec commented on #1539
This should be fixed with #1559

[2018-04-12 22:46] #1539 closed

[2018-04-12 22:48] spulec commented on #1554
Added as a feature request

[2018-04-12 22:53] #1536 closed

[2018-04-12 22:56] spulec commented on #842
Add initial support with #1548

Feel free to open additional issues if specific endpoints would be helpful

[2018-04-12 22:56] #842 closed

[2018-04-12 23:02] spulec commented on #1540
It looks like your tests are trying to talk to Google. As of now, we don't allow making requests to other websites while Moto is active.

Feel free to follow along on #1026 for possible solutions going forward.

[2018-04-12 23:02] #1540 closed

[2018-04-12 23:06] spulec commented on #1513
Can one of your add a minimum failing test case? We have multiple tests that do multipart uploads so it would be helpful to understand what is different.

[2018-04-12 23:09] spulec commented on #1546
Thanks for opening the issue (and all the other amazing work you do for the python community)!

We recently unvendored `responses` with https://github.com/spulec/moto/pull/1553 so I believe this issue can be closed.

[2018-04-12 23:09] #1546 closed

[2018-04-12 23:10] spulec commented on #1514
Nothing in particular. I'll add this issue as a feature request.

We do generally like to have high test coverage so that would be appreciated.

[2018-04-13 10:19] Bennyelg commented on #1542
I'll take this.

[2018-04-13 10:27] spulec commented on #956
Closing this out; feel free to reopen if it is still happening

[2018-04-13 10:27] #956 closed

[2018-04-13 10:28] #944 closed

[2018-04-13 10:31] spulec commented on #1561
As a general rule, new endpoints get added when people that need them have some extra time to add them to Moto.

Right now I don't have a particular use for this so I can't promise anything for timing.

If someone does have time, pull requests are much appreciated (even small one just to get a service started). If you have some example code you want to work, preferably with some example data, that

[2018-04-13 10:34] spulec commented on #1543
Can you try running Moto as a separate process in [standalone server mode](https://github.com/spulec/moto#stand-alone-server-mode)?

If the request is being made by py4j/java, I don't know that we will be able to patch it.

[2018-04-13 10:50] spulec commented on #1541
Thanks for opening the issue. It looks like we support the configuration of S3 notifications, but don't actually implement the message sending right now. I'll set this as a feature request.

[2018-04-13 10:52] spulec commented on #1531
Added as a feature request.

Right now I don't have a particular use for this so I can't promise anything for timing.

If someone does have time, pull requests are much appreciated (even small one just to get a service started). If you have some example code you want to work, preferably with some example data, that can also speed up the process.

[2018-04-13 10:59] spulec commented on #1510
Fixed with #1504

[2018-04-13 10:59] #1510 closed

[2018-04-13 11:00] spulec commented on #1517
Nope, just hasn't been added yet. I'll set this as a feature request.

[2018-04-13 11:07] spulec commented on #1506
Yeah, we've struggled in the past with these types of timing-based tests.

Any thoughts on how you would want it to work? Some API in Moto that allows you to manipulate time forward?

[2018-04-13 11:33] #1528 closed

[2018-04-13 11:34] spulec commented on #1528
Yup, a typo. Thanks!

[2018-04-13 11:52] spulec commented on #1523
Yeah, this hasn't been implemented yet. I'm going to set this as a feature request.

[2018-04-13 12:44] alexcasalboni commented on #1517
Thanks, @spulec.

I'd love to contribute but I'm not very familiar with the code base. Do you have any hint about a possible implementation?

[2018-04-13 14:08] spulec commented on #1517
The two main places you will be looking are the [response](https://github.com/spulec/moto/blob/master/moto/ssm/responses.py#L84-L101) and the [model](https://github.com/spulec/moto/blob/master/moto/ssm/models.py#L96-L109).

In the former, you are going to want to parse out the `ParameterFilters` from the request and pass that through. In the latter, you will use those filters to modify which param

[2018-04-13 17:39] stevenmwade commented on #416
Has this been changed?

[2018-04-13 18:36] spulec commented on #1524
As a general rule, new endpoints get added when people that need them have some extra time to add them to Moto.

Right now I don't have a particular use for this so I can't promise anything for timing.

If someone does have time, pull requests are much appreciated (even small one just to get a service started). If you have some example code you want to work, preferably with some example data, that

[2018-04-13 18:37] spulec commented on #1507
I'm going to agree with @mikegrima 's suggestion here.

Let us know if that doesn't work for your use case and we can re-examine.

[2018-04-13 18:37] #1507 closed

[2018-04-13 18:47] spulec commented on #1424
The example code passes for me against the latest version of moto. Can you confirm this is still an issue?

[2018-04-13 19:05] #1534 closed

[2018-04-13 19:05] spulec commented on #1534
Thanks for opening. This should be fixed now.

[2018-04-13 19:17] #1503 closed

[2018-04-13 19:58] plemahieu commented on #1503
Showed up in unit tests so, I'd say pain was minimal. :)

[2018-04-13 22:16] a3huang commented on #1543
Just tried running the above example again using standalone server mode. I get the following traceback:
[code]
Is there any way to get the access id and secret access key of the mock server?

[2018-04-14 00:40] rohan-varma opened #1566 "verify_email_address action has not been implemented"
Version of Moto i'm using: moto==1.3.2 (installed with pip install moto --upgrade)

My issue is that I'm trying to use moto to mock out calls to SES, but I'm getting the following error:

[code]

This happens when I call the endpoint to verify an email address: conn.verify_email_address('<my-email>'). For example:

[code]

I believe this endpoint is marked as implemented in the docs, and I'm using

[2018-04-14 00:57] spulec commented on #1543
The mock server should accept any access id and access key. Are you passing one at all right now?

[2018-04-14 01:07] spulec commented on #1566
I'm not positive if this is the issue, but if you are using `boto` you need to use the deprecated decorators (`mock_ses_deprecated`) vs the regular decorators that are used for `boto3`.

[2018-04-14 01:37] spulec opened #1567 "Should Moto mock external requests?"
While moto is active, should requests to other sites (ex `http://www.google.com`) still work?

I'm leaning toward yes. At the same time, I think it is important that any amazon service that is not implemented yet throw an error (see #1254).

I believe this means we should add a passthrough for `*` , but add a fake error responses for `*amazonaws.com*`

Thoughts?

[2018-04-14 01:37] spulec commented on #1026
Follow along on #1567 for more discussion of changing requests during tests.

[2018-04-14 01:38] spulec commented on #859
Feel free to follow along https://github.com/spulec/moto/issues/1567 for more info

[2018-04-14 01:39] spulec commented on #1036
Going to close this in favor of https://github.com/spulec/moto/issues/1567

[2018-04-14 01:39] #1036 closed

[2018-04-14 01:41] spulec commented on #1254
Going to close this in favor of https://github.com/spulec/moto/issues/1567

[2018-04-14 01:41] #1254 closed

[2018-04-14 04:31] thehesiod commented on #1567
personally I'd like to see the redirection work through proxying, without any patching to the underlying http client, perhaps requiring users to explicitly set an AWS client's proxy, ex: `boto3.resource('s3', config=Config(proxies={'https': 'foo.bar:3128'}))`

[2018-04-14 15:16] #1505 closed

[2018-04-14 15:17] spulec commented on #1505
Thanks for reporting! This should be fixed now.

[2018-04-14 16:16] killthrush commented on #1567
+1 for passthroughs to external sites and throwing an error for unsupported services.  I'm hearing from others that requests to AWS interleaved with calls to other services is common.

Additionally, clean stress-free unpatching of moto is still important IMO even if we had default passthroughs.  To get the best test coverage, I use both moto and localstack, the latter of which is hitting a docker

[2018-04-14 16:58] spulec commented on #1567
@killthrush thanks for the feedback.

Just to confirm, the unpatching is still failing on `1.3.2`? If so, any chance you could add some example code to https://github.com/spulec/moto/issues/1026. I'd really like to get that fixed.

[2018-04-15 05:05] avizana commented on #1513
I just used the multipart upload example from AWS site:

        AmazonS3 s3Client = AmazonS3ClientBuilder.standard()
                .withEndpointConfiguration(new AwsClientBuilder.EndpointConfiguration("some-kind-of-endpoint"))
                .withCredentials(new AWSStaticCredentialsProvider(new BasicAWSCredentials("user", "pass")))
                .disableChunkedEncoding()
                .wit

[2018-04-15 14:14] RudolfVonKrugstein opened #1568 "Use moto mocks in pytest fixtures"
Hi,

I am trying  to create dynamodb tables in a pytest fixuture. Unfortantly it seems, that the tables are removed after the fixture has been run.

Here is an example project:
[code]

Within the test, `dynamodb_backend2.tables` is empty.
Am I using the mock incorrectly how to do this?
Thanks

[2018-04-15 14:40] killthrush commented on #1567
Thanks @spulec - I'm working on a repo for this.  I've reproduced the problem with `1.3.2`, but only if I run tests a certain way.  I think there may be something more subtle going on here.   Will keep you posted.

[2018-04-15 16:51] killthrush commented on #1567
Alright, I think I've narrowed this down to something more specific.  v1.3.2 fixes the mock problem when running pytest from the command line or when running pytest directly using `python -m pytest test_dir`.  However PyCharm's pytest runner still fails for some reason on this particular case.  Would it be more helpful if I just wrote up a bug for this?  I don't want to detract from your original

[2018-04-15 23:59] usamaSaddiq commented on #1465
Hi,

Did you manage to get it to work using the fix?

Cheers

[2018-04-16 00:09] mattsb42-aws commented on #1505
It looks like this fix went a bit over too far in the opposite direction. There should be an error raised if the attribute name or map key is empty, just not if it happens to just be quote characters.

I put together this test suite to demonstrate what I mean, and show it working against the actual service.

https://gist.github.com/mattsb42-aws/a6fa25bed15079fc99ac1ed0f6c81066

[2018-04-16 03:03] usamaSaddiq opened #1569 "RDS: Problem creating multiple db snapshots."
Hi,

I am creating a mock rds and try to create around 95 snapshots. But after the loop only one snapshot is created at the end:

[code]

[code]

Also if it helps,
[code]

This is the response which clearly states that we have only one snapshot present.

Also, I tried **client.copy_db_snapshot(\*\*kwargs)** but it raises a *NotImplementedException*

It would be great to get some perspective on thi

[2018-04-16 10:01] samfrances commented on #1424
Still no instances found.

[2018-04-16 12:38] killthrush commented on #1567
@spulec - never mind, the PyCharm issue was my mistake.  I was writing up a bug report and I noticed that my config was pointing to the wrong virtualenv =/

So #1026 is indeed fixed and there's no bug here.  Thanks!  This was a really good fix 🎉

[2018-04-16 13:16] spulec commented on #1567
@killthrush thanks for following up!

[2018-04-16 22:17] stevenmwade opened #1570 "Update to readme/docs to include endpoints that are mocked"
There does not seem to be a list of what it means when something has `core endpoints done`. It would be great to actually have a list of the functions that are mocked. Working with the s3 mock, it does not seem that `download_fileobj` is actually mocked, though it does not fail.

[2018-04-16 23:08] JackDanger commented on #1570
@stevenmwade The full list of what's implemented is here: https://github.com/spulec/moto/blob/master/IMPLEMENTATION_COVERAGE.md

I believe `download_fileobj` is just a helper method wrapping up the `.get()` method on an S3 object. Moto implements the latter so `download_fileobj` works as well.

[2018-04-17 11:05] chikfm opened #1571 "I can't use RawMessageDelivery of messaging from sns to sqs"
I implemented messaging from sns to sqs using `RawMessageDelivery`, but I could not get the expected value.
Is `RawMessageDelivery` supported?
Or is there a problem with my code?

- my code (test.py)
[code]
- return
[code]
- expect message
[code]
- environment
[code]

[2018-04-17 14:17] stevenmwade commented on #1570
@JackDanger It would be great to have a link to that on the README, but also that seems to be pretty out of date as not even `put_object` is listed as complete.

Though if `download_fileobj` is complete, there must be something wrong because it is only downloading an empty file (returns `b''`), but has 187 bytes.

[2018-04-17 17:18] anozaki opened #1573 "IoT: create_keys_and_certificate's setAsActive is not working"
when calling create_keys_and_certificate with setAsActive. The created certificate is always ACTIVE.

### Expected Result

When setAsActive=False the created certificate should be INACTIVE

[2018-04-17 23:12] ahill-mlft commented on #1506
I don't even care so much about simulating time inside moto, at least not right now; I just want to be able to test interactions that happen to include waiters at all.

In this particular case, creating the new mocked cluster with a `RestoreStatus` of `{'Status': 'completed'}` immediately (when created from the `restore_from_cluster_snapshot` method, of course) would satisfy the waiter and allow t

[2018-04-18 18:21] mikegrima opened #1575 "SNS does not support new regions"
SNS appears to be basing its available regions off of boto2:
[code]
We will need to move this over to boto3 to support the new regional endpoints.

I'm going to submit a PR for this change.

[2018-04-18 18:39] jzucker2 opened #1577 "Add support for AWS Database Migration Service"
Would be nice for moto to support mocking for [AWS DMS](https://aws.amazon.com/dms/)

[2018-04-18 18:41] mikegrima commented on #1575
Fixed in #1576 .

[2018-04-18 21:06] DHager commented on #1438
Possibly related, when I retrieve messages from a mocked FIFO queue, the `MessageGroupId` is not present.

[2018-04-18 21:41] kingbuzzman commented on #1567
@spulec yeah, we should stop mocking the full request, its just more trouble than its worth. The biggest complain i get from my coworkers about moto is this.
@thehesiod not against this, does that mean that moto will be the mock server? Will this just become another https://github.com/localstack/localstack ??

[2018-04-18 21:53] DHager opened #1578 "SQS messages don't contain MessageGroupId"
My use-case involves a simple FIFO queue, where the MessageGroupId isn't only an instruction to SQS, but also contains some data that the consumer is also interested in accessing later. (Note that this is *not* the same kind of "attribute" as the user-land ones using `MessageAttributes`)

### Reproduction script

[code]

Fails with:

[code]

### Next steps

I plan to start a PR later which will at

[2018-04-19 01:15] #1575 closed

[2018-04-19 01:16] spulec commented on #1573
Fixed with #1572

[2018-04-19 01:16] #1573 closed

[2018-04-19 02:47] #1465 closed

[2018-04-19 02:47] spulec commented on #1465
Thanks; this should be fixed now.

[2018-04-19 02:54] spulec commented on #1424
Can you give me some more details about your environment? Python version, OS, moto version? So that I can try to replicate.

[2018-04-19 02:57] spulec commented on #1567
@kingbuzzman can you clarify a bit: are the complaints about mocking urls beyond AWS or mucking with the requests module in general?

[2018-04-19 03:16] spulec commented on #1568
I'm not positive the order of operations for pytest fixtures, but the following seems to work for me

[code]

[2018-04-19 10:03] divad opened #1581 "s3 delete_objects incorrectly raises errors for non-existing keys"
When asking S3 to delete a series of keys in a bucket (via delete_objects) no errors are raised if the keys do not exist. Sample response from s3:

`{u'Deleted': [{u'Key': 'key1'}, {u'Key': 'key2'}, {u'Key': 'key3'}], 'ResponseMetadata': {'HTTPStatusCode': 200, 'RetryAttempts': 0, 'HostId': '<omitted>', 'RequestId': '<omitted>', 'HTTPHeaders': {'x-amz-id-2': '<omitted>', 'server': 'AmazonS3', 'tra

[2018-04-19 10:08] samfrances commented on #1424
Python version: 2.7.12
OS: Ubuntu 16.04
Linux kernel: 4.13.0-38-generic
moto version: 1.3.2

[2018-04-19 11:47] spulec commented on #1578
Closed with #1580

[2018-04-19 11:47] #1578 closed

[2018-04-19 12:17] spulec commented on #1424
Ah, I see the issue now. With this particular test case, we aren't specifying the subnet/vpc explicitly, but relying on Amazon to pick it up based on the `NetworkInterfaces`. If someone can confirm that works with the real Amazon APIs, it should be an easy fix for us.

[2018-04-19 13:28] samfrances commented on #1424
In the case that I encountered, I didn't specify the `NetworkInterfaces`. The case I encountered involved creating an auto-scaling group in a particular VPC (specifying subnet id), but then a filter by VPC not picking up the auto-scaling instances.

[2018-04-19 15:38] mliudev commented on #1534
Thanks!

[2018-04-19 19:13] mattsb42-aws commented on #1505
Looks good!

[2018-04-19 20:28] kingbuzzman commented on #1567
@spulec the issue is mocking urls beyond what is needed to make aws work.

[2018-04-19 21:39] pmsharsha84 opened #1583 "Enhancement Request - Please add support for Trusted Advisor."
Is there is any chance of adding support for Trusted Advisor in near future?

## Reporting Bugs

Please be aware of the following things when filing bug reports:

1. Avoid raising duplicate issues. *Please* use the GitHub issue search feature
   to check whether your bug report or feature request has been mentioned in
   the past.
2. When filing bug reports about exceptions or tracebacks, please i

[2018-04-20 00:35] a3huang commented on #1543
I just tried setting the access id and access key within pyspark. I tried using both dummy credentials and my actual credentials. In both cases I get the following error:
[code]

[2018-04-20 00:52] spulec commented on #1583
As a general rule, new endpoints get added when people that need them have some extra time to add them to Moto.

Right now I don't have a particular use for this so I can't promise anything for timing.

If someone does have time, pull requests are much appreciated (even small one just to get a service started). If you have some example code you want to work, preferably with some example data, that

[2018-04-20 01:06] spulec commented on #1567
@kingbuzzman got it; very helpful, thanks.

[2018-04-20 01:17] spulec commented on #1543
Hmmm, my first guess is that you might need to do something additional to point spark at localhost.

[2018-04-20 04:36] bpandola commented on #1569
This was definitely a bug.  I've got a fix in PR #1585.

[2018-04-20 11:06] RudolfVonKrugstein opened #1587 "dynamodb2 ConditionExpression does not work"
# Reproduce the bug:

I am doing the following in ipython:

Setup moto:
[code]

Create a table:
[code]

Insert some data:
[code]

Now I want to update the item, with a failing condition:

[code]

# Expected Result:
The item in the table is not updated and an Error (ConditionalCheckFailedException) is thrown

# Actual Result
The item is updated

[2018-04-20 13:29] albegali opened #1588 "Cannot create Lambda function in Localstack via Serverless"
`moto` may not build the ARN correctly on the CloudFormation output XML.
Exemple: (see: temyers/serverless-localstack#24 (comment))

[code]

(some members were suppressed on this sample above)

I guess that `<moto.awslambda.models.LambdaVersion object at 0x7f82f8363090>` should had been coerced to its ARN, and <moto.apigateway.models.RestAPI object at 0x7f82f8363c10> to its URL.

(refs: https://gi

[2018-04-22 15:42] grahamhar commented on #1532
I think I was over thinking this by trying to use moto in this case. I've now implemented the tests needed using a simple Mock.

[2018-04-22 15:42] #1532 closed

[2018-04-23 05:15] ssudake21 commented on #1440
Facing same issue with following requirements.
[code]

[2018-04-23 10:20] tomelliff opened #1591 "SSM send_command throws KeyError on "TimeoutSeconds" if not provided"
Running SSM's `send_command` without specifying `TimoutSeconds` raises a KeyError exception due to https://github.com/spulec/moto/blob/master/moto/ssm/models.py#L147.

[TimeoutSeconds is not a required field](http://boto3.readthedocs.io/en/latest/reference/services/ssm.html#SSM.Client.send_command) and so a useful default should be used if it's not provided.

[2018-04-23 15:55] DanHanson82 commented on #1542
I'm having the same issue when streaming from s3 running locally or in a container.  Works fine with boto but ```E           ValueError: I/O operation on closed file
[code]

[2018-04-23 18:41] #1591 closed, assigned to nobody

[2018-04-24 21:49] dargueta opened #1596 "Boto sometimes crashing with ConnectionError when listing S3 directory"
I'm getting a crash with a `ConnectionError` error while using `moto` in conjunction with [`s3fs`](https://github.com/dask/s3fs). Weird thing is, it's flaky. The exact same tests only fail around 1/3 of the time, and I'm not sure why. This is being tested on `pytest` using `tox`. The test order is randomized on every run so that *might* be why it's flaky, but that still doesn't tell me what's trig

[2018-04-25 00:43] bpandola commented on #1506
@ahill-mlft I added support for your basic use-case in #1597.  Are there other Redshift waiters you'd like to see implemented?

[2018-04-25 11:19] jakul opened #1598 "Moto 1.3 causes tests to fail when `assert_all_requests_are_fired = True`"
Moto v1.3 causes my tests to fail if I set `responses.mock.assert_all_requests_are_fired = True`.

I set `responses.mock.assert_all_requests_are_fired = True` to make sure that my application is behaving as expected, but since it doesn't make all the requests to all the `moto` urls then my test fails.

## How to recreate
[code]
[code]

[2018-04-25 19:41] 2rs2ts opened #1599 "Support Route53 alias records"
Please add support for alias records. You can see in the route53/responses.py that there is code reading upserted records for their AliasTarget and setting them to be the record set's `ResourceRecords` list:

https://github.com/spulec/moto/blob/f18259d49e5e66929a793ec8105d32ccfcc70d21/moto/route53/responses.py#L135-L137

I believe this is wrong; you should maintain the alias as an alias. I think n

[2018-04-25 21:11] mliudev opened #1602 "SSM backend doesn't support the ListCommands API call."
moto version: 1.3.3
botocore version: 1.10.4

In addition, the SendCommand call still requires InstanceIds even with this fix:
https://github.com/spulec/moto/commit/94ba2e68bdca09a48114723eedb40d38a75b6ba6.

I've made a pull request to address both these issues: #1600.

[2018-04-27 02:06] postmart commented on #1547
Hi, I would like to work on this issue.
Just want to confirm - the expected output is:
[code]

Thanks!

[2018-04-27 20:38] jruere opened #1603 "Using StreamingBody as a file fails with GzipFile"
The following code fails:

[code]

The traceback is:

[code]

The code works if the last line is changed to:

[code]

Of course, it also works with boto3 without reading into memory.

I'm using moto 1.3.3. I tried this with boto3 1.5.1 and 1.7.10.

[2018-04-29 18:07] RudolfVonKrugstein commented on #1568
Cool, thank you!

[2018-04-29 18:07] #1568 closed

[2018-04-29 20:02] BigChief45 commented on #1568
I can't seem to make this work...:

[code]

I get:

[code]

[2018-04-29 22:29] spulec commented on #1568
I believe the problem is using the moto context manager inside of the fixture and the decorator around the test. Can you try just using one or the other?

[2018-04-30 03:09] usamaSaddiq commented on #1569
Works with the PR code.

Not sure how to import the code automatically.

[2018-04-30 03:09] #1569 closed

[2018-05-01 23:24] tjboring opened #1605 "Importing mock_rds2 throws AttributeError starting in release 1.3.2"
I'm trying to use Moto for testing some RDS-related code, but it seems that something breaks between release 1.3.1 and 1.3.2.

Using both the `1.3.2` and `1.3.3` release, I'm experiencing this behavior (the traceback is the same in both versions, with just the `__version__` being different):

[code]

Installing `1.3.1` works fine, though:
[code]

I tried poking around the PRs in the `1.3.1` and `1

[2018-05-02 08:27] theothertom opened #1606 "Batch jobs do not report log streams"
In my tests, I am attempting to mock getting the log stream for a failed AWS Batch job. I have code like the following:
[code]

Once the mocked job finishes, I'm expecting to be able to get the `logStreamName` property of the job.

It appears that the property is not available.

[2018-05-02 15:37] matteo-ronchetti commented on #1596
I'm on Linux and tesing with Nose and I get the same error
[code]

[2018-05-02 18:41] dargueta commented on #1596
This looks like a different error. Your crash is in `responses`. If you add something like `responses.add_passthru('https://goodrx-data.s3.amazonaws.com/')` I think that'll fix your bug.

[2018-05-03 04:06] bclodius opened #1608 "Cloudwatch issue with Timestamp and Label"
Hello! I testing moto from ba2ea8e1b32348346f382a19ee6d0e99a3c63fa3 .  I found what I believe are two minor issues that I'd like to help fix.

I'd like to submit the PR to fix these issues once confirmed.

1.  https://github.com/spulec/moto/blob/81f3cbb54880bdf68fd6f52b9aa30ea25a4b7bd9/moto/cloudwatch/responses.py#L275 includes whitespace in the response.  This is causing Label for metric name to

[2018-05-03 06:35] thehesiod opened #1610 "CopyObject broken with non VersionId query string params"
aiobotocore has a test where it's doing a copy from with `Key=a+b/notVersionId=bar`.  This ends up creating a key with that literally that key name, and apparently this works, this is broken in moto because in `_key_response_put` it breaks the url into parts, but doesn't put back non-versionId query params, so you get an assert with a null key

[2018-05-03 08:43] thehesiod commented on #1610
so the issue was when you did something like copy_object(Bucket='foo', Key='bar?versionID=1', CopySource=dict(Bucket='foo', Key='bar?versionID=1', VersionId=1).  You need to parse the unquoted string first

[2018-05-03 15:43] DavyJ0nes opened #1612 "Discrepancy with describe-security-groups response for rules that allow All Traffic."
## Useful Info
- Moto Version: 1.3.3

## Description of Issue

There looks to be a difference between the AWS API response and the moto response for security group IP Permissions that allow All traffic. The difference comes with regards to the `FromPort` and `ToPort` key in the response. For moto these are set to equal `-1` while the AWS API doesn't return these keys. See below for the AWS respons

[2018-05-03 16:43] djkiourtsis opened #1614 "Running lambda invoke with govcloud results in a KeyError"
moto version: 1.3.3
botocore version: 1.10.4

When using moto to invoke a lambda function on a govcloud region, you run into a key error with the lambda_backends.  This is because boto.awslambda.regions() does not include the govcloud region, despite it being available for use.

I've made a pull request that fixes the issue: #1613

Trace of the error:
[code]

[2018-05-03 23:40] barryoneill opened #1615 "CloudWatch metrics: Support statistic-values in put-metric-data"
When putting statistic data (and not single values), moto returns a 500 error.

*Version: 1.3.3*

- when `--value` is being supplied, everything is fine.
- when `--value` is not present (e.g. when using `--statistic-values` instead - see the example in [Amazon's Docs](https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/PublishMetrics.html)), a 500 error occurs.

### to reproduce

In one

[2018-05-03 23:51] barryoneill commented on #1615
Just opened a PR to deal with the KeyError, but would love to see statistic support in the next release.  Thank you!

[2018-05-04 23:28] benjolitz opened #1619 "Moto CreateTopic for SNS uses incorrect regex"
AWS allows me to create an SNS topic with leading underscores (`__app-ses-bounces`).

Moto (1.3.3) does not.

The cause is the regex incorrectly insists that the topic name may not begin or end with underscores, which makes no sense given that AWS documentation states:

That's all the restrictions in AWS SNS provides. I have personally tested topics that starts and ends with `-` and `_`.

Accordin

[2018-05-05 02:04] benjolitz opened #1621 "SES support does not parse Source or Message['from'] for email address"
The `From` header on MIME Messages can be either `email@domain` or `Name <email@domain>`. For my tests, I have a `From` header of `=?utf-8?q?Name?= <email@domain.com>` which is a valid format style for production emails.

Furthermore, AWS SES allows for either a `Source` (which overrides any Message['From']) or a Message['From'] to be specified.

[2018-05-05 11:40] senfbrot commented on #1547
That looks good

[2018-05-07 14:56] sthuber90 opened #1624 "ECR get_authorization_token does not work as described in boto3 docs"
The ECR mock's method `get_authorization_token` does not work as described in [boto3 docs](https://boto3.readthedocs.io/en/latest/reference/services/ecr.html#ECR.Client.get_authorization_token). The `registryIds `passed to the method represents

## Actual:
[code]
Returns

## Expected:
**Note:** This is also the way I experienced the boto3 client to work!
[code]
Should return

[2018-05-07 16:44] traviswimer opened #1625 "ImportError: No module named tempfile"
When I try to run any command using the standalone `moto_server` I always get the same error:

[code]

For example, running `moto_server s3 -p 3000` will cause the issue (but it seems to be any command).

I'm using Moto Version: 1.3.3 on MacOS.

[2018-05-07 19:12] rdsharma commented on #1560
Sorry for not following up before, but switching to using one `@mock_s3` call did not fix the issue. The context does not seem to be applied to fixtures. I worked around it by not using fixtures for AWS-related things in my test suite; obviously not ideal but I can make it work for now.

[2018-05-07 19:23] rdsharma opened #1626 "SQS messages do not appear as deleted when using Moto across processes"
Hello,

When using processes with Moto mocking SQS, messages do not appear to be deleted from the queue. I can tell that the subprocess is able to hit Moto as it is able to print out data from the queue items, but the items remain viewable in the queue. Below is a minimal reproducible example (first test case with a process fails, second test case without a process passes):

[code]

Test failure o

[2018-05-08 07:46] #1469 closed

[2018-05-08 08:39] jonaskint commented on #1513
@spulec is there something expected for this issue to move forward?

[2018-05-08 09:26] MauPalantir opened #1628 "Dynamodb mock does not support nested map value assignment on UpdateItem"
Despite real dynamodb api supporting it.

See pull request for details.

[2018-05-08 11:11] iartarisi opened #1629 "Appsync implementation plans"
Hi, I'm wondering about the plans for implementing appsync support. Looking at the [IMPLEMENTATION COVERAGE](https://github.com/spulec/moto/blob/cb364eedc6e4edcfa3c65f152c7d13f1e5fe2ea4/IMPLEMENTATION_COVERAGE.md#appsync---0-implemented), it seems that only "admin" endpoints are planned. But what about implementing a mock API for queries, mutations and subscriptions? I think this should be doable

[2018-05-08 14:14] bwidmeier commented on #1513
I don't remember where I read this, but I believe someone thought this issue was specific to multipart uploads using the Java SDK. Maybe it uses etags without quotes, but the other major SDKs do use quotes?

[2018-05-08 19:28] sthuber90 commented on #1624
I will try to create a pull request fixing this issue.

[2018-05-08 21:04] lucabezerra opened #1630 "Pin responses version in setup.py"
Greetings!

I'm using `moto==1.3.3`, installed via `pip install moto`. When trying to mock some tests with moto, I've ran into this error:

`TypeError: __init__() got an unexpected keyword argument 'target'`

From my investigation, it seems that `target` is a parameter added to `responses.RequestsMock`s constructor in version 0.9.0. Since my project was using 0.8.1, it crashed. For this reason, I

[2018-05-08 23:34] brianrower opened #1631 "IoT does not work in server mode"
**Versions:**
moto 1.3.3
awscli 1.15.14
python 3.6.1

**How to reproduce:**
[code]

The create thing request results in a 404:
[code]
This occurs for all iot and iot-data endpoints.

**Possible Resolution:**
The code seems to be implemented, but the url paths are not defined in  Adding the URL's seems to solve the routing issues, I've done this in the branch [here](https://github.com/spulec/moto/c

[2018-05-08 23:35] brianrower commented on #1631
Also, how do I run the iot unit tests? they fail for me even on master.

[2018-05-09 00:09] rahelFain commented on #988
Any word on a possible work-around?

[2018-05-09 04:11] sepulworld opened #1632 "Allocate_address provide specific IP address to recover"
First off, thanks for putting together moto. Great project!

I would like to help contribute by adding support for EIP allocate_address with a given public address.

Per Boto3 docs under https://boto3.readthedocs.io/en/latest/reference/services/ec2.html#EC2.Client.allocate_address

Address (string) -- [EC2-VPC] The Elastic IP address to recover.

AWS offers the ability to recover a specified publi

[2018-05-09 07:01] sthuber90 opened #1633 "Implementation coverage should be written to file"
### Actual
The `implementation_coverage.py` script prints the newly calculated coverage to the console

### Expected
The `implementation_coverage.py` script should update the `IMPLEMENTAITON_COVERAGE.md`

[2018-05-09 21:11] pat-python-user opened #1635 "Kinesis List Shards Endpoint"
Hello, I would like to implement the list_shards() endpoint for moto, if nobody has started on it yet.  I notice it hasn't been checked in the IMPLMENTATION_COVERAGE document.

[2018-05-11 05:33] sepulworld commented on #1632
Test describing what I'm looking to add to moto

[code]

[2018-05-12 01:02] jwldev2014 opened #1637 "mock_s3 gives "ConnectionError: Connection refused..." error when Key used in put_object call contains leading forward slash"
This is very specific situation, however the behavior of moto in this situation doesn't match what happens when you use the actual boto3 connecting to AWS.

The situation is if you have a Key for a S3 object that you are putting into a S3 bucket that has a leading forward slash ("/").

So if your Key is "/abc" and you try putting an object into a S3 bucket with the key as follows:

[code]

If you

[2018-05-14 08:52] vekerdyb commented on #1587
I'm seeing the same issue with a simple `ConditionExpression="id = :id"` in the update_item call.

[2018-05-15 00:03] revotus opened #1638 "SSM backend doesn't support specifying version in get_parameter."
SSM backend currently does support specifying a version for "get_parameter" and related methods.

Reproduce:

import boto3
from moto import mock_ssm

@mock_ssm
def test_get_version():
    client = boto3.client('ssm', region_name='us-east-1')
    client.put_parameter({'Name': 'namey', 'Type': 'String', 'Value': 'valley'})
    client.put_parameter({'Name': 'namey', 'Type': 'String', 'Value': 'Sally'

[2018-05-15 15:27] johnbarry343 commented on #1588
@alanjds Did you end up making a fork for this?

[2018-05-15 15:56] cpitchford opened #1640 "boto3.client('events').describe_event_bus()['Policy'] should be JSON string, not dict"
Affects version 1.3.3 of Moto, with botocore 1.10.5, installed using pip using with python 2.7.14 and python mocks.

http://boto3.readthedocs.io/en/latest/reference/services/events.html#CloudWatchEvents.Client.describe_event_bus

This code shows the difference between a call to AWS and a call through Moto:
[moto_events_returns_dict_not_json_string.zip](https://github.com/spulec/moto/files/2005709/

[2018-05-15 15:57] cpitchford commented on #1640
I hope I've submitted a fix in this PR, wrapping the policy with a json.dumps()

https://github.com/spulec/moto/pull/1639

[2018-05-15 17:51] cpitchford opened #1642 "events.put_permission requires incorrect Action parameter, should require fully qualified events:PutEvents value"
Affects version 1.3.3 of Moto, with botocore 1.10.5, installed using pip using with python 2.7.14 and python mocks.

As per http://boto3.readthedocs.io/en/latest/reference/services/events.html#CloudWatchEvents.Client.put_permission

The Action parameter for put_permission should be fully qualified as "events:PutEvents". "PutEvents" should not be accepted.

    import boto3
    from moto import moc

[2018-05-15 18:10] alanjds commented on #1588
No. Forked only localstack/localstack#759. The described patch here was not properly "coded" anywhere but on my virtualenv on my machine.

[2018-05-15 18:13] alanjds commented on #1588
@johnbarry343 Done: PR https://github.com/spulec/moto/pull/1643

[2018-05-16 12:45] mattmb opened #1644 "Support TagSpecifications in SpotFleetLaunchSpec"
Spot Fleets now support tags which come in the form of TagSpecifications in the LaunchSpecifications

moto seems to support making a request with a TagSpecification but it does not return them on a ```describe_spot_fleet_requests()``` Here's some places I guess we need to change:

https://github.com/spulec/moto/blob/master/moto/ec2/models.py#L2959
https://github.com/spulec/moto/blob/master/moto/ec

[2018-05-16 17:25] cpitchford opened #1646 "ARN returned by autoscaling.describe_launch_configuration has new line and whitespace"
Affects version 1.3.3 of Moto, with botocore 1.10.5, installed using pip using with python 2.7.14 and python mocks.

The statement that defines LaunchConfigurationARN had a newline and whitespace prefix

The ARN reported in describe_launch_configurations has this newline and white space.
Arns should not have whitespace or newlines!

    import boto3,json
    from moto import mock_autoscaling
    f

[2018-05-16 17:47] cpitchford commented on #1646
Similarly, this also affects AutoScalingGroupARN with whitespace and newline that leaks into describe_auto_scaling_groups

[2018-05-16 22:29] nbcsteveb commented on #1567
@spulec hi! i'm loving moto, it has saved me countless hours.

A specific integration case i'm dealing with right now:

Only during initial integration test development, it is helpful to allow a mock SQS send/receive for one unit but still allow another unit to have outbound requests to other URLs.

Having to disable the decorator just to get both units to work means having to hit my staging SQS q

[2018-05-17 06:27] DonavanFritz opened #1647 "Default Route Table does not show main association"
The default route table for a VPC does not show the default association. As example of a route table from the `describe_route_table` method:

[code]
I would expect to see the default association in the `describe_route_tables` method. Example:

[code]
FWIW, the default route to the IGW is also missing in moto.  I'm not running into an issue because of it, but it's also something that is incorrect.

[2018-05-18 12:51] martinhyldgaard opened #1648 "No result using cointains in filter when scanning dynamodb2"
Trying to write some tests, I ran into a problem using contains for filtering. This small example run with pytest illustrates the problem:
[code]

The first assert, on the scan using idFilter is successful. The second assert, on the scan using listFilter fails. The length of Items is 0, where I expect 1.
Both asserts succeed if I run the code against an empty table in AWS.
I use boto3 version: 1.7

[2018-05-18 17:24] mjpitz opened #1649 "KeyError: 'AWS::URLSuffix'"
In trying to track down an issue with localstack, I managed to find my way back to this library. When attempting to deploy certain applications, I found the serverless would hang due to an error. After enabling DEBUG on localstack, I saw this stack trace come from this library:

[code]

After an initial dig through the code in this repository, it looks like there is a map where these values are se

[2018-05-21 18:38] hevy-CC4477 commented on #1542
same issue. Any idea, when this was introduced ?

[2018-05-22 08:56] martinhyldgaard commented on #1648
Looking around it seems related to #1539, but that seems to be fixed by #1559 on April 13. 1.3.3 should include the fix since it is from April 19.

[2018-05-24 06:07] RAMESHGP commented on #988
hi sorry for the delayed response !!!
The above issue occurs till moto 1.1.25 release. Later on i have updated moto library with **moto 1.2.0** in the month of march.  Hence my issue got resolved and it supports all the methods example: table.get_item(Key=key) and other usage as well..
Thanks for the support :)

[2018-05-24 20:54] dylanmccall opened #1650 "With IAM mocks, get_user_policy returns a malformed policy document"
I am using Moto's Python mocks to help write tests for an application that uses boto3's resource API to go through policy documents attached to users, buckets, and other things. I'm using moto==1.3.3 and boto3==1.7.21. However, it looks like user policies in particular are not behaving how I would expect. I'm including a script which reproduces the problem. It is possible to *put* a policy documen

[2018-05-28 08:39] rzijp commented on #1568
It's sufficient to use the mock_s3 context manager once in a fixture, no need to mock the test function again. Make sure that you yield the s3 client and not return it. This keeps the context manager active while the test is executed.
[code]

[2018-05-28 17:53] wonko commented on #1513
Provided a fix that works for us in https://github.com/spulec/moto/pull/1651 Our test case as the simple example from Evaporate.JS.

[2018-05-28 22:38] alecrajeev opened #1652 "S3 Storage Class Error Checking"
## Reporting Bugs

Please be aware of the following things when filing bug reports:
1. When you put an object in an s3 bucket, there are [four possible storage classes](http://boto3.readthedocs.io/en/latest/reference/services/s3.html#S3.Client.put_object) that can be chosen.
2. If you choose an invalid storage class, boto will throw an InvalidStorageClass exception.
3. Moto should replicate this t

[2018-05-29 15:11] Birne94 opened #1655 "SQS backend does not honor MessageGroupId"
The SQS backend currently does not support the message attribute `MessageGroupId` (`Message.queue_id`).

The attribute basically allows creating sub-queues within a fifo-queue which are separated by the message group. SQS makes sure to have at most one concurrent consumer receiving a message for each group, guaranteeing that all messages in the group are consumed in order. Once a message is either

[2018-05-30 01:46] #1621 closed

[2018-05-30 01:47] #1619 closed

[2018-05-30 01:48] #1506 closed

[2018-05-30 01:54] #1606 closed

[2018-05-30 01:58] spulec commented on #1605
Thanks for opening. This should be fixed with https://github.com/spulec/moto/commit/b5bdf6693c1ed615571b1099766c411600d3db10

[2018-05-30 01:58] #1605 closed

[2018-05-30 01:59] #1610 closed

[2018-05-30 02:07] spulec commented on #1393
Fixed with https://github.com/spulec/moto/pull/1586

[2018-05-30 02:07] #1393 closed

[2018-05-30 02:10] #1608 closed

[2018-05-30 02:12] #1614 closed

[2018-05-30 02:16] spulec commented on #1633
It looks like this is handled by the Makefile: https://github.com/spulec/moto/blob/master/Makefile#L43-L45

Let me know if I am missing something though.

[2018-05-30 02:16] #1633 closed

[2018-05-30 02:20] spulec commented on #1615
Fixed with https://github.com/spulec/moto/pull/1616

[2018-05-30 02:20] #1615 closed

[2018-05-30 02:28] spulec commented on #1628
Closed with https://github.com/spulec/moto/pull/1627

[2018-05-30 02:28] #1628 closed

[2018-05-30 02:31] spulec commented on #1640
Closed with https://github.com/spulec/moto/pull/1639

[2018-05-30 02:31] #1640 closed

[2018-05-30 02:32] spulec commented on #1642
Closed with https://github.com/spulec/moto/pull/1641

[2018-05-30 02:32] #1642 closed

[2018-05-30 02:34] spulec commented on #1646
Fixed with https://github.com/spulec/moto/pull/1645

[2018-05-30 02:34] #1646 closed

[2018-05-30 02:35] spulec commented on #1644
Thanks; added as a feature request.

[2018-05-30 02:41] spulec commented on #1588
Fixed with https://github.com/spulec/moto/pull/1643

[2018-05-30 02:41] #1588 closed

[2018-05-30 02:46] spulec commented on #1554
Closed with https://github.com/spulec/moto/pull/1593#issuecomment-393008847

[2018-05-30 02:46] #1554 closed

[2018-05-30 02:55] #988 closed

[2018-05-30 11:06] sthuber90 commented on #1633
I may be missing something, but to me it doesn't look like the `implementation_coverage` from the make file is called during a travis build, but only when moto/scripts/bump_version is called. For me this changes I made in the pull request regarding this issue make sense to me. Still I may be missing something

[2018-05-30 13:47] #1571 closed

[2018-05-30 19:16] tmwong2003 opened #1657 "Fn::ImportValue in CF mock does not handle missing exports gracefully"
When creating a CloudFormation stack that imports a nonexistent export, `moto` throws an exception that seems unrelated to the issue at hand. For example, given the following CF template that imports the nonexistent export `SimpleSecurityGroup`:

[code]

`moto` raises the following exception:

[code]

The underlying issues are two-fold:

1. `FakeStack` in `moto.cloudformation.models` sets the defa

[2018-05-30 19:26] lloydChris commented on #1404
I have experienced this as well.  For additional clarity, in the example above the line:
`self.conn.Table(_table_name).put_item(Item=item)`
will return the value of item.

[2018-05-31 00:33] spulec commented on #1404
Thanks for opening.

It looks like we don't support `ALL_OLD` for the `put_item` endpoint right now. I'll add this as a feature request.

[2018-05-31 00:36] #1655 closed

[2018-05-31 00:48] spulec commented on #1648
Yeah, it looks like this is still an issue. Marking it as a bug.

[2018-05-31 00:58] spulec commented on #1631
Yeah, I generally think running `moto server` without parameters is the easiest way to go.

How are you running the tests? In server mode?

[2018-05-31 01:04] spulec commented on #1649
Thanks for opening. I've hardcoded in `amazonaws.com` for now, but let me know if you need China to work.

[2018-05-31 01:05] spulec commented on #1649
Closed with https://github.com/spulec/moto/commit/6008d6b5b18cc3aaaac5d17cfd717a98bdcc3dbd

[2018-05-31 01:05] #1649 closed

[2018-05-31 01:07] brianrower commented on #1631
Yes, I'm running tests with moto in server mode.
I was trying to use localstack, but since this doesn't work in moto it doesn't work in localstack either :-)
Thoughts on documenting the hosts file workaround mentioned above? or other suggestions?

[2018-05-31 03:03] spulec commented on #1633
We only intend to run the script when we bump versions. If it ran on Travis, it wouldn't have a way to push the results back to Github.

Apologies if I'm not understanding your request.

[2018-05-31 03:06] spulec commented on #1438
Thanks for opening. Marking this as a feature request.

[2018-05-31 03:20] #1570 closed

[2018-05-31 03:39] spulec commented on #1626
I think this is expected. The subprocess will have a copy of the memory so any changes made won't be reflected in the parent process, right?

[2018-05-31 03:40] spulec commented on #1587
Thanks for opening; will file this as a bug.

[2018-05-31 03:50] spulec commented on #1598
I'm not sure there is a way for us to solve this. Although `responses` allows multiple mocks, I don't believe it will work properly with multiple mocks for the same global `requests` namespace.

I would be happy to be proven wrong though.

[2018-05-31 03:52] spulec commented on #1629
Any work on Appsync would be great.

It isn't a priority of mine right now, but I'd be happy to accept a PR from anyone that has some time. I'm going to mark this as a feature request.

[2018-05-31 03:54] spulec commented on #1638
Thanks for opening. Going to set this as a feature request.

[2018-05-31 03:55] spulec commented on #1647
Thanks for opening; I'm going to set this as a feature request.

[2018-05-31 03:59] spulec commented on #1650
I believe this is a dupe of https://github.com/spulec/moto/issues/1547#issuecomment-386799472

Feel free to reopen if I am wrong though.

[2018-05-31 03:59] #1650 closed

[2018-05-31 03:59] spulec commented on #1547
Thanks for opening; going to mark this as a bug.

[2018-05-31 04:06] spulec commented on #1596
Can you try running against the `master` of Moto? I'm not able to recreate this.

[2018-05-31 04:13] spulec opened #1659 "Strategy for triaging issues"
[Lodash](https://github.com/lodash/lodash) has an interesting strategy for handling their github issues: [here](https://twitter.com/samselikoff/status/991395669016436736)

In short:

- Feature requests are closed issues with `feature` label and `votes needed` label, and a 👍 emoji reaction
- Bugs are open issues tagged with `bug` label

For a project like Moto where there are an endless number of f

[2018-05-31 08:18] adamdavis40208 opened #1660 "ECS/run_task should default attributes from task_definition"
`def run_task(self, cluster_str, task_definition_str, count, overrides, started_by):`
`>       cluster_name = cluster_str.split('/')[-1]`
`E       AttributeError: 'NoneType' object has no attribute 'split'`

http://boto3.readthedocs.io/en/latest/reference/services/ecs.html#ECS.Client.run_task

According to this definition, only task_definition is required.

[2018-05-31 11:44] sthuber90 commented on #1633
To me it just seemed odd that the `implementation_coverage` script does not write into the `IMPLEMENTATION_COVERAGE.md` itself or that the script provides a flag to be able to either print the coverage result to the console or write it to the file or even do both. Does that makes sense? If the change I made in the pull request is fine for you than that's all there is to it  😃

[2018-05-31 13:23] jofwar opened #1662 "The UserId parameter for ModifySnapshotAttribute has not been implemented in Moto yet."
Version: moto 1.3.3

using mock_ec2 to test successful permission updates on a snapshot.

thanks!

[2018-05-31 21:34] NelsonScott opened #1663 "SQS: Create Queue Does not Raise Error With Different Attributes"
Expected Behavior:
Using an SQS resource, calling `create_queue` with attributes that do not match the existing queue's attributes should raise an error `QueueNameExists`

http://boto3.readthedocs.io/en/latest/reference/services/sqs.html#SQS.ServiceResource.create_queue

Actual Behavior:
Queue is returned with its existing attributes.  Attributes are not updated and error is not raised.

Steps to

[2018-05-31 22:45] #1547 closed

[2018-05-31 22:47] spulec commented on #1662
Thanks for opening; setting as a feature request.

[2018-05-31 22:51] spulec commented on #1660
Thanks for opening; this will take some work to fix.

We'll need to add the ability to fallback to reading the cluster (and other attributes) from the task_definition. I'm going to set this as a feature request.

[2018-05-31 22:53] dylanjsonar commented on #1650
Oops, I didn't find that one! Yep, this one's a dupe. Thank you :)

[2018-06-01 00:42] spulec commented on #1657
Fixed with https://github.com/spulec/moto/pull/1658

[2018-06-01 00:42] #1657 closed

[2018-06-01 01:38] spulec commented on #1603
My first guess is to do with us either not setting the content-encoding right or the content-length being incorrect.

Either way, seems like we need to fix something so I'm going to mark this as a bug.

[2018-06-01 01:41] spulec commented on #1599
Thanks for opening; I'm going to set this as a feature request.

[2018-06-01 01:44] spulec commented on #1637
Thanks for opening. Agree this is a bug and going to set it as such.

[2018-06-01 01:52] spulec commented on #1424
Any chance you can add some code to reproduce?

[2018-06-01 02:07] #1612 closed

[2018-06-01 02:07] spulec commented on #1612
Thanks for opening; this should be fixed now.

[2018-06-01 02:10] spulec commented on #1631
Ah, it actually looks like this is a known issue: https://github.com/spulec/moto/blob/master/Makefile#L4-L5