[2016-09-09 18:23] ex-nerd opened #696 "mock_cloudwatch does not implement get_metric_statistics"
Docs:
- http://docs.aws.amazon.com/AmazonCloudWatch/latest/APIReference/API_GetMetricStatistics.html
- http://botocore.readthedocs.io/en/latest/reference/services/cloudwatch.html#CloudWatch.Client.get_metric_statistics

[2016-09-12 16:46] kzw opened #697 "ec2.terminate_instances does not raise exception when list is empty"
The following test code shoud raise an ec2 error but it does not.

[code]

[2016-09-14 01:56] spulec commented on #694
Fixed with #693

[2016-09-14 01:56] #694 closed

[2016-09-14 01:57] #684 closed

[2016-09-14 02:11] spulec commented on #690
Hmmm, this seems to work for me. Can you double-check you don't have any proxy environment variables or anything else like that? Are you running the latest version?

[2016-09-15 19:11] monkeyrevenge opened #701 "describe_tags returns all tags when filtering with an invalid resource-type"
#700 Addresses this issue

example:
when mocked this would return all tags, when using real AWS it would return no tags.

[code]

[2016-09-16 23:19] kryptek opened #702 "Boto3 Route53 and Moto"
Is mocking the Route53 functionality of Boto3 not supported with Moto?  The Moto route53 model does not expose any of the functions from the Boto3 SDK that I'm trying to mock out.

I understand that the SDK is supposed to mock endpoint calls but when I try to call the `change_resource_record_sets` method, I'm seeing network calls being made from tcpdump.

I also don't see the `change_resource_reco

[2016-09-18 23:17] jtprince commented on #548
I had this problem with moto 0.4.19 ("file descriptor cannot be a negative integer").  I then upgraded to 0.4.27 and things worked (i.e., the error went away).  Perhaps this issue has been properly addressed now and should be closed?

[2016-09-19 00:09] okomestudio opened #703 "S3 multipart upload failure due to ETag mismatch with boto3"
A basic multipart upload on S3 with a script as follows work on unmocked S3:

[code]

but the test with mock fails with a ClientError:

[code]

This appears to be due to unstripped double quotes in ETag in the S3 model code.

[2016-09-19 04:16] kryptek commented on #702
I see the endpoint matching code and it should be matching just fine. I'll have to investigate and root cause in my end before continuing further with this issue. Closing for now.

[2016-09-19 04:16] #702 closed

[2016-09-20 06:46] okomestudio commented on #703
This appears to happen only with `boto3`.

[2016-09-20 13:25] MainAero commented on #696
+1

[2016-09-21 05:52] okomestudio opened #707 "EMR run_job_flow does not retain cluster info when used with boto3"
The simplest way to reproduce the issue is to add the following line to one of the existing tests, `test_emr/test_emr_boto3.py:test_list_clusters`:

[code]

If mocked correctly, the last assert should be true, and the `boto` version of the tests pass this fine. However, with `boto3`, the backend has its `cluster.name` attribute set to `None`, and the above test fails.

This appears to be caused by

[2016-09-21 07:57] okomestudio commented on #707
Upon further experimentation, it appears patching `moto.core.responses.BaseResponse.setup_class` as follows works without failing existing tests for both `boto` and `boto3`:

[code]

While tests appear to pass fine, I'm not exactly sure of the implication to what is not covered by the tests, and I am also not sure if doing `querystring[key] = [value]` is robust when the JSON contains nested struct

[2016-09-22 01:00] okomestudio commented on #707
It looks like when a request body is JSON, it needs to be transformed into a form where nested keys, e.g.,

[code]
are flattened as in
[code]

and arrays also need to be flattened as in

[code]
to
[code]

[2016-09-22 01:31] #703 closed

[2016-09-22 01:35] spulec commented on #548
Thanks for the update. Is anyone seeing this with the moto 0.4.27?

[2016-09-22 01:35] spulec commented on #701
Fixed with #700

[2016-09-22 01:35] #701 closed

[2016-09-22 19:36] akak548 commented on #525
My tests are still failing when trying to filter based on snapshot status. I am running moto version 0.4.27 and bot3 version 1.4.0 The code is straight forward.

[code]

[2016-09-22 19:46] akak548 opened #709 "Describe snapshots filter NotImplementedError"
My tests are still failing when trying to filter based on snapshot status. I have read over ticket #525 and verified that I am running moto 0.4.27 and boto3 1.4.0 The code is straight forward.

[code]

[2016-09-23 16:46] ryansydnor commented on #695
Seeing the same issue. Looks like `if_not_exists` and `list_append` operations are not supported yet. Furthermore, after splitting on the `=` sign there's a possibility for both the key and value to have spurious whitespace. I'd recommend trimming them.

[2016-09-23 19:27] faraocious commented on #260
I'm hitting this as well.

[code]

[2016-09-23 20:05] faraocious commented on #260
@mpenkov do you have a branch in the moto repo with that particular test?  I wanted to play with a fix, but don't want to reinvent the wheel.

[2016-09-23 23:56] pouledodue opened #713 "lambda: ZipFile param is not taken into account"
[code]

a call to `conn.invoke()` always returns response with a payload of `{result: "Good"}`

[2016-09-24 04:29] mpenkov commented on #260
@faraocious no, sorry. That test isn't committed anywhere public. It has no dependencies, though, so you can just copypasta and run it.

[2016-09-26 13:17] collinstocks commented on #695
Unsubscribing because we ended up switching to dynalite for this test.

[2016-09-26 20:49] faraocious commented on #260
@mpenkov I used `@mock_dynamodb2` and that seems to work with boto3.  Makes sense that the revamp of Boto would use the second version of the API, i guess :)

[2016-09-27 12:36] jakubka opened #715 "dynamodb.query doesn't support FilterExpression"
Docs:

https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/QueryAndScan.html#FilteringResults

It looks like mock for the `FilterExpression` operator is not implemented. It simply isn't taken into account and everything is always returned.

[code]

This behaves as in `FilterExpression` weren't specified.

Are there plains to add support for `FilterExpression`?

Thanks!

[2016-09-28 06:01] kienpham2000 opened #716 "Kinesis Firehose create_delivery_stream without Redshift crashed"
[code]

[2016-09-29 01:41] jzelinskie opened #717 "GPL Dependency"
At some point you guys added `sure` as a dependency. Sure is licensed under the GPL and thus cannot be use in a number of projects. We depend on this library, but cannot ship GPL code. Are you interested in working around this issue at all?

[2016-09-29 08:47] esc commented on #640
Yeah, this is super easy. For the pybuilder project, we basically build a pre-release for PyPi whenever the travis tests on master are green:

 https://pypi.python.org/pypi/pybuilder

You can then install these pre-releases with:

[code]

This is really nice, because a) after you fix a bug, you can simply ask the reporter to install with `--pre` to test and b) some daring people -- like myself --

[2016-09-29 08:54] esc opened #718 "Unpredictable results when filtering EC2 instances based on tags."
The following gist exposes the bug I have currently hit:

https://gist.github.com/esc/88780a70f9acb6a53f603ebbe5fcc8ec

which is:

[code]

Assuming I have understood the way in which EC2 instances are filtered correctly, the above should _only_ return a single instances, namely the `green` one. The problem is that filtering on EC2 instances produces unpredictable results, sometimes it works and I

[2016-09-29 15:28] andrewgross commented on #717
IANAL. Is it an issue to use `moto`, even though it is not used in the packaged version of the projects(available on PyPI?  It is only used in the development of the project, but it is not bundled with the code.

[2016-09-29 17:14] jzelinskie commented on #717
If that's the case, can you remove `sure`'s existence from moto's `setup.py`? Right now we basically have a script that searches for the GPL in the PyPi license data of each package in our requirements.txt and the latest `moto` is bringing `sure` into our project.

[2016-09-29 17:43] andrewgross commented on #717
Hmm, I think that could be doable.  A quick search doesn't have `sure` anywhere but in `test_` files.

[2016-09-29 20:36] andrewgross commented on #717
We already have `sure` listed in `requirements-dev.txt`, but it seems like we re-list it in `setup.py`.  Given that we don't even lock a `sure` version in `setup.py`, and that it is the only testing requirement, I think it can be safely removed.  I will try a PR with it.

[2016-09-29 20:37] andrewgross commented on #717
Same with `freezegun`.

[2016-10-01 18:25] pouledodue commented on #715
I need that too

[2016-10-02 15:51] rocky4570 commented on #683
Yes I found the same issue and started some preliminary work on it but got side tracked.

[2016-10-02 17:09] johnmcteague commented on #683
I have a bunch of patches for this and others. Waiting on corporate red tape to give thumbs up to contributing back.

[2016-10-05 04:38] rocky4570 commented on #713
I have some code I have developed that allows some rudimentary python to be executed and the results returned on RequestResponse. Eg moto to invoke a boto call to get a volume from moto - if that makes sense?

[2016-10-05 06:51] rocky4570 commented on #650
I have put a pull request in for this as had same issue allows describe on alias and arn/keyid. See https://github.com/spulec/moto/pull/721

[2016-10-05 07:10] rocky4570 opened #722 "Like to propose the idea of infrastructure failures being added to moto."
Moto is a great tool for doing tests etc, but it doesnt provide the ability to test for failures in ones code which occur in AWS, well at least not what I have seen? Such as an ERROR on volume state or API limit request exceeded. It would be good to inject errors being reported back by moto in a way which can be configurable to the moto user.

I must admit I havent done any analysis on whether the

[2016-10-07 16:31] ukch commented on #483
I'm having a similar issue on Codeship using moto 0.4.27. Here's the command I'm trying to run:

[code]

And here's the traceback:
[code]

[2016-10-09 20:40] dsem commented on #532
If you're hitting this issue when using moto in a docker-compose environment, one (ugly) workaround is to name your moto service starting with `localhost`.  Something like:

[code]

[2016-10-09 23:06] spulec commented on #717
Fixed with #719

[2016-10-09 23:06] #717 closed

[2016-10-09 23:29] spulec commented on #713
Thanks for opening. This was fixed with #723

[2016-10-09 23:29] #713 closed

[2016-10-09 23:31] spulec commented on #722
It isn't something I've heard from others. I'm struggling to find a simple way to do this.

I would be open to a proposal though if someone comes up with a good idea.

[2016-10-09 23:33] spulec commented on #650
Fixed with #721

[2016-10-09 23:33] #650 closed

[2016-10-10 00:22] pouledodue commented on #713
great, thanks!!

[2016-10-10 00:24] spulec commented on #716
Thanks. Fixed with ddf2f5a754455fe2b1b434089cade9083d6b7d33

[2016-10-10 00:24] #716 closed

[2016-10-10 00:33] spulec commented on #709
Are you trying to filter snapshots or instances (the title says the former, the code seems to do the latter)?

[2016-10-10 01:09] spulec commented on #683
A patch would be much appreciated!

[2016-10-10 01:20] #697 closed

[2016-10-10 01:21] spulec commented on #697
Thanks for opening this. It should be fixed now.

[2016-10-10 01:40] spulec commented on #527
I'm having trouble reproducing this. Are you on the newest version?

[2016-10-10 01:44] spulec commented on #685
This looks to be working for me on the newest version of moto. Can you try that?

[2016-10-10 02:09] spulec commented on #718
I don't believe you can use more than one of the same filters at once. In this instance, you can only use `tag-key` once. By passing two, there is undefined behavior about which one it will use.

http://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_DescribeInstances.html

`tag-key - The key of a tag assigned to the resource. This filter is independent of the tag-value filter. For example, if

[2016-10-10 07:59] esc commented on #718
I'll try with `tag:key=value` and report back.

In any case, my example above works fine on AWS but not using moto.

[2016-10-10 08:05] esc commented on #718
In the above, you should probably return the instance which has key values `application` and `environment` as well as the value values `api` and `green`. In this case it doesn't matter, if `application` maps to `api` or `green`, its just important that *a* key with a specific value and a value with a specific value is present (ignoring if one maps onto the other). I believe that is what the docs s

[2016-10-10 08:47] ukch commented on #483
I'm having a similar issue on Codeship using moto 0.4.27. Here's the command I'm trying to run:

[code]

And here's the traceback:
[code]

[2016-10-10 19:57] majuscule opened #726 "post-provision EIP allocations not added to instance data"
I believe I have found an issue with dynamically allocated and associated EIPs not being added to the compute instance description endpoint. The standalone script below provisions an instance and eip, associates the resources, and looks for the missing network interface.

I have also found that if the vpc subnet is not explicitly declared in the `create_instances` configuration dictionary, this te

[2016-10-11 03:46] amitsaha commented on #685
Doesn't seem like. Will it possible to share how you are testing this? I may be doing something wrong..

[2016-10-11 11:30] anentropic opened #728 "TypeError: __init__() got an unexpected keyword argument 'lstrip_blocks'"
I have decorated my tests with `@mock_s3`

I get the following error when running:

[code]

fresh install from pip `moto==0.4.27`

[2016-10-11 11:36] anentropic commented on #728
Ah, it seems it's not compatible with `Jinja2==2.6`

upgrading to `Jinja2==2.8` has fixed it for me

currently no version is specified for Jinja2 in your `setup.py`

[2016-10-11 17:10] majuscule commented on #726
See PR https://github.com/spulec/moto/issues/727 for resolution (the instance must be explicitly refreshed).

[2016-10-11 17:10] #726 closed

[2016-10-11 17:19] majuscule opened #729 "instance descriptions should include toplevel Public{IpAddress,DnsName}"
AWS/boto3 `.describe_instances` calls return `instances` with top level `PublicDnsName` and `PublicIpAddress` keys for instances with public or elastic IPs. moto currently returns this information only nested inside the `NetworkInterfaces` dict.

[2016-10-11 19:18] majuscule commented on #729
I believe that this is relevant to the failing test case given here: https://github.com/spulec/moto/pull/730

[2016-10-11 21:55] helenst opened #731 "Dynamodb has_item causes scan problems"
Calling `has_item` for an item that doesn't exist, and then calling `scan()` causes `AttributeError: 'dict' object has no attribute 'attrs'`

Example of behaviour that causes this:

[code]

`has_item` calls down to `Table.get_item` in `dynamodb/models.py`. This accesses `self.items`, which is a `defaultdict` whose default value is an empty dict. This results in an empty dict being set in `self.ite

[2016-10-13 02:02] #729 closed

[2016-10-13 02:20] spulec commented on #685
Are you creating a `~/.boto` as specified in the README?

[2016-10-13 02:22] spulec commented on #718
Are you seeing it working consistently against AWS? My understanding is that you can't pass the same filter type twice.

[2016-10-13 02:25] #728 closed

[2016-10-13 02:25] spulec commented on #728
Thanks for opening, I've changed the code to require a higher version.

[2016-10-13 02:55] spulec commented on #731
Yes, that sounds like the right solution. A PR would be great!

[2016-10-13 04:13] amitsaha commented on #685
No, since it says "If you want to use boto with this (using the simpler decorators above instead is strongly encouraged)," - and I am using the decorator..Not sure if I misunderstood something?

[2016-10-13 10:51] esc commented on #718
Yes, I run this setup in production where I query with multiple `tag-key` filters.

[2016-10-13 12:57] spulec commented on #685
Yes, sorry. There are two different ways to use moto: everything stored in memory in the one process or with a separate standalone server mode (`moto_server`). I generally advise people to use the former.

If you added a `conn.get_all_buckets()` to the end of your function and printed the results, it should show that a bucket has been created.

[2016-10-13 17:58] VryCafn8d opened #734 "Boto3 S3 list_objects_v2 response is different with moto"
With Boto3, the response returned by the S3 client list_objects_v2 method while mocking is missing the 'KeyCount' attribute that you get with the real response from the S3 client.

Example without mocking:

[code]

With mocking:

[code]

[2016-10-16 23:01] #707 closed

[2016-10-17 12:40] adamtheturtle commented on #548
@spulec I am, but I'm not in a position right now to make a small reproducible case. I get the `invalid literal for int() with base 10` and it works when I use httpretty 0.8.10.

Thanks for the software 😄

[2016-10-18 12:48] oridistor opened #737 "EC2 security groups - can add same rule twice"
I need to simulate the situation where I get an error from AWS when I try to add a rule that already exists in the system (as my code catches that exact error when calling authorize_security_group) but the moto mock system just adds the new same rule next to the original one instead of doing a set test.

This means that moto behaves differently from boto in this exact situation.

[2016-10-20 04:42] danielkza opened #740 "Missing S3 canned ACL: aws-exec-read"
I get the following exception:

[code]

But it exists, at least according to the [boto3 documentation](http://boto3.readthedocs.io/en/latest/reference/services/s3.html#S3.Bucket.put_object).

[2016-10-21 20:53] #638 closed

[2016-10-25 17:29] meawoppl opened #745 "DynamoDB update_item() is fragile"
[code]

works but

[code]

Does not.  This is a glitch in the expression parser here:
https://github.com/spulec/moto/blob/master/moto/dynamodb2/models.py#L130
Which treats spaces as boundaries in a weird way.

[2016-10-30 17:00] dtenenba opened #747 "example from README fails in python3 - comparing bytes to (unicode) string"
Running the first example in the README under python 3.5.2, the assertion fails:

[code]

Because 'is awesome' is a (unicode) string, and `conn.get_bucket('mybucket').get_key('steve').get_contents_as_string()` returns an object of type `bytes`.

[code]

[2016-10-30 19:59] tomviner opened #748 "By default variables in XML templates aren't escaped"
Doing some mocking with moto, and I have `&` in my test data. This kind of thing fails:

[code]

errors because the `&` isn't escaped `<Key>Q&A.txt</Key>`:

[code]

Similarly listing by prefix, regardless of objects in s3 fails:

[code]

This is because in `moto/core/responses.py` [`_TemplateEnvironmentMixin.should_autoescape` was set to False](https://github.com/spulec/moto/commit/d3e4c2c4b5bf900

[2016-10-31 21:44] dtenenba opened #749 "docker API is broken inside a test with @mock_something annotation"
Here's a test function (requires that you `pip install docker-py` and have Docker installed):

[code]
It works just fine. However if I add a `@mock` annotation such as `@mock_s3` or `@mock_ec2` above the `def`, I get a long stack trace (see below).

I can work around this, by testing the docker-related functionality in a separate test.
But thought you might want to know.

**EDIT**: Actually, it wo

[2016-11-01 17:32] dtenenba commented on #749
I was able to reproduce this with HTTPretty alone (without moto) so I filed an [issue](https://github.com/gabrielfalcao/HTTPretty/issues/311) there. I guess this can be closed but I'll leave it open in case anyone wants to say or do anything further.

[2016-11-01 19:35] dtenenba commented on #749
I have a [workaround](https://github.com/gabrielfalcao/HTTPretty/issues/311#issuecomment-257660604) for this now so I am closing this (plus it doesn't really belong here).

[2016-11-01 19:35] #749 closed

[2016-11-01 19:39] donato commented on #380
I'm going through a similar problem.

I have a helper which launches an EMR, does bootstrapping and then waits for the clusters state to go to "WAITING"

Any tips for testing this?

[2016-11-01 23:42] dtenenba opened #750 "using moto and HTTPretty in the same test function"
I want to test a function that calls S3 (using boto3) and also calls a different REST API that I developed.

I was hoping that I could do this, using moto to mock S3 and HTTPretty to mock the other service. The fact that moto is built on HTTPretty was encouraging.

But I tried a short example and it failed:

[code]

Here's the result of running this:

[code]

I realize that if I move the AWS/S3 ca

[2016-11-02 15:00] mpappas86 opened #751 "SNS endpoint creation"
When you attempt to create two SNS platform_endpoints with the same token in boto, it normally throws a client error the second time, telling you that the endpoint has already been created. (See http://stackoverflow.com/questions/22227262/aws-boto-sns-get-endpoint-arn-by-device-token). However moto doesn't check if there are any pre-existing platform_endpoints with your token, it just happily crea

[2016-11-02 15:11] mpappas86 commented on #751
Similarly, no exception is thrown on `PlatformEndpoint.publish` calls against a disabled PlatformEndpoint - instead the message is published. Can this also throw the standard boto exception?

[2016-11-03 06:19] anandthati opened #752 "TypeError: 'Mock' object is not iterable"
Hello,
I am using @mock_s3 decorator in my test case since I am using boto3.
In my views code I am trying to iterate over s3 function and so I am hitting this error
TypeError: 'Mock' object is not iterable
<Mock name='mock().get_versions()' id='140001632087568'>

Anyone faced the same issue and solved it???

[2016-11-03 09:00] hevy-CC4477 opened #753 "SQS change_message_visibility"
Hi,

I wrote a test where I change multiple times the message visibility. It works fine with aws, here is my error with moto (the error happen on the second call of change_message_visibility):

[code]

Any idea why ?

[2016-11-03 09:29] hevy-CC4477 commented on #753
I found the issue, the ReceiptHandle changed. Here is my test:

does not work:
[code]

work fine:
[code]

Is it normal that the ReceiptHandle changed ?

[2016-11-03 20:28] dtenenba opened #754 "Can't add multiple tags at once to mock EC2 instance"
Hi,

According to the [AWS documentation](https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/allocation-tag-restrictions.html), a resource can have a maximum of 50 tags.

However, in moto I cannot add more than one tag at once to a mock ec2 instance, but it works in 'real' ec2.:

[code]

Throws this error:

[code]

I can add the tags one at a time.

[code]

But that involves 12 API calls

[2016-11-03 21:14] dtenenba commented on #754
Update: the actual issue seems to be that moto has a limit of 10 tags per resource. I can add ten tags (or fewer) to an instance, either all at once or one at a time. But no more than that. I'm submitting a PR to fix this.

[2016-11-04 09:56] nfvs opened #756 "Use pytest for tests, to support running all tests with multiple boto version"
py.test is much more powerful to run tests, and one of the features I think would really help would be fixtures.

AFAICT currently all tests run only on one boto version; with py.test you can define a fixture with parameters, which will trigger all tests that use that fixture with all parameters.

Example
[code]

[code]

It also allows much more, like skipping certain tests for certain parameters.

[2016-11-04 13:50] nfvs commented on #752
Hard to tell what that all means without more context.

In any case that looks like a python error, not moto, since Mock is part of the python std lib.

[2016-11-06 14:45] #731 closed

[2016-11-06 14:52] spulec commented on #754
Fixed with #755

[2016-11-06 14:52] #754 closed

[2016-11-07 18:45] rouge8 opened #761 "Flask is not an optional dependency"
0.4.28 moved Flask to an optional `[server]` dependency, but importing from `moto` (e.g. `from moto import mock_s3`) leads to `moto.core.utils` which tries to import from Flask:

[code]

[2016-11-09 20:31] atif1996 commented on #715
Yeah I need this too.  Seems like it would be simple enough to add.

[2016-11-10 16:50] eavrunin opened #766 "DynamoDB update_item() does not support ADD and DELETE actions"
The action list here https://github.com/spulec/moto/blob/master/moto/dynamodb2/models.py#L113 only includes SET and REMOVE.

Mostly this fails silently (that is, the code runs but the field is not updated), but it can also raise `ValueError: need more than 1 value to unpack` from the decorator if I have an UpdateExpression like `SET set_field=:set_val ADD add_field :add_val`.

[2016-11-10 23:33] smarlowucf opened #767 "camelcase_to_underscore does not work with acronyms in name"
If the camelcase_to_underscore argument contains acronyms the result is incorrect. An example test case is ListMFADevices.

The method returns list_mfadevices instead of the proper value list_mfa_devices.

[2016-11-11 22:01] spulec commented on #761
Thanks, this is fixed in the most recent release.

[2016-11-11 22:01] #761 closed

[2016-11-11 22:04] #745 closed

[2016-11-14 02:25] RealSalmon opened #769 "Invoking Lambda function does not generate the correct payload"
Is the payload delivered when invoking a lambda function incorrect? Instead of delivering the function's return value, it looks like it is delivering a dictionary with a single 'result' key that contains the log output.

e.g. I would expect test_invoke() below to pass . . .

[code]

[2016-11-14 02:41] RealSalmon opened #770 "X-Amz-Function-Error header not sent when invoked Lambda function raises exception"
When invoking a Lambda function, it is expected that the response should contain the X-Amz-Function-Error header with a value of "Handled" if the underlying Lambda function generated an exception.

I don't think that this header is being sent by moto.

e.g. I would expect test_invoke_error() below to pass

[code]

[2016-11-15 23:38] smarlowucf opened #771 "SSL Error running tests python3.5"
When running the test suite against python3.5 two SSL errors are generated.

ERROR: test_decorator_calls.test_context_manager
ERROR: test_decorator_calls.test_decorator_start_and_stop
----------------------------------------------------------------------
Traceback (most recent call last):
  File "/home/smarlow/projects/venvs/moto/lib/python3.5/site-packages/nose/case.py", line 198, in runTest

[2016-11-16 07:00] tmylk commented on #514
Suggest the pin to `httpretty=0.8.10`  can be updated to `httpretty=0.8.10`.

The reason is that `smart_open` tests pass with `httpretty=0.8.14` and  `moto==0.4.30`.

BTW some work on Python 3 might happen in `httpretty` in the future https://github.com/gabrielfalcao/HTTPretty/issues/307

[2016-11-16 16:24] smarlowucf commented on #514
I have the same result. Tests written using moto==0.4.30 with httpretty==0.8.14 all pass as expected. However, attempting to run moto's test suite against httpretty 0.8.14 yields over 100 errors and takes over 2 hours to finish.

[2016-11-17 08:48] rocky4570 commented on #769
Ah ok - the patch I put up was putting data to LogResult (http://boto3.readthedocs.io/en/latest/reference/services/lambda.html#Lambda.Client.invoke) so I will have a look at this.

[2016-11-20 05:21] taion commented on #657
I'm seeing this as well. It only happens with Python 3, not with Python 2.

[2016-11-24 01:06] spulec commented on #532
Any issues still after #765?

[2016-11-24 01:15] spulec commented on #514
If anyone is interested in really getting involved here, I would be open to looking into moving to something like Responses: https://github.com/getsentry/responses

I have done little research though so don't know what is possible/necessary.

[2016-11-24 01:16] spulec commented on #771
Thanks, we don't officially support python 3.5 right now, but happy to add support if someone has time to submit some PRs.

[2016-11-24 01:30] spulec commented on #750
Given how HTTPretty is setup, I don't know that there is a way to do this. You could create a PR to HTTPretty so that successive activate()s are additive instead of replacive, but I don't know if they will merge.

[2016-11-24 01:30] #750 closed

[2016-11-24 01:30] spulec commented on #750
Let me know if you come up with any other ideas.

[2016-11-24 01:32] spulec commented on #748
Certainly not an intentional decision. A PR would be very welcome if anyone has time.

[2016-11-24 01:34] spulec commented on #766
Sorry about the silent failure. A pull request would be very welcome if anyone has time to implement.

[2016-11-24 01:35] spulec commented on #715
No plans. I would be very happy to accept a pull request if anyone has time to implement.

[2016-11-24 01:36] spulec commented on #752
Moto doesn't use Mock so I'm guessing the error is somewhere else. Feel free to reopen with more details.

[2016-11-24 01:36] #752 closed

[2016-11-24 01:38] spulec commented on #756
My understanding is that the boto and boto3 client are not very compatible so it would take significantly more changes than that. Feel free to open a branch for dynamodb though. It does sound like a nice idea.

[2016-11-24 01:42] #740 closed

[2016-11-24 01:42] spulec commented on #740
I haven't had a chance to actually implement it, but fixed it so that it won't throw an exception.

[2016-11-24 09:50] leplatrem commented on #532
Unless I'm mistaken, it does not:
[code]

[code]
[code]

[2016-11-24 09:51] leplatrem commented on #532
Sorry, I think it does, now that I look at the original issue description :)

[code]

[2016-11-24 09:51] #532 closed

[2016-11-27 23:35] rocky4570 opened #780 "Modifications: Fix s3bucketpath handling for IP based requests #765"
With regards to change https://github.com/spulec/moto/pull/765.

This change causes problems when using moto (s3) on Windows machines as inet_pton is not part of the socket module. Results in AttributeError: 'module' object has no attribute 'inet_pton'

Fix is to use inet_pton but requires installing (win-inet-pton) and placing in moto/s3/responses.py:

import os
if os.name == 'nt':
    import win

[2016-11-28 08:14] jgelens commented on #780
Replacing the ip logic with a regex for ipv4 and ipv6 IP's would maybe work?

[2016-11-29 12:06] varadharajan opened #782 "Issue in retrieving messages from SQS using boto3"
Consider the below code block.

[code]

This test will fail with the below error in moto 0.4.30, boto3 1.4.1.

`
E     AssertionError: assert 1 == 2
`
I observed that, second call to receive_message function will retrieve the second message whereas ideally, the first call itself should retrieve both the messages. As of now, i had to do something like:

[code]

[2016-11-29 19:57] dtenenba commented on #703
I can still reproduce the issue with a fresh install of the master branch, even though I can see in my local commit history that PR #705 has been merged.

I can do this with the script above, replacing the last line with `test_upload()` .

Does this issue need to be reopened?

[2016-11-30 12:53] rocky4570 commented on #782
We had similar issues with Boto3. Until we looked at the doco - which has the following:

MaxNumberOfMessages (integer) --
The maximum number of messages to return. Amazon SQS never returns more messages than this value but might return fewer. Values can be from 1 to 10. Default is 1.

http://boto3.readthedocs.io/en/latest/reference/services/sqs.html#SQS.Client.receive_message. Though trying to fi

[2016-12-01 05:44] arita37 opened #783 "Monitor Spot Instance Price in Real Time using Moto"
Hi,
Am wondering if there is a way to monitor Real Time price of EC2 instances using Moto ?
It means having the price every 5 mins in a server mode.

Thanks,r egards

[2016-12-01 16:07] varadharajan commented on #782
@rocky4570  Thanks a lot for that link. I was not aware of that before.

[2016-12-01 16:07] #782 closed

[2016-12-02 19:53] dtenenba opened #786 "S3 upload failure in boto3"
This is related to #703 in that it gives the same error, but it might be different because this error still happens for me even though #703 has apparently been fixed.

Note that I am using the latest moto (0.4.30, master branch, pulled today).

The following code downloads a 28MB file from S3 and then tries to upload it to a mock bucket, and fails with:

[code]

[code]

[2016-12-03 23:13] spulec commented on #748
Fixed with #779

[2016-12-03 23:13] #748 closed

[2016-12-03 23:15] spulec commented on #780
Fixed with #784

[2016-12-03 23:15] #780 closed

[2016-12-03 23:17] spulec commented on #769
Fixed with #781

[2016-12-03 23:17] #769 closed

[2016-12-03 23:30] spulec commented on #703
I believe the script above is stripping the first and last characters from the ETag, but shouldn't be. After removing the `[1:-1]`, it seems to work.

[2016-12-03 23:57] spulec commented on #783
The `describe_spot_price_history` method is not currently implemented, but I would be happy to accept a pull request if anyone wants to take a try.

[2016-12-04 00:38] spulec commented on #786
Thanks for opening.

Does the same issue occur if you manually create the multipart upload instead of using `upload_file`?

[2016-12-04 01:02] dtenenba commented on #786
I changed the script to the below which should make it a multipart upload, but I'm not sure if this is what you were asking for, I haven't done multipart uploads before. This fails with the same error.
Suggestions welcome as to how to manually create the multipart upload.

[code]

[2016-12-04 03:15] spulec commented on #786
Hmmmm, I changed the file I'm using, but the script is hanging for me right now instead of erroring. Not sure why yet.

[2016-12-04 03:17] spulec commented on #747
Thanks for opening.

We don't officially support Python 3.5 as of yet. I would be happy to accept some PRs though if anyone is interested in adding it.

[2016-12-09 19:38] bkruger99 opened #792 "SQS DEFAULT_ACCOUNT_ID is incorrect format for SenderId"
DEFAULT_ACCOUNT_ID is an incorrect format for the SQS SenderId.  It be something alone the lines of:
AIDAIT2UOQQY3AUEKVGXU  (autoscale)
AROAIL6GAI2XEC672SWG2:awslambda_39_20161007224708400
AROAIL6GAI2XEC672SWG2:i-12345678901234567

See pull request:
     #791

[2016-12-13 18:10] hltbra opened #793 "Not all models with create_from_cloudformation_json can be updated or deleted through cloudformation"
There should be a standard for create/update/delete methods on models that support CloudFormation.

The `Instance` model has only `create_from_cloudformation_json`, for example.

There is a method `delete_from_cloudformation_json` in many models, but that doesn't get called when a stack is deleted, it gets called when the stack is updated. When stacks are deleted, the instance method `delete` is c

[2016-12-14 18:46] spg opened #794 "HTTPS requests fail when using Moto"
Running `python mycript.py` fails. Here's `myscript.py`:
[code]

Here's the error from running `myscript.py`:
[code]

Commenting out the `@mock_s3` annotation fixes the problem.

Clearly, using `mock_s3` causes problems with HTTPS calls. Is this by design?

thanks :)

[2016-12-14 21:02] adamehirsch commented on #527
I've got the same issue, for what that's worth. Just changed a unittest-based `setUp()` method into `setUpClass()` and suddenly the script is touching my live AWS account:

[code]

[2016-12-18 03:08] smarlowucf commented on #771
I think the best bet for Python 3 support is migrating to Responses as you mentioned https://github.com/spulec/moto/issues/514. If I find some time I will investigate this.

[2016-12-19 08:43] benregn commented on #614
You can pass an `endpoint_url` to `boto3.resource` (and to `boto3.client`):

[code]

[2016-12-20 23:07] shaform commented on #514
@smarlowucf I've investigated a little bit. The only reason moto's test suite fails against httpretty 0.8.14 is because of this behavior change: https://github.com/gabrielfalcao/HTTPretty/commit/19ed56efc5ab5a574c03189f30853f32f52d170f. Originally when an unimplemented feature is encountered in moto, a `NotImplemented` Exception is raised and caught by the test. Now, it would return empty results,

[2016-12-21 01:02] aaron-kaplan opened #798 "Setting S3 bucket ACL has no effect"
After setting a bucket's ACL, when I retrieve the ACL for that same bucket I expect to get back what I set. Failing tests for boto3 and boto below.

[code]

[2016-12-21 23:37] aaron-kaplan commented on #798
I found a [TODO](https://github.com/spulec/moto/blob/b5ff3345bee181f136aaf235428078e2aaa910a1/moto/s3/responses.py#L253) in the code that seems to be related.

Having discovered that, I found a workaround for setting bucket ACLs. The following test passes:
[code]
however, this one also fails:
[code]

[2016-12-24 03:09] rocky4570 commented on #794
Solution here if there is no fix is to use moto in the context manager form rather than decorator.

I suspect its because moto relies on HTTPretty to capture requests from boto/boto3 api calls. Also have to ensure http_proxy is not set when using it else can get errors from HTTPretty.

def req():
    x = requests.get("https://www.google.ca")
    with mock_s3():
            s3 = boto3.resource("s3"

[2017-01-04 01:49] argos83 commented on #303
Hi, this is still happening with `httpretty 0.8.14` and `moto 0.4.30` (the latest versions atm). Any updates on this issue?

Thanks

[2017-01-06 22:01] paul-lavelle opened #800 "Can't create bucket with / in it"
I'm trying to mock out some of my stuff and our keys are of the form /foo/bar/... and trying to create the bucket with:

        self.conn.create_bucket("/foo/bar/...)

Is this something that the api will support? The error message is OSError: [Errno 9] Bad file descriptor

[2017-01-09 10:28] 2mf commented on #800
I really wonder if AWS really allows '/' in bucket names. I know myself from the web interface, the characters are quite limited but the actual API allows a lot more.
On the other hand wouldn't that break the general bucket behavior ?!
e.g.:
   `this.is.a.test   --> domain:  this.is.a.test.s3.amazonaws.com` (ugly but still works)
   `this/is/a/test   --> domain:  this/is/a/test.s3.amazonaws.com` (

[2017-01-09 14:29] snordhausen commented on #800
A "/" in the bucket name is not allowed, see http://docs.aws.amazon.com/AmazonS3/latest/dev/BucketRestrictions.html for details.

And as already mentioned: You are creating a bucket, not a key. So just call your bucket "foobar" and create the keys (which may contain slashes) after that.

[2017-01-09 20:21] paul-lavelle commented on #800
thanks for the quick responses. I'm new to boto/aws and was reviewing the calls. The boto calls definitely have the / in it but I must be misinterpreting what the api is actually intended to do.

[2017-01-11 15:48] afgane opened #801 "The filter 'vpcId' for DescribeSubnets has not been implemented in Moto yet."
Any chances of adding this in the near future?

[2017-01-11 23:50] afgane commented on #801
Also getting `The filter 'state' for DescribeSubnets has not been implemented in Moto yet.`.

[2017-01-12 01:39] spulec commented on #792
Fixed with #791

[2017-01-12 01:39] #792 closed

[2017-01-12 02:17] spulec commented on #771
Agreed.

My guess is that we will need to drop support for boto entirely and only allow boto3 though. I'm not completely against this and definitely see it as the way of the future, but not sure how long we still want boto support.

[2017-01-12 02:19] spulec commented on #303
My understanding is that this is an issue with httpretty. Are you seeing otherwise?

[2017-01-12 02:20] spulec commented on #514
@shaform thanks for digging into that!

[2017-01-12 02:21] spulec commented on #614
Thanks for that! I added it to the readme

[2017-01-12 02:21] #614 closed

[2017-01-12 02:23] spulec commented on #798
Thanks for this. Yes, it looks like we never implemented the policies as part of bucket creation.

[2017-01-12 02:25] spulec commented on #794
Yes, unfortunately this can be the case.

Going to close this in favor of https://github.com/spulec/moto/issues/514, which starts to talk about solutions.

[2017-01-12 02:25] #794 closed

[2017-01-12 02:26] spulec commented on #801
This is not a feature I currently need, but pull requests welcome if someone else has time to implement.

[2017-01-12 02:32] spulec commented on #800
Yup, I don't think you can start a bucket with a slash. Going to close, but feel free to reopen if I missed something.

[2017-01-12 02:32] #800 closed

[2017-01-12 02:37] spulec commented on #527
I think this might be the same issue as https://github.com/spulec/moto/issues/416

[2017-01-12 02:52] spulec commented on #753
My understanding is that this is the correct behavior.

http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-queue-message-identifiers.html

```If you receive a message more than once, each time you receive it, you get a different receipt handle. ```

Feel free to reopen if I am misunderstanding

[2017-01-12 02:52] #753 closed

[2017-01-12 03:35] #737 closed

[2017-01-12 03:35] spulec commented on #737
Thanks!

[2017-01-12 17:44] afgane commented on #801
I can perhaps give it a try. Can you give a pointer what file to start with?

[2017-01-16 18:23] smarlowucf commented on #771
I needed some iam mocking in Python3 so I went that route of just boto3 support. To limit dependencies I mocked the function rather than the request. Do you know of any consequences to doing so? I would consider taking time to migrate over all of the moto endpoints/responses etc if you were interested in doing so and agreed with the architecture changes. (I'm guessing this would break the stand-al

[2017-01-17 12:21] aonamrata opened #810 "Create_table errors with mock_dynamodb2 decorator for boto3"
I am trying to use moto with dynamodb and boto3. But it gives me error on create_table itself.
[code]
Similar issue was reported here: https://github.com/spulec/moto/issues/428 , but I am using dynamodb2 still the same error. the table don't get created.
Also i tried using with read AWS keys as well as test values. No change in response. I want to use it with pynamodb models, but i guess if the ta

[2017-01-19 01:58] jong-eatsa commented on #695
Anyone looking into this?

With moto v0.4.30 dynamodb2 I get an error similar to this, which is a ```ValueError: too many values to unpack (expected 2)```.

This is not a problem with an actual DynamoDB on AWS.

[code]

[2017-01-19 02:52] spulec commented on #771
I think the main consequences are lack of a standalone server and relying on boto3 to behave in a particular way (certain function call to mock). As moto moves to only support boto3, I think we will be able to move it in a similar direction.

[2017-01-19 02:57] spulec commented on #695
If you need extensive dynamodb support, it may be worth looking into dynalite or an alternative. I don't use dynamodb much so this isn't high on my priority list and it doesn't seem like we have anyone else to step up.

[2017-01-19 03:00] spulec commented on #801
Awesome.

[This](https://github.com/spulec/moto/blob/master/moto/ec2/utils.py) should be the main file that will need changing. Look at the `filters_from_querystring` function and the `EC2_RESOURCE_TO_PREFIX` constant.

You should be able to add a new test [here](https://github.com/spulec/moto/blob/master/tests/test_ec2/test_subnets.py) to verify any changes.

[2017-01-19 03:46] spulec commented on #810
I'm having trouble reproducing this (the code above works for me). What exactly isn't working? Is it throwing an exception? Why do you say the table isn't created?

[2017-01-19 04:14] spulec commented on #260
If it works with dynamodb2 and boto3, I'm going to close for now as we start to push people in that direction.

Let me know if I'm not understanding this correctly.

[2017-01-19 04:14] #260 closed

[2017-01-19 04:17] spulec commented on #611
Can you try upgrading to the most recent version of moto? I'm not able to reproduce this against the newest version.

[2017-01-19 04:20] spulec commented on #380
@donato you should be able to do something similar to the code I posted above.

[2017-01-19 05:23] aonamrata commented on #810
Ah, you can try this: https://github.com/aonamrata/mototest . I uploaded the whole sample file and error in readme with steps. I might be just missing some lib or step, i guess 😄

[2017-01-19 11:37] h1f1x commented on #397
Hi,

same issue for me. It seems to be still not possible to call: create_db_instance()
Any progress on this ?

`Traceback (most recent call last):
  File "~.venv/lib/python2.7/site-packages/moto/core/models.py", line 71, in wrapper
    result = func(*args, **kwargs)
  File "src/unittest/python/t.py", line 17, in test_rds
    Engine='postgres')
  File "~.venv/lib/python2.7/site-packages/botocore/c

[2017-01-20 01:36] kmshelley opened #812 "dynamodb2.models.cast_value exception with [0,1] float RangeKey query"
Hello,

I am new to moto so I apologize if this is user-error or duplicate.

I have a table with a Global Secondary Index range key of probability values (strictly between 0 and 1) defined as:

[code]

Calling query_2 for `probability__between = [0, 0.66]` returns:
[code]

Looking at the code it looks like only ints are returned. Changing cast_value from:
[code]
 to:
[code]
fixed the issue for me,

[2017-01-24 03:09] gregsterin opened #813 "mock_kinesis missing AT_TIMESTAMP shard iterator support"
https://github.com/spulec/moto/blob/fca0d3885b84ae9f4350001e74b453d3961b6d6c/moto/kinesis/utils.py

has no AT_TIMESTAMP.

However Kinesis API supports such a shard iterator:

http://docs.aws.amazon.com/kinesis/latest/APIReference/API_GetShardIterator.html

[2017-01-24 20:15] jong-eatsa opened #815 "Support for DynamoDB Streams?"
I'm wondering if you have any plans to support DynamoDB Streams

[2017-01-24 23:44] dtenenba opened #816 "upload file with boto, download it with boto3: file gets corrupted (wrong md5 sum)"
Hi,

The following code uploads a file to a mock S3 bucket using boto, and downloads the same file to the local disk using boto3. I apologize for bringing both of the libraries into this, but the code I am testing in real life still uses both (definitely trying to get rid of all the boto code and fully migrate to boto3 but that isn't going to happen right away).

What happens is that the resulting

[2017-01-25 00:25] dtenenba commented on #816
A clarification: one reason my project still has both boto and boto3 code in it is because I ran into a previous issue (#703, which though closed is still affecting me, or something like it is affecting me).

If I change the sample script above to use boto3 for uploading, changing the upload section to:

[code]

Then I get the following error, which is what happens with #703 as well:

[code]

So I

[2017-01-25 14:09] snordhausen commented on #816
Hi!

First, you should update your boto/moto code. You have
[code]
The current versions are
[code]
I'm running your first example to reproduce the issue.

Using moto 0.4.23 (forgot to update that one) and boto/boto3 at the current version, it took 4 attempts before an error occurred.

After updating to moto 0.4.31, I have now 15 successful runs and no errors.
I'll keep it running to see if I event

[2017-01-25 14:23] snordhausen commented on #816
After a total of 27 runs with your first example code, I got this exception:
[code]
Not sure though if that is a bug in boto (wouldn't be the first...) or moto.

I'll retry using your boto3-only example.

[2017-01-25 16:15] snordhausen commented on #816
Your second example code with only boto3 also fails every 10th or 20th time. Error messages were

Incorrect md5sum! 53c03ecd1e61dc7d1cd01f58a1435e8c
Incorrect md5sum! 55196dafb5899178a3c111f8564ae865

so it downloaded different data each time. The length of the downloaded data is correct, though!

A much faster way to reproduce the bug is to upload only once, then download many times. This also sh

[2017-01-25 16:31] alexcasalboni commented on #794
@spulec isn't #514 about Python 3 only?

Unfortunately, you can't always use context managers but you may want to use requests_mock instead:

[code]

[2017-01-25 16:47] snordhausen commented on #816
The [documentation](https://boto3.readthedocs.io/en/latest/guide/s3.html?highlight=Threads%20are%20used%20by%20default#configuration-settings) says
[code]
I recall reading that the http library that moto uses underneath is not thread-safe. After modifying your code to
[code]
I now have 6,000 downloads without a single error.

[2017-01-25 17:42] snordhausen commented on #630
It seems this is an issue with httpretty. To create the key, boto3 sends a "PUT //key.txt HTTP/1.1" command to Amazon. However, httpretty has problems with the double slash:
[code]
This code raises an exception. When httpretty is not enabled, the code works. Note the double slash in **github.com//spulec**.

[2017-01-25 18:29] dtenenba commented on #816
Thanks so much for all the great info. Did you ever get errors after updating moto/boto/boto3?
If not, then the solution is simple.

Otherwise I will make sure I don't use threads when using moto.

Thanks again.

[2017-01-25 21:05] snordhausen commented on #816
Except for the very first test (where I forgot to update moto), all test were run with the most recent version. So a version upgrade will not fix this issue.

However, it would be interesting to add the following feature to moto: When @mock_s3 is in effect, enforce that `use_threads=False` is used in the managed transfer methods.

[2017-01-25 22:06] ncknuna opened #818 "Implement verify_email_address method in ses"
While the `send_email` method in ses is mocked by moto, responses come back with:

botocore.errorfactory.MessageRejected: An error occurred (MessageRejected) when calling the SendEmail operation: Email address not verified

When attempting to use the `verify_email_address` method to fix this issue, a NotImplementedError gets raised:

moto/core/responses.py:193: NotImplementedError

This makes it v

[2017-01-26 13:12] snordhausen commented on #816
Turns out that disabling multi-threading in managed transfer methods is quite easy. With this change in moto, your original code works fine:
[code]
@spulec: Should I create a pull request for that or do you see a more elegant way of doing this?

[2017-01-26 19:58] dtenenba commented on #816
@snordhausen does that patch presume that the user is using boto3 and not boto?

[2017-01-26 21:18] snordhausen commented on #816
Yes, it only fixes the issue for boto3. Which will be good enough for most people.

But now that you mention it: The code also assumes that you have boto3 installed. It will fail with an ImportError if you do not have boto3 installed (e.g. because you are only using boto and you are working with a virtualenv). It's simple to fix, though.

I'll create a new version of the file tomorrow and then you

[2017-01-27 15:34] snordhausen commented on #816
@dtenenba I created a new branch in my fork which has an improved version of the above patch. For testing, could you
* update your moto to the latest version
* Take my version of https://github.com/snordhausen/moto/blob/no_multithreading/moto/core/models.py and manually replace moto's version

Then, run your boto3-only example code with the hand-patched moto. This should fix your problem.

[2017-01-31 22:53] oz123 opened #820 "Python 3 support is not reliable because of HTTPretty"
HTTPretty is doing stuff which is not compatible with Python 3. This means that moto will not work with Python 3 reliably.
I found a case where code which also uses ftplib from the standard library breaks with moto, and that is because of HTTPretty.
To make things short:

`httpretty.core.fakesock.socket.makefile` is broken with Python 3.

See the signature here https://github.com/gabrielfalcao/HTT

[2017-02-01 12:31] Fedorof opened #821 "Feature request: support S3 TemporaryRedirect and PermanentRedirect responses"
I would like to simulate S3 behavior for redirects. It could be achieved with a server that always returns the same type of response with information of the real moto server endpoint.

Say, if moto server listens to `localhost:5001`, the redirect server always returns 301 or 307 response with headers and contents provided below.

An example of the response headers:

    HTTP/1.1 301 Moved Permanen

[2017-02-01 13:22] aonamrata commented on #810
@spulec Can you try again with my repo?

[2017-02-02 18:45] mylons commented on #620
@mikegrima ty for the "you don't want to mock again before test" line. fixed my problem!

[2017-02-02 22:16] mylons opened #823 "Volume.availability_zone is an empty string"
given some code like this being called from within a function decorated by `@mock_ec2`:
[code]
I notice that `ebs['AvailabilityZone']` is an empty string. Per the boto3 docs: http://boto3.readthedocs.io/en/latest/reference/services/ec2.html#EC2.Client.create_volume it should be populated.

EDIT: upon further inspection this is a ton of work. contrary to the readme, moto is relying heavily on pre-b

[2017-02-04 11:32] stevemac007 commented on #722
I would like to see the way of simulating errors on the API, a lot of the python in our codebase exists to handle error situations to provide a more reliable interface to AWS.

Controlling the simulation of the errors on AWS API calls would be excellent.

[2017-02-06 03:51] xsmaster commented on #637
There is an open bug with HTTPretty and the proxy. [Setting http_proxy breaks HTTPretty #122](https://github.com/gabrielfalcao/HTTPretty/issues/122)

[2017-02-07 16:57] snordhausen commented on #816
@dtenenba Did you have a chance to test the patch?

[2017-02-07 17:04] AkhterAli opened #825 "Moto not able to list ELB's."
It looks like describe_load_balancers() using boto3 isn't quite working when using moto.

[code]

[2017-02-09 01:59] spulec commented on #786
The following script works for me on boto3==1.4.4

[code]

It looks like we need to disable threads since HTTPretty is not thread-safe. Going to close this out for now. At some point we are looking to replace HTTPretty with something else that will hopefully be threadsafe.

Let me know if that doesn't solve the issue.

[2017-02-09 01:59] #786 closed

[2017-02-09 02:06] #812 closed

[2017-02-09 02:06] spulec commented on #812
Thanks for opening.

I've pushed a fix that I think will help. Let me know if it doesn't.

[2017-02-09 02:21] #734 closed

[2017-02-09 02:39] spulec commented on #816
@snordhausen A PR would be very much welcome.

I'm also trying to think about long-term how we can get away from HTTPretty and move toward a system that will work with multiple threads.

[2017-02-09 02:45] spulec commented on #630
Thanks for the work. Seems like we will need to wait on that.

[2017-02-09 02:46] spulec commented on #820
Yes, that is true unfortunately. I'm not sure we have a lot of options. We can formally drop support for python 3 in moto or work to move away from HTTPretty.

[2017-02-09 02:48] spulec commented on #820
I'm going to close this in favor of #514, but let me know if you think it is different.

[2017-02-09 02:48] #820 closed

[2017-02-09 02:49] spulec commented on #794
The original problem of #514 was about python 3, yes, but the solution is to look at alternative ways forward away from HTTPretty.

[2017-02-09 02:52] spulec commented on #821
Noted. I don't have a particular use for this so it isn't high on my list, but pull requests are very much welcome if someone has time.

[2017-02-09 02:53] spulec commented on #815
No plans now as it isn't something I use, but pull requests are very much welcome if someone has time.

[2017-02-09 02:54] spulec commented on #813
Noted. Pull requests welcome to add the feature if someone has time.

[2017-02-09 02:55] spulec commented on #818
Noted. Pull requests are very much welcome if anyone has time.

[2017-02-09 03:04] spulec commented on #823
The following code works for me

[code]

I think the case you are seeing will come up when the boto3 client is for a different region than the AZ where you are creating the volume. I'm guessing we should be raising an error instead.

[2017-02-09 03:05] spulec commented on #722
Good to know. Proposals welcome

[2017-02-09 03:14] spulec commented on #825
Hmmm, I'm having trouble reproducing this. Can you list the version of boto3, botocore, httpretty you have installed?

[2017-02-09 03:22] spulec commented on #810
The dynamodb.create_table method will return a dictionary, not an object as noted here: http://boto3.readthedocs.io/en/latest/reference/services/dynamodb.html#DynamoDB.Client.create_table

[2017-02-09 08:02] alexcasalboni commented on #794
Isn't HTTPretty supposed to mock only URLs related to AWS? Looking at the code, it seems like it maps only certain URL patterns and it shouldn't mess up with other random URLs. Is it worth documenting that any other HTTP call wrapped by moto requires explicit mocking as well?

[2017-02-09 17:25] kmshelley commented on #812
Thanks, that fixed it!

[2017-02-09 17:47] AkhterAli commented on #825
@spulec
[code]

[2017-02-10 02:05] spulec commented on #825
It looks like you are using `mock_route53` instead of `mock_elb`. We have a different decorator for each service to mock.

[2017-02-10 02:07] spulec commented on #794
Yeah, we can do that. I'm hoping to prioritize getting us away from HTTPretty shortly.

[2017-02-10 13:38] AkhterAli commented on #825
@spulec Thanks, now I feel dumb for making such an obvious error.  I will work with this.  Quick question though, can I use multiple decorators with moto?

[2017-02-10 16:04] #825 closed

[2017-02-10 18:48] JackDanger commented on #9
After finding folks choosing to avoid the use of Moto and HTTPretty due to the socket monkey-patching (and finding myself unable to do so) I decided to bypass HTTPretty just inside my Redis/Memcached clients. Here's how I did it:

[code]
Also posted here: https://github.com/gabrielfalcao/HTTPretty/issues/212

[2017-02-12 00:37] spulec commented on #825
No problem. Thanks for using moto!

[2017-02-12 00:38] spulec commented on #9
Sorry about that. I'm working to move away from socket monkey-patching in the very near future.

Another option for the time being is to use Moto in standalone server mode: https://github.com/spulec/moto#stand-alone-server-mode

[2017-02-13 14:18] evanstachowiak commented on #722
I'd definitely like to see this implemented as well.

I would propose being able to pass in a response when registering a call. For instance, I'm implementing `register_task_definition`. It already accesses a parameterized containerDefinitions, why not be able to override response_object as well? The default can behave as is and if one wanted to test failures, then pass in a custom response object

[2017-02-14 16:34] micgeronimo opened #830 "mock_sqs allows writing messages with arbitrary content, not only string"
While original SQS raises error if one tries to write message with non-string body, mock_sqs silently allows it to happen.

[2017-02-14 16:39] micgeronimo commented on #830
sorry, misinterpreted my test results

[2017-02-14 16:39] #830 closed

[2017-02-17 10:37] varadharajan opened #834 "mock_s3 interfering SQLAlchemy calls to local MySQL databases"
Please consider the below code snippet.
[code]

If we run this with pytests, it will fail with the below error.

[code]

However, if we remove the `@mock_s3` decorator, it passes. Any idea why this is happening?

[2017-02-17 11:37] varadharajan commented on #834
Looks like this only happens with PyMySQL driver.

[2017-02-17 18:05] mnussbaum commented on #397
I believe the merged https://github.com/spulec/moto/pull/789 should fix this issue. It looks like a release hasn't been cut since that work was merged, so you might see if using this repo's master branch fixes it!

[2017-02-20 01:01] rocky4570 commented on #722
I was looking at using the decorator as is obvious location and explicit in definition, as cant interfere with the AWS API.

@mock_ec2(ebs_failures=10, ec2_failures=10)

Something like that and values are based on percentage - which could be injected with random values for truly testing your code. Standard mocks would not have any errors. Server version could just have them locked in to mimic true

[2017-02-20 19:09] stujfiter opened #837 "mock_cloudformation does not seem to handle list parameters properly"
**Given** this cloud formation template

[code]

**When** this unit test is run

[code]

**Then** this error occurs
`AssertionError: 'SN1,SN2' != 'S,N,1,,,S,N,2'`

hope this is enough information to diagnose.

[2017-02-20 20:13] badboy99tw opened #838 "mock_s3 not work for unicode prefix"
After put_object to s3, I expect to list what I put, but failed if the prefix of object is unicode.
Failing tests with boto3 below.

[code]

[2017-02-22 05:32] rouge8 opened #839 "Tags specified in Cloudformation aren't applied to EC2 instances"
Probably related to #320.

Diff for a failing test case:

[code]

[2017-02-22 07:52] oridistor commented on #737
Thanks for fixing it!

But, for better testing (I myself need to ignore the duplicate errors on my side, and make sure they are those duplicate errors) it would be better if we would get an exception which extends EC2ResponseError with the error_code of "InvalidPermission.Duplicate", that way I can test that my code does what I expect it to do and not anything else.

[2017-02-23 01:14] whummer opened #842 "Add support for AWS Cognito"
Hi, are there any plans to add support for AWS Cognito? http://docs.aws.amazon.com/cognito-user-identity-pools/latest/APIReference/
Cheers

[2017-02-23 18:09] pll opened #844 "moto mock_route53 support for boto3 methods"
mock_route53 currently implements boto2's `get_hosted_zone_by_name()` and not boto3's `.list_hosted_zones_by_name()`.

[2017-02-23 19:19] rouge8 opened #845 "Support CloudFormation stack policies?"
Implementing `set_stack_policy`/`get_stack_policy` to set/return the policy document would probably be straightforward, but it might cause more confusion than it's worth if moto isn't able to check/verify the policies when performing stack updates. Thoughts?

[2017-02-24 20:32] 2rs2ts commented on #845
It's a huge undertaking to implement the logic that enforces the policy. You'd have to reverse-engineer the logic that CloudFormation uses to determine whether your update will violate the policy.

Depending on whether it's acceptable to support those methods but not support enforcing the policy, this may be something that's better taken care of by mocking your own code.

[2017-02-24 20:54] 2rs2ts commented on #793
Hiya, I'm partly responsible for this inconsistency.

The reason for this inconsistency is the fact that the `DeleteStack` API call does not take a template, so there is no way to call `delete_from_cloudformation_json`. You'll see how that plays out [in the implementation](https://github.com/spulec/moto/blob/e1260bca06b8ac4cf8ecf72b0f4d3234b166b2b6/moto/cloudformation/models.py#L169). Instead, we'

[2017-02-24 21:34] rouge8 commented on #845
Agreed 100%. I don't know if it's better to support the API calls and warn about not enforcing the policy (similar to existing warnings for some of the CloudFormation calls) or to do neither.

Can't believe I didn't think of that though 😳

[2017-02-28 02:11] austinbyers opened #847 "DynamoDB2 update does not work with multiple/complex expression attribute values"
DynamoDB updates do not work with all possible expression attribute values.

## Code Snippet
This code snippet works exactly as written against the real DynamoDB (as long as you sleep a few seconds between table creation and item insertion). However, it breaks in moto:

[code]

I suspect that there is an error in the update parsing logic. Dynamo item updates can be really difficult to wrangle.

##

[2017-02-28 03:33] spulec opened #848 "[Feedback Requested] Moto 1.0 Plan"
I've been doing some work on a major upgrade of Moto and would appreciate any feedback/testing.

Big changes:
  - [x] Deprecate HTTPretty and boto support. These will still exist for now, just with separate decorators (@mock_ec2_deprecated). Since HTTPretty mocks at the socket level, it has caused issues in the past. Since we will primarily be supporting boto3 (and server mode) in the future and b

[2017-02-28 16:06] stujfiter commented on #848
I think the push toward stand alone server mode is a good move.  Also, a dashboard would be very helpful and save me from trying to query the moto virtual env for state.

[2017-03-01 15:48] bkruger99 commented on #848
Will decorators in general still be a part of the redesign even without HTTPretty?  Or will those be going away in general.. FWIW, I've been using responses and been quite happy with it with other unit testing.

[2017-03-01 21:34] abarik1981 opened #850 "NotImplementedError: The get_caller_identity action has not been implemented"
running on moto with version '0.4.25' on python 2.7, i get the following error: `NotImplementedError: The get_caller_identity action has not been implemented`

    import boto3
    from moto import mock_sns, mock_sts, mock_sqs

    @mock_sts
    def test_get_caller_identity():
        sts = boto3.client("sts")
        identity = sts.get_caller_identity()

        identity['Arn'].should.equal('arn:

[2017-03-01 21:57] abarik1981 commented on #850
posted the same in http://stackoverflow.com/questions/42542879/moto-mocking-sts-to-get-account-id-throwing-error-notimplementederror-the-get-c

[2017-03-03 21:16] MChamberlin opened #854 "put key requests against moto server fail using Java AWS SDK"
An Exception is raised when writing keys to the moto S3 server using the Java AWS SDK:

[code]

The key is actually written correctly and I can access it using the python `boto` client. I've identified the issue as a mis-labeled field in the HTTP response for key PUT requests. The problem (and solution) are basically identical to that described [in this Stack Overflow post](http://stackoverflow.co

[2017-03-03 21:19] MChamberlin commented on #854
I've submitted a PR for the fix [here](https://github.com/spulec/moto/pull/855).

[2017-03-05 03:32] spulec commented on #397
Yes, this should be fixed with #789. If not, feel free to reopen.

[2017-03-05 03:32] #397 closed

[2017-03-05 03:37] #839 closed

[2017-03-05 03:53] #626 closed

[2017-03-05 03:59] spulec commented on #850
Yes, this was recently added to the master branch: https://github.com/spulec/moto/commit/f68b2963db4ac7b8f0943d8b9ea101fdcbd451a5

If you run against master, it should work. If not, please reopen. I'm hoping to get a new release out soon.

[2017-03-05 03:59] #850 closed

[2017-03-05 04:12] spulec commented on #848
Yes, decorators will still remain (just based on Responses). Although we will push toward server-only mode, I imagine we will always have some type of easy support for python.

[2017-03-05 04:17] spulec commented on #854
Fixed with #855

[2017-03-05 04:17] #854 closed

[2017-03-07 10:51] kennydo commented on #834
I believe this issue is related to HTTPretty's lack of Python3 support (I hit this issue with `mock_sqs`, but I suspect it affects all the `mock_*` context managers/decorators). Just curious, what version of python are you running?

Steps to reproduce:
1. Run mysql locally (say, with a `foo_test` database)

1. Verify it works on python2.7:
    1. Create virtualenv for python2.7: `virtualenv --pyth

[2017-03-07 11:23] varadharajan commented on #834
@kennydo  Yeah.. You are right. I'm using Python 3.5. Sorry i should've mentioned it before :(

[2017-03-07 19:12] smarlowucf commented on #771
This can be closed for now. The build is passing on Jenkins for 3.6. The build passes locally against 2.7 but still fails on 3.6. I think it's a problem with my environment.

[2017-03-07 19:12] #771 closed

[2017-03-08 23:29] Juberstine commented on #847
Same issue FWIW. Only expression i'm using is:

    UpdateExpression="SET crontab = list_append(crontab, :i)",
            ExpressionAttributeValues={
                ':i': crontab,
            },

[2017-03-09 14:19] clozinski opened #856 "Getting more publicity and users for Moto."
How can we get more publicity and users for Moto?
I saw that your Awesome Python pull request
https://github.com/vinta/awesome-python/pull/805
is still open since Dec 2016. Bummer.

So how can we get you more publicity and users?
How about a link exchange with my site?

https//Pylang.info

is the world's largest Python directory. It starts off with the Awesome Python information, and adds addition

[2017-03-10 14:22] martinb3 commented on #850
It seems like the response added in master returns AWS account number `123456789012` but other places in moto use `111122223333` as the AWS account number. [I had some logic that used a few different places to try to figure out the AWS account ID](https://github.com/rackerlabs/ebs_snapper/blob/master/ebs_snapper/utils.py#L53), and now it's returning a different result. Maybe this is something we c

[2017-03-13 00:54] lsemel opened #859 "Can't access https URLs when mocking s3"
With moto 0.4.31, boto 2.46.1, requests 2.13.0, the following generates an error.
[code]

[code]

[2017-03-13 16:25] 2rs2ts opened #862 "New flask dependency breaks moto when pip installing from git URL"
I specify (in a requirements file) my moto dependency with a git URL because I usually need some feature that's not in a release yet. e.g.

`git+https://github.com/2rs2ts/moto@b9ea947aa0572234051d9ba22b77b862daa3b524#egg=moto`

With the new flask dependency in `extras_require` I don't get this flask dependency automatically and my tests fail with `ImportError`s. I only use the decorators, not the

[2017-03-13 16:41] crgwbr opened #863 "Mocking KMS Encryption Fails in Python 3.6"
When trying to mock KMS encryption in Python 3.6, the base64 encode function fails.

[code]

[code]

[2017-03-13 20:28] adamstauffer opened #864 "RDS responses don't return DBInstanceArn"
RDS/RDS2 endpoints such as `create_db_instance`, `describe_db_instances`, etc. do not return the DBInstanceArn attribute in the response.

This makes it difficult to use moto when attempting to test the following code:

[code]

Because `DBInstanceArn` isn't returned in the response from `describe_db_instances()`, it is difficult to test code that relies on listing tags for resources that are listi

[2017-03-13 21:39] tilthouse opened #866 "Queue names ending with '.fifo' yield 404"
We are going to use FIFO queues, which just have a queue name ending in `.fifo`. When I change the names of my queues accordingly, moto only will give 404 errors.

The create queue calls appear to work, but then the queues are not found.

[2017-03-15 03:27] spulec commented on #862
That is my bad. With https://github.com/spulec/moto/commit/2bd4567801a733297588ec7a8167c1af5c2edd75, we should no longer be using flask outside of server mode. If you still see an error, let me know where the import is coming from.

[2017-03-15 03:27] #862 closed

[2017-03-15 03:28] #864 closed

[2017-03-15 04:00] spulec commented on #863
Hmmm, I just added a comparable test and Travis seems to pass on Python 3.6: https://github.com/spulec/moto/commit/09a4d177f5f4e47ec8eb24fc7bef236c6fb4f9c0

Any more details about your environment? Can you get an exact python version and run a `pip freeze`?

[2017-03-15 04:16] srinivas795 opened #868 "boto3 redshift not working -- JSON response"
When I try to test create redhift cluster, parameter group and subnet group with boto3, I get the following error:
ResponseParserError: Unable to parse response (not well-formed (invalid token): line 1, column 0), invalid XML received:
{"RequestId": "6876f774-7273-11e4-85dc-39e55ca848d1", "Error": {"Message": "Cluster testRedshift not found.", "Code": "ClusterNotFound", "Type": "Sender"}}

[2017-03-15 16:26] 2rs2ts commented on #862
Thanks, will do!

[2017-03-16 01:59] spulec commented on #868
Thanks for opening this. Can you try again after I've pushed https://github.com/spulec/moto/commit/3cdb4afad0f6a42c790c39c56e2b6f0680d54ff7

It isn't the ideal solution, but should work for now.

[2017-03-16 01:59] #868 closed

[2017-03-16 02:13] #856 closed

[2017-03-16 02:13] spulec commented on #856
No thank you

[2017-03-16 02:26] spulec commented on #834
Can you try this against the `master` branch? I don't think it should be the case anymore.

[2017-03-16 02:28] spulec commented on #850
Thanks for the heads up. I've standardized everything to `123456789012`  with https://github.com/spulec/moto/commit/5f3fbff627029c0c260546a674a3b372cacdae82

In case you are curious, one of my plans for the future is to add real sessions which would make account ids more important (and non-static).

[2017-03-16 02:34] spulec commented on #845
I'm happy to have the API calls and not have them enforced (we do this in a few other places with IAM permissions). PR welcome.

Agreed that adding the underlying functionality would be quite a task...

[2017-03-16 02:35] spulec commented on #844
Added with https://github.com/spulec/moto/pull/860

[2017-03-16 02:35] #844 closed

[2017-03-16 02:37] spulec commented on #842
Thanks for opening.

I don't have any immediate plans as this isn't a service I've used much. PRs very much welcome though if anyone else has time.

[2017-03-16 02:41] spulec commented on #866
Can you give some more details? The following code works for me

[code]

[2017-03-16 02:45] spulec commented on #737
Ah, thanks. I think it should work now with https://github.com/spulec/moto/commit/8a803cdbaf3dfc2c515e3d71df5412bc1dbe16b8

[2017-03-16 02:53] #838 closed

[2017-03-16 02:53] spulec commented on #838
Thanks! Let me know if this still doesn't work.

[2017-03-16 03:02] spulec commented on #837
Thanks. This should be fixed with https://github.com/spulec/moto/commit/e25d1499c2bfe80f2942901d6f4f0e0c1b4848e3

[2017-03-16 03:02] #837 closed

[2017-03-16 03:39] #767 closed

[2017-03-16 03:39] spulec commented on #767
Thanks for opening!

[2017-03-16 03:40] leetoleetu opened #869 "moto mock s3 copy() doesnt work"
moto version 0.4.31

@pytest.mark.unit_test
def test_copy():
    conn = boto3.client('s3', region_name="us-east-1")
    with moto.mock_s3():
        conn.create_bucket(Bucket='bucket1')
        conn.create_bucket(Bucket='bucket2')
        conn.put_object(Bucket='bucket1', Key='hello.txt', Body=b'hello world')
        conn.copy({'Bucket': 'bucket1', 'Key': 'hello.txt'}, 'bucket2', 'hello2.txt')

##

[2017-03-16 03:41] spulec commented on #548
We've replaced HTTPretty with Responses in `master`. I'm optimistic this will fix this issue. Can someone give it a test?

[2017-03-16 03:46] spulec commented on #95
If you use boto3 against `master`, I think this should no longer be an issue.

[2017-03-16 04:24] kennydo commented on #834
It looks good to me!

(in python3.4)
[code]

[2017-03-16 05:43] Dawil opened #870 "Bug: Cloudformation Template's AWS::NoValue incorrectly represented as None"
In the CF/parsing file, https://github.com/spulec/moto/blob/master/moto/cloudformation/parsing.py#L308, an "AWS::NoValue" is represented with a `None`. One way in which this can manifest incorrect behavior is in the elb/models file, https://github.com/spulec/moto/blob/master/moto/elb/models.py#L118:

    policies = properties.get('Policies', [])
    port_policies = {}
    for policy in policies:

[2017-03-16 11:25] martinb3 commented on #850
Thanks @spulec!

[2017-03-16 13:51] spulec commented on #834
Great, thanks for opening the issue!

[2017-03-16 13:51] #834 closed

[2017-03-17 01:20] #870 closed

[2017-03-17 01:20] spulec commented on #870
Thanks for opening this. It should be fixed now.

[2017-03-17 01:45] spulec commented on #483
Can you let me know if this still happens against the `master` branch?

[2017-03-17 01:49] spulec commented on #869
[code]

The previous code works for me on python 3.5.2 against the `master` branch of Moto.

[2017-03-17 02:01] #770 closed

[2017-03-17 02:01] spulec commented on #770
Thanks for opening! It should be fixed now.

[2017-03-17 02:09] spulec commented on #677
By default, boto3 is going to try to use multiple threads to upload large files.

The following should work:

[code]

Please reopen if it doesn't.

[2017-03-17 02:09] #677 closed

[2017-03-17 02:28] #751 closed

[2017-03-17 02:28] spulec commented on #751
Thanks for opening this! It should be fixed now.

[2017-03-19 07:50] oridistor commented on #737
Thanks! Looks good!

On Thu, Mar 16, 2017 at 4:45 AM, Steve Pulec <notifications@github.com>
wrote:

[2017-03-19 14:13] spulec commented on #637
Can you test if this work on the `master` branch now?

[2017-03-19 14:14] spulec commented on #607
A basic version of this was added with https://github.com/spulec/moto/commit/3cdb4afad0f6a42c790c39c56e2b6f0680d54ff7

Please feel free to reopen if it still doesn't work.

[2017-03-19 14:14] #607 closed

[2017-03-19 14:15] spulec commented on #547
Going to close this out. Feel free to open additional issues for other endpoints.

[2017-03-19 14:15] #547 closed

[2017-03-19 14:16] spulec commented on #527
Closing in favor of #416

[2017-03-19 14:16] #527 closed

[2017-03-19 14:16] spulec commented on #523
Going to close. Feel free to reopen if the issues is still happening.

[2017-03-19 14:16] #523 closed

[2017-03-19 14:18] spulec commented on #514
We now use Responses in the current `master` branch, which supports Python 3. Feel free to open issues for any specific issues.

[2017-03-19 14:18] #514 closed

[2017-03-19 14:20] spulec commented on #491
From my current testing of the code, this seems to be working now. Feel free to reopen if you see otherwise.

[2017-03-19 14:20] #491 closed

[2017-03-19 14:21] spulec commented on #474
This should no longer be an issue on `master`. Feel free to reopen if you see otherwise.

[2017-03-19 14:21] #474 closed

[2017-03-19 14:48] spulec commented on #429
This was added with #451

[2017-03-19 14:48] #429 closed

[2017-03-19 14:50] spulec commented on #427
This was fixed with https://github.com/spulec/moto/commit/7cd404808b9fd60e2529ce4b65ada15071f0ee1e

Feel free to reopen if it still doesn't work.

[2017-03-19 14:50] #427 closed

[2017-03-19 14:51] spulec commented on #409
This was added with https://github.com/spulec/moto/commit/b3096af0989db4edc1b8f03051c99c48c7ac81e7

[2017-03-19 14:51] #409 closed

[2017-03-19 15:04] #458 closed

[2017-03-19 15:09] #480 closed

[2017-03-19 15:10] spulec commented on #407
Going to close this out. Please reopen if it is still happening.

[2017-03-19 15:10] #407 closed

[2017-03-19 15:11] spulec commented on #393
This should be working now in `master`. Please feel free to reopen if you are seeing otherwise.

[2017-03-19 15:11] #393 closed

[2017-03-19 15:12] spulec commented on #392
Fixed with #398

[2017-03-19 15:12] #392 closed

[2017-03-19 15:14] spulec commented on #330
Great.

If you are still having this issue, please use the `master` branch of moto and boto3. If that doesn't work, feel free to reopen.

[2017-03-19 15:14] #330 closed

[2017-03-19 15:15] spulec commented on #313
This should no longer be an issue in the `master` branch since we have switched away from HTTPretty. Let me know if you are still seeing it.

[2017-03-19 15:15] #313 closed

[2017-03-19 15:16] spulec commented on #303
This should no longer be an issue on the `master` branch. Please let me know if it is still happening.

[2017-03-19 15:16] #303 closed

[2017-03-19 15:17] #70 closed, assigned to nobody

[2017-03-19 15:23] spulec commented on #611
Going to close out. If this is still happening against the `master` branch of moto, feel free to reopen.

[2017-03-19 15:23] #611 closed

[2017-03-19 15:25] spulec commented on #747
I've updated the README. It should be good now. Let me know if there are still issues.

[2017-03-19 15:25] #747 closed

[2017-03-19 15:25] spulec commented on #756
Going to close this out. Feel free to reopen if you want to discuss more.

[2017-03-19 15:25] #756 closed

[2017-03-19 15:26] spulec commented on #548
Going to close this out. Feel free to reopen if it is still happening.

[2017-03-19 15:26] #548 closed

[2017-03-19 15:27] spulec commented on #685
Going to close this out. Feel free to reopen if you need more help.

[2017-03-19 15:27] #685 closed

[2017-03-19 15:58] #663 closed

[2017-03-19 16:00] spulec commented on #663
I made this more dynamic with https://github.com/spulec/moto/commit/bba197e29f7fdd635fcbcb2cd18993d839f93f39, but the account ids are still hardcoded. It should be a bit easier to monkey-patch as a module-level constant though.

I've been thinking more about creating some type of real sessions and accounts with Moto in the future, which I think will provide a better solution.

[2017-03-21 10:05] shaftoe opened #873 "mock_dynamodb2 throws ConditionalCheckFailedException with simple put_item"
Hi, I'm trying to understand how to use the mock_dynamodb2 decorator, if I run it as is with my current code it's throwing `ConditionalCheckFailedException` with write operations. Here there is a simple tests showing what happens:

[code]

[code]

I'm can't understand which condition is not met. I'm testing on MacOS using mocks, installed Moto via pip. Thanks for your help

[2017-03-23 14:45] alekna opened #876 "NotImplementedError: The validate_template action has not been implemented"
moto `0.4.31`

[code]

[2017-03-23 20:14] Fak3 opened #877 "cloudtrail support"
Hi, I noticed that there is no mock for [cloudtrail](http://boto3.readthedocs.io/en/latest/reference/services/cloudtrail.html) service. It would be wonderful to have one :)

[2017-03-23 20:51] Fak3 opened #878 "NotImplementedError: The list_user_policies action has not been implemented"
I was trying to test iam [get_all_user_policies()](http://boto.cloudhackers.com/en/latest/ref/iam.html#boto.iam.connection.IAMConnection.get_all_user_policies), but got this error.

[code]

[2017-03-23 21:13] Fak3 opened #879 "NotImplementedError: The list_mfadevices action has not been implemented"
I tried to test iam [get_all_mfa_devices()](http://boto.cloudhackers.com/en/latest/ref/iam.html#boto.iam.connection.IAMConnection.get_all_mfa_devices), but got this error:
[code]

[2017-03-23 21:45] muppetjones commented on #548
@spulec I'm suddenly getting this with `moto==0.4.30` and `httpretty==0.8.14`. I've been using these versions for some time, so I don't know where this came from.

Upgrading to `moto==0.4.31` fixes the issue.

[2017-03-24 12:44] tobowers opened #880 "StartAfter not working correctly in s3.list_objects_v2"
using moto 0.4.31 installed via `pip install`

The StartAfter key doesn't appear to be working when using the s3 list_objects_v2 API.

The following boto3 code will show the error when running against a moto server:
[code]

minimal code that breaks:
[code]

The server is returning all objects (ignoring the StartAfter). Same code succeeds against S3 itself.

[2017-03-24 13:09] tobowers commented on #880
update: running this against the master branch succeeds.

[2017-03-27 15:20] smarlowucf commented on #514
Great to hear! @spulec Can you cut a release with the latest changes?

[2017-03-28 14:54] Fak3 opened #882 "NotImplementedError: The get_account_summary action has not been implemented"
Hi. i tried to test iam `get_account_summary()` but got this error:

[code]

[2017-03-29 15:39] ajk8 opened #883 "missing features from awslambda mock"
In the process of writing tests for some lambda function management code, I've noticed that a number of features are not implemented. Interestingly, there are no exceptions raised by `moto`. Instead, the calls are pushed through to AWS, and time out due to insufficient permissions (thank goodness!). These calls include:

* awslambda.add_permission
* awslambda.remove_permission
* awslambda.update_f

[2017-03-29 15:54] ajk8 opened #884 ""Parameter Name is required" when calling events.delete_rule"
The function under test:

[code]

This function works just fine in normal execution. When tested using `pytest` and `@mock_events`, however, it throws the following error:

[code]

This error seems like it's coming from `boto3`, not from `moto`. Since it only appears when using `@mock_events`, however, I wonder if it could be a `moto` bug of some kind.

[2017-03-29 16:20] ajk8 commented on #883
On a related note, despite the fact that it appears to be implemented in `moto`, I'm getting the same behavior from `awslambda.delete_function`.

It occurs to me that it's possible that I misinterpreted the error initially. I'm not totally sure that this is a pass-through to lambda-proper. Here's the error:

[code]

Is there something within `moto` that could be catching that but failing to return

[2017-03-29 20:54] robvium opened #885 "To be implemented: Restoring S3 objects from Glacier"
# When calling object.restore_request

I get this

```Unknown parameter in RestoreRequest: "GlacierJobParameters", must be one of: Days```

A call to restore_requests requires the key 'GlacierJobParameters' as of boto3 '1.4.4'

## How I'm calling the restore request.  (works on real data and buckets)

[code]

## Effect
moto can't be used for mocking restore requests with current version of boto3

[2017-03-30 12:02] Fak3 opened #886 "missing "CreateDate" in iam.list_users()"
[iam.list_users()](http://boto3.readthedocs.io/en/latest/reference/services/iam.html#IAM.Client.list_users) should return users with creation date in the "CreateDate" field

[2017-03-30 12:31] Fak3 opened #887 "elb `created_time` is always "2013-01-01T00:00:00.19000Z""
elb instance has created_time attribute, that is currently hardcoded to "2013-01-01T00:00:00.19000Z". Instead it should be dynamically set when the instance is created.

[2017-03-30 17:12] abarik1981 opened #888 "mock sqs message from sns published message doesn't have necessary attributes like TopicArn, Timestamp, etc."
Hi,
In Python 2.7, with Boto3 version 1.4.4 and moto version 0.4.25
I am seeing that the body of mocked sqs message doesn't have necessary keys like `SignatureVersion`, `Timestamp`, `TopicArn` that is present in a real sqs message. Is this expected or am i doing something wrong? I basically expect `sqs_msgs[0].body` to contain keys like `SignatureVersion`, `Timestamp`, `TopicArn`

    import boto3

[2017-04-03 22:44] leetoleetu commented on #869
Any idea why this may not be working with python 3.4? Any workarounds?

[2017-04-03 22:51] sean-abbott opened #889 "credentials mocking"
This is either a question or a request.

I've been unable to find any references to credentials profiles in the code, so I'm guessing these aren't implemented yet.

I'm using different profiles for different groups, and I need to make my s3 connection using profile (i.e., `aws_session = boto3.Session(profile_name=profile_name)`

moto does not appear to mock the profile name; it must exist in the d

[2017-04-05 05:16] #810 closed

[2017-04-05 17:53] JackDanger opened #890 "Need git tag for 0.4.31"
Apologies that I can't create a mergeable PR to fix this but the latest release (0.4.31) doesn't have a corresponding git tag and was therefore tough to find.

The commit for that release: 4eaf5d527ef5d619aedbc48c9e09d3364239b41d

What's needed:
[code]

[2017-04-11 09:13] terminatingcode opened #893 "Autoscaling attach_instances action has not been implemented"
Autoscaling method attach_instances is not currently implemented.

`NotImplementedError: The attach_instances action has not been implemented`

[2017-04-12 12:55] gjtempleton commented on #848
This seems like the most sensible way forward to me in all respects.

Boto is beginning to fall further and further behind features wise (certainly in terms of ECS, my current major focus), but more importantly I think a move to the standalone server model, allowing users to be language agnostic makes a huge amount of sense. Allows for consistent testing strategies across different languages.

[2017-04-12 16:36] esc opened #896 "Moto breaking on travis"
[code]

Ideas?

[2017-04-13 00:21] spulec commented on #896
What version of boto or moto are you running?

[2017-04-13 00:24] spulec commented on #879
Fixed with 881

[2017-04-13 00:24] #879 closed

[2017-04-13 01:00] spulec commented on #548
Got it; thanks for letting me know

[2017-04-13 01:02] spulec commented on #514
Due to the number of backward-incompatible changes, this will be a major release (likely `1.0`). I'm hoping to get it out in the next week or so.

See more here if you are curious: https://github.com/spulec/moto/issues/848

[2017-04-13 01:06] spulec commented on #877
Noted. It isn't a service I use a lot so not high on my personal list, but would be happy to accept a PR if anyone gets time.

[2017-04-13 01:13] spulec commented on #889
When you say `moto does not appear to mock the profile name`, what are you seeing to indicate that? Are you making some IAM calls? For the most part, Moto ignores all of the credentials as of now.

If you could add some code, that might help me understand the use case.

[2017-04-13 01:57] spulec commented on #893
Noted, thanks.

[2017-04-13 01:59] spulec commented on #883
Yes, that is not actually going to AWS, but being stopped by Responses.

Keeping this ticket open for the feature requests. Thanks!

[2017-04-13 02:02] spulec commented on #890
Oops, thanks. Added.

[2017-04-13 02:04] spulec commented on #876
Thanks for opening this. It will be easy enough to add a function that does a basic pass, but I'm imagining it will be tough to implement the real thing.

Will keep this open as a feature request. Thanks

[2017-04-13 02:15] #884 closed

[2017-04-13 02:15] spulec commented on #884
Thanks, it looks like there was a bug. It should be fixed now.

[2017-04-13 02:19] #886 closed

[2017-04-13 02:20] spulec commented on #886
Thanks, added.

[2017-04-13 02:25] #887 closed

[2017-04-13 02:25] spulec commented on #887
Thanks, changed.

[2017-04-13 02:26] spulec commented on #878
Thanks for opening. I will add it to the feature list.

[2017-04-13 02:33] spulec commented on #885
Can you give some more code around what you are trying to achieve?

Based on my reading of the code, I don't believe we support Glacier restoring yet.

[2017-04-13 02:36] spulec commented on #880
Great, thanks for the update. I'm going to close this out then and hopefully get a new release out shortly.

[2017-04-13 02:36] #880 closed

[2017-04-13 02:44] spulec commented on #888
Based on my reading, those shouldn't show up in the body: http://docs.aws.amazon.com/AWSSimpleQueueService/latest/APIReference/API_Message.html

If you look at `sqs_msgs[0].attributes`, it should show what you are looking for.

Are you running that same code against both moto and the real APIs?

[2017-04-13 02:49] spulec commented on #869
Were you able to get the code I posted working on python 3.5 or python 3.4?

[2017-04-13 14:41] sean-abbott commented on #889
I've since forgotten the specifics, but I think it comes down to calling boto3.Session with a profile or attempting to use it caused it to look for (and not find) the `~/.aws/credentials|config` file.

I fixed by manually mocking the call expanduser call.

If I am doing this poorly, please do let me know (especially if you can suggest a fix!) I'm not great at testing.

https://github.com/sean-abbo

[2017-04-13 17:16] Fak3 opened #898 "iam user.create_date format is wrong."
Tried git master after recent fix of #886. The format of the date is '2017-04-13-17-10-43', while it should conform to RFC 3339 (2011-09-19T23:00:56Z)

[2017-04-14 01:18] #878 closed

[2017-04-14 01:24] spulec commented on #889
Hmmmm. What happens if you don't mock the credentials?

[2017-04-14 01:39] #898 closed

[2017-04-14 01:39] spulec commented on #898
Agh, that is what I get for trying to rush it. Thanks

[2017-04-14 06:41] ambrusadrianz opened #900 "S3 copyObject not working with Java SDK"
I encountered this issue during the use of **LocalStack**. After peeking a bit under the hood I realized that LocalStack is just spawning a moto S3 server. First of all, I would like to thank you for your hard work on this great library. The issue occurred when using the *copyObject* method of the Java SDK.

Here is the request that the Java SDK produces:

[code]

For this request the I get the fo

[2017-04-14 12:36] alekna commented on #876
Please let me know when you add a basic pass.

[2017-04-14 13:50] sean-abbott commented on #889
botocore.exceptions.ProfileNotFound: The config profile (testawsprofile) could not be found

call is in test_get_remote_state, calling ati.remote.s3_remote_state.get_remote_state (line 69)

s3_remote_state.py:36:  `aws_session = boto3.Session(profile_name=profile_name`

This happens if I comment line 60 in tests/remote/test_s3.py (which is where I patch expanduser)

[2017-04-14 15:36] ssmailtomess commented on #888
For SNS-SQS subscriptions, the sqs queue would receive the message 'as-is' only when the raw subscription is enabled. By default, the subscriptions are not raw and AWS sends the published message in an envelope abarik1981 mentioned earlier. I think moto should return the message in the envelope for sns-sqs subscriptions that are not explicitly configured to enable raw delivery

[2017-04-15 01:15] thehesiod opened #905 "Have function decorators support coroutines"
looks like `decorate_callable` needs to be updated to support coroutines

[2017-04-15 03:29] thehesiod opened #906 "moto_server Lambda endpoint for list_functions broken"
You get a 404 because the regex is `{0}/\d{{4}}-\d{{2}}-\d{{2}}/functions/?$` which gets translated to a flask regex of `'/\\d{4}-\\d{2}-\\d{2}/functions' (4422992400)`  and botocore does the request with `/functions/`

[2017-04-15 08:55] thehesiod commented on #906
looking more into it the lambda is the only one that has d{}, and it seems these get escaped rendering them completely broken

[2017-04-16 03:45] spulec commented on #821
Fixed with #901

[2017-04-16 03:45] #821 closed

[2017-04-16 03:46] spulec commented on #900
Fixed with #904

[2017-04-16 03:46] #900 closed

[2017-04-17 20:58] leetoleetu commented on #869
Was able to get the code working in 3.5 but not in 3.4

[2017-04-17 22:28] MaCaki commented on #637
I was running into the same issue as @justinsr20 recently while trying to run the following test within a dev VM for a service that uses a https proxy.   After updating both `moto` and `boto3` from the latest versions available on pypi as well as trying to manually `unset` all https proxy env variables I was still getting the error
[code]

However after pulling `boto3` master I was able to run the

[2017-04-18 16:01] verkhoro commented on #873
@shaftoe did you solve this problem? I am seeing the same error when trying to delete an item that doesn't exist (idempotent call)

My setup is a bit different. I am running motto in a docker container and using java sdk client. I think the problem comes from the motto endpoint because the code works fine in production.

[2017-04-18 17:16] verkhoro commented on #873
In my case there's a bug in moto/dynamodb2/responses.py delete_item. If the item didn't exist, it returns an error. I decided not to create a pull request for this because I don't know dynamodb contract for consumed read capacity for this operation. I also don't know the contract for returning attributes if requested when the item doesn't exist.

Ref:
DeleteItemResult com.amazonaws.services.dynamo

[2017-04-19 09:47] shaftoe commented on #873
@verkhoro nope, I didn't manage to go deeper, thanks for the update btw

[2017-04-19 14:46] CianciuStyles opened #908 "S3: PUT request should fail when no 'Content-Length' header is present, but doesn't"
I've discovered an inconsistency between the AWS behaviour and the moto one when trying to upload an empty file to S3 with a PUT request: as stated in http://docs.aws.amazon.com/AmazonS3/latest/API/RESTObjectPUT.html#RESTObjectPUT-requests, the Content-Length header is required in such request, and should fail with a 411 Length Required response if not provided. This is happening if I contact the

[2017-04-21 20:06] william-richard opened #910 "Filters with wildcards do not work for image names"
According to many docs, blog posts and personal experience, aws allows you to use limited regexes/wildcards in filter queries.  Specifically, http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/Using_Filtering.html#Filtering_Resources_CLI says that you can use `*` to match 0 or more characters, and `?` to match exactly one character.  moto doesn't seem to correctly replicate that behavior.

I have

[2017-04-21 22:22] im-auld commented on #164
Added a bug fix for this issue, tests are passing: https://travis-ci.org/spulec/moto/builds/224523178

[2017-04-22 17:01] IuryAlves opened #912 "Cloudformation doesn`t work with yaml templates"
When i try to use moto to mock a call to `create_stack` the following happens:

Traceback:
[code]

#### How to reproduce

[code]

Template: ec2.yaml
[code]

Moto version: 0.4.31
Boto Version: 2.46.1
Python Version: Python 3.6.0rc1
System: Darwin Iurys-MacBook-Pro.local 15.5.0 Darwin Kernel Version 15.5.0: Tue Apr 19 18:36:36 PDT 2016; root:xnu-3248.50.21~8/RELEASE_X86_64 x86_64

[2017-04-25 17:37] JackDanger commented on #890
Thanks!

[2017-04-25 17:37] #890 closed

[2017-04-25 17:39] JackDanger opened #915 "Publish new version of Moto?"
Moto is amazing and a lot has happened since the last release: https://github.com/spulec/moto/compare/4eaf5d527ef5d619aedbc48c9e09d3364239b41d...master

How about a new version release so we can use all this great new stuff? Thanks so much for your work, @spulec!

[2017-04-25 22:23] kylie-a opened #917 "Proposal: Add Support For Local Dynamo DB (And Possibly Other AWS Services)"
First off I'd like to thank you for creating and maintaining such a wonderfully useful library. It's made our tests run much faster and minimized side effects.

However as we are growing as an org we have also added other new tools to our workflow, one of them being Docker. We have also started using the [Localstack](https://github.com/atlassian/localstack) images which provide a local AWS environ

[2017-04-26 18:59] awesometown opened #918 "Hardcoded Message Attributes MD5 checksum causes error in AWS Java SDK"
I've been trying to get set up to use Atlassian's localstack for local development of a Java application. When trying to send SQS messages that use MessageAttributes I receive errors from the SDK that the returned MD5 checksum does not match what was expected:

[code]

In the [issue I filed with localstack](https://github.com/atlassian/localstack/issues/78), one of the maintainers noted that moto

[2017-04-27 03:00] JackDanger commented on #896
@esc Can you link to the failing Travis build?

[2017-04-27 03:01] JackDanger commented on #893
@terminatingcode Would you like to try implementing this missing action? If you make a branch and do what you can I'd be happy to help with writing the tests and finishing the feature off. It would be great to have this!

[2017-04-27 03:03] JackDanger commented on #889
@sean-abbott Apologies, I tried to find where you were mocking the credentials but I'm not sure I found the right place. Is it this?: https://github.com/sean-abbott/terraform.py/commit/d2ed646648d0b884da972ee612822a4fb0c590db

[2017-04-27 03:08] JackDanger commented on #888
@ssmailtomess It looks to me like @spulec is right and that the `sqs_msgs[0].body` should be just whatever you put into the message body originally. I agree that we should add these other attributes (that would be great!) but shouldn't they be in `sqs_msgs[0].attributes`?

In your code does `print(sqs_msgs[0].body)` not equal the following?
[code]

[2017-04-27 03:09] JackDanger commented on #876
@alekna would you be interested in trying to implement this? Even if you only get a little way it's a great way to learn more about the (simple!) internals of Moto. I'd be happy to join you and help writing the tests and completing this feature.

[2017-04-27 03:10] JackDanger commented on #863
@crgwbr This is fixed on master but not in the currently released version. Once a new version of Moto goes out and you upgrade your problem will be fixed!

[2017-04-27 04:35] esc commented on #896
It's a private build and I don't have the issue when using `sudoe: false`.

[2017-04-27 04:35] #896 closed

[2017-04-27 06:43] JackDanger commented on #918
I've implemented the fix for this in #919. Thanks for reporting it, @awesometown! Client software shouldn't break just because it enforces good security practices.

[2017-04-27 08:30] alekna commented on #876
Will do,

[2017-04-27 09:33] picadoh opened #920 "Metadata being returned with some keys with wrong format"
**Problem description**
When using AWS Java SDK against Moto an issue was uncovered. Metadata is being returned with keys like "Etag" when they should be returned with a specific format (in this example, "ETag").

**Symptoms**
The above mentioned problem leads the Java SDK to generate an NPE as it's counting with a header called "ETag" and not "Etag".

**Steps to reproduce**
- Download https://git

[2017-05-01 18:29] JackDanger commented on #912
@IuryAlves Thanks for reporting this! I've created a PR to fix it here: #923

[2017-05-01 19:13] JackDanger commented on #908
@CianciuStyles I've addressed this in #924 - that branch should fix your problem!

[2017-05-01 19:23] JackDanger commented on #873
@shaftoe The `ConditionalCheckFailedException` happens when we try `put` a key that already exists and we don't specify `overwrite=True`. Here's an example of how this is intended behavior: https://github.com/spulec/moto/blob/master/tests/test_dynamodb2/test_dynamodb_table_with_range_key.py#L902

That could probably be much clearer in the client, though. Perhaps you could suggest a better error me

[2017-05-01 19:31] JackDanger commented on #873
@verkhoro you're right that the deletion should be idempotent. Fixed in #925

[2017-05-01 19:38] JackDanger commented on #848
I appreciate all of the work you've done so far and this seems like a great path forward. I was slow to agree about focusing on server mode but now I think it'll bring in many more developers and make this project easier to develop on and use for everybody. A decorator-based Python client wouldn't be too hard to build for a purely server-mode Moto, either.

The `set-next-exception` endpoint feels

[2017-05-01 22:09] boompig opened #926 "KeyError: 'baz'"
Minimal example to reproduce:

[code]

invocation:

[code]

error:
[code]

[2017-05-01 22:40] SectorNine50 commented on #917
Random fun fact, no idea if it changes anything, but it looks like Localstack actually uses Moto in their code:

[code]

[2017-05-01 23:35] boompig commented on #926
Similar issue happens with `kinesis_client.put_records`. Possibly this is a general bug with Kinesis stream implementation?

[2017-05-02 08:24] CianciuStyles commented on #908
Yes, I think your changes will fix the problem. Thanks @JackDanger!

[2017-05-02 11:36] rud-bookbites commented on #915
Just used the latest `master` version to move forward:

`pip install https://github.com/spulec/moto/archive/df84675ae67e717449f01fafe3a022eb14984e26.zip`

[2017-05-02 18:28] kyle-long opened #928 "Associating an instance profile is not supported?"
Perhaps I am looking in the wrong place but I don't see associating an iam instance profile to an instance implemented (http://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_AssociateIamInstanceProfile.html)

I am attempting to associate it via `boto3`.

[code]

Which fails at the end when `iam_instance_profile` is `None`.

[code]

Is my assessment correct? If so, I would be open to creating a

[2017-05-04 13:16] shaftoe commented on #873
@JackDanger I'm confused, in my case I use the `put` method just after creating the table, which I expect to be empty. Anyway, looking at the example you mentioned I tend to think I completely misunderstood how to actually use the library :) I'll do some cargo-cult programming and get back

[2017-05-05 10:18] todor-kolev commented on #847
I had quite an awkward one:

[code]
... and I see the response from DynamoDB which looks OK:

[code]

but then when I query the table the type is completely different:
[code]

`print(nominations) #nominations ['nomination-id-1', 'nomination-id-2']`

[2017-05-05 19:22] kyle-long commented on #928
I've decided to work around this instead. I am closing this as I am not really invested in it anymore.

[2017-05-05 19:22] #928 closed

[2017-05-06 00:09] acmiyaguchi opened #929 "PySpark rdd methods (collect, toLocalIterator) under moto return empty arrays"
PySpark are bindings to [Spark](http://spark.apache.org/) clusters. PySpark methods that interact with RDD's on the localhost are empty until the moto context. Below is a simple method of reproducing the issue.

[code]

The moto should not conflict with the rpc between python and the java process.

[2017-05-06 15:09] Prior99 opened #930 ""KeyError: 'Prefix'" when trying to put a lifecycle configuration without 'Prefix' key"
Moto raises an `KeyError: 'Prefix'` when trying to put a lifecycle configuration without `Prefix` key.

[The `Prefix` key is deprecated](http://boto3.readthedocs.io/en/latest/reference/services/s3.html#S3.Client.put_bucket_lifecycle_configuration) and no longer supported on S3 EU Central, resulting in a `MalformedXML` error when provided.

## Minimal Example to reproduce

[code]

## Invocation

[c

[2017-05-07 15:02] grahamhar opened #931 "List Accesskeys for an IAM user has missing data"
When using moto to test code that was checking IAM users did not have 'stale' AccessKeys it was found the returned data was missing CreateDate.

I will open a pull request with a proposed fix

[2017-05-08 20:48] thehesiod opened #933 "Ability to set last-modified of s3 keys"
with the current S3 API it's impossible to set the last-modified time of an S3 key, however this is very useful for testing.

I found a hacky way of doing this via:
[code]

however it would be really useful if there was a better way to access the underlying bucket to be able to set properties like this.

[2017-05-09 06:13] thehesiod opened #936 "S3 backend missing `DeleteMarker` support"
This touches various APIs like `list-object-versions`, `delete-object`, `copy-object` and the like.  From what I see it will require a re-architecture of the S3 backend.  It's a critical feature for versioned buckets.

[2017-05-09 20:46] awesometown commented on #918
Sorry for the delayed acknowledgement, but thanks for looking into this :)

[2017-05-09 21:17] srikiraju commented on #915
+1 to this. We could use a new cut of this without httpretty.

[2017-05-10 04:38] thanizebra commented on #657
i am seeing this in both Python 3 and Python 2

[2017-05-10 21:03] #823 closed

[2017-05-11 00:46] spulec commented on #905
PR welcome if anyone gets time. This isn't something I personally need.

[2017-05-11 00:48] spulec commented on #906
I think this is fixed in master with https://github.com/spulec/moto/commit/81836b698107debc9dffe056530820c9694c8c77, but let me know if that is not the case.

[2017-05-11 00:48] #906 closed

[2017-05-11 00:58] spulec commented on #869
I just ran it on python 3.4.5 as well and it seemed to work. Can you give me more details about your environment? Exact python version, OS, a `pip freeze`, etc?

[2017-05-11 01:06] spulec commented on #637
Great, thanks for testing. I'm going to close this out.

Someone please yell if it still seems to be happening on master.

[2017-05-11 01:06] #637 closed

[2017-05-11 01:33] #910 closed

[2017-05-11 01:34] spulec commented on #910
Thanks for opening!

This should be fixed now, but let me know if you still see any issues against `master`.

[2017-05-11 01:59] #920 closed

[2017-05-11 02:02] #908 closed

[2017-05-11 02:07] #873 closed

[2017-05-11 02:29] spulec commented on #926
Hmmmm, the following passes for me

[code]

on python 2.7.13 against the current `master` version of moto. Can you test again that and let me know if you are still seeing issues.

If it helps, you can see that these tests are working on Travis: https://github.com/spulec/moto/blob/master/tests/test_kinesis/test_kinesis.py#L55-L71

[2017-05-11 02:31] spulec commented on #929
Can you try testing this against the `master` branch of Moto? My guess is that it is no longer an issue.

[2017-05-11 02:34] spulec commented on #933
Not a lot nicer, but you should be able to do the same thing with:

[code]

I'm open to ideas on this, but would probably be against creating an entirely separate API. Any other thoughts?

[2017-05-11 02:39] spulec commented on #936
Noted, adding as a feature request.

Thanks

[2017-05-11 02:40] #863 closed

[2017-05-11 02:41] #164 closed

[2017-05-11 02:45] #930 closed

[2017-05-11 02:45] spulec commented on #930
Thanks for opening!

This should be fixed now.

[2017-05-11 02:46] spulec commented on #931
Fixed with https://github.com/spulec/moto/pull/932

[2017-05-11 02:46] #931 closed

[2017-05-11 02:51] spulec commented on #848
As of now, there will be no plans to completely eliminate a Python decorator from Moto (it is still how I use Moto).

I agree that a header-based approach to exceptions sounds much better. Thanks!

[2017-05-11 02:58] spulec commented on #915
Thanks for the kind words.

I have some dedicated free time on Friday (long train ride) where I'm planning to get a new release cut 🤞

[2017-05-11 03:07] spulec commented on #917
In the `master` branch, we do a new thing where we try to find the service based on the request headers: https://github.com/spulec/moto/blob/03c4d9fe204264cfe1c4378835db8c149ff1f281/moto/server.py#L56-L72

My understanding is that changing the line to `if host in ["localhost", "localstack"]` would be sufficient for your use case. As you note, that isn't very generic though. If we added a setting [

[2017-05-11 05:07] georgepsarakis commented on #933
@spulec seems straightforward. Since `FakeKey.last_modified` is public API, someone can easily change it for testing. I would suggest that you create something like a `contrib` package in the project and contributors can add there any utility functions that wrap useful operations. What do you think?

[2017-05-11 06:26] thehesiod commented on #933
Cool. If that works feel free to close this. Would be nice to be documented.

[2017-05-11 13:44] quagly opened #937 "cloudformation update from TemplateUrl"
cloudformation stack update using template url fails with 'TypeError'  Here is a test that demonstrates create template from url working but update template from url fails with TypeError.

<pre><code>
from __future__ import unicode_literals

import boto3
from moto import mock_cloudformation, mock_s3

import json
import sure  # noqa

dummy_template = {
    "AWSTemplateFormatVersion": "2010-09-09",

[2017-05-11 15:49] AndreLouisCaron opened #938 "Cannot recover EC2 tags after creating an instance"
I'm using the `TagSpecifications` argument to the EC2 resource's `.create_instances()` method to tag my EC2 instances, but I don't seem to be able to recover those tags in my tests regardless of the way I try to recover them.

Here is a piece of code that reproduces the issue:

[code]

I encountered this using the following versions:

* moto: 0.4.31
* botocore: 1.5.45
* boto3: 1.4.4

Please let me

[2017-05-11 15:57] AndreLouisCaron commented on #938
In case this helps, it seems the low-level client is also subject to this issue.

[code]

The `Tags` key that should be returned (according to [the docs](http://boto3.readthedocs.io/en/latest/reference/services/ec2.html#EC2.Client.run_instances)) is missing from the output.

[2017-05-11 16:07] AndreLouisCaron commented on #938
OK, so I found another way that works.

[code]

Any chance we can make a change so that it's possible to do this with `TagSpecifications`?  I'm willing to put in a patch if necessary.

[2017-05-12 17:48] boompig commented on #926
Thanks for the help. It turns out I was missing `region_name='us-west-1'`. The error occurs when region is not specified.

[2017-05-12 20:23] JackDanger commented on #926
@boompig I get a different error on your original test:
[code]
This is with boto3 1.4.4 and botocore 1.5.45

[2017-05-12 22:41] #912 closed

[2017-05-12 23:38] spulec commented on #933
Got it, I have some ideas for this going forward.

[2017-05-12 23:38] #933 closed

[2017-05-12 23:40] spulec commented on #937
Yes, unfortunately I don't think this is supported yet. Will add as a feature request.

[2017-05-12 23:42] JackDanger commented on #938
@AndreLouisCaron Can you check that this works against the real AWS servers? The last time I tried to pass in TagSpecification tags it resulted in an error because the docs and reality didn't agree.

[2017-05-12 23:47] spulec commented on #938
@JackDanger it looks like there is a real bug (or lack of feature) with Moto. I'm 90% toward a patch.

[2017-05-12 23:48] #938 closed

[2017-05-13 00:03] spulec commented on #915
Version `1.0.0` is now available. I would appreciate any testing and feedback!

[2017-05-13 00:03] #915 closed

[2017-05-13 00:09] spulec commented on #696
Thanks! Adding as a feature request.

[2017-05-13 00:35] spulec commented on #859
This should be fixed with version `1.0.0`. Let me know if you still see issues.

[2017-05-13 00:35] #859 closed

[2017-05-13 05:43] georgepsarakis commented on #848
@spulec great! Using the decorators for mocking in tests is definitely essential as it allows to not interfere with boto3 client initialization using parameterized endpoint URLs.

[2017-05-13 07:02] h1f1x commented on #915
Awsome. Thank you very much!

[2017-05-13 21:58] AndreLouisCaron commented on #938
Wow, thanks for the quick fix!

[2017-05-14 17:16] georgepsarakis commented on #936
@thehesiod just opened a pull request, any suggestions or comments are welcome.

[2017-05-14 18:33] thehesiod commented on #936
probably the unittest should do a list-object-versions to ensure it gets back the delete markers too

[2017-05-14 18:42] thehesiod commented on #936
cool, this will help a lot!

btw another fix needed is this: https://github.com/thehesiod/moto/commit/4da99724b9d802dc6012b610786e424549047582#diff-547a069fa8bb15a3e30833ff94d0997aR351

IIRC list-object-versions is not filtering by prefix

If that gets fixed too I'll try moving back to moto, thanks!

[2017-05-14 20:07] spulec commented on #848
Since version `1.0.0` was released, I'm going to close this. Please open issues for any feedback on the release or other feature ideas.

[2017-05-14 20:07] #848 closed

[2017-05-14 20:09] spulec commented on #938
Thanks for using moto!

[2017-05-14 20:17] #936 closed

[2017-05-15 09:20] tardyp opened #942 "Deprecation Warning with moto 1.0.0"
Since the release of moto 1.0.0 Buildbot Ci is impacted.
Buildbot Ci is configured to forbid any warning raise by the code
https://nine.buildbot.net/#/builders/11/builds/231/steps/5/logs/stdio

but moto 1.0.0 raise a new warning:
[code]
We will add this warning as a exception, but we would be glad if moto could fix this warning and release a new version.

[2017-05-15 09:21] tardyp commented on #942
Another deprecation warning triggered by moto 1.0.0:
[code]

[2017-05-15 13:44] serebrov commented on #571
I've just updated moto to 1.0.0 from 0.4.31 and there is an issue with `404` vs `NoSuchKey` exists response.
I have a following call to check for S3 object existence:

[code]

It worked before with `e.response['Error']['Code'] == "404"` both with moto and real AWS S3.
After moto update, the mocked `e.response` looks this way:

[code]

While the real AWS response looks like this:

[code]

So I have

[2017-05-15 14:24] Fak3 opened #944 "NotImplementedError: The get_login_profile action has not been implemented"
Hi. I tried to mock the IAM [get_login_profiles()](http://boto.cloudhackers.com/en/latest/ref/iam.html#boto.iam.connection.IAMConnection.get_login_profiles), but got NotImplementedError

[2017-05-15 15:24] tombazza opened #945 "Mocked S3 requests are reaching AWS"
When trying to run the below snippet through py.test, I am finding that files and buckets are actually being created on S3:

[code]

I would not expect this code to actually store a file on S3, however it appears to be creating the file with the contents from this test. This is evident in the results I am seeing from the above test:

[code]

Using `boto` v2.46.1, `moto` v1.0.0 installed via pip.

[2017-05-15 19:10] #942 closed

[2017-05-16 09:03] tombazza commented on #945
After performing some further investigation, it appears that the v1.0.0 release of `moto` no longer supports using the `@mock_<service>` decorator for `boto` v2. The official advice is to upgrade to `boto3`, or use the `@mock_<service>_deprecated` decorator.

From the CHANGELOG:

[code]

If you must still use `boto` v2 I would advise you to lock your version of `moto` to v0.4.31. This change was n

[2017-05-16 16:54] JackDanger commented on #945
@tombazza You're totally right. I'll try to immediately respond to incoming issues with this solution so folks can perform a one-line change and be unblocked. Apologies for not realizing this was the issue when you first posted it!

[2017-05-16 20:23] itajaja opened #948 "can't use responses"
with v1, since moto vendors in `responses`, it's impossible to use `responses` for mocking non-aws calls. example:

[code]

this used to work on < v1, on v1 it raises a connection refused error because basically requests is patched twice by two different modules

[2017-05-16 21:39] acmiyaguchi commented on #929
Awesome! It's working for me now, I'm curious about the root cause of the problem though. Do you know what patch in particular solved the issue?

[2017-05-16 21:50] acmiyaguchi opened #949 "Missing import for mock"
The import for mock is missing for the repository. This can be reproduced from the head commit of the repository.

[code]

[2017-05-17 04:14] mosampaio opened #951 "Just adding SSM to the README file."

[2017-05-17 04:14] #951 closed

[2017-05-17 05:36] #949 closed

[2017-05-17 19:44] gordonshieh94 opened #953 "S3 Mock's error code is not 404 when a key does not exist"
I'm writing a unit test for a wrapper to S3. One of my tests will attempt to fetch a Key `Object` that does not exist on S3. I get an exception as expected, but the `ClientError.response['Error']['Code']` is not 404. But instead the string "NoSuchKey"

Our wrapper follows the example from here http://boto3.readthedocs.io/en/latest/guide/migrations3.html#accessing-a-bucket

![image](https://cloud.g

[2017-05-18 16:10] LitQ opened #956 "add_instance_groups"
"The {0} action has not been implemented".format(action))
NotImplementedError: The add_instance_groups action has not been implemented
When i'm try use this method
botocore.exceptions.ClientError: An error occurred (500) when calling the AddInstanceGroups operation (reached max retries: 4): <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<title>500 Internal Server Error</title>
<h1>Interna

[2017-05-18 16:14] xoen opened #957 "IAM client's delete_role action not implemented"
Tried to write a test for a method which calls the [`delete_role()` method](http://boto3.readthedocs.io/en/latest/reference/services/iam.html#IAM.Client.delete_role) on the IAM client but I get this error message: `NotImplementedError: The delete_role action has not been implemented`.

## Backtrace

[code]

## How to reproduce
1) Write a method which tries to delete an IAM role:

[code]

2) Run it

[2017-05-18 17:39] JackDanger commented on #957
Thank you @xoen, this is now fixed in #958 - mind taking a look at my PR?

[2017-05-19 08:42] xoen commented on #957
Thanks @JackDanger ! I don't have much experience with Python but I'll have a look at the PR.

[2017-05-19 23:54] #957 closed

[2017-05-19 23:54] JackDanger commented on #957
@xoen This is now on master. Thanks for your help

[2017-05-22 19:41] peterbe commented on #953
For what it's worth, the `exception.response['Error']['Code']` is `'404'` if you do a `s3client.head_object(Bucket='...', Key='doesnotexist')`
But if you instead do a `s3client.get_object(Bucket='...', Key='doesnotexist')` then `exception.response['Error']['Code']` is `'NoSuchKey'`.

Isn't moto respecting that?

[2017-05-22 20:56] hltbra opened #962 "Add support to Fn::ImportValue in the CloudFormation parsing"
At the moment, moto supports [Ref, Fn::FindInMap, Fn::GetAtt, Fn::If, and Fn::Join](https://github.com/spulec/moto/blob/e3bff8b926aaf8a0737063fbc1a4e7bac888b0e9/moto/cloudformation/parsing.py#L105-L170).

More information on Fn::ImportValue: http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/intrinsic-function-reference-importvalue.html

[2017-05-22 21:01] hltbra commented on #962
In order to implement this fully, moto will need to implement `Export` for Outputs (I don't think it does now, please correct me if I am wrong).

CloudFormation docs: http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/outputs-section-structure.html

[2017-05-22 23:49] peterbe opened #963 "get_object on gzip encoded objects fail with moto 1.0.0"
If I PUT an object in, gzip compress it myself, then try to read it, it fails.
Here's how I put it in:
[code]
But when I, later in the test, try to read it I get...:
[code]
The `IncompleteReadError` check isn't wrong, it's just that it shouldn't happen.
The relevant code does:
[code]
The size is different because once decompressed the total length of data read is different from the value of the `C

[2017-05-23 01:23] #918 closed

[2017-05-23 21:19] JackDanger commented on #953
@gordonshieh94 This is now fixed on Moto master. Thanks for your help!

[2017-05-23 22:43] gordonshieh94 commented on #953
Thank's for fixing this so quickly! Working as expected now.

[2017-05-31 19:43] byron70 opened #966 "ProjectionExpression with ExpressionAttributeNames causes pop index out of range error."
boto==2.45.0
boto3==1.4.4
botocore==1.5.45
moto==0.4.31

Issue:
-------------------------------------
When a ProjectionExpression and ExpressionAttributeNames are used in tandem with KeyConditionExpression, the resulting query fails due to logic within moto.dynamodb2.responses.query.  Logic requires expressions to be ordered correctly, specifying ExpressionAttributeNames causes the ordering and in

[2017-05-31 23:55] Brett55 opened #968 "SQS client.receive_messages hangs when WaitTimeSeconds is not set"
Using version 1.0.0

I've found that with SQS client, calling client.receive_message() without WaitTimeSeconds param causes the statement to hang for a 5-10 mins before returning None. If I supply any WaitTimeSeconds param such as "20" it works fine.

Seems to related to this block https://github.com/spulec/moto/blob/master/moto/sqs/models.py#L346-L352

[2017-06-01 00:00] Brett55 commented on #968
Perhaps changing linee 346 to:

`if result or (unix_time() > polling_end):`

[2017-06-01 16:08] JackDanger commented on #968
Fixed by @Brett55 in #969

[2017-06-01 16:08] #968 closed

[2017-06-01 16:19] #953 closed

[2017-06-01 17:21] #945 closed

[2017-06-02 09:37] snordhausen opened #970 "Creating already existing S3 bucket does not raise an exception"
When you try to create an S3 bucket that you already created, boto3 throws an exception (except if you do it in the us-east-1 region). With moto 1.0.0, it never throws an exception. The following code reproduces the issue:
[code]
It produces the following output:
[code]
The expected behavior is that moto produces the same exceptions that pure boto3 produces.

[2017-06-02 12:46] snordhausen opened #971 "S3 buckets do not remember their LocationConstraint"
Calling get_bucket_location() on an S3 client returns the region in which the bucket was created. When creating buckets with moto, this information is lost somewhere: Buckets always claim to be located in the default region, us-east-1. The following code reproduces the issue:
[code]
It produces the following output:
[code]
Creating S3 buckets in the correct region is necessary for legal reasons, w

[2017-06-02 22:04] Brett55 commented on #968
@JackDanger Wanted to contact you direct but this will have to suffice, I noticed that when I upgraded to version 1.0.0 of Moto, that tests are hitting AWS direct (SQS and SNS). I confirmed this by rolling back to 0.4.31 and master branch from github. I will look into this further, but I'd imagine this is not expected

[2017-06-02 22:12] JackDanger commented on #968
@Brett55 That's a known but under-publicized change of Moto 1.0. What you need to do is replace `@mock_sqs` with `@mock_sqs_deprecated` (and same for other service) everywhere that Boto is used. `@mock_sqs` is now only for Boto3 support.

[2017-06-02 22:30] Brett55 commented on #968
Thanks for response, okay, that makes sense. It seems that moto 0.4.31
works with both boto 2 and 3 and moto 1.0.0 you must be explicit on
@mock_sqs vs @mock_sqs_deprecated?

On Fri, Jun 2, 2017 at 4:12 PM, Jack Danger <notifications@github.com>
wrote:

[2017-06-02 22:42] JackDanger commented on #968
@Brett55 That's correct.

[2017-06-03 20:41] spulec commented on #929
I'm not positive; there was a large refactor of the S3 code.

[2017-06-03 20:41] #929 closed

[2017-06-03 20:50] spulec commented on #956
Thanks, adding as a feature request.

[2017-06-03 21:03] spulec commented on #948
Hmmmm, sorry about that.

I can't think of a great solution for this.... any ideas?

[2017-06-03 21:04] spulec commented on #944
Thanks for opening; adding as a feature request.

[2017-06-03 23:07] #963 closed

[2017-06-03 23:07] spulec commented on #963
Thanks for opening! This should be fixed now.

[2017-06-03 23:30] #970 closed

[2017-06-03 23:30] spulec commented on #970
Thanks for opening! This should be fixed now.

[2017-06-03 23:31] spulec commented on #971
This was also fixed with 113bfcb4eacaa3346e28f1e5103928aaa4c47c83

[2017-06-03 23:31] #971 closed

[2017-06-05 22:27] RAbraham opened #973 "S3 Notification to Lambda Configuration"
Hi,
It would be great if I could use `moto` to simulate S3 notifications to an AWS Lambda. An e.g. use case is every time an object is created in S3, invoke a Lambda. My Deployment scripts have code which normally looks like this which sets up the notification configuration

[code]

Currently, is it supported that `moto` will automatically invoke the lambda if I use `mock_s3` and put an object in

[2017-06-05 23:09] Brett55 commented on #948
I think I've come across this as well using v1.0.1. I basically can't hit any websites that are non-aws. I get connection refused errors.

[2017-06-07 02:17] itajaja commented on #948
I just opened a pr on responses repo: https://github.com/getsentry/responses/pull/150

since responses is vendored in, I can open a pr that applies these modification on this repo, but it'd be nice nontheless if the changes will be applied upstream

[2017-06-09 13:21] spulec commented on #962
Added with #975

[2017-06-09 13:21] #962 closed

[2017-06-13 15:58] adambullmer opened #979 "Cannot mock SNS publishing"
Seems like the SNS client isn't being mocked out properly. In this stupid simple example the client is reaching out to aws to actually publish to that SNS topic.
I would expect `mock_sns` to accept whatever garbage I throw at is so long as the required parameters are passed.

The packages were all installed with pip into a virtualenv.

| Component | Version   |
|-------------|----------|
| Python

[2017-06-13 17:52] JackDanger commented on #979
@adambullmer For better or worse Moto acts like a very reliable implementation of AWS. So it checks the ARN to make sure it's a valid endpoint and topic. Here's an example from [the tests](https://github.com/spulec/moto/blob/master/tests/test_sns/test_publishing_boto3.py#L15-L27) that'll let you test that your publishing is reliable:

[code]

[2017-06-13 18:43] adambullmer commented on #979
Yeah, that definitely makes it work. I was hoping for less bootstrapping in my testing. Do you know if across multiple clients the same topics will persist?
i.e.
1. test bootstrap creates a sns client and creates the topic
2. test exercises code where it also creates a sns client
3. test exercises code where it publishes to the second sns client

[2017-06-13 19:11] JackDanger commented on #979
The same topics will persist across clients as long as you haven't forked the Python process (i.e. Moto is in-memory and acts just like a real AWS for everything in the process).

If you take a look at [the tests I linked above](https://github.com/spulec/moto/blob/master/tests/test_sns/test_publishing_boto3.py#L15-L27) you'll see an example of two clients - the first creates an SNS topic, the seco

[2017-06-13 19:40] adambullmer commented on #979
Awesome! Got it working. Thanks for your help!

[2017-06-13 19:40] #979 closed

[2017-06-15 00:28] spulec commented on #973
Thanks for opening. This is not currently supported, but I will turn this issue into a feature request.

[2017-06-15 00:36] #948 closed

[2017-06-15 00:52] spulec commented on #691
Thanks; adding as a feature request.

[2017-06-15 22:52] RAbraham opened #981 "Feature Request: Lambda Function with multiple files in a Zip File"
Hi,
I have a zip file which contains two files. I can successfully unzip the zip file using `unzip` in the terminal.

[code]

I get the following error. Note that the files get conjugated into one single line:
[code]

Digging through the code, I found the [line](https://github.com/spulec/moto/commit/6c577091da23efe7ccf0b24fdd81a64fbff2dd1f#diff-2df06bdd95e3c78b9335da9f260a3472R45)
[code]
My unders

[2017-06-16 00:09] spulec commented on #981
Yeah, it looks like we don't support that right now. It seems like we'll need to expand beyond just having `self.code` to be able to handle multiple files.

Going to change the title of this and set it as a feature request. Thanks

[2017-06-18 19:45] dacut opened #982 "APIGateway update_rest_api fails with 'NoneType' object is not iterable"
This snippet of code fails:

    import boto3
    from moto import mock_apigateway

    mock = mock_apigateway()
    mock.start()
    apigw = boto3.client("apigateway")
    rest_info = apigw.create_rest_api(name="test")
    apigw.update_rest_api(restApiId=rest_info["id"])

Results in:

    Traceback (most recent call last):
    [deletia]
      File ".../moto/core/utils.py", line 165, in __call__

[2017-06-21 13:44] RAMESHGP commented on #428
Hi Spulec,
On the above code reference i can able to create and put the items in DB mock.
But when I am trying to get the table items with the help of get_item(). As it throws
 **botocore.exceptions.ClientError: An error occurred (ValidationException)**
Please help to get out of this issue

Below packages i used in my script
import os, json, sys, boto3, time
from boto3.session import Session
from

[2017-06-21 13:56] RAMESHGP opened #988 "get_items errors with mock dynamodb2 decorator for moto"
Hi,
But when I am trying to get the table items with the help of get_item(). As it throws
**botocore.exceptions.ClientError: An error occurred (ValidationException)**
Please help to get out of this issue

Below packages which i have imported in my script
import os, json, sys, boto3, time
from boto3.session import Session
from moto import mock_dynamodb2
from boto3.dynamodb.conditions import Key, At

[2017-06-28 14:30] RyanHartje opened #991 "KMS - describe keys doesn't work with alias for boto3"
When using the describe_key function of the KMS client, it seems that moto's behavior around looking up aliases differs from boto3.

Environment info:
Python: 2.7.10
Moto: moto-1.0.1
Boto3: boto3-1.4.4
Botocore: botocore-1.5.76
OS: macos and ubuntu

Moto behavior
[code]

I've validated that the alias exists here:
[code]

We should be able to set the KeyId to alias and have it return our blob about

[2017-06-29 08:20] toelen commented on #888
I also assume that in [models.py](https://github.com/spulec/moto/blob/master/moto/sns/models.py#L80) line 80 message

`sqs_backends[region].send_message(queue_name, message)`

should be wrapped in a get_post_data. The current code assumes that RawMessageDelivery is true, but this is actually not the default in sns.

[2017-06-29 13:31] ingluisjimenez opened #993 "SQSResponse should only include MD5OfMessageAttributes key when there are message attributes"
There was a regression introduced in https://github.com/spulec/moto/pull/919, as the `MD5OfMessageAttributes` parameter is now being included with every response, even when there are no message attributes.

What ends up happening is that in cases when there are no message attributes, the responses include a `MD5OfMessageAttributes` with the md5 hash of an empty string, which happens to be `d41d8cd

[2017-06-30 15:58] Noah-Huppert opened #995 "NotImplementedError: The create_change_set action has not been implemented"
When testing code which calls `client.create_change_set` decorated with `@mock_cloudformation` a `NotImplementedError` is thrown for the `create_change_set` action.

[2017-07-03 14:19] ferranscopely opened #996 "SQS Message timestamp attributes in exponential notation"
When sending and receiving messages through SQS, the attributes `SentTimestamp` and `ApproximateFirstReceiveTimestamp` contain a string with a number in exponential notation.

Example (taken from atlassian/localstack#135, which describes this issue):
[code]

This is different from AWS behavior, and causes some troubles as it cannot be parsed directly as a long value. Per [AWS documentation](http:/

[2017-07-04 20:44] #996 closed

[2017-07-05 13:18] Prasadchitnis26 opened #998 "Filter dicts have not been implemented in Moto for '%s' yet for instance.group-name"
I am attempting to use the describe_instances function in boto3. I am supplying a filter that returns a string, and am receiving the following message:

NotImplementedError: (u"Filter dicts have not been implemented in Moto for '%s' yet. Feel free to open an issue at https://github.com/spulec/moto/issues", u'instance.group-name')

So I am opening an issue.Thank you for your help.

[2017-07-05 14:14] areese2006 opened #999 "LicenseModel property in RDS describe_db_instances() response"
I'm mocking via decorator in Python and seeing the LicenseModel property returned as "general-public-license" in the response from create_db_instance() in the rds2 package.  Is there a timeline to enable this to be dynamic based on input parameter?

Thanks for your help.

[2017-07-05 23:13] JackDanger commented on #999
@areese2006 This is now fixed on master. Thanks for speaking up!

[2017-07-05 23:13] #999 closed

[2017-07-05 23:57] kokon commented on #869
FYI, I run the above code, and see the same issue. My python version is 3.6.1, with moto==0.4.31.

Upgrading to moto 1.0.1 fixed the problem.

[2017-07-06 00:14] spulec commented on #993
Fixed with #992

[2017-07-06 00:14] #993 closed

[2017-07-06 00:15] spulec commented on #995
Thanks for opening! I'll add this as a feature request.

There are a lot of feature requests right now though so I can't make any promises on timing.

[2017-07-06 00:16] spulec commented on #998
Thanks for opening! I'll add this as a feature request.

There are a lot of feature requests right now though so I can't make any promises on timing.

[2017-07-06 00:18] spulec commented on #869
Okay, I'm going to assume the most recent version of moto solves this then. If someone is seeing otherwise, please let me know.

[2017-07-06 00:18] #869 closed

[2017-07-06 00:33] spulec commented on #991
Thanks for opening!

I'm having trouble reproducing this. I'm on the same version of boto3, botocore, moto. Python 2.7.13 and OSX 10.12. The following code works for me:

[code]

A very similar thing is [running on Travis](https://github.com/spulec/moto/blob/5807a38092553360cf7024214453ba5c56ee7a8e/tests/test_kms/test_kms.py#L36-L47) though that is boto, not boto3. Can you think of anything else t

[2017-07-06 11:59] zactimeinc commented on #508
Any progress on this?

[2017-07-09 23:07] Noah-Huppert commented on #995
Much appreciated

[2017-07-10 22:56] okomestudio opened #1004 "Error code confusion in mocked responses?"
It appears an error response including `Code` and `Message` is rendered using `moto.core.exceptions.ERROR_RESPONSE`, which is passed to the template via `RESTError(error_type, message)` where `error_type` gets rendered into `Code` of the template.

In `exceptions.py` of service submodules, `error_type` often is a short descriptive text, instead of HTTP status code which appears to be the case in m

[2017-07-11 15:38] RyanHartje commented on #991
Closing for now, I can't replicate on Ubuntu now, assuming the issue is on my end. Thank you for your help.

[2017-07-11 15:38] #991 closed

[2017-07-12 22:12] hwine opened #1006 "Add support for AWS X-Ray service"
The [AWS X-Ray](https://aws.amazon.com/xray/) can be very helpful for debugging on AWS. This is especially true of [Lambda functions](http://docs.aws.amazon.com/xray/latest/devguide/xray-services-lambda.html)

I was hoping to use moto with a lambda function written in Python 2.7. The [fleece project](https://github.com/racker/fleece) provide Python support for X-Ray, but the two projects do not wo

[2017-07-13 09:42] ludw opened #1007 "CORS support for standalone server"
I'm using moto in standalone server mode to develop a javascript web app that does uploads to S3. I have run into some issues with CORS headers.

When attempting to upload to a bucket I get the following error from Chrome:
`XMLHttpRequest cannot load http://localhost:5000/mybucket/2193d9e1-7fff-43e3…cessKeyId=&Signature=OBKOJKaEv%2BjWj7F7kREog%2FGJH6A%3D&Expires=1499941268. Response to preflight r

[2017-07-13 19:53] eric-weaver opened #1008 "Add support for S3 object tagging"
It would be nice if moto added support for S3 object tagging. Object tagging needs 3 actions, added directly onto the boto3 `upload_object` function, `get_object_tagging` to retrieve object tagsets, and `put_object_tagging` for adding tags to existing objects in S3.

I would be happy to take a stab at this. Is there a good starting point / modeling used for adding new functionality to services?

[2017-07-13 19:57] JackDanger commented on #1008
Great idea, @eric-weaver! A good example of adding a feature to S3 responses is #960 but an example of a feature that includes both responses and some coordination of model data is #986

If you start with the tests (the ones in #960 are a great example) then you don't have to understand all the details and you can create something in s3/responses.py that works and store backend state in s3/models.

[2017-07-14 09:09] alicefuzier opened #1009 "Complete ARN in update_container_instance_state should work"
Hi,
According to the boto3 documentation, calling `update_container_instances_state` on the ecs client passing the full ARN as the containerInstance parameter should work: http://boto3.readthedocs.io/en/latest/reference/services/ecs.html#ECS.Client.update_container_instances_state (in fact it does work using the real boto3 API). However, using moto, it only works when passing the container instanc

[2017-07-17 18:57] #1008 closed

[2017-07-17 22:27] JackDanger commented on #1009
@alicefuzier This is so helpful! Thank you for bringing this up. Would you like to try implementing a fix for this? If you get stuck I'd be happy to help out.

[2017-07-17 22:30] JackDanger commented on #1007
@ludw The added dependence of flask-cors wouldn't be a problem (particularly if it were only required when Moto were used in server mode). EC2 also has some CORS support so implementing only for S3 would require duplicated effort later.

I'd love to see a PR from your work on option 1. Thanks for exploring this!

[2017-07-17 22:34] JackDanger commented on #1004
@okomestudio can you share what the `e.response['Error']['Code']` is from that example? Is it 'NoSuchBucket'? If so, I'm confused why the boto3 docs suggest that would work, I think it wouldn't.

[2017-07-17 22:37] JackDanger commented on #926
@boompig I'm going to close this for now but please reopen when you get the chance.

[2017-07-17 22:37] #926 closed

[2017-07-17 22:38] JackDanger commented on #889
@sean-abbott I'm going to close this for now but please reopen when you get the chance.

[2017-07-17 22:38] #889 closed

[2017-07-18 00:35] okomestudio commented on #1004
The specific example snippet is from this page: http://boto3.readthedocs.io/en/latest/guide/migrations3.html

I think the return value of `response['Error']['Code']` might be inconsistently implemented (numeric code vs. `NoSuchKey`) in the AWS API itself, and I initially found this out when I recently updated `moto` to the recent version and a couple existing tests (on EMR resources) started faili

[2017-07-18 01:05] JackDanger commented on #1004
We recently changed this very response code in Moto. When you issue a GET
request you get NoSuchKey and when you issue a HEAD request you get a 404.
Or perhaps that's backwards. Regardless, it was a bug where a user found
the AWS API used different responses for those two HTTP verbs so we matched
the live AWS response.
Il giorno lun 17 lug 2017 alle 5:35 PM Taro Sato <notifications@github.com>
ha

[2017-07-18 15:41] eric-weaver opened #1015 "Support the ability to start/stop moto server mode through code"
Feature Request:
Make the server module into a package that can be importable and controlled directly.

Use Case:
Spinning up 2 different `mock_s3` instances. One with the default aws address and one with a custom DNS `endpoint_url` passed into boto3.

I have only been able to run 2 separate mocks of the same service via the standalone server with different ports. It would be helpful if moto had a

[2017-07-18 17:21] JackDanger commented on #1015
@eric-weaver Would it be enough to wrap this `_moto_server_process` subprocess helper somehow so that it is easier to call or is it important that the Moto server instances have the same memory space?

[2017-07-18 19:00] okomestudio commented on #1004
Okay, I now understand that the intention is exactly match what the real AWS API responses return, which is great.

Probably I should get a patch in as PR where I find mismatch in an error response.

[2017-07-18 19:44] JackDanger commented on #1004
That would be great, thank you

[2017-07-20 22:55] #1004 closed

[2017-07-23 19:48] rhkiswani opened #1020 "Add Heath Check Endpoint"
Hi All,

I'm using MOTO as mock for AWS for my application and I'm running two instances on remote machine in order to make it available for my dev/qa/CI environments.

The problem we're faceing right now that sometimes the server crushing due to number of threads (Python 2.7 ) known issue or sometimes due to the machine resources.

So we want to automate restarting the MOTO server if anything goe

[2017-07-24 04:49] JackDanger commented on #1020
@rhkiswani We do already have something that will work like a healthcheck at "http://MOTO_SERVER_HOST:PORT/moto-api/data.json" - would that work for you?

[2017-07-24 05:08] JackDanger commented on #956
@LitQ Can you check if this is still a problem? This appears to be fixed in the latest Moto

[2017-07-24 05:33] JackDanger commented on #944
This is now implemented in #1021
Thanks for reporting this!

[2017-07-24 05:56] JackDanger commented on #917
@im-auld  what do you think about @spulec's suggestion here? It sounds like we could get this added so you wouldn't have to customize things

[2017-07-25 19:34] ruivapps opened #1022 "ec2 example code not working"
environment:
    python 2.7.13 (fresh virtualenv)
pip install boto moto:
    boto (2.48.0)
    moto (1.0.1)

I am using example from README as:
#!/usr/bin/env python
import boto
from moto import mock_ec2

def add_servers(ami_id, count):
    conn = boto.connect_ec2('the_key', 'the_secret')
    for index in range(count):
        conn.run_instances(ami_id)

@mock_ec2
def test_add_servers():
    add_s

[2017-07-26 14:28] samfrances commented on #303
I'm still having this issue with moto 1.0.1 and httpretty 0.8.14.

[2017-07-27 06:03] JackDanger commented on #1022
Thanks for this @ruivapps , I've updated the README to use the more recent versions of both Moto and Boto3. Thanks for pointing this out, it's a big help!

[2017-07-27 06:04] #1022 closed

[2017-07-27 11:14] samfrances opened #1026 "@mock_s3 permanently breaks requests library"
At first look, I thought this was a duplicate of https://github.com/spulec/moto/issues/303.

However, on further inspection, the problem is only present with the `mock_s3` decorator, not with the `mock_s3_deprecated` decorator. Therefore, if my inspection of the code base is right, this looks like a problem related to the `responses` library or the use of it in `moto`, whereas https://github.com/s

[2017-07-27 11:32] samfrances commented on #1026
In addition, the tracebacks from the django unit tests themselves confirms that the requests are going through the responses library. For example:

[code]

[2017-07-31 21:23] marcelchastain commented on #1026
I can confirm similar behavior, but using `@mock_s3_deprecated`.
python 2.7.11 OSX
moto==1.0.1

[2017-07-31 21:28] marcelchastain commented on #859
@spulec request we reopen this.
I'm observing this behavior with `mock_s3()` and `mock_s3_deprecated()` in v1.0.1

[code]

and

[code]

[2017-08-02 05:10] bpandola opened #1029 "Redshift create_cluster_subnet_group fails"
Here's the code:
[code]
Here's the exception traceback:
[code]
I was able to track the error down to the `RedshiftResponse.create_cluster_subnet_group()`
 method in `moto/moto/redshift/responses.py`.  Changing the following line:
[code]
to:
[code]
resolves the issue, but I'm worried it might break something else.  I'm happy to take a stab at a PR if someone more familiar with the codebase can give

[2017-08-02 18:49] JackDanger commented on #1029
Thanks for reporting this, @bpandola! You found a way that boto3 and boto deviate in how they send parameters. I've created #1030 to accomodate both clients, please take a look.

[2017-08-02 20:42] #1029 closed

[2017-08-03 17:19] sodastsai commented on #1026
I encountered this bug too.

I believe that this is because this line https://github.com/spulec/moto/blob/master/moto/packages/responses/responses.py#L312 hijacks the `requests` lib's capability to send normal HTTP requests.

https://github.com/spulec/moto/blob/master/moto/packages/responses/responses.py#L309 is patching the `requests` lib in the `botocore` to mock AWS services. But I'm not sure w

[2017-08-03 21:11] bpandola commented on #1029
@JackDanger Thank you for the quick response/patch.  Much appreciated!

[2017-08-04 14:18] muhammad-ammar opened #1033 "mock_s3 not working"
Python version: **2.7.10**

Package versions
[code]
[code]

I am getting the below error on `conn.create_bucket`.

[code]

Any help would be highly appreciated.

[2017-08-04 14:32] fizyk commented on #483
@spulec I got same error when upgraded to moto 1.0.x from 0.4.x although that's not related to docker I'm not sure what happened here....

[2017-08-04 15:38] JackDanger commented on #1033
@muhammad-amar you want to use `@mock_s3_deprecated` if you're using boto. The other one is for boto3

[2017-08-04 18:52] muhammad-ammar commented on #1033
👍  @JackDanger Thanks a lot. This solved my problem.

[2017-08-04 18:52] #1033 closed

[2017-08-05 07:39] #866 closed

[2017-08-08 01:15] austinbyers commented on #1026
Can confirm similar behavior, and I've tried both the decorator and raw usage (explicitly calling `mock.start()` and `mock.stop()`)

[2017-08-08 02:13] austinbyers commented on #1026
A workaround for this is to manually restore the `HTTP adapter` which is mocked out in [`responses.py`](https://github.com/spulec/moto/blob/master/moto/packages/responses/responses.py#L309-L310):

[code]

[2017-08-08 22:28] ndpete opened #1036 "Connection Refused error when running in an AWS Codebuild environment"
I have python code as part of an AWS codepipeline with a codebuild phase responsible for running tests. When tests are run the following error is produced:

```requests.exceptions.ConnectionError: Connection refused: GET http://169.254.170.2/v2/credentials/5b20b383-ddb7-4e80-b5e7-358afc51e4c2```

Full Traceback:
[code]

A simple script to test with:
[code]

Sample Buildspec.yml
[code]

requirement

[2017-08-08 22:42] JackDanger commented on #1036
Can you print the environment that exists when this test runs?
[code]
I'm wondering if there's some kind of endpoint overriding that's going on.

[2017-08-08 23:12] ndpete commented on #1036
I notice that the regions were different with my test script and environment variables so I re-ran with that removed and here is the output of os.environ (I think thats what you wanted as os.environment doesn't exist)

[code]

[2017-08-09 16:20] ndpete commented on #1036
I haven't been able to solve this yet but I'm pretty sure it is related to the Task Roles for IAM, I wonder if moto is mocking too much or if I need to find a way to force it to not use Task Roles for IAM.
[http://docs.aws.amazon.com/AmazonECS/latest/developerguide/task-iam-roles.html](http://docs.aws.amazon.com/AmazonECS/latest/developerguide/task-iam-roles.html)

[2017-08-09 17:16] ndpete commented on #1036
Well I think I've got a workaround for this issue.

When creating a client in Boto3 if you don't specify credentials or you don't have a file in `~/.aws/credentials` and you are running in AWS it will automatically attempt to load the temporary Task Roles IAM credentials. Apparently when using moto it mocks(? or just interferes with) the endpoint to get the Task Roles IAM which causes connection r

[2017-08-09 22:45] pll opened #1038 "boto3.client('ec2').describe_vpcs(Filters=filters) returns an empty set."
moto version: 1.0.1
boto3 version: 1.4.5

Given the following code:
[code]
I get the following results:
[code]

So, the `Filters` option is doing something, but not what is expected. I should end up with a `"Vpcs"` list containing a single VPC definition like this:

[code]

--
Paul

[2017-08-10 14:37] joekiller opened #1040 "moto vs moto-ext"
I noticed that https://pypi.python.org/pypi/moto-ext, used by localstack, points to moto root but I can't find much info on moto-ext's relationship with moto. What is the relationship of moto vs moto-ext and how might they be maintained differently?

Thanks Steve! (and everyone else)

[2017-08-10 16:17] pll commented on #1038
Looks like I have a typo in my example code and the filter is wrong. Fixing the filter results in the correct response.

Sorry for the noise.

[2017-08-10 16:17] #1038 closed

[2017-08-10 17:14] nfons opened #1041 "boto3 sns publish to topic seems to not work as intended"
We have a hard coded SNS topic we send data to, and need to unit test that functionality (in essence, when an error occurs we send an sns notification)

looking at the code here:
https://github.com/spulec/moto/blob/master/tests/test_sns/test_publishing_boto3.py#L15-L27
found from reply in this issue: https://github.com/spulec/moto/issues/979

now i see in code the topic_arn is gotten on the fly...

[2017-08-10 18:17] pll opened #1042 "Feature Request for boto3.client('iam').list_account_aliases()"
Would really like to have this implemented.

Thanks.

[2017-08-10 19:11] BlueBarracuda opened #1043 "mock_dynamodb2 query calls fail with a KeyError when either ExpressionAttributeNames or ExpressionAttributeValues is not passed as a parameter"
moto==1.0.1
boto3==1.4.5
botocore==1.5.94

I'm attempting to test a query against a dynamodb database using the mock_dynamodb2 decorator. When I attempt to execute the following boto3 query:
[code]

I get a key error because I haven't specified the 'ExpressionAttributeNames' parameter. Here is an example:

[code]

This same problem happens when I don't specify the 'ExpressionAttributeValues' param

[2017-08-10 21:14] pll opened #1044 "route53 mock uses incorrect format for HostedZoneId"
Using Moto 1.0.1

[code]

AWS uses this form:
[code]

Not a huge deal. I'm guessing they've changed since the route53 code for moto was written.

[2017-08-11 00:29] thehesiod opened #1047 "[enhancement] Support Lambda Execution via Docker containers"
I think something like this can be used: https://github.com/lambci/docker-lambda

to provide true support for lambda functions...I think right now it expects everything to be in a exec'able string, which means it doesn't support multiple files as noted in https://github.com/spulec/moto/issues/981

[2017-08-11 00:57] thehesiod commented on #877
actually it's critical if you for example use lambdas and hook them up to event sources, the only way to get the logs would be via cloudtrail I believe

[2017-08-11 00:59] thehesiod commented on #508
it's critical if you for example use lambdas and hook them up to event sources, the only way to get the logs would be via cloudwatch I believe

[2017-08-11 01:01] JackDanger commented on #508
@zactimeinc & @thehesiod If one of you wanted to take a stab at starting to implement I'd help out, too! If somebody implements just one endpoints I'm sure we could all pitch in

[2017-08-11 01:03] thehesiod commented on #508
I'm going to see how far I get with my lambda, if moto supports triggering a lambda from an SNS event I'll probably try working on it

[2017-08-11 17:58] gregsterin opened #1050 "Next Pypi release?"
There have been some useful new support / fixes pushed in since last pypi release. will there be a new version soon?

[2017-08-14 20:16] JackDanger commented on #1040
It looks like @whummer created moto-ext. I would guess @whummer made it to avoid having to wait for a moto release.

I suspect we should move Moto to a faster release cadence but that's something that's up to Steve

[2017-08-14 20:17] JackDanger commented on #1040
@spulec what do you think about moving to a faster release cadence? I'd be happy to manage releases and do a tiny patch release for all minor feature additions then leave all minor and major version upgrades to you.
A lot of folks contribute code and immediately need to use the features they've added. Being able to publish a release for them right away would be really helpful to the community, I t

[2017-08-15 04:44] thehesiod commented on #508
started working on it here: https://github.com/spulec/moto/pull/1048

[2017-08-15 05:59] georgepsarakis commented on #1040
@JackDanger some extra information on releases (at least I recently discovered it :smile: ), you could actually automate the release process in [Travis CI](https://docs.travis-ci.com/user/deployment/pypi/#Deploying-tags). When you push a tag (which you can as a collaborator), the PyPI package will be automatically released as well.

[2017-08-15 20:20] martysweet opened #1054 "dynamodb2.put_item exception clarity on missing HASH/RANGE keys on Input body"
The errors thrown from dynamodb2.put_item can be misleading due to the unclear exception catch at https://github.com/spulec/moto/blob/f6fc9c7d54307f77d0cbbf698bab0c3be55ec153/moto/dynamodb2/responses.py#L207-L212, which catches most things within the put_item function call.

This issue covers when a HASH (or RANGE) key is not present in the input Item body which someone wishes to persist to Dynamo

[2017-08-16 00:11] thehesiod commented on #1015
btw I created this: https://gist.github.com/thehesiod/2e4094a1db1190f7e122e7043f1973a0

[2017-08-16 07:35] kawasakitoshiya commented on #1050
I want `mock_elbv2` released.

[2017-08-17 10:51] martysweet commented on #1054
During more playing with the library, looks like `get_item` behaves properly regarding throwing a ValidationException when required.

[2017-08-18 02:22] rocky4570 commented on #1050
+1 on this - the last release on pypi is 2017-06-04.

[2017-08-18 05:54] kawasakitoshiya opened #1062 "In some case, elbv2 target group mock might not work well"
## Reporting Bugs
I will look for the cause for this error.
[code]

created like this
[code]
And Names filter of describe_target_groups seems not working
[code]

[2017-08-18 05:56] toshitanian opened #1063 "message from sns to sqs must be enveloped"
message from sns to sqs must be enveloped

I will make a PR.

[2017-08-18 06:26] kawasakitoshiya commented on #1062
[code]

[2017-08-18 15:45] kawasakitoshiya commented on #1062
Merged. close this issue.

[2017-08-18 15:45] #1062 closed

[2017-08-19 13:03] 2mf opened #1068 "RDS2 is unusable if hostname is an IP address instead of an domain name"
We are using moto in a dockerized environment __without__ any domains just bare IP's for local development and testing.
We won't do anything hackisch regarding boto or /etc/hosts file as this causes other problems.

The IP address is in my case "172.17.0.1" for the server, port doesn't matter.

Moto is mocking AWS that is right, but we can not relay in every situation on the **HTTP "Host" header**

[2017-08-19 21:13] spulec commented on #1040
Completely agree that this needs to get fixed (especially with me having less time to work on the project lately).

This came up in the past with https://github.com/spulec/moto/issues/640

I like that solution so that people can use their changes right away.

Even with that though, I think we will need to come up with a strategy for more frequent 'real' releases. @JackDanger happy to add you on Py

[2017-08-19 22:00] JackDanger commented on #1040
@spulec I'm "jackdanger" on PyPi. My day to day is building https://opsolutely.com with heavy support from Moto so I plan to be in the thick of things for the indefinite future and I'm happy to handle all the small, low-latency issues like this. 👍

[2017-08-21 03:25] justinsr20 commented on #1050
+1 on this, would like to use the new rds start stop without having to patch requirements file

[2017-08-21 04:55] toshitanian commented on #1050
discussion seems to be under here : https://github.com/spulec/moto/issues/1040

[2017-08-21 05:14] mrigankt opened #1069 "storage change to hardisk from memory"
we need to change the storage of everything to hardisk in place of ram so that the data is not lost after the reboot. How to do that which file to tweak for the same.

[2017-08-21 06:23] toshitanian opened #1070 "elbv2 modify_rule should change attributes partically"
## Reporting Bugs
When only Conditions is specifies, Actions should not be empty. Now the method is implemented to be so.

### Spec
Either Actions or Conditions is specified, modify partially
Both is specified modify boto

[2017-08-21 09:14] abadyan-vonage opened #1071 "dynamodb2.update_item & delete_item ignore ConditionExpression for items that don't exists"
Using a table with 1 hash key named id, trying to make the following update_item which should only happen when the item exists:

`table.update_item(Key={"id": msg_id},
                                                 UpdateExpression= "set #text = :updated_text, #lastModified = :lastModified, #status= :status",
                                                 ConditionExpression="id = :msg_id",

[2017-08-21 20:27] JackDanger commented on #1069
To do this correctly we would have to change almost all of the Moto source code. But you might be able to get what you want by pickling (`pickle.dumps`) `moto.backends.BACKENDS` to a string and storing that in a file. Then, when you need to restore the previous state you can `pickle.loads` the contents of the file and restore the `moto.backends.BACKENDS` data.

[2017-08-21 23:52] dlutsch opened #1075 "NotImplementedError: Filter dicts for 'network-interface.private-dns-name'"
In trying to make a describe_instances call to ec2 I'm getting the following error:

NotImplementedError: Filter dicts have not been implemented in Moto for 'network-interface.private-dns-name' yet.

[2017-08-22 00:23] #1070 closed

[2017-08-22 00:23] #1063 closed

[2017-08-22 12:49] jgrobbel commented on #715
Looks like some basic support is already in (I am looking at scan but query also has some).
https://github.com/spulec/moto/blob/master/moto/dynamodb2/responses.py#L422
https://github.com/spulec/moto/blob/master/moto/dynamodb2/models.py#L445

`self.body.get('ScanFilter', {})` always returns the default {}. Perhaps that needs hooking up?

[2017-08-23 08:41] JackDanger commented on #1075
Fixed thanks to your work, @dlutsch !

[2017-08-23 08:41] #1075 closed

[2017-08-23 09:52] toshitanian opened #1079 "Support `raw message delivery` of messaging from sns to sqs"
# boto3
http://boto3.readthedocs.io/en/latest/reference/services/sns.html#SNS.Client.set_subscription_attributes

# API doc
### get_subscription_attributes
http://docs.aws.amazon.com/sns/latest/api/API_GetSubscriptionAttributes.html

### set_subscription_attributes
http://docs.aws.amazon.com/sns/latest/api/API_SetSubscriptionAttributes.html

# how to set the value
 `raw message delivery`
http://do

[2017-08-24 05:40] mrigankt opened #1080 "change endpoint url"
we are using some third party  application for dynamodb and s3 due to localstack limitation of saving data in memory. we need to change the end point url in localstack to 3rd party url so that lcalstack can fetch data from third party in place of local stack in built services.  we also want to set those 3rd party application as lambda trigger in loclastack. please let us know how to do it and whic

[2017-08-25 18:42] dlutsch commented on #1040
Any update on when we might be seeing the next release?

[2017-08-25 22:24] JackDanger commented on #1040
@spulec If you add 'jackdanger' on PyPi I'll release a new version for us

[2017-08-26 02:19] spulec commented on #1040
done!

[2017-08-26 04:58] JackDanger commented on #1040
@dlutsch @georgepsarakis @joekiller @spulec I've just released a new minor version that captures the last two months of community contributions: [1.1.0](https://github.com/spulec/moto/tree/1.1.0)

When new endpoints are added or bugs are fixed I'll bump the patch version and release incrementally.

I'll be offline next week but back after September 6th. Thanks for making all of this possible, @spu

[2017-08-26 04:58] #1040 closed

[2017-08-26 06:39] toshitanian commented on #1042
will be available after #1088  is merged.

[2017-08-26 07:01] toshitanian commented on #1041
master is updated, and link to lines seems to be incorrect. this is the link for tag 1.0.1 : https://github.com/spulec/moto/blob/1.0.1/tests/test_sns/test_publishing_boto3.py#L15-L27

[2017-08-27 19:39] ssolari opened #1091 "1.1.x broke update_expression in mock_dyanmodb2"
Problem
======

1.1.x seems to have introduced a change that cause exceptions using mock_dynamodb2 that work fine with 1.0.x.

Issue
====

It appears that the check for expression operators was changed to only accept UPPERCASE.  Both lowercase and UPPERCASE are valid however.

Example Error
===========

[code]

[2017-08-28 20:15] ruivapps opened #1093 "1.1.x breaks mock_cloudformation_deprecated"
## Reporting Bugs

Please be aware of the following things when filing bug reports:

1. Avoid raising duplicate issues. *Please* use the GitHub issue search feature
   to check whether your bug report or feature request has been mentioned in
   the past.
2. When filing bug reports about exceptions or tracebacks, please include the
   *complete* traceback. Partial tracebacks, or just the exception

[2017-08-28 20:16] #1093 closed

[2017-08-28 20:20] ruivapps opened #1094 "1.1.1 update breaks @mock_cloudformation_deprecated"
we are still using @mock_cloudformation_deprecated for cloud formation (boto2)
everything works on 1.0.1, but once update to 1.1.1
we receive error on create stack on cloud formation

this is our deploy code:

        c = CloudFormation(self.parameters['aws_access_key_id'],
                           self.parameters['aws_secret_access_key'],
                           self.parameters['region'])

[2017-08-30 05:24] mikegrima opened #1095 "Pytest fixtures break STS if dynamodb is mocked first"
I have encountered a very bizarre bug with pytest fixtures and Moto that is difficult to debug (and find the root cause of -- still haven't gotten there yet):

With the following versions:
Python: 3.6.2
OS: macOS Sierra
boto3: 1.4.7 (Newest versions also affected)
botocore: 1.7.0 (Newest versions also affected)
moto: 1.0.1 (Newest version also affected)
pytest: 3.1.3 (Newest version also affected)

[2017-08-30 16:50] mikegrima commented on #1095
Doing some more digging, found something odd:
[code]
^^ This is in https://github.com/spulec/moto/blob/master/moto/dynamodb2/responses.py

[2017-08-30 17:06] boompig opened #1096 "mock SQS AttributeError: 'NoneType' object has no attribute 'wait_time_seconds'"
moto version: 1.0.1
boto3 version: 1.4.6

Error trace:
[code]

My understanding is boto expects the `wait_time_seconds` to be set at the queue and tries to fetch this setting. Since the queue is being mocked, the setting is never fetched. I could be wrong, though.

[2017-08-30 17:08] boompig commented on #1096
On a second look, it looks like moto expects these values to be set in the `client.receive_message` parameters. This is also true of `visibility_timeout`.

[2017-08-30 17:17] boompig commented on #1096
I have confirmed that this error does not occur when these values are explicitly specified like so:

[code]

but this code produces the error for me:

[code]

[2017-08-30 17:20] mikegrima commented on #1095
I think I found the issue:
[code]
^^ This is in: https://github.com/spulec/moto/blob/master/moto/dynamodb2/urls.py

[2017-08-30 17:27] mikegrima commented on #1095
#1097 Fixes this for me internally.

[2017-08-30 18:04] luispollo opened #1098 "Moto allowing CloudFormation service requests to go thru boto"
I'm new to using moto so please let me know if I'm doing something wrong, but I could not find any guidance in the docs or similar previously opened issues.

The issue I'm having is that I'm trying to mock CloudFormation calls using the boto3 service interface, but apparently moto is letting those calls through:

[code]

My test code:
[code]

And an excerpt of the applicable method definition:
[co

[2017-08-30 18:26] luispollo commented on #1098
P.S. If it helps, I can see that both my instance of the boto3 client for cloudformation, as well as the resource service, are actual boto objects. Not sure if that's expected. There must be something obvious I'm missing...

[code]

[2017-08-31 04:08] luispollo commented on #1098
Additional info: I've tested with python 2.7 and 3.6 on both Windows and Debian Jessie with the same package versions, same results. Tried several variations of starting the mocks (decorator, raw, etc.). Tried just a simple test calling an arbitrary API on the boto3 client for both cloudformation and ecs. All calls resulted in actual HTTP requests to AWS.

Is there any known "gotcha" with library

[2017-08-31 13:22] luispollo commented on #1098
Never mind. My fault misinterpreting the results. Moto is doing its job, but I should have payed attention to the error and the stack trace. The problem is that it's looking for keys in the CloudFormation template that were missing in my case, but that are not mandatory per the AWS spec (or boto3 API). I'll submit a separate issue for that, and a PR to fix it if I have a chance.

[2017-08-31 13:22] #1098 closed

[2017-08-31 17:46] johncalvinyoung commented on #933
@spulec any hope of getting a way to do this in standalone server mode? I'm using `moto` with a Rails app and test suite, and we're depending on last-modified logic for some tests I'd love to do in moto.

[2017-08-31 19:25] johncalvinyoung commented on #564
@spulec Could you document what changed here? I found this issue after experiencing something very like it on Moto 1.0.1--I figured out before I resubmitted the bug that if I turned on `force_path_style: true` in the AWS SDK for Ruby (2.10.7) it'd work with moto standalone, but without it it would always time out on networking attempting to create a larger bucket. I'm not as familiar with the beha

[2017-08-31 20:26] thehesiod opened #1100 "better response mocking"
currently when you enable in-proc mocking it causes all request responses to fail if it doesn't match an implemented AWS endpoint because `pass_through` is `False`.  Instead it should allow all non AWS endpoints to pass through.  This is causing an issue in my PR (https://github.com/spulec/moto/pull/1048)  because I try to use the docker client and its requests end up responding with connection er

[2017-09-01 09:06] chrisLeeTW opened #1102 "/moto-api/ not working correctly."
### situation 1 : /moto-api/ return 500
**moto[server] version : lastest master branch
startup command : moto_server -H 0.0.0.0 -p 3000**

**here is error traceback**
[code]

### situation 2 : /moto-api/ return 404
**moto[server] version : lastest master branch
startup command : moto_server -H 0.0.0.0 -p 3000 ec2**

there is no error traceback.

[2017-09-01 11:04] elbeanio commented on #1100
I've worked around this by just importing and using responses directly. Passthrough might be useful in some situations but most of the time I want all http calls mocked.

[code]

[2017-09-01 13:29] ruivapps commented on #1094
just fond the broken part.

1.0.1 has no problem with
AvailabilityZone": {
      "Default": "us-east-1b",
      **"Type": "AWS::EC2::AvailabilityZone::Name",**
      "Description": "Availablity zone used for the bridge"
    },

but 1.1.1 seems have issue with it.
by change the Type to "String", everything works fine

[2017-09-04 11:38] fisele opened #1105 "SQS Fifo support"
Hi!
Currently I'm working on a Service that pops messages from a sqs fifo queue.
In my integration test, I am mocking the AWS services like this:

[code]

In my understanding, the assert in line 13 should not fail. But it does. The attribute FifoQueue is not set neither exists. However, if I run the test without mocks, directly on AWS services, the attribute exists and is true.

Is moto (my versio

[2017-09-05 04:22] chrisLeeTW opened #1106 "elbv2 is not working in stand-alone server mode"
create elbv2 load-balancer need security group & vpc subnet, which is mock by ec2.

but stand-alone server mode only can mock one service at a time ?

any workaround or advice will be appreciated.

[2017-09-05 07:18] toshitanian opened #1107 "Support creating resource of elbv2 through cloudformation"
Now it's not supported
[code]

[2017-09-05 23:55] thehesiod opened #1108 "switch server mode to proxies"
botocore just added support for specifying proxy servers.  It seems like it would be better to switch to using a single proxy, then specifying the endpoint_url, as it would require fewer changes on the client, and could support multiple services from a single endpoint.  Could also solve the url parsing issue with aws region(s).

thoughts?

[2017-09-05 23:55] mikegrima opened #1109 "S3 GetBucketLifecycleConfiguration does not return proper error"
AWS's API returns an HTTP 404 if an S3 bucket does not contain a lifecycle configuration. The error message returned by the API is a `NoSuchLifecycleConfiguration`.  However, it needs to be returned as an XML object as defined here: http://docs.aws.amazon.com/AmazonS3/latest/API/ErrorResponses.html.

In https://github.com/spulec/moto/blob/master/moto/s3/responses.py#L191, because this is not an XM

[2017-09-06 00:13] mikegrima commented on #1109
Fixed in #1110

[2017-09-06 20:15] kefo opened #1113 "request.body should be request.data?"
I'm using `moto_server glacier` (or trying to) and repeatedly saw the following stack trace from `moto_server` whenever I tried to create a glacier archive:

[code]

After altering the request 'body' on the client side, I finally started to look deeper at the `moto` code. This line, which is causing the error above, calls `request.body`:

https://github.com/spulec/moto/blob/master/moto/glacier/res

[2017-09-07 00:25] dlutsch opened #1114 "Add support for acm"
Currently moto does not have support for the ACM endpoints. This is a request to add that functionality.

http://boto3.readthedocs.io/en/latest/reference/services/acm.html

[2017-09-07 17:27] mikegrima commented on #1109
@spulec : My PR should be good to go. Please let me know if additional work is required.

[2017-09-07 18:25] #1095 closed

[2017-09-07 18:30] #1109 closed

[2017-09-07 18:40] JackDanger commented on #1094
@nadlerjessie Could you take a look at this? This is something that you're pretty good at and it's a bit over my head

[2017-09-07 19:08] JackDanger commented on #1106
@chrisLeeTW Can you share the code that's not working? All of AWS should be able to be mocked all at the same time both in standalone server mode and in the in-memory mode

[2017-09-07 19:48] JackDanger commented on #1108
@thehesiod This sounds like a great idea to me.

[2017-09-08 02:16] chrisLeeTW commented on #1106
@JackDanger I use moto in stand-alone server mode,
and startup command is : `moto_server -H 0.0.0.0 -p 5002 elbv2`

And I using awscli to create elbv2 resource. first I try this command without luck.

`aws --endpoint-url=http://localhost:5002 elbv2 create-load-balancer --name test-alb`

error response is `aws: error: argument --subnets is required`

So I realize that I need to create vpc & securit

[2017-09-08 14:34] gkiar opened #1118 "KeyError when making successive calls"
First of all, here is the [CI report demonstrating my error](https://travis-ci.org/gkiar/clowdr/builds/273316657).

I noticed that when performing successive calls (i.e. create IAM role, modify that IAM role), there doesn't seem to be any "memory" of my previous calls on the mock server (i.e. the IAM role doesn't exist) and I get a KeyError. An example of this, which caused the test failure above,

[2017-09-08 21:04] rofinn opened #1119 "Support for AWS Batch API"
I don't currently have time to work on this, but it'd be nice if moto could support the [AWS Batch](http://docs.aws.amazon.com/batch/latest/APIReference/Welcome.html) API.

[2017-09-08 21:24] gregsterin commented on #1050
yay new releases https://pypi.python.org/pypi/moto/. Closing.

[2017-09-08 21:24] #1050 closed

[2017-09-11 10:39] dablak opened #1125 "Requesting a direct URL for private Objects should generate a 403 response"
Example code of a failing test:

[code]

The ACL is set to private for the Bucket and the Object but then it's not being checked during the GET request.

[2017-09-11 19:22] brianrower opened #1126 "Dynamodb2 update_item does not support ADD attribute update for string sets"
When if doing an "ADD" to a string set, moto's dynamodb2 raises NotImplementedError:
"NotImplementedError: ADD not supported for SS"

Example code:

table.put_item(Item={
        'forum_name': 'the-key',
        'subject': '123',
        'string_set': set(['str1', 'str2']),
    })

table.update_item(
        Key=item_key,
        AttributeUpdates={
            'string_set': {
                'Acti

[2017-09-11 22:14] dbfr3qs opened #1129 "Dynamodb2 put_item does not raise validation exception for attribute values set to empty strings"
When adding an item to a dynamodb table in AWS with an empty attribute a ValidationException is returned. For example using the following code (with a very simple table, in this case ServerClass is the primary key, and Designation in item is set to ""):

[code]

returns
[code]

However, running the same code with moto results in no exception, and completes successfully, e.g.:

[code]

moto version

[2017-09-12 07:46] blacar opened #1131 "Add IAM User/key configuration"
This tool is amazing, thanks for it.

Is there any way to configure users/keys so I can test authentication is denied using wrong key par?

[2017-09-13 20:55] oharaandrew314 opened #1136 "Lambda cannot get_function if created with a ZipFile"
If you create a lambda with `create_function` while providing the code with the `ZipFile` argument, then getting the function with `get_function` will result in an error:

[code]

To reproduce, in`tests/test_awslambda/test_awslambda.py:test_create_function_from_zipfile`, just add the line `conn.get_function(FunctionName='testFunction')` to the end of the test and you'll get the error.

This should

[2017-09-13 22:24] #766 closed

[2017-09-14 00:26] dbfr3qs commented on #1026
I'm having this issue as also. I'm pretty sure the problem occurs when you use more than one mock from moto, for example decorating a test with mock_s3 and mock_lambda. My guess is something is going on with disabling patching. This will fail:

[code]

[code]

Both tests will pass when removing the @mock_apigateway decorator.

[2017-09-14 02:21] dbfr3qs opened #1139 "Add invoke_async to aws lambda"
Currently the invoke_async function has not been implemented. I've created a [PR](https://github.com/spulec/moto/pull/1138) with a possible implementation, which essentially just wraps the invoke function.

[2017-09-14 19:51] oharaandrew314 opened #1142 "Add add_permission to lambda"
Lambda is missing the `add_permission` method.  I'm more concerned about my test not hitting any errors when executing the call rather then permissions actually being respected.

What do you guys think about me implementing the method while ignoring handling permissions on `invoke`?

[2017-09-14 20:25] JackDanger commented on #1142
It's not rare for us to implement an endpoint to do just a little of the actual feature and then leave TODOs for ourselves to finish it later. As long as the endpoint is in the right direction toward a full implementation then it's okay to not go all the way with it.

[2017-09-14 20:27] oharaandrew314 commented on #1142
Sounds good to me!

On Sep 14, 2017 4:26 PM, "Jack Danger" <notifications@github.com> wrote:

[2017-09-15 04:05] dbfr3qs commented on #1136
I have submitted a fix for this [here](https://github.com/spulec/moto/pull/1144).

[2017-09-15 04:06] #1129 closed

[2017-09-15 04:06] #1139 closed

[2017-09-15 21:14] dbfr3qs commented on #1136
This is now fixed in Moto version 1.1.8.

[2017-09-15 21:24] oharaandrew314 commented on #1136
Judging by the unit test, it looks like that should fix it.  Thanks!

[2017-09-15 21:24] #1136 closed

[2017-09-16 08:58] chrisLeeTW commented on #1106
according the source ( https://github.com/spulec/moto/blob/master/moto/server.py#L163 )

Service argument only accept assign one time.

So I really do not know how to mock all the services at the same time in stand-alone server mode.

Any idea will help. thx.

[2017-09-16 11:29] JackDanger commented on #1106
If you run `moto_server` without specifying a service then it operates like all services together. This worked for me on the latest Moto:

[code]

[2017-09-16 11:31] JackDanger commented on #1131
@blacar Right now Moto doesn't do any checking of aws access keys and secrets at all. What would you imagine that API might look like? I can see how it would be handy.

[2017-09-16 11:31] #1126 closed

[2017-09-16 12:34] chrisLeeTW commented on #1106
@JackDanger Really Thanks. It's works. sorry for the misunderstanding.

[2017-09-16 12:34] #1106 closed

[2017-09-16 13:10] JackDanger commented on #1125
@dablak Thanks for pointing this out (and for writing a failing test case!). I've implemented a portion of S3 ACL checking here: #1151

It's just a start so please extend it to fit your needs.

[2017-09-16 13:25] JackDanger commented on #1118
I checked out gkiar/clowdr but couldn't get the tests running locally in a virtualenv. Can you provide a way to run tests outside Travis for folks who want to help you debug this?

[2017-09-17 03:17] JackDanger commented on #1125
This is now fixed on master

[2017-09-17 06:01] nuwang opened #1155 "Future enhancement: Provide utility class for querystring handling"
This issue is a tracking issue for a proposed future enhancement. It's a continuation of a discussion in the PR here: https://github.com/spulec/moto/pull/1152

Currently, there's still a fair amount of duplication in querystring parameter handling logic.  (e.g. in ec2.util - filters_from_querystring, tags_from_query_string, dhcp_configuration_from_querystring, dict_from_querystring, tags_from_quer

[2017-09-17 21:57] dbfr3qs commented on #1142
I would suggest also implementing the remove_permission function as well, the two functions could just keep track of the state of the permission, which might just be a dumb class or dictionary - as long as it includes the StatementId.

[2017-09-17 21:58] oharaandrew314 commented on #1142
@dbfr3qs I did so in #1143, but I was having trouble with the URLs in server mode.

[2017-09-17 22:35] dbfr3qs commented on #1142
I have made a suggestion no that PR. Let me know if it helps. I am happy to help if I can.

[2017-09-18 15:37] oharaandrew314 commented on #1036
@ndpete 's first method worked for me.

[2017-09-18 22:33] terrycain opened #1159 "Question: Official docker image"
Its late and I'm probably overlooking something but do you have an image on DockerHub that's built direct from this repo's Docker file? If I am right and there is not one, is there a reason why not other than no one has set it up?

[2017-09-18 23:07] JackDanger commented on #1159
I don't believe we have one and it would be super useful to have one. Please feel free to make one!

[2017-09-19 00:39] dbfr3qs commented on #876
Was any progress made on this?

[2017-09-19 00:44] dbfr3qs commented on #1159
Could a docker build and publish step be added to the Makefile?

[2017-09-19 01:04] JackDanger commented on #1159
@dbfr3qs It sure could. I don't know how we'd manage Dockerhub credentials and all that but we could make pushing a new image part of the release process

[2017-09-19 01:36] dbfr3qs commented on #1159
How does make publish get run?

[2017-09-19 02:22] JackDanger commented on #1159
I do it manually on my laptop and I then get my PyPi credentials out of 1Password every time. It's not a great solution but it's working so far for me. I suppose we could set up a DockerHub organization that at least I have write access to and then docker images would be built and published there.

@spulec, do you have any opinions on publishing a DockerHub image on release?

[2017-09-19 03:33] dbfr3qs commented on #1159
You could maybe run the publish step in travis CI based off a tag being set (like when creating a release), maybe use the TRAVIS_TAG environment variable somehow. If TRAVIS_TAG=release make publish. Perhaps use travis's encrypted environment variables for credentials for docker and pipit (I haven't done any of this using travis, but it looks like a possibility).

[2017-09-19 07:41] terrycain commented on #1159
Will do, will also redo the docker file to use alpine if thats alright, should be able to get the download size to around 40mb from 300.

[2017-09-19 07:59] terrycain commented on #1159
You can I believe just link dockerhub with github and it github notifies it to build.

[2017-09-19 08:02] terrycain commented on #1159
And sorta off topic, you can add something like the following to get travis to publish to pypi when you tag a commit
[code]

[2017-09-19 09:21] dbfr3qs commented on #1159
@terrycain excellent! @JackDanger there is room there to further automate the deployment to Pypi, if you are so inclined, using the approach @terrycain has mentioned, which is documented [here](https://docs.travis-ci.com/user/deployment/pypi/).

[2017-09-19 14:35] gkiar commented on #1118
Hey @JackDanger - thanks for taking a look. The following commands will install the tool and run the tests within a fresh `python3.6` virtualenv. Note that I'm checking out the specific commit which left these tests in (I removed them now to stop getting the annoying "tests failing" message while I figure out moto...)

[code]

The `pytest` command runs my tests, and we find that the 1 cloud test (

[2017-09-19 17:34] kingbuzzman commented on #1026
I can confirm using `@mock_iam` as well.

[2017-09-19 18:41] terrycain opened #1162 "Bug: DynamoDB table doesnt exist, then hangs"
[This](https://github.com/spulec/moto/blob/master/moto/dynamodb2/responses.py#L298) `table` variable ends up being `None`.

We should have a check [here](https://github.com/spulec/moto/blob/master/moto/dynamodb2/responses.py#L284) which returns a table not found if its None.

I'll PR it eventually if no one else beats me to it, but am deep down the rabbit hole with other stuff atm.

Stacktrace
[co

[2017-09-19 19:20] toshitanian opened #1163 "Initialize script for service/operation like scaffold in Ruby on Rails"
Making a script like RoR's scaffold.
https://github.com/toshitanian/moto/tree/feature/scaffold

Implementing new operation of boto3 to moto3 is done by:

adding function, which name s same as boto3's, to models.py and responses.py
adding response template
adding test of service
etc...
We can make it more effective by making a script like RoR's scaffold. It'll generates appropriate functions and te

[2017-09-19 20:22] JackDanger commented on #1118
Thanks for your help @gkiar. I got the tests running and I found the problem. The `AWSBatchServiceRole` does not exist in Moto. The built-in AWS-managed policies are not present so you'll have to add that policy first and then reference it.

I'm working on a fix so that these can be autogenerated in the repo.

[2017-09-19 21:03] JackDanger commented on #1118
@gkiar Please take a look at #1165

With that change I get a much more interesting test failure on clowdr:

[code]

[2017-09-19 21:59] gkiar commented on #1118
Hey @JackDanger thanks for the update - it looks like, despite the verbose outputs above, all the other tests are passing (as indicated by the final line and the spurious `.`s throughout), and now we're getting a `connection refused` error as clowdr is trying to access s3/it seems the moto session isn't being activated?

How would you interpret the above?

[2017-09-19 22:07] JackDanger commented on #1118
Luckily I think this is as simple as needing a `@moto.mock_s3` before the test method

[2017-09-19 22:09] #1162 closed

[2017-09-19 22:20] gkiar commented on #1118
I thought so as well - next chance I get I'll test it from your fork of moto and will report back.

[2017-09-20 13:36] alekna commented on #876
AFAIK, no.

[2017-09-20 14:02] nadlerjessie commented on #1094
Sorry for the delayed response on this.

@ruivapps Can you please let me know what `clean_json({'Fn::GetAtt': ['Subnets']}, resource_map)` evaluates to? If I am reading your error correctly, it looks like it will be an empty list in `1.1.1`. I'd be curious to see what the results are for both versions `1.0.1` and `1.1.1`. Thanks!

[2017-09-20 14:48] ruivapps commented on #1094
when I am testing it again. with moto 1.1.11
I no longer see the problem

[2017-09-20 15:36] anders33 opened #1168 "Can't read from S3 bucket after setting ACL='public-read' when creating the bucket."
Problem reading from s3 bucket after issue #1125 was solved.
This problem seems to be ralated to issue: Setting S3 bucket ACL has no effect #798

Test code:
[code]

[2017-09-21 02:09] JackDanger commented on #1168
Thanks for finding this! Fixed in #1169

[2017-09-21 02:10] #1118 closed

[2017-09-21 09:23] anders33 opened #1170 "S3 presigned url gives 403 error"
When trying to access data with a pre-signed, a 403 is returned.
Setting ACL='public-read' on the object give 200, when accessing the data.
Related to issue  #1125

[code]

[2017-09-21 10:25] lleontop opened #1171 "Moto opsworks fail to create a layer with the same name under different stack"
Hi,

I am trying to create a couple of stacks with some test layers for each stack but I am getting the exception **There is already a layer named "test_layer_1" for this stack** as soon as I create a layer with the same name under different stack. The code I am using is in /1/. It seems that in https://github.com/spulec/moto/blob/5fc87f8b2bcbce6c7f7e52d58c36ad3e7f4ead03/moto/opsworks/models.py#L4

[2017-09-21 15:42] gkiar commented on #1118
Hi @JackDanger - this PR resolved the issue described above, so thank you for that! I am now facing a different (but similar) issue which is that `batch` does not exist in `moto`... I'll open a new issue for discussion there, as they are unrelated.

[2017-09-21 15:48] gkiar commented on #1119
Recently, @JackDanger added support for all AWS managed policies (addressing https://github.com/spulec/moto/issues/1118), including BatchServiceRoles which I have been using in my tests.

What would be the engineering-cost to support the Batch API, at least basic functionality therein (such as creation of env/queue/jobdef/jobsubmission)?

An example of my current (at time of posting) test setup an

[2017-09-21 17:56] JackDanger commented on #1168
This is now fixed in Moto 1.1.12

[2017-09-21 18:00] JackDanger commented on #1170
This is now fixed in Moto 1.1.12

[2017-09-21 18:02] JackDanger commented on #1171
@lleontop This is a really helpful bug report! Do you mind trying to implement a failing test case for this from the code you have here? I believe it would fit best around here: https://github.com/spulec/moto/blob/master/tests/test_opsworks/test_layers.py#L21

[2017-09-21 18:06] JackDanger commented on #1119
@gkiar Because all of us contributing to Moto have limited time the way it's worked best is if somebody implements just the slimmest, most barely-working version of some API endpoints that they need and then leaves TODOs for other folks to pick it up from there. It's seemed like everybody has time to push things just one step forward but none of us quite have the energy to spend a day (or more) ta

[2017-09-21 18:08] gkiar commented on #1119
Sounds great - I'll chug along on this when I find the bandwidth and open a PR :)

[2017-09-21 20:34] terrycain commented on #1114
What functions do you need right away?

[2017-09-21 21:27] DonavanFritz opened #1175 "EC2 Instances in VPC do not get IPs that match the VPC Subnet"
When creating an EC2 instances inside of a subnet with moto, the IP addresses that the instance gets assigned does not align with the subnet that the instance is being launched in.  Additionally, when setting the subnet attribute `MapPublicIpOnLaunch` to `True`, the value is not respected when the instance is launched in said subnet.

Here's a script to easily reproduce:

[code]

The output I got

[2017-09-21 23:52] terrycain commented on #1175
[This](https://github.com/spulec/moto/blob/master/moto/ec2/models.py#L2194-L2208) is the function that creates and stores a subnet. I would do some IP checks there to ensure the subnet cidr is within the vpc cidr.

[This](https://github.com/spulec/moto/blob/master/moto/ec2/responses/instances.py#L52-L57) function creates the instance.

[This](https://github.com/spulec/moto/blob/master/moto/ec2/mod

[2017-09-22 09:25] anders33 commented on #1170
Tried with Moto 1.1.12 and the problem still exists.
The presigned url can't be opened if the ACL is set to 'private'

[2017-09-22 13:53] terrycain commented on #1155
Continuing from that, it would probably make sense to provide something like a TagContainer type class which deals with all the tag logic (including that tags dont need values) as I'm pretty sure the tag logic is the same throughout AWS

[2017-09-22 14:14] toshitanian commented on #1155
It would be good if we make a document for development.

[2017-09-22 17:10] #696 closed

[2017-09-22 17:29] JackDanger commented on #1170
Looking into it

[2017-09-22 18:09] #1170 closed

[2017-09-22 19:45] terrycain commented on #1105
Should be fixed when the linked PR is merged and released.

[2017-09-22 19:57] terrycain commented on #1079
Try the latest version, should be fixed

[2017-09-22 20:23] #1105 closed

[2017-09-22 20:29] mikegrima opened #1181 "S3 PutBucketTagging moto bug if only 1 tag is supplied"
As it turns out, if you only supply 1 tag in the `s3.put_bucket_tagging()` operation, the `_bucket_tagging_from_xml()` in S3's`responses.py` breaks because the data type is a `dict` and not a `list` apparently.

I'm going to submit a PR to fix very soon.

[2017-09-22 20:36] mikegrima commented on #1181
Fix in #1182

[2017-09-22 22:52] terrycain commented on #1006
Have started on X-Ray support. Do you have anything that generates decent X-Ray data as I could do with some "real world" data to mock it out right

[2017-09-22 22:52] terrycain commented on #1044
^^ Should fix that

[2017-09-22 23:00] terrycain opened #1185 "Coveralls Bugs"
Ok firstly, coveralls needs to be re-oauth'd to github as you cant actually view line by line coverage on there.

Secondly, it spams more than once per commit. We could do with it not doing that. It appeared 3 times earlier, ideally we want all 4 test runs to merge into 1 notification as the coverage is global across the 4 runs as its all the same codebase.

[2017-09-22 23:57] hwine commented on #1006
I don't -- for my use case, I'd just be happy if the calls were intercepted by moto so boto doesn't try to connect to AWS during testing :)

[2017-09-23 06:46] terrycain commented on #1006
Ahh no problem, should be done soon then :smile:

[2017-09-25 07:34] blacar commented on #1131
Hi, @JackDanger In terms of API I imagine it will look like the authentication AWS S3 API. In terms of usage probably it will need some configuration either in memory or file where to store credentials and secret to check. I question because there are other products holding these features (e.g. minio, zenko, ...) I know moto use case is different but still covering the most of the S3 API sounds li

[2017-09-25 11:06] terrycain commented on #1006
Ahh just thinking about this. Does your app directly make calls to the Xray service using boto3? As the AWS xray client by default just throws UDP packets to a local daemon which then sends batches to the AWS service. If the latter then you'll need to point the aws xray daemon to a moto server.

[2017-09-25 12:03] lleontop commented on #1171
@JackDanger Hi, I have created the test case and the fix for this case here: https://github.com/spulec/moto/pull/1188

[2017-09-25 19:38] hwine commented on #1006
No, I'm using [racker/fleece](https://github.com/racker/fleece) (see [docs](https://github.com/racker/fleece#x-ray-integration) and some [additional notes about X-Ray](https://github.com/racker/fleece/pull/45#issuecomment-317906853)).

n00b question - does that mean I would need to change to using ``moto`` in standalone mode?

[2017-09-25 20:06] terrycain commented on #1006
Yeah it sounds like fleece will monkeypatch the aws-xray sdk into the botocore library (which will then be able to trace anything your app then does). But the way xray works is a daemon runs on a port, it gets loads of udp segments from your lambda then the daemon uploads bulk segments into xray.

Moto doesnt mock the dameon that xray would post to, only what the daemon would then bulk upload to.

[2017-09-25 20:20] gavinmh opened #1189 "Sending SMS via SNS is not mocked; ARN is required"
[code]

Example:
[code]

Expected:
Return a dictionary per http://boto3.readthedocs.io/en/latest/reference/services/sns.html#SNS.Client.publish

Actual:
[code]

[2017-09-25 20:58] #1171 closed

[2017-09-25 21:06] #1181 closed

[2017-09-25 21:10] #1163 closed

[2017-09-25 22:03] terrycain commented on #1189
Will look into it

[2017-09-25 22:11] terrycain opened #1192 "Question - Authorization header parsing"
Am getting an IndexError here - https://github.com/spulec/moto/blob/master/moto/core/responses.py#L171-L172

After debugging im sending `AWS xxx:PDcSm14U3qk7EHxFB01rchMDsME=` which lines up with this - https://docs.aws.amazon.com/AmazonS3/latest/dev/RESTAuthentication.html

In this doc - https://docs.aws.amazon.com/AmazonS3/latest/API/sigv4-auth-using-authorization-header.html - we should only che

[2017-09-25 22:42] terrycain commented on #1189
@JackDanger can I get permissions to tag issues, have confirmed this is a bug.

Have found the offending code. As publishing with SNS matters, will need to add the ability to look up phone numbers linked to topics, get the topic arn then we'll be good.
[code]

[2017-09-25 22:46] #1192 closed

[2017-09-25 23:36] JackDanger commented on #1189
@terrycain Sadly, that's not something I have the ability to give. @spulec could, though

[2017-09-25 23:43] terrycain commented on #1189
@spulec ^^ :wink:

[2017-09-26 16:14] terrycain commented on #1114
I believe this can be closed @JackDanger

[2017-09-26 16:51] samuelfekete opened #1198 "mock_s3 breaks delete_objects with Unicode"
## Importing mock_s3 causes Unicode errors with delete_objects

Steps to reproduce (Python 2.7):
[code]

https://github.com/boto/botocore/issues/1281

[2017-09-26 17:21] JackDanger commented on #1114
Thanks to you, @terrycain

[2017-09-26 17:21] #1114 closed

[2017-09-26 17:56] JackDanger commented on #1198
Thanks for reporting this @samuelfekete! I've fixed it in #1199 and will merge when green.

[2017-09-26 20:37] snimark opened #1200 "'owner-id' for DescribeImages is not yet supported"
i am trying to test out a routine to manage our AMIs. the process involves filtering the AMIs by owner (aws account id) of the images to pull back a smaller set from aws. turns out, `owner-id` is not yet supported.

### moto, boto3, botocore
i installed it using `sudo pip3 install -r requirements.txt` and moto is in that file.

Name: moto
Version: 1.0.1
Summary: A library that allows your python t

[2017-09-26 20:42] snimark commented on #1200
and honestly, i've thought about adjusting the code and submitting a patch, but i would need to probably consult with you guys on the how of it. AMIs have an owner id value of the aws account id. when it's not specified, would you just assign a dummy value or leave it blank (None)?

[2017-09-26 22:42] JackDanger commented on #1200
@snimark Your intuition is as good as anybody's on how to implement it. I'd have a default account_id assigned to a couple of built-in AMIs (maybe real ones that are commonly used in EC2) and then use the credentials of inbound requests to assign the owner to any images created through the API. You can get the account id out of the 'Authorization' header in the request when Moto is running in serv

[2017-09-27 09:44] samuelfekete commented on #1198
Thanks @JackDanger for fixing it so quickly!

[2017-09-27 11:32] snimark commented on #1200
is the idea of submissions for changes via pull requests welcomed for this project? if so, do you have a policy on how to branch (naming and otherwise) i should follow to do that?

[2017-09-27 18:22] JackDanger commented on #1200
Extremely welcome! Bordering on mandatory :p

No policy on that other than following the [Code of Conduct](https://github.com/spulec/moto/blob/master/CODE_OF_CONDUCT.md). Just make sure any code you add is covered by reasonable tests and ask people to jump in and help whenever you get stuck. We're a friendly bunch here at Moto :)

[2017-09-27 18:52] #1189 closed

[2017-09-27 19:41] kurtiss opened #1206 "moto==1.1.15 not bundling 'moto/ec2/resources/instance_types.json'"
When moto resolves to version 1.1.15, I am seeing an issue where moto cannot find a resource I would  expect to be bundled with the distribution. Pinning to moto==1.1.14 resolves the issue.

See the following traceback exhibited by 1.1.15:

[code]

[2017-09-27 19:52] JackDanger commented on #1206
Good catch! This is a recent regression and I'll fix it right now.

[2017-09-27 19:55] JackDanger commented on #1206
Fixed on master. Releasing 1.1.16 when tests pass