[2020-06-26 05:07] dhammond22222 opened #3093 "Feature Request: RDS - create_db_cluster"
Unable to mock a create_db_cluster with Moto.  Noticied it's not covered in the responses.py under rds or rds2.

`self = <moto.rds.responses.RDSResponse object at 0x118ea5048>

    def call_action(self):
        headers = self.response_headers

        try:
            self._authenticate_and_authorize_normal_action()
        except HTTPException as http_error:
            response = http_error.des

[2020-06-26 10:08] bblommers commented on #3093
Thanks for raising this @dhammond22222 - marking this as an enhancement

[2020-06-26 17:54] jweite opened #3094 "Support Sagemaker Notebook Create, Describe, Delete, List, Start, Stop, Update."
I see that porthunt has broken ground on adding Sagemaker support.  Glad to collaborate with them (if they'll be picking their work back up soon).

[2020-06-26 21:07] garrettheel opened #3095 "New release"
👋  it looks like it has been a while since (over 6 months) since the last official release. Just wondering if there was a plan to release 1.3.15 soon? There are a bunch of great new features that I'd love to take advantage of

[2020-06-27 08:42] #3090 closed

[2020-06-27 10:32] bblommers opened #3098 "Meta - Builds are failing in Server Mode"
Last successful build: https://travis-ci.org/github/spulec/moto/jobs/702363984
Failing build (example): https://travis-ci.org/github/spulec/moto/jobs/702608025

Failing test:
[code]

No changes have been made to our Cognito IDP code in between.

## Cause:

A new version of boto3 was released (1.14.11 -> 1.14.12), which depends on a new version of botocore (1.17.11 -> 1.7.12)
Botocore has made a ch

[2020-06-27 12:13] bblommers commented on #3098
## Root cause

The `respond_to_auth_challenge`-method is executed in a different region then the previous steps (`admin_create_user`, `admin_initiate_auth`). This means that the `respond_to_auth_challenge`-method does not have access to the previously created session/user.

## Explanation
The change in `botocore` removes the authentication for the `respond_to_auth_challenge`-method. This, in turn,

[2020-06-27 14:16] bblommers commented on #3098
We solved the problem of unsigned requests (and not knowing which region to use) here: https://github.com/spulec/moto/blob/master/moto/server.py#L29
Which assumes we always want to use the default region (us-east-1)

This was acceptable for all other unsigned requests, but does not work for this specific use case - where we rely on data created in a non-default region.

One hacky solution to ensur

[2020-06-30 13:07] ryanlchandler opened #3101 "SQS messages don't contain MessageGroupId and MessageDeduplicationId when sent from batch"
When sending messages in batches to SQS each entry in the batch may contain a MessageGroupId and/or a MessageDeduplicationId that is not getting passed back when receiving the message.

It looks like responses.py was not pulling the MessageGroupId from the query string when building the entries.

**responses.py (updated)**
[code]

And models.py needed to be updated to pass the entry's attributes t

[2020-06-30 13:38] bblommers commented on #3101
Hi @ryanlchandler, thanks for raising this. Will mark it as an enhancement.

PR's are always welcome!

[2020-06-30 13:40] bblommers commented on #3087
Good call @mdavis-xyz - I've updated the README to explain the difference between the two.

is it working now?

[2020-06-30 15:47] calvin-barker commented on #3095
I'd also love to see a new release, but right now I'm working around this issue by having this entry in my requirements-dev.txt to get moto-1.3.15.dev0 from the master branch:
`git+https://github.com/spulec/moto.git@master`

(works like this command)
`pip install git+https://github.com/spulec/moto.git@master`

[2020-06-30 22:45] mdavis-xyz commented on #3087
Yes, that's clearer now.

[2020-06-30 22:45] #3087 closed

[2020-07-01 12:29] bblommers opened #3104 "RSA <= 4.0 supports Python2 - Moto pulls in 4.5"
RSA is a transitive dependency pulled in from python-jose. Python-Jose supports Python2 and requires any version of RSA - even though [RSA 4.0 is the last version to support Python2](https://pypi.org/project/rsa/#description).

This causes `make init` to fail on Macs, as observed in #3086.

To make things interesting - our Travis builds for Python2 work just fine, pulling in the latest RSA version

[2020-07-01 18:23] dreamorosi commented on #1524
@bblommers I see that `start_query_execution()`, `stop_query_execution()` and `get_query_execution()` have been implemented and merged in #2996 (thanks for implementing them) but for now the query stays in the `QUEUED` status indefinitely unless explicitly stopped, after which it passes to `CANCELLED`.
Me and my team would be interested in having a way of testing also around other states (`RUNNING

[2020-07-02 03:23] sureshavm commented on #1513
Facing the similar error, could someone shed light here for the fix or how to over come?

`com.amazonaws.services.s3.model.AmazonS3Exception: One or more of the specified parts could not be found. The part may not have been uploaded`

[2020-07-02 06:00] bblommers commented on #1524
Hi @dreamorosi, are you using the decorators? Most people fiddle with the state directly in their tests, if they have a specific use case. See this comment from spulec: https://github.com/spulec/moto/issues/380#issuecomment-123932483

[2020-07-02 06:08] bblommers commented on #1513
Hi @sureshavm, can you share your test case?
Which version of Moto are you using?

[2020-07-02 16:20] dreamorosi commented on #1524
Hi @bblommers, thanks for the reply! I will try the option suggested in that issue but from a first look it seems it could fit our needs. I'll comment here in case it doesn't and we can discuss further.

[2020-07-02 21:29] rawrgulmuffins commented on #2634
I seem to also be hitting this on

[code]

And
[code]

[code]

[2020-07-02 21:39] mikegrima commented on #2634
You'll need to provide the code in the tests that's running. Also, please verify that this is not an issue by uninstalling moto: `pip uninstall moto`, and re-installing it this way: `pip install git+git://github.com/spulec/moto@master#egg=moto`.

[2020-07-02 21:42] rawrgulmuffins commented on #2634
@mikegrima I'm running in a docker container and I'm currently setting things to rebuild on each test run. The particular test setup function that's failing is:

[code]
Important to note that this is failing locally if I `mv ~/.aws/config ~/.aws/config_backup` or remotely in our Jenkins environment which doesn't have a profile.

[2020-07-02 21:48] mikegrima commented on #2634
Is it failing on the `from moto import mock_kinesis` line? Also, what code is calling `setup_kinesis_stream()`?

[2020-07-02 21:57] rawrgulmuffins commented on #2634
I actually have this reproducing locally now. If I `mv ~/.aws ~/.aws_backup` I get the above error.

It's failing on the import. This is in my `tests/__init__.py` file so it's not even getting to the tests themselves.

It looks like my docker setup library is setting an `AWS_PROFILE` environment variable so if I modify `__init__.py` file to

[code]

We actually get our tests to run again and the i

[2020-07-02 22:05] rawrgulmuffins commented on #2634
The specific boto3/moto call is

[code]

Which is equivilent to

[code]

With the full response being

[code]

[2020-07-02 22:10] rawrgulmuffins commented on #2634
Followed the suggestion of doing

[code]

In https://github.com/spulec/moto/issues/1941 and this got my unit tests to pass. 0.o

[2020-07-02 22:16] rawrgulmuffins commented on #2634
This seems like a PBCK issue. =P

[2020-07-02 22:55] rawrgulmuffins commented on #2634
Ah, I finally figured out why this succeeded in the past but fails now.

If you have no credentials file, no profile, and `AWS_SECRET_ACCESS_KEY`, `AWS_ACCESS_KEY_ID`, `AWS_SECURITY_TOKEN` and `AWS_SESSION_TOKEN` aren't set then no credentials are searched for.

[2020-07-02 23:02] mikegrima commented on #2634
We do have this documented https://github.com/spulec/moto#other-caveats. Would also recommend checking out: https://github.com/spulec/moto#very-important----recommended-usage

[2020-07-03 00:47] #3098 closed

[2020-07-03 00:47] spulec commented on #3098
Thanks for this!

[2020-07-03 05:33] bblommers commented on #3098
First successfuild build: https://travis-ci.org/github/spulec/moto/builds/704511120
Moto version: 1.3.15.dev924

[2020-07-03 11:58] KhushbuAgr commented on #1513
@bblommers - we are reading the source which has around 200 files and each is approx of 450 MB. the count is **352172008**.  After this, we are joining with 2 other tables and store the result in a Dataframe. Dataframe count shows  **352172008**. But when we are writing dataframe output in the S3 file, records are getting lost and the count is coming approx **335751188**. Each time count is varyin

[2020-07-03 13:23] #1931 closed

[2020-07-03 14:15] bblommers commented on #1931
An initial implementation is now available as of moto >= 1.3.15.dev925, thanks to @dawngerpony

[2020-07-03 15:19] dawngerpony commented on #1931
https://pypi.org/project/moto/1.3.15.dev925/

[2020-07-04 01:51] #3078 closed

[2020-07-04 01:52] #1732 closed

[2020-07-04 01:53] #3055 closed

[2020-07-04 18:42] richford opened #3109 "Possible "NUMBER"-type parameter validation error in CloudFormation"
When creating a JobDefinition using Cloudformation with a job definition memory parameter, I get a type error for the memory passed into the parameters of `moto.batch.JobDefinition`. Apologies for the rather long trracebacks, but I'm erring on the side of too much information rather than too little.

## How to reproduce
To reproduce, use the following MWE CloudFormation Template:
[code]
and use th

[2020-07-06 19:23] kylegibson opened #3111 "Mock single resource, allow other real resource"
Moto version: 1.3.14

Consider the following example. My system is configured such that the boto3 S3 code will execute properly, on its own. However, if I execute the moto code to mock out SQS, the S3 (`list_objects`) will fail with `ClientError: An error occurred (InvalidAccessKeyId) when calling the ListObjects operation: The AWS Access Key Id you provided does not exist in our records.`:

[code

[2020-07-07 13:28] uyadavv opened #3112 "Not able to SSH the EC2 intance"
Steps to Reproduce:
1. Created security group
2. Created EC2 Instance with security group using moto.
3. Now try to ssh the created EC2 instance using the below mentioned code:

import paramiko

key = paramiko.RSAKey.from_private_key_file('C:/Users/Desktop/key-test.pem')
client = paramiko.SSHClient()
client.set_missing_host_key_policy(paramiko.AutoAddPolicy())

try:
    client.connect(hostname='54

[2020-07-07 19:01] kyleposluns commented on #1325
Do any docs for this exist now?

[2020-07-07 20:19] XinyuZhao0215 opened #3113 "Feature: S3 list_object_versions Implement Prefix-argument"
I'm trying to list list object version in moto mock_s3, but got an error saying Called get_bucket_versions with some of delimiter, encoding_type, key_marker, version_id_marker.
I saw encoding-type is been resolved, but both put_object and upload_file would not put in valid value for delimiter, key_marker, and version_id_marker.

[code]

Traceback:
[code]

Is there anyway to skip around this.
Thank

[2020-07-08 06:35] bpandola commented on #3112
`moto` mocks the AWS API--it doesn't actually create any resources.  A mocked EC2 instance is just some metadata in memory for the purpose of allowing your AWS API calls to succeed and return data that looks like the real thing.  There's no EC2 instance to SSH to.  You would have to mock your `paramiko.SSHClient` calls separately, as they are far beyond the scope of what `moto` was designed to cov

[2020-07-08 08:54] tigermonkey opened #3114 "CloudFormation output for DynamoDB table"
## **how to reproduce the issue**

[code]

## **what you expected to happen**

I have a template like that and it creates a valid stack, with the name of the table in the MyTablename CfnOutput "MyTableName".

## **what actually happens**

[code]

It seems `Ref` for ddb tables outputs this: `<moto.dynamodb2.models.Table object at 0x7f5ce7c3b240>`, but I think it should output the name of the table:

[2020-07-08 09:11] hkhrais commented on #3001
I also have problem with using `MOTO_ACCOUNT_ID` as os environ. No matter what value i set there, it always get the default "123456789012" . Iam using Pycharm and here is a snippet of how i do it

[code]
then i create sqs and when i mock my actual code which looks for sqs url in account 444444444, it says it doesn't exist as created in "123456789012".
Any idea?

[2020-07-08 09:37] hkhrais commented on #3001
NVM, i cloned the repo and placed it in site-packages and worked fine.

[2020-07-08 10:36] #3001 closed

[2020-07-08 10:39] bblommers commented on #3112
Exactly - Moto only mocks the SDK methods, but doesn't provide any actual servers to SSH into. Closing

[2020-07-08 10:39] #3112 closed

[2020-07-08 11:01] bblommers commented on #3113
Hi @XinyuZhao0215, this should work without providing the Prefix-argument.
Will mark it as an enhancement to also make it work with the prefix

[2020-07-10 12:58] bblommers commented on #3114
Thanks for raising this and providing the exact test case @tigermonkey - I can reproduce this on master as well.

Marking it as a bug

[2020-07-10 13:01] bblommers commented on #3111
Thanks for sharing the solution @kylegibson! That is very useful.

[2020-07-10 14:17] bblommers commented on #3109
Hi @richford, thanks for raising this! Will mark it as an improvement.

Moto is very much a community driven project, so any PR's are welcome. There are some basic guidelines on how to get started here: [CONTRIBUTING.md](https://github.com/spulec/moto/blob/master/CONTRIBUTING.md).

For this particular issue, it looks like we're not doing anything special for NUMBER-parameters at the moment. The fi

[2020-07-10 22:17] richford commented on #3109
Thanks @bblommers! That's exactly the suggestion I needed to get started. I submitted #3118 to try to resolve this.

[2020-07-11 07:43] #3109 closed

[2020-07-11 07:57] bblommers commented on #3109
This is now available as of moto >= 1.3.15.dev959

[2020-07-11 09:07] bblommers commented on #2279
Hi @mmussio85, can you reproduce this with the latest version of Moto? (https://pypi.org/project/moto/#history)

[2020-07-11 21:06] weldpua2008 commented on #1708
I am getting the same error.
I had checked my code with the debugger and after I executed the code - it runs but tests are failing
`'Got error __init__() got an unexpected keyword argument \'ebs_configuration._ebs_block_device_configs.member.1._volume_specification._volume_type\' None'`

the configuration part:
[code]

[2020-07-13 21:55] richford opened #3123 "`batch.utils.lowercase_first_key()` should be recursive"
When creating a job definition using cloudformation, I noticed that the `batch.utils.lowercase_first_key()` function does not recurse into nested dictionaries or lists of dictionaries. This is required, for example, by the "environment," "mountPoints," and "linuxParameters" values passed to the `containerProperties` parameter of boto's [register_job_definition](https://boto3.amazonaws.com/v1/docum

[2020-07-14 10:29] #3123 closed

[2020-07-14 12:41] bblommers commented on #3123
This is now part of moto >= 1.3.15.dev964

[2020-07-14 19:00] richford opened #3127 "cloudformation/parsing.py has an incomplete `UNDOCUMENTED_NAME_TYPE_MAP`"
## Issue
[`cloudformation/parsing.py`](https://github.com/spulec/moto/blob/master/moto/cloudformation/parsing.py#L102) wisely has an `UNDOCUMENTED_NAME_TYPE_MAP` because the name type references in the [Amazon documentation](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-name.html) are incomplete. However, there are additional resource types that should be added. For

[2020-07-15 02:15] cm-iwata opened #3129 "API Gateway create_api_key default value is wrong"
API Gateway create_api_key wiill generate some  wrong default value.
For example, `enabled` should be False, but moto will return True.

### Use boto3

[code]

### Use moto

[code]

[2020-07-15 06:00] #3129 closed

[2020-07-15 06:28] cm-iwata opened #3131 "API Gateway:delete_api_key return wrong status code"
API Gateway delete_api_key should return 202 for http status code.
But moto will return 200 ok.

### Use boto3

[code]

### Use moto

[code]

[2020-07-15 06:39] bblommers commented on #3127
Hi @richford, thanks for raising this. The full list would become quite wieldy indeed, so I don't think listing everything in one place is the way to go.

IMO, in order to keep this maintainable, the responsibility should be decentralized, and this user-friendly identifier should be supplied by the model itself.
Most Models already have a `physical_resource_id` to identify them in CloudFormation.

[2020-07-15 06:41] bblommers commented on #3129
This is now part of moto >= 1.3.15.dev966

[2020-07-15 08:14] number09 opened #3133 "Cognito Identity Provider : create_user_pool_client `GenerateSecret=True` doesn't work"
Cognito Identity Provider `create_user_pool_client` should be return `ClientSecret` when given `GenerateSecret=True`
But it's not working

### Use Bote3
[code]
[code]

### Use moto
[code]
[code]

[2020-07-15 08:41] #3131 closed

[2020-07-15 09:33] MikeWooster opened #3137 "stepfunction list_executions does not support nextToken"
When calling the `list_excutions` method of boto, it is meant to return a paginated response of executions up to the `maxResults` you have specified (with a ceiling of 1000).  It does not seem to be doing this.

[code]

[2020-07-15 11:08] bblommers commented on #3131
This is now part of moto >= 1.3.15.dev967

[2020-07-15 13:04] bblommers commented on #3137
Correct @MikeWooster - that's currently not supported. Marking it as an enhancement.

[2020-07-15 16:04] Zaubeerer commented on #1941
I still get the following error message when running the example code:

[code]

This is super frustrating :(

[2020-07-15 18:31] weldpua2008 commented on #3002
Are there some examples to start implementing new features?
I am interested in the feature.

[2020-07-16 06:04] bblommers commented on #3002
Hi @weldpua2008, there's a section on how to add a new service in our [CONTRIBUTING.md](https://github.com/spulec/moto/blob/master/CONTRIBUTING.md), and some examples as well.

PR's are always welcome, if you have the time! Let me know if you have any questions.

[2020-07-16 08:13] #3133 closed

[2020-07-16 10:37] mkielar opened #3138 "ecs.create_service and ecs.describe_service do not handle tags correctly"
In #2450 and #2338 handling tags has been added, however boto3 supports setting and reading tags in `create_service` and `describe_service`.

## Actual:
While one can call this:
[code]
and it creates the service, the response from that method does not contain `tags` key.
Similarly, when calling:
[code]
the result does not contain `tags` key.

## Expected:
`tags` and `include` should be handled pro

[2020-07-16 12:39] mkielar opened #3139 "ecs.update_service does not handle service_arns, just services names."
## Actual:
When running:
[code]
I'm getting `ServiceNotFoundException` raised, even though I'm using service and cluster ARNs returned by a call to `describe_services`, after creating the services with moto.

## Expected:
Service/Cluster names and ARNs should both be supported.

## Walkaround:
I changed my application logic to make it testable with moto, and it worked, but I shouldn't have to do t

[2020-07-16 14:20] snimark opened #3140 "moto 1.3.14 breaks boto3 access (again)"
I believe this might be a reemergence of a past bug (https://github.com/spulec/moto/issues/2172).

The following code has two duplicate functions, but the second has a `mock_ec2` decorator. Expected behavior would be establishing a mock `ec2` client object only when using the function with the decorator, but the behavior is that it also impacts the session object (which is intended to use an insta

[2020-07-16 14:55] bblommers commented on #3094
This is now part of moto >= 1.3.15.dev971. Feel free to open new issues for other methods that are needed. Thanks!

[2020-07-16 14:55] #3094 closed

[2020-07-16 14:57] jweite opened #3141 "Support Sagemaker EndpointConfigs, Endpoints, TrainingJobs"
Extended feature set

[2020-07-16 18:13] jbpratt78 opened #3143 "feat: organizations.tag_resource (1.3.14)"
[code]

My test:
[code]

Error:
`E       NotImplementedError: The tag_resource action has not been implemented`

[2020-07-16 19:34] JordanReiter opened #3144 "Function name should not be changed when creating "AWS::Lambda::Function" resource type"
**how to reproduce the issue**

[code]
** What I expected to happen **
CloudFormation creates a function called `CustomName`

** What actually happens **
CloudFormation creates a function called ` StackName-CustomNameLambdaFunction-LDRA6MD8ZSE1` (last part is random string generated by `random_suffix` function).

Fix is straightforward: when the property `FunctionName` is provided, moto should hav

[2020-07-16 19:36] JordanReiter commented on #3144
Actually looks like this is fixed in 1.3.15dev. Frustrating that this feature is not working on the released version, as it has been supported for a very long time.

[2020-07-17 06:25] bblommers commented on #3144
Hi @JordanReiter, we do have pre-releases for every PR that is merged: https://pypi.org/project/moto/#history, so the latest version should definitely support this.

[2020-07-17 06:25] #3144 closed

[2020-07-17 06:31] bblommers commented on #3143
Thanks for raising this @jbpratt78 - will mark it as an enhancement.

[2020-07-17 06:47] bblommers commented on #3139
Thanks for raising this @mkielar - marking this as an enhancement.

[2020-07-17 13:03] bblommers commented on #2771
Hi @sumeshsquare, there have been some improvements around public access blocks recently - can you reproduce this with the latest dev-release from moto? https://pypi.org/project/moto/#history

[2020-07-17 13:28] bblommers commented on #2744
Hi @PeterCui1991, I can't reproduce this I'm afraid. I'm getting the ScaleUp-policy, as expected: `ScalingPolicy(ScaleUp group:tester_group adjustment:ExactCapacity)`

Are you creating another policy first, that is also being returned in the `get_all_policies()` call?

[2020-07-17 13:45] bblommers commented on #1433
@dtenenba The `put_bucket_encryption` and `get_bucket_encryption` are now implemented in master, so I'm going to close this.
Feel free to pull the latest dev release to verify this: https://pypi.org/project/moto/#history

@emirot The Contributing-doc has been improved recently - hopefully it's more clear now how to add new features.

[2020-07-17 13:45] #1433 closed

[2020-07-17 14:41] jbpratt78 commented on #3143
@bblommers awesome! Happy to attempt to contribute the feature. Here is what I have gathered with EC2, S3, and ELBv2 (I will continue to look at some of the newer implementations as well), please let me know if I am off base or missing some things...
https://github.com/spulec/moto/blob/bb6da93891482ddcb87c23e6abddc0e451f72d30/moto/s3/models.py#L499-L507
https://github.com/spulec/moto/blob/bed769a3

[2020-07-17 16:02] bblommers commented on #3143
Hi @jbpratt78, the `tag_resource`-method has to be added to moto/organisations/responses.py first, similar to https://github.com/spulec/moto/blob/master/moto/elbv2/responses.py#L424
Responses.py will just parse the incoming request (and is responsible for validation, if any), and the actual storage/retrieval is then done in models.py

The FakeAccount should be already created behind the scenes, wh

[2020-07-17 16:18] jbpratt78 commented on #3143
Ah, I knew I was missing some stuff. I will take a stab at this over the weekend, thank you for the guidance!

[2020-07-17 17:11] jbpratt78 commented on #3143
It seems there has been some drift in how these have been implemented, as well as some of it is already, I guess. https://github.com/spulec/moto/blob/bed769a387e667f7d6cb4dbf306963f70f54afbd/moto/organizations/responses.py#L128-L141 https://github.com/spulec/moto/blob/bed769a387e667f7d6cb4dbf306963f70f54afbd/moto/organizations/models.py#L506-L537
as well as both of these calls (untag as well) (htt

[2020-07-17 18:35] jbpratt78 commented on #3143
Wooh! Seems on the dev branch my tests are passing. Sorry about all the confusion.

`shared_test.py::test_get_account_tags PASSED                                                                       [100%]
`

[2020-07-17 18:35] #3143 closed

[2020-07-18 07:50] bblommers commented on #3143
Apologies for not realizing that myself! I should have checked, instead of assuming it wasn't there.

FYI, we have pre-releases for every commit to master, so you should be able to use the latest version: https://pypi.org/project/moto/#history

[2020-07-18 11:02] sumeshsquare commented on #2771
Hi @bblommers ,

Tested the same and the response have changed as expected:

[code]

[2020-07-18 11:03] #2771 closed

[2020-07-18 13:08] serchtul commented on #2730
Hey @ChocPanda! This feature would be ideal for my use case. Do you have any updates on this? Otherwise, do you mind if I  build on top of your initial work?

[2020-07-19 06:39] tomers opened #3150 "AttributeError exception in _invoke_lambda"
Moto version: https://github.com/spulec/moto/commit/80b64f9b3ff57515db1fc07329bf8e5f519597aa (but from looking at the code the issue exists even on today's HEAD https://github.com/spulec/moto/commit/09b764148cea354c790443a318dabc976a2b59df)

Stack track of the issue:
[code]

Code (awslambda/models.py):
[code]

[2020-07-19 09:09] bblommers commented on #3150
Thanks for raising this @tomers - that's definitely a bug.

Do you have a test case to reproduce this, by any chance?

[2020-07-19 09:39] bblommers commented on #2124
This is now implemented in #3105, and is available as of moto >= 1.3.15.dev971

[2020-07-19 09:39] #2124 closed

[2020-07-19 10:16] bblommers commented on #3140
Hi @snimark, that is the expected behaviour, yes. Botocore does not support credential mocking on a client/service basis, so they can only be mocked on a system level. So the moment you use any of the decorators, all boto-calls will use mocked credentials.

There is a workaround to un-mock the credentials, as described here: #3111.

Another workaround would be to manually start/stop mocking specif

[2020-07-19 10:56] tomers commented on #3150
I am not sure. I simply run the following code, but my setup may have to do with the exception that happens:
[code]

[2020-07-19 11:12] bblommers commented on #3150
Hi @tomers - is Docker running on your machine? The above sample works for me - it only fails when I kill the Docker service.

[2020-07-19 12:47] tomers commented on #3150
Hi @bblommers , yes - i have moto docker runnning at `AWS_FAKE_ENDPOINT='http://moto:5000'`

[2020-07-19 13:40] bblommers commented on #3150
I meant the Docker service. The mocked AWS lambda will try to start a Docker container to execute the code in `func_str`.
On Linux, I can get the above code to pass by executing `sudo service docker start` first.

[2020-07-19 14:29] bblommers commented on #3141
This has been merged as part of #3142, and is part of moto >= 1.3.15.dev977

[2020-07-19 14:29] #3141 closed

[2020-07-19 15:32] tomers commented on #3150
@bblommers yes, the service is active.
The docker I built is from https://github.com/spulec/moto/blob/master/Dockerfile
Too bad there is no logging mechanism to debug such failures.

[2020-07-19 19:39] aaronhill opened #3151 "Implementation: Task Sets"
Add support for ECS `*_task_set` endpoints for support of `CODE_DEPLOY` and `EXTERNAL` ECS service `deploymentController`.

Endpoints include:
 * create_task_set
 * describe_task_sets
 * update_task_set
 * delete_task_set
 * update_service_primary_task_set

This implementation requires fixing a bug with moto ECS `create_service` which incorrectly assumes `taskDefinition` is a required attribute to

[2020-07-20 03:19] alanbaldwin opened #3154 "VPN Gateway filters not implemented"
Filters for VPN Gateway aren't implemented, specifically attachment.vpc-id. This can be reproduced via this code:

[code]

You would expect gateways to return a list of length 1, with the VPN gateway attached. Instead you receive:
[code]

This was tested with the current mainline branch, and I'll be adding a PR for this, `attachment.state`, `vpn-gateway-id` and `type` filters.  I found this origin

[2020-07-20 10:42] bblommers commented on #3150
OK, I understand. So the moto-container will try to start another container (in order to execute the Lambda), running Docker inside Docker. The parent image does not have Docker installed, so that will not work out of the box.
You might have to use a different Docker container that does support 'docker-inside-docker', or use the `moto_server` app.

I'm submitting a PR to at least return a useful e

[2020-07-20 11:41] raffienficiaud opened #3157 "`describe_maintenance_windows` action has not been implemented"
## Reporting Bugs

`moto` version `1.3.14` installed with `pip` in a virtualenv on `python3` / ubuntu. Using `python3` mocks.

The following simple test fails

[code]

with the following exception

[code]

## Actual result

Exception raised with a `NotImplementedError` message.

## Expected result

1. successful call to `ssm_client.describe_maintenance_windows` without exception raised
1. filter w

[2020-07-20 12:49] bblommers commented on #3157
Thanks for raising this @raffienficiaud - marking this as an enhancement

[2020-07-20 22:32] JordanReiter opened #3159 "ParameterFilters in SSM describe_parameters does not support option Contains"
According to the current documentation for boto3, `Contains` is a valid filter if the value for Key is `Name`:
https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/ssm.html#SSM.Client.describe_parameters

Currently, moto does not support the `Contains` option for `describe_parameters`. The code in question does not check if the `Key` is `Name` (and therefore if you are able t

[2020-07-20 23:25] JordanReiter commented on #3159
Please let me know if it would be helpful for me to offer a PR to implement this.

[2020-07-21 06:17] #3151 closed

[2020-07-21 06:22] bblommers commented on #3159
Thanks for raising this @JordanReiter - will mark it as an enhancement.

PR's are always welcome! There are some guidelines in how to get started in our [Contributing.MD](https://github.com/spulec/moto/blob/master/CONTRIBUTING.md).

[2020-07-21 07:05] tomers commented on #3150
Thanks @bblommers, this is much appreciated!

[2020-07-21 07:14] tomers commented on #3150
I am using the default dockerfile provided by _moto_: https://github.com/spulec/moto/blob/master/Dockerfile.
Can changes be made to it to support lambda usage?

[2020-07-21 13:30] snimark commented on #3140
Thanks for the reply. I will see about implementing this model of cherry picking the resources to mock in our tests.

[2020-07-21 15:08] #3154 closed

[2020-07-21 16:01] MarshallMoberg opened #3160 "NotImplementedError: The list_tags_for_resource action has not been implemented"
### Traceback
[code]

### src/api/repos/aws.py (main file)
[code]

### tests/unit/repos/test_aws.py (Test File)
[code]
### Makefile command used (make test_repo_aws)
[code]
### Dockerfile
[code]

## Versions
Python 3.8.2
latest versions of boto and moto

[2020-07-21 17:13] bblommers commented on #3160
Hi @MarshallMoberg, can you try this with the latest dev-release? It should already be implemented there: https://pypi.org/project/moto/1.3.15.dev981/

[2020-07-21 17:57] MarshallMoberg commented on #3160
now its giving me ```botocore.exceptions.ClientError: An error occurred (UnrecognizedClientException) when calling the ListTagsForResource operation: The security token included in the request is invalid.```

[2020-07-21 18:25] bblommers commented on #3160
That error usually indicates that the call is going to AWS, i.e. the mock isn't working.
Does the 'test_update_acct_tags' method also have the mock-decorator?

[2020-07-21 18:29] MarshallMoberg commented on #3160
it did not, but upon adding it (and a little modification of the test functions, just moving lines around), i now get another new error message:
[code]

[2020-07-21 19:02] bblommers commented on #3160
The error indicates that the acct_id-parameter doesn't exist (no account exist with that ID), although I don't quite understand why.
Would have to do some debugging to figure out what's wrong.

[2020-07-21 19:07] MarshallMoberg commented on #3160
perhaps something is going wrong from when the fake organization and account are created in test_aws.py, like either they aren't being created, or when get_tags is using a different org?

[2020-07-21 19:10] MarshallMoberg commented on #3160
seems to be working once i combined the setup and test functions in test_aws.py. the file now looks like:

[code]

[2020-07-21 19:54] #3160 closed

[2020-07-22 11:54] ChocPanda commented on #2730
@serchtul sorry for the delay, please feel free to take over what I've started I've just been too busy to complete this

[2020-07-22 13:07] bblommers commented on #3101
This is now part of moto >= 1.3.15.dev982

[2020-07-22 13:07] #3101 closed

[2020-07-22 14:52] Lucas-C opened #3166 "Feature request: add a mock_ce for Cost Explorer"
Service: [AWS Cost Explorer](https://aws.amazon.com/fr/aws-cost-management/aws-cost-explorer/)

I am new to using `moto`, but this is a fantastic tool for writing my tests!
Many thanks for developping it :)

I discovered it with [this article](https://www.sanjaysiddhanti.com/2020/04/08/s3testing/) and so far I'm mostly using `mock_dynamodb`.

I have a need to mock a `ce` client and I wondered if a

[2020-07-22 20:26] JordanReiter commented on #3159
Hi, I have written a fix for this but because I am working on this via my employer it has to go through review there before I can create a public PR. But just want you to know that I do have the changes including tests.

[2020-07-22 21:46] pinkjosh opened #3167 "Creating ECS TaskSet via CF has not been implemented"
Trying to run a cloudformation template that provisions ECS Service, TaskDefinition, and TaskSet has resulted in following errors:

    1. NotImplementedError: The create_task_set action has not been implemented

The Service and TaskDefinition has been created successfully though.

The error makes sense because I am using moto version 1.3.14 that was released in Nov'2019.  It looks like create_tas

[2020-07-23 00:49] jweite opened #3168 "CloudFormation create_stack Fails with Long Stack Name and S3 Bucket in Template"
The following unit test fails:

`
@mock_cloudformation
def test_boto3_create_stack_s3_long_name():
    cf_conn = boto3.client("cloudformation", region_name="us-east-1")

    stack_name = "MyLongStackName01234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012"

    template = '{"Resources":{"HelloBucket":{"Type":"AWS::S3::Bucket"}}}'

    cf

[2020-07-23 06:46] bblommers commented on #3166
Hi @Lucas-C, thanks for raising this - will mark it as an enhancement

[2020-07-23 06:50] bblommers commented on #3151
This is now part of moto >= 1.3.15.dev979

[2020-07-23 06:50] bblommers commented on #3167
Hi @pinkjosh, a new dev-release is created for every commit to master. You can see the full list here: https://pypi.org/project/moto/#history
The TaskSet feature should be part of moto >= 1.3.15.dev979

[2020-07-23 10:19] trondhindenes opened #3170 "DeprecationWarning: the imp module is deprecated in favour of importlib; see the module's documentation for alternative uses"
I'm getting this deprecation warning that seems un-reported.

python 3.8

environment:
[code]

I got it while using `mock_ssm`, not sure if that's relevant.

[2020-07-23 13:13] pinkjosh commented on #3167
@bblommers , Thank you for your prompt response on this question.  So is it okay if we start using the devl release instead. I am asking this from the perspective of moto libraries best practices.

[2020-07-23 13:21] bblommers commented on #3167
Yes, @pinkjosh, it's encouraged to use the dev-releases. There's no defined schedule for official releases, so this is the best way to ensure you have the latest bugfixes/features.

[2020-07-23 13:36] pinkjosh commented on #3167
Thanks @bblommers  I just tried using following moto releases:

    moto==1.3.15.dev979
    moto==1.3.15.dev984

This time no errors were shown but a message thats basically said the same thing. My console output below:

    No Moto CloudFormation support for AWS::ECS::TaskSet
    python3.7/site-packages/moto/cloudformation/parsing.py:330: UserWarning: Tried to parse AWS::ECS::TaskSet but it's not

[2020-07-23 14:44] pinkjosh commented on #3167
Thank you @bblommers

No worries.  I tried working with TaskSet through mocked ECS boto3 calls and it appears to be working fine. I will proceed further.  Many thanks for your quick help.

[2020-07-23 14:44] #3167 closed

[2020-07-23 23:14] pinkjosh opened #3171 "Different ECS behaviors for task-definition with boto3 versus cloudformation"
Fetching an cloudformation created ECS taskDefinition using moto ecs client includes empty ContainerDefinition.

I have one ECS TaskDefinition created through cloudformation that completes successfully. However, when I use moto ecs client to fetch this task definition, I see empty body for "ContainerDefinition" that I did set in my cloudformation template. I see that internal moto ECS models scrip

[2020-07-24 02:20] zenithlight commented on #2993
Would it work to add a `mock_s3_opts(endpoint_url)` decorator to support this use-case? I ran into this same issue as well.

[2020-07-24 10:15] chriskilding opened #3172 "Support --filters option in secretsmanager:ListSecrets"
We should support the new server-side `--filters` option in `secretsmanager:ListSecrets` calls.

Documentation here: <https://docs.aws.amazon.com/cli/latest/reference/secretsmanager/list-secrets.html#options>

One implementation consideration is that AWS sometimes reuse model structures between their APIs. There is a good chance this filter structure, a List of (String key, List\<String\> values),

[2020-07-24 14:56] chriskilding commented on #3172
Started implementation in https://github.com/spulec/moto/pull/3173

[2020-07-24 18:37] zenithlight commented on #2413
@xiang-zhu I have also encountered this same issue. The problem is some of my test files are trying to hit the real S3, and some are trying to hit the moto version. In both test files, `boto3.resource` was created in the top-level so it can be reused across all tests.

As a result, whenever one test file that used the real S3 was run, all proceeding tests that used moto would fail. Creating `boto3

[2020-07-25 13:19] bblommers commented on #3171
Hi @pinkjosh, thanks for raising this. You're on the money with the camelCase/PascalCase observation. We do store the containerDefinition internally, but we should convert it's properties to lowercase before sending this back to the client.

Marking it as a bug.

[2020-07-25 14:31] aiell0 opened #3176 "Implement ec2.register_image()"
# Issue Description
The boto3 function `ec2.register_image()` was not implemented and has the potential to cause loss of code coverage in test suites where it is used.

# Code
[code]

## Expected Result
`ami-12345678`

## Actual Result
`NotImplementedError: AMIs.register_image is not yet implemented`

## System Information
* boto3-1.14.28
* botocore-1.17.28
* moto-1.3.14 installed using pipenv and

[2020-07-25 15:16] aiell0 opened #3178 "Implement UserId parameter for ModifySnapshotAttribute function."
# Issue Description
The boto3 function `ec2modify_snapshot_attribute()` was not implemented completely and has the potential to cause loss of code coverage in test suites where it is used.

# Code
[code]

## Expected Result
[code]

## Actual Result
`moto.ec2.exceptions.MotoNotImplementedError: The UserId parameter for ModifySnapshotAttribute has not been implemented in Moto yet. Feel free to open

[2020-07-26 10:19] trallnag opened #3183 "Missing launchType attribute in ECS run_task() and start_task()"
Is it expected behavior that Moto ECS ignores the launch type (`FARGATE` and `EC2`) of tasks? When I start a task with either `run_task()` or `start_task()` I expect the `launchType` attribute in the response, but it is missing. The same happens when I query the description of the task.

## How to reproduce

[code]

Here is the response:

[code]

[2020-07-26 12:50] bblommers commented on #3183
Hi @trallnag, thanks for raising this. The `launchType`-parameter is not supported yet - will mark this as an enhancement.

[2020-07-26 14:59] bblommers commented on #3176
This is implemented by #3177, and is available as of moto >= 1.3.15.dev985

[2020-07-26 14:59] #3176 closed

[2020-07-26 20:29] #2104 closed

[2020-07-26 20:30] #3114 closed

[2020-07-26 20:31] #3139 closed

[2020-07-26 20:32] #3150 closed

[2020-07-26 20:33] spulec commented on #1325
@kyleposluns we added a bit of documentation here: https://github.com/spulec/moto/blob/master/CONTRIBUTING.md

[2020-07-26 20:43] spulec commented on #1631
From my knowledge, we have never had IoT working in server mode. Someone would have to implement the auth logic (or a workaround) to make that work.

[2020-07-26 21:00] spulec commented on #3127
I agree that moving this (and more) into the service models feels like a more maintainable approach long-term.

[2020-07-26 21:08] spulec commented on #2984
Can you add some more code so I can try to reproduce this (where is moto being activated, what is `mock_open`, etc)?

[2020-07-26 21:17] spulec commented on #2681
@mekza this is already being done. See here: https://pypi.org/project/moto/#history

[2020-07-27 03:06] richford commented on #3127
That makes sense. Thanks @bblommers and @spulec for the input. It looks like we should then close #3128 without merging and address this issue as you prescribed.

Given my limited knowledge of how moto works internally, the recommended approach is a bit over my head and I'll need some suggestions and pointers to get started. Happy to help but I just want to set expectations about how long it'll ta

[2020-07-27 12:54] bblommers commented on #3127
Hi @richford, see the attached PR - hopefully that makes it clear what I had in mind. Feel free to push to that branch, or copy it into your own branch, whatever is easier.

[2020-07-27 15:25] jweite opened #3187 "Implement S3 CloudFormation Update Support"
On CloudFormation update_stack operation with a stack defining an S3 bucket:

AttributeError: type object 'FakeBucket' has no attribute 'update_from_cloudformation_json'

[2020-07-27 19:44] benkeil opened #3188 "Support lambda layers"
Version: master

It looks like lambda layers are not supported. Already works with aws sam: https://github.com/awslabs/serverless-application-model

[2020-07-27 20:09] jweite commented on #3187
@bblommers, this one's got more worms in the can than I anticipated.  AFAICT moto CloudFormation support doesn't know about the three different update behaviors (https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/using-cfn-updating-stacks-update-behaviors.html).  It seems to treat them all as _Replacements_:

https://github.com/spulec/moto/blob/6adee0cbaf7a1971fff8809cc07dc4b23a08cc2e/

[2020-07-27 20:14] jweite commented on #3187
Alternatively, the model class' update_from_cloudformation_json could make the decision, but would have to selectively ignore the name attribute in the CloudFormation json provided to it.

[2020-07-28 08:59] bblommers commented on #3187
@jweite

This is the best way to go, IMO. There are too many resource-types to have that logic centralized in one place.
There's a draft PR I started for another issue, that you might be able to use as a base: #3185
Would be good to make the 'well_known_method' (whatever the name will be) also part of the `CloudFormationModel`-class

[2020-07-28 12:28] benkeil opened #3193 "MessageAttributes missing on SNS message"
Version: latest

When I send a SNS message the subscriber does not get the MessageAttributes.

[code]

[2020-07-28 20:14] aiswaryalakshmi opened #3195 "NotImplementedError: Filter dicts have not been implemented in Moto for 'instance-state-code'"
Can I expect filter dicts implementation for 'instance-state-code' in the near future?

[2020-07-29 02:24] jweite commented on #3187
@bblommers, I read through your draft PR commit and get where you're coming from.  Makes sense to me, and I can see how it can cover a more delegated approach to other CloudFormation processing needs like determining update-type.

While I'd like to push forward with this issue, I don't want us to be cursing each other out at merge time.  Do you have any ETA for merging your PR 3127 work soon?  As

[2020-07-29 06:00] bblommers commented on #3187
Hi @jweite, I created the draft PR as a starting point for another user, so I can't' comment on an ETA for their work.
As far as I'm concerned, you can just go ahead whenever - I'll resolve any merge conflicts afterwards, and promise not to curse :)

Regarding the `new_resource_name`: adding the name to the properties is done for both create and update. It's not necessary for updates, but it is ne

[2020-07-29 12:25] jweite commented on #3187
Easily done by adding an _add_name_to_resource_json param_ to _parse_resource()_, defaulting it to True, and re-orging the conditional logic therein to respect it.  When _parse_and_update_resource()_ is modified to add that param as False, I get my desired update behavior, existing create behavior remains, and all unit tests pass.  I appreciate your guidance here!  Made it easier than I'd imagined

[2020-07-29 17:38] bblommers commented on #3195
Hi @aiswaryalakshmi, Moto is a community-driven project, so there's no roadmap on what features will be delivered next. Typically people will implement a feature whenever they need this for their own project.

Will mark this as an enhancement.

[2020-07-30 07:18] benkeil opened #3203 "Provide docker image with actual master"
Would be nice to have docker image from the actual master.

[2020-07-30 21:29] kylegibson opened #3205 "`MaximumMessageSize` not respected when creating a queue"
moto version 1.3.14

Specifying the `MaximumMessageSize` attribute on a queue appears to have no impact on the size of the message that is permitted via `send_message`. I would have expected that the 10001 size message would have been rejected.

[code]

[2020-07-31 14:46] chriskilding commented on #3172
Completed :)

[2020-07-31 14:46] #3172 closed

[2020-07-31 15:32] bblommers commented on #3172
This is now part of moto >= 1.3.15.dev1012

[2020-08-01 14:23] #3127 closed

[2020-08-01 16:00] bblommers commented on #3127
This is now part of moto >= 1.3.15.dev1015

[2020-08-01 18:50] bblommers commented on #3178
This is now part of moto >= 1.3.15.dev1016

[2020-08-01 18:50] #3178 closed

[2020-08-02 07:48] benkeil opened #3209 "Implement aws_api_gateway_gateway_response"
Version: master

[code]

[2020-08-02 07:55] benkeil opened #3210 "Implement aws_api_gateway_base_path_mapping"
Version: master

[code]

[2020-08-02 09:53] bblommers commented on #3187
This is now part of moto >= 1.3.15.dev1017

[2020-08-02 09:53] #3187 closed

[2020-08-02 17:14] jweite commented on #3104
@bblommers, the 3.2 release of python-jose is now getting picky about ecdsa version:

[code]

I personally modified python-jose version in setup.py to be <3.2.0 (and included rsa<=4.0 in the PY2 install_requires to deal with the above).

[2020-08-02 17:26] jweite opened #3211 "Enhanced Kinesis Cloudformation Support: update and delete stacks, GetAtt."
Can't pass these tests:

[code]

[2020-08-03 06:18] #3068 closed

[2020-08-03 14:44] JarnoRFB commented on #1941
This seems to be desired behavior now  and is even documented in the README https://github.com/spulec/moto#very-important----recommended-usage

[2020-08-03 15:25] tomers opened #3214 "Enable logging through environment variables"
As a user of the vanilla Dockerfile available in this registry, I sometimes need a way to enable debugging.
Naturally, this should be done using environment variables, and save the hassle of adding custom logging code and rebuilding.

Could you please consider introduction of logging environment variables, such as:

[code]

[2020-08-03 15:26] bblommers commented on #3211
This is now part of moto >= 1.3.15.dev1021

[2020-08-03 15:26] #3211 closed

[2020-08-06 01:43] hanjb opened #3216 "SNS KmsMasterKeyId not returned as part of get_topic_attributes response"
when sns mock is used to get topic attributes:

`response = client.get_topic_attributes(
    TopicArn='string'
)`

KmsMasterKeyId - The ID of an AWS-managed customer master key (CMK) for Amazon SNS or a custom CMK - is not included as part of the response.

[2020-08-06 05:43] bblommers commented on #3216
Thanks for raising this @hanjb - marking this as an enhancement

[2020-08-06 15:13] dawngerpony opened #3217 "Support for Amazon SimpleDB"
moto currently has no support for [SimpleDB](https://aws.amazon.com/simpledb/) (SDB). It would be good to have at least basic support.

[2020-08-07 07:30] huynguyent opened #3219 "EBS volumes doesn't get details from BlockDeviceMappings"
I tried to create a new EC2 instance through `ec2.run_instances()` and attach it to a newly created EBS. When I verify the EBS details through `ec2.describe_volumes()`, the details don't match what I specify in `BlockDeviceMappings` config at all.

[code]
Here is the output of `ec2.describe_volumes()`
[code]

[2020-08-07 12:53] bblommers commented on #3219
Hi @huynguyent, which version are you on? This should be fixed as of moto >= 1.3.15.dev843

PR with the fix: https://github.com/spulec/moto/pull/2949

[2020-08-07 18:39] mrshu commented on #2719
Echoing the suggestion from @PeterCui1991 -- I'd also be happy to help with that.

[2020-08-07 20:15] wblech opened #3221 "Trying to test list_stacks() with an existing stack"
I'm trying to test a function that should return True if it finds the stack using the list_stack() function. If it doesn find it returns False.

This is the test function:

[code]

The problem is that even using the `cf.create_stack()` it doesn't find the stack that I just created.

I have other test functions that test if the stack is created and the template body uploaded and they work. But i ca

[2020-08-08 14:03] #3221 closed

[2020-08-08 17:59] asherf commented on #3095
@spulec @bblommers any chance to get 1.3.15 out anytime soon ?
That would be extremely helpful.

[2020-08-09 02:01] ipmb commented on #3138
Also applies to `describe_task_definition`

[2020-08-09 08:21] MatteoInfi commented on #2384
This is still not working

[2020-08-09 09:02] bblommers commented on #2384
Hi @MatteoInfi, can you share a reproducable test case?

Also, what version are you on? This should be available as of moto >= 1.3.14.dev363

[2020-08-09 09:04] bblommers commented on #2719
PR's are always welcome for new services. See our https://github.com/spulec/moto/blob/master/CONTRIBUTING.md, specifically the section on `Missing services`, for some examples on how to get started with this.

[2020-08-09 20:14] ipmb opened #3222 "Memory and CPU missing in ECS task definition"
Calling the `ecs` client's `register_task_definition` method with `cpu` and `memory` does not save them as part of the task definition.

[code]

My expectation is that they are stored with the task definition. Not having them stored in the task definition prevents ever running a task using the definition. The following traceback is triggered:

[code]

### Versions:

[code]

Issue is seen, both on

[2020-08-09 23:02] huynguyent commented on #3219
@bblommers I was using 1.3.14. I'll give 1.3.15.dev843 a try. Thanks!

[2020-08-10 10:25] benkeil opened #3223 "External Hostname"
Version: master

I add via terraform a lambda function with an environment variable to a queue that gets also created via terraform. The queue url is then `http://localhost:5000/123456789012/componenttest_rcsws_generate_feed` which is not resolvable from inside the lambda function. I guess I need to set it to the internal IP of the host that runs the tests (e.g. `http://156.195.56.12:5000/12345678

[2020-08-10 13:59] ruthbovell opened #3224 "S3 - Copying Objects that have StorageClass = 'GLACIER' but have been restored"
LocalStack Version - 0.11.2 (which uses Moto Version - 1.3.15.12)

I am having a problem with the mocked S3 copying a source object that has the StorageClass GLACIER but has also been restored. The fake file to be copied has this information returned when headObject is called:

[code]

In this case, because the source object has been restored (has value "ongoing-request=false" for the Restore prop

[2020-08-11 06:11] bblommers opened #3225 "Meta: Build on master failing"
`test_invoke_function_get_ec2_volume` is failing with the following error:

[code]

## Background
This test executes a Lambda, and tries to retrieve some EC2 Volume-details from within the Docker-container.
This now fails, since a few days, because of the above error.

Haven't had time to do proper research yet into the why or how, unfortunately.

## Cause
**TBD**

## Debug Logs
https://travis-ci.

[2020-08-11 09:45] The-TJ opened #3226 "NotImplementedError: The list_tags_for_resource action has not been implemented"
I'm trying to list tags for a resource in an organization but the list_tags_for_resource method shows up as not implemented. Looking at the Organizations model, I can see it is already implemented. I also get the same error when trying to use the tag_resource method.
[code]

[2020-08-11 12:47] iamyogeshg opened #3228 "NotImplementedError: The create_db_snapshot action has not been implemented"
Version:
moto                            1.3.14
Python                          3.7

Unit test function:

[code]

When running pytest I get following error:
[code]

This is a sample test failing :

[code]

[2020-08-11 16:45] ipmb opened #3230 "Load balancer created by cloudformation not destroyed between tests"
I'm using pytest and `moto.mock_cloudformation` to test a cloudformation stack. A minimal code sample is here: https://gist.github.com/ipmb/7746c429c8c2176d9dc81eecce0a26ed/98085ab2d6a758c391fe7ac88f16e9acb7016a52

I expect that when I run this, the full Cloudformation stack will be torn down and recreated for each test.

Instead, the first test passes, but the second test fails because the `LoadB

[2020-08-11 17:32] ipmb commented on #3230
Ah... if I mock `elbv2` then it works as expected! https://gist.github.com/ipmb/7746c429c8c2176d9dc81eecce0a26ed/7a731ada4f2c49e6d46ba2a0f49b91aae17b25bd

[2020-08-11 17:32] #3230 closed

[2020-08-12 01:53] meshuamam opened #3231 "DynamoDB: Update item doesn't validate against attributes"
Might be related to https://github.com/spulec/moto/issues/2396

Moto doesn't return an error when using putting the wrong attribute type.

Example:
When updating an attribute defined as:
[code]
with "put item", using a string value such as "123123jkasdfsdf", moto doesn't return a 400 with a client error.

Expected:
"400 status" and a "The parameter cannot be converted to a numeric value" message (

[2020-08-12 06:33] bpandola commented on #3228
I don't see where you're actually importing the `moto` mock, but make sure you use `rds2` (which has support for snapshots) and not `rds` (which does not).

`from moto import mock_rds2`

[2020-08-12 07:05] iamyogeshg commented on #3228
Yeah that's right, I accidentally figured it out myself, I was using mock_rds earlier. Thanks for taking time to respond.

Cheers.

[2020-08-12 07:05] #3228 closed

[2020-08-12 13:11] wblech opened #3233 "Pytest-cov with list_stacks() when stack is deleted"
I'm trying to create a test with pytest and moto  that check if the `StackStatus` from the dictionary returned from the function `list_stacks()` (https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/cloudformation.html#CloudFormation.Client.list_stacks) is `DELETE_COMPLETE`.

I create a pytest.fixture for the client connection:

    @pytest.fixture(scope='function')
    def c

[2020-08-12 18:56] Chagui- opened #3234 "missing region: af-south-1"
For some reason, moto fails in my computer when i'm using boto3 >= 1.12.0 (or maybe is botocore >=1.15.49). I'm getting the following error: `KeyError: 'af-south-1'`
Im not even in that region. Im supposed to be using us-east-1.
In my test, i'm only using mock_dynamodb2
If i install boto3-1.11.0 botocore-1.14.17 then the error goes away and the tests are running again.

this is the complete error:

[2020-08-12 20:28] Chagui- commented on #3234
Its already solved here:
https://github.com/spulec/moto/commit/194de2b6eaf5d884b6bbce8856d6f0e21eb45149

[2020-08-12 20:28] #3234 closed

[2020-08-13 16:53] mfogel opened #3237 "DynamoDB2 queries on GSI's fail to raise exceptions on wrong key names"
The following test case succeeds when run directly against AWS dynamodb, but fails when run using moto. It appears that moto is not validating the names of key attributes when querying an index.

- tested with lastest from `master`
- this is a keys-only index but I think that's irrelevant to the test
- this doesn't explicity test using `begins_with` or `between` but based on [the implementation he

[2020-08-17 17:37] harvester843 opened #3238 "NotImplementedError: The update_policy action has not been implemented"
Good afternoon,

I came across this error while using the organizations update_policy API call:
[code]
I am calling it by creating a session, with that session I create the organizations client and call it:

[code]
I am expecting the API call to succeed, but it is giving me the aforementioned error

Currently installed:
moto version 1.3.14
boto3 version 1.10.34
botocore version 1.17.28
installed a

[2020-08-17 18:23] harvester843 opened #3239 "NotImplementedError: The detach_policy action has not been implemented"
Good afternoon,

I came across this error while using the organizations detach_policy API call:
[code]
I am calling it by creating a session, with that session I create the organizations client and call it:

[code]
I am expecting the API call to succeed, but it is giving me the aforementioned error

Currently installed:
moto version 1.3.14
boto3 version 1.10.34
botocore version 1.17.28
installed a

[2020-08-18 08:14] bblommers commented on #3224
Thanks for raising this @ruthbovell - will mark it as an enhancement

[2020-08-18 08:19] bblommers commented on #3226
Hi @The-TJ, thanks for raising this.
What version are you on? This method should be available from moto >= 1.3.15.dev122

[2020-08-18 08:20] bblommers commented on #3231
Thanks for raising this @meshuamam - marking this as an enhancement

[2020-08-18 08:40] bblommers commented on #3233
Thanks for raising this @wblech. This will be fixed with an existing PR, #3218.

[2020-08-18 08:42] bblommers commented on #3237
Thanks for raising this, and providing the test case @mfogel - much appreciated.

Marking this as an enhancement.

[2020-08-18 08:43] bblommers commented on #3238
Thanks for raising this @harvester843. The `update_policy` endpoint was only introduced recently, and is available as of moto >= moto >= 1.3.15.dev999.
Can you verify whether your test case works after upgrading?

[2020-08-18 08:45] bblommers commented on #3239
Thanks for raising this @harvester843 - will mark this as an enhancement.

[2020-08-18 08:49] bblommers commented on #3222
Thanks for raising this @ipmb - marking this as an enhancement

[2020-08-18 09:13] kam193 opened #3240 "verify_email_address doesn't allow sending mails"
When I verify email using `verify_email_address`, it's not enough to send email - SESBackend respects only `verify_email_identity`.

How to reproduce:
[code]

This raises:
[code]

It's occurred because of how SESBackend works. The verifing emails is handled:
https://github.com/spulec/moto/blob/9894e1785a610f1dd8c9bfce1fa416692b3e0c2f/moto/ses/models.py#L113-L115

But when it checks sender email, i

[2020-08-18 15:00] ChrisDSky opened #3241 "mock_cognitoidp: The initiate_auth action has not been implemented"
Hello,

moto version: 1.3.14

I am trying to create a mock-up of a cognito user pool in order to mimic authenticating an user and accessing groups and privileges.

I have created my user_pool and user_pool_client, however when I try to call initiase_auth, on the Cognito Client, I always get the exception:
Unknown Exception: The initiate_auth action has not been implemented

This is how I create th

[2020-08-18 16:02] harvester843 commented on #3238
Hello @bblommers ,

Yes I have confirmed my update_policy test case now works using moto version 1.3.15.dev999. Is there a target date for the release of 1.3.15?

Also, thanks for addressing this issue quickly!

[2020-08-18 19:47] bblommers commented on #3238
There's nothing planned in terms of a release, as far as I know. Using the dev-releases is recommended though, because of the infrequent nature of official releases - and the only difference is really the naming.

[2020-08-18 22:19] jjbuck opened #3243 "Moto tests failing; can't find eu-south-1 region"
This is sort of a follow up to https://github.com/spulec/moto/issues/2789. I was running into the problem reported in that issue, and followed the suggestion to upgrade to 1.3.15.dev550+

I've upgraded to moto-1.3.15.dev751, and now I'm running into an error related to what seems to be a region map or configuration that assumes the presence of the eu-south-1 region. The stack trace is reproduced b

[2020-08-19 06:08] bblommers commented on #3243
Hi @jjbuck, the `eu-south-`-region was only made available as of moto >= 1.3.15.dev772.

Let me know if upgrading solves both your problems.

FYI: The region-issue happens whenever botocore adds a new region that is not yet recognized by moto. The workaround (until moto supports the region) is typically to downgrade to a version of botocore that doesn't have the new region yet.

[2020-08-19 11:14] anovero123 opened #3244 "Example - error : Exception: No module named 'botocore.vendored.requests.adapters'"
Running the sample, I get the `Exception: No module named 'botocore.vendored.requests.adapters'`

[code]

___________________________
Per request:

**moto 1.3.3
boto  2.48.0
boto3  1.12.1
botocore  1.17.44

via pip install**
[code]

[2020-08-19 13:09] #3238 closed

[2020-08-19 13:11] bblommers commented on #3244
Hi @anovero123, that's quite an outdated version of moto that you're using. Is it possible to upgrade to the [latest version, 1.3.15.dev1023](https://pypi.org/project/moto/1.3.15.dev1023/)?

[2020-08-19 13:14] bblommers commented on #3241
Hi @ChrisDSky, correct, that feature is not yet implemented. Will mark this as an enhancement in case somebody wants to submit a PR.

[2020-08-19 13:30] anovero123 commented on #3244
Of course.  Thank you - may I ask, as I am curious, as to the naming convention for your versioning - the latest production, I assume is 1.3.14?

[2020-08-19 13:34] ChrisDSky commented on #3241
@bblommers , Thank you for your response. Good to know, I will keep it in mind :-).

Hopefully will be implemented soon. I love Moto :-)

[2020-08-19 13:36] bblommers commented on #3244
Yes, that's correct - that is the production release. Official releases only happen every now and then, though, so we encourage people to use dev-releases when possible to stay up to date. (A dev-release is created after every commit to the main branch)

[2020-08-19 14:27] jmbollard opened #3245 "Fix issues with ip permisions for egress rules - similar to Issue 2775 for ingress"
The first issue is adding the ability to add a Description to the IpPermissions of an egress rule, which was addressed for ingress rules in [PR 3196](https://github.com/spulec/moto/pull/3196).

Using version 1.3.15.dev1023 of moto, the following test for an ip permissions on an egress rule with a description fails:

[code]

 The same change that was made for ingress can be made for the Egress rule

[2020-08-19 21:24] Syntactical01 commented on #2766
I am still getting this exact same error with almost identical code.

The values I am working with:
[code]
The code:
[code]

[2020-08-20 02:23] tekumara opened #3248 "EBS volumes don't store KmsKeyId"
[code]

The above prints `None`. I was expecting it to print `key`.

moto 1.3.14

[2020-08-20 09:24] bblommers commented on #2766
Hi @Syntactical01, which moto version are you working with? The fix is only part of moto >= 1.3.15.dev665

[2020-08-20 09:26] bblommers commented on #3248
Thanks for raising this @tekumara - marking this as an enhancement

[2020-08-20 09:28] bblommers commented on #3245
Thanks for raising this, @jmbollard, PR's are always welcome!

[2020-08-20 12:22] Syntactical01 commented on #2766
`.1.3.14`... When is version 1.3.15 going to be released on PyPi?

[2020-08-20 13:06] nykolaslima opened #3251 "Send SMS message fails with topic not found"
SNS allows publish directly to a phone number in order to send SMS messages.

Moto SNS does not support it since it gives an exception of topic not found when using publish operation directly to a phone number.

e.g.
[code]

This code throws the following error:
[code]

[2020-08-20 13:15] nykolaslima commented on #3251
As a workaround, you could create an SNS topic and subscribe to it using the phone number:
[code]

[2020-08-20 13:43] kam193 commented on #3251
Looks like duplicate of #2198

[2020-08-20 14:11] kam193 opened #3252 "Proposal: store send SNS notifications"
Since `moto` is a mock of original service for testing, it could be useful to have possibility to store messages sent to a topic and allow read them later. In my case, I have two systems that communicate via SNS notifications, and during unit tests of one system we would like to check that notification is sent. Currently, `moto` doesn't allow read notifications in other way as subscribing to them,

[2020-08-20 15:36] kam193 commented on #2198
I just created a PR #3253 that should fix it. You can check if the behavior is consistent with SNS.

[2020-08-23 21:23] pratik1891 opened #3257 "Moto unable to mock global s3 resource"
I have my_module something like this:

    import boto3

    S3_RESOURCE = boto3.resource('s3')

    def some_func():
        local_file='local_file.txt'
        S3_RESOURCE.Object(bucket, key).download_file(Filename=local_file)

i am trying to test this method with moto as follows:

    from moto import mock_s3
    import unittest
    import os

    @mock_s3
    class TestingS3(unittest.TestCase)

[2020-08-24 08:22] kam193 commented on #3257
Hi,
Are you sure that you never load `my_module` before this test? I created a test based on your code - and it works, the `local_file.txt` contains `data`

[2020-08-24 11:20] gudata opened #3258 "Can't get secrets which are added from aws cli"
Hello,
I have added a secret from a file
[code]
rds.json content is
[code]
and I am able to see the secret with those two commands

[code]

When I try to get the secret from the python2.7 it says that It couldn't find it.

[code]

Here is the output
[code]

[2020-08-25 02:36] #3225 closed

[2020-08-25 08:32] kam193 commented on #3258
Hi, I think it's because you use new-style mock which doesn't redirect calls to server but makes true mocking in the same process. As I see in the code base, `_deprecated` mocks work as you assumed (if I understand it good), but there is no this mock for secretmanager.

You can try to create it, probably in the way like:

[code]
but I was unable to check if it works.

[2020-08-25 08:50] giacomomasoncma opened #3259 "aiobotocore AttributeError - missing raw_headers"
I'm using moto to test functions that write tabular data to s3. I use tox + pytest. Here is the py37 environment that tox builds to run pytest:
[code]

This is the relevant snipped of the function I'm trying to test:
[code]

I've recently been getting a new error from `aiobotocore` when calling the `to_csv` method in pandas to write to my mock s3 instance:

[code]

[2020-08-25 12:05] #2198 closed

[2020-08-25 12:08] kam193 commented on #3251
@bblommers This can be also closed by #3253

[2020-08-25 12:49] bblommers commented on #2198
This is now fixed as of moto >= 1.3.15.dev1027

[2020-08-25 12:49] bblommers commented on #3251
Thanks for raising this @nykolaslima - this is now fixed as of moto >= 1.3.15.dev1027

[2020-08-25 12:49] #3251 closed

[2020-08-25 12:51] #3240 closed

[2020-08-25 12:52] nykolaslima commented on #3251
Thank you ❤

[2020-08-25 17:31] bblommers commented on #3240
This is now part of moto >= 1.3.15.dev1028

[2020-08-26 11:53] ciaranevans opened #3262 "SFN.Client.exceptions.ExecutionAlreadyExists Not implemented"
**TL;DR: When calling `start_execution`, if a execution exists already with the provided name, throw `SFN.Client.exceptions.ExecutionAlreadyExists`**

## Expected behaviour:

When using a `mock_stepfunctions` like so:

[code]

I expect the second call to `start_execution` to fail, throwing `SFN.Client.exceptions.ExecutionAlreadyExists` as the name of the execution has already been used.

## Actual

[2020-08-26 13:00] ciaranevans commented on #3262
I'd be interested in contributing a fix to this, but don't want to dive in without bouncing ideas off folks first!

I'm thinking https://github.com/spulec/moto/blob/c0953a229f959de79d22f3ed60f273eaa1800fcf/moto/stepfunctions/models.py#L206-L216
would have something like
[code]

The above is super high level, but I've poked around the Exceptions etc to see where stuff lives!

[2020-08-26 15:03] rbarrois opened #3264 "moto should not take over `responses` defaults"
We are using moto to mock AWS services (namely S3); and responses to control our access to third party APIs.

However, moto unconditionnally configures a global pass-through in `responses`:
At import time, `moto` configures responses:
https://github.com/spulec/moto/blob/master/moto/core/models.py#L249-L252

Once moto has been imported, it is no longer possible to use `responses` in one's code.

Si

[2020-08-26 16:15] RoniFinTech commented on #1543
I'm having an issue.

doesn't seem like PySpark is able to download jackson-annotations or jackson-core.

I tried adding them to here:
`os.environ[ "PYSPARK_SUBMIT_ARGS" ] = '--packages "com.amazonaws:aws-java-sdk:1.7.4,org.apache.hadoop:hadoop-aws:2.7.3" pyspark-shell'`

but no help.

This is the error stack:

`:: USE VERBOSE OR DEBUG MESSAGE LEVEL FOR MORE DETAILS Exception in thread "main" java

[2020-08-26 21:17] davido-bs commented on #3219
I'm on 1.3.14, but I also tried this on the 1.3.15 master branch without any help. I noticed that instances created from an autoscaling group also only show their root volume in the BlockDeviceMappings, even if an extra block device is specified in the launch configuration.

[code]
The call to describe_volumes() only includes the default root EBS volume, not the extra one specified in the launch c

[2020-08-27 10:18] ciaranevans commented on #3262
@bblommers I've just installed `1.3.15.dev1032` but now all tests using `moto` are failing due to InvalidAccessKeyId etc.

It looks like a change has been made in how credentials are handled somewhere down the line?

For reference, beforehand I was using `1.3.14`

[2020-08-27 10:33] bblommers commented on #3262
The handling of credentials did change @ciaranevans - see the readme on some guidance how to fix this: https://github.com/spulec/moto#very-important----recommended-usage

[2020-08-27 10:36] ciaranevans commented on #3262
Ah, I think what we're seeing is the imports issue.

That's unfortunate for unit tests!

[2020-08-27 10:44] ciaranevans commented on #3262
@bblommers I've now done imports of the to be testing methods into their test methods and can confirm that the ExecutionAlreadyExists exception is now being thrown correctly.

Going to call this issue sorted!

If you've got a nice way to handle having to import something every test function I write, I'd love to hear it!

[2020-08-27 10:44] #3262 closed

[2020-08-27 13:51] mkielar commented on #3159
I've just hit this today after naively hopping on `moto` (as SNS says `all endpoints done`) and half day of carefully crafting my mocks and unit tests...

Anyway, two questions:
1. Does this MR also handle paginators?
2. Any chance this will this be released anytime soon? Last release is almost a year old now...

[2020-08-27 15:30] bblommers commented on #3159
Hi @mkielar , this does not handle paginators yet.
This functionality is already available via the dev-releases, as of moto >= 1.3.15.dev1007

Will close this, as the immediate functionality is now available. Feel free to open a new issue for any improvements you'd like to see.

[2020-08-27 15:30] #3159 closed

[2020-08-27 20:35] bwitt commented on #3095
@spulec @bblommers just to echo others' sentiment: it'd be great to have a release soon. the lack of a recent release is causing some headaches.  thanks!

[2020-08-31 17:47] drmorr0 commented on #1644
I think we can close this now?

[2020-09-01 01:08] MattFisher commented on #3095
Recognising that, as mentioned in #2681, there's pre-releases posted after each PR merge, it would still be helpful to have official releases fairly regularly.

Our CI pipeline uses Dependabot, which relies on semantic versioning to be able to automatically create and merge new PRs to update dependencies when new releases appear. It might be possible to configure some extra logic to special-case i

[2020-09-01 07:47] #1644 closed

[2020-09-01 10:55] bblommers commented on #3264
Agreed @rbarrois, thanks for raising this. Will mark it as an enhancement

[2020-09-01 11:38] bblommers commented on #3259
Hi @giacomomasoncma, this is a aiobotocore specific issue - not related to moto.
Looks to be a duplicate of https://github.com/spulec/moto/issues/2706 and https://github.com/aio-libs/aiobotocore/issues/755

Closing this.

[2020-09-01 11:38] #3259 closed

[2020-09-01 11:49] bblommers commented on #3258
Hi @gudata, the MotoServer app can't be used in conjunction with the decorators. They each live in their own process and have their own internal data store. Any CLI commands will only talk to the MotoServer, and store secrets there.
When using the decorators, it will initialize a completely  new process + empty data store.

`boto3.client("secretsmanager", region_name='us-east-1', endpoint_url='htt

[2020-09-01 12:58] kam193 commented on #3258
@bblommers I know, I think this is why there is no `_deprecated` for secretmanager. I guess gudata could expect this behavior because of previous use of old decorators in other cases.

Anyway, this never should work with the current moto design and try to manually create deprecated decorator should only act as  a temporary workaround.

[2020-09-01 19:02] gudata commented on #3258
Got my mistake, thank you!

[2020-09-01 19:02] #3258 closed

[2020-09-01 19:22] zhil3 opened #3275 "Enhance mock_iot to support describe_endpoint and register_certificate_without_ca"
We wanna enhance the moto framework by adding two functions in **iot_mock** module.

Currently **describe_endpoint** and **register_certificate_without_ca** are what we need, and probably there will be more coming but depends on what we wanna implement in near future.

I have a branch already implemented the describe_endpoint with unittest working as well.
Now working on register_certificate_witho

[2020-09-01 22:35] zhil3 commented on #3275
register_certificate_without_ca  is done with unittest as well

[2020-09-02 07:59] yuvalif opened #3276 "[feature] allow lambda to run with podman as an alternative to docker"
* allows you to containers not as root
* cgroups v2
* better support on centos8/fedora OSs

should be an alternative, and not a replacement, as docker is more widespread than podman

[2020-09-02 10:01] Lamine34 opened #3277 "Question about moto and boto3 region"
## Question

Hello moto community,

I was looking for a place to ask a question regading a behaviour of moto, to know if it is normal and to get more information about it.

So regarding the boto3 region we give it during instanciation, how is this region taken into account ?

- For the case of the new aws chinese region (that is not integrated yet), we tested moto with that region and it did not s

[2020-09-02 10:13] bblommers commented on #3275
Hi @zhil3, thanks for raising this.

PR's are always welcome!

[2020-09-02 11:15] bblommers commented on #3277
Hi @Lamine34,

1) The behaviour to call real endpoints was the intended behaviour on moto 1.3.14, where it would only intercept known services/endpoints/regions.
Considering this is quite dangerous, we switched away from this now, and the latest dev-releases intercept every call to *amazonaws.com. When calling an unknown service/endpoint/region, it will throw an NotImplementedError.
(See https://p

[2020-09-02 11:20] bblommers commented on #3276
Hi @yuvalif, thanks for raising this. Hadn't heard of Podman before.

Is there a specific use case for Lambdas where Podman would give a noticable improvement? From what I can read, it would behave exactly the same in our limited use case. (I.e., run t he container, execute some python code and return the result.)

[2020-09-02 12:13] yuvalif commented on #3276
the main improvement is around installation and setup of docker (especially in case of centos8/fedora OSs), as well as the fact that non-privileged containers don't need root permissions in podman.
don't think there is functional advantage.

[2020-09-02 12:41] Lamine34 commented on #3277
Hello bblommers,

Thank you for your quick reply, it is perfectly clear. I was looking for a confirmation of what we observed,

I agree that it is safer to raise "NotImplementedError", this is important especially for production integration pipelines like in our use case where this "shady" behaviour can be a little painful to understand.

I'm happy that the project is taking this path for its futu

[2020-09-02 12:49] #3277 closed

[2020-09-02 14:01] zhil3 commented on #3275
@bblommers Thanks for the reply. But I don't have permission to push a branch thus how to raise the PR?

[2020-09-02 14:14] harvester843 commented on #3239
@bblommers I opened pull request https://github.com/spulec/moto/pull/3278 for this enhancement.

[2020-09-02 18:32] zhil3 commented on #3275
Thanks @bblommers for the info.
And could you please help up speedy up the PR process by any chances?
We are kind of in an urgent status of using those functions inside our pipelines.

Thank You

[2020-09-03 16:17] ciaranevans opened #3283 "Include ability to add input to Step Function Execution (and have it returned in describe_execution)"
**TL;DR** Moto should actually handle `input` for the Execution model [here](https://github.com/spulec/moto/blob/master/moto/stepfunctions/models.py#L29-L47)

@bblommers I intend on implementing this, just raising the issue so I can A: link the PR to something and B: not forget I need to do this 🤣

I'm planning on adding `input` as a property of `Execution` and implementing this back into [describ

[2020-09-04 08:46] #3275 closed

[2020-09-04 08:58] #3283 closed

[2020-09-04 09:52] bblommers commented on #3283
This is now part of moto >= 1.3.15.dev1047

[2020-09-04 21:17] spulec commented on #3264
I agree with this. I don't know that it will be possible with the current `responses` API though. I think this would require us to add some features there to be able to remove pass-throughs and such.

[2020-09-04 21:29] spulec commented on #3252
That makes sense to me. I would be in favor of that.

Marking as an enhancement.

[2020-09-04 23:01] timj commented on #3170
I think that warning is coming from boto.plugin -- you get it as soon as you import moto because it imports boto. It doesn't look like boto is ever going to fix that so if this is the right diagnosis the only fix for moto is to stop using boto.

[code]

[2020-09-05 17:46] spulec commented on #3095
If someone has some extra time to cleanup the changelog for a new release, I'll be happy to cut one.

[2020-09-07 15:41] spulec commented on #3095
Version `1.3.15` has now been released!

[2020-09-07 15:41] #3095 closed

[2020-09-07 15:42] bblommers commented on #3095
Awesome. Thanks @spulec!

[2020-09-07 16:07] jamesgunnfiveai opened #3290 "Fails to install cryptography for `moto-1.3.15`"
Inside a python:3.8-slim docker container, `pip install moto` does not install `cryptography` on the latest moto release (moto-1.3.15). This causes subsequent commands to fail with `ModuleNotFoundError: No module named 'cryptography'` when invoking `moto` mocks.

To see this, jump into a fresh docker:
`docker run --rm -it python:3.8-slim /bin/bash`

Then inside run:
[code]
And note that `cryptogra

[2020-09-07 16:32] ffe4 commented on #3290
Yup, encountered this issue as well while running a GitHub Actions test pipeline.

[2020-09-07 17:37] bblommers commented on #3290
Hi @jamesgunnfiveai, @ffe4, this is due to an attempt to reduce the number of dependencies in moto.
By default, moto only comes with the absolute basic set of dependencies. As `cryptography` is only required in acm, ec2 and iam, this dependency will only be installed explicitly when calling `pip install moto[ec2]`.

If you have multiple services and don't want to go through the trouble of specifyi

[2020-09-07 18:01] jvtm commented on #3290
AFAICT trying to use S3 `create_bucket()` triggers this error, via `moto/core/responses.py:141: in _authenticate_and_authorize_s3_action`.

[2020-09-07 18:13] bblommers commented on #3290
The linked PR adds some documentation on why this error occurs, and how to resolve it. Hopefully that clears things up - if not please let me know

[2020-09-07 19:23] jmehnle commented on #3095
@spulec, thank you for putting in the time and effort to create a new release! It's so much appreciated!

[2020-09-08 01:07] changliuit opened #3292 "S3 - Allow create_bucket(region=None), instead of throwing IllegalLocationConstraintException"
Version: moto: 1.3.15; botocore: 1.17.56
python 3.7.4

was working before with moto 1.3.14, but stopped working in 1.3.15

error:

[code]

test as below:

[code]

[2020-09-08 05:19] nigelmcnie commented on #3290
Hi, just noting I ran into this earlier today when trying to mock just s3 and sqs. Based on the stack traces I was getting, I think I would have needed the awslambda dependency, and possibly the ec2 dep as well, which wasn't clear to me. My app doesn't use lambda or ec2. My temporary fix was to downgrade to 1.3.14, but I suspect that using moto[all] or moto[ec2,awslambda] in requirements.txt would

[2020-09-08 07:49] bblommers commented on #3292
Hi @changliuit, this mimics the behaviour from AWS itself.
If the region is anything else then the default (us-east-1), the Location has to be specified using the CreateBucketConfigurationOption. See this example: https://boto3.amazonaws.com/v1/documentation/api/latest/guide/s3-example-creating-buckets.html

[2020-09-08 07:52] bblommers commented on #3290
True @jvtm - just did some testing in that area. There's a bug where, in order to get S3 to work, you'd have to install dependencies for IAM. (So either `pip install moto[iam]` or `pip install moto[all]`.)

Will propose a fix shortly.

[2020-09-08 08:16] jamesgunnfiveai commented on #3290
Thanks all, can confirm it's the S3 issue that I'm hitting. The error in the bug report is triggered when trying to create a bucket (which I should have included on the original report, apologies).

Sounds like fixing the hidden S3 dependency on IAM will solve this bug for me.

[2020-09-08 09:15] walkingpendulum commented on #3290
I had the same error, `No module named 'cryptography'`. Switching from `pip install moto[server]` to `pip install moto[all]` made cryptography error gone, but now it raises `No module named 'flask'` :(

[2020-09-08 10:05] arnaudh opened #3294 "No module named 'yaml' for `moto-1.3.15`"
Related to https://github.com/spulec/moto/issues/3290

Our CI build caught this error.
To reproduce:

[code]

I understand this is because `moto-1.3.15` requires us to be explicit about some sub-dependencies (https://github.com/spulec/moto/issues/3290#issuecomment-688451034)

I fixed the above issue by running `pip install moto[all]` (we mock several AWS services, so didn't want to pick individual

[2020-09-08 10:15] changliuit commented on #3292
Hey @bblommers  thanks for your reply! Right now the `create_bucket` is not exactly the same behaviour as the boto one which allows `region=None` in create_bucket function. Can we have something here similar to the boto code -- if region is None, get it from the client?

Regards
Chang

[2020-09-08 10:28] bblommers commented on #3292
Hi @changliuit, I wasn't aware of the region=None behaviour! Will mark it as an enhancement

[2020-09-08 10:41] teotwaki opened #3295 "Don’t make breaking changes on a dot release"
The latest .15 release has broken a bunch of projects I am currently working on. PRs that passed CI yesterday failed today after being merged.

Moto is a fantastic library, thus changing how dependencies are managed and introducing breaking changes in APIs that in a lot of cases are only used to mock the environment (bucket creation) is a surprising decision.

Might I suggest adopting something li

[2020-09-08 15:16] jamesgunnfiveai opened #3296 "Deleting element from string set with mock_dynamodb2 doesn't match AWS"
Versions: python==3.8.5, moto[iam]==1.3.15

When deleting the final element from a string set attribute in DynamoDB on AWS via `update_item`, the attribute is dropped. This behaviour is not specified in the AWS docs, but is observed in production.

In `moto` however, the string set attribute remains present but without any entries. Therefore `moto` is not matching production AWS behaviour. It is c

[2020-09-08 15:19] Tecktron opened #3297 "ModuleNotFoundError: No module named 'docker.errors'"
With the latest version, I'm seeing this error in my tests this morning:
[code]

Seems that if I add `docker` to my own `requirements.txt` it fixes the problem. Not sure if this dependency was missed somehow or if pip is not picking it up for other reasons.

[2020-09-08 15:26] Tecktron commented on #3297
specifying `moto[all]` did not work

[2020-09-08 17:21] bobobox commented on #3297
Seeing test failures due to this here as well.

[2020-09-08 18:21] youngbob commented on #3297
Getting a similar error using sns - it looks like sns and sqs import the awslambda backend, so need the awslambda extras (docker). There should be extras defined for all services that include all of their transitive dependencies too (or no dependencies, which would make it easier for users to just add all of the services as "extras" even if they don't pull in any extra dependencies - and leave roo

[2020-09-08 18:47] Tecktron commented on #3297
Again, I did try the `moto[all]` but didn't seem to work for me and had to add this package myself. Since I'm not explicitly using aws lamba, would have never known to include that package and a larger question then become how much of a lie is the `all` version since it's obviously NOT including all the dependencies. Before today, I've been using just `moto` (as is _still_ stated in the documentat

[2020-09-08 22:00] Jlrine2 commented on #3297
Also having this issue with mocking dynamodb, resolved by freezing to version 1.3.14 suggesting that this update broke my tests and caused the following error.

[code]

[2020-09-08 23:46] changliuit commented on #3292
thanks @bblommers that'll be great

[2020-09-09 00:25] tonyhutter commented on #783
I'm working on implementing this - once it's usable I'll put together a PR.

[2020-09-09 01:06] RonRothman commented on #3290
@bblommers First of all, thank you for moto and for being sensitive to the number of dependencies it has. Much appreciated.

Like several others here, this change broke our builds. We (naively?) assume that projects only introduce breaking changes on major releases. Have you considered semver for moto? If you have and have decided against it, could you offer some guidance on how tightly we should

[2020-09-09 01:24] jweite opened #3298 "Support Transcribe Service"

[2020-09-09 01:29] #3290 closed

[2020-09-09 01:37] spulec commented on #3290
This was unintentional. Apologies.

Things should be back to before with the newly released `1.3.16`.

[2020-09-09 01:38] spulec commented on #3297
This was unintentional. Apologies.

Things should be back to before with the newly released `1.3.16`.

[2020-09-09 01:38] #3297 closed

[2020-09-09 01:40] spulec commented on #3294
This was unintentional. Apologies.

Things should be back to before with the newly released `1.3.16`.

[2020-09-09 01:40] #3294 closed

[2020-09-09 01:40] spulec commented on #3295
This was unintentional. Apologies.

Things should be back to before with the newly released `1.3.16`.

[2020-09-09 01:40] #3295 closed

[2020-09-09 01:57] RonRothman commented on #3290
Thanks for the quick fix. 👍

[2020-09-09 07:14] davidszotten commented on #3290
@spulec could you clarify if the issue is the missed s3 dependency on iam or that this was landed in a minor version release?

[2020-09-09 08:28] jamesgunnfiveai commented on #3290
Thanks for the speedy fix folks.

@davidszotten - if you look to https://github.com/spulec/moto/commit/ed9668107847233ec6f695a494269825e01ba932 you'll see that the dependency clean up was reverted for the 1.3.16 release, indicating the issue was landing the dependency changes in a patch release. Discussion on https://github.com/spulec/moto/pull/3293 indicates a future release will be made with a g

[2020-09-09 08:57] teotwaki commented on #3295
Thank you for prioritising this @spulec. Very much appreciated!

[2020-09-09 09:07] bblommers commented on #1793
Hi @mickog, this might fix your issue:
https://github.com/spulec/moto/blob/master/README.md#very-important----recommended-usage

[2020-09-09 09:11] mickog opened #3300 "Test cases written in moto using Latest version of boto3 fails"
Seeing this issue is not resolved https://github.com/spulec/moto/issues/1793
I am using
boto = 2.49.0
boto3 = 1.14.57

with moto 1.3.16 I receive the following error
[code]
with moto 1.3.10 there is no issues

[code]
[code]

[2020-09-09 09:41] mickog commented on #1793
Cheers @bblommers will take a look at refactoring my tests,

[2020-09-09 09:59] JPFrancoia opened #3301 "Support for S3 select?"
It looks like the [S3 select](https://docs.aws.amazon.com/AmazonS3/latest/API/API_SelectObjectContent.html) feature isn't supported by moto at the moment. Moto version: `moto==1.3.16`.

Here is a small snippet of code to demonstrate:

[code]

It just creates a bucket, and upload a dummy csv file into the bucket using [aws-data-wrangler](https://github.com/awslabs/aws-data-wrangler).

This code wor

[2020-09-09 10:07] bblommers commented on #3301
Hi @JPFrancoia, what version of moto are you on?
The expected behaviour for the latest version would be to throw a NotYetImplemented-exception, to make it more obvious what's going on.

It should be possible to support this though, with the limitation that it would always return a static result (regardless of the data/SQL input).

Marking it as an enhancement.

[2020-09-09 11:06] JPFrancoia commented on #3301
Hi @bblommers , thanks for your answer. I amended my question to include moto's version (it's the latest on pypi at the moment).

Just to make sure I understand, in this case the SQL query is a simple count. Will I get a number back? What about the serialization formats?

[2020-09-10 06:21] Dunedan opened #3302 "Secrets Manager ARN not persistent"
When using `mock_secretsmanager()` with `moto` 1.3.16 to create a secret, the returned ARN isn't available for querying afterwards. Instead `list_secrets()` shows that it changes with every call. See the following code for an example:

[code]

That code produces output like the following. Note the changing ARN:
[code]

[2020-09-10 07:24] bblommers commented on #3302
Thanks for raising this @Dunedan - that doesn't sound quite right.
Marking it as a bug.

[2020-09-10 07:31] bblommers commented on #3301
Hi @JPFrancoia, the exact implementation details will depend on whoever wants to tackle this, and how specific they want to make it. As a community-driven project, anyone can send a PR with this feature - so I can't say how many SQL features/functions will be included.

[2020-09-10 08:15] arnaudh commented on #3294
Thank you @spulec.
I've already changed our dependency to be `moto[all]`, is it ok for us to use that instead of `moto` for the future?

[2020-09-10 13:15] spulec commented on #3294
@arnaudh yes! That is what we will ask everyone to do going forward after a more major release. In the meantime, I have made it so that `moto` and `moto[all]` both work.

[2020-09-10 21:06] jweite opened #3304 "Application Autoscaling Only Supports a Limited Set of the Possible Resource ID Formats"
Application Autoscaling only supports _three-component slash-delimited_ resource IDs, the style used by ECS.  There are a number of other valid variations to this format, documented in [RegisterScalableTarget](https://docs.aws.amazon.com/autoscaling/application/APIReference/API_RegisterScalableTarget.html).

My specific attempts to register a SageMaker resource ID in the form documented [here](htt

[2020-09-10 22:04] rwygand opened #3306 "moto_server returning unparsable dates to v2 Java SDK"
## Unable to unmarshall response (Text '2020-09-10T21:41:37.256457+00:00' could not be parsed at index 19)

It looks like the v2 AWS SDK is unable to parse the datetime strings being returned by moto_server. The full exception message is

Unable to unmarshall response (Text '2020-09-10T21:41:37.256457+00:00' could not be parsed at index 19). Response Code: 200, Response Text: OK (Java::SoftwareAma

[2020-09-10 22:51] rwygand commented on #3306
This bug against the Java SDK v2 illustrates the issue, as well: https://github.com/aws/aws-sdk-java-v2/issues/981

[2020-09-11 03:58] jweite opened #3307 "boto3 1.14.59 breaks s3 test_presigned_url_restrict_parameters"
s3 generate_presigned_url exception message for unknown parameters has changed (new param added).

[2020-09-11 09:17] #2705 closed

[2020-09-11 09:29] wbwork opened #3309 "Filter for tags not implemented on ec2 DescribeAddresses"
EC2 API allows to filter on tags for DescribeAddresses. For Moto this is not implemented yet. PR is in preparation.

### How to reproduce

[code]

### What you expected to happen
Test succeeds

### What actually happens
moto.ec2.exceptions.FilterNotImplementedError: The filter 'tag:ManagedBy' for DescribeAddresses has not been implemented in Moto yet.

### Versions
Name: moto
Version: 1.3.15.dev0

[2020-09-11 10:30] bblommers commented on #3307
This is now fixed as of moto >= 1.3.16.dev5

[2020-09-11 10:30] #3307 closed

[2020-09-11 10:32] bblommers commented on #2705
This is now fixed as of moto >= 1.3.16.dev5

[2020-09-11 12:45] yan12125 commented on #3276
I give it a try, and get blocked as Podman hasn't implemented all Docker APIs. After some patches to moto and docker-py, the blocker comes to the `put_archive` function [1][2].

I'm interested in this as I'm maintaining the Arch Linux package and I'd like to run the test suite of moto without extra privileges.

[1] https://github.com/spulec/moto/blob/9f0f230d130a839fb2de6bfc97af4182360fbcdb/moto/a

[2020-09-11 13:42] Andrew-Chen-Wang opened #3311 "Testing image upload to mocked S3"
## Reporting Bugs

I'm writing some test case for working on presigned post image upload. I'm following the code from here:

https://boto3.amazonaws.com/v1/documentation/api/latest/guide/s3-presigned-urls.html#generating-a-presigned-url-to-upload-a-file

With some additional parameters that shouldn't matter. When you create the presigned post, you'll get a dictionary. Following their `requests` te

[2020-09-12 08:16] lsutic opened #3312 "S3 DeleteObject operation doesn't return x-amz-* headers"
The S3 DeleteObject operation should (when applicable) return `x-amz-*` headers. In particular `x-amz-version-id` and `x-amz-delete-marker`: https://docs.aws.amazon.com/AmazonS3/latest/API/API_DeleteObject.html

Moto doesn't.

See: https://github.com/spulec/moto/pull/3313 for fix

[2020-09-12 20:10] samsonych commented on #3300
I confirm that the `@mock_dynamodb2` decorator doesn't work with moto v1.3.16 (boto-2.49.0, boto3-1.14.60, botocore-1.12.253).

[2020-09-12 22:12] bblommers commented on #3300
Hi @samsonych, are you getting the same error message?
This might fix your issue:
https://github.com/spulec/moto/blob/master/README.md#very-important----recommended-usage

[2020-09-15 14:27] GuyMoses opened #3315 "cognito-idp Filter doesn't strip strings when filtering values"
The following code works when using boto3 (but not in moto):

`client.list_users(UserPoolId=user_pool_id, Filter=f'email = "{email}"')["Users"]`

This is because moto's list_users implementation doesn't strip the `Filter` value.

Moto's implementation was merged here:
[https://github.com/spulec/moto/pull/2727/files](url)

The fix could be by striping name & value at line 295 @ (`cognitoidp/respone

[2020-09-16 11:04] ChrisDSky opened #3319 "RDS Instance, can't connect to the Database"
Hello,

I am trying to create a DB Instance and connect to it via pymysql (or any other library to achieve it is welcomed).

I manage to create the DB Instance via create_db_instance, and here is the response from it:

` {'DBInstances': [{'DBInstanceIdentifier': 'test', 'DBInstanceClass': 'db.m1.small', 'Engine': 'postgres', 'DBInstanceStatus': 'available', 'MasterUsername': 'test', 'Endpoint': {'

[2020-09-16 12:31] alok2k5ingh commented on #2396
is there any fix for this? I'm getting the same error

[2020-09-16 22:49] BenD10 opened #3320 "IoT Core register_certificate_without_ca behavior doesn't match boto3"
**moto version:** 1.3.6
**boto3 version:** 1.14.60
Moto is installed via pipenv and used with pytest.

When using boto3, trying to use the [register_certificate_without_ca](https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/iot.html#IoT.Client.register_certificate_without_ca) endpoint, trying to register a certificate that already exists will throw an exception.

[code]

In

[2020-09-16 22:53] BenD10 opened #3321 "Moto generates incorrect certificate id for IoT Core"
**moto version:** 1.3.6
**boto3 version:** 1.14.60
Moto is installed via pipenv and used with pytest.

This is where moto generates the IoT certificate id:
https://github.com/spulec/moto/blob/master/moto/iot/models.py#L133

AWS actually generates this certificate ID by getting the SHA256 of the certificate in DER format. I've found this via https://stackoverflow.com/questions/55847788/how-does-aws

[2020-09-17 03:06] jmehnle commented on #3035
This was fixed in the 1.3.15 release. Time to close this issue?

[2020-09-17 03:17] jmehnle commented on #3292
I understand I can work around this by specifying a region, but I choose not to (I have too many `create_bucket` calls in my unit tests, and running on `moto` 1.3.14 for a while longer is the lesser evil), and so this is effectively preventing me from upgrading to `moto` 1.3.16. :(

[2020-09-17 11:07] bblommers commented on #3320
Hi @BenD10, thanks for raising this. Will mark this as an enhancement.

PR's are always welcome! FYI, this was the original PR that added the endpoint - might come in handy as a starting point: https://github.com/spulec/moto/pull/3279/files

[2020-09-17 11:08] bblommers commented on #3321
Sounds good to me @BenD10 - looking forward to a PR! Let me know if you need any help with this.

[2020-09-17 11:08] #3035 closed

[2020-09-17 11:09] bblommers commented on #2978
This should now be fixed as of moto >= 1.3.16.

[2020-09-17 11:09] #2978 closed

[2020-09-17 11:13] bblommers commented on #3319
Hi @ChrisDSky, Moto endeavours to mimick the AWS SDK only, to mock out any calls during unit tests - we don't create/mock any actual servers.

If you need an actual server and run an integration test against that, that would be outside the scope of Moto.

[2020-09-17 11:25] ChrisDSky commented on #3319
@bblommers , thanks for the response.

Correct me if I am wrong, but Moto can be started up as a Server....so wouldn't it then emulate a SQL database inside that server ?

[2020-09-17 15:21] bblommers commented on #3319
MotoServer allows people to mock SDK's in different languages (NodeJS, etc), by explicitly setting the endpoint-url in the respective SDK.
For python it would look like this:
`boto3.client('s3', endpoint_url="http://motoserver:5000/")`

The functionality remains the same though, it's just a different entrypoint (standalone server vs in-memory decorators)

[2020-09-17 17:40] ChrisDSky commented on #3319
@bblommers , Ok thanks for the clarification. Still great work for Moto :-)

[2020-09-17 18:12] wallowa opened #3322 "moto server dashboard 500 from data.json resource"
**How to reproduce the bug**: run moto docker in server mode and go to http://localhost:5000/moto-api/.
**Expected**: dashboard page with service status and available AWS resources (e.g., S3 objects).
**What happens**: visit http://localhost:5000/moto-api/ and get a mostly empty page (except for tabs at the top). Inspecting the page shows that /moto-api/data.json returns a 500. curl GET against th

[2020-09-18 10:18] dmateusp commented on #1322
I know this issue is very old, but is is possible to simulate errors now ? I'm trying to simulate denied access to a bucket

[2020-09-18 12:01] Stukongeluk opened #3323 "Cloudwatch Moto implementation does not support Expressions"
## Reporting Bug
**Moto version: 1.3.16**
**Python version: 3.8**
**Boto3 version: 1.14.63**

Installed this in my venv with `pip install moto`

## How to reproduce
Use the cloudwatch client with `get_metric_data` with an expression.
[code]
An example stacktrace when testing this with Pytest and a test setup looking something like this:
[code]

This results in something like this:
[code]

## Expec

[2020-09-18 17:56] apranav19 opened #3324 "Support for IAM Policies on CloudFormation"
It seems that Moto's CloudFormation service does not support IAM::ManagedPolicy or IAM::Policy.

When I execute a create_stack operation on a CloudFormation template that creates and exports an IAM::ManagedPolicy, I see the following warnings & errors:

Warnings:
----------
[code]

Errors:
------
Can be reproduced by including the IAM::ManagedPolicy in the `Outputs` section as follows:
[code]

[co

[2020-09-19 01:41] alfredocambera commented on #1941
I'm using version 1.13.16 and exporting the environment variables hasn't worked for me.

[2020-09-19 09:35] bblommers commented on #1007
This is now part of moto >= 1.3.16.dev7

[2020-09-19 09:35] #1007 closed

[2020-09-19 10:08] bblommers commented on #3322
Hi @wallowa, can you share you docker-compose file? I can't seem to be able to reproduce it

I did find a bug where the `data.json` call returns a mostly empty list, but it does return a 200 for me.

[2020-09-19 10:10] bblommers commented on #3324
Thanks for raising this @apranav19 - marking this as an enhancement.

I'm not aware of any plans, but PR's are always welcome!

[2020-09-19 10:12] bblommers commented on #3323
Correct @Stukongeluk - the `get_metric_data`-implementation is quite bare-bone at the moment. Marking this as an enhancement.

Thanks for raising it!

[2020-09-19 10:13] #3319 closed

[2020-09-19 10:13] bblommers commented on #3306
Thanks for raising this @rwygand - marking this as a bug

[2020-09-19 10:14] bblommers commented on #3296
Thanks for raising this @jamesgunnfiveai - will mark this as an enhancement.

[2020-09-19 10:23] bblommers commented on #3311
Hi @Andrew-Chen-Wang, thanks for reporting this. You'll likely get the same response when using server mode - as far as I know, we always assume a raw-text upload.
Marking this as a bug.

[2020-09-19 10:24] bblommers commented on #3312
Thanks again for raising this, and providing a PR, @lsutic.

This should now be part of moto >= 1.3.16.dev6

[2020-09-19 10:24] #3312 closed

[2020-09-19 10:30] bblommers commented on #3300
Going to close this now, as it should be fixed by following the above guidelines.

Let me know if you run into any other issues.

[2020-09-19 10:30] #3300 closed

[2020-09-19 18:19] ayushb-infiswift opened #3325 "Implementation of Cognito Function `admin_set_user_password`."
Hello!

I am trying to write unit tests for the lambda functions in python. When I tried to invoke the function `admin_set_user_password` i got the following error:
[code]

Is there any workaround to get rid of this error or any plans to add the set_user_admin function to the mocked functions?
code for reference:
[code]

[2020-09-19 19:14] #3325 closed

[2020-09-19 19:17] ayushbhawsar opened #3327 "Implementation of Cognito IDP function `admin_set_user_password`"
Hello!

I am trying to write unit tests for the lambda functions in python. When I tried to invoke the function `admin_set_user_password` i got the following error:
[code]

Is there any workaround to get rid of this error or any plans to add the set_user_admin function to the mocked functions?
code for reference:
[code]

[2020-09-19 19:17] Andrew-Chen-Wang commented on #3311
I see. Is it enough to just `decode("base64")`? Or because it was a form upload, with other texts mixed in, there has to be some more set up involved?

[2020-09-19 19:17] bblommers commented on #3306
Duplicate of #2665

[2020-09-20 01:40] wallowa commented on #3322
Thank you for the quick response. It turns out it was triggered by passing a bad policy json when subscribing an sqs queue to sns, though using a policy appears to be unnecessary in moto so I just removed it.

[2020-09-20 01:40] #3322 closed

[2020-09-20 12:30] #3315 closed

[2020-09-21 06:33] bblommers commented on #3315
This is now available as of moto >= 1.3.16.dev9

[2020-09-21 17:40] #3327 closed

[2020-09-21 18:13] pinkjosh commented on #3171
@bblommers Requesting your comments if there is an update on this one.

[2020-09-22 00:01] escaped opened #3330 "responses does not work as expected due to passthru rule"
Hey,

I just ran into an issue while using `responses` and `moto` at the same time.

If you use `@responses.activate`, you would expect that all HTTP requests are blocked and an exception is raised when you request an URL which has not been specified using `responses.add`. This works well as long as you are not importing `moto`. As soon as you `import moto`, it runs `responses.add_passthru("http")

[2020-09-22 09:28] #3320 closed

[2020-09-22 09:28] #3321 closed

[2020-09-22 09:57] bblommers commented on #3320
This is now part of moto >= 1.3.16.dev25

[2020-09-22 09:57] bblommers commented on #3321
This is now part of moto >= 1.3.16.dev25

[2020-09-22 21:44] #3306 closed

[2020-09-22 23:17] ljakimczuk opened #3332 "Proposal: Support for FlowLogs"
Hello,

moto does not seem to support the VPC Flow Logs, would you be interested in adding that? I've initially started to work on implementing a mock [here](https://github.com/spulec/moto/compare/master...ljakimczuk:master), but before proceeding it would be good to know your position on this.

[2020-09-23 10:36] bblommers commented on #3085
This was fixed in #3288, and part of moto >= 1.3.16.dev29

[2020-09-23 10:36] #3085 closed

[2020-09-23 14:12] bblommers commented on #3332
Hi @ljakimczuk, that would definitely be a useful enhancement. PR's are always welcome!

Let me know if you need any assistence.

[2020-09-23 15:30] BenD10 opened #3333 "Adding additional context to exceptions"
Hi there!

When I worked on #3320, I missed that boto includes more context on the `ResourceAlreadyExistsException`, here's a sample from an actual boto3 call.

[code]

vs Moto
[code]

Note the boto3 response contains `resourceId` and `resourceArn` as per the spec - https://github.com/boto/botocore/blob/develop/botocore/data/iot/2015-05-28/service-2.json#L13457

I can't find any examples of where

[2020-09-23 15:32] BenD10 commented on #3333
I'd like to discuss some ideas/implementation first, and then I'll send along a PR.

[2020-09-23 16:21] ljakimczuk commented on #3332
Glad to hear that @bblommers! If that's not too much to ask, would you like to take a quick look at the compare above? Maybe there is already something in there that you will find to be pointless, wrong or not fitting the rest of the library. It could be very helpful.

In short, the basic trio - create/describe/delete - seem to work. For now, I do not perform any checks against the `DeliverLogPerm

[2020-09-24 07:04] scottplawrence commented on #2396
I have the same issue - but only when the key is not in the mock table.  So for example, I have:
[code]

When I run the query:
[code]

The query works fine with the 'campaign_key' set to 'ACME-TEST', but I get a Validation Exception if it is set to 'ACME-TEST2'.

[2020-09-24 13:14] bblommers commented on #3333
Hi @BenD10, we're using specific error templates in S3, for example. The error templates in S3 are in XML format, and are defined like this:
https://github.com/spulec/moto/blob/master/moto/s3/exceptions.py#L5

Custom errors can be raised like normal, like is done here: https://github.com/spulec/moto/blob/master/moto/s3/models.py#L1279
For IOT, I imagine it would eventually look like this:
[code]

[2020-09-24 13:17] bblommers commented on #3330
Thanks for raising this @escaped. There's a related issue here: #3264, but no specific solutions for either yet.

[2020-09-24 18:41] teague-lasser opened #3334 "presigned urls API fails when KMS is mocked but not when it is a fake key"
I have a test that creates a presigned url and reads the file back out similar to the UT in moto. In my code there is a completely bogus `test_kms_arn` value passed along to the API as the kms arn. This test worked. I then added another test where I needed to mock KMS and produce a kms_arn for a different unit test. After I did this the test started failing.

I have a shared variable `KMS_KEY` tha

[2020-09-24 21:22] harvester843 commented on #3239
@bblommers I've made updates to the PR, could you please take a look when you have a moment. Thanks!

[2020-09-25 12:21] bblommers commented on #3334
Hi @teague-lasser, thanks for raising this.
Can you share a minimal reproducable example, by any chance?

[2020-09-25 12:40] bblommers commented on #2396
I'm going to close this item, as the original issue was solved (by using the correct AttributeType.

@alok2k5ingh Feel free to open a new issue if you feel anything else is still bugged, ideally with a minimal reproducable test :)

@scottplawrence Definitely open a new issue for this - I can't reproduce your example, so that might need some more debugging.

[2020-09-25 12:40] #2396 closed

[2020-09-25 13:26] tomelliff opened #3335 "Other tests interfering with Moto mocks"
I had some tests working fine when I was initialising the relevant clients in the functions that I was then testing. My tests looked something like this:

[code]

Unfortunately this has quite a lot of overhead for Lambda functions so I moved the clients out to the global scope which then broke all my tests. I switched to importing my production code at the test function level and also followed the

[2020-09-25 15:54] bblommers commented on #3309
This is now part of moto >= 1.3.16.dev34

[2020-09-25 15:54] #3309 closed

[2020-09-25 16:47] ndamclean opened #3336 "update_item does not work correctly with SET update expressions"
**moto version:**
\>=1.3.15

**Issue**
The `update_item` function does not work as expected. You should be able to use `SET` in an "update expression" to add an attribute to an item if the attribute does not already exist. This was working correctly in `moto` version `1.3.14`.

https://docs.aws.amazon.com/amazondynamodb/latest/APIReference/API_UpdateItem.html#API_UpdateItem_RequestSyntax

**Code t

[2020-09-25 17:02] bblommers commented on #3239
This is now part of moto >= 1.3.16.dev35

[2020-09-25 17:02] #3239 closed

[2020-09-26 08:56] bblommers commented on #3335
Hi @tomelliff, those three tests don't seem to have any moto-fixtures, i.e. moto would never be initialized.
I imagine it would work just fine using:
[code]
(Where `lmbda` is a new function following the same pattern as your `s3` and `ec2` functions)

[2020-09-26 09:10] bblommers commented on #3335
Ignore my earlier (now-deleted) comment - I misread the question.

The new test-setup is due to the fact that moto has be initialized before any boto3-clients are created. Once a boto3-client is created, it's not possible to retro-actively mock it.

With this combination of mocked and patched tests, I imagine this might be what's happening:
 - Test 1 runs, and initializes moto
 - Test 1 creates a

[2020-09-26 09:13] bblommers commented on #3336
Thanks for raising this @ndamclean - that's a very common scenario, not sure why moto doesn't cover that.

 Marking this as a bug.

[2020-09-27 12:10] icevita opened #3339 "DynamoDB supports empty values"
https://github.com/spulec/moto/blob/55e7caccfe2482c90e4fb52214ef9e031ccdda1e/moto/dynamodb2/responses.py#L24

https://aws.amazon.com/about-aws/whats-new/2020/05/amazon-dynamodb-now-supports-empty-values-for-non-key-string-and-binary-attributes-in-dynamodb-tables/

[2020-09-28 06:12] scottplawrence commented on #2396
@bblommers I did some more debugging and the error I was receiving was a query on another table where the table name had a typo - sorry for the confusion!

[2020-09-28 06:33] bblommers commented on #3332
This was implemented as part of #3337, and now part of moto >= 1.3.16.dev37

[2020-09-28 06:33] #3332 closed

[2020-09-28 07:57] bblommers commented on #3339
Thanks for raising this @icevita! Will mark it as an enhancement.

[2020-09-28 10:31] bblommers commented on #3311
Hi @Andrew-Chen-Wang, sorry for the delay. Yes, base64 encoding might be enough.

Can you share your unit test, by any chance? I'm unable to reproduce this.

FYI, I do get a similar error (different stack trace) when using this code:
[code]
But that can be fixed by passing in the mode-argument as `rb`:
[code]

[2020-09-28 13:23] Andrew-Chen-Wang commented on #3311
Whoops accidentally closed.

My presigned post was basically the ones shown in Boto3, but as requested/copied from docs:

[code]

[2020-09-28 14:49] Ellynas opened #3343 "README and IMPLEMENTATION_COVERAGE mismatch for `run_instances`"
In the README.md, section [another-example](https://github.com/spulec/moto#another-example), there's an exemple of moto mocking and testing the usage of `boto3.client('ec2', region_name='us-west-1').run_instances(...)`, yet in master's [IMPLEMENTATION_COVERAGE.md](https://github.com/spulec/moto/blob/master/IMPLEMENTATION_COVERAGE.md#ec2) that method is not marked as implemented.

But it seems to b

[2020-09-28 16:49] tomelliff commented on #3335
Passing any moto mock (either s3 or ec2) to just the test with `pytest.raises` seems to fix this without any other changes now.

Your explanation seemed to make sense to me for the other tests that were using the mocker but I'm confused why it's the `pytest.raises` one that should be the issue here.

The production code looks like this:

[code]

So to me it seems like the assertion should be hit a

[2020-09-29 06:52] qbiqing commented on #2978
I am using moto v1.3.16, installed with pipenv, and this warning still appears. In my case I'm using `mock_s3`.
[code]

[2020-09-29 09:37] aschuhl opened #3344 "How to use mock_lambda?"
I am having trouble with a creating a lambda using moto. Every time I get the exception

I have `moto_server lambda` running and below is my test code:

[code]

What I am missing?

[2020-09-29 12:56] bblommers commented on #3311
I can't reproduce this I'm afraid. I've set up a sample Django code with just the one app/view.
This is the view-code that I use, which looks example the same as your example:
[code]

I'm assuming you're on the latest version of moto (1.3.16)?

[2020-09-29 13:04] Ellynas commented on #3343
pull request https://github.com/spulec/moto/pull/3342 merged and closed, closing issue.

[2020-09-29 13:04] #3343 closed

[2020-09-29 13:07] bblommers commented on #3335
Might be the caching at work again. If the `pytest.raises`-test simply  happens to be the first one that's executed, it will cache a mocked boto3-client in the `event_handler`. The cached client is then re-used in the `mocker`-instances.

If you forcefully reload the `event_handler` in the mocker-tests, it should re-initialize the boto3-client (without mocks), and cause the same failure again.
[co

[2020-09-29 13:11] bblommers commented on #3344
Hi @aschuhl, do you have the Docker-client running on your machine, with the appropriate permissions?

Which version of moto are you using? The latest version (1.3.16) should give a more explicit error when Docker can't be found/accessed.

[2020-09-30 11:38] bblommers commented on #3292
Hi @changliuit, can you share an example test of the region=none?
I assumed you meant `s3.create_bucket(Bucket=bucket_name, CreateBucketConfiguration={"LocationConstraint": None},)`, but that doesn't work anyway.

[2020-09-30 12:14] bblommers commented on #3336
Hi @ndamclean, just did some debugging - it looks like AWS behaves the same way.
It only works (both in AWS and moto) when specifying the ExpressionAttributeNames/Values:
[code]

[2020-09-30 15:33] bblommers commented on #3298
Initial support for Transcribe now available as of moto >= 1.3.16.dev40.

Will close this - feel free to open any new tickets for subsequent developement.

[2020-09-30 15:33] #3298 closed

[2020-09-30 21:02] #3302 closed

[2020-10-01 10:40] Ellynas opened #3352 "`mock_ecs.describe_container_instances` missing value `registeredAt`"
The [official ECS documentation](https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/ecs.html#ECS.Client.describe_container_instances) states that the response of `client.describe_container_instances()` contains :

The Unix timestamp for when the container instance was registered.

But as far as I know, moto mock of that call doesn't.

### to Reproduce:
Inspired from [`test_

[2020-10-02 04:20] escaped commented on #3330
Oh... sorry for reporting the issue again; I did not see the other issue for some reason. I'll close this one in favour of #3264 :)

[2020-10-02 04:20] #3330 closed

[2020-10-02 04:32] escaped commented on #3264
I think we should at least document this behaviour somewhere and suggest a way to remove the hook. I currently use a hack way to remove the hook globally.

[code]

This should be done where `moto` is imported, most likely this would be in the `conftest.py`.

...but this solution is not optimal (imo). Maybe we should turn the logic around, so you have to explicitly enable the passthru if you really

[2020-10-02 12:29] bblommers commented on #3352
Thanks for raising this @Ellynas - marking it as an enhancement.

[2020-10-02 20:25] g-dx opened #3357 "Docker tag for 1.3.16"
Hi,

Any chance we can get a new Docker tag pushed to https://hub.docker.com/r/motoserver/moto/tags for the `1.3.16` release rather than using `latest`?

Thanks again for all your hard work!

[2020-10-04 09:06] saartochner commented on #3357
This is important because we just saw that tests are failing with docker version 4.3.1 and not 4.3.0 (tests that use lambda clients)

[2020-10-04 09:21] saartochner opened #3359 "Breaking changes in docker"
## Reporting Bugs

Hey,
If there is no docker deamon running, then using `mock_lambda` with the newest version of docker-py (4.3.1) yields the following error:

[code]
Version 4.3.0 does not have this problem.

[2020-10-05 06:29] bblommers commented on #3359
Thanks for raising this @saartochner. Looks like it's related to https://github.com/docker/docker-py/issues/2665 and https://github.com/docker/docker-py/issues/2676

[2020-10-05 14:40] #3352 closed

[2020-10-05 15:25] bblommers commented on #3352
This is now part of moto >= 1.3.16.dev51

[2020-10-06 03:13] RoniFinTech opened #3360 "the response object from client.receive_message() has no key 'Messages""
I try to run the following test and the "Messages" key doesn't exist under the "receive_message" response.

`class TestSqsClient(TestCase):
    def __init__(self, *args, **kwargs):
        super(TestSqsClient, self).__init__(*args, **kwargs)
        self.queue_name = 'blah'
        self.queue_url = f'https://queue.amazonaws.com/123456789012/{self.queue_name}'

    @mock_sqs
    def test_message_se

[2020-10-06 10:10] Ellynas commented on #3352
You've been really helpful, I really appreciate that.

If I may, I have one subsequent question : In my tests, how can i access directly `EC2ContainerServiceBackend.container_instances` property so i can alter it to create my tests ?

So far I've tried :
[code]

[2020-10-06 11:50] Ellynas opened #3362 "How to access and alter `EC2ContainerServiceBackend` properties for my tests ?"
I few days ago, I created an issue https://github.com/spulec/moto/issues/3352 that has been resolved and closed. I'm very grateful for that ! The related pull request https://github.com/spulec/moto/pull/3358 added `registeredAt` property in `client.describe_container_instances()` response.

I want to create a script that will "shut down" instances based on that param (ie: old instances with no run

[2020-10-06 12:34] Ellynas commented on #3362
Alternative question : If I can't access `EC2ContainerServiceBackend.container_instances` to modify the instances "by hand" to make them virtually older than what they are, is there a way to make them older at creation ?

[2020-10-06 12:46] bblommers commented on #3362
Hi @Ellynas, the boto3-client (`ecs`) doesn't have access to the data itself. It only acts as a wrapper to access the data stored in AWS/Moto (depending on whether we're mocking it or not).

In order to access the data stored in Moto, you can do something similar to this:
[code]

Note: I haven't tested this myself, so there might be typos - but it is the correct approach :)

[2020-10-06 13:14] gruebel commented on #3362
Hey @Ellynas,

I think you can solve this with using https://github.com/spulec/freezegun and the context manager syntax.

[2020-10-06 13:30] Ellynas commented on #3362
@bblommers and @gruebel , thank both of you for your help.
I considered using freezegun, but if possible I wanted to avoid relying on even more external libraries. I would've used it only if necessary.

But, it turned out @bblommers answer was exactly what I needed, all within moto. Thanks again, you're awesome !

[2020-10-06 13:37] bblommers commented on #3362
Happy to help!

[2020-10-06 13:37] #3362 closed

[2020-10-06 16:46] #3360 closed

[2020-10-06 16:46] RoniFinTech commented on #3360
.

[2020-10-07 17:09] notmeta opened #3363 "moto_server S3 HTTP PUT/GET"
using moto 1.3.16

Not sure if moto actually supports this and I'm just being daft, or if this isn't supported to begin with.
I've tried searching through documentation and other issues/PRs with no luck.

I am running a standalone `moto_server s3` as I need to proxy NGINX HTTP GET/PUT requests to it, but for the purposes of getting-it-working I have cut out the NGINX middleman for now.
I also have

[2020-10-08 07:21] bpandola opened #3364 "`@freeze_time` decorator causes tests to be skipped"
It looks like every test in the test suite that is decorated with `@freeze_time` is getting skipped.

Examples:
https://github.com/spulec/moto/blob/master/tests/test_apigateway/test_apigateway.py#L19
https://github.com/spulec/moto/blob/master/tests/test_s3/test_s3.py#L493

Neither of these tests show in the latest Travis log: https://travis-ci.org/github/spulec/moto/jobs/733196068

I haven't had a

[2020-10-08 15:28] bblommers commented on #3363
Hi @notmeta, thanks for raising this, and providing a workaround! You're right, if it works in S3 it should work in moto as well.
Going to mark this as a bug.

Validating/parseing a bucket policy is a feature request, but hasn't been implemented yet: https://github.com/spulec/moto/issues/2892

`moto_server` does not have a daemon mode build in - I typically just use `moto_server &`

Some notes for

[2020-10-08 15:31] bblommers commented on #3364
Hi @bpandola, those tests do show up in the log?
https://travis-ci.org/github/spulec/moto/jobs/733196068#L1446
https://travis-ci.org/github/spulec/moto/jobs/733196068#L6921

[2020-10-08 15:34] notmeta commented on #3363
Thanks for the response, glad I found something valid!

Ah okay - that's what I was going to do anyway in the event that such a thing didn't exist

[2020-10-09 00:30] ascotan opened #3368 "Failed lambda execution payloads are inproperly encoded"
https://github.com/spulec/moto/blob/c26bef6f797c3f894ff929e0e36901a3c7a97156/moto/awslambda/models.py#L504

When a lambda execution fails, the response from the lambda is not encoded properly and as a result the content-length header doesn't match the number of bytes read from the payload.  The resulting mismatch results in an IncompleteReadError.

[2020-10-09 00:31] bpandola commented on #3364
@bblommers Hmm... that's my bad for looking at the list alphabetically instead of searching for the test itself.  I initially encountered this while working on #3365 and doing a search for that test (`elastic_block_store.test_copy_snapshot`) does in fact turn up nothing in the CI logs (as far as I can see).  Perhaps it was an isolated issue--with some other root cause--that incorrectly led me to t

[2020-10-09 11:30] bblommers commented on #3364
That is a little weird, that the test didn't run before. Looks like it does show up in the PR though.

Will close this - let me know if you run into any other issues.

[2020-10-09 11:30] #3364 closed

[2020-10-09 11:33] #2940 closed

[2020-10-09 12:39] bblommers commented on #2940
This is now part of moto >= 1.3.16.dev53

[2020-10-09 12:55] #2814 closed

[2020-10-09 13:17] nom3ad opened #3371 "[BUG] acm client: describe_certificate() does not work, unittest is broken as well."
While describing imported acm certificate,  if the certificate does not have any SANs, [get_extension_for_oid()](https://github.com/spulec/moto/blob/d00cefa25cfd338caaabcefc7a79e6e803f577cf/moto/acm/models.py#L296)  could throw a [cryptography.x509.ExtensionNotFound](https://cryptography.io/en/latest/x509/reference/#cryptography.x509.Extensions.get_extension_for_oid ).

This is clearly not being h

[2020-10-09 13:53] bblommers commented on #2814
This is now part of moto >= 1.3.16.dev54

[2020-10-09 14:57] #3026 closed

[2020-10-09 18:02] bblommers commented on #3026
This is now part of moto >= 1.3.16.dev55

[2020-10-10 13:24] nom3ad opened #3377 "ACM : import_certificate() and request_certificate() are not respecting Tags parameter"
Currently moto does not respect  `Tags` parameter for boto3 ACM client methods: [import_certificate()](https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/acm.html#ACM.Client.import_certificate) and [request_certificate()](https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/acm.html#ACM.Client.request_certificate).   It skips tags silently.

To reprodu

[2020-10-10 15:55] bblommers commented on #3368
Thanks for raising this, @ascotan! Do you have a reproducible test for this by ay chance?

[2020-10-10 16:54] #3205 closed

[2020-10-10 18:04] bblommers commented on #3205
This is now part of moto >= 1.3.16.dev57

[2020-10-10 18:05] #1849 closed

[2020-10-10 18:53] bblommers commented on #1849
This is now part of moto >= 1.3.16.dev58

[2020-10-10 19:02] #1785 closed

[2020-10-10 19:32] bblommers commented on #1785
This is now part of moto >= 1.3.16.dev59

[2020-10-10 21:32] #3371 closed

[2020-10-10 21:57] bblommers commented on #3371
This is now part of moto >= 1.3.16.dev60

[2020-10-11 09:58] waynemetcalfe opened #3379 "iam.list_roles() not adhering to options"
- PathPrefix, MaxItems and Marker are ignored.
- MaxItem does not default to 100, never returns truncated list

[2020-10-12 06:55] #3377 closed

[2020-10-12 10:35] Ellynas opened #3381 "Mock ecs_agent ?"
I would like to test a script that uses `ecs.list_container_instances()` to check how many instances are registered on a particular cluster, and that terminates any instances that are "too old".
Basically, the script (that was wrote by a college that is unavailable) will JUST use `ec2.instances.filter(InstanceIds=ids).terminate()` when necessary and that's it.

From what I understand, those instan

[2020-10-12 11:12] bblommers commented on #3377
This is now part of moto >= 1.3.16.dev61

[2020-10-12 19:53] #3171 closed

[2020-10-12 19:55] bblommers commented on #3379
Fixed by #3380

This is now available as of moto >= 1.3.16.dev62

[2020-10-12 19:55] #3379 closed

[2020-10-13 01:45] waffleshop opened #3382 "mock_logs encounters ResourceNotFoundException"
While using the `mock_logs` decorator, various API calls (PutLogStream and PutLogEvents) encounter `ResourceNotFoundException` on the log group. I expected these operations to complete without error, after setting up the log group.

### Versions
Python: `3.8.3`
moto: `1.3.16`
boto3: `1.13.15`
botocore: `1.18.16`

### Error
[code]

### Output
[code]

### Test
[code]

[2020-10-13 07:10] bpandola commented on #3382
I think your problem is right here:
`self.client.create_log_stream(logGroupName=self.log_stream_name, logStreamName=self.log_stream_name)`
It should be this:
`self.client.create_log_stream(logGroupName=self.log_group_name, logStreamName=self.log_stream_name)`

[2020-10-13 13:48] waffleshop commented on #3382
Here is the updated test to show the misleading error message:
[code]

[2020-10-13 23:18] lijok opened #3384 "Add request validation to EventBridge"
EventBridge is supported using @moto.mock_events, however, the requests are not validated, and so you end up not receiving errors, when sending in incorrect requests, which, as an example, omit the 'Source' argument in the put_events request

[2020-10-13 23:44] #3382 closed

[2020-10-13 23:52] davidaah opened #3385 "Unable to create a subnet from a secondary VPC CIDR"
## Background

I was attempting to create a Subnet from a secondary VPC CIDR and was getting a subnet validation error.

It appears that this is because `create_subnet` only validates the CIDR is a subset of the VPC primary CIDR (https://github.com/spulec/moto/blob/master/moto/ec2/models.py#L3433-L3435). Instead I believe this should be validated against all CIDRs in the VPC `cidr block associatio

[2020-10-14 08:48] bblommers commented on #3381
Hey @Ellynas, the goal of Moto is to mock the AWS SDK's itself. Additional software, such as the ECS agent, really falls outside the scope.

As such, Moto doesn't do anything with the launch template. (As far as I know, it doesn't even do any validation).

Your best bet is probably to patch/extend the moto.ec2.models.Instance.terminate() method manually, if you need that additional functionality.

[2020-10-14 08:48] bblommers commented on #3384
Thanks for raising this @lijok - will mark it as an enhancement.

[2020-10-14 08:54] bblommers commented on #3385
Thanks for raising this, and providing a test case @davidaah - that's always helpful. Marking it as a bug.

[2020-10-14 11:55] Ellynas commented on #3381
I get it, it doesn't help me but I understand your stance :)

For my problem, I noticed the for every instance we start and we terminate, we also add it (and remove it on termination) to an auto-scaling group.

So, in my tests, instead of verifying the list of running instances on a cluster, I take a peek on what's happening on the ASG before and after our cleanup script with `autoscaling.describe

[2020-10-14 11:55] #3381 closed

[2020-10-14 14:18] #3248 closed

[2020-10-14 15:30] Syntactical01 opened #3387 "Creating S3 via cloudformation: Bucket does not support attribute type Arn in Fn::GetAtt"
Trying to create a mocked S3 bucket by just using its cloudformation, but it does not like `!GetAtt` within the template. You may be able to see the error just by looking at the exception below and the S3 template at the bottom, but I put my code so you can see what I am doing.

Error:
[code]

conftest.py
[code]
core.py, just to run my conftest. You I just do this to mock out environment variables

[2020-10-14 15:33] bblommers commented on #3248
This is now available as of moto >= 1.3.16.dev65

[2020-10-14 16:46] pinkjosh commented on #3171
@bblommers Awesome. I will give it a try.

[2020-10-14 16:57] bblommers commented on #3171
Should be available as of moto >= 1.3.16.dev64 @pinkjosh

[2020-10-15 14:36] major0 opened #3390 "Attempts to use awscli with HTTP_PROXY and HTTPS_PROXY pointing at moto_server results in KeyError"
## Reporting Bugs
Moto server throws `KeyError: 'HTTP_HOST'` when attempting to use moto_server as an http/https proxy with the AWS CLI.

See: https://docs.aws.amazon.com/cli/latest/userguide/cli-configure-proxy.html

Docker container built from the following `Dockerfile`:
[code]
The `docker-entrypoint.sh` allows launching a shell in the container via: `docker run -it moto /bin/sh`

From inside th

[2020-10-16 10:29] #3387 closed

[2020-10-16 11:24] bblommers commented on #3387
This is now part of moto >= 1.3.16.dev67

[2020-10-16 11:30] #3216 closed

[2020-10-16 12:29] Syntactical01 commented on #3387
@bblommers & especially @bpandola Thanks for the timely fix. I appreciate it. Have a great weekend.

[2020-10-16 14:57] bblommers commented on #3216
This is now part of moto >= 1.3.16.dev68

[2020-10-16 15:02] #3385 closed

[2020-10-16 15:56] bblommers commented on #3385
This is now fixed as of moto >= 1.3.16.dev69

[2020-10-16 22:26] timothyjlaurent opened #3394 "403 Forbidden on PUT/HeadObject"
`moto` 1.3.16
`boto` 2.49.0
`boto3` 1.15.3
`botocore` 1.18.3

installed with poetry

I have a test fixture that yields an s3 bucket:

[code]

I am able to write to the bucket using smart_open

[code]

This works fine

here is the stringified request dict at boto core client:

[code]

however if I use S3Path, an pathlib extension that uses boto for operations I get 403b forbidden

for example for t

[2020-10-19 03:30] cscetbon commented on #2413
@spulec I have the same issue even without having a global call in my module. I'm trying to run
[code]
It uses my module https://github.com/cscetbon/s3-upload-split
You can see the client is created the class constructor  https://github.com/cscetbon/s3-upload-split/blob/master/s3_upload_split/__init__.py#L34

Any idea what's going on ?

[2020-10-19 14:31] teotwaki opened #3395 "logs client describe_log_groups nextToken is int instead of str"
Hi,

I was mocking some code of mine when I realised that the value returned for nextToken when calling `logs.describe_log_groups` is an int, however `logs.describe_log_groups` expects an str. Here's a minimal reproduction case:

[code]

This throws:

[code]

I tried casting the nextToken value to an `str` in the hopes of working aroud this issue, however this generates another error:

[code]

Thi

[2020-10-19 20:56] gmcrocetti commented on #3193
Hi @benkeil. After some investigation I was able to find a possible bug [here](https://github.com/spulec/moto/blob/fcc85a96453d7aa346ddd43e8fa4cbdf9dd120e9/moto/sns/models.py#L215) - sns -> lambda sending default message attributes (not your case, as it's empty). Can you further clarify which use case originated your problem ?

[2020-10-20 14:07] joshah-moors opened #3397 "EC2 VPNGatewayId Param Casing"
Param casing of "VPNGatewayId" is not consistent with boto3 casing and user is unable to set this attribute while testing.

Update to be made in this file: moto/ec2/responses/vpn_connections.py
Line 10: "VPNGatewayId" -> "VpnGatewayId"

Boto3 docs of the same functionality to see the correct option is "VpnGatewayId":
https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/ec2.ht

[2020-10-20 14:33] bblommers commented on #3397
Thanks for raising this @joshah-moors! Will mark it as a bug

[2020-10-20 14:43] bblommers commented on #3394
Hi @timothyjlaurent, it looks like S3Path doesn't add the "?uploads" to the URL, which is required by moto (and part of the AWS SDK spec, as far as I know).

The docs for S3-path recommend this for uploading a file, does that work any better?
[code]

[2020-10-20 18:01] christian-ertl commented on #3292
Moto 1.3.16 also fails for s3.create_bucket(Bucket=bucket_name).

[2020-10-20 21:22] timothyjlaurent commented on #3394
So on the `S3Path` repo, @bblommers, I was shown how to properly mock s3 in an `S3Path`-compatible path:

[code]

https://github.com/liormizr/s3path/issues/46

[2020-10-20 21:22] #3394 closed

[2020-10-21 08:47] #3395 closed

[2020-10-21 09:09] artemtere opened #3399 "Wrong MD5 hash for SQS Message Attributes."
The issue is described in
* localstack https://github.com/localstack/localstack/issues/2976
* moto pull request https://github.com/spulec/moto/pull/3346#pullrequestreview-501657555

I've fixed this issue according to aws documentation https://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-message-metadata.html#sqs-message-attributes

But I do not have rights to push new bra

[2020-10-21 18:04] wenjiezhou-rl opened #3400 "eventName for a deleted record should be REMOVE instead of DELETE"
When using Moto to mock DynamoDB streams, a deleted record has the eventName = "DELETE" right now:
https://github.com/spulec/moto/blob/9eb58eea411214ded617ea45ce9a4407a8f95194/moto/dynamodb2/models/__init__.py#L243-L250

AWS's DynanoDB Stream specification states that this should actually be `"REMOVE"`:
https://docs.aws.amazon.com/amazondynamodb/latest/APIReference/API_streams_Record.html#DDB-Type

[2020-10-21 19:42] parthgala commented on #2844
@spulec Does `moto` library support mocking out AWS calls via `s3fs` (which uses `aiobotocore`)?

[2020-10-21 23:07] prestomation opened #3402 "StepFunctions StateMachine cannot yet be updated by Cloudformation"
In my project, we use CDK to generate a large cloudformation template
We feed this cloudformation template into moto in our pytest suite so a number of things 'just work' like they would in the cloud.

I'm trying to upgrade to 1.3.15, and this setup broke.
When referencing a Statemachine in CDK, CDK emits cloudformation like this
`"Fn::Select": [6, {"Fn::Split": [":", {"Ref": "MyCoolStateMachine"}

[2020-10-22 00:04] prestomation commented on #3402
Similarly, when deleting the stack above we see

[code]
Which is likely the Statemachine that has a `None` resource.

[2020-10-22 10:09] bblommers commented on #3400
Thanks for raising this @wenjiezhou-rl - marking this as a bug!

[2020-10-22 10:12] bblommers commented on #2844
It should, @parthgala. Moto will mock every call to the boto/boto3 library, even if it's used indirectly.

[2020-10-22 10:21] bblommers commented on #3402
Thanks for raising this, @prestomation.
In 1.3.14, there was no support for SFN at all, so I guess it just ignored that setup. We did introduce basic support for it in 1.3.15, but indeed no CloudFromation support yet. Marking it as an enhancement.

FYI: 1.3.15 has a bug surrounding dependency management, so you might be better off upgrading to 1.3.16 - literraly the only change in that version is

[2020-10-22 14:13] artemtere commented on #3399
@bblommers May be you could help me with that?

[2020-10-22 15:57] bblommers commented on #3399
Hi @artemtere, if you fork Moto and create a branch in your own repository, you can create a PR to merge your (remote) branch into Moto's master.

[2020-10-23 07:54] palloromk opened #3404 "bug: dynamodb2 transact_get_items should return empty Map for item, if item not found"
AWS documentation https://docs.aws.amazon.com/amazondynamodb/latest/APIReference/API_TransactGetItems.html
"If a requested item could not be retrieved, the corresponding ItemResponse object is Null, or if the requested item has no projected attributes, the corresponding ItemResponse object is an empty Map."

Short example:
Put into some table only one value
    "Get": {
      "Key": {
        "pri

[2020-10-23 09:17] awecx opened #3405 "NotImplementedError on assume_role_with_web_identity with mock_sts in Python 3.6.8"
Hello, I'm getting a NotImplementedError when trying to mock the assume_role_with_web_identity function :

[code]

Tested with moto 1.3.16. Fails in Python 3.6.8, but works fine with 3.8.1. Same results replacing the _mock_sts_ decorator with _mock_sts_deprecated_.

Traceback is :

[code]

[2020-10-23 15:55] DuaneKrause opened #3406 "list secretsManager returns "VersionIdsToStages" field but the aws apis call it "SecretVersionsToStages""
The response to list_secrets from aws secretsmanager, has a field in the secret_list_entry that is misnamed. I discovered this when making a call to list_secrets via the latest localstack/localstack docker container 0.12.0 (which includes this library).

"VersionIdsToStages" should instead be "SecretVersionsToStages"

I think all that needs changing is the response model here:
https://github.com/s

[2020-10-23 16:03] aneri-masi opened #3407 "UnrecognizedClientException when using Application Autoscaling"
I have a lambda for collecting ECS service task metrics - and for this purpose, I am calling the [DescribeScalableTargets](https://docs.aws.amazon.com/autoscaling/application/APIReference/API_DescribeScalableTargets.html) API.

The lambda itself works fine, but my unit tests using moto are failing.

I am using the following:
boto3=1.10.36
moto=1.3.16

Unit test approach:
[code]

I get the followin

[2020-10-23 16:59] aneri-masi commented on #3407
Ah, I was using `mock_autoscaling` instead of `mock_applicationautoscaling` - all good now!

[2020-10-23 16:59] #3407 closed

[2020-10-23 19:00] eoinsha opened #3408 "Cloudwatch PutMetricAlarms assumes a single metric (MetricName instead of Metrics)"
In moto 1.3.16, creating a metrics alarm with `Metrics` specified instead of `MetricName` succeeded, but the subsequent call to `DescribeAlarms` failed with: `ValueError: invalid literal for int() with base 10: 'None'`

## Background
`PutMetricAlarms` allows you to specify either `MetricName` for a single metric or an array (`Metrics`) of `MetricQueryData` objects to specify multiple alarms. The `

[2020-10-24 09:54] bblommers commented on #3405
Hi @awecx, I can't reproduce this using 3.6.8 I'm afraid. Are you sure the moto version is 1.3.16? That method should be available from 1.3.14 upwards.

What does `pip freeze` look like?

[2020-10-24 10:02] bblommers commented on #3406
Thanks for raising this @DuaneKrause - marking it as an bug

[2020-10-24 10:09] bblommers opened #3411 "CF error during template validation: TypeError: decode() takes 1 positional argument but 2 were given"
Full error:
[code]

Error occurs after `cfn-lint` 0.39.0 was released.

Travis build that highlights the errors: https://travis-ci.org/github/spulec/moto/jobs/738443110

Specific PR that changed the method-signature: https://github.com/aws-cloudformation/cfn-python-lint/pull/1580/files

PR incoming to fix this

[2020-10-24 12:49] bblommers commented on #3404
Thanks for raising this @palloromk!

[2020-10-26 10:38] awecx commented on #3405
Hi @bblommers, I've double checked, It was indeed a misconfig in my env.
Did not work in 1.3.13 as expected, and works fine with 1.3.16 indeed.
Apologies for time wasted here.

[2020-10-26 10:38] #3405 closed

[2020-10-26 11:19] palloromk commented on #3404
My first issue, so pretty exciting for me :D I am just a beginner.

[2020-10-26 18:07] RonRothman commented on #2964
Greetings,

We're hitting this too, and it's breaking our tests. I see this has been open since May, and is labelled an "Enhancement." Is that just an oversight? Can we bump this up to "Bug?"

[2020-10-27 00:25] #3411 closed

[2020-10-27 07:41] #3397 closed

[2020-10-27 12:13] bblommers commented on #3397
This is now fixed as of moto >= 1.3.16.dev75

[2020-10-27 13:09] bblommers commented on #3399
This is now fixed as part of moto >= 1.3.16.dev76. Thanks for providing the PR @artemtere!

[2020-10-27 13:09] #3399 closed

[2020-10-27 14:55] joakibo opened #3414 "When running `moto_server lambda` create_function fails with IAM role error"
Due to unittests running inside Docker container we have to run the lambda moto server locally to make this work. However, this causes an error when creating the Lambda function complaining about a non-existing IAM role.

**How to reproduce the issue?**
Run `moto_server lambda` locally, create script mocking Lambda and IAM using `moto`. Running the `create_function` command will fail complaining a

[2020-10-27 19:00] emendes28 opened #3415 "Add doc to glue etl"
Create doc in readme for glue etl aws

[2020-10-27 20:02] bpandola commented on #3404
@palloromk Did you want to take a crack at fixing this?  I'm happy to do it myself, but didn't want to steal your thunder if you were planning to write the PR.  Let me know.  Thanks.

[2020-10-28 01:18] jweite opened #3416 "Add support for SageMaker Notebook Lifecycle Config"

[2020-10-28 06:40] bblommers commented on #3405
No worries @awecx, glad it now works!

[2020-10-28 06:50] bblommers commented on #3408
Thanks for raising this @eoinsha. The PutMetricAlarms implementation is quite basic at the moment, and it could definitely use some love.
Marking it as an enhancement.

[2020-10-28 07:00] qbiqing opened #3418 "Deprecation warnings using mock_s3 with python 3.8"
Similar issue as https://github.com/spulec/moto/issues/2978 but using `mock_s3` instead.

## Versions
[code]

## Examples
Given the following pytest setup:
[code]
Running a pytest with `s3` fixture yields the following warning:

[code]

## Expected behaviour
Similar to #2978, not mission critical, but annoying.

Since that other issue is closed, and the issue name is not completely relevant for my

[2020-10-28 09:10] bpandola commented on #3404
@palloromk Sorry! Couldn't help myself... I went ahead and submitted a fix.

[2020-10-28 14:27] bblommers commented on #2964
Hi @RonRothman, my definition of a bug (in Moto's context) is anything that behaves differently from boto3.
In this case, the entire implementation is missing - and therefore the enhancement-label is more suitable IMO.

[2020-10-28 15:01] RonRothman commented on #2964
Thanks @bblommers, that makes sense. And I see that a fix is on the way--thanks for that as well!

[2020-10-28 16:56] eoinsha opened #3422 "lambda ListFunctions incorrectly returns published versions by default"
The ListFunctions Lambda API indicates that versions should be returned if `FunctionVersion` is set to `ALL`. (https://docs.aws.amazon.com/lambda/latest/dg/API_ListFunctions.html)

Moto currently returns the latest plus all versions _by default_ and ignores `FunctionVersion`.

## Reproducing the issue

[code]
gives the following output:
[code]

The same process against AWS Lambda gives:
[code]

an

[2020-10-28 18:13] wmarcuse commented on #3292
I got this error with mocking S3, seems to be the trick that the mocked S3 client only accepts region `us-east-1`. As it is a mocked bucket it doesn't matter..

[code]

[2020-10-29 01:20] #2964 closed

[2020-10-29 01:20] #2981 closed

[2020-10-29 06:31] sdouek commented on #2572
please , I am looking for this feature too.
Do you have a plan for this implement ? Thanks!

[2020-10-29 08:50] bblommers commented on #2981
This is now partof moto >= 1.3.16.dev79

[2020-10-29 08:51] bblommers commented on #2964
No problem @RonRothman!

This is now partof moto >= 1.3.16.dev79

[2020-10-29 09:10] bblommers commented on #3414
Hi @joakibo, the IAM call in your example should also connect to the running Moto-server for this to work. (`boto3.client('iam', endpoint_url='http://localhost:5000')`

The moto-decorator will create a moto-instance and create an IAM role in-memory, but it does not share any data with the moto-server. In order to use IAM roles across multiple services, those services have to be either all decorato

[2020-10-29 09:11] bblommers commented on #3415
What kind of document are you proposing, @emendes28?

[2020-10-29 09:12] bblommers commented on #3418
Hi @qbiqing, it looks like that warning comes from the `boto` dependency. I don't think there's anything that we can do in Moto to remove that.

[2020-10-29 09:14] bblommers commented on #3422
Thanks for raising this @eoinsha!

[2020-10-29 11:17] jordan-dimov opened #3424 "Adding support for AWS Media Services"
I'm considering contributing support for mocking some of the AWS Media Services - more specifically, Media Live, Media Connect and Media Package. Probably not all end-points.

I was wondering if anyone has already looked into supporting those, or if anyone else would find this useful. As I have not contributed to `moto` before, would appreciate some help or guidance (although the CONTRIBUTING docu

[2020-10-29 11:50] #3404 closed

[2020-10-29 12:05] bblommers commented on #3424
PR's are always welcome, @jordan-dimov! Every little bit helps.

The [`Missing Services`-section](https://github.com/spulec/moto/blob/master/CONTRIBUTING.md#missing-services) should have all necessary information to get you started, but do let me know if you get stuck.

[2020-10-29 12:10] joakibo commented on #3414
Hi @bblommers, and thanks for your answer and info.

I actually did test that earlier, as you say I considered some issues with the separate server and the mocked IAM not being "shared". However, also setting `endpoint_url` for the IAM client returned the following error:

[code]

Is there something else I need to do?

[2020-10-29 12:13] bblommers commented on #3414
Hi @joakibo, you can simply run `moto_server` to support all services - you don't have to specify a service.

[2020-10-29 12:37] jbpratt opened #3425 "CloudFormation: create_stack_instances returns a hardcoded OperationId"
`create_stack_instances` is giving me some issues, I am not sure yet if I am just doing something wrong. Note, I don't care at all about the template, that is just one of the shorter ones I had on hand.

`moto==1.3.16`

Here is a reproduction of the bug I am facing and below is pdb output during execution
https://gist.github.com/jbpratt/63c83744990645f59961641b23636903
[code]
`AssertionError: asse

[2020-10-29 12:44] bblommers commented on #3404
This is now fixed as of moto >= 1.3.16.dev81

[2020-10-29 12:56] jbpratt commented on #3425
Ah, I see on https://github.com/spulec/moto/blob/1.3.16/IMPLEMENTATION_COVERAGE.md#cloudformation that `list_stack_instances` is unimplemented

[2020-10-29 15:31] Ellynas opened #3426 "Which Boto3 version for which Moto version ?"
Recently, AWS changed their response for `ecs.list_container_instances(cluster="my_cluster")` and broke our code.

Basically what happened is that now, ARNs are of format `arn:aws:ecs:region:aws_account_id:container-instance/CLUSTER/container_instance_ID` when they used to be `arn:aws:ecs:region:aws_account_id:container-instance/container_instance_ID` (and of course, we used something like `.split

[2020-10-29 17:02] jjbuck commented on #2413
+1 to the above. I'm getting the error "An error occurred (InvalidAccessKeyId) when calling the CreateBucket operation: The AWS Access Key Id you provided
 does not exist in our records." even after setting the environment variables as suggested in https://github.com/spulec/moto#very-important----recommended-usage.

[2020-10-29 21:23] smulikHakipod commented on #3390
this solved it to me `aws --endpoint-url http://localhost:5000 sts get-caller-identity`

[2020-10-30 09:14] bblommers commented on #3390
That sounds like the right solution @smulikHakipod.

The idea of moto_server is not to use it as a proxy, but to act as a offline/onprem AWS server. So all it takes is to add the endpoint_url parameter to the CLI/SDK - there's no need to use a proxy to get moto_server working.

[2020-10-30 09:44] bblommers commented on #3425
Hey @jbpratt, thanks for raising this.
All operations that you need are implemented - it looks like the coverage doc is simply not up to date.

The first issue here is that the error message is wrong. It should say `Operation with id .. does not exist`.
The underlying bug is that the OperationId as returned from the `create_stack_instances` is [hardcoded](https://github.com/spulec/moto/blob/master

[2020-10-30 09:53] bblommers commented on #3426
Hi @Ellynas, great question! It's not the first time that a boto3-change just.. happened, without any communication, and broke moto.

We don't track version-compatibility at all, I'm afraid. It would be very useful, but I don't think we'd have to time to keep up with all releases.
As a rule, the latest versions should always play nice.

Do you know which boto3/botocore version introduced this ARN

[2020-10-30 11:04] jbpratt commented on #3425
Hi @bblommers , thanks for the reply.

So I am able to see the 'mock stackset' is actually going into a "SUCCEEDED" status (not even sure if other statuses are mocked out) but I still have no instances on the stackset. I was just trying to use the operation ID to see if things were failing silently, leading to me having no instances.
[code]

[2020-10-31 15:55] bblommers commented on #3416
This is now part of moto >= 1.3.16.dev84

[2020-10-31 15:55] #3416 closed

[2020-10-31 16:34] bblommers commented on #3408
This is now part of moto >= 1.3.16.dev85

[2020-10-31 16:45] #3408 closed

[2020-11-01 10:16] #3137 closed

[2020-11-01 13:36] bblommers commented on #3137
This is now implemented as of moto >= 1.3.16.dev86

[2020-11-02 03:30] bpandola commented on #3425
@jbpratt `moto`'s implementation of [`create_stack_instances`](https://github.com/spulec/moto/blob/master/moto/cloudformation/responses.py#L454) doesn't have any support (yet) for the `DeploymentTargets` parameter, so your (mocked) instances never get created.

If adding this functionality to `moto` isn't something you think you can take on, I might be able to help (if you help me understand how t

[2020-11-02 08:22] Ellynas commented on #3426
From what I could gather it wasn't a change in boto3/botocore, but in AWS itself. That issue was first noticed in our alpha, then in our beta the next day, then in production a few days later. They all had fixed and different boto3 version that weren't updated after the first discovery of the bug, meaning that it was most certainly gradual change on AWS side that had nothing to do with boto3 versi

[2020-11-02 10:42] bblommers commented on #3426
Ah, right. That is curious. I've never seen any docs/release notes that would allow us track such changes unfortunately

[2020-11-02 10:51] Ellynas commented on #3426
Very recently (as in, minutes ago) was send by a colleague this site : https://awsapichanges.info/

I don't know what it's worth, but that's the closest thing I've seen to actual release notes.

[2020-11-02 12:13] jbpratt commented on #3425
@bpandola There are two different ways 'StackSets' can be deployed (SERVICE_MANAGED or SELF_MANAGED) in which you can provide either the OU ID or an Account ID. From the page you linked `For update operations, you can specify either Accounts or OrganizationalUnitIds. For create and delete operations, specify OrganizationalUnitIds.`

https://boto3.amazonaws.com/v1/documentation/api/latest/reference

[2020-11-02 12:19] jbpratt commented on #3425
@bpandola let me dig in a bit more and confirm my issue is exactly this.

[2020-11-02 13:17] bblommers commented on #3402
CloudFormation creation and deletion of a StateMachine is now available as of moto >= 1.3.16.dev89.

Will keep this open as a placeholder to integrate CF updates.

[2020-11-02 14:31] jbpratt commented on #3425
I can confirm that the test is passing when I changed the parameter to properly use the self managed accounts param over the service managed deployment targets. Sorry about all of the confusion but I would *love* DeploymentTargets to be supported if possible.

Thank you both @bpandola and @bblommers

[2020-11-02 16:02] qbiqing commented on #3418
Just curious, how come #2978 could be fixed (or was it fixed?) because that has the exact same deprecation warning, also from `boto`.

[2020-11-02 17:21] #3400 closed

[2020-11-02 19:29] bblommers commented on #3418
Hi @qbiqing, that issue lists two warnings - the first about the imp-module from boto, the second about the collections.abc import inside Moto.
The attached PR fixes the second warning only.

[2020-11-03 07:18] bblommers commented on #3400
This is now fixed as of moto >= 1.3.16.dev91

[2020-11-03 14:13] pwrmiller opened #3433 "Add support for Amazon Forecast"
I would like to add basic endpoints for Amazon Forecast, then expand to improve endpoint implementation coverage for Amazon Forecast.

[2020-11-03 14:18] #3406 closed

[2020-11-03 17:56] bblommers commented on #3406
This is now fixed as of moto >= 1.3.16.dev92

[2020-11-03 19:06] wallowa opened #3435 "botocore.parsers.ResponseParserError changing visibility on message not in flight"
How to reproduce the bug:

Run moto docker in server mode (I used the latest image at https://hub.docker.com/r/motoserver/moto)

Create a queue, send a message, receive the message, and try to set the visibility on the (now no longer valid) message:

`queue = boto3.resource('sqs', endpoint_url='http://moto:5000').create_queue(QueueName='test')`
`msg = base64.b64encode(json.dumps({'test': 'test'}).

[2020-11-04 08:45] bblommers commented on #3435
Thanks for raising this, @wallowa!

[2020-11-04 21:10] dazza-codes opened #3438 "server reset functionality changed between 1.3.14 and 1.3.15/1.3.16"
I have a test suite that relies on resetting the moto server backend using:

[code]

But this functionality is now broken.  Is there an alternative way to reset the moto server backend(s)?  Am I missing a convenient public function or method that can reset a service on a moto server backend?

Looking at the 1.3.16 tagged git repo and trying something:

[code]

[2020-11-04 22:00] dazza-codes commented on #3438
Maybe this will resolve my issue:

[code]

[2020-11-04 22:43] bpandola commented on #3438
Just FYI: There is a non-service-specific reset (i.e. it resets *all* backends) here: https://github.com/spulec/moto/blob/master/moto/core/models.py#L797

Obviously, if you only want to reset one particular service, your `backend_reset` method will do the trick.  Otherwise, you can just do this:

[code]

[2020-11-04 22:51] bpandola commented on #3425
@jbpratt If you can provide a gist (with assertions) that uses `DeploymentTargets` and succeeds against a real AWS backend, I will add moto support for it.  (It isn't completely clear to me how this parameter is supposed to work and I don't have the ability to verify for myself because of the way OUs are managed in the real AWS account I have access to.)

[2020-11-05 10:19] #3438 closed

[2020-11-06 19:50] gsamaras opened #3441 "DynamoDB#update_item() - AttributeUpdates should have action=PUT by default"
Boto provides a parameter with a default, but moto doesn't seem to follow this, which lead to an error when trying to mock DynamoDB in a Unit Test.

Quoting `boto3.DynamoDB.Client.update_item()` [documentation](https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/dynamodb.html#DynamoDB.Client.update_item)(emphasis mine):

So in my code to-be-tested I was doing:
[code]

and my

[2020-11-06 20:23] micrictor commented on #3441
A more succinct way of having a default value might be:

`action = update_action.get("Action", "PUT")`

[2020-11-06 23:47] NathanielRN opened #3442 "Missing RequestId From mocked S3 service API response"
This was using `botocore` at `1.19.12` and `moto` at `1.3.16`

# What Actually Happened

When I use `moto` to mock `s3`, I expected to see `RequestId` in the `ResponseMetadata`. This was my setup:

[code]

However, when I printed out the response, I only saw the following:

[code]

# What I Expected to Happen

This is compared to my sample application where I do this:
[code]

And I get a response

[2020-11-08 12:44] #3402 closed

[2020-11-08 12:52] bblommers commented on #3441
Hi @gsamaras, thanks for raising this! PR's are always welcome.

The solution by @micrictor is most readable IMO. In terms of testing, it looks like you can simply extend/replicate [this test](https://github.com/spulec/moto/blob/master/tests/test_dynamodb2/test_dynamodb.py#L2234) to verify that it works as expected.

[2020-11-08 13:00] bblommers commented on #3442
Hi @NathanielRN, thanks for raising this!
In other services we tend to use the `@amzn_request_id`-annotation to automatically add a RequestId to every response, but that doesn't happen in S3. Marking it as an enhancement!

[2020-11-08 13:03] bblommers commented on #3433
Initial implementation of Forecast is now available as of moto >= 1.3.16.dev95!

[2020-11-08 13:03] #3433 closed

[2020-11-08 13:15] bblommers commented on #3402
CloudFormation updates for StateMachines are now available as of moto >=1.3.16.dev96

[2020-11-08 15:04] gsamaras commented on #3441
@bblommers absolutely. I think replicating the unit test you linked with items that don't have the `Action` explicit passed to them is the way to go here IMHO. I am going to create a PR within the upcoming week, thank you so much for coming back to me and @micrictor for improving my suggested fix. :)

[2020-11-08 19:45] stuaxo opened #3446 "Could use an example for use with django-storages S3Storage"
Django storages is a popular way to use S3 by extending its `S3Boto3Storage` class, that utilises boto3.

I tried writing a test of mycustom storage, withing `@mock_s3`, then calling the code that calls `.save`on my storage, but it seems to always try and save to s3.

Any idea if S3Boto3Storage can work with mock_s3 ?

[2020-11-08 22:23] NathanielRN commented on #3442
@bblommers Awesome! Thank you for your quick and helpful answer :) Really appreciate it!

[2020-11-09 08:50] stuaxo commented on #3446
In the end I used `unittest.mock` with Property\Mocks for `S3Boto3Storage.connection` and `S3Boto3Storage.bucket`.

[2020-11-09 12:35] stuaxo commented on #3446
This seems to be working if I use a mock to overide the `.connection` and `.bucket` properties of `S3Boto3Storage`, still, it doesn't leave me 100% sure that somewhere else isn't going to call into the real boto though and end up putting information into a bucket.

[code]

[code]

[2020-11-09 15:17] pstDnb opened #3448 "DynamoDB update_item using ReturnValues='UPDATED_NEW' fails with "Value must be a nonempty dictionary whose key is a valid dynamodb type""
The following code runs fine towards DynamoDB, but fails with moto:
[code]
The following error is shown in the output:
[code]
Debugging the issue showed that there might be a bug in moto/dynamodb2/responses.py, possibly in the method _build_updated_new_attributes(). This causes None elements to be included in the list at indexes where the updated value equals the original value.

We've currently w

[2020-11-09 15:26] relvira opened #3449 "Route53: Implement GetChange"
Hello 👋🏼

The Route53 mock doesn't implement [GetChange](https://docs.aws.amazon.com/Route53/latest/APIReference/API_GetChange.html). I'm currently working on something that would tremendously benefit from having this endpoint implemented in the mock for local dev and testing.

I'd be happy to contribute and work on a pull request for moto to support this endpoint if you deem appropriate.

Thanks

[2020-11-09 16:43] bblommers commented on #3446
Hi @stuaxo, it looks like Django uses the standard boto3-api under the hood, so Moto should just work as usual.

At what point do you import Django? The mocking is only successful if all boto3-clients are instantiated within the `mock_s3()` decorator.
In your example, you might have to change it to:
[code]

(See this part of the README for more info: https://github.com/spulec/moto/blob/master/READ

[2020-11-09 16:58] bblommers commented on #3448
Thanks for raising this @pstDnb! Will mark it as a bug.

You're right, looks like the `_build_updated_new_attributes()` has a bug. As far as I can tell, that method should always return the changed value, even if they are the same.

[2020-11-09 16:59] bblommers commented on #3449
Hi @relvira, PR's are always welcome!

There's a Contributing-document that should have all the info you need, but let me know if you need any help implementing this.

[2020-11-09 18:45] relvira commented on #3449
Thanks for your reply @bblommers!

I've started a local branch on my machine to play with the codebase and got the GetChange endpoint working.

Looks like you're not currently handling change IDs as [rrset_response](https://github.com/spulec/moto/blob/master/moto/route53/responses.py#L97) always returns the same ID in [CHANGE_RRSET_RESPONSE](https://github.com/spulec/moto/blob/master/moto/route53/

[2020-11-09 19:17] stuaxo commented on #3446
The storage is part of a management command that I call from call_command in my test.

Things didn't seem to work.

The properties that I override do seem to do some caching, so it may be that a previous test imported it.

https://github.com/jschneier/django-storages/blob/master/storages/backends/s3boto3.py#L337-L363

[2020-11-09 19:51] mechanomancy opened #3450 "IAM: User tags are not applied"
## Issue
When creating a user with tags on the IAM endpoint, the tags are not applied. Malformed tags are rejected so tags are clearly being parsed but seemingly not being associated with the user object. This occurs whether the client or resource API is used.

## Reproducing the issue
[code]

## Expected results
Printing the user or querying the associated tags should show the tags associated wit

[2020-11-10 01:53] #3359 closed

[2020-11-10 01:54] spulec commented on #3415
Closed with https://github.com/spulec/moto/pull/3447

[2020-11-10 01:54] #3415 closed

[2020-11-10 01:57] #2862 closed

[2020-11-10 04:55] rohang-stockland opened #3452 "NotImplementedError: The update_state_machine action has not been implemented"
Hi,

I have mocked the creation of state_machine but I am unable to update the state machine with the same ARN used for creation. I am getting NotImplementedError.

"The {0} action has not been implemented".format(action)
NotImplementedError: The update_state_machine action has not been implemented.

Thanks in Advance!

[2020-11-10 05:02] rohang-stockland commented on #3452
Hi,

I have mocked the creation of state_machine but I am unable to update the state machine with the same ARN used for creation. I am getting NotImplementedError.

"The {0} action has not been implemented".format(action)
NotImplementedError: The update_state_machine action has not been implemented.

Thanks in Advance!

[2020-11-10 08:09] pstDnb commented on #3448
I think you're right @bblommers. When I run the same test towards DynamoDB both list elements are returned, including the unmodified one.

[2020-11-10 10:04] bpandola commented on #3452
What version are you using?  Should be available in moto >= 1.3.16.dev93

[2020-11-10 11:07] bblommers commented on #3449
I'm not too familiar with Route53, but this sounds like the ideal situation:

Every improvement is welcome though, if it's easier to hardcode things to get it working!

[2020-11-10 11:42] relvira commented on #3449
That sounds like the ideal solution to me as well @bblommers. It would require changing the existing functionality for Route53 to store those Change IDs in moto's backend for Route53.

As Route53 in moto currently uses hardcoded change ID, I'm going to submit a PR to implement GetChange the same way, that way I'll unblock myself. I still want to work on a PR to get us to the idea state, just for f

[2020-11-10 12:13] bblommers commented on #3449
Sounds good to me! Thanks @relvira

[2020-11-10 12:19] bblommers commented on #3446
A workaround could be to use moto in server mode, and set `AWS_S3_ENDPOINT_URL` to localhost?
That would definitely ensure that S3Boto3Storage talks to Moto.

[2020-11-10 13:02] stuaxo commented on #3446
Interesting, I didn't know this was a thing, (new to Moto), would this impose some overhead ?

I already have a local version of AWS in the form of Minio so I'd probably need to make sure it ran on a different port.

(Minio was how I saw it writing in the first place - I saw all the files appear there).

[2020-11-10 22:31] jweite opened #3455 "Support EMR Security Configurations and Kerberos Attributes"

[2020-11-10 22:51] rohang-stockland commented on #3452
Thanks for the help. I was using moto==1.3.16. Its working after upgrading moto to 1.3.16.dev93!

[2020-11-10 22:51] #3452 closed

[2020-11-10 23:38] bpandola commented on #3075
This should be available in moto >= 1.3.15.dev1030

[2020-11-11 00:03] bpandola commented on #2007
@rdark I can successfully run your test against the latest version of moto.  Is this still an issue?

[2020-11-11 02:43] bpandola commented on #3195
@aiswaryalakshmi As far as I can tell, this functionality has been available in moto for quite some time.  Can you provide a failing test case?

[2020-11-11 08:52] gsamaras commented on #3441
All checks have passed, no branch conflict, coverage remained the same.

[2020-11-11 09:30] bblommers commented on #3446
The default use case is to communicate with an SDK in a different language, so the AWS Node/Java SDK can also be tested with moto.
It's a fairly basic Flask application that just exposes the existing moto-functionality, so any resources overhead is minimal.

Getting it up and running is as simple as this:
[code]

[2020-11-11 13:43] alvarogmj opened #3458 "RDS: TagList missing in describe_db_instance"
There doesn't seem to be any support for tags in describe_db_instance. It seems to be on purpose, I couldn't find any test dealing with tags in this api call

The AWS API returns a TagList property when the instance is tagged.

(Edit: remove references to create_db_instance, which does in fact support the Tags property)

[2020-11-12 08:24] rossmacarthur opened #3460 "Does not work with latest `responses`"
Moto has a hack where it sets the default responses mock's `_find_match` method to a custom one. The latest changes in `responses` have changed the return type of this method.

https://github.com/spulec/moto/blob/47dbad291e717059a93f5cf795a9be08cfc872cc/moto/core/models.py#L248-L267

See the [`responses`](https://github.com/getsentry/responses) change here https://github.com/getsentry/responses/co

[2020-11-12 08:53] kaito-albert commented on #3292
I got this error with even set `region=ap-northeast-1`.
Don't forget tokyo!

[2020-11-12 21:44] oidebrett commented on #3448
Hi @pstDnb and @bblommers
I think I fixed this bug. I am very new to this project and relatively new to contributing to github projects. I have read the contribution guide and I am very keen to learn. I picked this bug as it seemed fairly straightforward. I created a Pull request and I will gladly take any feedback to help me improve and contribute to this great project. I hope this helps!

[2020-11-13 03:09] SophieMJ opened #3464 "BUG: update_configuration for lambda is trying to set a property"
## Reporting Bugs

When using moto for testing `update_function_configuration`, this block of code is being called: https://github.com/spulec/moto/blob/47dbad291e717059a93f5cf795a9be08cfc872cc/moto/awslambda/models.py#L293-L310

However, this is giving an error provided below:
[code]

This is because on L308 it's trying to set a value to `vpc_config` which is a property (not an attribute) that doe

[2020-11-13 03:30] jiangchuanheglobal opened #3465 "SQS calling receive_message will cause deleting the message"
I'm using the SQS of `moto = "^1.3.16"` installed by Poetry. somehow I found calling the `receive_message` will cause deleting the message from the queue which is inconsistent with boto3. Because I'm assuming `receive_message` shouldn't delete the message unless calling the `delete_message` method, like in this [example](https://boto3.amazonaws.com/v1/documentation/api/1.9.42/guide/sqs-example-sen

[2020-11-13 03:44] garribas commented on #3460
We are also affected by this bug and had to force installation of previous version of `responses` (0.12.0), with 0.12.1 it fails as described in the bug report:
https://github.com/spulec/moto/blob/master/setup.py#L43

[2020-11-13 11:21] relvira commented on #3449
Pull request is ready for review here: https://github.com/spulec/moto/pull/3453

It would be great if we can close this one out before the week ends, as it's kind of blocking me on some things here. I understand if it takes more but could I get an ETA for when a review can happen @bblommers?

Thank you!

[2020-11-13 18:17] ayushghosh opened #3469 "XML encoding is missing"
When generating XML for the responses the values/attributes are not escaped. Thus it breaks when the payload contains characters that need to be escaped to be compliant.
Ex: I was using though https://github.com/localstack/localstack
When creating route53 record with escaped character &
`{
            "Comment": "CREATE/DELETE/UPSERT a record ",
            "Changes": [{
            "Action": "UPS

[2020-11-14 11:17] bblommers commented on #3195
If this error popped up in EC2.describe_instance_status(), it should be available as of moto >= 1.3.15.dev477, and was implemented in #2764

[2020-11-14 11:33] bblommers commented on #3464
Hey @SophieMJ, thanks for raising this! Looks like that should be as simple as changing it to `_vpc_config`, yes.
Marking it as a bug.

[2020-11-14 11:35] bblommers commented on #3469
Thanks for raising this @ayushghosh! Marking it as a bug.

[2020-11-14 11:42] bblommers commented on #3441
This is now part of moto >= 1.3.16.dev119

[2020-11-14 11:42] #3441 closed

[2020-11-15 06:41] bpandola commented on #2950
@spulec I'm not sure how far along you are with this, but I'm wondering if there might be an intermediate step here (given issues like #3013 and #3418) where `moto` still works for people using `boto` but removes it as an explicit dependency.   People who long ago left `boto` behind need not bother with it any longer, but those who still use it can still use `moto`.

To be clear: those *developing

[2020-11-15 17:25] #3450 closed

[2020-11-15 21:04] oidebrett commented on #3469
I can recreate the issue with the following test case:

@mock_route53
def test_list_resource_records_with_ampersand():
    conn = boto3.client("route53", region_name="us-east-1")
    create_hosted_zone_response = conn.create_hosted_zone(
        Name="db.",
        CallerReference=str(hash("foo")),
        HostedZoneConfig=dict(PrivateZone=True, Comment="db"),
    )
    hosted_zone_id = create_hos

[2020-11-15 23:43] spulec commented on #2950
I pushed a branch with my work a little while back: https://github.com/spulec/moto/tree/deprecate-httpretty (it is easier to read commit by commit).

Unfortunately, I haven't had time to pick it up and worry it has started to drift now. In hindsight, I should have attempted to tackle this with 1 pull request per service instead of trying to do it all at once.

I think your approach makes sense and

[2020-11-16 04:54] garribas opened #3471 "EventBridge list_rules doesn't return the EventBusName"
Test case (modified existing `test_put_rule` to check `EventBusName` value:
[code]

Fails with `FAILED tests/test_events/test_events.py::test_put_rule - KeyError: 'EventBusName'`.

Expected payload:
https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/events.html#EventBridge.Client.list_rules

Seems like root cause is `moto.events.responses.EventsHandler.put_rule` not storing

[2020-11-16 07:20] #3460 closed

[2020-11-16 08:13] bblommers commented on #3450
Thanks for raising this @mechanomancy!

This is now fixed as of moto >= 1.3.16.dev121

[2020-11-16 08:15] bblommers commented on #3460
This is now fixed as of moto >= 1.3.16.dev122

[2020-11-16 08:17] #801 closed

[2020-11-16 08:22] bblommers commented on #3469
@oidebrett I haven't tested it, but you might get away with HTML encoding the payload? That should take care of all special characters. Might be worth testing with other chars as well after that (spaces etc)

[2020-11-16 08:41] bblommers commented on #801
I imagine this wasn't quite the 'near future' you asked for, but it is now available in moto >= 1.3.16.dev123 :)

[2020-11-16 09:30] #3458 closed

[2020-11-16 11:04] bblommers commented on #3458
This is now available as of moto >= 1.3.16.dev124

[2020-11-16 14:25] Syntactical01 commented on #2638
Any update on this bug?

[2020-11-16 15:50] ayushghosh commented on #3469
@bblommers @oidebrett I have created a PR for the fix which uses Jinja2 functionality itself for the work.
https://github.com/spulec/moto/pull/3473
Have been using this patch successfully in our setup of localstack to overcome the issue
Please review

[2020-11-16 19:28] oidebrett commented on #3469
Looks good @ayushghosh. Seems like a much better way to fix this.

[2020-11-16 21:29] PanJoseph opened #3474 "Using CustomAmiId when calling run_job_flow incorrectly throws ValidationException for all EMR versions between 5.10.0 & 5.31.0"
Right now the check in `run_job_flow` to see if a CustomAmiId is [valid](https://github.com/spulec/moto/blob/master/moto/emr/responses.py#L311) is done with default python string comparison instead of in a manner which would respect semantic versioning.
So `"emr-5.7.0"` is always considered greater than any value between `"5.1..."`(like 5.10.0) & `"5.6..."`(like 5.60.0) which is incorrect behavior

[2020-11-17 06:59] bpandola opened #3475 "Travis CI jobs failing intermittently"
`test_batch.test_submit_job` fails intermittently across all Python versions and regardless of whether `TEST_SERVER_MODE=false` or `TEST_SERVER_MODE=true`.

<details>
<summary>Nose Failure</summary>
<p>

[code]

</p>
</details>

The test is still failing occasionally after the recent switch from nose to pytest.

<details>
<summary>Pytest Failure</summary>
<p>

[code]

</p>
</details>

This "flippe

[2020-11-17 08:44] bblommers commented on #3448
This is now fixed as of moto >= 1.3.16.dev125

[2020-11-17 08:44] #3448 closed

[2020-11-17 09:44] bblommers commented on #3339
This is now supported as of moto >= 1.3.16.dev126

[2020-11-17 09:44] #3339 closed

[2020-11-17 13:06] bblommers commented on #3455
This is now supported as of moto >= 1.3.16.dev127

[2020-11-17 13:06] #3455 closed

[2020-11-17 16:02] bblommers commented on #3475
Hey @bpandola, just as an FYI: this was my attempt at fixing it: https://github.com/spulec/moto/pull/3146

That obviously wasn't the solution, hopefully you have better luck/investigator skills ;)

[2020-11-17 16:35] robjwilkins opened #3476 "NotImplementedError: The admin_set_user_password action has not been implemented"
Problem: using moto to stub the Cognito IDP API, I get an error: `NotImplementedError: The admin_set_user_password action has not been implemented`

I am using docker moto image: `motoserver:moto:latest`:
[code]

The stacktrace:
[code]
I believe this feature should be available in the latest release? https://github.com/spulec/moto/pull/3328

The code which calls the moto API is using the java AWS

[2020-11-17 16:45] bblommers commented on #3471
This is now part of moto >= 1.3.16.dev128

[2020-11-17 16:45] #3471 closed

[2020-11-17 16:48] robjwilkins commented on #3476
Interesting - I just cloaned the repo, and built the docker image myself, and tagged it. When I use this image in the test the error does not happen.

I therefore guess that the image published on docker hub does not include the latest changes in the python code?

[2020-11-17 16:52] g-dx commented on #3476
#3357

[2020-11-17 17:16] neoascetic opened #3477 "SNS errors do not match what AWS actually returns"
For example, when I am trying to fetch the attributes of not existing platform endpoint, moto gives me the following response:

[code]

while AWS returns something like this:

[code]

I guess exceptions defined in https://github.com/spulec/moto/blob/master/moto/sns/exceptions.py must use [this template](https://github.com/spulec/moto/blob/19fc76f4669d545b56cfd79c55377f46379d546d/moto/sns/responses

[2020-11-17 17:39] bblommers commented on #3474
Thanks for raising this @PanJoseph! Marking it as a bug

[2020-11-17 17:43] bblommers commented on #3477
Thanks for raising this @neoascetic!

Looks like you're right - the exceptions should define a custom template ([like this](https://github.com/spulec/moto/blob/master/moto/sagemaker/exceptions.py#L11)). Marking it as a bug.

[2020-11-17 18:03] richunger opened #3478 "dev release numbering doesn't work with pip-tools because it's not PEP 440 compliant"
According to https://www.python.org/dev/peps/pep-0440/#summary-of-permitted-suffixes-and-relative-ordering
dev releases should be pre release numbers, not post. So, 1.3.16devX should be 1.3.17devX.

Practically, this means that pip-tools will take a requirements.in file with
moto>=1.3.16dev100
and output a requirements.txt file with
moto==1.3.16

Workaround is to specify an exact dependency in req

[2020-11-17 18:12] richunger commented on #3478
My clever colleague suggested a better workaround: `moto>=1.3.16dev100,!=1.3.16`

[2020-11-18 07:52] bblommers commented on #3469
This is now fixed as of moto >= 1.3.16.dev129

[2020-11-18 07:52] #3469 closed

[2020-11-18 09:54] bblommers commented on #3464
This is now fixed as of moto >= 1.3.16.dev130

[2020-11-18 09:54] #3464 closed

[2020-11-18 10:49] #3475 closed

[2020-11-18 21:02] Syntactical01 opened #3483 "XRAY with DDBStream seems to fail:"
## Reporting Bugs
Mocking `mock_dynamodb2`, `mock_dynamodbstreams`, as well as `mock_xray` fails.

Example code:
[code]
Test that fails:
[code]
If I comment out the following my code works. XRay has been working fine for everything else that I have mocked to this point, just not when doing the DDB Stream.
[code]
Error:
[code]
Also, moto makes my life wonderful (best AWS testing library out there b

[2020-11-19 04:50] YasunoriOka opened #3484 "How to get the mock_lambda docker client?"
I am using mock_lambda to perform the tests.
After running the test several times, the lambda cannot be called.
I get the following error.

`
botocore.handlers: DEBUG: Error loading quoted JSON
Traceback (most recent call last):
  File "/usr/local/lib/python3.8/site-packages/botocore/handlers.py", line 185, in decode_quoted_jsondoc
    value = json.loads(unquote(value))
  File "/usr/local/lib/pyth

[2020-11-19 09:33] davidszotten commented on #3418
i believe this is now fixed by #3468

[2020-11-19 10:26] qbiqing commented on #3418
Awesome, thanks!

[2020-11-19 11:54] bblommers commented on #3418
That PR is now part of moto >= 1.3.16.dev132.

Are you able to reproduce the issue with that version, @qbiqing?

[2020-11-19 19:39] robjwilkins commented on #3476
I've pushed a working docker image for the moto project to a public docker hub repo as a work-around: https://hub.docker.com/r/robinwaracle/motoserver

[2020-11-20 08:38] bblommers commented on #3449
The dummy endpoint is now available as of moto >= 1.3.16.dev133

[2020-11-20 11:15] relvira commented on #3449
Thanks for your help on getting this one merged @bblommers, appreciate it!

[2020-11-20 14:43] CodyConstine opened #3487 "NotImplemented: S3: select_object_content"
When using moto to mock s3 for the following call:
[code]

I get the following exception:
[code]

The exact same call on a real s3 bucket produces the correct results as documented here:
https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/s3.html#S3.Client.select_object_content

I tried csv, json, and parquet file formats and the all failed in moto and passed on real s3. I a

[2020-11-20 19:11] Syntactical01 commented on #1541
Could we get a way to hook into this as well? A way to give it a function to call when a notification is entered instead of a mocked lambda (which requires us to zip the code or inline it if its simple). This would be really helpful for simple unit testing with pytest. I understand this may break how moto normally does things but I will leave this comment as food for thought.

[2020-11-21 10:34] bblommers commented on #2206
This is now implemented as of moto >= 1.3.16.dev135

[2020-11-21 10:34] #2206 closed

[2020-11-21 11:06] bblommers commented on #3359
Little late, but this should now be fixed as of moto >= 1.3.16.dev110

[2020-11-21 11:12] bblommers commented on #3484
Hi @YasunoriOka, if you use the decorators, you can use the following code:
[code]
Notes:
 - Not sure how/if it's possible using the moto server
 - This is the internal API, so subject to change
 - I've only checked this on recent moto versions (>~ 1.3.16.dev110), but it should also work on older versions

[2020-11-21 11:21] bblommers commented on #3487
Hi @CodyConstine, that feature isn't implemented yet I'm afraid.

Will mark it as an enhancement.

[2020-11-21 11:40] qbiqing commented on #3418
@bblommers I tried with moto==1.3.16dev132 and the issue has been fixed. I will close this. Thanks!

[2020-11-21 11:40] #3418 closed

[2020-11-21 13:35] bblommers commented on #3483
Hi @Syntactical01, at which point are you starting an XRay segment/subsegment?

As long as I surround the test with: `with XraySegment(): ..`, I can't reproduce this.

I'm guessing everything else has been annotated or explicitly started. Either that, or maybe everything else is done before `patch_all()` is called/`lambda_handler` is imported.

[2020-11-21 13:41] bblommers commented on #3476
Thanks for the providing the workaround @robjwilkins.

I'll close this, as it is a duplicate of #3357 in the end.

[2020-11-21 13:41] #3476 closed

[2020-11-21 13:58] bblommers commented on #3465
Hi @jiangchuanheglobal, SQS will consider this message 'in-flight'. For the next 30 seconds, the message will be unavailable. If the message is deleted before that time, you will not receive it again.
If the application does not delete the message, it is assumed that processing failed, and the message will be send again.

I've just ran the example above against AWS itself, and it behaves exactly t

[2020-11-21 14:07] bblommers commented on #3224
Little delayed, but now that #3318 has been merged, this should now be fixed as of moto >= 1.3.16.dev12

[2020-11-21 14:07] #3224 closed

[2020-11-21 14:12] bblommers commented on #3168
This was fixed as of moto >= 1.3.15.dev1010

[2020-11-21 14:12] #3168 closed

[2020-11-21 19:08] jiangchuanheglobal commented on #3465
oh, okay, got it. Thank you very much for this detailed explanation!

[2020-11-21 19:08] #3465 closed

[2020-11-22 10:57] bpandola commented on #2273
Looks like this was implemented in #3331 and should be available in moto >= 1.3.16.dev25

[2020-11-22 11:20] bpandola commented on #1662
Looks like this was implemented in #3178 and is available in moto >= 1.3.15.dev1016

[2020-11-22 18:55] #3474 closed

[2020-11-22 19:33] bblommers commented on #3474
This is now fixed as of moto >= 1.3.16.dev138

[2020-11-22 23:18] boxabirds opened #3490 "DynamoDb schemas with moto: how can I avoid repeating myself (DRY principle)"
Moto is really helpful and I'm looking to have a single version of the truth for my dynamodb schemas. Currently they're in a file called `dynamodb.yml` that contains a vanilla AWS Dynamo `Resources:` yaml fragment. I'd like that to be my single version of the truth.

What's the simplest way to ensure my unit tests use this information to avoid separate code for creating the schema? All the sample

[2020-11-23 09:08] tabramczyk commented on #2544
I have same problem with `"Field": "http-header"`.

There are more options now:

Source:
https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/elbv2.html#ElasticLoadBalancingv2.Client.create_rule

[2020-11-23 13:48] Syntactical01 commented on #3483
I never explicitly start it which is what I am guessing my issue is. Since it worked in AWS as a Lambda I thought it would work with moto the same (even though I don't mock my code as a lambda because I don't want to zip it), but I guess Lambda auto starts a segment and I didn't realize I need to be explicit with moto testing. Sorry to waste your time debugging but thank you for solving my conundr

[2020-11-23 13:54] bblommers commented on #2273
Agreed @bpandola. Will close this - let me know if I've missed something @scottbisaillon

[2020-11-23 13:54] #2273 closed

[2020-11-23 13:56] bblommers commented on #1662
Correct @bpandola - will close this. Let me know if I've missed anything @jofwar

[2020-11-23 13:56] #1662 closed

[2020-11-23 14:02] bblommers commented on #3490
Hi @boxabirds, sounds like you can use CloudFormation to create the schema?
[code]

[2020-11-23 14:04] boxabirds commented on #3490
Cool idea! Thanks! I’ll try it out and report back. Maybe then there could
be a wrapper that makes this part of a fixture.

On Mon, 23 Nov 2020 at 14:02, Bert Blommers <notifications@github.com>
wrote:

[2020-11-23 14:09] bblommers commented on #3483
NP @Syntactical01 - glad it works now!

[2020-11-23 14:09] #3483 closed

[2020-11-23 16:14] Conan-Kudo commented on #783
@tonyhutter Any progress on this?

[2020-11-23 22:06] qnordic opened #3493 "DynamoDB2 global seconday indexes don't respect INCLUDE project type"
It appears moto does not respect the [ProjectionType](https://docs.aws.amazon.com/amazondynamodb/latest/APIReference/API_Projection.html) of a global secondary index when the index is set to INCLUDE. This issue is similar to what was reported in #3055 but the fix for that issue does not appear to account for the INCLUDE type.

Here's a failing test case that demonstrates the issue. This passes whe

[2020-11-23 22:46] chris922 opened #3494 "Go SDK doesn't work with moto (+ localstack)"
**how to reproduce the issue**
Use `latest` version of localstack (not 0.12.2) and Go SDK. E. g. with the following code:

[code]

**what you expected to happen**

I expect that the operation finishes successfully and does not return an error.

**what actually happens**

I get an error and the (localstack) logs contains the following:

[code]

**what version of Moto you're using**

1.3.15

**how y

[2020-11-24 00:14] NeuroWinter commented on #2988
This would be really useful, along with the implementation of ServerSideEncryption in put_object()

[2020-11-24 00:43] DrNickBailey commented on #1813
This seems to be a problem again. Installing s3fs with pip results in this warning/error:

[code]

[2020-11-24 01:20] YasunoriOka commented on #3484
Hi @bblommers ,It worked well.
Thank you very much.

[2020-11-24 01:20] #3484 closed

[2020-11-24 06:46] tonycosentini opened #3497 "Add support for new ECS ARN format"
As far as I can (I made sure I was using the newest release + searched existing issues), Moto currently does not support [the new ARN format for ECS](https://aws.amazon.com/blogs/compute/migrating-your-amazon-ecs-deployment-to-the-new-arn-and-resource-id-format-2/).

It would be nice if there was a way to enable this - for me, I'm working on some tooling that depends on using this new format.

I'd

[2020-11-24 08:41] bblommers commented on #3493
Thanks for raising this @qnordic - will mark it as an enhancement.

For whoever picks this up, the fix can hopefully be an extension to this PR: https://github.com/spulec/moto/pull/3097

[2020-11-24 08:57] bblommers commented on #1813
Don't think that's a Moto issue, @DrNickBailey - we require botocore>=1.12.201, but nothing more specific

[2020-11-24 09:58] stuaxo commented on #1560
For anyone else landing here:

You probably want to use this as a fixture.

In my conftesy.py I have this:

[code]

And in my tests I add an `s3` parameter and everything works as expected

[code]

[2020-11-24 11:27] bblommers commented on #3497
Hi @tonycosentini, thanks for raising this.

Best way to make this configurable is IMO to have an additional [environment variable](https://github.com/spulec/moto/blob/master/moto/settings.py) that defaults to the new format.

PR's are always welcome! Let me know if you need any help.

[2020-11-24 16:10] relvira commented on #3449
Hey @bblommers, hope you're doing well.

I'm wondering if you'll be able to push this build to docker hub? Last update was 3 months ago so I'm not sure frequently are you folks building your images there, but that would be greatly appreciated.

Many thanks!

[2020-11-25 01:29] bpandola opened #3499 "IAM Policy tests ignored after migration to pytest"
[code]

[2020-11-25 08:40] bblommers commented on #3449
Hey @relvira, I don't have permissions for that I'm afraid.
It is a known issue though: #3357 and #3203

[2020-11-25 10:48] #3499 closed

[2020-11-25 22:26] bblommers commented on #3493
With #3498 merged, this is now part of moto >= 1.3.16.dev146

[2020-11-25 22:26] #3493 closed

[2020-11-26 06:56] areeb-lululemon commented on #2634
You can use the `AWS_SHARED_CREDENTIALS_FILE` environment variable, to point it to a dummy creds file which can be kept in the `tests` folder.
You can define your profiles there.

[2020-11-26 09:59] bblommers commented on #3494
This is now fixed as of moto >= 1.3.16.dev147

[2020-11-26 09:59] #3494 closed

[2020-11-26 14:07] cp-k1nakayama opened #3502 "Mock does not work properly in 1.3.16"
## Reporting Bugs

It worked fine in 1.3.14 with the following sources, but when updated to 1.3.16, Mock does not work properly and sends the request using the actual AWS credentials.

Environment:
[code]
File tree:
[code]

src/app1/app.py:
[code]

tests/conftest.py:
[code]

tests/testApp1/conftest.py:
[code]

tests/testApp1/test_app.py:
[code]

The results of the run on 1.13.14 are as follows:
[c

[2020-11-26 14:42] ciaranevans commented on #3076
Hey @bblommers I've found myself in a situation where `get_execution_history()` would be handy to have. I've done a few Step Function contributions but trying to decide what kind of size this piece of functionality would be to implement.

Do you perhaps have any thoughts on a way to proceed? I know that currently moto just sets executions to 'RUNNING' and that we don't measure events or keep track

[2020-11-26 16:51] bblommers commented on #3502
Hi @cp-k1nakayama, it looks like the import order is causing an issue. See this sectino of the README: https://github.com/spulec/moto/#what-about-those-pesky-imports

TLDR: the mock should be established _before_ any boto3-clients are created. From what I can tell, it can be done in your example by changing the import order like so:
[code]

[2020-11-26 17:14] bblommers commented on #3076
Hi @ciaranevans, in the spirit of 'something is better than nothing', creating a list of events and only tracking start/stop events would be a good start. IMO, that could be a relatively small piece of work.

Required changes to make that happen:
 - Store executions in the StateMachine-class (instead of in an unfiltered list in the StepFunctionsBackend)
 - Move start/stop functionality in the Stat

[2020-11-26 17:18] ciaranevans commented on #3076
Hey @bblommers, thanks for the info! The fake status changing sounds positive. I wonder if we could set an environment variable for moto so that we could determine whether we fake just successes or have failures too (we're writing some error handling monitoring, hence the need for some errors in the mix). I'm not sure if that fits into the current state of play in the packages usage.

Many thanks

[2020-11-26 17:19] ciaranevans commented on #3076
@jabrennem are you still interested in this functionality? I'd like to try and cover your usecases too in a first stab at this 😄

[2020-11-26 23:21] cp-k1nakayama commented on #3502
Thanks @bblommers
I followed your point and modified the code as shown below and it worked correctly.

tests/testApp1/test_app.py:
[code]

This solved the problem, but I don't know why it was working until 1.3.14. Was there a change in the logic of Mock generation from 1.3.16?

[2020-11-27 09:03] bblommers commented on #3502
Glad to hear it's working now @cp-k1nakayama!
IIRC, there was a change in how botocore makes the HTTP requests, requiring Moto to change how we mock it. Don't know the exact details I'm afraid, or when this happened, as it was before my time.

[2020-11-27 14:36] #3502 closed

[2020-11-28 22:15] #3170 closed

[2020-11-28 22:27] #3490 closed

[2020-11-28 22:35] spulec commented on #3446
Going to close this, but let us know if you have any more questions!

[2020-11-28 22:35] #3446 closed

[2020-11-28 22:54] spulec commented on #3357
Added; sorry about that.

[2020-11-28 22:54] #3357 closed

[2020-11-28 23:11] spulec commented on #2425
Sorry about that; should be fixed going forward with https://github.com/spulec/moto/commit/72e616cb48e3a781bd68280c48bd6aa8dc099a1a

[2020-11-28 23:11] #2425 closed

[2020-11-29 01:08] stuaxo commented on #3446
No probs, I'm going to stick with my current solution for now instead of running the server.

One thing I can't work out if it's a bug or not:

I create a file somedir1/somedir2/data.xml

When I open minio which I'm using as s3 I get somedir1/somedir2/somedir1/somedir2/data.xml

An I misunderstanding something about s3 buckets?

[2020-11-29 09:29] bblommers commented on #3446
That's not something I've seen before, either with boto or moto.
Can you share the relevant code? Haven't worked with minio before, but I can do some debugging with Moto to see what's going on

[2020-11-30 16:13] Naivehahaha opened #3506 "DynamoDB: DynamoDB.Client.update_item() Doesn't Work with String Set"
**Summary**
`DynamoDB.Client.update_item()` expects `list` as input for String Set according to the [documentation](https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/dynamodb.html#DynamoDB.Client.update_item):
[code]
However **moto** accepts `set` only for `SS` since this [commit](https://github.com/spulec/moto/commit/a2aefc49b486f8191541f033007b6b3cf81ed723). And the logi

[2020-11-30 16:33] ciaranevans commented on #3076
@bblommers what are your thoughts on _what_ events we mimic? I guess the can of worms we're opening here is how much do we just fake and let people accept that it's what `moto` provides?

I.E - Are we happy with just a random hard coded list returned? Perhaps one which is successful, one which contains a failure?

Both options implementing your changing status after X calls to get-execution-histor

[2020-11-30 17:18] ciaranevans commented on #3076
I've thought about it a bit more, I think the best option for now is to provide a history of a successful invocation which is hardcoded, and one that is a history of a failed execution.

I'll provide this difference via an ENV var flag which someone can always wrap their test with to determine which history they get.

[2020-11-30 17:22] bblommers commented on #3076
@ciaranevans It's been awhile since I've looked at a real-life example of the events, so I can't give a lot of detail. My preference though would be a list of successful events only, and let people mock a happy path.

At a later stage maybe we can have an env variable where you can set the percentage of failures, or a chance that an execution returns a failure.

[2020-11-30 17:23] bblommers commented on #3076
Looks like our responses crossed there, but looks like GMTA :)

[2020-11-30 17:32] ciaranevans commented on #3076
Hah, happy days! I'm only planning on adding the failure case as an option as that was our main use-case for use adding this functionality, but I figured 99% of folks will want the happy path 😄  I'll ping you when the PR's ready and you can judge if it's OK!

[2020-12-01 10:43] stuaxo commented on #3446
Realised that moto is totally the wrong thing to report that bug (not even sure if it's a bug) - but django-storages is where I should have mentioned it :)

[2020-12-03 01:35] bpandola opened #3510 "elasticbeanstalk ApplicationArn does not contain ApplicationName"
[code]

[2020-12-03 19:58] #1397 closed