[2022-06-16 15:13] Lilja commented on #5232
thank you @bblommers ❤️

[2022-06-16 15:13] #5232 closed

[2022-06-16 15:22] Lilja commented on #5061
Is this the intended usage? As the documentation states:

http://docs.getmoto.org/en/latest/docs/services/index.html?highlight=multiple#implemented-services

[code]

fyi @bblommers

[2022-06-16 16:43] pinzon commented on #5228
thanks @kokes for the detailed review and reproducer, I'll take a look.

[2022-06-17 10:21] #5228 closed

[2022-06-17 14:05] bblommers commented on #5228
Thanks for raising this @kokes! This should now be fixed as of moto >= 3.1.14.dev15 - please let us know if you're running into any other issues.

[2022-06-17 14:18] kokes commented on #5228
@bblommers wonderful, thanks for the quick fix, I can confirm the dev version fixes my issue.

[2022-06-17 21:32] bblommers commented on #5061
Good catch @Lilja - the parentheses should indeed be there. I've updated the docs to reflect this.

[2022-06-18 00:00] kostaleonard commented on #3319
As a long time user of Moto for mocking S3, I was also surprised to encounter this issue. The S3 implementation allows you to read from and write to the mocked filesystem with no problem, but RDS offers no database functionality. I would be very pleased if we added this feature as long as it is not too cumbersome. I'd love to contribute but probably can't right now, maybe I can put something toget

[2022-06-18 11:39] bblommers commented on #3319
Hi @kostaleonard, reading and writing to a filesystem is a lot easier with plain Python :)

There are two ways to implement the database functionality, as far as I can see:
 - Write our own RDS server + parsers for each SQL dialect
 - Start a Docker-image that exposes the database (Postgres, Mysql, etc.)

The first option would be way too complicated. The second option goes against the idea of Mot

[2022-06-18 18:40] kostaleonard commented on #3319
@bblommers thanks for the recommendation, and you make good points. I see that it may be beyond the scope of Moto to implement database functionality, but maybe one day Moto will solve all of my problems. My pain point was likely just that I spent hours trying to connect to a non-existent database and I assumed based on the S3 implementation that there was robust mocking for all supported services

[2022-06-21 18:33] rob-fin opened #5249 "Kinesis: PutRecords API limits not enforced"
I recently noticed that Moto does not enforce the API limits for PutRecords in Kinesis Data Streams. [Relevant documentation](https://docs.aws.amazon.com/streams/latest/dev/service-sizes-and-limits.html#kds-api-limits-data).

Examples:

#### Record data exceeds 1 MB
[code]
Expected (AWS):
[code]
Actual (Moto):
[code]
<br/>

#### Records exceed 5 MB (including partition keys)
[code]
Expected (AWS):

[2022-06-22 08:37] ddelange opened #5252 "Pass kwargs to create_multipart_upload"
Hi 👋

We have some kwargs going into [`create_multipart_upload`](https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/s3.html#S3.Client.create_multipart_upload) (using `smart_open` [under the hood](https://github.com/ddelange/pypicloud/blob/cb97fcb6a3f31cd278d88103c6284f36df8e26d0/pypicloud/storage/s3.py#L214-L222), tested with real s3):
[code]
Can this currently be mocked? I

[2022-06-22 22:08] bblommers commented on #5252
Hi @ddelange, looks like the ACL-parameter is currently not supported, not. Will raise a PR to fix this shortly.

[2022-06-23 01:40] Kostia-K opened #5256 "Tagging count in S3 response breaks requests"
I'm using `requests` to download a file from S3 using a presigned link. Here's example code where I expect it to print `b"abc"` but it throws an exception when calling `requests.get`.

[code]

Installation `pip install moto boto3 requests` using all latest versions.
[code]

Traceback

[code]

If you remove the `Tagging` parameter, it works as expected.

Seems like it's expecting header values to b

[2022-06-23 05:00] ddelange commented on #5252
Awesome, thanks for the quick response! And how about StorageClass kwarg? This one [also](https://github.com/stevearc/pypicloud/runs/6998719205?check_suite_focus=true#step:4:2488) went missing in tests when I introduced multipart

[2022-06-23 09:31] bblommers commented on #5252
@ddelange The test in the attached PR already asserts that StorageClass is propagated to the resulting object. I didn't have to make any changes around StorageClass to make this work.

Do you have a boto3-style test case that demonstrates the bug?

[2022-06-23 09:37] ddelange commented on #5252
ah awesome, I missed that! in that case all good :)

[2022-06-23 09:37] bblommers commented on #5252
Also, when I ran our own test against AWS, it returned two grants when passing `ACL=authenticated-read`. That is reflected in the attached PR as well.

It looks like your test case only expects one. So there may still be a discrepancy there.
[code]

Happy to look into that as well, but for that I would also need a simplified (boto3-style) test case, if Moto is returning too many grants in some cas

[2022-06-23 09:49] bblommers commented on #5256
Thanks for raising this and providing the fix @Kostia-K!

[2022-06-23 09:49] ddelange commented on #5252
I assume that is default behaviour from Amazon. Our test [expects](https://github.com/ddelange/pypicloud/blob/4969dae81110e5c324cee813bec8f2d7817e5acb/tests/test_storage.py#L179-L191) it as well, the exception coming from `assertCountEqual` is just slightly unintuitive :)

[2022-06-23 09:56] bblommers commented on #5252
Ah. gotcha, I missed that. I'll merge in that case - let me know if you run into any other issues!

[2022-06-23 09:56] #5252 closed

[2022-06-23 09:59] ddelange commented on #5252
Many thanks! Looking into StorageClass going missing, most likely not on your side.

[2022-06-23 10:21] randomcoder opened #5257 "Firehose describe_delivery_stream does not give expected response to stream created with S3 backup"
I am creating a firehose delivery stream, with either S3 or Redshift delivery options and trying to set the S3 backup option. The creation request (converted to Json from the boto args)
[code]
The creation request is successful however when I get the stream description with
[code]
the response I get is
[code]
which has both `RedshiftDestinationDescription` and `S3DestinationDescription`.

A compar

[2022-06-23 10:49] ddelange commented on #5252
Yup, test was passing an empty `BytesIO()` to `smart_open`. Adding some bytes solved StorageClass showing up 👍

[2022-06-23 20:38] #5256 closed

[2022-06-24 10:28] JorisLimousin opened #5259 "Cognito - No password validation in admin_set_user_password/sign_up"
Hi,

There is currently no password validation being performed on the `admin_set_user_password` function. (and I believe the same is applicable to `change_password` but I haven't tested it)

As you can see, the password being provided is simply just put into the variable without any checks happening: https://github.com/spulec/moto/blob/d03891e80577be85a49b61cfa686222516d753e9/moto/cognitoidp/model

[2022-06-24 22:34] bblommers commented on #5257
Hi @randomcoder, thanks for raising this - marking it as an enhancement.

If this is something you want to implement yourself, PR's are always welcome!

[2022-06-24 22:50] bblommers commented on #5259
Hi @JorisLimousin, will mark it as an enhancement to add validation here.

If this is something you'd like to add yourself, PR's are always welcome!

[2022-06-26 12:08] bblommers commented on #3683
An initial version of this is now part of Moto 3.1.15. There are some limitations on what is supported - see http://docs.getmoto.org/en/latest/docs/services/kms.html.

I'll close this in the mean time, but if anybody wants to extend the functionality beyond what we have now, PR's are always welcome!

[2022-06-26 12:08] #3683 closed

[2022-06-26 20:10] timhaines opened #5267 "3.1.15 is broken with openapi_spec_validator dependence"
My tests run successfully with 3.1.14.

With 3.1.15 they error, with:

[code]

[2022-06-26 20:23] bblommers commented on #5267
Hi @timhaines, yeah, I noticed that as well. Apologies about that.

It should have been fixed with moto >= 3.1.16.dev4 - can you try that release and verify it works for you?

[2022-06-26 22:51] timhaines commented on #5267
@bblommers thanks, can confirm this error is not present on 3.1.16.dev4.

[2022-06-27 07:33] schlichtanders commented on #5267
also experiencing this issue. It would be great if moto's test suite is going to be extended to prevent such bugs for the future

[2022-06-27 10:51] bblommers commented on #5267
Thansk for confirming @timhaines. I've just released 3.1.16 with the fix, so you can upgrade normally now.
I'll close this, but do let us know if you run into any other issues.

[2022-06-27 10:51] #5267 closed

[2022-06-27 15:56] tcmnal opened #5269 "Missing requirement?"
Recently switched from moto 3.1.14 to 3.1.15.

Now when using the @mock_ssm decorator, I get a ModuleNotFoundError for openapi_spec_validator. Minimum code example :

[code]

Traceback (most recent call last):
  File "<bug-script>", line 4, in <module>
    def test_ssm():
  File "...\lib\site-packages\moto\__init__.py", line 30, in f
    module = importlib.import_module(module_name, "moto")
  File

[2022-06-27 16:52] bblommers commented on #5269
Hi @tcmnal, that should be fixed in 3.1.16 - can you confirm that the latest release no longer throws an error?

[2022-06-27 18:26] JorisLimousin opened #5270 "DynamoDB - No validation on reserved keywords for get_item"
Hi,

Just raising this issue as a potential enhancement to add validation to the `get_item` function for reserved keywords being present in the `ProjectionExpression`. Using the function like this: `result = db_table.get_item(Key={...},ProjectionExpression="name")` should throw the following exception: `botocore.exceptions.ClientError: An error occurred (ValidationException) when calling the GetIt

[2022-06-27 18:39] JorisLimousin opened #5271 "Cognito - No validation that there isn't already an existing user with the same username in admin_update_user_attributes"
Hi,

Sorry for the spam, just raising another issue for a potential enhancement. There is currently no validation on the `admin_update_user_attributes` function to check that the email address we are trying to update for a user isn't going to cause a conflict.

If you try to update the email address of a user to one that already exists in the user pool, a `ClientError` exception should be raised w

[2022-06-27 20:46] yaronbenezra opened #5272 "fail on import of ses_backend from moto.ses"
Hi,

from version 3.1.12 we fail on this error :
 from moto.ses import ses_backend
E   ImportError: cannot import name 'ses_backend' from 'moto.ses' (/root/.local/share/virtualenvs/build-3vGKWv3F/lib/python3.8/site-packages/moto/ses/__init__.py)

can you help?

[2022-06-27 21:33] Slash7GNR commented on #5272
@bblommers I'm from @yaronbenezra and you solution worked, thanks for your help!

[2022-06-27 21:36] bblommers commented on #5272
Happy to help!

[2022-06-27 21:36] #5272 closed

[2022-06-28 00:04] tcmnal commented on #5269
@bblommers Yes, 3.1.16 is no longer throwing that error. For some reason my build container this morning was pulling 3.1.15 as the latest. Thanks

[2022-06-28 00:05] #5269 closed

[2022-06-28 11:33] #5071 closed

[2022-06-28 13:40] #3166 closed

[2022-06-29 20:12] #5227 closed

[2022-06-29 21:45] matthewlv30 opened #5276 "Calling emr run_job_flow with AutoTerminationPolicy causes TypeError"
## Reporting Bugs

When calling `run_job_flow` with `AutoTerminationPolicy` as a parameter like. `{"IdleTimeout" : 123} `causes a TypeError with Exception TypeError: Unknown type long. However AutoTerminationPolicy expect a dict with integer value.

[2022-06-30 01:00] simonw opened #5277 "Possible to assert against the arguments I sent to an AWS call?"
I'm trying out Moto for a new project - I really like it! The S3 emulation layer is fantastic.

My project uses Textract and I was hoping I would be able to run an assertion that checks exactly what arguments I sent when I ran the following code:

[code]
Is there a way to run this kind of assertion in Moto at the moment?

Here's how I did something similar with `pytest-mock`: https://til.simonwill

[2022-06-30 01:02] simonw commented on #5277
Here's my current test: https://github.com/simonw/s3-ocr/blob/0.3/tests/test_s3_ocr.py#L34-L45

I'd like to assert inside that test that `textract.start_document_text_detection()` was called with a specific set of arguments.

[2022-06-30 05:09] ketan-deserve commented on #3301
+1 ??

[2022-06-30 05:19] ketan-deserve commented on #3301
+ 1 ??

[2022-06-30 10:57] bblommers commented on #5276
Thanks for raising this @matthewlv30, and thanks for raising this! Marking it as a bug.

[2022-06-30 14:29] mglowinski93 opened #5279 "Username instead of email in Cognito JWT access token claims"
Hi,
I would like to ask about `email` being present in Cognito JWT access token claims.
According to [congito documentation ](https://docs.aws.amazon.com/cognito/latest/developerguide/amazon-cognito-user-pools-using-the-access-token.html) it should include `username` and not `email`.

I don't see any option to change that behaviour based on `create_jwt` method:
[code]

Do you consider that as a bu

[2022-06-30 15:10] janoskranczler opened #5280 "Cognito client describe_user_pool does not return with associated domain"
Hi,

I would like to test our programmatically created user pool's domain but it seems that the user pool's domain property is not implemented in the `describe_user_pool()` response in moto.
I'm using boto version `1.24.20` and moto version `3.1.16`.

I've created a test to reproduce the error:
[code]

This test fails on the last line with `KeyError: 'Domain'`, however, it is working with boto.

[2022-07-01 10:48] bblommers commented on #5277
Hi @simonw, capturing arguments is not possible in Moto. For most services this is not a problem, as they follow a CRUD-pattern: if you want to verify that a Create was successfull, you can use the accompanying Read-feature (for example, use `list_buckets` to verify that a `create_bucket`-call was successful).

Considering Textract does not store or process the input, using the `pytest-mock` appro

[2022-07-01 11:02] bblommers commented on #5279
Hi @mglowinski93, are you also seeing the `username` in an actual boto3-call?

The documentation can be useful as a guide, but it's not always up-to-date or correct. If you have a reproducible test case that shows that the token should contain `username`, that would be very helpful.

[2022-07-01 11:06] bblommers commented on #5280
Thanks for raising this @janoskranczler!

[2022-07-01 12:33] mglowinski93 commented on #5279
Yes, i do.
Here is token which i got:
[code]

from function

[code]

[2022-07-02 11:41] bblommers commented on #5279
Thanks @mglowinski93 - marking it as a bug then.

[2022-07-02 12:00] mglowinski93 commented on #5279
Sorry for pushy question, but when can we get the fix for that issue?

[2022-07-03 02:52] #5280 closed

[2022-07-03 10:16] alreadyhaveanaccount4 opened #5287 "unittest run_instances() with securitygroup"
Python version: 3.7
moto version: 3.1.16
boto3 version: 1.24.22
MOTO_AMIS_PATH is set correctly

I am trying to test a method from my class `aws_manager`. This looks like this:

[code]

And the unittest like this:

[code]

When, like seen in the first code-section, the `SecurityGroupIds` *is* specified, running the test like this:

`python3.7 -m unittest mytest`

This error occurs:

[code]

Which

[2022-07-03 20:03] bblommers commented on #5279
Whenever somebody feels like tackling this, @mglowinski93 - there are no timelines here.

Everything is open-source, so if you want to have a look, PR's are always welcome! http://docs.getmoto.org/en/latest/docs/contributing/index.html

[2022-07-03 21:20] bblommers commented on #5287
Hi @alreadyhaveanaccount4, the security group ID's will always be randomly generated, in order to mimick AWS' behaviour as closely as possible.

Assuming that `SECURITY_GROUP_ID` comes from some kind of configuration, I would recommend to patch this, to ensure it exists in Moto.
[code]
(I'm sure that the exact setup will be more complicated than this, but just to give an idea..)

[2022-07-04 14:07] sahilshah6196 opened #5290 "Add Support for AWS::AutoScaling::ScheduledAction"
Moto does not have cloudformation support for `AWS::AutoScaling::ScheduledAction`

[2022-07-05 11:34] liadbenari commented on #5267
Hi @bblommers, I think that you sou should reopen the issue.
After running the following code with version 3.1.16.dev4

[code]

This is the error that I received

`"ModuleNotFoundError: No module named 'openapi_spec_validator'"`

This is the full stack trace
[code]

[2022-07-05 11:43] bblommers commented on #5267
How are you installing Moto @liadbenari ? It's always required to add the services that you use as an installation dependency, like so: `pip install moto[cloudformation]`

That should install all dependencies, including `openapi-spec-validator`

[2022-07-05 12:07] liadbenari commented on #5267
Hi @bblommers

thanks for the quick response!

I ran `pip install moto==3.1.16.dev4`

Previously the installation command was `pip install moto==2.2 `. That worked in running all of my tests successfully

I'm guessing that the changes were made after quite a few versions

thank you

[2022-07-05 12:22] liadbenari opened #5291 "AWSLambda create_function_url_config unsupported"
## boto3 function url capabilities are unsupported

AWS added function url as a new feature called function url. I am trying to test some features around this. I'm getting a client error when calling the create_function_url_config method

This is something that needs to be added to moto in order to achieve full functionality

**Reproducing the issue:**
[code]

**Traceback**
[code]

[2022-07-06 13:10] pawelarybak opened #5293 "`put_item` using `batch_writer` does not validate empty strings"
Issue similar to #1129
When putting items with empty strings using `batch_writer` `ClientError` is not raised.

Using `moto==3.1.16`

Failing test case:
[code]

Output:
[code]

[2022-07-06 21:19] kbalk commented on #5257
Processing of the S3BackupMode argument was never implemented.  Not all of the destinations are implemented either.  A list of the unimplemented features are at the top of the file:  https://github.com/spulec/moto/blob/master/moto/firehose/models.py

[2022-07-07 16:08] askkhan84 opened #5294 "botocore.exceptions.ClientError: An error occurred (InvalidClientTokenId)"
I have read [This issue](https://github.com/spulec/moto/issues/1926) and [this one](https://github.com/spulec/moto/issues/3140) but dont work for me.

I am trying to setup a mock test for my Lambda. The Lambda is triggered using S3 PutObject event. The Lambda downloads the file and processes it and uploads it to AWS CloudSearch. So I am mocking S3 and SNS but not CloudSearch (not supported but its

[2022-07-08 12:54] kunalvudathu opened #5295 "Delete Vpc Endpoint won't delete vpc endpoint"
The response when calling delete vpc endpoints gives 200 but the mock endpoint is not deleted. Following is snippet of my code:

[code]
## Reporting Bugs

Please be aware of the following things when filing bug reports:

1. Avoid raising duplicate issues. *Please* use the GitHub issue search feature
   to check whether your bug report or feature request has been mentioned in
   the past.
2. When f

[2022-07-10 16:25] simonw commented on #5277
Thanks for the answer! I'll look into using `Mock.assert_called_with`.

[2022-07-10 16:25] #5277 closed

[2022-07-11 10:50] szopen321 opened #5299 "Add possibility to record and replay state of moto"
It would come in handy to be able to record changes to moto state and later restore the exact same state.

[2022-07-11 10:51] szopen321 commented on #5299
Proposed solution https://github.com/spulec/moto/pull/5300

[2022-07-11 18:48] czechnology commented on #3660
FYI, in newer versions you have to use:
[code]

[2022-07-11 18:50] czechnology commented on #933
FYI, in newer versions you have to use:
[code]

[2022-07-14 05:59] sodul commented on #5162
@bblommers FYI we are getting the very same stack trace with `3.1.16`, we are pinning ourselves to `3.1.9` for now.

[code]

[2022-07-14 16:06] bblommers commented on #5162
@sodul How are you installing Moto, and at which point are getting the error?

[2022-07-14 19:47] sodul commented on #5162
@bblommers `pip install moto[s3,sns,sqs]==3.1.9`, although through a `requirements.txt` file. We get the stack trace while running our unittests.

The line that breaks is:
[code]

So ...it looks like we just need to install `cloudformation` explicitly. Updating our requirements to `moto[cloudformation,s3,sns,sqs]==3.1.16` worked.

Sorry for the false alarm.

[2022-07-15 11:32] karolinepauls opened #5304 "SNS to SQS subscriptions filtering policy doesn't support most operations"
As shown here, the only operation implemented is `exists`: https://github.com/spulec/moto/blob/79af23aeb70fcbd37d56c73e5b026fff71688da0/moto/sns/models.py#L312-L316

Moto version: motoserver/moto:3.1.16

Example code - message not received if using filtering. Remove filtering to receive the message.
[code]

I'm not 100% sure about this snippet but it worked with localstack 0.12.19.

[2022-07-19 07:45] martijnvdp opened #5310 "RDS aurora-mysql DB instance engine type"
## Reporting Bugs

I cant seem to create a rds db instance with instance type aurora-mysql with the latest version

error:
[code]

to reproduce:
[code]

The valid values should be as on the aws site https://docs.aws.amazon.com/cli/latest/reference/rds/create-db-instance.html:

[code]

[2022-07-20 09:51] terence-cevo opened #5314 "feature request: NotImplementedError: The get_query_results action has not been implemented"
## Feature Request

Using moto to emulate Cloudwatch logs, and though `start_query` function is implemented the `get_query_results` function is not.

Need to read the result of the query started with the start_query command

## Expected Behaviour:

The `get_query_results` should return the result of the query  started using the `start_query` function.

## Actual Behaviour:
This is the trace of exe

[2022-07-21 15:43] mmerrill3 opened #5317 "Feature request: Implement IAM back end part of update_assume_role_policy to validate policies"
Hello,
The current implementation of update_assume_role_policy for IAM can validate the policy passed in.
I would like to validate this data, so that invalid policies will receive an exception

[2022-07-22 13:53] t3hG04T opened #5320 "KeyError: 'clustername' (instead of `DBClusterNotFoundFault`) thrown when calling `describe_db_clusters` for a non-existent cluster"
## Moto version:
 `3.1.16`

## Repro steps
[code]
## Expected behavior
[code]

## Actual behavior
[code]

It seems that `describe_db_clusters` is missing a simple check present in similar methods:
[code]

Monkeypatching it in fixes the behavior.

[2022-07-24 07:49] hans-d opened #5325 "Some /aws/service/ ssm parameters not available"
Eg, `/aws/service/ami-amazon-linux-latest/amzn2-ami-hvm-x86_64-ebs` is not available as a ssm parameter, nor can it be added (understandable) like a regular parameters due to `AccessDeniedException`.

See eg https://aws.amazon.com/blogs/compute/query-for-the-latest-amazon-linux-ami-ids-using-aws-systems-manager-parameter-store/

Having these parameters set, or being able to add those kind of value

[2022-07-24 12:23] hans-d opened #5326 "Autoscaling with missing availabilityZones and launchTemplate results in broken dashboard"
## Reporting Bugs

fresh install of moto, run via `moto_server`

terraform json fragments (generated)
[code]

terraform output:
[code]
logging output moto server:
[code]
when going to `http://127.0.0.1:5000/moto-api/#`
- screen remains blank (only black header visible)
logging output moto server:
[code]

Expecting:
- more verbose logging on moto why requests are returning errors
- autoscaling grou

[2022-07-24 13:40] hans-d commented on #5326
ok, caused by not having `availability_zones` as parameter.
Still, having some more info on the moto_server stdout and the failing dashboard is still an issue

[2022-07-24 15:20] hans-d opened #5327 "AutoscalingGroup with LaunchTemplate and no version throws 500"
[code]
results in
[code]

[code]

[2022-07-24 16:53] hans-d opened #5328 "CreateAutoScalingGroup with MixedInstancesPolicy not working"
When using moto as backend
[code]

Gives:
[code]

On real AWS:
[code]
works fine

[2022-07-24 23:02] ektedar commented on #1941
I am not sure if this is applicable to anyone but one my fixes was that I was initializing the boto3 client outside of my class. So when I imported that file into my Unittest, it automatically tried to initialize the client before running anything and started throwing the credentials error

For example:
[code]

A quick remedy, if you are initializing the class like this is to import the file insid

[2022-07-24 23:06] ektedar commented on #1941
I am not sure if this is applicable to anyone but one my fixes was that I was initializing the boto3 client outside of my class. So when I imported that file into my Unittest, it automatically tried to initialize the client before running anything and started throwing the credentials error

For example:
[code]

A quick remedy, if you are initializing the client like this is to import the file insi

[2022-07-25 08:21] MamedovaMaria opened #5329 "urllib3.exceptions.ReadTimeoutError: AWSHTTPConnectionPool when connecting to moto server"
(1) I am running a standalone moto_server on a localhost on port 5000 with:
- moto version 3.1.16
- boto3 version 1.24.36
- botocore version 1.27.36

I am trying to create a bucket via:
[code]

(2) I am getting a socket timeout exception.

[code]

(3) Additionally, the rest api is not accessible via http://127.0.0.1:5000/moto-api

[code]

[code]

[2022-07-25 09:45] bblommers commented on #5329
Hi @MamedovaMaria, which version of `werkzeug` do you have installed?
If it's the latest (`2.2.x`), try downgrading it to `2.1.2`.

[2022-07-25 10:25] NFarrington commented on #5329
I've been having a similar issue and can confirm downgrading `werkzeug` from `2.2.x` to `2.1.x` has fixed this for me.

[2022-07-25 11:02] MamedovaMaria commented on #5329
Thanks a lot guys!
I installed werkzeug==2.1.2 and it fixed the problem

[2022-07-25 15:33] BlakeSearlSonocent opened #5332 "NotImplementedError: Filter dicts have not been implemented in Moto for 'key-name'"
I am seeing this when I try to use the `describe_instances` ec2 function and filter on `key-name`.

Quick snippet of code that produces the error:

[code]

Relevant error comes from the `passes_filter_dict` function in `/site-packages/moto/ec2/utils.py`:

[code]

Hopefully will get some time to raise a PR 🤞

[2022-07-25 22:37] #5290 closed

[2022-07-25 23:51] bblommers commented on #5291
Thanks for raising this @liadbenari! Marking it as an enhancement to add this feature.

[2022-07-25 23:56] bblommers commented on #5293
Thanks for raising this @pawelarybak - marking it as an enhancement to add validation for this use-case

[2022-07-26 00:11] bblommers commented on #5294
Hi @askkhan84 , this behavior is on purpose, actually. We intercept all requests to AWS to prevent people from accidentally changing their real infrastructure.

There is no way to only intercept only some services atm. There is an outstanding issue to tackle this already, #4597, but no real progress on this.

[2022-07-26 01:17] bblommers commented on #5314
Hi @terence-cevo, thanks for raising this! As far as I can tell, this is a duplicate of #5015, so I'll close this one. Please follow the other issues for updates around this.

[2022-07-26 01:17] #5314 closed

[2022-07-26 09:47] bblommers commented on #5304
Thanks for raising this and adding an example test case @karolinepauls. Marking it as an enhancement to support other operations here.

[2022-07-26 10:08] bblommers commented on #5317
Thanks for raising this @mmerrill3. What kind of validation did you have in mind? Do you have an example of an invalid policy that should fail?

[2022-07-26 10:13] bblommers commented on #5320
Thanks for raising this @t3hG04T!

[2022-07-26 10:15] bblommers commented on #5326
Thanks for raising this @hans-d - we should indeed have some validation before exploding.

[2022-07-26 10:19] bblommers commented on #5328
https://github.com/spulec/moto/blob/ab045f5bebff4de84ac33053ef764efa32405829/moto/autoscaling/models.py#L888

Going to mark this as an enhancement instead, as we just need to add support for that parameter.

[2022-07-26 10:24] bblommers commented on #5325
Moto does bootstrap `/aws/service/global-infrastructure/`, but it would indeed be nice if we could extend that to include everything under `/aws/service`.

Marking it as an enhancement.

[2022-07-26 10:26] bblommers commented on #5332
Thanks for raising this @BlakeSearlSonocent. A PR would be very welcome, let us know if you need some pointers!

[2022-07-26 10:29] bblommers commented on #5329
Thanks for letting us know @NFarrington and @MamedovaMaria!
Marking it as a bug to fix whatever is wrong on our side that causes these timeouts.

[2022-07-26 11:11] sahilshah6196 opened #5335 "Adding support for delete and describe scheduled scaling actions"
Moto has cloudformation support for `AWS::AutoScaling::ScheduledAction` for [put_scheduled_update_group_action()](https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/autoscaling.html#AutoScaling.Client.put_scheduled_update_group_action)

Need some more support for [delete_scheduled_action()](https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/autoscali

[2022-07-26 11:59] Tenzer commented on #5329
I think this might be a bug in Werkzeug. I managed to drill it down to be a problem inside this while loop which is used for parsing the URL routing rules: https://github.com/pallets/werkzeug/blob/4c7d9908d199d32a360e88d36544c0c01b058b99/src/werkzeug/routing/rules.py#L589-L637.

When it is passed [the first URL from the list of S3 URLs](https://github.com/spulec/moto/blob/ab045f5bebff4de84ac33053e

[2022-07-26 13:38] ericrafalovsky opened #5336 "EC2: Add support for hibernation APIs"
Currently, the EC2 model does not support the APIs necessary for [instance hibernation](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/Hibernate.html) such as [`hibernation_options`](https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/ec2.html#EC2.Instance.hibernation_options)

Version: moto 3.1.8

[2022-07-26 14:17] bblommers commented on #5336
Hi @ericrafalovsky, is the option to mock the `hibernation_options`-argument in `run_instances` enough for your use-case? Or is there additional logic that you'd like to see in Moto?

[2022-07-26 16:12] #5310 closed

[2022-07-26 17:22] timforby commented on #3571
This is still not fully solved, the CatalogId is not correctly handled. As seen in the Boto3 docs for [create_database](https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/glue.html#Glue.Client.create_database) the call is made with CatalogId and DatabaseInput.

This means that in the [glue/responses.py](https://github.com/spulec/moto/blob/004c971a27d00b7a76b42f88cf3b095f672

[2022-07-26 19:19] #5320 closed

[2022-07-26 23:39] #4088 closed

[2022-07-27 07:19] #5332 closed

[2022-07-27 12:56] mmerrill3 commented on #5317
Hi @bblommers , I was thinking to reuse the policy validator function that is used already in the IAM package, the IAMPolicyDocumentValidator.  That should be fine.  It does a pretty decent job of validating the sections of the IAM policy.  I'm not looking to do a deep inspection of all the values.  For instance, if the account really exists in the principal or the resources.  I think the general

[2022-07-27 12:56] mmerrill3 commented on #5317
/assign mmerrill3

[2022-07-28 12:04] svetlin-mladenov opened #5341 "Moto server hangs with the latest version of werkzeug (v2.2.1)"
Here is what I do:
[code]
then in a different terminal I run
[code]

Expected behavior:
The `curl` should immediately return a result.

Actual behavior:
The `moto_server` hangs. The process is at 100% CPU  usage so maybe it is busy waiting for something (just a guess).

If `werkzeug` is manually downgraded to v2.1.0 or previous everything works as expected.

[2022-07-28 14:42] #5335 closed

[2022-07-28 15:52] TimothyLoyer opened #5342 "Jinja2 template name must be string or Template type"
Moto [creates template names based on the Python memory `id()`](https://github.com/spulec/moto/blob/c0ce38dba888af7abccec7edec629747f5e15e21/moto/core/responses.py#L112), causing them to be set as integers. Newer versions of [Jinja specify that the name must be a string or a Jinja Template](https://jinja.palletsprojects.com/en/3.1.x/api/#jinja2.Environment.get_template). This can result in unexpec

[2022-07-28 22:37] bblommers commented on #5342
Thanks for raising this and linking the docs @TimothyLoyer - marking it as a bug.

[2022-07-29 02:26] LaineWish commented on #3779
Hello! Just wondering if there are any updates on this?

[2022-07-29 16:01] WeatherGod commented on #5341
Just confirmed this myself in my own CI pipeline. The critical change was between v2.1.2 (works) and v2.2.0 (hangs) of that package. Everything else in my environment was kept the same.

[2022-07-29 16:03] WeatherGod commented on #5341
Important to note that the hang doesn't happen at moto_server startup, it happens at the first request (in my case, a create_bucket() call). When it hangs, the moto_server process will take up 100% cpu.

[2022-07-29 16:23] 07pepa opened #5344 "Inconsistent mocking behavior of mock_s3"
### Mocking inconsistency
consider folowing tests
[code]
as code suggest test_demonstrate_works works and test_demonstrate_fails fails
diference is only in AWS_DEFAULT_REGION enviroment variable

that is unexpected  behavior (and if i read documentation correct both should fail)

## Traceback
[code]

## how i instaled moto
`pip install moto` (boto3 puled along way as moto dependency)

## versions

[2022-07-29 17:27] hiimanii commented on #5146
Hi @bblommers, can you review the [pull request](https://github.com/spulec/moto/pull/5301). Do you have any comments?

[2022-07-29 17:41] #5342 closed

[2022-07-29 19:44] LizardWizzard commented on #5341
Can confirm that. Suggested downgrade to 2.1.2 worked for me

[2022-07-29 19:57] ppena-LiveData opened #5345 "DynamoDB `get_item()` should raise `ClientError` for empty key"
### What I expect to happen:
When an empty key is provided for a `get_item()` call, AWS's DynamoDB returns an error like this:

### What is happening:
Moto does not raise an exception and just returns no found results.

### Suggested fix:
Add this right after [line 436 in moto/dynamodb/responses.py](https://github.com/ppena-LiveData/moto/blob/d28c4bfb9390e04b9dadf95d778999c0c493a50a/moto/dynamodb/

[2022-07-29 22:23] bblommers commented on #5345
Hi @ppena-LiveData, thanks for raising this! Marking it as an enhancement to add this validation.

If you want to, a PR would always be welcome.
As far as the implementation goes, my preference would be to only calculate the empty keys once. That also has the benefit of being more readable:
[code]
The test structure is indeed a work in progress, with tests all over the place, but the best location

[2022-07-30 03:25] #5317 closed

[2022-07-30 05:29] tekumara opened #5346 "ec2 created without keypair has KeyName = 'None'"
When creating an instance without a keypair, moto describes the instance as having a keypair called`None`:

[code]

However the EC2 describe instances API will return a response without the KeyName field for EC2 instances without a keypair.

 moto 3.1.16

[2022-07-30 21:12] #5346 closed

[2022-07-30 23:16] ppena-LiveData commented on #5345
OK, I've created a PR.

For posterity: this is unrelated to this issue, but since I asked about it in my first comment, I tested using a `Binary`/`B` key instead of a `String`/`S`, and by the time `moto` gets the item, the value is a base64ed string (not bytes), so the `== '""` check in `put_has_empty_keys()` should be fine.

[2022-07-31 08:15] kloczek opened #5349 "3.1.10: pytest runs forever many units and in few are failing"
I'm packaging your module as an rpm package so I'm using the typical PEP517 based build, install and test cycle used on building packages from non-root account.
- `python3 -sBm build -w --no-isolation`
- because I'm calling `build` with `--no-isolation` I'm using during all processes only locally installed modules
- install .whl file in </install/prefix>
- run pytest with PYTHONPATH pointing to si

[2022-08-01 14:41] kloczek commented on #5349
After add `tests/test_apigateway/test_server.py::test_list_apis` to --deselect list I;ve restarted pytest.
However after I found 5 such units I wrorte oneliner to find all units which are ghanging.
Here is my current --deselect list of such units
[code]

[2022-08-01 15:00] bblommers commented on #5349
Hi @kloczek, which version of werkzeug are pulling in?
There is a known bug with version>=2.2.0, so you may have better luck installing an older version (2.1.x).

Re docker: we use Docker to run our Lambdas in, to ensure that the environment/context comes as close
as possible  to what AWS provides. I don't think it is be possible to achieve the same using virtualenv.

[2022-08-01 15:03] kloczek commented on #5349
After all those hanging units in --deselect list I was able to finish pytest and found that some units are failing.
Looks like pytest shows as well some warnings

Here is pytest output
<details>

[code]
<details>

[2022-08-01 15:06] kloczek commented on #5349
I'm going to add above failing units to --deselect list as well.
FYI: here is list of modules isntalled in build env:
[code]

[2022-08-01 15:10] kloczek commented on #5349
Hmm .. as you see I;m using  2.2.1.
Do you have URL of the ticket iwth that issue? 🤔

[2022-08-01 15:14] bblommers commented on #5349
#5329 and #5341

No progress on either, because I haven't had time - master currently just pins werkzeug to an pre-2.2.0 version

[2022-08-01 15:22] kloczek commented on #5349
OK so there is no yet `werkzeug` ticket? 🤔

[2022-08-01 15:23] kloczek commented on #5349
If it is already known issue feel free close that ticket as duplicate.

[2022-08-01 15:25] kloczek commented on #5349
So what about those failing units and pytest warninga?
needs to be added to ToDo list? 😋

[2022-08-01 20:53] SantaHub opened #5350 "mock_batch test failing with jobDef not found | region issues?"
[code]

Receiving this error when using mock_batch. Does the region matter ? I see that moto is using the us-east-1 region even when i have configured for the us-east-2 region. I wasnt successful in changing that either.

The Job definition exists in us-east-2 and the function works fine and creates the job when not mocked. The error is raised only when using moto. I am using pytest package to do

[2022-08-01 21:05] SantaHub commented on #5350
I have also tried with mock_batch_simple, but thats not doing any difference and giivng me the same error.

[2022-08-01 21:07] SantaHub commented on #5350
i believe the problem is with the region and if i am able to change the moto region i will be able to fix the problem, i couldnt do it yet, I tried putting debugger at the right places and changing it to test it out but wasnt successful in finding the right places yet.

[2022-08-02 12:37] stephanedesjardins-qc opened #5353 "Can't create elbv2"
## Reporting Bugs

Hi, hoping taht every body is well

I'm using Moto has stand alone mock server to test my terraform IaC.  here is my provider.tf

`provider "aws" {
      region          = var.region
      access_key = "test"
      secret_key   = "test"
      profile           = "mock-aws"

      s3_use_path_style                = true
      skip_credentials_validation   = true
      skip_metada

[2022-08-02 12:52] paulmdavies opened #5354 "Dynamodb incorrectly allows a mix of "expression" and "non-expression" parameters"
# Versions

`moto`: 3.1.16
`boto3`: 1.21.46

# Code
[code]

# Expectation

An error. This is what is produced by boto3 when calling this against a real table:
[code]

# Reality

No error.

[2022-08-02 17:43] #5345 closed

[2022-08-02 17:49] bblommers commented on #5353
Hi @stephanedesjardins-qc, thanks for raising this. Could you post a minimum reproducible example, so a TF that also includes the security groups/subnets?

[2022-08-02 17:54] bblommers commented on #5344
Hi @07pepa, thanks for raising this.

Which documentation ate you referring to here?

The docs here state that a bucket created outside the `us-east-1` region do need a specific LocationConstraint argument (example 3), so as far as I can tell, your example code would also fail against AWS.
https://docs.aws.amazon.com/cli/latest/reference/s3api/create-bucket.html#examples

[2022-08-02 17:58] bblommers commented on #5354
Thanks for raising this @paulmdavies - marking it as an enhancement to add this validation.

If this is something you want to implement yourself, PR's are always welcome! Let me know if you need help getting started.

[2022-08-02 18:21] stephanedesjardins-qc commented on #5353
Yep no problem

[code]

[2022-08-02 19:17] 07pepa commented on #5344
I was refering to this https://boto3.amazonaws.com/v1/documentation/api/latest/guide/s3-example-creating-buckets.html

that does not crossreference to this https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/s3.html#S3.Client.create_bucket

that also clearly states that default is us-east-1

witch i missed...

so this is actualy intended behavior. Thanks

[2022-08-02 19:17] #5344 closed

[2022-08-03 11:31] matanabudy opened #5355 "Make Redshift creation time to be UTC"
Currently Redshift snapshot is initialized with `datetime.now()` instead of `datetime.utcnow()`. It should be UTC time for compatibility.

For reference see [models.py](https://github.com/spulec/moto/blob/master/moto/redshift/models.py). In cluster creation it is:
[code]
And in snapshot creation it is:
[code]

[2022-08-03 14:26] jhw opened #5356 "Error listing Lambda layers after layer deletion"
Hi

`lambda.list_layers()` fails if you create a layer and then subsequently delete it

Here's an example illustrating the problem -

[code]

And here's what happens when you run it -

[code]

I'm using the latest version of `moto` - `3.1.16`

Rgds :)

[2022-08-04 09:57] rakovskij-stanislav opened #5357 "Security Issue with moto package from pypi.org"
Hello! Found a security issue in your package in pypi:
https://pypi.org/project/moto/

Affected versions of moto:
0.0.10 (released Mar 18, 2013)

There's an unmet dependency on module "spulec-httpretty" if you will try to install moto==0.0.10:
[code]

You can try it using this command:

[code]

It's dangerous because the intruder can create malicious package "spulec-httpretty" on pypi and:

- Make

[2022-08-04 15:45] xell29 commented on #5341
It was the same issue,  but after fix update, on create_bucket() call it fais with this error message: Failed: [undefined]botocore.exceptions.EndpointConnectionError: Could not connect to the endpoint URL: "http://127.0.0.1:5000/
my pip freeze:
`aiobotocore==1.4.2
aiohttp==3.8.1
aioitertools==0.10.0
aiosignal==1.2.0
anyio==3.5.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
async-timeout==4.0.2

[2022-08-04 15:52] bblommers commented on #5355
Thanks for raising this @matanabudy - marking it as a bug to fix this

[2022-08-04 15:57] bblommers commented on #5350
Hi @SantaHub - are you creating the JobDefinition as part of your mock setup? As Moto expects everything to be mocked. Resources in AWS are never taken into account.

[2022-08-04 16:08] bblommers commented on #5295
Hi @kunalvudathu, the `vpc_endpoint` will still exist, but with attribute `State="Deleted"`. Looking at the docs, this is also how AWS behaves? As the `describe_vpc_endpoints` does return endpoints with that state: https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/ec2.html#EC2.Client.describe_vpc_endpoints

[2022-08-04 16:31] bblommers commented on #5356
Thanks for raising this and providing the repro case @jhw - marking it as a bug.

[2022-08-04 17:22] sreedharkurra opened #5358 "ModuleNotFoundError: No module named 'cryptography'"
The moto test cases are failed due to

E   ModuleNotFoundError: No module named 'cryptography'

I changed the **requirements.txt** file to install moto[all] as per suggestions in issue#3290. This is resolved the above cryptography module issue.
But  now I'm getting new errors

ImportError: cannot import name 'mock_organizations' from 'moto'

Find the below few lines from my code

import os
import

[2022-08-04 19:40] NathanRoseCE opened #5359 "Enhancement: Support Kinesis on-demand mode"
Currently when calling kinesis create stream, the ShardCount is required. However AWS::Kinesis allows for on-demand mode by specifying StreamModeDetails["StreamMode"] = "ON_DEMAND".

Desired behavior:
[code]
does not error

[2022-08-04 20:17] bblommers commented on #5358
Hi @sreedharkurra, which version of Moto are you pulling in?

Can you share the full install-log from pip?

[2022-08-04 21:10] jakirkham commented on #5341
Just to note there are a few projects now copying this workaround. Some show up as xref's in PR ( https://github.com/spulec/moto/pull/5330 ).

Wonder if it makes sense to include this version constraint in `moto` packages to help users avoid this. Also curious whether this comes down to an upgrade needed in `moto` or if `werkzeug` broke something and this should be surfaced as an issue with that p

[2022-08-04 22:44] sreedharkurra commented on #5358
@bblommers Pls find the below full installed log from Jenkins.
Collecting moto[all]
  Using cached https://artifactory.company.com/artifactory/api/pypi/libs-pypi/packages/packages/1a/26/ea9c10763673e0296c757765df7280774ec49cbdc6269a175095bbf03c5d/moto-3.1.16-py3-none-any.whl (1.7 MB)
Collecting moto[all]
  Using cached https://artifactory.company/artifactory/api/pypi/libs-pypi/packages/packages/28

[2022-08-05 01:10] bpandola commented on #5358
Your error log clearly shows that you've installed a very old version of moto (`moto-1.1.13`).  Try cleaning your virtual environment, or explicitly setting moto to a higher version in your requirements file, and re-installing.

[2022-08-05 14:11] deepaksrgm2010 opened #5360 "Add SES SendBulkTemplatedEmail enhancement"
send_bulk_templated_email is not yet implemented in ses, so I would like to implement this.

[2022-08-05 19:06] amp5208 opened #5362 "FEATURE REQUEST: Amazon Managed Prometheus (AMP) Coverage"
Currently, [AMP](https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/amp.html) is not covered by Moto.  For mock unit testing of boto-managed units/specs, as an automation engineer, I want to be able to unit test Amazon Managed Prometheus (AMP) services, specifically the following, to ensure independent unit test coverage of scripts / automation that use AMP:

- [create_work

[2022-08-05 22:12] bblommers commented on #5341
The breakage of werkzeug was a combination of things - werkzeug introduced some bugs, and also exposed some bugs in Moto.
The upcoming `werkzeug==2.2.2` release should at least stop Moto from hanging, but will still throw 404's for some calls to Moto.

For now, Moto has pinned the werkzeug-dependency to < 2.2.x until we have time to resolve this completely.

As a debugging note:
Some of Moto's iss

[2022-08-05 22:15] bblommers commented on #5349
I'm going to close this in favor of #5341 - the comment there explains the failing unit tests.

The pytest warnings will be solved at some points, but that is not very high prio.

[2022-08-05 22:15] #5349 closed

[2022-08-05 22:17] bblommers commented on #5329
@Tenzer The hanging-bug is now fixed with https://github.com/pallets/werkzeug/pull/2489.

Please continue the convo in #5341, we're consolidating all werkzeug-issues there.

[2022-08-05 22:17] #5329 closed

[2022-08-05 22:19] jakirkham commented on #5341
Thanks for the additional context! 🙏

No worries. Appreciate all of you taking time to carefully work through these issues 🙂

[2022-08-06 20:15] bblommers opened #5366 "Release Moto 4.x"
The release of Moto 4.x is ~~due soon~~ now released, and will contain the following changes:

Multi-Account support ([see the documentation](http://docs.getmoto.org/en/latest/docs/multi_account.html))
Removal of the `mock_dynamodb2` and `mock_rds2` decorators
The ThreadedMotoServer will be considered out of beta, and the API considered stable

The following dependencies will get a minimum version

[2022-08-08 00:12] sreedharkurra commented on #5358
@bpandola I don't think so I'm using exclusively moto-1.1.13. I'm using only **moto** in **requirements.txt** The pip is installing latest version of moto when I called **moto** or **moto[all]**, then it also pulling old versions.
I also tried moto==**3.1.16** and **3.1.17** latest versions, the issue is still persist.

Collecting moto
  Using cached https://artifactory.company.com/artifactory/api

[2022-08-08 11:07] bblommers commented on #5358
Looks like the cache still returns the old version of Moto, regardless of what version you specify.

I don't know whether that's a security issue or a misconfiguration, but definitely something that needs to be fixed by whoever is managing Artifactory at your company.

[2022-08-08 11:08] #5287 closed

[2022-08-08 11:08] #5294 closed

[2022-08-09 12:09] t3hG04T opened #5371 "rds: `AvailabilityZone` is not printed out in `describe_db_instances`"
Despite being taken as an argument for `create_db_instance` (and stored in the `Database` model), the `AvailabilityZone` (`DBInstance/AvailabilityZone`) is not printed out in the:
[code]
call.

Actual response in boto3:
* [create_db_instance](https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/rds.html#RDS.Client.create_db_instance)
* [describe_db_instances](https://boto3.am

[2022-08-09 13:53] paulmdavies opened #5372 "SQS allows sending of messages with delays of longer than 15 minutes"
# Versions

`moto`: 3.1.16
`boto3`: 1.21.46

# Code
[code]

# Expectation

An response with a failure for the second message:
[code]

# Reality
[code]

[2022-08-10 16:55] c0state opened #5374 "moto conflicts with flask 2.2.2 since it requires werkzeug < 2.2.0, when using poetry"
The current latest `moto` version `3.1.17` conflicts with `flask` version `2.2.2`. This was noticed when using [poetry](https://python-poetry.org/) but is generally a version conflict regardless of the dependency manager.

To reproduce the issue, create a project with `flask` 2.2.2 and use the current latest `moto` version `3.1.17` in said project. It will throw a package dependency conflict (this

[2022-08-10 16:56] c0state commented on #5374
Also, was there a reason `werkzeug` was pinned to `2.2.0`? It seem like `<3` might be a fair version specifier?

[2022-08-10 20:45] bblommers commented on #5372
Thanks for raising this @paulmdavies - marking it as an enhancement to add this validation.

[2022-08-10 20:49] #5371 closed

[2022-08-10 20:52] bblommers commented on #5374
Thanks for raising this @c0state - we'll pin flask to <2.2.x for now as well.

Background on why we had to pin werkzeug can be found in #5341

[2022-08-11 08:14] bblommers commented on #5357
Hi @rakovskij-stanislav, thanks for raising this! I don't have the required permissions to take care of this myself, but I have escalated - it should be resolved soon.

[2022-08-11 09:45] #5374 closed

[2022-08-11 17:13] #5360 closed

[2022-08-12 16:14] martijnvdp opened #5379 "earliestRestorableTime missing from result rds.describe_db_cluster"
`rds.describe_db_clusters` is not returning the property `earliestRestorableTime` when the cluster has a snapshot

[2022-08-12 16:32] #5356 closed

[2022-08-12 19:45] #5270 closed

[2022-08-13 11:16] bblommers commented on #5366
MultiAccount support is now available as of Moto >= 4.0.0.dev3

[2022-08-13 11:18] bblommers commented on #1339
This feature is now available as of Moto >= 4.0.0.dev3 - see the documentation here: http://docs.getmoto.org/en/latest/docs/multi_account.html

The full release schedule for Moto 4 can be found here: https://github.com/spulec/moto/issues/5366

Please let us know if you have any feedback.

[2022-08-13 11:19] bblommers commented on #4319
@rtoma Support for multiple accounts is now implemented, and is available as of Moto >= 4.0.0.dev3 - see the documentation here: http://docs.getmoto.org/en/latest/docs/multi_account.html

The full release schedule for Moto 4 can be found here: https://github.com/spulec/moto/issues/5366

Please let us know if you have any feedback.

[2022-08-13 11:21] bblommers commented on #5188
This feature is now available as of Moto >= 4.0.0.dev3, as part of the MultiAccount support - see the documentation here: http://docs.getmoto.org/en/latest/docs/multi_account.html

The full release schedule for Moto 4 can be found here: https://github.com/spulec/moto/issues/5366

Please let us know if you have any feedback.

[2022-08-13 11:22] bblommers commented on #5027
This feature is now available as of Moto >= 4.0.0.dev3, as part of a broader rework to support multiple accounts - see the documentation here: http://docs.getmoto.org/en/latest/docs/multi_account.html

The full release schedule for Moto 4 can be found here: https://github.com/spulec/moto/issues/5366

Please let us know if you have any feedback.

[2022-08-13 20:36] bblommers commented on #5276
I'm going to close this, as the bug itself is now fixed - Moto no longer fails when providing this parameter.

[2022-08-13 20:36] #5276 closed

[2022-08-14 21:56] bblommers commented on #5353
Apologies for the delay @stephanedesjardins-qc. It looks like the main issue is that your variables are not properly initialized. I.e., there are string references such as:
`"aws_subnet.private-subnet-1.id"`

That should be referenced as variables instead:
`"${aws_subnet.private-subnet-1.id}"`

If you are still having issues, you can enable debugging by enabling logging: `TF_LOG=DEBUG terraform ap

[2022-08-16 13:34] bblommers commented on #5366
The deprecated decorators are now removed as of Moto >= 4.0.0.dev4

[2022-08-17 09:28] paulmdavies opened #5400 "Cognito REFRESH_TOKEN auth raises incorrect error for invalid token"
# Versions

`moto`: 3.1.16
`boto3`: 1.21.46

# Code
[code]

# Expectation
A `NotAuthorizedException`

# Reality
`TypeError: cannot unpack non-iterable NoneType object`

# Full Code
[code]

[2022-08-17 10:04] paulmdavies commented on #5400
I'm confused by this, as when trying to expose this problem in a fork, I don't see any issues. You even seem to have a test to cover this case!

[2022-08-17 12:07] bblommers commented on #5400
Interesting. Can  you reproduce it with a later version, either 3.1.18 or even 4.0.0.dev5?

[2022-08-17 21:39] Marinette opened #5402 "ConcurrentRunsExceededException when mocking for more than one Glue Job"
Hi all,

I am using moto v 3.1.2

I ran into this issue when trying to use moto to mock my Glue start_job_run() calls.
This happens when I want to use the same JobName to run two different start_job_runs().
The first one will succeed but the second one will give me error:

`Exception: An error occurred (ConcurrentRunsExceededException) when calling the StartJobRun operation: Job with name somejobn

[2022-08-18 09:22] bblommers commented on #5357
PyPI has comem back tome and confirmed that they've prohibited the `spulec-httpretty` project, so no-one can use it anymore and exploit this. Thanks again for bringing this to our attention!

[2022-08-18 09:22] #5357 closed

[2022-08-18 10:03] bblommers commented on #5402
Hi @Marinette, thanks for raising this! Sounds like there are two issues:
 - we need to support the `MaxConcurrentRuns`-property
 - and we need to implement a [state transition](http://docs.getmoto.org/en/latest/docs/configuration/state_transition/index.html) for Glue jobs so that the state will be set to READY automatically.

Marking it as an enhancement.

If this is something you're interested i

[2022-08-18 13:59] zumic96 opened #5403 "Trust policy validation missing sts:TagSession action"
Moto version: 3.1.18
using Python mocks
boto3 version: 1.17.112
botocore version: 1.20.112

Missing **`sts:TagSession`** as allowed action in Trust policy validation https://github.com/spulec/moto/blob/master/moto/iam/policy_validation.py#L566
Using it per this [AWS document](https://docs.aws.amazon.com/IAM/latest/UserGuide/id_session-tags.html#id_session-tags_permissions-required) and noticed my

[2022-08-18 18:55] jluevan13 opened #5404 "DynamoDB table Creates only in us-east-1"
When trying to create a dynamodb table in us-east-2, the table is created in us-east-1.

With us-east-2 set in the client, the arn is returned as 'arn:aws:dynamodb:us-east-1:123456789012:table/test_table'.

import pytest
import boto3
from moto import mock_dynamodb
import os

@pytest.fixture
def mock_credentials():
    """
    Create mock session for moto
    """
    os.environ["AWS_ACCESS_KEY_ID"]

[2022-08-18 19:08] bblommers commented on #5403
Thanks for raising this @zumic96! Marking it as a bug

[2022-08-18 19:10] bblommers commented on #5404
Thanks for raising this @jluevan13 - looks like the `us-east-1`-region is hardcoded for some reason. Marking it as a bug.

https://github.com/spulec/moto/blob/ecc0da7e8782b59d75de668b95c4b498a5ef8597/moto/dynamodb/models/__init__.py#L569

[2022-08-19 11:09] ColdrickSotK opened #5408 "Default ACL not set for multipart upload"
## Context

When using moto's implementation of S3's multipart upload to upload an object, the ACL seems like it is not set on the object unless it is specified explicitly by the uploader. This causes problems with subsequent requests to access the object, eg. `HeadObject`.

For some reason that I've not got to the bottom of, this issue only seems to occur when using presigned URLs to send the `He

[2022-08-19 15:29] bblommers commented on #5408
Thank you for raising this and providing the repro @ColdrickSotK! Marking it as a bug.

[2022-08-20 10:56] bblommers commented on #5366
Moto 4 is now released! Please raise a new issue if you encounter any bugs/problems with this version, as usual.

[2022-08-20 10:56] #5366 closed

[2022-08-20 10:56] bblommers commented on #5027
Moto 4 is now released, so this now works as you would expect. Please raise a new issue if you still encounter any issues.

[2022-08-20 10:56] #5027 closed

[2022-08-20 10:58] bblommers commented on #5188
Moto 4.0.0 is now released, so this now works as you would expect - `get_access_key_last_used` will return the correct data automatically. Please raise a new issue if you still encounter any issues.

[2022-08-20 10:58] #5188 closed

[2022-08-20 10:59] bblommers commented on #1339
Moto 4.0.0 is now released containing this feature. Please let us know if you still encounter any issues around this.

[2022-08-20 10:59] #1339 closed

[2022-08-20 10:59] #5295 closed

[2022-08-20 11:00] #5358 closed

[2022-08-20 11:00] #5350 closed

[2022-08-20 11:03] #816 closed

[2022-08-20 11:04] #1513 closed

[2022-08-20 14:53] xmooner opened #5411 "kms revoke_grant should raise NotFoundException if the grant does not exist"
Hi there,
first of all: thanks for the great library.

I have found a small inconsistency in how the kms client `revoke_grant` function behaves if the requested grant does not exist.

# Expected AWS behavior
`revoke_grant` should raise a `KMS.Client.exceptions.NotFoundException` ([doc](https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/kms.html#KMS.Client.revoke_grant))

Co

[2022-08-22 00:57] dmarra commented on #5180
@bblommers , it's been a while, but I have made an attempt at this. I have a question for you though. Due to the nature of the change, I had to make some changes to one of the github actions in order to test my work (as is done for the other, similar tests). I want to avoid running the actions in my fork for this one change, so I was wondering if you had a method for local development to test this

[2022-08-22 07:47] bblommers commented on #5180
Hey @dmarra, no, I didn't have anything smart set up - IIRC I just used the steps from the GA locally.

Are you worried about cost? As it should be free to run, considering it's open source. The Docker Tests run on their own, and it's really quick (as opposed to the full test suite, which will take a while).

Alternatively, you could submit a PR anyway, and (after I approve it) it would run the Gi

[2022-08-22 12:57] berzi commented on #5366
@bblommers Please mention how to replace usages of the removed deprecated `mock_dynamodb2` decorator. All I can find by googling is an issue that proposed how to ignore deprecation warnings... instead of upgrading to whatever the current practice should be, which is the only option as of 4.0.0.

[2022-08-22 13:27] bblommers commented on #5366
Yes, it is @berzi  - I'll mention it above as well for clarity. Thanks for bringing this to our attention.
FYI, the full history/reasoning behind this change can be found here: https://github.com/spulec/moto/issues/4526

[2022-08-22 14:57] bruno-gialis-al commented on #5188
It work fine, thanks !

[2022-08-23 16:09] #5326 closed

[2022-08-23 16:13] #5327 closed

[2022-08-23 17:23] #5355 closed

[2022-08-23 18:20] AGnias47 opened #5415 "Mock KMS requires a mock key to be created"
I'm unable to use KMS encrypt without first creating a mock key. Because the operation is being mocked, I would expect the `KeyId` parameter of `encrypt` to accept any string. However, it seems to only work when a mock key is created. Is this the expected behavior of the mock? Inspecting the key that is created, it does seem to be an actual mock, just seems to be an unnecessary step to use the moc

[2022-08-23 18:39] bblommers commented on #5415
Hi @AGnias47, that is the expected behaviour.
We want to resemble the AWS-behaviour as closely as possible, and that includes verifying that Keys are created, and throwing the exact same error message if it hasn't been created yet.

[2022-08-23 18:41] #3785 closed

[2022-08-23 18:43] AGnias47 commented on #5415
Understood, thanks for the quick response and clarification!

[2022-08-23 18:43] #5415 closed

[2022-08-23 22:46] #5404 closed

[2022-08-24 10:48] #5411 closed

[2022-08-24 10:49] #5354 closed

[2022-08-24 16:01] arnaudstiegler opened #5418 "Regex in put_integration doesn't match with sagemaker runtime integration"
## Reporting Bugs

Moto version: 4.0.0

When using sagemaker runtime as integration for an API Gateway, the endpoint URI will be:
`arn:aws:apigateway:{region}:runtime.sagemaker:path/endpoints/{endpoint_name}/invocations`

However, in `APIGatewayBackend.put_integration`, the URI gets matched [here](https://github.com/spulec/moto/blob/master/moto/apigateway/models.py#L1610) with the following regex:

[2022-08-24 17:17] bblommers commented on #5418
Thanks for raising this @arnaudstiegler, and welcome to Moto!

If you want to contribute a fix for this, PR's are always welcome.

[2022-08-24 21:17] #5408 closed

[2022-08-24 21:19] #5291 closed

[2022-08-26 12:45] Tmilly opened #5423 "RDS ReadReplicaDBInstanceIdentifiers and SourceDBInstanceIdentifier show db-name for cross-region replication"
Currently in all cases, moto will use a database's name for the `ReadReplicaDBInstanceIdentifiers` and  `SourceDBInstanceIdentifier` fields in the RDSBackend.

This aligns with AWS's states for same-region replication. However for cross-region replication, AWS provides full arns for `ReadReplicaDBInstanceIdentifiers` and `SourceDBInstanceIdentifier`. Moto does not reflect this behavior for cross-r

[2022-08-27 11:24] tekumara opened #5424 "DeliveryTimedOutCount missing from ssm list_commands output"
[code]

moto 4.0.1

[2022-08-27 15:12] bblommers commented on #5423
Thanks for raising this @Tmilly, and welcome to Moto - marking this as a bug.

PR's are always welcome, if you'd like to tackle this!

[2022-08-27 15:15] bblommers commented on #5424
Thanks for raising this @tekumara - marking it as an enhancement to add this attribute.

[2022-08-28 22:30] #5325 closed

[2022-08-29 05:33] cln-m4rie opened #5429 "DynamoDB UpdateItem error: Two document paths overlap with each other"
## Reporting Bugs

Moto Version: 3.1.15.dev7

The following error occurred in DynamoDB on AWS, but passed in Moto.

[code]

[2022-08-29 08:47] #1873 closed

[2022-08-29 08:50] bblommers commented on #5429
Hi @cln-m4rie, thanks for raising this.

Can you share a reproducible test case that showcases this error?

[2022-08-29 09:48] cln-m4rie commented on #5429
@bblommers

This

[code]

[2022-08-29 15:11] bblommers commented on #2223
AWS supports a tool called [Former2](https://former2.com/) that generates CloudFormation for your existing resources. You can then import those CF templates into Moto to generate (/clone) the resources.

Using an external tool may be a bit of a PITA, but given the effort involved in recreating this feature in Moto, and the fact that there have been no other requests for this feature, it sounds lik

[2022-08-29 15:11] #2223 closed

[2022-08-29 16:42] successkrisz opened #5432 "s3 create bucket command results in ERR_STREAM_WRITE_AFTER_END error"
Noticed that from something changed in how s3 commands are handled from 3.1.4 onwards.

When using:
* Serverless framework v3
* @aws-sdk/client-s3 nodejs library (using aws sdk v3)
* moto-server using the docker image

If I use moto@3.1.3 or below the following works:
[code]

If I update to any version of moto released beyond that the same thing fails without any code changes being made with the f

[2022-08-29 19:38] bblommers commented on #5432
Hi @successkrisz, thanks for raising this.

It looks like this is related to the dependencies packaged within the Docker-container. The same error occurs when running `moto_server` on the master-branch, with the latest version with `flask==2.1.2` and `werkzeug==2.1.2`.
However, if I install `flask==2.0.3` and `werkzeug==2.0.3` (the versions used in the Moto 3.1.3 docker container), everything work

[2022-08-30 10:04] #5328 closed

[2022-08-30 21:13] #5418 closed

[2022-08-31 11:12] #5304 closed

[2022-08-31 18:34] #4839 closed

[2022-08-31 20:09] #5293 closed

[2022-09-01 20:48] arnaudstiegler opened #5443 "create_endpoint_config doesn't support Serverless deployment"
It is currently not possible to use moto to mock `create_endpoint_config` if the endpoint config involves using serverless deployment.

To reproduce:
[code]

Stacktrace:
[code]

The error is triggered when moto creates a new `FakeEndpointConfig`: https://github.com/spulec/moto/blob/930c58bd1366b073e8630a82fa7f34624babd867/moto/sagemaker/models.py#L399-L401

When deploying using `ServerlessConfig`,

[2022-09-01 21:40] bblommers commented on #5432
Some notes on what I've found so far:

 - The region matters - the error does not occur when the S3Client has the parameter `region:'us-east-1'`
 - The error is due to `werkzeug` specifically - the flask-version does not matter
 - Werkzeug 2.1.0 sends a HTTP/1.1 response - 2.0.3 sends a HTTP/1.0 response

Moto-specific findings:
 - Moto sends a response-body, while AWS does not. Changing this beha

[2022-09-01 21:44] bblommers commented on #5443
Hi @arnaudstiegler, thanks for raising this. PR's are always welcome - let me know if you need any help or pointers.

[2022-09-02 12:59] #5359 closed

[2022-09-02 13:01] arnaudstiegler commented on #5443
Sounds good, will work on this

[2022-09-02 13:21] arnaudstiegler commented on #5443
@bblommers Is there a guide for contribution? Can I simply open a PR against the repo or should I fork it instead?

[2022-09-02 13:41] bblommers commented on #5146
Hi @blacktooth, @hiimanii, were there any remaining Glue features/methods that you would like to see in Moto? Or did the PR's cover everything you need?

[2022-09-02 15:36] blacktooth commented on #5146
The PRs covered everything we need for now! Thanks for your support on reviews! We will open a new issue in case we want to add more APIs.

[2022-09-02 18:15] bblommers commented on #5146
Sounds good to me @blacktooth - thanks!

[2022-09-02 18:15] #5146 closed

[2022-09-02 18:42] #5443 closed

[2022-09-03 00:51] amp5208 commented on #5362
this looks to be resolved -- will check back in if it is not.  Thank you for the speedy resolve, @bblommers

[2022-09-03 07:52] raj-trustlab opened #5446 ""delete_message" not working on sqs client under moto"
I have a code like:

[code]

I'm trying to test the Listener using moto, I have the following test code:

[code]

When I run this, it seems to have received the message okay (I get the print-out), but when deleting it from the queue it fails with the following error:
[code]

Anyone know what might be going on here? Thanks!

[2022-09-03 09:52] bblommers commented on #5362
Happy to help @amp5208!

[2022-09-03 10:13] bblommers commented on #5446
Hi @raj-trustlab, Moto does not play well together with threads or concurrency frameworks. You may be better of testing the Listener/SqsClientWrapper class in a single thread.

On an unrelated note, something that may give you unexpected behaviour:
The mock-decorator is only scoped to the test-function at the moment, i.e. the `setUp`/`tearDown`-functions are currently not mocked, and any boto3-cal

[2022-09-03 18:18] bblommers commented on #5446
FWIW, I can't actually reproduce the example you gave. The multi-threading doesn't seem to work, and it always loops inside the `Listener.listen`-method, without ever sending a message.

[2022-09-05 23:03] raj-trustlab commented on #5446
I think I was able to get it to work, but it's not super clean. What I needed to add was a sleep. In addition, in order to allow the main thread to make progress (which is what I believe @bblommers was causing your issue), I need to add some long-polling into the "receive_message" part of the code. I was going to do this anyway as a part of the implementation anyway, so not a huge deal. I think th

[2022-09-05 23:03] #5446 closed

[2022-09-06 08:52] bblommers commented on #5446
Happy to hear this is fixed @raj-trustlab. Thanks for sharing the solution!

[2022-09-07 06:21] dkjadhav-deserve opened #5448 "sns_backends example doesn't work"
## Reporting Bugs

**Problem -**
SNSBackend example mentioned in documentation doesn't work.
Please find link for doc - https://docs.getmoto.org/en/stable/docs/services/sns.html
[code]

We are getting following error while using SNSBackend with moto version 4.0.2

**Snapshot-**
[code]

**Possible solution-**
[code]

[2022-09-07 09:25] bblommers commented on #5448
Thanks for raising this @dkjadhav-deserve. That example would have worked for previous versions, but your suggested solution is indeed the right one for Moto 4.x.

Will open a PR to fix this shortly.

[2022-09-07 11:45] #2856 closed

[2022-09-07 13:08] daka83 opened #5451 "REFRESH_TOKEN_AUTH is not working"
When calling `initiate_auth` with `REFRESH_TOKEN_AUTH` I am getting next exception

[code]

moto==4.0.2

[2022-09-07 13:27] bblommers commented on #5451
Hi @daka83, can you share a reproducible test case that triggers this error?

[2022-09-07 15:57] araker opened #5452 "sts mock doesn't stop properly"
Hello,

I have the following test script.

`
from moto import mock_sts
import boto3

_sts_mock = mock_sts()
_sts_mock.start()

account_id = boto3.client("sts").get_caller_identity().get("Account")
print(account_id) --result 123456789012

_sts_mock.stop()

boto3.client("sts").get_caller_identity().get("Account")
print(account_id) --result 123456789012

import boto3 as boto
boto.client("sts").get_ca

[2022-09-07 16:23] bblommers commented on #5452
That is the expected behaviour @araker. As long as _a_ mock is active, we intercept all calls to AWS regardless of the target service.
The purpose of this is safety, to ensure that a test does not accidentally call AWS (and potentially create some expensive resources) just because the developer forgot to enable all of the relevant mocks.

There are some similar requests, to allow Moto to be more f

[2022-09-07 16:52] daka83 commented on #5451
I added a pull request, fix is simple https://github.com/spulec/moto/pull/5453

[2022-09-07 18:21] araker commented on #5452
@bblommers , just to be crystal clear here, I'm stopping the mock explicitly, but the behavior of the mock still continues and that is epected behavior?

[2022-09-07 18:39] #5451 closed

[2022-09-07 20:48] jlopezscala opened #5454 "Pin Cryptography library"
Hey there!

This can be a totally invalid issue but not sure where else I could post this.

There is a [new release](https://cryptography.io/en/latest/changelog/#v38-0-0) of Cryptography library which `moto` is using [today](https://github.com/spulec/moto/blob/master/setup.py#L32).
It looks like major versions are being pulled because of the versioning schema change from the `cryptography` library

[2022-09-07 21:34] bblommers commented on #5454
Hi @jlopezscala, generally we do not want to pin versions unless absolutely necessary - as a library, we should not be the deciding factor in what versions are being used by the user.

What kind of issues did you have with the latest version of `cryptography`?

[2022-09-07 21:50] jlopezscala commented on #5454
@bblommers Hey there! Thanks for jumping into my question so fast!

Looks like my `pip` was not up-to-date. The latest version of `cryptography` requires a newer version of `rustc` compiler to be installed on the system where the `pip install moto` command is running. This is easily solved by upgrading `pip` as per `cryptography` docs, I quote from their changelog:

 That's totally ok, it's my bad

[2022-09-07 22:33] bblommers commented on #5454
So, I've just traced all our cryptography-uses in Moto, and it doesn't look like the changes impact the way we use the library.

Dropping support for older OpenSSL/LibreSSL versions will affect some users of course, but it will be up to them to ensure their systems are up-to-date (or pin cryptography manually).

Thanks for the heads-up though! I wasn't aware of these changes at all.

[2022-09-08 00:09] openSourcerer9000 opened #5455 "upload_file doesn't work with moto"
So I have a process which uploads files to S3. I've tried it using an actual AWS account and it works just fine. I'm trying to write a test for it, which looks like this:

[code]
[code]

Note:
 - the process works just fine in the real AWS environment
 - the authentication and put success printouts print from the putprocess()
 - the mock bucket seems to be shown to exist, as the real AWS throws an

[2022-09-08 09:42] bblommers commented on #5455
Hi @openSourcerer9000, each method is manually ported over. Both the `put_object` and the `objects.all()`-methods should work though, as they are fairly standard operations.

Faking the credentials should technically not even be necessary, it's just recommended to ensure that you're not accidentally connecting to AWS if there's a problem with the mocks.

Having said that, I'm not able to reproduce

[2022-09-08 09:44] bblommers commented on #5455
At what point are you creating the `boto3.resource` inside the `put_process`-method? If the resource is created before the mock is started, then you will run into issues - see http://docs.getmoto.org/en/latest/docs/getting_started.html#what-about-those-pesky-imports

[2022-09-08 15:38] jlopezscala commented on #5454
Great! Thanks for your answers and your time looking at it!

[2022-09-08 15:38] #5454 closed

[2022-09-08 17:03] openSourcerer9000 commented on #5455
The actual boto3.resource call is inside a helper function which gets called from putprocess(). There are no boto3 calls outside of functions, which seems to be the edge case the docs warn about?

boto3 does get imported from my module, which would happen outside of the mock context.

Is this supposed to be in double strings like this? `s3path = "'Expected/S3/filepath'"`
I tried wrapping my full S

[2022-09-08 17:11] openSourcerer9000 commented on #5455
I don't think it could be the case that it's not using moto for these boto3 calls, as it wouldn't be able to connect using bad credentials.

Trying with the real boto3, it actually doesn't throw an error until the bkt.objects.all() call. I added that call inside the end of putprocess to make sure, and it indeed finds `[]` inside the bucket without throwing an error.

[code]

[2022-09-08 18:39] bblommers commented on #5455
The edge case is when the client or resource is created before the mock starts. It has to be initialized while the mock is active.

That was a typo actually, but it does not affect the behaviour. (S3 might have something to say about the validity of a key with that name, but Moto is OK with it)

The `test_5455.py` only references the filename on my own filesystem, but the uploaded file is called `

[2022-09-08 19:06] openSourcerer9000 commented on #5455
Ah gotcha, I didn't notice that was the file it gets written to in your example.

So this _does_ work just fine:

[code]

Suggesting that something is different calling to boto3 from the functions defined in the other module. However, I don't believe it's just trying to use the real boto3 since it never throws an error from the bad credentials. I'll try and recreate the issue in a minimal repo.

[2022-09-08 19:39] openSourcerer9000 commented on #5455
Alright, I feel silly, my test was just failing the old fashioned way. When I was running the whole class's process on the real S3, it does a preprocessing step which populates the files. I hadn't properly mocked that process before isolating the put method for a test.

[2022-09-08 19:39] #5455 closed

[2022-09-08 21:51] bblommers commented on #5455
Happy to hear it works @openSourcerer9000!

[2022-09-08 21:51] #5249 closed

[2022-09-09 01:20] yan12125 opened #5457 "Incompatible with openapi-spec-validator >= 0.5"
## Reporting Bugs

In a virtual environment,
[code]

There is no error with `openapi-spec-validator==0.4.0`.

[2022-09-09 09:14] #5457 closed

[2022-09-09 14:21] yan12125 commented on #5457
Many thanks for the fast fix!

[2022-09-09 23:30] jtherrmann opened #5461 "Tests fail unless we use both a decorator and a context manager for `mock_dynamodb` with our pytest fixture"
## Version information

We've installed `moto 4.0.2`, `boto3 1.24.70`, and `botocore 1.27.70` with `pip`. We're running Python 3.9.13.

## Description of the problem

We're using `mock_dynamodb` [here](https://github.com/ASFHyP3/hyp3/blob/213f39ab3ae1dd2415b6d35d4cb458ff5066cacd/tests/conftest.py#L26) to mock a pytest fixture representing our database tables. If we remove either the `@mock_dynamod

[2022-09-10 04:20] RahiBhensdadia commented on #5372
I want to work on this issue. I found it interesting and I think I can fix this. It would be great if I get the approval from the owner.

[2022-09-10 07:03] RahiBhensdadia commented on #5259
I find this interesting and I want to work on this. It would be great if I can get the approval from the owner.

[2022-09-10 09:55] bblommers commented on #5372
PR's are always welcome, @RahiBhensdadia! There is a guide here with some tips that may be helpful for contributors: http://docs.getmoto.org/en/latest/docs/contributing/index.html

Please let us know if you need any help with either issue.

[2022-09-10 13:30] #2722 closed

[2022-09-10 20:23] bblommers commented on #5461
Hi @jtherrmann, that was an interesting debugging session. To answer the first question: not sure, I've never seen that behaviour before. The PR in your repo already mentions the `pesky imports`-section, and I'm assuming that a 'wrong' order of imports leads somehow to this.

Having said that, we do have a utility-method to patch any resources that were created before the mock initializes, which a

[2022-09-11 12:34] jhw opened #5462 "@mock_cloudformation doesn't work"
### requirements.txt

[code]

### hello.py

[code]

### run

[code]

[2022-09-11 12:43] bblommers commented on #5462
Use `moto[cloudformation]` to install dependencies.
See http://docs.getmoto.org/en/latest/docs/getting_started.html#installing-moto

[2022-09-11 12:57] yan12125 commented on #5462
From the error message, this seems the same issue as https://github.com/spulec/moto/issues/5457, which was recently fixed, but not included in the current version yet.

[2022-09-11 13:14] bblommers commented on #5462
Ah, you are right @yan12125, I misread the error.

@jhw This is fixed in moto >= 4.0.3.dev6 - I'll try to get a full release out today.

[2022-09-11 20:46] bblommers commented on #5462
Moto 4.0.3 is now available on PyPi! I'll close this, but please let us know if you run into any other issues.

[2022-09-12 06:05] ArpanShah2k commented on #5271
hi, I am interested in fixing this issue. it will be a great opportunity to fix this issue and contribute to this project if you assign me this issue . @JorisLimousin @bblommers @corasaurus-hex @olleolleolle @JackDanger

[2022-09-12 09:25] bblommers commented on #5271
Done @ArpanShah2k! We have some documentation on how to get started: http://docs.getmoto.org/en/latest/docs/contributing/index.html
Please let us know if you run into any issues.

[2022-09-12 11:13] jhw commented on #5462
This works now, many thanks :)

Couple of things I noticed in trying to deploy a random template under `@mock_cloudformation` -

- `AWS::ApiGateway::Method` seems to require the `ApiKeyRequired` field; this is listed as `Required: No` in the AWS docs -

https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-apigateway-method.html#cfn-apigateway-method-apikeyrequired

- `AWS::A

[2022-09-12 12:38] araker commented on #5452
@bblommers , just to clarify. are you presuming here that another mock is still active and that that's the reason why the sts mock is still active? In this environment the only active mock is the sts one.

So when

[2022-09-12 18:29] bblommers commented on #5452
That was my assumption, yes, because you said `When stopping other mocks (like s3)` - it sounded like you had multiple mocks active at the same time.

I'm not able to reproduce this though - the example above gives me an error that `The security token included in the request is invalid.` after the mock is stopped, as expected.

Are you able to create a repo with a CI/CD that showcases this behavio

[2022-09-12 18:55] jtherrmann commented on #5461
@bblommers Thanks for the prompt reply! We may experiment with `patch_resource`, or just leave it as-is, given your warning about the efficiency hit. If we ever find the root cause, we'll try to remember to report back here. Feel free to close the issue or leave it open, whichever you prefer.

[2022-09-12 19:02] bblommers commented on #5461
That would be appreciated! It is quite weird behaviour, but I don't have the bandwidth to delve too deeply into it unfortunately.

[2022-09-12 19:02] #5461 closed

[2022-09-12 21:56] bblommers commented on #5462
Thanks for raising them @jhw! All three issues should be fixed as of moto >= 4.0.4.dev2

[2022-09-12 21:56] #5462 closed

[2022-09-13 07:39] RahiBhensdadia commented on #5372
Thank you sir for your kind consideration. I will go through this documentation and start working on the enhancement. I'll approach if I need help.

[2022-09-13 12:02] Arnold1 opened #5468 "issue with ThreadedMotoServer"
hi,

I try to do the following:
my python app uses pyspark and regular python.
- pyspark calls spark.read.csv and spark.read.load to read data from s3 - so I have to mock s3 access
- regular python downloads some files from s3 and uses regular python to process the data - so I have to mock s3 access
- for mock_pyspark I need to start ThreadedMotoServer which runs on port 5000 according to: https:/

[2022-09-13 17:14] iffystiffy opened #5469 "The config profile (default) could not be found"
I am getting this error every time I try to mock the aws_credentials from the tutorial, I keep getting the "botocore.exceptions.ProfileNotFound: The config profile (adfs) could not be found" error. I reinstalled moto a few times and I am not sure why I keep getting this error and its hindering my progression.
![image](https://user-images.githubusercontent.com/4148339/189965015-a564780c-853d-4b22-b

[2022-09-13 17:15] nesskeo commented on #5469
![image](https://user-images.githubusercontent.com/4148339/189965268-7b7f6dd5-21ff-4520-bb4c-759cf8910221.png)

[2022-09-13 17:17] nesskeo commented on #5469
![image](https://user-images.githubusercontent.com/4148339/189965414-24b4c09c-2010-41b8-8a01-1ba76d0c912b.png)
Here is the example code I tried to follow from the setup document. I tried even doing a os.enviro['AWS_PROFILE'] = 'adfs' with no luck

[2022-09-14 17:13] bblommers commented on #4296
From Moto 3.1.14, it is possible to have a reproducible UserPoolID. This can be achieved by setting the environment variable `MOTO_COGNITO_IDP_USER_POOL_ID_STRATEGY=HASH`.
See the documentation here: http://docs.getmoto.org/en/latest/docs/services/cognito-idp.html

Setting this variable will guarantee that, given a set of input parameters, the generated userpool ID will be always the same.

The sc

[2022-09-14 21:29] bblommers commented on #5469
Hi @iffystiffy, that looks like an error coming from boto3 itself. If you remove the `with mock_s3` part, it will still throw an error if the profile does not exist.

Note that the profile does not need to be mocked for Moto to work. Setting the fake credentials as environment variables is enough to ensure the test will never connect to to AWS.. (Also, as far as I know, our documentation never men

[2022-09-15 00:56] marshall7m opened #5472 "Run ECS task locally"
# Feature
Similar to how moto supports running Lambda Function as seen [here](https://docs.getmoto.org/en/latest/docs/services/lambda.html), it would be great if moto had the ability to run local docker containers to simulate ECS task definitions. Ideally, a user would be able to send a RunTask request to the moto server and moto will be able to parse the ECS task definition that's registered with

[2022-09-15 09:31] #5468 closed

[2022-09-15 13:58] joshuaroot opened #5473 "mock_rds does not contain "DbInstancePort""
Using moto 4.0.3, when running the `create_db_instance` the only reference to port found is in the `Endpoint` response.

[code]

When I try to run a mocked call to `modify_db_instance` and change the port, it throws `KeyError` as the key `DbInstancePort` is not included in the response objects.

[code]

[2022-09-15 14:41] iffystiffy commented on #5469
Right now I reinstalled boto3 botocore from 1.27.68 to 1.27.71 and I am still getting the "botocore.exceptions.ProfileNotFound: The config profile (adfs) could not be found" error. I am not sure where the 'adfs' profile is created because all the packages are pretty much brand new.

[2022-09-15 15:48] bblommers commented on #5469
Did you also remove the `os.environ["AWS_PROFILE"] = "asdf"`? That part is definitely not on the official website (docs.getmoto.org)

[2022-09-15 16:21] iffystiffy commented on #5469
yeah I got rid of `os.environ["AWS_PROFILE"] = "asdf"` as well with no luck.

[2022-09-15 16:24] iffystiffy commented on #5469
I was following this tutorial https://www.learnaws.org/2020/12/01/test-aws-code/ word for word

[2022-09-15 16:36] bblommers commented on #5469
Did you configure AWS previously? Whatever profile is missing, must be configured somewhere.

Did you try running the test without Moto? I'm fairly certain that the error will still occur then, as it sounds like a botocore configuration issue.

[2022-09-15 18:13] Arnold1 commented on #5468
@bblommers correct - I also figured it out :) is this the best way to mock pyspark reading from s3 or are there other ways too?

[2022-09-15 18:41] bblommers commented on #5468
That I don't know @Arnold1 - I've never used pyspark myself unfortunately!

[2022-09-15 22:50] #5400 closed

[2022-09-16 09:34] bblommers commented on #5400
Turns out it can be reproduced @paulmdavies! Should be fixed as of moto >= 4.0.4.dev7 - please let me know if you run into any other issues.

[2022-09-16 10:03] #5473 closed

[2022-09-16 12:14] szopen321 opened #5479 "When trying to create the subnet group get error: Error listing tags for RDS DB Subnet Group"
**Repro steps:**

1. Start moto server.
2. Prepare terraform file that will create rds db subnet group.
3. Run terraform init; terraform apply

**Description:**
When attempting to create a subnet group terraform errors out with error: "Error listing tags for RDS DB Subnet Group: InvalidParameterValue: Invalid resource name:"

**Observed results:**
An error on attempted creation of rds db subnet gr

[2022-09-16 12:15] szopen321 commented on #5479
PR with proposed solution https://github.com/spulec/moto/pull/5480

[2022-09-16 15:59] #2892 closed

[2022-09-16 16:02] jamesgunnfiveai commented on #3571
I thought the AWS glue API returns `CatalogId` with a call to `get_database` regardless of whether `CatalogId` is specified in the request to get the database nor during creation. I don't believe that moto does this. Would it be possible to add this to moto to match the AWS API or is it not sensible given that the concept of "current AWS account" doesn't mean anything within moto?

[2022-09-16 16:06] bblommers commented on #3571
Hi @jamesgunnfiveai, [as of Moto v4 we do have a concept of current AWS account](http://docs.getmoto.org/en/latest/docs/multi_account.html), so if that needs to change to match AWS' behaviour.. PR's are always welcome!

[2022-09-16 16:16] jamesgunnfiveai commented on #3571
Thanks for the reference @bblommers, I'll take a look and see what I can cook up!

[2022-09-16 16:48] bblommers commented on #5472
Hi @marshall7m, thanks for raising this!, I've given this some thought, and although I like the approach and usefulness, I'm going to declare this out of scope.

The `ecs-cli` library is platform dependent, so executing that would have to be inside another Docker-container (or packaging the libraries for all three platforms...)

There are similar services where Moto veers from mocking territory in

[2022-09-16 16:48] #5472 closed

[2022-09-16 22:28] timforby commented on #3571
@jamesgunnfiveai if you do look into it take care that databases can also be resource links to other accounts, which means the catalogId can vary. Not sure if that has to be explicitly handled but just thought to mention it.

[2022-09-17 09:50] #5204 closed

[2022-09-17 13:03] bblommers commented on #5402
With moto >= 4.0.4.dev12, Glue now respects the MaxConcurrentRuns-property.
Using state transitions, it is also possible to choose how long a job run takes. See https://docs.getmoto.org/en/latest/docs/configuration/state_transition/index.html for more information about that feature.

I'll close this, but let us know if you run into any other issues!

[2022-09-17 13:03] #5402 closed

[2022-09-17 16:29] marshall7m commented on #5472
Hi @bblommers, thanks for taking the time to think about it! After you mentioned it, I agree with your point that this idea is out of the scope of moto.

In terms of other services that emulate running ECS tasks locally, could you mention what those are? From my research, I found Local Stack to be the only service that does, although it comes with the caveat that users need the Pro subscription in

[2022-09-17 20:30] bblommers commented on #5472
Besides LocalStack, I'm not aware of any other libraries/services in this space, @marshall7m. There are other AWS test libraries, but they tend to focus specifcally on Serverless applications, i.e. AWSLambda/S3/etc - nothing more.

[2022-09-19 07:44] cheshirex opened #5484 "Create EC2 instance with nonexistent security group raises exception instead of giving an appropriate error"
My team encountered this when moving from an old version of localstack to a newer one. Apparently in an older version, we could just pass in a non-existent security group as part of the configuration for an EC2 instance request, but in the newer version moto actually looks up the security group.

This line:
https://github.com/spulec/moto/blob/9fc64ad93b40ad179a828be19e6da940e7256e02/moto/ec2/model

[2022-09-19 15:10] isuftin opened #5485 "Latest moto[all] not installable via pip-tools"
Using Python 3.9.10 on MacOS, pip 22.2.2, attempting to create a requirements.txt just using `moto[all]`:

`requirements.in`:

[code]

[code]

[2022-09-19 16:42] bblommers commented on #5299
The first iteration of the Moto Recorder is now available as of moto >= 4.0.4.dev13.
Documentation can be found here: http://docs.getmoto.org/en/latest/docs/configuration/recorder/index.html

Let me know if you have any feedback - I'll start working on the `set_seed` implementation next!

[2022-09-19 17:09] bblommers commented on #5485
Hi @isuftin, Moto does not have `jsonschema` as a direct dependency, so there's not much we can do here. Looks like the PR that you linked would indeed fix it - hopefully they can merge that soon.

[2022-09-19 20:05] bblommers commented on #5484
Thanks for raising this @cheshirex!

[2022-09-19 20:13] bblommers commented on #5484
Looks like AWS returns this error:
`{'Code': 'InvalidGroup.NotFound', 'Message': "The security group 'sg-bbfe0e' does not exist in VPC 'vpc-...'"}`

[2022-09-19 21:34] #5484 closed

[2022-09-20 11:42] #5479 closed

[2022-09-20 13:59] isuftin commented on #5485
@bblommers  - Agreed. I don't think there's anything actionable here. Hopefully this issue will inform others if they run into a similar problem. I'll go ahead and close

[2022-09-20 13:59] #5485 closed

[2022-09-21 09:23] rokj commented on #2789
You maybe know how it was resolved? We have this kind of problems, when uploading large files (>300GB) to s3 cloud provider.

[2022-09-21 10:46] scottsteen commented on #4296
That's a great addition, I'll give it a bash.

In case anyone comes across this in the meantime, the implementation we've gone for (using `docker-compose`) is similar to your suggestion of using IoC. We didn't want the overhead of intialising Terraform, so we went with another service that simply makes `aws cli` calls to Moto. Here's a cut down example:

[code]

With the `user-pool` entry point sc

[2022-09-21 17:11] jamesgunnfiveai commented on #3571
Thanks folks for the pointers. In the end I resolved this blocking our deployment by avoiding cross-account glue access completely so I won't be adding this to moto. Hopefully the above info is useful for someone who does need it however.

[2022-09-21 20:17] groverlalit opened #5489 "Lambda Permission does not support PrincipalOrgID condition"
## Reporting Bugs

### Moto Version
3.1.17

### Issue:
Unable to create Lambda policy with PrincipalOrgID condition.

### Current behavior

1. Create a lambda function with custom policy via add_permission API (ref: [test_add_function_permission](https://github.com/spulec/moto/blob/3d913f8f1568e4232ffaab06e261b88bb1142a75/tests/test_awslambda/test_lambda_policy.py#L18))
2. Use `SourceArn` attribut

[2022-09-22 12:31] aleksanb commented on #5468
This behavior doesn't seem like a bug though?
It makes sense that you have to declare moto[server] if you want the standalone server to run.

A of now, moto pulls down flask for all users, even those that don't require it (if you're only using the python bindings in-program).

[2022-09-23 15:16] andrescevp opened #5490 "Bucket.download_file downloads file with metadata"
I am uploading a file and then downloading the same file.

The upload works fine, I am checking the content and is there where it fails

The file:
[code]

The upload code

[code]

The test failing

[code]

I would expect to have exactly the same body as I am saving via `pandas.to_csv`

The `2f3` is a random value as far I could see...

The downloaded files look like
[code]

I am working around wit

[2022-09-23 22:12] wolfyz-consulting commented on #4180
This would be totally awesome to have

[2022-09-25 14:29] bblommers commented on #5490
Thanks for raising this @andrescevp - looks like the ChecksumAlgorithm-parameter confuses Moto somehow. Marking it as a bug.

[2022-09-26 02:24] coyotlinden opened #5493 "mock_dynamodb reaches out to AWS when testing a lambda handler"
Moto 4.0.5

Method to be tested, it works perfectly fine inside the lambda:

[code]

Because it is in a lambda, it is a free function. For purposes of testing, I added:

[code]

Test code:

[code]

result:
[code]

Note that in:

[code]

That second redacted bit is in fact the real dynamodb table the lambda talks to.

[2022-09-26 09:33] andrescevp commented on #5490
@bblommers awesome, thanks, I am bit short of time to create a proper PR sorry.

[2022-09-26 11:56] Arnold1 commented on #5468
I don't see it as a bug - I just failed to install the right package: ```moto[server]```

[2022-09-26 13:46] SeanBickle opened #5494 "Inconsistent `us-west-1` availability zones"
`us-west-1` only has [2 availability zones accessible to customers](https://aws.amazon.com/about-aws/global-infrastructure/regions_az/). The [mapping of availability zone name to availability zone ID](https://docs.aws.amazon.com/ram/latest/userguide/working-with-az-ids.html) is per-account:

For `us-west-1`, the two valid availability zone IDs are `usw1-az1` and `usw1-az3`. As far as I can tell, i

[2022-09-26 15:39] LukaK opened #5496 "Dynamodb mock, missing validation for transactions (transact_write_items)"
Hello,
creating transaction with conflicting operations seem to pass locally with dynamodb_mock. For example creating Add and Delete operation of the same item will fail on the stack but pass locally.

Code to reproduce.
[code]

If you run `pytest` locally it will pass, but if you run it on real dynamodb table you will get
[code]
Moto version: `moto==4.0.2 and boto3==1.24.54` but the same happens

[2022-09-26 16:09] andrescevp commented on #5490
@bblommers this test fails later in CI/DI. `AWS_DEFAULT_REGION` is set in the envs and a custom region is set in the client.

[code]

[2022-09-26 21:12] bblommers commented on #5489
Thanks for raising this @groverlalit - marking it as an enhancement to process this field properly

[2022-09-26 21:18] bblommers commented on #5493
Hi @coyotlinden, the Lambda-handler is executed within it's own Docker container, so Moto has no way of intercepting anything executed there.

The best option may be to execute this particular test in ServerMode. See the documentation for more info around this: http://docs.getmoto.org/en/latest/docs/services/lambda.html

[2022-09-26 22:22] bblommers commented on #5490
The `IllegalLocationConstraintException` occurs when using a non-default (i.e., not `us-east-`) region in the S3-client.
If you do want to use a non-default region, it is necessary to pass in the following config:
[code]
Note that the same validation occurs when using AWS - so we're throwing the same error.

[2022-09-27 00:33] coyotlinden commented on #5493
Hi @bblommers , just to be clear, there's no way to test what happens to be a free function in a lambda outside of the lambda itself or in server mode? What if the method above wasn't part of a lambda?

[2022-09-27 14:54] sbrandtb commented on #5468
@bblommers I am concerned about installing superfluous dependencies. As the last comments indicate, this was not a bug, but just missing dependency. With your change, everyone is stuck with installing yet more packages into their environments, which adds build time and security risk, in worst case. Can we revert this change?

[2022-09-27 14:58] stianjensen commented on #5468
An option to improve UX while reverting this change could be to add a more user-friendly error on `ModuleNotFoundError: No module named 'flask_cors'` suggesting to install the correct extra dependencies.

[2022-09-27 22:26] bblommers commented on #5493
My bad @coyotlinden - I misread that, and assumed that you were invoking the function using boto3 (i.e. `boto3.client("lambda").invoke`

Calling the Lambda-method directly, as a free function, is absolutely fine. Your example actually works as it should for me - everything is mocked. So I'm not sure what is going wrong.

Usually if a test reaches out to AWS, it is because a boto3-client/resource i

[2022-09-27 22:35] bblommers commented on #5494
Thanks for raising this @SeanBickle. The instance-type-offerings are a direct dump from AWS - strange that they are using `1b` and `1c`, but not `1a`. Marking it as a bug to fix our hardcoded zones to also use `1b` and `1c` though.

[2022-09-27 22:49] bblommers commented on #5468
I was on the fence whether this was a bug or not, considering the documentation didn't specify anything. If the consensus is that `moto[server]` is acceptable, as long as it is documented, I'll revert the earlier change before the next release. Thanks for the feedback all!

[2022-09-28 09:31] bblommers commented on #5496
Thanks for raising this @LukaK - marking it as an enhancement to add this validation.
If you want to implement this yourself, PR's are always welcome!

[2022-09-28 09:33] #5490 closed

[2022-09-28 09:35] #5299 closed

[2022-09-28 11:19] bblommers commented on #5299
The option to seed Moto is now available as of moto >= 4.0.6.dev7 - see the documentation in the link above.

[2022-09-28 19:10] JecaTatu opened #5500 "Unable to validate Password Policies on Cognito"
Hi guys,

I'm trying to validate if a pool on cognito is following the password policy. It should raise an error when I try to sign_up with a password that is not in compliance with the policy, but I'm always getting success. Here is the code:

[code]

And here is the function that I implement for test the sign_up:

[code]

The problem is that I'm always getting status code 200, even with the wron

[2022-09-28 20:52] medley56 commented on #2590
@bblommers I think this is still an issue. I'm using `mock_s3` context manager, which should presumably call `start()` upon entering but in separate tests I'm having pre-existing object conflicts.

[2022-09-28 21:03] #5424 closed

[2022-09-28 21:10] bblommers commented on #5500
Hi @JecaTatu, welcome to Moto! Password validation is not yet implemented in Moto unfortunately. There is a similar issue in #5259, where we want the same validation in `admin_set_user_password`.

Considering any solution will likely fix both, I'll close this and rephrase the linked issue to ensure we're aware that there are two use cases.

If this is something you want to contribute, PR's are alw

[2022-09-28 21:10] #5500 closed

[2022-09-28 21:11] bblommers commented on #5259
Any solution to this should add the same validation to the `sign_up`-method - see the linked issue where this feature is requested.

[2022-09-28 21:17] bblommers commented on #2590
@medley56 Can you share a minimum reproducible example of your usecase?
Which version of Moto are you using?

[2022-09-28 21:45] medley56 commented on #2590
Actually I am now thinking it's a separate but possibly still real issue. I'm getting a FileExistsError when using mock_s3 with cloudpathlib's exclusive write mode option to S3Path but it's not because the file in the mock bucket exists. It's because the local file that's actually getting stored behind the scenes of mock_s3 apparently already exists on the filesystem so the exclusive write fails.

[2022-09-28 22:07] medley56 commented on #2590
This is not reliably reproducible. I'll open a new issue if I can figure out how to make it happen reproducibly.

[2022-09-28 22:07] #5423 closed

[2022-09-29 12:03] bblommers commented on #2592
Hi @stj, is this still something you're interested in? It looks like the branch is (still) in good shape.

Let me know if you want some help with this! Happy to clean up any merge conflicts etc.

[2022-09-29 16:55] bblommers commented on #1596
Considering the age of this issue, I'm going to close it - it doesn't look like this is still a problem.
If somebody encounter this problem again with the latest version of Moto, feel free to open a new issue with a reproducible test case.

[2022-09-29 16:55] #1596 closed

[2022-09-30 07:58] HannikMathe opened #5505 "pypi.org shows wrong apache license"
When i use [CycloneDX](https://github.com/CycloneDX/cyclonedx-python) to create the BOM file moto shows [Apache](https://de.wikipedia.org/wiki/Apache-Lizenz) as license but the expected license would be [Apache License 2.0](https://www.apache.org/licenses/LICENSE-2.0).

As comparison to the [pypi moto site](https://pypi.org/project/moto/) you can see [boto3](https://pypi.org/project/boto3/) has th

[2022-09-30 10:07] #5429 closed

[2022-09-30 18:37] yoctozepto opened #5506 "moto's ec2 ReplaceRouteTableAssociationResponse lacks associationState element"
Calling ec2:ReplaceRouteTableAssociation returns an incomplete response, lacking associationState element, which may confuse some external tools.

This is fixed by an upcoming patch. This bug report is for issue tracking purposes only.

[2022-09-30 18:42] yoctozepto opened #5507 "moto's ec2 DescribeRouteTablesResponse claims all route tables have their main association"
Calling ec2:DescribeRouteTables returns a main association for any route table even if it does not have a main association. This confuses external tools.

The issue has been partially introduced by patch #4726 for #1647 but it was wrong before as well (not all associations are main).

This is fixed by an upcoming patch. This bug report is for issue tracking purposes only.

[2022-09-30 18:44] yoctozepto commented on #1647
The fix to this issue was overly generous with main associations. I reported #5507

[2022-09-30 18:47] yoctozepto opened #5508 "moto's ec2:ReplaceRouteTableAssociation breaks for the main association"
Calling ec2:ReplaceRouteTableAssociation with the main association results in InvalidAssociationIdError being raised (regardless of the placement of the main association id, i.e. the idempotency path is also failing).

This is fixed by an upcoming patch. This bug report is for issue tracking purposes only.

[2022-09-30 20:48] Jasonca2 opened #5510 "SQS queue url missing region"
I've noticed that the queue url that is returned when creating a mock sqs queue is missing the region from the url. This causes failures when trying to publish sns messages to a topic that the queue is subscribed to.

I'm using the latest version of moto. Was a change made recently causing the region to be left off of the url of an sqs queue?

[2022-09-30 22:33] bblommers commented on #5510
Hi @Jasonca2, there haven't been any changes to SQS recently, other than the introduction of MultiAccount support in v4.

Could the URL change be caused by this change in botocore? https://github.com/boto/botocore/issues/2705

[2022-09-30 22:36] #5508 closed

[2022-09-30 22:36] #5506 closed

[2022-09-30 22:36] #5507 closed

[2022-09-30 22:38] bblommers commented on #5505
Thanks for raising this @HannikMathe

[2022-10-01 21:08] #5489 closed

[2022-10-01 21:08] #5505 closed

[2022-10-01 22:33] #5494 closed

[2022-10-02 01:46] Jasonca2 commented on #5510
Never mind, I was passing in the queue url as the endpoint when creating the subscription instead of the arn of the queue.

[2022-10-02 01:46] #5510 closed

[2022-10-02 14:14] bblommers commented on #5494
FYI @SeanBickle  I've decided to keep availability zones `us-west-1a` and `us-west-1b`, and simply renamed all the instance type offerings to use those zones. IMO that is the change with the lowest impact, and users can continue to use `describe_availability_zones` and expect the same output.

This is available in Moto 4.0.6, released just now.

[2022-10-02 14:20] bblommers commented on #4296
@scottsteen

Moto 4.0.6 (just released) has the option to record requests, and replay them on another system/at another time, to ensure that the initial set of resources is the same.
It is also possible to seed Moto now, which means that the identifiers are deterministic given a specific seed.

See the documentation for this here:
http://docs.getmoto.org/en/latest/docs/configuration/recorder/index

[2022-10-02 14:20] #4296 closed

[2022-10-02 14:21] bblommers commented on #2882
Moto 4.0.6 (just released) has the option to record requests, and replay them on another system/at another time, to ensure that the initial set of resources is the same.
It is also possible to seed Moto now, which means that the identifiers are deterministic given a specific seed.

See the documentation for this here:
http://docs.getmoto.org/en/latest/docs/configuration/recorder/index.html

I'll c

[2022-10-02 14:21] #2882 closed

[2022-10-03 12:30] #4715 closed

[2022-10-03 20:17] bobbyi opened #5523 "Private IP address specified for EC2 instance via NetworkInterfaces not always used"
I initially encountered this with moto 4.0.5 and botocore 1.27.84 using Python mocks.

I create an EC2 instance and specify a private IP address for its primary network interface by providing NetworkInterfaces. But moto's `Instance.prep_nics` method overrides my provided IP address with what it gets from `subnet.get_available_subnet_ip`.

I have verified that when creating a real EC2 instance via

[2022-10-03 21:31] #3688 closed

[2022-10-04 09:21] #5523 closed

[2022-10-04 13:15] thoroc opened #5529 "ssm put_parameter add to default"
Hi,

I have been trying to understand how to add the following ssm parameter to the default sets provided in https://github.com/spulec/moto/blob/master/moto/ssm/resources/ami-amazon-linux-latest/eu-west-1.json:

- `/aws/service/ecs/optimized-ami/amazon-linux-2/recommended`

But obviously this isn't possible by just calling `put_parameter` as showing in https://github.com/spulec/moto/blob/master/te

[2022-10-04 13:18] #5496 closed

[2022-10-04 13:30] thoroc commented on #5529
Hi @bblommers,

Thank you for confirming that. I'll explore other venue to run my tests.

[2022-10-04 19:51] thoroc commented on #5529
Btw are you thinking about doing the same as for this PR: https://github.com/spulec/moto/pull/5427?

[2022-10-04 19:59] bblommers commented on #5529
Yes, that's the idea @thoroc. If you're looking to tackle this yourself, PR's are always welcome!

[2022-10-04 20:26] #3895 closed

[2022-10-05 08:46] thoroc commented on #5529
Where would it make more sense to save this data from AWS? I was thinking of retrieving everything under `/aws/service/ecs/optimized-ami/`.

[2022-10-05 13:08] JonBensi commented on #3758
Would you mind sharing if and how you got this to work? (Assuming that's why you closed this) I am having a similar issue with setting up a mocked boto3 cloudformation stack within a pytest fixture.

[2022-10-05 14:37] thoroc commented on #5529
Ok I was wrong, somehow I have managed to retrieve a subset only with a python script. Using the aws cli there are a lot more items calling `/aws/service/ecs` than calling `/aws/service/ecs/optimized-ami`, which makes sense.

[2022-10-05 17:02] bblommers commented on #5529
FYI @thoroc , our `scripts` directory has some examples on calling SSM with a paginator. You can always copy/pasting one of those.

[2022-10-06 14:18] szopen321 opened #5537 "Option for prettified responses"
Moto is returning responses in form of single line xml strings. For debugging purposes it would be useful to have an option to have prettified responses.

Please note that when logging terraform logs for with TF_LOG=True and selected TF_LOG_PATH, AWS returns prettified responses. I did not investigate AWS behaviour in this regard in other modes.

[2022-10-06 14:18] szopen321 commented on #5537
solution https://github.com/spulec/moto/pull/5531

[2022-10-06 15:41] thoroc commented on #5529
Ok I was doing something stupid, but the result is that I can confirm there is currently as many parameters in `/aws/service/ecs/` as in `/aws/service/ecs/optimized-ami`.

To confirm this I have run the following commands:
[code]
and
[code]

[2022-10-07 07:52] thoroc commented on #5529
Ah I see. One thing I am wondering though. Is it the correct thing to convert the field `LastModifiedDate` from a string to a timestamp? the response from the AWS cli is a string after all for this field.

[2022-10-07 09:48] bblommers commented on #5529
Moto intercepts the underlying HTTP request that is send by the SDK, and the AWS CLI/boto3 will then convert the HTTP response to whatever format they want. I haven't checked, but I'm assuming that the HTTP response from AWS contains a timestamp, so that's what Moto should return as well

[2022-10-07 10:08] bblommers commented on #5452
Without a repro there's not much we can do, so I'll close this.

[2022-10-07 10:08] #5452 closed

[2022-10-07 10:09] #5469 closed

[2022-10-07 14:41] #2592 closed

[2022-10-07 15:50] bblommers commented on #2592
Hope you don't mind @stj  - I took your branch, cleaned it up a bit, and released it. This is now part of moto >= 4.0.7.dev21.
Please let us know if you run into any issues with this, or want to see more features.

[2022-10-07 18:29] danielfoguelman opened #5542 "moto.mock_s3 raises AuthorizationHeaderMalformed when run in pytest after other boto3 tests"
I have a test case that if run at the beginning of the test suite it would run ok, but if it runs after some other test cases that use boto3 it will fail.
The testcase is run using pytest

Python==3.7.12
moto==1.3.8
boto3==1.9.123
botocore==1.12.123
pytest-7.1.3

The piece of code that fails is:

[code]

And the traceback:

[code]

[2022-10-07 18:50] bblommers commented on #5542
Hi @danielfoguelman, can you share a full test case that causes the failure? This snippet on it's own works fine for me.

[2022-10-07 18:53] danielfoguelman commented on #5542
Hi @bblommers  the problem is that the previous test case has business logic that I cannot share :/
I tried debugging but I always find boto3 objects when retrieving the client so I think the mocking is smarter than I am.

What else could I share with you without exposing business logic?
Also, this is running in CircleCI. The local version of the test in my dev computer works fine despite running

[2022-10-07 19:34] bblommers commented on #5542
It sounds like CircleCI does not have a `~/.aws/credentials`-specified. Can you create that file, as part of your CI/CD?

Alternatively, you could set these credentials as environment variables before the tests:
[code]

Third point, that may or may not help but can make your setup more readable:
You can apply the mock-decorators to the class itself, that way they do not have to be duplicated for e

[2022-10-07 21:02] danielfoguelman commented on #5542
I implemented them but still no go. I also asked in pyunit git hub for a clean way to restore the python environment between file runs...

[2022-10-08 09:23] denny-sam commented on #5076
I can take a look at this. Should I go ahead?

[2022-10-08 09:54] bblommers commented on #5542
I just realized your Moto version is quite out of date -are you able to upgrade to a more recent version?
Note the [Recommended Usage](http://docs.getmoto.org/en/latest/docs/getting_started.html#recommended-usage) section in our docs, which is quite important for any Moto version after 1.3.16 or so.

Without a reproducible test case, I don't really have any other ideas on what could cause this. Bu

[2022-10-08 15:56] bblommers commented on #5076
Sounds good to me @denny-sam - I'm not aware of anyone else working on this. Happy to help out if you run into any issues!

[2022-10-09 07:57] hannes-ucsc opened #5544 "Large upload to S3 leaks file handle"
[code]

The `gc.collect()` call reproduces this reliably. The call to `s3.reset()` is really where the open file handle becomes garbage. When it is collected, the warning is produced. The collection could happen anytime, not just during explicit calls to `gc.collect()`.

Adding this to `S3Backend` fixes the warning:

[code]

Oh, and this is using version 4.0.6 of moto.

[2022-10-09 10:29] bblommers commented on #5544
Hi @hannes-ucsc, thanks for raising this and providing the fix! Much appreciated

[2022-10-09 12:22] #5544 closed

[2022-10-09 19:58] hannes-ucsc commented on #5544
Wow, you're quick. Love the tests. Thank you, @bblommers!

[2022-10-10 07:02] w0rmr1d3r opened #5547 "Question about plans on implementing AWS Backups"
Hello @spulec and thank you for such an amazing project 🚀

The issue I'm opening is not a bug, but I've looked for it if it had been asked before, and found nothing related to it. Only the item in the unimplemented list.

The question is:
Are there any plans in the short (or long) term on implementing AWS Backup?
Ref. [boto3](https://boto3.amazonaws.com/v1/documentation/api/latest/reference/servic

[2022-10-10 13:05] #5537 closed

[2022-10-10 13:09] bblommers commented on #5547
Hi @w0rmr1d3r! There are no plans yet, but I'll add it as an enhancement to add this feature. Which methods in particular did you want support for?

If this is something you want to tackle yourself, PR's are always welcome! See the [contributing section in our docs](http://docs.getmoto.org/en/latest/docs/contributing/index.html) if you need more info on how to get started with this.

[2022-10-10 14:40] ArpanShah2k commented on #5271
Thank you sir for your kind consideration. I will go through this documentation and start working on the enhancement. I'll approach if I need help.

[2022-10-10 15:04] nicolaei opened #5548 "ECR implementation doesn't handle new images with the same tag correctly"
When uploading a new image with the same tag as an existing one, the old one doesn't get removed, resulting in two images with the same tag existing in the mock.

As far as I know, docker repositories doesn't support two images with the same tag.

[code]

The expected result is that only one image should exist with the given tag at any given time.

## Relevant Code

The relevant code [can be found

[2022-10-10 21:57] bblommers commented on #5548
Thanks for raising this @nicolaei! Marking it as a bug.

[2022-10-11 00:31] hannes-ucsc opened #5551 "Large upload to S3 leaks file handle when deleting key, aborting MP upload"
Unfortunately, my proposed fix for https://github.com/spulec/moto/issues/5544 is incomplete. There are still situations in which the backend leaks the `SpooledTemporaryFile` instance that's created for large keys and MP upload parts. The situations I can think of are:

- deleting a key
- overwriting a key (not sure)
- overwriting an MP upload part
- aborting an MP upload
- completing an MP upload

[2022-10-11 07:17] w0rmr1d3r commented on #5547
Hello @bblommers ,
Currently the methods to obtain backup job details.
Just wanted to make sure if there were plans or not on developing those features, so there weren't duplicated PRs or anything.
Don't have time right now, but will try to collaborate to this PR myself hopefully before 2023 🤞

thank you for the guidance

[2022-10-11 07:29] ivoire opened #5552 "DynamoDB raising "Invalid UpdateExpression" for a valid expression"
PR #5504 is too strict and will raise an exception for valid DynamoDB update expressions.

For instance, according to the [documentation](https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/Expressions.UpdateExpressions.html#Expressions.UpdateExpressions.SET.AddingNestedMapAttributes), updating two different elements of a map in a single requests is allowed by aws but rejected by moto

[2022-10-11 09:35] bblommers commented on #5551
Thanks for the info @hannes-ucsc. I did add a test for the `delete_object`-method, but it looks like that test was faulty, if the problem still exists. Will have another look.

[2022-10-11 09:36] bblommers commented on #5552
Thanks for raising this and adding a repro case @ivoire!

[2022-10-11 11:17] LiamCato opened #5554 "Dynamodb update_item does not raise ValidationException when changing the partition key"
Hi,

The `update_item` method on the `resource("dynamodb").Table("table_name")` object should raise ValidationException if the user tries to change the partition key.

Specifically it should raise:

`botocore.exceptions.ClientError: An error occurred (ValidationException) when calling the UpdateItem operation: One or more parameter values were invalid: Cannot update attribute pk. This attribute is

[2022-10-11 14:33] tbarizien opened #5555 "Error when calling elbv2.ModifyLoadBalancerAttributes"
The mock elbv2 api doesn't support the following attribute on the ModifyLoadBalancerAttribute endpoint : `routing.http.xff_header_processing.mode`

The [aws documentation](https://docs.aws.amazon.com/elasticloadbalancing/latest/APIReference/API_LoadBalancerAttribute.html) lists it as a valid attribute, but it is not present in the [valid attributes list](https://github.com/spulec/moto/blob/56ca48c

[2022-10-11 14:48] bblommers commented on #5555
Thanks for raising this @tbarizien - marking it as an enhancement to add any missing properties here.

[2022-10-11 14:49] bblommers commented on #5554
Thanks for raising this and adding a repro case @LiamCato!

[2022-10-11 17:37] blimmer opened #5558 "Support acm-pca module"
It would be great to support ACM PCA (Amazon Certificate Manager Private Certificate Authority) in `moto`. Specifically, since there are no EventBridge events for when a PCA is about to expire, I needed to create a lambda to `describe_certificate_authority` to check when the PCA will expire.

I don't have the bandwidth to immediately submit a PR adding this behavior, but I wanted to file an enhanc

[2022-10-11 21:41] stj commented on #2592
This was a really old branch and I don't think work was finished. I remember having a hard time understanding the implementation of moto to figure out how to write the mock API.
In the end I didn't use moto for my implementation.
Did you test this branch before merging?

[2022-10-11 22:08] bblommers commented on #2592
@stj I was able to reuse the tests that you wrote, actually - it only covered the happy path, but I figured that was a good start.

The biggest limitation of the current implementation is probably that all records will have the status `CustomerNotSubscribed`, just because the `resolve_customer` isn't yet implemented.

[2022-10-11 22:10] bblommers commented on #5558
Thanks for raising this @blimmer! Marking it as an enhancement to add this service.

[2022-10-12 21:08] #5551 closed

[2022-10-13 10:09] #5552 closed

[2022-10-13 15:03] JecaTatu opened #5561 "Problem with list_object_versions"
I'm having some trouble using the function `list_object_versions` using the mock of S3. I create a versioned bucket, put an object and its created with the version id, what is expected, but when I try to list the versions, the dict returned by the `list_object_versions` does not come with the field `Versions` in it. Here is the code for reproduce:

[code]

The first assert passes, but not the seco

[2022-10-13 21:18] bblommers commented on #5561
Hi @JecaTatu, thanks for raising this! Looks like our delimiter is not quite working as it should, as it matches every key that contains the delimiter.
Looking at the docs it should only match keys that `contain the same string between the prefix and the first occurrence of the delimiter`. Marking this as a bug. :+1:

[2022-10-14 11:58] ArpanShah2k commented on #5271
Respected sir,
I have read the documentation and all. but i am facing issues in
installation of moto in my laptop.

the path i went through is :
1) install python 3.10.8 will all its dependencies like pip, idle , etc.
2) install docker ( facing issues).
2) set path in cmd.
3) run commands in python and cmd to install moto. ( facing issues).

can you please help me out with this .

On Mon, Sep 12,

[2022-10-14 12:12] enezhadian opened #5563 "Secrets Manager backend does not support partial ARNs"
The `moto` secrets manager backend is unable to retrieve secrets when a partial ARN is passed as secret ID.

**How to reproduce the issue**
Here is a minimal example that demonstrates the issue:
[code]

**What is expected to happen**
In this code snippet, it is expected that both tests pass, i.e. the secret can be retrieve using secret name as well as the secret partial arn (ARN exlcuding the rand

[2022-10-14 13:46] bblommers commented on #5271
Don't worry about the Docker issues @ArpanShah2k - a working Docker installation is not a requirement for Cognito. (Only for other services.)

Just to verify: you have forked Moto, and checked out your copy, before installing?

Which commands are you running, and what are the errors that you see?

[2022-10-14 13:49] #5561 closed

[2022-10-14 15:19] fmigneault commented on #5341
@bblommers
Is it possible to consider pinning `werkzeug` only if the server is used (e.g.: via `moto[server]` or similar)?
I am only using the `s3` portion of `moto`, and as far as I know, `werkzeug` version is not critical in this case, although `moto` forces downgrade where other packages in my environment can use latest `werkzeug`.

[2022-10-14 17:11] jfagoagas opened #5564 "botocore.exceptions.ClientError when using mock_iam()"
Hi, I'm having the following issue trying to mock some IAM calls in the following way:

The following code is the test file:
[code]

As you can see inside the test we are importing the `iam_user_two_active_access_key` Python class to test it. That class has the following code:
[code]

Inside this class we import the IAM client using `from providers.aws.services.iam.iam_client import iam_client` an

[2022-10-14 17:14] jfagoagas commented on #5564
Another curious thing is that if I execute the following code outside `pytest` it runs without problem:
[code]

Output:
[code]

[2022-10-14 20:46] bblommers commented on #5563
From the docs (https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/secretsmanager.html#SecretsManager.Client.create_secret):
[code]

AWS does allow this however. When asking AWS for a secret that ends with `a hyphen followed by six characters` it looks like it will try to do an exact match first.
Given two secrets created in AWS:
[code]

Searches by name:
[code]
[code]
Searc

[2022-10-14 20:58] bblommers commented on #5564
Hi @jfagoagas, this error usually appears if a boto3-client/resource has been created before the mock starts. Moto injects some magic into botocore to ensure we intercept all requests, but that only works if no client has been initialized yet.

From your example it is not possible for me to see where exactly `IAM.client` is initialized, but my guess is that it happens too early. Is it created when

[2022-10-14 21:17] enezhadian commented on #5563
Thanks @bblommers for your comment 🙏 That's a good point and I think that would be a very useful enhancement.
However the issue occurs regardless of that, and indeed, I haven't chosen an appropriate secret name in the code example. If you replace that secet name with anything else (such as `testsecret`), same error pops up.
The problem lies in the way `SecretsStore` validates the existence of a `s

[2022-10-14 21:46] bblommers commented on #5563
Ah, I see. A PR would be very welcome - it sounds like that is indeed the fix!

Would be good to have some tests for this as well - there are quite a few (in `tests/test_secretsmanagers/`) that you can use as inspiration. Let me know if you need any help with this.

[2022-10-15 09:50] #5548 closed

[2022-10-15 10:59] bblommers commented on #5548
Hi @nicolaei, this should be fixed as of moto >= 4.0.8.dev12. Are you able to verify it works as expected for you?

[2022-10-15 15:23] jfagoagas commented on #5564
Hi @bblommers you're totally right, the code under `from providers.aws.lib.audit_info.audit_info import current_audit_info` only instantiates a new Boto3 session without (or this is what I thougth) calling AWS APIs, but as you said `moto` needs to be running prior to start using whatever part from `boto3`.

[2022-10-15 15:26] #5564 closed

[2022-10-15 20:22] bblommers commented on #5341
As far as I can tell, that's not possible @fmigneault. Given this config:
[code]
, PIP will always try to resolve `"werkzeug>=0.5"`, ignoring the additional limitations that come with `moto[server]`.

FYI, if you're interested in this sort of thing, people have been discussing whether Python/PIP should support this possibility: https://discuss.python.org/t/adding-a-default-extra-require-environmen

[2022-10-15 22:15] #5555 closed

[2022-10-16 02:28] fmigneault commented on #5341
@bblommers
How did you test this? I have tried with a very basic setup and it seems to behave exactly as intended as shown below.

[code]

Install with extra `server` requirement, `werkzeug` is pinned as expected:
[code]

Uninstall all to retry without extra.
[code]

Install without extra, `werkzeug` uses the latest.
[code]

[2022-10-16 10:11] bblommers commented on #5341
Looks like that is a bug that was fixed recently. I was on an older version of PIP, `pip 20.0.2`, and using that exact same setup, PIP always installed the latest version for me:
[code]

Upgrading PIP to `22.3` fixes this, i.e. it does install `werkzeug 2.1.2`.

-------

Having said that: I think a longterm fix, where we can use Moto with any werkzeug-version, is almost ready, so I'm going to focu

[2022-10-17 11:25] jfagoagas opened #5572 "Question about services not covered by moto"
This is not an issue, it's only a question about a service not covered by `moto`.

For example, for the AWS service Access Analyzer which is not covered what is the intended way to mock a client for that service?

Is there any way in `moto` to mock the `session` module?

Thanks!

[2022-10-17 12:13] tudor-sutu opened #5573 "Bug when deleting individual lambda function versions"
Hello,

Deleting lambda function versions, while using Qualifier parameter, is not deleting the right function, but instead, the qualifier value is used as the array index of the version list.

## How to reproduce
Given a test lambda function, with 10 versions, from 1 to 10, delete all function versions, one after another

[code]

will eventually run into a ResourceNotFoundException:

  File "/Lib

[2022-10-17 12:16] bblommers commented on #5572
Hi @jfagoagas! There's no builtin way to mock services that are not covered.

Personally I just use the standard `patch` in these scenarios - if you intercept the boto3-calls at the right time, you can decide whether you want to mock this call manually, or want Moto to intercept this.

Example:
[code]
Note that this does not use Moto, to keep it simple, but:
If you use any `moto`-decorators in add

[2022-10-17 12:53] jfagoagas commented on #5572
AWESOME @bblommers !! Thanks for your guidance ❤️

[2022-10-17 13:42] bblommers commented on #5572
Happy to help @jfagoagas! I'll close this, but let me know if you have any other questions.

[2022-10-17 13:42] #5572 closed

[2022-10-17 17:07] ArpanShah2k commented on #5271
I have solved

I have solved this errors that i was getting while setup now.

[2022-10-17 17:17] neil-greenwood opened #5574 "Implement CloudFront list_invalidations"
**How to reproduce the issue**

Call `list_invalidations()` on the `cloudfront` client.

**What I expected to happen**

Get a list of invalidations for the specified CloudFront distribution.

**What actually happens**

```moto/core/botocore_stubber.py:60: TypeError: cannot unpack non-iterable NoneType object```

**what version of Moto I'm using**

HEAD of master branch

[2022-10-17 19:56] jfagoagas commented on #5572
Hi @bblommers, I was thinking about the piece of code you shared and I think it could be really useful for other users to have this into the `moto` documentation.

Can I make a PR with that? I have tests for the Access Analyzer API, something like a little guidance like the `where to patch` or the `pesky imports`.

What do you think?

Thanks!

[2022-10-17 20:14] bblommers commented on #5572
Makes sense @jfagoagas - this question comes up fairly often, so having it documented would be useful.

Can you add it to the `Implemented Services`-section? That would make most sense IMO, so that the menu looks like this:

##### Implemented Services
###### Implemented Services
###### Patching other Services

##### Contributing to Moto
...

[2022-10-17 20:46] bblommers commented on #5573
Thanks for raising this @tudor-sutu! Looks like our implementation is a bit wonky, indeed. Marking it as a bug.

[2022-10-17 20:47] bblommers commented on #5341
This should now be fixed as of moto >= 4.0.8.dev17. Please let us know if you run into any other issues with this version though!

[2022-10-17 20:50] jakirkham commented on #5341
Thanks Bert! 🙏

Is there a final (non-dev) release planned?

[2022-10-17 21:06] bblommers commented on #5341
There's no date planned @jakirkham, but somewhere this week. I'd like to wait until we get some positive feedback that the dev-version works as expected... (hint, hint) :slightly_smiling_face:

[2022-10-18 06:48] jfagoagas commented on #5572
Thanks @bblommers, yes make sense including it there.

[2022-10-18 08:29] tudor-sutu commented on #5573
Thank you for the quick response! :)

[2022-10-18 09:35] #5573 closed

[2022-10-18 11:07] #5574 closed

[2022-10-18 11:59] wonhyeongseo opened #5579 "Style: formats can be done with f-strings"
[x] Avoid raising duplicate issues.

- Guidance on **how to reproduce the issue**.
I am using VSCode on WSL and with a query on the search tool as below,
![image](https://user-images.githubusercontent.com/29195190/196421189-94b5e439-dc50-4f4e-8d4d-3216805761d4.png)
there are 2116 format strings that can be f-strings.

- What does "success" look like for your code?
Ideally all of the strings would

[2022-10-18 21:20] nicolaei commented on #5548
That worked 🎉

Thanks for the quick turnaround!

[2022-10-19 02:16] fmigneault commented on #5341
@bblommers
Every seems to work as expected in my project. Thanks for the update.

[2022-10-19 09:54] bblommers commented on #5548
Happy to help @nicolaei - thanks for checking!

[2022-10-19 09:55] bblommers commented on #5341
Awesome - thanks for verifying @fmigneault

[2022-10-19 10:02] vittoema96 opened #5580 "{AttributeError}type object 'FakeTrainingJob' has no attribute 'arn_formatter'"
I've encountered what I think is a bug.

Whenever I try to call describe_training_job on a sagemaker client, and I give a training job name that doesn't exist, like so:

[code]

What I get is an `{AttributeError}type object 'FakeTrainingJob' has no attribute 'arn_formatter'`,
but i was expecting a ValidationError.

The problem seems to be in moto/sagemaker/models.py at line 1868

[2022-10-19 10:20] bblommers commented on #5580
Thanks for raising this @vittoema96! Marking it as a bug.

[2022-10-19 21:53] #5580 closed

[2022-10-19 23:08] bblommers commented on #5341
@jakirkham Moto 4.0.8 has now been released.

[2022-10-20 03:47] hannes-ucsc opened #5584 "Versioned S3 buckets leak keys"
A left-over from #5551

[code]

[2022-10-20 05:12] jakirkham commented on #5341
Just want to say the new release worked great 😀

Thanks Bert! 🙏

[2022-10-21 05:24] thehesiod commented on #5341
interesting, in our project we had moto[server]==4.0.8 + werkzeug==2.2.2 and I was seeing hangs.  Going back to 4.0.5 fixes it

[2022-10-21 11:44] bblommers commented on #5341
@thehesiod Do you have a reproducible test case, or a specific API call that always hangs?

[2022-10-21 16:00] thehesiod commented on #5341
will try today to get one

[2022-10-21 17:01] thehesiod commented on #5341
aha, the moto server endpoint is returning a 500 during a bucket paginate operation causing it to retry multiple times and eventually time out...digging deeper
[code]

[2022-10-21 17:54] kloczek commented on #5341
Just tested build of 4.0.8 wirh --deselect/--ignore all units which are using `docker`.
I see some warnings
[code]
BTW: is it really necessary to use `docker` and `virtualenv` cannot be used instead? 🤔

[2022-10-21 20:56] bblommers commented on #5584
Nice catch @hannes-ucsc

[2022-10-21 20:56] thehesiod commented on #5341
issue is due to this line: https://github.com/spulec/moto/blob/master/moto/s3/models.py#L1616, it's throwing an exception because it's copying a very complicated structure which has stuff like threading locks and what not in it.

[code]

[2022-10-21 20:59] thehesiod opened #5588 "S3 backend throwing 500 on versioned bucket"
This is an injection that happened between 4.0.5 + 4.0.8.  The issue is due to line https://github.com/spulec/moto/blob/master/moto/s3/models.py#L1616 which is doing a deep copy of something it should not be deep copying as the structure is complicated with locks and what not.  In certain scenarios the file will be closed causing it to throw an exception.  See https://github.com/spulec/moto/issues

[2022-10-21 21:41] bblommers commented on #5588
Hi @thehesiod, I can't reproduce this, I'm afraid. This is my attempt:
[code]
That's on master, with werkzeug 2.2.2 and the latest versions of aiobotocore etc.

[2022-10-21 22:14] #5584 closed

[2022-10-21 22:22] thehesiod commented on #5588
btw I'm using the server and not the patch.  Lemme c if I can get a reproable use-case

[2022-10-21 22:28] thehesiod commented on #5588
hah tricky, simple test case doesn't work

[2022-10-21 22:33] bblommers commented on #5588
I just saw the stacktrace that you posted - looks like the GC PR's that we merged are the rootcause: https://github.com/spulec/moto/pull/5556/files

TLDR: S3 opens filehandles automatically when creating a `FakeKey()`-object, but we never close them (until now). These PR's were raised to close them explicitly everytime a FakeKey is deleted.

Running an async delete probably looks like this:
 - thr

[2022-10-21 22:39] thehesiod commented on #5588
i just saw that it's related to multipart

[2022-10-21 22:46] thehesiod commented on #5588
boom https://gist.github.com/thehesiod/31504dd47505f38b59b3e7a238370201

[2022-10-22 20:55] bblommers commented on #5588
Awesome - thanks for putting that together @thehesiod!

[2022-10-23 11:23] #5588 closed

[2022-10-23 12:58] bblommers commented on #5588
This should be fixed as of moto >= 4.0.9.dev5 - can you verify this @thehesiod?

[2022-10-24 09:39] uwevil opened #5594 "error when template contains Iteration of list"
Error existe in lastest version moto 4.0.8

Having this template :
`{{#each items}} <a href="{{itemName}}">{{itemDesc}}</a> {{/each}}`

And our input :

`{"items": [{"itemName": "item1", "itemDesc": "description 1"}]}`

Moto will not find out "items" from input because moto search for "#each items".

`def are_all_variables_present(template, template_data):`

https://github.com/spulec/moto/blob/80a

[2022-10-24 12:21] bmaisonn opened #5595 "Regression when using mock_batch_simple since 4.0.7"
Since moto 4.0.7 we noticed some regressions in our unit tests using `mock_batch_simple`. All the jobs container details are empty while they weren't in version 4.0.6.

For instance this code is now failing because there's no 'command' key in the dictionary.

[code]

We think this [change](https://github.com/spulec/moto/pull/5539) is the source of the issue but I'm not sure that changing the behav

[2022-10-24 16:22] Suzy12 opened #5596 "Plans on Cost Explorer's get_cost_and_usage"
Hello! I am aware Cost Explorer is available now in moto, but only for [certain features](http://docs.getmoto.org/en/latest/docs/services/ce.html?highlight=cost%20explorer#moto.ce.models.CostExplorerBackend).
So, I have a quick question, are there any plans on mocking Cost Explorer's **get_cost_and_usage**?

[2022-10-24 16:28] thehesiod commented on #5588
if my gist works it will work on our system as it's the same code

[2022-10-24 16:29] thehesiod commented on #5588
thank you for the extremely quick fix! I have a big backlog for aiobotocore :(

[2022-10-24 20:22] jordan-schneider opened #5597 "s3_put_bucket_logging does not actually create and write to logging file."
moto 4.0.8 inside conda using python 3.8.6

I'm trying to measure the number of GET/PUT requests I make to the mock s3 session. AFAICT the way you do this in actual S3 is to enable bucket logging and read the log. moto is not actually creating the log file and writing to it at any point, as far as I can tell. Here's my test script

[code]

Is there a better way to count/record requests within moto

[2022-10-24 22:30] bblommers commented on #5597
This feature hasn't been implemented yet @jordan-schneider - there is no Moto-specific way of doing this at the moment.

Would you be interesting in adding this feature?

[2022-10-24 22:35] jordan-schneider commented on #5597
Sorry, I'm basically flat new to S3 and have no idea what the logging format would look like. It seems like there's a solution to my request counting problem using [boto3 event handlers](https://boto3.amazonaws.com/v1/documentation/api/latest/guide/events.html) that would be simpler to implement than this feature.

I'd be happy to write a dinky one-line PR adding this caveat to https://github.com/

[2022-10-25 03:09] ghandic opened #5598 "Incompatible botocore version"
Recently we had unexplainable pipeline failures with our testing, found out this was because botocore was recently released with a breaking change. We have moto pinned in our requirements.txt tests but it requires `botocore>=1.12.201` (see below link).  So 3/4 hours before our pipeline failed there was a release to botocore for 1.28.0. Ideally this could be more explicit on the dependencies. For n

[2022-10-25 11:01] sergargar opened #5599 "Implement filter 'route.vpc-peering-connection-id' for DescribeRouteTables"
Hi, when I try to mock the DescribeRouteTables I got the following error.

`FilterNotImplementedError: The filter 'route.vpc-peering-connection-id' for DescribeRouteTables has not been implemented in Moto yet. Feel free to open an issue at https://github.com/spulec/moto/issues
`

It would be nice to add this filter to moto, thanks!

[2022-10-25 21:12] bblommers commented on #5598
Hi @ghandic, do you have a reproducible test case for this? Our own internal tests still work fine with `botocore==1.28.0` and `boto3==1.25.0`

[2022-10-25 21:28] bblommers commented on #5594
Thanks for raising this @uwevil - marking it as an enhancement to improve the template parsing.

Do you want to raise a PR for this yourself?

[2022-10-25 21:33] bblommers commented on #5597
No worries @jordan-schneider - I just raised #5600 to improve the docs here.

[2022-10-25 21:51] ghandic commented on #5598
I'll try to get one up, we're using pynamodb which relies on some of the Botocore functionality

[2022-10-26 09:22] sergargar opened #5602 "add default policy document to create_vpc_endpoint"
When I don't specify a policy document to create_vpc_endpoint function, moto does not create a default full access policy to the endpoint like AWS does:

[2022-10-26 10:03] #5599 closed

[2022-10-26 10:11] bblommers commented on #5602
Hi @sergargar! I'm not too familiar with this area, so apologies if this is an obvious question:
Does AWS create an actual IAM policy for you, using either the provided `policy_document`-value or the default? That is currently not supported in Moto either - from what I can see, we only persist the `policy-document`-value.

And also, are you able to share the default policy that AWS provides?

[2022-10-26 10:29] sergargar commented on #5602
Hi @bblommers, thank you for your quick response!

I was able to force the creation of the default policy that AWS provides if no PolicyDocument is given:
[code]

AWS only attaches this policy if no policy_document is given by the user in the create_vpc_endpoint function.

[2022-10-26 10:53] n4ch04 opened #5604 "Cloudtrail describe_trails returning wrong info"
Hi,

I'am trying to mock trail creation and describing those trails, and I realise that something is wrong when describing the trails.
When you create a single region trail for example with:

`aws cloudtrail create-trail --name "single-region-trail-test" --s3-bucket-name "test" --no-is-multi-region-trail --region eu-west-1`

and then if you try to describe trails with:

`aws cloudtrail describe-tr

[2022-10-26 11:26] sergargar opened #5605 "create_vpc_endpoint_service_configuration does not include `Owner` key in resource"
When using `create_vpc_endpoint_service_configuration` function, the created service does not have the `owner` key that AWS automatically associates with your account_id.
So, when I use the `describe_vpc_endpoint_services` function, the created service does not show any owner and I expect to be the mocked account id.

This is an example of an expected service:

More info:
https://boto3.amazonaws.c

[2022-10-26 11:45] n4ch04 commented on #5604
Trying to debug  launching the example script for the region `eu-west-3` the execution process it seems that when initialising that when the backends are being initialised here:
https://github.com/spulec/moto/blob/master/moto/cloudtrail/models.py#L320

It creates a single backend for each found trail and the passed region

![Screenshot 2022-10-26 at 13 12 02](https://user-images.githubusercontent.

[2022-10-26 12:20] n4ch04 commented on #5604
Proposed changes here https://github.com/spulec/moto/pull/5607

[2022-10-26 17:06] Balasundaram opened #5608 "Resetting the Moto_server state after completion of pytest cases."
Greetings Team,

I was able to setup moto_server with latest version and had my tests use the moto_server. I have multiple tests using aws services like Dynamodb, secretmanager with sometimes same tablename/secret etc.. So when I run it together, I am getting ResourceInUse etc.. exceptions. I was wondering if there is a way to reset the state of the moto_server post every run/test. Apologies for a

[2022-10-26 19:25] bblommers commented on #5608
Hi @Balasundaram, welcome to Moto! You can make a POST-request to `http://localhost:5000/moto-api/reset` (assuming you're using the default server/port) to remove all the data.

[2022-10-26 20:40] bblommers commented on #5595
Hi @bmaisonn, thanks for raising this - that was indeed an oversight. A PR would be very welcome! Let me know if you need any help with that.

[2022-10-27 10:05] j-beyer opened #5610 "Handling DeleteObjectsRequest broken after JS SDK update"
I'm running some integration tests against a localstack S3 container using AWS SDK v3 for JavaScript.
With the recently published version v3.197.0 of the SDK, i'm getting errors when running a DeleteObjects request.

I compared the requests that are sent by the SDK, and can see the following difference (from the localstack logs):
Before:
[code]
Afterwards:
[code]

Stacktrace of the error:
[code]

[2022-10-27 10:10] j-beyer commented on #5610
Here's the change on SDK side that introduced this trailing slash, I think:
https://github.com/aws/aws-sdk-js-v3/commit/6e4371eade7c2da3e3a930e1a14a52c88af8ad54#diff-9d7ad385ccde527e58f7e5d7fd519e8a270e02e7c4bc54d55b0662eafa2c71ffR1092

[2022-10-27 13:19] bblommers commented on #5610
Sounds like that is indeed the fix, @j-beyer. Would you like to submit a PR with this change?

[2022-10-27 13:35] bellmatt opened #5611 "Cloudwatch tag_resource only works if tags already exist"
The moto cloudwatch `tag_resource` function only works if tags were added to the alarm when it was created. If they do not exist, then a `ResourceNotFoundException` is raised ([here](https://github.com/spulec/moto/blob/03f551870325fdce1c789bc43c286486cdddb13d/moto/cloudwatch/models.py#L668-L669)).

Example code below to demonstrate:
[code]
`test_cw_not_working` fails with this exception:
[code]

m

[2022-10-27 14:42] j-beyer commented on #5610
I don't have a lot of experience with Python and it's frameworks/ecosystem, so I don't feel very confident in making (& especially testing) this change 😅
But I can try to dig into it tomorrow if you want me to

[2022-10-27 19:33] bblommers commented on #5610
No worries @j-beyer - I'll raise a PR shortly to improve the overall logic here a bit.

[2022-10-27 19:45] bblommers commented on #5611
Thanks for raising this and providing the test case @bellmatt!

[2022-10-29 15:02] #5610 closed

[2022-10-29 15:41] #5611 closed

[2022-10-29 16:30] bblommers commented on #5610
Hi @j-beyer, this should now be fixed as of moto >= 4.0.9.dev17, and with the latest Docker image.

Are you able to verify this now works for you?

[2022-10-29 18:34] #5604 closed

[2022-10-30 21:15] #5554 closed

[2022-10-31 11:01] j-beyer commented on #5610
Hi @bblommers, thanks so much for the quick follow-up & fix! Much appreciated :)

We're currently using the localstack docker image in our tests, and I think they're not pulling the latest moto version yet.
I tried running our tests with the moto docker image instead, but couldn't get it to work so far. So I can't really verify, sorry 😕 But I believe your PR should do the trick, so I think you can

[2022-10-31 14:00] christiankjaer opened #5625 "End time for Cloudwatch `get_metric_data` should be exclusive"
Looking at the code for `get_metric_data` is looks like the metrics to be included are including the end point

https://github.com/spulec/moto/blob/master/moto/cloudwatch/models.py#L503

But looking at the docs

https://docs.aws.amazon.com/AmazonCloudWatch/latest/APIReference/API_GetMetricData.html

It seems like the `end_time` should be excluded

[2022-11-01 16:50] #5625 closed

[2022-11-01 23:04] #5493 closed

[2022-11-02 10:20] vivainio opened #5631 "event.delete_rule (EventBridge api) should raise ResourceNotFoundException instead of AttributeError"
Currently, if you try to run client.delete_rule(Name="foo") and the rule doesn't exist, it raises AttributeError instead of ResourceNotFoundException (because it's trying read "arn" from None):

[code]

Looks like the same problem applies to bunch of other methods in moto\events\models.py

[2022-11-02 17:39] bblommers commented on #5631
Thanks for raising this @vivainio! Marking it as a bug.

[2022-11-03 13:07] #5379 closed

[2022-11-03 16:47] marshall7m opened #5636 "Invoke Lambda Function that uses Docker image is not supported"
Moto Docker Image: motoserver/moto:4.0.9
Standalone Server: True

If a Lambda Function created within moto uses a docker image as specified within the `ImageUri` attribute, moto will break given the Lambda backend does not store a value for the function's `code_digest` attribute within this [condition](https://github.com/spulec/moto/blob/79aaf2bc030687f80d2ac977da1d5e4545eee2a0/moto/awslambda/mode

[2022-11-03 16:58] marshall7m opened #5637 "Support for Lambda Function URL emulation"
I'm pretty sure this falls outside the scope of moto, but I thought it's worth a try. It would be great if moto could support Lambda Function URLs to be emulated within a docker container. The user can make the API call for creating the function URL to moto and moto can spin up a separate docker container that will act as the Function URL. The function URL container can then transform requests int

[2022-11-03 17:54] ikonst opened #5638 "DynamoDB backend erroneously accepts JSON numbers for strings"
Similar to #5022:

This sample code
[code]
results in crash
[code]

[2022-11-03 19:56] bblommers commented on #5636
Thanks for raising this @marshall7m - marking it as a bug.

[2022-11-03 19:57] bblommers commented on #5638
Thanks for raising this and providing the test case @ikonst!

[2022-11-03 21:01] bblommers commented on #5637
That is indeed out of scope, @marshall7m. Moto is mostly focused on mocking/emulating features that boto3 exposes - Function URL's aren't part of that.

[2022-11-04 01:27] mwgamble opened #5639 "Please pin cfn-lint to newer release"
In order to install a project where cfn-lint is a dependency, poetry downloads every single possible version of cfn-lint allowed by all the version ranges specified by dependencies in your project. Moto currently has a version restriction of `>0.4.0`. For a project like cfn-lint that issues new releases regularly (and at this stage probably has over 100 releases satisfied by that constraint), this

[2022-11-04 12:05] bblommers commented on #5639
Hi @mwgamble, as a library, Moto should be as compatible as possible. If people need an older version of cfn-lint, for whatever reason, Moto should not be a blocker by requiring an newer version unless absolutely necessary. So I don't want to pin a dependency, just as a crutch to help out a (what looks to be suboptimal) dependency resolver.

[2022-11-04 12:12] bblommers commented on #5639
I'm not too familiar with Poetry - will it's resolver always work it's way up, starting with the oldest version possible? I know Pip just starts with the latest version, and if that release does not satisfy some constraints, it will try the version before that, ad infinitum, which seems like a smarter solution.

Version 0.4.0 of `cfn-lint` does not have any classifiers indicating a Python version

[2022-11-04 17:01] marshall7m commented on #5637
I see, thanks for the quick answer @bblommers

[2022-11-04 17:01] #5637 closed

[2022-11-04 21:21] tungol opened #5640 "Lambda returns a different format for last_modified field than aws would"
Here's moto:
[code]

Here's a real response from AWS:
[code]

They're both valid ISO format, so maybe it's fine, but I figured I'd mention.

[2022-11-04 22:09] tungol opened #5641 "Moto doesn't check for no-op updates to Lambda functions"
from https://docs.aws.amazon.com/lambda/latest/dg/configuration-versions.html :

<blockquote>Lambda doesn't create a new version if the code in the unpublished version is the same as the previous published version. You need to deploy code changes in $LATEST before you can create a new version.</blockquote>

Moto doesn't appear to perform this check, and will increment the version number regardless

[2022-11-05 10:59] bblommers commented on #5640
Thanks for raising this @tungol. As long as the downstream SDK's can handle our format, it's indeed not a big issue, but we might as well ensure it's in-line with what AWS returns.

[2022-11-06 04:59] bpandola opened #5642 "Intermittent CI Failures"
Looks like this started happening after the Server Mode tests for `awslambda` began running in parallel (#4368).

<details><summary>Detailed Log Output</summary>

=================================== FAILURES ===================================
___________________ test_invoke_function_from_sqs_exception ____________________
[gw1] linux -- Python 3.8.14 /opt/hostedtoolcache/Python/3.8.14/x64/bin/pyt

[2022-11-07 20:03] #5642 closed

[2022-11-07 20:24] #5595 closed

[2022-11-09 00:25] mwgamble commented on #5639
That seems like a reasonable assessment.

FWIW cfn-lint 0.4.0 is over four years old. Is it reasonable to maintain compatibility with versions that old when there are new releases on such a regular cadence? Surely most users won't be using a version that old as that.

[2022-11-09 03:39] mdavis-xyz opened #5649 "[Feature request] SageMaker list and notebook instances"
Currently Moto can create a fake SageMaker notebook instance, and delete it, and describe it's lifecycle config, and list tags for it.

I want to add functionality to list notebook instances, including the `list_notebook_instances` paginator.

This is something I'll attempt myself. But I'm just raising a ticket so other people get visibility.

[2022-11-09 03:48] mdavis-xyz commented on #5649
I just ran `python scripts/scaffold.py` and typed in `sagemaker` and `list_notebook_instances`.

I can't see anything added for the paginator. Is there any scaffold script to add that for me?

When I run `git status` to see what the `scaffold.py` script did, I see:

[code]

Why did it create
`tests/test_sagemaker/test_sagemaker.py`? Shouldn't I add these tests to test_sagemaker_notebooks.py?

What

[2022-11-09 14:30] mherrmann commented on #2634
As a note for other readers: I got error

    botocore.exceptions.ProfileNotFound: The config profile () could not be found

when I had an empty `AWS_PROFILE` environment variable set with moto 2.3.2, boto 2.49.0, boto3 1.26.5, botocore 1.29.5. (I know these are old versions.)

[2022-11-09 18:47] bblommers commented on #5639
You'd think! But in my experience, any project/business of a certain age will have weird rules/constraints in place that forces developers to pin dependencies.

I'll pin `cfn-lint` to 0.40.0 instead. That's does have Python classifiers, is 'only' 2 years old, and still gives people a large range of versions to use.

[2022-11-09 18:58] bblommers commented on #5649
Hi @mdavis-xyz, thanks for raising this!

There is no automated way to add the paginator (yet).

The script will always create `test_{service}.py` if it doesn't exist.
And yes, it would make more sense to use `test_sagemaker_notebooks.py`. The script just isn't smart enough to figure that out.

Having a `test_server.py`-file can be useful if you want to send raw HTTP-requests, and verify that Moto

[2022-11-09 19:23] #5542 closed

[2022-11-09 20:27] #5639 closed

[2022-11-10 10:21] mglowinski93 commented on #5279
@bblommers Could you please review https://github.com/spulec/moto/pull/5652? I couldn't assign you as a `review-er` in PR.

[2022-11-10 17:08] #5279 closed

[2022-11-10 22:49] jusdino opened #5655 "Impossible jsonschema dependency"
When trying to install recent versions of `moto` in a fresh python environment, it ends up failing, due to apparently impossible dependency requirements on the `jsonschema` library. This should illustrate:
[code]

If I try to do a `pip install moto[all]==4.0.9`, pip will run for a very long time, downloading many library versions before eventually failing to resolve dependency versions.

[2022-11-10 22:52] #5638 closed

[2022-11-10 22:58] bblommers commented on #5655
Hi @isuftin, Moto does not have jsonschema as a direct dependency, so there's not much we can do here.

The SAM translator project has an open issue to loosen their `jsondiff` dependency, which should fix it: https://github.com/aws/serverless-application-model/pull/2441

See also #5485

[2022-11-13 11:41] bblommers commented on #5631
Hi @vivainio, I've just tried this against AWS - deleting an unknown rule returns an empty response, it does not raise a ResourceNotFoundException. I'll raise a PR shortly to mimick this behaviour.

What other methods did you see with the same problem?

[2022-11-13 16:15] vivainio commented on #5631
@bblommers I didn't test a lot of them, but skimming through that models.py file should give you a good list

[2022-11-13 18:46] bblommers commented on #5631
I did @vivainio, but I didnt' see any other methods with this problem - they all seem to throw a ResourceNotFoundException, as expected. Hence the question :slightly_smiling_face:

[2022-11-14 09:36] OakmanByte opened #5666 "transact_write_items limit"
Hello, currently you have a set limit for number of transaction items at 25(by the old AWS standard): https://github.com/spulec/moto/blob/52892f5481cdb4bc04d6eb4908bbee773d4333a8/moto/dynamodb/models/__init__.py#L1651
However with the new support of 100 transaction items from AWS:
https://aws.amazon.com/about-aws/whats-new/2022/09/amazon-dynamodb-supports-100-actions-per-transaction/
Are there any

[2022-11-14 15:37] Lilja opened #5667 "Alter a secret's CreatedDate"
I want to change a `FakeSecret`'s `created_date`. The reason is to validate that a lambda will update a secret based on the `CreatedDate` from `boto3#secretsmanager#get_secret_value`. So far I've implemented:

[code]

But no luck as my `client.get_secret_value()` seems to be unaffected. Any tips on how to proceed?

[2022-11-14 16:03] Lilja commented on #5667
Went into `.secrets[key].versions` and changed `createdate`:
[code]

Do wish there was a better way...

[2022-11-14 16:03] #5667 closed

[2022-11-14 19:11] bblommers commented on #5666
Hi @OakmanByte, thanks for raising this and linking the announcement! We'll update accordingly. :+1:

[2022-11-14 22:37] mwgamble commented on #5639
Thank you so much :heart:

[2022-11-14 22:37] jusdino commented on #5655
Oh, I missed that older moto issue because it was closed.

I see a couple of PRs in motion in SAM translator that should help and it looks like `moto` now expects `cfn-lint>=0.40.0`, which has been updated to require `aws-sam-translator>=1.54.0`. So we just wait for the sam translator updates then. Awesome!

[2022-11-14 23:35] #5655 closed

[2022-11-15 09:47] pranav7414 commented on #2121
Why is 'ProvisionedThroughput' written twice ? and why not just write one outside the  GlobalSecondaryIndexes array ?

[2022-11-16 20:10] dblanchette opened #5677 "EC2 client describe_images returning default AMIs even with MOTO_AMIS_PATH set"
## Context

We are setting `MOTO_AMIS_PATH` in a pytest plugin. Our test uses `describe_images` on an EC2 client.

## Expected

We expect the images set in the file at the path set in the environment variables `MOTO_AMIS_PATH` to be the only ones returned.

## Actual behavior

The images from `MOTO_AMIS_PATH` are there, but there are also other images that are hard-coded in the library.

## Affect

[2022-11-16 21:50] gene1wood commented on #1793
The link from @bblommers in [the comment above](https://github.com/spulec/moto/issues/1793#issuecomment-689433744) is now contained in the documentation here : https://docs.getmoto.org/en/latest/docs/getting_started.html#recommended-usage

[2022-11-17 17:36] #5631 closed

[2022-11-17 19:59] jbvsmo opened #5680 "S3 access via spark shows "Path does not exist" after update"
I've been using Spark to read data from S3 for a while and it always worked with the following (pyspark) configuration:

[code]

The `moto-bucket-79be3fc05b` bucket contents:
`raw-data/prefix/foo=bar/partition=baz/service=subscriptions/subscriptions.json`

Before I upgraded to latest moto, Spark was able to find all files inside the "directory", but now it fails with:

```pyspark.sql.utils.Analysi

[2022-11-17 20:51] jbvsmo commented on #5680
My tests without changing code, just moto versions:
- moto 2.2.9 -> works fine
- moto 2.3.2 -> works fine
- moto 3.0.7 -> works fine
- moto 3.1.0 -> works fine
- moto 3.1.18 -> Fail: Path does not exist
- moto 4.0.9 -> Fail: Path does not exist

I will try checking all versions from 3.1.1 to 3.1.18. Being a minor version that starts failing, this must be a regression instead of a intentionally bre

[2022-11-17 21:07] jbvsmo commented on #5680
v3.1.7 - Pass
v3.1.8 - Fail

https://github.com/spulec/moto/compare/3.1.7...3.1.8

Maybe this is the issue? It is the only change I see relevant with s3 context:

https://github.com/spulec/moto/compare/3.1.7...3.1.8#diff-a14f7ca014b23638947c5f417dacb9a4d59eef3aee9a8041e2c855e8587643cdR335

It comes from here: https://github.com/spulec/moto/pull/5097/files

Is it possible that by fixing something r

[2022-11-17 21:44] bblommers commented on #5677
Thanks for raising this @dblanchette. The documentation is not explicit in whether `MOTO_AMIS_PATH` should come instead of, or in addition to, the existing AMI's. But considering the previous behaviour was 'instead of', then this is indeed a regression.

[2022-11-17 21:48] #5608 closed

[2022-11-18 13:39] jbvsmo commented on #5680
I looked more in depth into this and opened the moto server to check the requests. I see that my strings have a space inside a timestamp. Where above I wrote `foo=bar/partition=baz` would be a series of 5 partitions key=value where one them is something like `timestamp=2020-01-01 01:01:01` that gets encoded to `2Ftimestamp%3D2020-01-01+01%3A01%3A01`. Similar to what python `urllib.parse.quote_plus

[2022-11-18 22:02] bblommers commented on #5680
Thanks for raising this and investigating @jbvsmo - much appreciated.

The linked PR does fix a legitimate bug, so simply reverting it would break other things. But I'm sure there's a solution that would allow all scenarios, in all versions of werkzeug (what the original PR was trying to fix).

[2022-11-19 18:01] jbvsmo commented on #5680
@bblommers Thank you for the reply

The `+` sign in a query string means a space, never a plus sign. So if werkzeug is not encoding it, then it must be a bug on their side. Can't moto just require `wekzeug>=2.1.0` and not try to fix the issue, as it breaks any strings with spaces encoded as the `+` sign

[2022-11-21 11:18] danielfoguelman commented on #5542
Hi! I just wanted to confirm that upgrading to moto==4.0.9 fixed the issue.
Thanks @bblommers !

[2022-11-21 13:04] bblommers commented on #5542
Happy to hear that - thanks for confirming @danielfoguelman!

[2022-11-21 18:27] rafcio19 commented on #5677
@bblommers lemme take a look, assign it to me

[2022-11-21 18:28] rafcio19 commented on #5666
@bblommers lemme take a look, assign it to me

[2022-11-21 23:20] #5579 closed

[2022-11-21 23:20] bblommers commented on #5579
Done! Thanks for raising this @wonhyeongseo

[2022-11-22 14:34] neil-greenwood opened #5698 "CloudFront: list_invalidations includes empty element if no invalidations"
## How to reproduce the issue

[code]

### what you expected to happen

Test passes

### what actually happens

The final assertion fails.

## what version of Moto you're using

moto 4.0.7
boto3 1.24.90
botocore 1.27.90

[2022-11-22 17:23] #5698 closed

[2022-11-22 17:25] #5666 closed

[2022-11-22 19:24] Bharat23 opened #5700 "Module ELB: object has no attribute 'instance_ids'"
I am using the `elb` client and need to describe the instance health associated with it. The code uses `describe_instance_health`.

I am testing the use case where the ELB provided is invalid or does not exist. To do that I create a loadbalancer as a pre-requisite and then pass an invalid LB name.

The happy path i.e. the case where I am passing the correct LB name is passing, so my mock creation

[2022-11-22 21:14] bblommers commented on #5700
Thanks for raising this @Bharat23! Marking it as an enhancement to mock the failure case correctly.

[2022-11-22 23:41] #5680 closed

[2022-11-23 10:58] #5640 closed

[2022-11-23 11:00] bblommers commented on #5680
@jbvsmo This should now be resolved with moto >= 4.0.11.dev11, and part of the `LATEST` Docker image. It should work for all werkzeug versions - please let  us know if you're still running into any issues though.

[2022-11-23 11:03] bmaisonn opened #5704 "Moto isn't checking validity of the Batch job names"
This is more an enhancement request.

As of now moto accepts to submit batch jobs with characters that aren't accepted by the real infra like '.'

![image](https://user-images.githubusercontent.com/7989822/203530752-31a73448-09f2-4ed0-b499-7e95015a8ab9.png)

![image](https://user-images.githubusercontent.com/7989822/203530924-a1e097a3-cd94-425d-94c5-ab7fe1ee48ce.png)

Would it possible to perform

[2022-11-23 13:22] bblommers commented on #5704
Adding it to the list!

Do you want to submit a PR for this yourself @bmaisonn?

[2022-11-23 14:09] bmaisonn commented on #5704
hey @bblommers, yeah i'll raise a pr for it

[2022-11-23 15:45] bblommers commented on #5700
As far as I can tell, AWS throws a LoadBalancerNotFoundException, so I'll implement that instead:

[code]

[2022-11-23 18:34] aczire commented on #2968
Any traction on this one?

May be a fourth option be,
Configurable connector - let the user supply the exact connector to the db
Pros: complete flexibility
Cons: Unusual (un-moto-like) mechanism, needs user training, makes mocking much more of a pain

[2022-11-23 19:10] #5700 closed

[2022-11-23 19:57] prosaicpudding commented on #5269
I am still seeing this when I use @mock_apigateway in 3.1.18

[code]

[code]

[2022-11-23 21:55] bblommers commented on #5269
Are you specifying the correct services when installing Moto, @prosaicpudding?

I.e.: `pip install moto[apigateway]`

See http://docs.getmoto.org/en/latest/docs/getting_started.html

[2022-11-24 12:52] jbvsmo commented on #5680
I installed from github master and it seems to have fixed the issue for me. I couldn't run my full test suite that takes hours, but the couple tests I did were fine. Thank you.

Do you have a release date?

[2022-11-24 15:20] ciurlaro42 commented on #2413
@bblommers, in case you might be interested the problem seems to persist:

# module 1
[code]

# module 2
[code]

# requirements
[code]

[2022-11-24 21:50] bblommers commented on #5680
Happy to hear that @jbvsmo! There is no fixed date yet, but I'm expecting we'll cut a release in the first week of December.

[2022-11-25 16:35] philipnbbc opened #5710 "SQS receive_messages fails to get newly visible messages"
Calls to the SQS queue `receive_messages` method, with a non-zero WaitTimeSeconds, fails when there is a message that becomes visible after the call was made. The following test code fails for moto >= 4.0.10.dev9:

[code]

I think the issue was introduced in this [commit](https://github.com/spulec/moto/commit/d560ff002d6a188ceba295a012ef47415896c753). The code used to loop every ~0.01 seconds, and

[2022-11-26 06:45] bpandola commented on #5710
@philipnbbc Good catch.  I'll get a fix out for this shortly.

[2022-11-26 11:07] bblommers commented on #5598
Looks like this was a [PynamoDB](https://github.com/pynamodb/PynamoDB/issues/1081) issue, so I'll close this.

[2022-11-26 11:07] #5598 closed

[2022-11-27 21:47] #5372 closed

[2022-11-28 13:22] #5558 closed

[2022-11-28 13:42] Lilja opened #5713 "[dynamodb] No validation on attributes"
We ran into this issue in production. Moto fails to validate that an attribute must be of a proper type when using `put_object`:

[code]

Running this is fine. But if I click and manually add these resources in AWS console and run a script:

[code]

[code]
[code]

[2022-11-28 13:44] schlichtanders opened #5714 "pip-compile not working with moto[server]"
## Reporting Bugs

The moto[server] dependencies are currently such that it is impossible to use pip-compile if moto[server] is part of the requirements.in.

This is crucial for our use of moto. We like moto and would like to continue using it.
Is this fixable?
[code]

This is also the same for version moto[server]=3.1.18

[2022-11-28 14:31] bblommers commented on #5714
Hey @schlichtanders, this is an issue with `aws-sam-translator` and the version of `jsonschema` that they have pinned. From what I can see, this should be fixed in the next release of `aws-sam-translator` though - see https://github.com/aws/serverless-application-model/issues/2426.

(Duplicate of #5655)

[2022-11-28 14:33] bblommers commented on #5713
Thanks for raising this and providing the test case @Lilja - marking it as an enhancement to add validation here.

Would you like to submit a PR for this yourself?

[2022-11-28 14:42] bblommers commented on #5558
Hi @blimmer, an initial implementation of ACMPCA is now available in moto >= 4.0.11.dev20.
The `describe_certificate_authority`-method will return the `NotBefore`/`NotAfter`-attributes based on the values within the provided certificate.

Please let us know if you run into any issues with this.

[2022-11-28 15:24] schlichtanders commented on #5714
thank you for spotting the early duplicate (I found one which was years old :D)

closing this issue then

[2022-11-28 15:24] #5714 closed

[2022-11-28 22:48] k6l3 opened #5717 "Route53 `change_resource_record_sets` delete calls succeed when it should fail"
## Description
Deleting a resource record set should require that we specify all the same values that we specified when we created it according to these [docs](https://docs.aws.amazon.com/Route53/latest/APIReference/API_ChangeResourceRecordSets.html#API_ChangeResourceRecordSets_RequestSyntax).

If a record was created with `Name`, `Type`, `TTL`, and `ResourceRecords`, deleting should fail unless a

[2022-11-28 23:57] bblommers commented on #5717
Hi @k6l3, welcome to Moto! Thanks for raising this and for providing a reproducible test case.

Would you like to submit a PR for this yourself?

[2022-11-29 07:14] thehesiod opened #5719 "S3 put-object Checksum algs not supported yet"
to repro you can make a call like:
[code]
moto is not returning the ChecksumSHA256 in the response, basically seems like not implemented yet

[2022-11-29 09:44] #5704 closed

[2022-11-29 14:26] aaronclong opened #5721 "Feature Request: Simple Backend for Lambda"
I am wonder if the maintainers would be open to creating a simple backend for Lambda? Often, I need to mock invoking Lambda, but I don't need an instance running. It is simple glue code that I don't need test end to end. I just want to assure that I am calling boto3 correctly. Likewise, Docker sometimes is blocked, limited, or general unusable in certain CI environments.

The batch has a `simple_b

[2022-11-29 18:39] k6l3 commented on #5717
Bandwidth to fix is low; I'll raise a PR if I get the time but it may take a while.

[2022-11-29 19:38] #5081 closed

[2022-11-30 17:41] #5677 closed

[2022-11-30 23:35] #5059 closed